In [8]:
import pandas as pd
import io
import requests
import glob
import asyncio
from playwright.async_api import async_playwright
import nest_asyncio
# Allow nested event loops in Jupyter Notebook
nest_asyncio.apply()
from bs4 import BeautifulSoup
import re
import calendar
import locale
import yfinance
# Set the locale to German
import pygsheets
import datawrapper

from anthropic import Anthropic

import locale

# Set the locale to English (United States)
locale.setlocale(locale.LC_TIME, 'en_US.UTF-8')

'en_US.UTF-8'

In [9]:

def load_excel_from_url(url):
    """Loads an Excel file from a URL into a pandas DataFrame.

    Args:
        url: The URL of the Excel file.

    Returns:
        A pandas DataFrame containing the data from the Excel file, or None if
        an error occurs.
    """
    try:
        headers = {
               "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"
           }
        response = requests.get(url, headers=headers, stream=True) # Make the request with headers
        response.raise_for_status()  # Raise an exception for bad status codes (like 403)

        # Read the content into a BytesIO object for pandas
        excel_data = io.BytesIO(response.content)

        return excel_data
    except Exception as e:
        print(f"Error loading Excel file: {e}")
        return None

In [37]:
us_trade="https://www.census.gov/foreign-trade/statistics/country/index.html#:~:text=Download%20Full%20Dataset%20(XLSX%20%2D%200.1%20MB)"

us_stats=load_excel_from_url(us_trade)
us_stats

In [38]:
url="https://www.census.gov/foreign-trade/statistics/country/ctyseasonal.xlsx"

In [49]:

# Download the file using requests
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Create a BytesIO object from the response content
    excel_file = io.BytesIO(response.content)
    
    # Read the Excel file into a pandas DataFrame
    df = pd.read_excel(excel_file, engine='openpyxl')  # Specify engine if needed
    print(df)
else:
    print(f"Failed to download file. Status code: {response.status_code}")

     year  cty_code               cty_desc          BJAN          BFEB  \
0    2009        20    All other countries -7.688157e+09 -6.061251e+09
1    2009      3510                 Brazil  5.109941e+08  4.469206e+08
2    2009        17               CAFTA-DR  3.034300e+08  2.818892e+08
3    2009      1220                 Canada -1.790673e+09 -1.893448e+09
4    2009      5700                  China -2.036187e+10 -1.900556e+10
..    ...       ...                    ...           ...           ...
371  2025         9  South/Central America  4.319924e+09  4.621780e+09
372  2025      4419            Switzerland -2.299469e+10 -2.001357e+10
373  2025      5830                 Taiwan -7.480248e+09 -8.955526e+09
374  2025      4120         United Kingdom -6.731581e+08  3.245911e+09
375  2025      5520                Vietnam -1.229118e+10 -1.249563e+10

             BMAR          BAPR          BMAY          BJUN          BJUL  \
0   -6.221323e+09 -7.484819e+09 -5.537787e+09 -6.201629e+09 -8.128920e+09
1    3.447423e+08  5.177740e+08  4.190184e+08  4.636909e+08  4.404457e+08
2    2.177867e+08  6.088876e+07  1.325944e+08  1.921538e+08 -4.636460e+07
3   -1.384375e+09 -1.091626e+09 -8.162940e+08 -1.853868e+09 -2.322835e+09
4   -2.037261e+10 -1.842612e+10 -1.840727e+10 -1.757020e+10 -1.826092e+10
..            ...           ...           ...           ...           ...
371  2.991398e+09  3.294295e+09  3.347217e+09           NaN           NaN
372 -1.540641e+10  3.538335e+09  3.288457e+09           NaN           NaN
373 -8.915797e+09 -9.665720e+09 -1.149461e+10           NaN           NaN
374  1.443552e+09  4.347961e+09  3.015399e+09           NaN           NaN
375 -1.402051e+10 -1.450768e+10 -1.493549e+10           NaN           NaN

     ...          IJUL          IAUG          ISEP          IOCT  \
0    ...  4.015297e+10  3.968960e+10  4.240630e+10  4.296826e+10
1    ...  1.682204e+09  1.613042e+09  1.690305e+09  1.610670e+09
2    ...  1.673409e+09  1.675474e+09  1.685764e+09  1.791865e+09
3    ...  1.983234e+10  1.945058e+10  1.978832e+10  2.060733e+10
4    ...  2.372623e+10  2.377449e+10  2.462898e+10  2.558478e+10
..   ...           ...           ...           ...           ...
371  ...           NaN           NaN           NaN           NaN
372  ...           NaN           NaN           NaN           NaN
373  ...           NaN           NaN           NaN           NaN
374  ...           NaN           NaN           NaN           NaN
375  ...           NaN           NaN           NaN           NaN

             INOV          IDEC           IQ1           IQ2           IQ3  \
0    4.423691e+10  4.572743e+10  1.147623e+11  1.124524e+11  1.222489e+11
1    1.983716e+09  1.778059e+09  5.073248e+09  4.638363e+09  4.985551e+09
2    1.882657e+09  1.826492e+09  4.032656e+09  4.273833e+09  5.034646e+09
3    2.105888e+10  2.177427e+10  5.323966e+10  5.049706e+10  5.907124e+10
4    2.595788e+10  2.721828e+10  7.435777e+10  7.112548e+10  7.212970e+10
..            ...           ...           ...           ...           ...
371           NaN           NaN  4.247818e+10           NaN           NaN
372           NaN           NaN  6.631752e+10           NaN           NaN
373           NaN           NaN  3.743849e+10           NaN           NaN
374           NaN           NaN  1.957593e+10           NaN           NaN
375           NaN           NaN  4.193975e+10           NaN           NaN

              IQ4
0    1.329326e+11
1    5.372444e+09
2    5.501014e+09
3    6.344048e+10
4    7.876093e+10
..            ...
371           NaN
372           NaN
373           NaN
374           NaN
375           NaN

[376 rows x 51 columns]

In [50]:
df.columns

Index(['year', 'cty_code', 'cty_desc', 'BJAN', 'BFEB', 'BMAR', 'BAPR', 'BMAY',
       'BJUN', 'BJUL', 'BAUG', 'BSEP', 'BOCT', 'BNOV', 'BDEC', 'BQ1', 'BQ2',
       'BQ3', 'BQ4', 'EJAN', 'EFEB', 'EMAR', 'EAPR', 'EMAY', 'EJUN', 'EJUL',
       'EAUG', 'ESEP', 'EOCT', 'ENOV', 'EDEC', 'EQ1', 'EQ2', 'EQ3', 'EQ4',
       'IJAN', 'IFEB', 'IMAR', 'IAPR', 'IMAY', 'IJUN', 'IJUL', 'IAUG', 'ISEP',
       'IOCT', 'INOV', 'IDEC', 'IQ1', 'IQ2', 'IQ3', 'IQ4'],
      dtype='object')

In [51]:
df.cty_desc.unique()

array(['All other countries', 'Brazil', 'CAFTA-DR', 'Canada', 'China',
       'European Union', 'France', 'Germany', 'India', 'Italy', 'Japan',
       'Korea, South', 'Mexico', 'Newly Industrialized Countries', 'OPEC',
       'Saudi Arabia', 'South/Central America', 'United Kingdom',
       'Hong Kong', 'Singapore', 'Taiwan', 'Australia', 'Belgium',
       'Ireland', 'Israel', 'Malaysia', 'Netherlands', 'Switzerland',
       'Vietnam'], dtype=object)

In [52]:
base_col=["year","cty_code","cty_desc"]
export_cols=[]
import_cols=[]
for col in df.columns:
    if col[0]=="E":
        export_cols.append(col)
    elif col[0]=="I":
        import_cols.append(col)

base_export_cols=base_col+export_cols
base_import_cols=base_col+import_cols
base_import_cols
export_df=df[base_export_cols]
export_df

,year,cty_code,cty_desc,EJAN,EFEB,EMAR,EAPR,EMAY,EJUN,EJUL,EAUG,ESEP,EOCT,ENOV,EDEC,EQ1,EQ2,EQ3,EQ4
0,2009,20,All other countries,3.092714e+10,3.222777e+10,3.163669e+10,2.979531e+10,3.143728e+10,3.199560e+10,3.202405e+10,3.228728e+10,3.320518e+10,3.501005e+10,3.566379e+10,3.594004e+10,9.479160e+10,9.322820e+10,9.751652e+10,1.066139e+11
1,2009,3510,Brazil,2.310141e+09,2.109861e+09,1.955903e+09,1.938554e+09,2.024336e+09,2.075956e+09,2.122650e+09,2.094565e+09,2.247110e+09,2.364203e+09,2.303859e+09,2.548317e+09,6.375905e+09,6.038846e+09,6.464325e+09,7.216379e+09
2,2009,17,CAFTA-DR,1.594814e+09,1.655722e+09,1.585226e+09,1.413914e+09,1.544395e+09,1.701161e+09,1.627044e+09,1.669154e+09,1.683253e+09,1.745002e+09,1.868941e+09,1.855674e+09,4.835761e+09,4.659470e+09,4.979451e+09,5.469618e+09
3,2009,1220,Canada,1.607276e+10,1.658391e+10,1.551450e+10,1.558492e+10,1.555190e+10,1.559846e+10,1.750951e+10,1.793495e+10,1.800158e+10,1.796037e+10,1.903583e+10,1.930928e+10,4.817117e+10,4.673528e+10,5.344604e+10,5.630547e+10
4,2009,5700,China,4.529859e+09,4.900156e+09,5.187716e+09,5.489906e+09,5.423565e+09,5.808423e+09,5.465313e+09,5.697671e+09,6.215815e+09,6.313081e+09,6.972480e+09,7.492694e+09,1.461773e+10,1.672189e+10,1.737880e+10,2.077826e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2025,9,South/Central America,1.799277e+10,1.847082e+10,1.794769e+10,1.789054e+10,1.811507e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.441128e+10,NaN,NaN,NaN
372,2025,4419,Switzerland,1.854150e+09,2.509547e+09,3.539151e+09,9.118536e+09,6.480149e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.902847e+09,NaN,NaN,NaN
373,2025,5830,Taiwan,3.698952e+09,4.101151e+09,4.286813e+09,4.974215e+09,4.645937e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.208692e+10,NaN,NaN,NaN
374,2025,4120,United Kingdom,5.982091e+09,9.365912e+09,8.244228e+09,8.996384e+09,7.816502e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.359223e+10,NaN,NaN,NaN
375,2025,5520,Vietnam,1.009646e+09,1.039680e+09,1.083108e+09,1.265794e+09,1.214641e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.132434e+09,NaN,NaN,NaN

In [53]:
import_df=df[base_import_cols]

In [54]:
def df_for_country(cols,country):    
    df_country=df[df["cty_desc"]==country]
    filtered_entries = [entry for entry in cols if 'Q' not in entry ]
    df_long_country=pd.melt(df_country, id_vars=['year'], value_vars=filtered_entries)
    df_long_country["month"]=df_long_country.variable.str[1:]
    df_long_country["date"]=df_long_country["month"]+"-"+df_long_country["year"].astype(str)
    df_long_country["date"] = pd.to_datetime(df_long_country["date"], format="%b-%Y")
    df_long_country.sort_values(by="date", ascending=True, inplace=True)
    df_long_red=df_long_country[["date","value"]]
    

    return(df_long_red)

In [55]:
def comp_calc(country):
    locale.setlocale(locale.LC_TIME, 'en_US.UTF-8')  # For Linux/Mac

    df_sorted_import=df_for_country(import_cols,country)
    df_sorted_export=df_for_country(export_cols,country)
    df_sorted_import_export=pd.merge(df_sorted_export,df_sorted_import, on="date", how="outer",suffixes=("_export", "_import"))
    df_sorted_import_export["diff"]=df_sorted_import_export["value_export"]-df_sorted_import_export["value_import"]
    last_years=df_sorted_import_export[df_sorted_import_export["date"]>"2021-01-01"]
    last_years=last_years.dropna().reset_index(drop=True)
    last_years
    comparison_df=last_years[(last_years["date"]>"01-01-2021")&(last_years["date"]<"01-01-2025")]
    under_trump=last_years[(last_years["date"]>="01-01-2025")]
    array=[]
    for index, row in under_trump.iloc[-6:].iterrows():
        print(f"Date: {row['date']}, Export: {row['value_export']}, Import: {row['value_import']}, Import: {row['diff']}")
        filtered_df = comparison_df[(comparison_df['date'].dt.month == row['date'].month) & (comparison_df['date'].dt.day == row['date'].day)]
        locale.setlocale(locale.LC_TIME, 'de_DE.UTF-8')

        month_name = calendar.month_name[row['date'].month]

        inner_array=[month_name]
        for col in filtered_df.columns[1:]:

            value_mean=filtered_df[col].mean()
            relative_perc=row[col]/value_mean
            diff_perc_=(relative_perc-1)*100
            inner_array.append(diff_perc_)

  

        array.append(inner_array)
    comp_df=pd.DataFrame(array,columns=["date","relative_export","relative_import","relative_diff"])
    comp_df=comp_df.T
    comp_df.columns=comp_df.iloc[0]
    comp_df=comp_df.iloc[1:-1]
    return last_years, comp_df

In [56]:
df_results={}
for country in df.cty_desc.unique():
    print(country)
    comp_objects=comp_calc(country)
    df_results[country]=comp_objects[1]
df

All other countries
Date: 2025-01-01 00:00:00, Export: 35035456018.64986, Import: 44879865351.89285, Import: -9844409333.242996
Date: 2025-02-01 00:00:00, Export: 33573727186.71178, Import: 47534159304.165855, Import: -13960432117.454075
Date: 2025-03-01 00:00:00, Export: 34203178188.371456, Import: 50206383894.7326, Import: -16003205706.361141
Date: 2025-04-01 00:00:00, Export: 34348754124.168625, Import: 45306873476.503845, Import: -10958119352.33522
Date: 2025-05-01 00:00:00, Export: 33841546566.304478, Import: 44319861346.34381, Import: -10478314780.039333
Brazil
Date: 2025-01-01 00:00:00, Export: 4252009374.0380945, Import: 3599455795.412203, Import: 652553578.6258917
Date: 2025-02-01 00:00:00, Export: 4518647354.618509, Import: 4114285534.6831856, Import: 404361819.9353237
Date: 2025-03-01 00:00:00, Export: 4604176196.164625, Import: 4165765352.0453496, Import: 438410844.11927557
Date: 2025-04-01 00:00:00, Export: 4475907636.662008, Import: 3451813444.4628577, Import: 1024094192.1991506
Date: 2025-05-01 00:00:00, Export: 4812639923.064646, Import: 4274495724.2425175, Import: 538144198.8221283
CAFTA-DR
Date: 2025-01-01 00:00:00, Export: 3874758750.3582935, Import: 3016666525.8096833, Import: 858092224.5486102
Date: 2025-02-01 00:00:00, Export: 3882352554.658034, Import: 3123911724.681961, Import: 758440829.9760728
Date: 2025-03-01 00:00:00, Export: 4015984063.953201, Import: 3574705019.473072, Import: 441279044.48012877
Date: 2025-04-01 00:00:00, Export: 3857222269.4859548, Import: 3423478052.2446613, Import: 433744217.24129343
Date: 2025-05-01 00:00:00, Export: 3839385597.0515475, Import: 3232658018.655794, Import: 606727578.3957534
Canada
Date: 2025-01-01 00:00:00, Export: 29975991686.818127, Import: 39678510806.6385, Import: -9702519119.82037
Date: 2025-02-01 00:00:00, Export: 30821663985.00139, Import: 37951373463.380196, Import: -7129709478.378807
Date: 2025-03-01 00:00:00, Export: 30082906882.48971, Import: 34974818865.50269, Import: -4891911983.012981
Date: 2025-04-01 00:00:00, Export: 26913445956.23979, Import: 28950602379.17509, Import: -2037156422.935299
Date: 2025-05-01 00:00:00, Export: 26254251721.375717, Import: 29097996668.252903, Import: -2843744946.877186
China
Date: 2025-01-01 00:00:00, Export: 10322737191.075369, Import: 39612548030.57643, Import: -29289810839.50106
Date: 2025-02-01 00:00:00, Export: 11171460501.769773, Import: 38013384021.57476, Import: -26841923519.804985
Date: 2025-03-01 00:00:00, Export: 10755982226.848888, Import: 34932154062.998, Import: -24176171836.149113
Date: 2025-04-01 00:00:00, Export: 8632270989.95277, Import: 28327550943.81032, Import: -19695279953.85755
Date: 2025-05-01 00:00:00, Export: 6917937862.311373, Import: 20885789833.558525, Import: -13967851971.247152
European Union
Date: 2025-01-01 00:00:00, Export: 32125656816.02549, Import: 57016968231.228035, Import: -24891311415.202545
Date: 2025-02-01 00:00:00, Export: 29991148802.446224, Import: 61199008179.76962, Import: -31207859377.3234
Date: 2025-03-01 00:00:00, Export: 33572064312.563652, Import: 81530330597.85687, Import: -47958266285.29322
Date: 2025-04-01 00:00:00, Export: 34526026427.69921, Import: 52466037217.997116, Import: -17940010790.297905
Date: 2025-05-01 00:00:00, Export: 33543008059.3587, Import: 56079458752.11125, Import: -22536450692.752552
France
Date: 2025-01-01 00:00:00, Export: 4312624478.110319, Import: 5203701400.59286, Import: -891076922.4825411
Date: 2025-02-01 00:00:00, Export: 3765331658.194999, Import: 5233902307.574464, Import: -1468570649.3794646
Date: 2025-03-01 00:00:00, Export: 4171915873.995994, Import: 7773125823.315422, Import: -3601209949.319428
Date: 2025-04-01 00:00:00, Export: 4120269711.608778, Import: 6043752648.210087, Import: -1923482936.6013088
Date: 2025-05-01 00:00:00, Export: 4783991446.566951, Import: 5272859391.324615, Import: -488867944.7576637
Germany
Date: 2025-01-01 00:00:00, Export: 6497975972.604098, Import: 14465437573.88083, Import: -7967461601.276732
Date: 2025-02-01 00:00:00, Export: 6309064547.060167, Import: 14293046754.938614, Import: -7983982207.878447
Date: 2025-03-01 00:00:00, Export: 7441988677.733637, Import: 14732247118.418917, Import: -7290258440.68528
Date: 2025-04-01 00:00:00, Export: 7287409846.724853, Import: 12729525654.31712, Import: -5442115807.592267
Date: 2025-05-01 00:00:00, Export: 6490153602.651165, Import: 13260789003.900543, Import: -6770635401.249378
India
Date: 2025-01-01 00:00:00, Export: 3622092890.216122, Import: 7835665164.571105, Import: -4213572274.354983
Date: 2025-02-01 00:00:00, Export: 3938703340.3559337, Import: 9299433145.072662, Import: -5360729804.716728
Date: 2025-03-01 00:00:00, Export: 3386242746.942289, Import: 11028653731.684412, Import: -7642410984.742123
Date: 2025-04-01 00:00:00, Export: 4096847993.1945014, Import: 9372961935.250168, Import: -5276113942.055666
Date: 2025-05-01 00:00:00, Export: 3540259584.1643176, Import: 8681872412.8791, Import: -5141612828.714783
Italy
Date: 2025-01-01 00:00:00, Export: 2663288354.375649, Import: 6402519005.773975, Import: -3739230651.3983264
Date: 2025-02-01 00:00:00, Export: 2329972347.85487, Import: 7426486426.234627, Import: -5096514078.379757
Date: 2025-03-01 00:00:00, Export: 2733592555.592969, Import: 7079279781.536713, Import: -4345687225.943744
Date: 2025-04-01 00:00:00, Export: 2979812991.011213, Import: 6170011025.798938, Import: -3190198034.787725
Date: 2025-05-01 00:00:00, Export: 3722296979.009337, Import: 6294189900.894568, Import: -2571892921.8852315
Japan
Date: 2025-01-01 00:00:00, Export: 6394777429.1885, Import: 13627236805.901302, Import: -7232459376.712802
Date: 2025-02-01 00:00:00, Export: 6808591710.074801, Import: 11971122691.858494, Import: -5162530981.783692
Date: 2025-03-01 00:00:00, Export: 6928871046.361861, Import: 12980225482.32461, Import: -6051354435.962749
Date: 2025-04-01 00:00:00, Export: 7127476761.619706, Import: 12945468895.051504, Import: -5817992133.431798
Date: 2025-05-01 00:00:00, Export: 6923923259.081905, Import: 12693413412.23743, Import: -5769490153.155525
Korea, South
Date: 2025-01-01 00:00:00, Export: 5643469146.539447, Import: 10905360048.93376, Import: -5261890902.394313
Date: 2025-02-01 00:00:00, Export: 5783266834.605718, Import: 10443214507.86232, Import: -4659947673.256602
Date: 2025-03-01 00:00:00, Export: 5312270073.736694, Import: 11874640359.157272, Import: -6562370285.420578
Date: 2025-04-01 00:00:00, Export: 6032081808.3628435, Import: 9318196504.461437, Import: -3286114696.0985937
Date: 2025-05-01 00:00:00, Export: 5328722800.863967, Import: 10703405773.45753, Import: -5374682972.593562
Mexico
Date: 2025-01-01 00:00:00, Export: 28284931326.01537, Import: 43945292226.77457, Import: -15660360900.759197
Date: 2025-02-01 00:00:00, Export: 28872460848.927635, Import: 45112204699.64011, Import: -16239743850.712471
Date: 2025-03-01 00:00:00, Export: 29079041619.84587, Import: 45996396873.01244, Import: -16917355253.166573
Date: 2025-04-01 00:00:00, Export: 27772261938.780445, Import: 41258475143.35747, Import: -13486213204.577023
Date: 2025-05-01 00:00:00, Export: 27486525306.513115, Import: 44573342118.404854, Import: -17086816811.891739
Newly Industrialized Countries
OPEC
Saudi Arabia
Date: 2025-01-01 00:00:00, Export: 1002945096.9974682, Import: 1190728327.2751014, Import: -187783230.2776332
Date: 2025-02-01 00:00:00, Export: 1245174908.959506, Import: 1100235655.8250587, Import: 144939253.13444734
Date: 2025-03-01 00:00:00, Export: 1030831084.603862, Import: 778934103.1467105, Import: 251896981.45715153
Date: 2025-04-01 00:00:00, Export: 1598987451.5209918, Import: 658503611.5687493, Import: 940483839.9522425
Date: 2025-05-01 00:00:00, Export: 1242828197.3819902, Import: 780931596.1716228, Import: 461896601.21036744
South/Central America
Date: 2025-01-01 00:00:00, Export: 17992774416.40434, Import: 13672850281.513226, Import: 4319924134.891113
Date: 2025-02-01 00:00:00, Export: 18470821603.977524, Import: 13849041931.408354, Import: 4621779672.56917
Date: 2025-03-01 00:00:00, Export: 17947685546.806633, Import: 14956287061.802647, Import: 2991398485.0039864
Date: 2025-04-01 00:00:00, Export: 17890543479.945084, Import: 14596248558.245924, Import: 3294294921.6991596
Date: 2025-05-01 00:00:00, Export: 18115070877.107906, Import: 14767853754.186651, Import: 3347217122.921255
United Kingdom
Date: 2025-01-01 00:00:00, Export: 5982090547.304231, Import: 6655248690.539025, Import: -673158143.2347946
Date: 2025-02-01 00:00:00, Export: 9365911678.298506, Import: 6120000417.203436, Import: 3245911261.09507
Date: 2025-03-01 00:00:00, Export: 8244228116.001565, Import: 6800676112.769275, Import: 1443552003.2322903
Date: 2025-04-01 00:00:00, Export: 8996384260.827595, Import: 4648422814.272742, Import: 4347961446.5548525
Date: 2025-05-01 00:00:00, Export: 7816501712.749862, Import: 4801103034.933789, Import: 3015398677.8160725
Hong Kong
Date: 2025-01-01 00:00:00, Export: 2106105621.6232407, Import: 3161870232.1078444, Import: -1055764610.4846036
Date: 2025-02-01 00:00:00, Export: 2720793773.382625, Import: 316157731.4995484, Import: 2404636041.8830767
Date: 2025-03-01 00:00:00, Export: 2059372636.4956877, Import: 166842250.22583807, Import: 1892530386.2698498
Date: 2025-04-01 00:00:00, Export: 7052689046.193028, Import: 170127757.82425314, Import: 6882561288.368775
Date: 2025-05-01 00:00:00, Export: 3894382003.9870734, Import: 271269239.59395117, Import: 3623112764.393122
Singapore
Date: 2025-01-01 00:00:00, Export: 3428091448.471125, Import: 4362559592.0260105, Import: -934468143.5548854
Date: 2025-02-01 00:00:00, Export: 3693171936.0748515, Import: 4751206915.6429825, Import: -1058034979.568131
Date: 2025-03-01 00:00:00, Export: 3048498453.063488, Import: 2833641040.1772914, Import: 214857412.8861966
Date: 2025-04-01 00:00:00, Export: 4374744450.979332, Import: 2996071521.815954, Import: 1378672929.1633778
Date: 2025-05-01 00:00:00, Export: 3445325227.228527, Import: 3116223449.680268, Import: 329101777.54825926
Taiwan
Date: 2025-01-01 00:00:00, Export: 3698952095.4448843, Import: 11179199667.265238, Import: -7480247571.8203535
Date: 2025-02-01 00:00:00, Export: 4101151115.280297, Import: 13056677378.119719, Import: -8955526262.839422
Date: 2025-03-01 00:00:00, Export: 4286813299.8546863, Import: 13202610669.959343, Import: -8915797370.104656
Date: 2025-04-01 00:00:00, Export: 4974214932.759766, Import: 14639934939.890648, Import: -9665720007.130882
Date: 2025-05-01 00:00:00, Export: 4645937226.578356, Import: 16140551984.09144, Import: -11494614757.513084
Australia
Date: 2025-01-01 00:00:00, Export: 2687303739.878963, Import: 4604885385.362569, Import: -1917581645.4836059
Date: 2025-02-01 00:00:00, Export: 2614777329.7087893, Import: 4583723918.128302, Import: -1968946588.4195123
Date: 2025-03-01 00:00:00, Export: 2779016556.918066, Import: 4062041157.419581, Import: -1283024600.501515
Date: 2025-04-01 00:00:00, Export: 3067393832.387013, Import: 1621169178.983874, Import: 1446224653.4031389
Date: 2025-05-01 00:00:00, Export: 2878555022.1680427, Import: 1348569859.0297801, Import: 1529985163.1382625
Belgium
Date: 2025-01-01 00:00:00, Export: 2610269443.8175516, Import: 2048858335.9501417, Import: 561411107.86741
Date: 2025-02-01 00:00:00, Export: 2704963222.541506, Import: 1941679090.2061505, Import: 763284132.3353553
Date: 2025-03-01 00:00:00, Export: 3113163066.357894, Import: 3253000492.0373588, Import: -139837425.67946482
Date: 2025-04-01 00:00:00, Export: 3032711153.602206, Import: 2140712130.5755005, Import: 891999023.0267057
Date: 2025-05-01 00:00:00, Export: 2786639908.4766645, Import: 2375052756.3202853, Import: 411587152.1563792
Ireland
Date: 2025-01-01 00:00:00, Export: 1247569162.0, Import: 13637151666.0, Import: -12389582504.0
Date: 2025-02-01 00:00:00, Export: 1279908005.0, Import: 15273663382.0, Import: -13993755377.0
Date: 2025-03-01 00:00:00, Export: 1401387637.0, Import: 30726421709.0, Import: -29325034072.0
Date: 2025-04-01 00:00:00, Export: 1412010371.0, Import: 10865304454.0, Import: -9453294083.0
Date: 2025-05-01 00:00:00, Export: 1591719149.0, Import: 13407229806.0, Import: -11815510657.0
Israel
Date: 2025-01-01 00:00:00, Export: 1154259270.6632552, Import: 1827878188.584085, Import: -673618917.9208298
Date: 2025-02-01 00:00:00, Export: 1145166532.7573202, Import: 1935806395.052475, Import: -790639862.2951548
Date: 2025-03-01 00:00:00, Export: 1329422393.2489321, Import: 2261357258.6279435, Import: -931934865.3790114
Date: 2025-04-01 00:00:00, Export: 1110459966.5877795, Import: 1991613501.3547378, Import: -881153534.7669582
Date: 2025-05-01 00:00:00, Export: 1308527400.4492552, Import: 1206586236.773337, Import: 101941163.67591834
Malaysia
Date: 2025-01-01 00:00:00, Export: 2458006531.6927958, Import: 4968549667.089678, Import: -2510543135.396882
Date: 2025-02-01 00:00:00, Export: 2154998970.8360443, Import: 5057520133.078789, Import: -2902521162.2427444
Date: 2025-03-01 00:00:00, Export: 2037580813.797773, Import: 5332288901.0831585, Import: -3294708087.2853856
Date: 2025-04-01 00:00:00, Export: 2558301922.0523334, Import: 4881439583.311427, Import: -2323137661.2590938
Date: 2025-05-01 00:00:00, Export: 2683667396.87032, Import: 5052324976.168483, Import: -2368657579.298163
Netherlands
Date: 2025-01-01 00:00:00, Export: 7330159727.0, Import: 3047488590.0, Import: 4282671137.0
Date: 2025-02-01 00:00:00, Export: 6700380907.0, Import: 2625652149.0, Import: 4074728758.0
Date: 2025-03-01 00:00:00, Export: 8525705013.0, Import: 4042003719.0, Import: 4483701294.0
Date: 2025-04-01 00:00:00, Export: 8166058092.0, Import: 3321998094.0, Import: 4844059998.0
Date: 2025-05-01 00:00:00, Export: 8534469223.0, Import: 3768419686.0, Import: 4766049537.0
Switzerland
Date: 2025-01-01 00:00:00, Export: 1854149679.5039704, Import: 24848841523.4957, Import: -22994691843.99173
Date: 2025-02-01 00:00:00, Export: 2509546655.265052, Import: 22523115209.730083, Import: -20013568554.46503
Date: 2025-03-01 00:00:00, Export: 3539151021.375465, Import: 18945562527.186203, Import: -15406411505.810738
Date: 2025-04-01 00:00:00, Export: 9118536493.37908, Import: 5580201011.964607, Import: 3538335481.4144726
Date: 2025-05-01 00:00:00, Export: 6480148810.078827, Import: 3191691534.0423255, Import: 3288457276.0365014
Vietnam
Date: 2025-01-01 00:00:00, Export: 1009645900.6300224, Import: 13300821188.107473, Import: -12291175287.477451
Date: 2025-02-01 00:00:00, Export: 1039680069.16783, Import: 13535310994.41778, Import: -12495630925.24995
Date: 2025-03-01 00:00:00, Export: 1083108079.1722312, Import: 15103614281.485193, Import: -14020506202.312962
Date: 2025-04-01 00:00:00, Export: 1265794145.1008737, Import: 15773476846.875172, Import: -14507682701.774298
Date: 2025-05-01 00:00:00, Export: 1214641386.4559295, Import: 16150136024.549227, Import: -14935494638.093298

,year,cty_code,cty_desc,BJAN,BFEB,BMAR,BAPR,BMAY,BJUN,BJUL,...,IJUL,IAUG,ISEP,IOCT,INOV,IDEC,IQ1,IQ2,IQ3,IQ4
0,2009,20,All other countries,-7.688157e+09,-6.061251e+09,-6.221323e+09,-7.484819e+09,-5.537787e+09,-6.201629e+09,-8.128920e+09,...,4.015297e+10,3.968960e+10,4.240630e+10,4.296826e+10,4.423691e+10,4.572743e+10,1.147623e+11,1.124524e+11,1.222489e+11,1.329326e+11
1,2009,3510,Brazil,5.109941e+08,4.469206e+08,3.447423e+08,5.177740e+08,4.190184e+08,4.636909e+08,4.404457e+08,...,1.682204e+09,1.613042e+09,1.690305e+09,1.610670e+09,1.983716e+09,1.778059e+09,5.073248e+09,4.638363e+09,4.985551e+09,5.372444e+09
2,2009,17,CAFTA-DR,3.034300e+08,2.818892e+08,2.177867e+08,6.088876e+07,1.325944e+08,1.921538e+08,-4.636460e+07,...,1.673409e+09,1.675474e+09,1.685764e+09,1.791865e+09,1.882657e+09,1.826492e+09,4.032656e+09,4.273833e+09,5.034646e+09,5.501014e+09
3,2009,1220,Canada,-1.790673e+09,-1.893448e+09,-1.384375e+09,-1.091626e+09,-8.162940e+08,-1.853868e+09,-2.322835e+09,...,1.983234e+10,1.945058e+10,1.978832e+10,2.060733e+10,2.105888e+10,2.177427e+10,5.323966e+10,5.049706e+10,5.907124e+10,6.344048e+10
4,2009,5700,China,-2.036187e+10,-1.900556e+10,-2.037261e+10,-1.842612e+10,-1.840727e+10,-1.757020e+10,-1.826092e+10,...,2.372623e+10,2.377449e+10,2.462898e+10,2.558478e+10,2.595788e+10,2.721828e+10,7.435777e+10,7.112548e+10,7.212970e+10,7.876093e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2025,9,South/Central America,4.319924e+09,4.621780e+09,2.991398e+09,3.294295e+09,3.347217e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.247818e+10,NaN,NaN,NaN
372,2025,4419,Switzerland,-2.299469e+10,-2.001357e+10,-1.540641e+10,3.538335e+09,3.288457e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.631752e+10,NaN,NaN,NaN
373,2025,5830,Taiwan,-7.480248e+09,-8.955526e+09,-8.915797e+09,-9.665720e+09,-1.149461e+10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.743849e+10,NaN,NaN,NaN
374,2025,4120,United Kingdom,-6.731581e+08,3.245911e+09,1.443552e+09,4.347961e+09,3.015399e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.957593e+10,NaN,NaN,NaN
375,2025,5520,Vietnam,-1.229118e+10,-1.249563e+10,-1.402051e+10,-1.450768e+10,-1.493549e+10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.193975e+10,NaN,NaN,NaN

In [58]:
overall_df=pd.DataFrame()
for country in df_results.keys():
    df_single=df_results[country]
    df_single["country"]=country
    df_single["category"]=df_single.index
    overall_df=pd.concat([overall_df, df_single], ignore_index=True)
overall_df

date,Januar,Februar,März,April,Mai,country,category
0,12.488095,14.348629,12.502712,12.127676,11.43591,All other countries,relative_export
1,8.658948,22.53502,27.170855,13.711973,9.668469,All other countries,relative_import
2,6.158918,16.579207,15.973162,7.646772,15.495532,Brazil,relative_export
3,9.171763,38.117221,39.167065,13.195269,39.003309,Brazil,relative_import
4,-2.963858,7.066363,8.650665,4.157202,3.304412,CAFTA-DR,relative_export
5,2.52139,13.745174,27.561837,22.096923,13.751477,CAFTA-DR,relative_import
6,1.176521,10.418587,6.249624,-5.156551,-7.324322,Canada,relative_export
7,13.083896,16.581521,4.599363,-13.988413,-13.826042,Canada,relative_import
8,-19.168799,-8.231457,-14.660652,-31.846129,-42.624377,China,relative_export
9,0.346633,-5.731318,-19.445894,-30.277664,-45.710313,China,relative_import
10,7.197999,10.324539,22.676601,24.124795,20.877798,European Union,relative_export
11,21.181447,35.524398,80.823197,13.781978,22.432136,European Union,relative_import
12,19.63272,13.704717,30.438052,28.457991,38.095412,France,relative_export
13,10.139636,10.779016,72.067419,30.348514,11.572642,France,relative_import
14,-2.048356,6.616953,25.930298,22.603342,8.186817,Germany,relative_export
15,13.399196,16.526716,21.476707,3.424624,6.697436,Germany,relative_import
16,0.339598,15.271089,-0.565832,20.135323,-1.122539,India,relative_export
17,9.024842,41.719909,65.377491,38.726445,28.679046,India,relative_import
18,7.343597,4.318367,21.401187,42.458565,66.844969,Italy,relative_export
19,7.194198,31.418036,26.91497,7.198705,5.364668,Italy,relative_import
20,0.563855,5.644035,10.521986,9.149373,7.407298,Japan,relative_export
21,6.472954,2.714656,7.982324,6.7076,1.787402,Japan,relative_import
22,0.198236,7.970998,-4.180283,5.902951,-6.011876,"Korea, South",relative_export
23,11.697153,12.071362,26.96093,-1.036517,13.553879,"Korea, South",relative_import
24,4.427956,11.679127,11.662358,6.509642,4.303538,Mexico,relative_export
25,13.32073,24.54988,24.34174,10.774312,19.25875,Mexico,relative_import
26,NaN,NaN,NaN,NaN,NaN,Newly Industrialized Countries,relative_export
27,NaN,NaN,NaN,NaN,NaN,Newly Industrialized Countries,relative_import
28,NaN,NaN,NaN,NaN,NaN,OPEC,relative_export
29,NaN,NaN,NaN,NaN,NaN,OPEC,relative_import
30,-5.758917,28.596763,5.508074,48.909667,25.624776,Saudi Arabia,relative_export
31,-19.4727,-17.895517,-42.614814,-52.209509,-42.341363,Saudi Arabia,relative_import
32,6.182084,13.752262,8.079489,5.650416,6.602668,South/Central America,relative_export
33,9.342285,22.593961,29.01242,25.323949,23.889427,South/Central America,relative_import
34,-7.319118,60.431727,39.273619,47.567993,28.884202,United Kingdom,relative_export
35,29.757883,18.699346,31.971054,-10.561434,-9.787972,United Kingdom,relative_import
36,-7.416175,11.263705,-14.33197,190.553785,61.280219,Hong Kong,relative_export
37,754.775613,-18.048016,-52.632136,-52.973824,-42.805113,Hong Kong,relative_import
38,-8.18408,9.99751,-7.968743,33.288427,1.159007,Singapore,relative_export
39,47.437755,59.220239,-7.915882,1.761862,10.031075,Singapore,relative_import
40,9.033493,28.390165,30.192393,43.195222,34.428422,Taiwan,relative_export
41,49.230636,78.83876,75.832601,95.353127,116.671742,Taiwan,relative_import
42,1.680323,5.83711,6.340356,23.505921,8.865811,Australia,relative_export
43,267.096727,255.796133,262.999442,32.132728,8.188337,Australia,relative_import
44,-20.474855,-6.753882,-3.078241,2.988985,-8.513479,Belgium,relative_export
45,7.304421,-1.746065,66.369521,5.21311,25.92535,Belgium,relative_import
46,-9.317837,-0.233927,4.723924,7.050445,20.005119,Ireland,relative_export
47,108.189281,148.295192,341.715301,46.469031,95.737329,Ireland,relative_import
48,-5.714926,3.055892,14.481765,-1.374323,16.502401,Israel,relative_export
49,2.680215,16.634459,35.453451,17.855324,-30.483759,Israel,relative_import
50,55.113786,43.58649,36.279909,63.577873,62.472587,Malaysia,relative_export
51,16.46753,18.5046,21.652873,12.792348,14.049433,Malaysia,relative_import
52,32.77734,16.628502,34.522508,31.902492,44.721032,Netherlands,relative_export
53,11.166747,-10.051591,29.390213,12.854389,30.232005,Netherlands,relative_import
54,-35.643793,-5.085691,94.749153,328.28898,204.858901,Switzerland,relative_export
55,456.615838,383.650769,212.454089,24.348699,-30.764951,Switzerland,relative_import
56,19.707805,17.129566,22.854923,36.505831,31.239939,Vietnam,relative_export
57,38.356444,47.470744,58.521551,58.321124,59.179391,Vietnam,relative_import

In [65]:
overall_df["min"]=overall_df[overall_df.columns[0:5]].min(axis=1)
overall_df

date,Januar,Februar,März,April,Mai,country,category,min
0,12.488095,14.348629,12.502712,12.127676,11.43591,All other countries,relative_export,11.43591
1,8.658948,22.53502,27.170855,13.711973,9.668469,All other countries,relative_import,8.658948
2,6.158918,16.579207,15.973162,7.646772,15.495532,Brazil,relative_export,6.158918
3,9.171763,38.117221,39.167065,13.195269,39.003309,Brazil,relative_import,9.171763
4,-2.963858,7.066363,8.650665,4.157202,3.304412,CAFTA-DR,relative_export,-2.963858
5,2.52139,13.745174,27.561837,22.096923,13.751477,CAFTA-DR,relative_import,2.52139
6,1.176521,10.418587,6.249624,-5.156551,-7.324322,Canada,relative_export,-7.324322
7,13.083896,16.581521,4.599363,-13.988413,-13.826042,Canada,relative_import,-13.988413
8,-19.168799,-8.231457,-14.660652,-31.846129,-42.624377,China,relative_export,-42.624377
9,0.346633,-5.731318,-19.445894,-30.277664,-45.710313,China,relative_import,-45.710313
10,7.197999,10.324539,22.676601,24.124795,20.877798,European Union,relative_export,7.197999
11,21.181447,35.524398,80.823197,13.781978,22.432136,European Union,relative_import,13.781978
12,19.63272,13.704717,30.438052,28.457991,38.095412,France,relative_export,13.704717
13,10.139636,10.779016,72.067419,30.348514,11.572642,France,relative_import,10.139636
14,-2.048356,6.616953,25.930298,22.603342,8.186817,Germany,relative_export,-2.048356
15,13.399196,16.526716,21.476707,3.424624,6.697436,Germany,relative_import,3.424624
16,0.339598,15.271089,-0.565832,20.135323,-1.122539,India,relative_export,-1.122539
17,9.024842,41.719909,65.377491,38.726445,28.679046,India,relative_import,9.024842
18,7.343597,4.318367,21.401187,42.458565,66.844969,Italy,relative_export,4.318367
19,7.194198,31.418036,26.91497,7.198705,5.364668,Italy,relative_import,5.364668
20,0.563855,5.644035,10.521986,9.149373,7.407298,Japan,relative_export,0.563855
21,6.472954,2.714656,7.982324,6.7076,1.787402,Japan,relative_import,1.787402
22,0.198236,7.970998,-4.180283,5.902951,-6.011876,"Korea, South",relative_export,-6.011876
23,11.697153,12.071362,26.96093,-1.036517,13.553879,"Korea, South",relative_import,-1.036517
24,4.427956,11.679127,11.662358,6.509642,4.303538,Mexico,relative_export,4.303538
25,13.32073,24.54988,24.34174,10.774312,19.25875,Mexico,relative_import,10.774312
26,NaN,NaN,NaN,NaN,NaN,Newly Industrialized Countries,relative_export,None
27,NaN,NaN,NaN,NaN,NaN,Newly Industrialized Countries,relative_import,None
28,NaN,NaN,NaN,NaN,NaN,OPEC,relative_export,None
29,NaN,NaN,NaN,NaN,NaN,OPEC,relative_import,None
30,-5.758917,28.596763,5.508074,48.909667,25.624776,Saudi Arabia,relative_export,-5.758917
31,-19.4727,-17.895517,-42.614814,-52.209509,-42.341363,Saudi Arabia,relative_import,-52.209509
32,6.182084,13.752262,8.079489,5.650416,6.602668,South/Central America,relative_export,5.650416
33,9.342285,22.593961,29.01242,25.323949,23.889427,South/Central America,relative_import,9.342285
34,-7.319118,60.431727,39.273619,47.567993,28.884202,United Kingdom,relative_export,-7.319118
35,29.757883,18.699346,31.971054,-10.561434,-9.787972,United Kingdom,relative_import,-10.561434
36,-7.416175,11.263705,-14.33197,190.553785,61.280219,Hong Kong,relative_export,-14.33197
37,754.775613,-18.048016,-52.632136,-52.973824,-42.805113,Hong Kong,relative_import,-52.973824
38,-8.18408,9.99751,-7.968743,33.288427,1.159007,Singapore,relative_export,-8.18408
39,47.437755,59.220239,-7.915882,1.761862,10.031075,Singapore,relative_import,-7.915882
40,9.033493,28.390165,30.192393,43.195222,34.428422,Taiwan,relative_export,9.033493
41,49.230636,78.83876,75.832601,95.353127,116.671742,Taiwan,relative_import,49.230636
42,1.680323,5.83711,6.340356,23.505921,8.865811,Australia,relative_export,1.680323
43,267.096727,255.796133,262.999442,32.132728,8.188337,Australia,relative_import,8.188337
44,-20.474855,-6.753882,-3.078241,2.988985,-8.513479,Belgium,relative_export,-20.474855
45,7.304421,-1.746065,66.369521,5.21311,25.92535,Belgium,relative_import,-1.746065
46,-9.317837,-0.233927,4.723924,7.050445,20.005119,Ireland,relative_export,-9.317837
47,108.189281,148.295192,341.715301,46.469031,95.737329,Ireland,relative_import,46.469031
48,-5.714926,3.055892,14.481765,-1.374323,16.502401,Israel,relative_export,-5.714926
49,2.680215,16.634459,35.453451,17.855324,-30.483759,Israel,relative_import,-30.483759
50,55.113786,43.58649,36.279909,63.577873,62.472587,Malaysia,relative_export,36.279909
51,16.46753,18.5046,21.652873,12.792348,14.049433,Malaysia,relative_import,12.792348
52,32.77734,16.628502,34.522508,31.902492,44.721032,Netherlands,relative_export,16.628502
53,11.166747,-10.051591,29.390213,12.854389,30.232005,Netherlands,relative_import,-10.051591
54,-35.643793,-5.085691,94.749153,328.28898,204.858901,Switzerland,relative_export,-35.643793
55,456.615838,383.650769,212.454089,24.348699,-30.764951,Switzerland,relative_import,-30.764951
56,19.707805,17.129566,22.854923,36.505831,31.239939,Vietnam,relative_export,17.129566
57,38.356444,47.470744,58.521551,58.321124,59.179391,Vietnam,relative_import,38.356444

In [68]:
overall_df.sort_values(by="min", ascending=True, inplace=True)
overall_df[overall_df["category"]=="relative_import"]

date,Januar,Februar,März,April,Mai,country,category,min
37,754.775613,-18.048016,-52.632136,-52.973824,-42.805113,Hong Kong,relative_import,-52.973824
31,-19.4727,-17.895517,-42.614814,-52.209509,-42.341363,Saudi Arabia,relative_import,-52.209509
9,0.346633,-5.731318,-19.445894,-30.277664,-45.710313,China,relative_import,-45.710313
55,456.615838,383.650769,212.454089,24.348699,-30.764951,Switzerland,relative_import,-30.764951
49,2.680215,16.634459,35.453451,17.855324,-30.483759,Israel,relative_import,-30.483759
7,13.083896,16.581521,4.599363,-13.988413,-13.826042,Canada,relative_import,-13.988413
35,29.757883,18.699346,31.971054,-10.561434,-9.787972,United Kingdom,relative_import,-10.561434
53,11.166747,-10.051591,29.390213,12.854389,30.232005,Netherlands,relative_import,-10.051591
39,47.437755,59.220239,-7.915882,1.761862,10.031075,Singapore,relative_import,-7.915882
45,7.304421,-1.746065,66.369521,5.21311,25.92535,Belgium,relative_import,-1.746065
23,11.697153,12.071362,26.96093,-1.036517,13.553879,"Korea, South",relative_import,-1.036517
21,6.472954,2.714656,7.982324,6.7076,1.787402,Japan,relative_import,1.787402
5,2.52139,13.745174,27.561837,22.096923,13.751477,CAFTA-DR,relative_import,2.52139
15,13.399196,16.526716,21.476707,3.424624,6.697436,Germany,relative_import,3.424624
19,7.194198,31.418036,26.91497,7.198705,5.364668,Italy,relative_import,5.364668
43,267.096727,255.796133,262.999442,32.132728,8.188337,Australia,relative_import,8.188337
1,8.658948,22.53502,27.170855,13.711973,9.668469,All other countries,relative_import,8.658948
17,9.024842,41.719909,65.377491,38.726445,28.679046,India,relative_import,9.024842
3,9.171763,38.117221,39.167065,13.195269,39.003309,Brazil,relative_import,9.171763
33,9.342285,22.593961,29.01242,25.323949,23.889427,South/Central America,relative_import,9.342285
13,10.139636,10.779016,72.067419,30.348514,11.572642,France,relative_import,10.139636
25,13.32073,24.54988,24.34174,10.774312,19.25875,Mexico,relative_import,10.774312
51,16.46753,18.5046,21.652873,12.792348,14.049433,Malaysia,relative_import,12.792348
11,21.181447,35.524398,80.823197,13.781978,22.432136,European Union,relative_import,13.781978
57,38.356444,47.470744,58.521551,58.321124,59.179391,Vietnam,relative_import,38.356444
47,108.189281,148.295192,341.715301,46.469031,95.737329,Ireland,relative_import,46.469031
41,49.230636,78.83876,75.832601,95.353127,116.671742,Taiwan,relative_import,49.230636
27,NaN,NaN,NaN,NaN,NaN,Newly Industrialized Countries,relative_import,None
29,NaN,NaN,NaN,NaN,NaN,OPEC,relative_import,None

In [25]:
df=pd.DataFrame()