We load the necessary libraries

In [90]:
import pandas as pd
import numpy as np

We read in the classification for jobs into different job sectors according to the German office for statistics

In [91]:
berufbereiche=pd.read_excel("../data/ew2024_bewerb/ab2017_klassifikation_berufe.xlsx",sheet_name="Berufsbereiche",skiprows=5,dtype=str)
berufbereiche=berufbereiche.rename(columns={"Unnamed: 2":"Bezeichnung"})
berufbereiche=berufbereiche.dropna(thresh=2)
berufbereiche

   von  bis                                        Bezeichnung
1   01  NaN                                            Militär
2   04  NaN                  Schüler, Auszubildende, Studenten
3   05  NaN                                Rentner, Pensionäre
4   06  NaN                        Hausfrauen, Arbeitssuchende
5   09  NaN  Ohne nähere Tätigkeitsangabe, z. B. Selbststän...
6   11   12     Land-, Forst- und Tierwirtschaft und Gartenbau
7   21   29        Rohstoffgewinnung, Produktion und Fertigung
8   31   34    Bau, Architektur, Vermessung und Gebäudetechnik
9   41   43        Naturwissenschaft, Geografie und Informatik
10  51   54           Verkehr, Logistik, Schutz und Sicherheit
11  61   63  Kaufmännische Dienstleistungen, Warenhandel, V...
12  71   73  Unternehmensorganisation, Buchhaltung, Recht u...
13  81   84          Gesundheit, Soziales, Lehre und Erziehung
14  91   94  Sprach-, Literatur-, Geistes-, Gesellschafts- ...

Now we modify this slightly by creating for the dataframe a "from" and a "to" column which defines between which encoded numbers certain job sectors can be found

In [92]:
berufbereiche["bis"]=np.where(berufbereiche["bis"].isna(),berufbereiche["von"],berufbereiche["bis"])
berufbereiche

   von bis                                        Bezeichnung
1   01  01                                            Militär
2   04  04                  Schüler, Auszubildende, Studenten
3   05  05                                Rentner, Pensionäre
4   06  06                        Hausfrauen, Arbeitssuchende
5   09  09  Ohne nähere Tätigkeitsangabe, z. B. Selbststän...
6   11  12     Land-, Forst- und Tierwirtschaft und Gartenbau
7   21  29        Rohstoffgewinnung, Produktion und Fertigung
8   31  34    Bau, Architektur, Vermessung und Gebäudetechnik
9   41  43        Naturwissenschaft, Geografie und Informatik
10  51  54           Verkehr, Logistik, Schutz und Sicherheit
11  61  63  Kaufmännische Dienstleistungen, Warenhandel, V...
12  71  73  Unternehmensorganisation, Buchhaltung, Recht u...
13  81  84          Gesundheit, Soziales, Lehre und Erziehung
14  91  94  Sprach-, Literatur-, Geistes-, Gesellschafts- ...

Now we iterate through this dataframe and create a dictionary that assigns to each number a job sector

In [93]:
berufbereiche_dict={}
for index, row in berufbereiche.iterrows():
    print(row["von"],row["bis"])
    for i in range(int(row["von"]),int(row["bis"])+1):
        berufbereiche_dict[i]=row["Bezeichnung"]
        berufbereiche_dict
berufbereiche_dict

01 01
04 04
05 05
06 06
09 09
11 12
21 29
31 34
41 43
51 54
61 63
71 73
81 84
91 94

{1: 'Militär',
 4: 'Schüler, Auszubildende, Studenten',
 5: 'Rentner, Pensionäre',
 6: 'Hausfrauen, Arbeitssuchende',
 9: 'Ohne nähere Tätigkeitsangabe, z. B. Selbstständige',
 11: 'Land-, Forst- und Tierwirtschaft und Gartenbau',
 12: 'Land-, Forst- und Tierwirtschaft und Gartenbau',
 21: 'Rohstoffgewinnung, Produktion und Fertigung',
 22: 'Rohstoffgewinnung, Produktion und Fertigung',
 23: 'Rohstoffgewinnung, Produktion und Fertigung',
 24: 'Rohstoffgewinnung, Produktion und Fertigung',
 25: 'Rohstoffgewinnung, Produktion und Fertigung',
 26: 'Rohstoffgewinnung, Produktion und Fertigung',
 27: 'Rohstoffgewinnung, Produktion und Fertigung',
 28: 'Rohstoffgewinnung, Produktion und Fertigung',
 29: 'Rohstoffgewinnung, Produktion und Fertigung',
 31: 'Bau, Architektur, Vermessung und Gebäudetechnik',
 32: 'Bau, Architektur, Vermessung und Gebäudetechnik',
 33: 'Bau, Architektur, Vermessung und Gebäudetechnik',
 34: 'Bau, Architektur, Vermessung und Gebäudetechnik',
 41: 'Naturwissenschaft, Geografie und Informatik',
 42: 'Naturwissenschaft, Geografie und Informatik',
 43: 'Naturwissenschaft, Geografie und Informatik',
 51: 'Verkehr, Logistik, Schutz und Sicherheit',
 52: 'Verkehr, Logistik, Schutz und Sicherheit',
 53: 'Verkehr, Logistik, Schutz und Sicherheit',
 54: 'Verkehr, Logistik, Schutz und Sicherheit',
 61: 'Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus',
 62: 'Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus',
 63: 'Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus',
 71: 'Unternehmensorganisation, Buchhaltung, Recht und Verwaltung',
 72: 'Unternehmensorganisation, Buchhaltung, Recht und Verwaltung',
 73: 'Unternehmensorganisation, Buchhaltung, Recht und Verwaltung',
 81: 'Gesundheit, Soziales, Lehre und Erziehung',
 82: 'Gesundheit, Soziales, Lehre und Erziehung',
 83: 'Gesundheit, Soziales, Lehre und Erziehung',
 84: 'Gesundheit, Soziales, Lehre und Erziehung',
 91: 'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung',
 92: 'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung',
 93: 'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung',
 94: 'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung'}

Now we read in the data for the candidates for the Bundestagswahl and the European election

In [94]:
data_europa=pd.read_csv("../data/ew2024_bewerb/ew2024_bewerb_uft8.csv",sep=";",skiprows=8)
data_bund=pd.read_csv("../data/btw2021_bewerb/btw2021_bewerb_utf8.csv",sep=";",skiprows=8)
data_europa.columns

Index(['Wahlart', 'Wahltag', 'Titel', 'Namenszusatz', 'Name', 'Vornamen',
       'Künstlername', 'Geschlecht', 'Geburtsjahr', 'PLZ', 'Wohnort', 'Staat',
       'WohnortLand', 'Geburtsort', 'Staatsangehörigkeit', 'Beruf',
       'Berufsschluessel', 'Kennzeichen', 'Gebietsart', 'Gebietsnummer',
       'Gebietsname', 'GebietLandAbk', 'Gruppenname', 'GruppennameLang',
       'Listenplatz', 'VerknKennzeichen', 'VerknGebietsart',
       'VerknGebietsnummer', 'VerknGebietsname', 'VerknGebietLandAbk',
       'VerknGruppenname', 'VerknListenplatz', 'VorpGewaehlt'],
      dtype='object')

Change the names of the parties to HB-styleguide writing and use the same name for CSU and CDU

In [95]:
data_bund.Gruppenname=data_bund.Gruppenname.astype(str).str.replace("CDU","Union")
data_bund.Gruppenname=data_bund.Gruppenname.astype(str).str.replace("CSU","Union")
data_bund.Gruppenname=data_bund.Gruppenname.astype(str).str.replace("DIE LINKE","Die Linke")
data_bund.Gruppenname=data_bund.Gruppenname.astype(str).str.replace("GRÜNE","Grüne")

data_europa.Gruppenname=data_europa.Gruppenname.astype(str).str.replace("CDU","Union")
data_europa.Gruppenname=data_europa.Gruppenname.astype(str).str.replace("CSU","Union")
data_europa.Gruppenname=data_europa.Gruppenname.astype(str).str.replace("DIE LINKE","Die Linke")
data_europa.Gruppenname=data_europa.Gruppenname.astype(str).str.replace("GRÜNE","Grüne")

In [96]:
data_europa.groupby(["Gruppenname"]).count()

,Wahlart,Wahltag,Titel,Namenszusatz,Name,Vornamen,Künstlername,Geschlecht,Geburtsjahr,PLZ,...,GruppennameLang,Listenplatz,VerknKennzeichen,VerknGebietsart,VerknGebietsnummer,VerknGebietsname,VerknGebietLandAbk,VerknGruppenname,VerknListenplatz,VorpGewaehlt
Gruppenname,,,,,,,,,,,,,,,,,,,,,
ABG,9,9,0,0,9,9,0,9,9,9,...,9,9,0,0,0,0,0,0,0,0
AfD,35,35,4,0,35,35,0,35,35,35,...,35,35,0,0,0,0,0,0,0,4
BIG,23,23,0,0,23,23,0,23,23,23,...,23,23,0,0,0,0,0,0,0,0
BSW,20,20,4,2,20,20,0,20,20,20,...,20,20,0,0,0,0,0,0,0,0
BÜNDNIS DEUTSCHLAND,11,11,0,0,11,11,0,11,11,11,...,11,11,0,0,0,0,0,0,0,1
Bündnis C,13,13,2,0,13,13,0,13,13,13,...,13,13,0,0,0,0,0,0,0,0
DAVA,13,13,2,0,13,13,0,13,13,13,...,13,13,0,0,0,0,0,0,0,0
DKP,43,43,1,0,43,43,0,43,43,43,...,43,43,0,0,0,0,0,0,0,0
Die Linke,20,20,0,0,20,20,0,20,20,20,...,20,20,0,0,0,0,0,0,0,2
Die PARTEI,211,211,2,0,211,211,0,211,211,211,...,211,211,0,0,0,0,0,0,0,1
FAMILIE,11,11,1,0,11,11,0,11,11,11,...,11,11,0,0,0,0,0,0,0,1
FDP,194,194,19,4,194,194,0,194,194,194,...,194,194,0,0,0,0,0,0,0,4
FREIE WÄHLER,27,27,1,0,27,27,0,27,27,27,...,27,27,0,0,0,0,0,0,0,1
Grüne,40,40,2,1,40,40,0,40,40,40,...,40,40,0,0,0,0,0,0,0,15
HEIMAT,15,15,0,0,15,15,0,15,15,15,...,15,15,0,0,0,0,0,0,0,0
KLIMALISTE,14,14,2,0,14,14,0,14,14,14,...,14,14,0,0,0,0,0,0,0,0
LETZTE GENERATION,12,12,0,0,12,12,0,12,12,12,...,12,12,0,0,0,0,0,0,0,0
MENSCHLICHE WELT,9,9,0,0,9,9,0,9,9,9,...,9,9,0,0,0,0,0,0,0,0
MERA25,14,14,1,0,14,14,0,14,14,14,...,14,14,0,0,0,0,0,0,0,0
MLPD,18,18,1,0,18,18,0,18,18,18,...,18,18,0,0,0,0,0,0,0,0
PDV,13,13,1,0,13,13,0,13,13,13,...,13,13,0,0,0,0,0,0,0,0
PIRATEN,18,18,1,0,18,18,0,18,18,18,...,18,18,0,0,0,0,0,0,0,0
PdF,10,10,0,0,10,10,0,10,10,10,...,10,10,0,0,0,0,0,0,0,0
PdH,21,21,0,0,21,21,0,21,21,21,...,21,21,0,0,0,0,0,0,0,0
SGP,11,11,0,0,11,11,0,11,11,11,...,11,11,0,0,0,0,0,0,0,0
SPD,189,189,13,0,189,189,0,189,189,189,...,189,189,62,62,62,62,62,62,62,13
TIERSCHUTZ hier!,7,7,0,0,7,7,0,7,7,7,...,7,7,0,0,0,0,0,0,0,0
Tierschutzpartei,8,8,1,0,8,8,0,8,8,8,...,8,8,0,0,0,0,0,0,0,0
Union,259,259,27,6,259,259,0,259,259,259,...,259,259,0,0,0,0,0,0,0,25
V-Partei³,19,19,1,0,19,19,0,19,19,19,...,19,19,0,0,0,0,0,0,0,0
Volt,27,27,2,2,27,27,0,27,27,27,...,27,27,0,0,0,0,0,0,0,1
dieBasis,4,4,0,0,4,4,0,4,4,4,...,4,4,0,0,0,0,0,0,0,0
nan,19,19,0,0,19,19,0,19,19,19,...,19,19,0,0,0,0,0,0,0,0
ÖDP,87,87,9,1,87,87,0,87,87,87,...,87,87,0,0,0,0,0,0,0,1

In [207]:
data_europa[data_europa.Gruppenname=="nan"].GruppennameLang

105     Partei für schulmedizinische Verjüngungsforschung
148     Partei für schulmedizinische Verjüngungsforschung
439     Partei für schulmedizinische Verjüngungsforschung
458     Partei für schulmedizinische Verjüngungsforschung
492     Partei für schulmedizinische Verjüngungsforschung
539     Partei für schulmedizinische Verjüngungsforschung
595     Partei für schulmedizinische Verjüngungsforschung
666     Partei für schulmedizinische Verjüngungsforschung
720     Partei für schulmedizinische Verjüngungsforschung
835     Partei für schulmedizinische Verjüngungsforschung
938     Partei für schulmedizinische Verjüngungsforschung
1013    Partei für schulmedizinische Verjüngungsforschung
1060    Partei für schulmedizinische Verjüngungsforschung
1077    Partei für schulmedizinische Verjüngungsforschung
1142    Partei für schulmedizinische Verjüngungsforschung
1213    Partei für schulmedizinische Verjüngungsforschung
1246    Partei für schulmedizinische Verjüngungsforschung
1364    Partei für schulmedizinische Verjüngungsforschung
1388    Partei für schulmedizinische Verjüngungsforschung
Name: GruppennameLang, dtype: object

And then process the Berufsschluessel column so that we can assign to each candidate into which job sector he or she belongs

In [97]:
data_bund["Berufsbezeichnung"]=data_bund["Berufsschluessel"].astype(int)
data_bund["Berufsbezeichnung"]=data_bund["Berufsbezeichnung"].replace(berufbereiche_dict)

data_europa["Berufsbezeichnung"]=data_europa["Berufsschluessel"].astype(int)
data_europa["Berufsbezeichnung"]=data_europa["Berufsbezeichnung"].replace(berufbereiche_dict)
data_europa

,Wahlart,Wahltag,Titel,Namenszusatz,Name,Vornamen,Künstlername,Geschlecht,Geburtsjahr,PLZ,...,Listenplatz,VerknKennzeichen,VerknGebietsart,VerknGebietsnummer,VerknGebietsname,VerknGebietLandAbk,VerknGruppenname,VerknListenplatz,VorpGewaehlt,Berufsbezeichnung
0,EU,09.06.2024,NaN,NaN,Abada,Marika,NaN,w,1960,55127,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sprach-, Literatur-, Geistes-, Gesellschafts- ..."
1,EU,09.06.2024,NaN,NaN,Acar-Gökce,Cemile,NaN,w,1975,33609,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Gesundheit, Soziales, Lehre und Erziehung"
2,EU,09.06.2024,NaN,NaN,Adam,Benjamin,NaN,m,1992,86150,...,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Gesundheit, Soziales, Lehre und Erziehung"
3,EU,09.06.2024,NaN,NaN,Adelmann,Johannes,NaN,m,1985,65623,...,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Gesundheit, Soziales, Lehre und Erziehung"
4,EU,09.06.2024,NaN,NaN,Aden,Timea Virág,NaN,w,1984,24214,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Gesundheit, Soziales, Lehre und Erziehung"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,EU,09.06.2024,NaN,NaN,Zobel,Katharina,NaN,w,1990,10709,...,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Unternehmensorganisation, Buchhaltung, Recht u..."
1440,EU,09.06.2024,NaN,NaN,Zöllick,Claudia,NaN,w,1980,90765,...,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Unternehmensorganisation, Buchhaltung, Recht u..."
1441,EU,09.06.2024,NaN,NaN,Zöls-Biber,Ronja Maria,NaN,w,1979,94036,...,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sprach-, Literatur-, Geistes-, Gesellschafts- ..."
1442,EU,09.06.2024,NaN,NaN,Zwickler,Christoph Bernard,NaN,m,1963,64367,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Rohstoffgewinnung, Produktion und Fertigung"
1443,EU,09.06.2024,NaN,NaN,Zwilling,Saskia,NaN,w,1999,28832,...,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Schüler, Auszubildende, Studenten"

Then we count the occurence of each job sector for each party

In [98]:
data_bund_jobs=data_bund[["Nachname","Berufsbezeichnung","Gruppenname"]].groupby(["Gruppenname","Berufsbezeichnung"]).count().reset_index()
data_bund_jobs=data_bund_jobs.rename(columns={"Nachname":"count"})
data_bund_jobs

     Gruppenname                                  Berufsbezeichnung  count
0    #KLIMAfirst          Gesundheit, Soziales, Lehre und Erziehung      1
1    #TeamFranka        Rohstoffgewinnung, Produktion und Fertigung      1
2            AfD    Bau, Architektur, Vermessung und Gebäudetechnik      8
3            AfD          Gesundheit, Soziales, Lehre und Erziehung     45
4            AfD  Kaufmännische Dienstleistungen, Warenhandel, V...     22
..           ...                                                ...    ...
580          ÖDP                  Schüler, Auszubildende, Studenten     38
581          ÖDP  Sprach-, Literatur-, Geistes-, Gesellschafts- ...     19
582          ÖDP  Unternehmensorganisation, Buchhaltung, Recht u...     38
583          ÖDP           Verkehr, Logistik, Schutz und Sicherheit      9
584         ÖLDP  Sprach-, Literatur-, Geistes-, Gesellschafts- ...      1

[585 rows x 3 columns]

But as the number of candidates differ between the elections, we will only compare the percentage wise share. We do this using groupby and transform.

In [99]:
data_bund_jobs["share"]=data_bund_jobs["count"]*100/data_bund_jobs.groupby("Gruppenname")["count"].transform('sum')
data_bund_jobs

,Gruppenname,Berufsbezeichnung,count,share
0,#KLIMAfirst,"Gesundheit, Soziales, Lehre und Erziehung",1,100.000000
1,#TeamFranka,"Rohstoffgewinnung, Produktion und Fertigung",1,100.000000
2,AfD,"Bau, Architektur, Vermessung und Gebäudetechnik",8,1.713062
3,AfD,"Gesundheit, Soziales, Lehre und Erziehung",45,9.635974
4,AfD,"Kaufmännische Dienstleistungen, Warenhandel, V...",22,4.710921
...,...,...,...,...
580,ÖDP,"Schüler, Auszubildende, Studenten",38,11.242604
581,ÖDP,"Sprach-, Literatur-, Geistes-, Gesellschafts- ...",19,5.621302
582,ÖDP,"Unternehmensorganisation, Buchhaltung, Recht u...",38,11.242604
583,ÖDP,"Verkehr, Logistik, Schutz und Sicherheit",9,2.662722
584,ÖLDP,"Sprach-, Literatur-, Geistes-, Gesellschafts- ...",1,100.000000

In [100]:
data_europa_jobs=data_europa[["Name","Berufsbezeichnung","Gruppenname"]].groupby(["Gruppenname","Berufsbezeichnung"]).count().reset_index()
data_europa_jobs=data_europa_jobs.rename(columns={"Name":"count"})
data_europa_jobs

    Gruppenname                                  Berufsbezeichnung  count
0           ABG          Gesundheit, Soziales, Lehre und Erziehung      2
1           ABG  Kaufmännische Dienstleistungen, Warenhandel, V...      1
2           ABG                                Rentner, Pensionäre      1
3           ABG  Unternehmensorganisation, Buchhaltung, Recht u...      5
4           AfD          Gesundheit, Soziales, Lehre und Erziehung      3
..          ...                                                ...    ...
242         ÖDP        Rohstoffgewinnung, Produktion und Fertigung      8
243         ÖDP                  Schüler, Auszubildende, Studenten      4
244         ÖDP  Sprach-, Literatur-, Geistes-, Gesellschafts- ...      4
245         ÖDP  Unternehmensorganisation, Buchhaltung, Recht u...     15
246         ÖDP           Verkehr, Logistik, Schutz und Sicherheit      5

[247 rows x 3 columns]

In [101]:
data_europa_jobs["share"]=data_europa_jobs["count"]*100/data_europa_jobs.groupby("Gruppenname")["count"].transform('sum')
data_europa_jobs

,Gruppenname,Berufsbezeichnung,count,share
0,ABG,"Gesundheit, Soziales, Lehre und Erziehung",2,22.222222
1,ABG,"Kaufmännische Dienstleistungen, Warenhandel, V...",1,11.111111
2,ABG,"Rentner, Pensionäre",1,11.111111
3,ABG,"Unternehmensorganisation, Buchhaltung, Recht u...",5,55.555556
4,AfD,"Gesundheit, Soziales, Lehre und Erziehung",3,8.571429
...,...,...,...,...
242,ÖDP,"Rohstoffgewinnung, Produktion und Fertigung",8,9.195402
243,ÖDP,"Schüler, Auszubildende, Studenten",4,4.597701
244,ÖDP,"Sprach-, Literatur-, Geistes-, Gesellschafts- ...",4,4.597701
245,ÖDP,"Unternehmensorganisation, Buchhaltung, Recht u...",15,17.241379
246,ÖDP,"Verkehr, Logistik, Schutz und Sicherheit",5,5.747126

In [102]:
data_europa_bund_jobs=pd.merge(data_bund_jobs,data_europa_jobs, on=["Gruppenname","Berufsbezeichnung"],suffixes=["_bund","_europa"], how="outer")
data_europa_bund_jobs=data_europa_bund_jobs.fillna(0)
data_europa_bund_jobs

,Gruppenname,Berufsbezeichnung,count_bund,share_bund,count_europa,share_europa
0,#KLIMAfirst,"Gesundheit, Soziales, Lehre und Erziehung",1.0,100.000000,0.0,0.000000
1,#TeamFranka,"Rohstoffgewinnung, Produktion und Fertigung",1.0,100.000000,0.0,0.000000
2,ABG,"Gesundheit, Soziales, Lehre und Erziehung",0.0,0.000000,2.0,22.222222
3,ABG,"Kaufmännische Dienstleistungen, Warenhandel, V...",0.0,0.000000,1.0,11.111111
4,ABG,"Rentner, Pensionäre",0.0,0.000000,1.0,11.111111
...,...,...,...,...,...,...
669,ÖDP,"Schüler, Auszubildende, Studenten",38.0,11.242604,4.0,4.597701
670,ÖDP,"Sprach-, Literatur-, Geistes-, Gesellschafts- ...",19.0,5.621302,4.0,4.597701
671,ÖDP,"Unternehmensorganisation, Buchhaltung, Recht u...",38.0,11.242604,15.0,17.241379
672,ÖDP,"Verkehr, Logistik, Schutz und Sicherheit",9.0,2.662722,5.0,5.747126
673,ÖLDP,"Sprach-, Literatur-, Geistes-, Gesellschafts- ...",1.0,100.000000,0.0,0.000000

Then we only filter for the parties that are currently in the Bundestag

In [103]:
filterlist=['AfD','Union', 'Die Linke', 'FDP',
       'Grüne', 'SPD',"BSW"]

In [104]:
bundes_parteien_filtered=data_europa_bund_jobs[data_europa_bund_jobs["Gruppenname"].str.contains('|'.join(filterlist))]
bundes_parteien_filtered_share=bundes_parteien_filtered[["Gruppenname","Berufsbezeichnung","share_bund","share_europa"]]
bundes_parteien_filtered_share

,Gruppenname,Berufsbezeichnung,share_bund,share_europa
6,AfD,"Bau, Architektur, Vermessung und Gebäudetechnik",1.713062,0.000000
7,AfD,"Gesundheit, Soziales, Lehre und Erziehung",9.635974,8.571429
8,AfD,"Kaufmännische Dienstleistungen, Warenhandel, V...",4.710921,14.285714
9,AfD,"Land-, Forst- und Tierwirtschaft und Gartenbau",1.284797,0.000000
10,AfD,Militär,0.642398,0.000000
...,...,...,...,...
601,Union,"Rohstoffgewinnung, Produktion und Fertigung",3.947368,4.247104
602,Union,"Schüler, Auszubildende, Studenten",2.990431,7.335907
603,Union,"Sprach-, Literatur-, Geistes-, Gesellschafts- ...",5.861244,7.335907
604,Union,"Unternehmensorganisation, Buchhaltung, Recht u...",66.985646,51.737452
605,Union,"Verkehr, Logistik, Schutz und Sicherheit",1.794258,0.772201

And write this as a long form to a csv

In [105]:
bundes_parteien_filtered_share.to_csv("jobs_longform.csv",index=False)

We also rewrite the names of the job sectors into shorter forms

In [106]:
pivot_df_bund=bundes_parteien_filtered.pivot(index='Gruppenname', columns='Berufsbezeichnung')["share_bund"].reset_index().fillna(0)
pivot_df_europa=bundes_parteien_filtered.pivot(index='Gruppenname', columns='Berufsbezeichnung')["share_europa"].reset_index().fillna(0)
pivot_df_bund

Berufsbezeichnung,Gruppenname,"Bau, Architektur, Vermessung und Gebäudetechnik","Gesundheit, Soziales, Lehre und Erziehung","Hausfrauen, Arbeitssuchende","Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus","Land-, Forst- und Tierwirtschaft und Gartenbau",Militär,"Naturwissenschaft, Geografie und Informatik","Ohne nähere Tätigkeitsangabe, z. B. Selbstständige","Rentner, Pensionäre","Rohstoffgewinnung, Produktion und Fertigung","Schüler, Auszubildende, Studenten","Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung","Unternehmensorganisation, Buchhaltung, Recht und Verwaltung","Verkehr, Logistik, Schutz und Sicherheit"
0,AfD,1.713062,9.635974,0.000000,4.710921,1.284797,0.642398,4.282655,1.284797,4.710921,9.635974,0.856531,6.209850,52.034261,2.997859
1,BSW,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Die Linke,2.061856,18.556701,0.206186,4.123711,0.206186,0.000000,3.711340,0.824742,3.505155,5.567010,12.989691,12.164948,34.432990,1.649485
3,FDP,1.866252,9.486781,0.155521,5.443235,2.177294,1.244168,4.665630,1.399689,0.155521,5.754277,9.175739,7.931571,48.833593,1.710731
4,Grüne,2.002861,17.882690,0.143062,1.859800,3.147353,0.000000,5.150215,0.858369,0.572246,5.865522,11.874106,11.587983,38.054363,1.001431
5,SPD,0.821918,15.479452,0.273973,3.287671,0.000000,0.821918,3.698630,0.136986,1.095890,2.191781,3.972603,10.410959,56.301370,1.506849
6,Union,0.598086,9.449761,0.000000,3.229665,0.837321,0.119617,1.913876,0.717703,1.555024,3.947368,2.990431,5.861244,66.985646,1.794258

In [107]:
pivot_df_europa

Berufsbezeichnung,Gruppenname,"Bau, Architektur, Vermessung und Gebäudetechnik","Gesundheit, Soziales, Lehre und Erziehung","Hausfrauen, Arbeitssuchende","Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus","Land-, Forst- und Tierwirtschaft und Gartenbau",Militär,"Naturwissenschaft, Geografie und Informatik","Ohne nähere Tätigkeitsangabe, z. B. Selbstständige","Rentner, Pensionäre","Rohstoffgewinnung, Produktion und Fertigung","Schüler, Auszubildende, Studenten","Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung","Unternehmensorganisation, Buchhaltung, Recht und Verwaltung","Verkehr, Logistik, Schutz und Sicherheit"
0,AfD,0.000000,8.571429,0.000000,14.285714,0.000000,0.000000,0.000000,2.857143,0.000000,8.571429,0.000000,11.428571,54.285714,0.000000
1,BSW,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,10.000000,0.000000,35.000000,30.000000,0.000000
2,Die Linke,0.000000,20.000000,0.000000,5.000000,0.000000,0.000000,5.000000,0.000000,5.000000,5.000000,15.000000,5.000000,40.000000,0.000000
3,FDP,1.030928,10.824742,0.515464,4.123711,1.030928,2.061856,7.731959,1.546392,1.546392,4.123711,22.164948,7.216495,35.567010,0.515464
4,Grüne,0.000000,15.000000,2.500000,0.000000,5.000000,2.500000,0.000000,0.000000,0.000000,7.500000,10.000000,17.500000,37.500000,2.500000
5,SPD,0.000000,19.576720,0.000000,2.645503,1.587302,0.529101,2.645503,1.058201,1.587302,4.232804,8.994709,6.878307,49.206349,1.058201
6,Union,0.772201,16.988417,0.386100,1.930502,2.702703,1.544402,1.930502,0.386100,1.930502,4.247104,7.335907,7.335907,51.737452,0.772201

In [108]:
pivot_df_europa.columns

Index(['Gruppenname', 'Bau, Architektur, Vermessung und Gebäudetechnik',
       'Gesundheit, Soziales, Lehre und Erziehung',
       'Hausfrauen, Arbeitssuchende',
       'Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus',
       'Land-, Forst- und Tierwirtschaft und Gartenbau', 'Militär',
       'Naturwissenschaft, Geografie und Informatik',
       'Ohne nähere Tätigkeitsangabe, z. B. Selbstständige',
       'Rentner, Pensionäre', 'Rohstoffgewinnung, Produktion und Fertigung',
       'Schüler, Auszubildende, Studenten',
       'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung',
       'Unternehmensorganisation, Buchhaltung, Recht und Verwaltung',
       'Verkehr, Logistik, Schutz und Sicherheit'],
      dtype='object', name='Berufsbezeichnung')

In [109]:
columns_converter={'Gruppenname':'Partei', 'Bau, Architektur, Vermessung und Gebäudetechnik':'Baubranche',
       'Gesundheit, Soziales, Lehre und Erziehung':'Gesundheit und Soziales',
       'Hausfrauen, Arbeitssuchende':'Hausfrauen und Arbeitssuchende',
       'Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus':'Kaufmännisch',
       'Land-, Forst- und Tierwirtschaft und Gartenbau':'Landwirtschaft', 'Militär':'Militär',
       'Naturwissenschaft, Geografie und Informatik':'Naturwissenschaften',
       'Ohne nähere Tätigkeitsangabe, z. B. Selbstständige':'Ohne Angabe',
       'Rentner, Pensionäre':'Rentner', 'Rohstoffgewinnung, Produktion und Fertigung':'Rohstoffe und Produktion',
       'Schüler, Auszubildende, Studenten':'Azubis und Studierende',
       'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung':'Geisteswissenschaften und Wirtschaft',
       'Unternehmensorganisation, Buchhaltung, Recht und Verwaltung':'Recht und Verwaltung',
       'Verkehr, Logistik, Schutz und Sicherheit':'Verkehr und Logistik'}

In [128]:

pivot_df_europa_renamed=pivot_df_europa.rename(columns=columns_converter)
pivot_df_bund_renamed=pivot_df_bund.rename(columns=columns_converter)

pivot_df_europa_T=pivot_df_europa_renamed.T
pivot_df_bund_T=pivot_df_bund_renamed.T

pivot_df_europa_T.columns=pivot_df_europa_T.iloc[0].tolist()
pivot_df_bund_T.columns=pivot_df_bund_T.iloc[0].tolist()
pivot_df_europa_T=pivot_df_europa_T.iloc[1:]
pivot_df_bund_T=pivot_df_bund_T.iloc[1:]

pivot_df_europa_T

,AfD,BSW,Die Linke,FDP,Grüne,SPD,Union
Berufsbezeichnung,,,,,,,
Baubranche,0.0,0.0,0.0,1.030928,0.0,0.0,0.772201
Gesundheit und Soziales,8.571429,20.0,20.0,10.824742,15.0,19.57672,16.988417
Hausfrauen und Arbeitssuchende,0.0,0.0,0.0,0.515464,2.5,0.0,0.3861
Kaufmännisch,14.285714,0.0,5.0,4.123711,0.0,2.645503,1.930502
Landwirtschaft,0.0,0.0,0.0,1.030928,5.0,1.587302,2.702703
Militär,0.0,0.0,0.0,2.061856,2.5,0.529101,1.544402
Naturwissenschaften,0.0,0.0,5.0,7.731959,0.0,2.645503,1.930502
Ohne Angabe,2.857143,0.0,0.0,1.546392,0.0,1.058201,0.3861
Rentner,0.0,5.0,5.0,1.546392,0.0,1.587302,1.930502
Rohstoffe und Produktion,8.571429,10.0,5.0,4.123711,7.5,4.232804,4.247104
Azubis und Studierende,0.0,0.0,15.0,22.164948,10.0,8.994709,7.335907
Geisteswissenschaften und Wirtschaft,11.428571,35.0,5.0,7.216495,17.5,6.878307,7.335907
Recht und Verwaltung,54.285714,30.0,40.0,35.56701,37.5,49.206349,51.737452
Verkehr und Logistik,0.0,0.0,0.0,0.515464,2.5,1.058201,0.772201

In [129]:
pivot_df_europa_T[pivot_df_europa_T.index=='Recht und Verwaltung'].to_csv("jura_europa.csv")

In [130]:
pivot_df_bund_T

,AfD,BSW,Die Linke,FDP,Grüne,SPD,Union
Berufsbezeichnung,,,,,,,
Baubranche,1.713062,0.0,2.061856,1.866252,2.002861,0.821918,0.598086
Gesundheit und Soziales,9.635974,0.0,18.556701,9.486781,17.88269,15.479452,9.449761
Hausfrauen und Arbeitssuchende,0.0,0.0,0.206186,0.155521,0.143062,0.273973,0.0
Kaufmännisch,4.710921,0.0,4.123711,5.443235,1.8598,3.287671,3.229665
Landwirtschaft,1.284797,0.0,0.206186,2.177294,3.147353,0.0,0.837321
Militär,0.642398,0.0,0.0,1.244168,0.0,0.821918,0.119617
Naturwissenschaften,4.282655,0.0,3.71134,4.66563,5.150215,3.69863,1.913876
Ohne Angabe,1.284797,0.0,0.824742,1.399689,0.858369,0.136986,0.717703
Rentner,4.710921,0.0,3.505155,0.155521,0.572246,1.09589,1.555024
Rohstoffe und Produktion,9.635974,0.0,5.56701,5.754277,5.865522,2.191781,3.947368
Azubis und Studierende,0.856531,0.0,12.989691,9.175739,11.874106,3.972603,2.990431
Geisteswissenschaften und Wirtschaft,6.20985,0.0,12.164948,7.931571,11.587983,10.410959,5.861244
Recht und Verwaltung,52.034261,0.0,34.43299,48.833593,38.054363,56.30137,66.985646
Verkehr und Logistik,2.997859,0.0,1.649485,1.710731,1.001431,1.506849,1.794258

And then we calculate a diff dataframe that shows which sectors are more or less represented this time around

In [131]:
diff_eu_bund=pivot_df_europa_T-pivot_df_bund_T

diff_eu_bund

,AfD,BSW,Die Linke,FDP,Grüne,SPD,Union
Berufsbezeichnung,,,,,,,
Baubranche,-1.713062,0.0,-2.061856,-0.835324,-2.002861,-0.821918,0.174115
Gesundheit und Soziales,-1.064546,20.0,1.443299,1.337962,-2.88269,4.097268,7.538656
Hausfrauen und Arbeitssuchende,0.0,0.0,-0.206186,0.359943,2.356938,-0.273973,0.3861
Kaufmännisch,9.574794,0.0,0.876289,-1.319523,-1.8598,-0.642169,-1.299163
Landwirtschaft,-1.284797,0.0,-0.206186,-1.146366,1.852647,1.587302,1.865382
Militär,-0.642398,0.0,0.0,0.817688,2.5,-0.292817,1.424784
Naturwissenschaften,-4.282655,0.0,1.28866,3.066329,-5.150215,-1.053127,0.016626
Ohne Angabe,1.572346,0.0,-0.824742,0.146703,-0.858369,0.921215,-0.331603
Rentner,-4.710921,5.0,1.494845,1.390871,-0.572246,0.491411,0.375478
Rohstoffe und Produktion,-1.064546,10.0,-0.56701,-1.630565,1.634478,2.041023,0.299736
Azubis und Studierende,-0.856531,0.0,2.010309,12.98921,-1.874106,5.022106,4.345477
Geisteswissenschaften und Wirtschaft,5.218721,35.0,-7.164948,-0.715076,5.912017,-3.532652,1.474663
Recht und Verwaltung,2.251453,30.0,5.56701,-13.266582,-0.554363,-7.095021,-15.248194
Verkehr und Logistik,-2.997859,0.0,-1.649485,-1.195267,1.498569,-0.448648,-1.022058

*We see that there were significantly less people in law for the EU parliament in three of the parties*

In [132]:
diff_eu_bund[["Union","AfD"]].to_csv("diff_eu_bund_1.csv")
diff_eu_bund[["SPD","Grüne"]].to_csv("diff_eu_bund_2.csv")
diff_eu_bund[["FDP","Die Linke"]].to_csv("diff_eu_bund_3.csv")

In [133]:
pivot_df_europa_T_first_half=pivot_df_europa_T[["Union","SPD","AfD"]].reset_index()
pivot_df_bund_T_first_half=pivot_df_bund_T[["Union","SPD","AfD"]].reset_index()
pivot_df_europa_T_first_half=pivot_df_europa_T_first_half.rename(columns={"Berufsbezeichnung":"Branche"})
pivot_df_bund_T_first_half=pivot_df_bund_T_first_half.rename(columns={"Berufsbezeichnung":"Branche"})
europa_bund_comp1=pd.merge(pivot_df_bund_T_first_half,pivot_df_europa_T_first_half,on="Branche",suffixes=[" Bund"," Europa"])
europa_bund_comp1.to_csv("bund_europa_comparison1.csv",index=False)
europa_bund_comp1

,Branche,Union Bund,SPD Bund,AfD Bund,Union Europa,SPD Europa,AfD Europa
0,Baubranche,0.598086,0.821918,1.713062,0.772201,0.0,0.0
1,Gesundheit und Soziales,9.449761,15.479452,9.635974,16.988417,19.57672,8.571429
2,Hausfrauen und Arbeitssuchende,0.0,0.273973,0.0,0.3861,0.0,0.0
3,Kaufmännisch,3.229665,3.287671,4.710921,1.930502,2.645503,14.285714
4,Landwirtschaft,0.837321,0.0,1.284797,2.702703,1.587302,0.0
5,Militär,0.119617,0.821918,0.642398,1.544402,0.529101,0.0
6,Naturwissenschaften,1.913876,3.69863,4.282655,1.930502,2.645503,0.0
7,Ohne Angabe,0.717703,0.136986,1.284797,0.3861,1.058201,2.857143
8,Rentner,1.555024,1.09589,4.710921,1.930502,1.587302,0.0
9,Rohstoffe und Produktion,3.947368,2.191781,9.635974,4.247104,4.232804,8.571429
10,Azubis und Studierende,2.990431,3.972603,0.856531,7.335907,8.994709,0.0
11,Geisteswissenschaften und Wirtschaft,5.861244,10.410959,6.20985,7.335907,6.878307,11.428571
12,Recht und Verwaltung,66.985646,56.30137,52.034261,51.737452,49.206349,54.285714
13,Verkehr und Logistik,1.794258,1.506849,2.997859,0.772201,1.058201,0.0

In [134]:
pivot_df_europa_T_second_half=pivot_df_europa_T[["Grüne","FDP","Die Linke"]].reset_index()
pivot_df_bund_T_second_half=pivot_df_bund_T[["Grüne","FDP","Die Linke"]].reset_index()
pivot_df_europa_T_second_half=pivot_df_europa_T_second_half.rename(columns={"Berufsbezeichnung":"Branche"})
pivot_df_bund_T_second_half=pivot_df_bund_T_second_half.rename(columns={"Berufsbezeichnung":"Branche"})
europa_bund_comp_2=pd.merge(pivot_df_bund_T_second_half,pivot_df_europa_T_second_half,on="Branche",suffixes=[" Bund"," Europa"])
europa_bund_comp_2.to_csv("bund_europa_comparison2.csv",index=False)
europa_bund_comp_2

,Branche,Grüne Bund,FDP Bund,Die Linke Bund,Grüne Europa,FDP Europa,Die Linke Europa
0,Baubranche,2.002861,1.866252,2.061856,0.0,1.030928,0.0
1,Gesundheit und Soziales,17.88269,9.486781,18.556701,15.0,10.824742,20.0
2,Hausfrauen und Arbeitssuchende,0.143062,0.155521,0.206186,2.5,0.515464,0.0
3,Kaufmännisch,1.8598,5.443235,4.123711,0.0,4.123711,5.0
4,Landwirtschaft,3.147353,2.177294,0.206186,5.0,1.030928,0.0
5,Militär,0.0,1.244168,0.0,2.5,2.061856,0.0
6,Naturwissenschaften,5.150215,4.66563,3.71134,0.0,7.731959,5.0
7,Ohne Angabe,0.858369,1.399689,0.824742,0.0,1.546392,0.0
8,Rentner,0.572246,0.155521,3.505155,0.0,1.546392,5.0
9,Rohstoffe und Produktion,5.865522,5.754277,5.56701,7.5,4.123711,5.0
10,Azubis und Studierende,11.874106,9.175739,12.989691,10.0,22.164948,15.0
11,Geisteswissenschaften und Wirtschaft,11.587983,7.931571,12.164948,17.5,7.216495,5.0
12,Recht und Verwaltung,38.054363,48.833593,34.43299,37.5,35.56701,40.0
13,Verkehr und Logistik,1.001431,1.710731,1.649485,2.5,0.515464,0.0

Next up, we want to calculate the age of the candidates and compare the age of canditates between both elections

In [135]:
data_europa["Alter"]=data_europa["Wahltag"].astype(str).str[-4:].astype(int)-data_europa["Geburtsjahr"]
data_bund["Alter"]=data_bund["Wahltag"].astype(str).str[-4:].astype(int)-data_bund["Geburtsjahr"]
data_bund

,Wahlart,Wahltag,Titel,Namenszusatz,Nachname,Vornamen,Künstlername,Geschlecht,Geburtsjahr,PLZ,...,VerknKennzeichen,VerknGebietsart,VerknGebietsnummer,VerknGebietsname,VerknGebietLandAbk,VerknGruppenname,VerknListenplatz,VorpGewaehlt,Berufsbezeichnung,Alter
0,BT,26.09.2021,NaN,NaN,Nicolaisen,Petra,NaN,w,1965,24997,...,Landesliste,Land,1.0,Schleswig-Holstein,SH,CDU,4.0,X,"Unternehmensorganisation, Buchhaltung, Recht u...",56
1,BT,26.09.2021,NaN,NaN,Brzezicha,Franziska Maria,NaN,w,1993,24896,...,Landesliste,Land,1.0,Schleswig-Holstein,SH,SPD,6.0,NaN,"Gesundheit, Soziales, Lehre und Erziehung",28
2,BT,26.09.2021,NaN,NaN,Anastasiadis,Christoph Georgios,NaN,m,1995,24943,...,Landesliste,Land,1.0,Schleswig-Holstein,SH,FDP,6.0,NaN,"Kaufmännische Dienstleistungen, Warenhandel, V...",26
3,BT,26.09.2021,NaN,NaN,Habeck,Robert,NaN,m,1969,24939,...,Landesliste,Land,1.0,Schleswig-Holstein,SH,GRÜNE,2.0,NaN,"Unternehmensorganisation, Buchhaltung, Recht u...",52
4,BT,26.09.2021,NaN,NaN,Petersen-Brendel,Jan,NaN,m,1968,24997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Rohstoffgewinnung, Produktion und Fertigung",53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,BT,26.09.2021,NaN,NaN,Beutler,Benno,NaN,m,1967,99610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaufmännische Dienstleistungen, Warenhandel, V...",54
8283,BT,26.09.2021,NaN,NaN,Trautmann,Sophie,NaN,w,1998,7743,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Schüler, Auszubildende, Studenten",23
8284,BT,26.09.2021,NaN,NaN,Volz,Maximilian,NaN,m,1996,99423,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Schüler, Auszubildende, Studenten",25
8285,BT,26.09.2021,NaN,NaN,Arlaud,Leah Esther,NaN,w,1997,99086,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Schüler, Auszubildende, Studenten",24
8286,BT,26.09.2021,NaN,NaN,Gödel,Michael,NaN,m,1996,7743,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Gesundheit, Soziales, Lehre und Erziehung",25

Then we group by party and calculate the mean age of candidates per party

In [136]:
EU_born_years=data_europa[["Alter","Gruppenname"]].groupby("Gruppenname").mean().reset_index()
EU_born_years

            Gruppenname      Alter
0                   ABG  54.888889
1                   AfD  48.657143
2                   BIG  46.782609
3                   BSW  55.650000
4   BÜNDNIS DEUTSCHLAND  51.909091
5             Bündnis C  61.769231
6                  DAVA  47.307692
7                   DKP  51.790698
8             Die Linke  42.850000
9            Die PARTEI  41.815166
10              FAMILIE  46.272727
11                  FDP  39.876289
12         FREIE WÄHLER  47.888889
13                Grüne  39.350000
14               HEIMAT  54.600000
15           KLIMALISTE  47.071429
16    LETZTE GENERATION  41.250000
17     MENSCHLICHE WELT  50.000000
18               MERA25  38.785714
19                 MLPD  49.722222
20                  PDV  50.615385
21              PIRATEN  44.000000
22                  PdF  32.800000
23                  PdH  28.761905
24                  SGP  48.090909
25                  SPD  39.010582
26     TIERSCHUTZ hier!  46.285714
27     Tierschutzpartei  46.500000
28                Union  42.606178
29            V-Partei³  38.052632
30                 Volt  35.629630
31             dieBasis  61.000000
32                  nan  42.894737
33                  ÖDP  53.390805

In [137]:
Bund_born_years=data_bund[["Alter","Gruppenname"]].groupby("Gruppenname").mean().reset_index()
Bund_born_years

     Gruppenname      Alter
0    #KLIMAfirst  61.000000
1    #TeamFranka  40.000000
2            AfD  51.306210
3             B*  39.000000
4             BP  48.868852
..           ...        ...
231     dieBasis  52.662500
232          du.  37.270270
233     sonstige  51.000000
234          ÖDP  47.360947
235         ÖLDP  41.000000

[236 rows x 2 columns]

And we merge the average ages from both elections

In [138]:
age_comp=pd.merge(Bund_born_years,EU_born_years,on="Gruppenname",suffixes=["_Bund","_EU"], how="outer")
main_parties_age_comp=age_comp[age_comp.Gruppenname.str.contains(('|'.join(filterlist)))]
main_parties_age_comp.to_csv("mainparties_age.csv",index=False)
main_parties_age_comp

    Gruppenname  Alter_Bund   Alter_EU
3           AfD   51.306210  48.657143
7           BSW         NaN  55.650000
18    Die Linke   43.843299  42.850000
207         FDP   43.374806  39.876289
212       Grüne   42.214592  39.350000
230         SPD   44.582192  39.010582
239       Union   46.724880  42.606178

*And we see that for most bigger parties actually the average candidates were younger for the EU election*

Next up, we want to check, if age is younger BUT whether older candidates got better places on the list in general and especially at the European level

In [ ]:
polling_data=pd.read_

In [156]:
data_bund["Listenplatz_gemeinsam"]=data_bund["Listenplatz"]
data_bund["Listenplatz_gemeinsam"]=np.where(data_bund["Listenplatz"].isna(),data_bund["VerknListenplatz"],data_bund["Listenplatz"])

In [165]:
#we only take in the columns for party, list spot and age
GruppePlatzAlter_EU=data_europa[["Gruppenname","Listenplatz","Alter"]]
listofparties=GruppePlatzAlter_EU.Gruppenname.unique()
print(listofparties)
coeff_eu={}
#and we iterate through the name of parties
for party in listofparties:
    #filter for the party
    partydf=GruppePlatzAlter_EU[GruppePlatzAlter_EU["Gruppenname"]==party]
    #calculate the correlation using spearman-rank coefficient to exclude non-normality
    result=partydf[["Listenplatz","Alter"]].corr(method="spearman",min_periods=10)
    #and save the coefficient for each party in a dictionary
    corrcoeff=result["Listenplatz"].iloc[-1]
    coeff_eu[party]=corrcoeff

['Union' 'BIG' 'SPD' 'PdH' 'FDP' 'DAVA' 'PDV' 'MERA25' 'AfD' 'Grüne'
 'V-Partei³' 'SGP' 'Die PARTEI' 'Die Linke' 'KLIMALISTE'
 'MENSCHLICHE WELT' 'MLPD' 'BSW' 'ÖDP' 'DKP' 'PIRATEN' 'Volt'
 'BÜNDNIS DEUTSCHLAND' 'ABG' 'nan' 'LETZTE GENERATION' 'PdF' 'Bündnis C'
 'FAMILIE' 'Tierschutzpartei' 'FREIE WÄHLER' 'HEIMAT' 'dieBasis'
 'TIERSCHUTZ hier!']

In [166]:
#same on the eu level
GruppePlatzAlter_Bund=data_bund[["Gruppenname","Listenplatz_gemeinsam","Alter"]]
listofparties=GruppePlatzAlter_Bund.Gruppenname.unique()
coeff_bund={}
for party in listofparties:
    partydf=GruppePlatzAlter_Bund[GruppePlatzAlter_Bund["Gruppenname"]==party]
    result=partydf[["Listenplatz_gemeinsam","Alter"]].corr(method="spearman",min_periods=10)
    corrcoeff=result["Listenplatz_gemeinsam"].iloc[-1]
    coeff_bund[party]=corrcoeff

In [182]:
data_europa.columns

Index(['Wahlart', 'Wahltag', 'Titel', 'Namenszusatz', 'Name', 'Vornamen',
       'Künstlername', 'Geschlecht', 'Geburtsjahr', 'PLZ', 'Wohnort', 'Staat',
       'WohnortLand', 'Geburtsort', 'Staatsangehörigkeit', 'Beruf',
       'Berufsschluessel', 'Kennzeichen', 'Gebietsart', 'Gebietsnummer',
       'Gebietsname', 'GebietLandAbk', 'Gruppenname', 'GruppennameLang',
       'Listenplatz', 'VerknKennzeichen', 'VerknGebietsart',
       'VerknGebietsnummer', 'VerknGebietsname', 'VerknGebietLandAbk',
       'VerknGruppenname', 'VerknListenplatz', 'VorpGewaehlt',
       'Berufsbezeichnung', 'Alter'],
      dtype='object')

In [201]:
#we only take in the columns for party, list spot and age
GruppePlatzAlter_EU=data_europa[["Gruppenname","Listenplatz","Alter"]]
listofparties=GruppePlatzAlter_EU.Gruppenname.unique()
print(listofparties)
age_top_5_rest={}
age_top_10_rest={}

#and we iterate through the name of parties
for party in listofparties:
    #filter for the party
    partydf=GruppePlatzAlter_EU[GruppePlatzAlter_EU["Gruppenname"]==party]
    #calculate the correlation using spearman-rank coefficient to exclude non-normality
    partydf_sorted=partydf.sort_values(by="Listenplatz",ascending=True)
    #and save the coefficient for each party in a dictionary
    top5=partydf_sorted.head()["Alter"].mean()
    rest5=partydf_sorted.iloc[5:]["Alter"].mean()
    top10=partydf_sorted.head(10)["Alter"].mean()
    rest10=partydf_sorted.iloc[10:]["Alter"].mean()
    print(top5,rest)

    age_top_5_rest[party]=[top5,rest5]
    age_top_10_rest[party]=[top10,rest10]

age_df_top10_eu=pd.DataFrame(age_top_10_rest).T.reset_index()
age_df_top10_eu.columns=["Name","Top 10","Rest"]
age_df_top10_eu=age_df_top10_eu[age_df_top10_eu.Name.str.contains("|".join(filterlist))]
age_df_top10_eu

['Union' 'BIG' 'SPD' 'PdH' 'FDP' 'DAVA' 'PDV' 'MERA25' 'AfD' 'Grüne'
 'V-Partei³' 'SGP' 'Die PARTEI' 'Die Linke' 'KLIMALISTE'
 'MENSCHLICHE WELT' 'MLPD' 'BSW' 'ÖDP' 'DKP' 'PIRATEN' 'Volt'
 'BÜNDNIS DEUTSCHLAND' 'ABG' 'nan' 'LETZTE GENERATION' 'PdF' 'Bündnis C'
 'FAMILIE' 'Tierschutzpartei' 'FREIE WÄHLER' 'HEIMAT' 'dieBasis'
 'TIERSCHUTZ hier!']
51.6 43.0
53.6 43.0
52.0 43.0
28.8 43.0
46.0 43.0
46.8 43.0
48.8 43.0
41.2 43.0
45.8 43.0
41.2 43.0
51.4 43.0
52.2 43.0
46.0 43.0
45.6 43.0
39.0 43.0
49.0 43.0
52.6 43.0
61.2 43.0
47.2 43.0
39.8 43.0
34.2 43.0
36.2 43.0
49.6 43.0
52.8 43.0
45.8 43.0
30.0 43.0
31.4 43.0
63.8 43.0
47.4 43.0
35.6 43.0
49.8 43.0
51.6 43.0
61.0 43.0
47.6 43.0

         Name  Top 10       Rest
0       Union    52.2  42.220884
2         SPD    50.6  38.363128
4         FDP    40.8  39.826087
8         AfD    49.0  48.520000
9       Grüne    44.8  37.533333
13  Die Linke    42.7  43.000000
17        BSW    58.4  52.900000

In [202]:
#we only take in the columns for party, list spot and age
GruppePlatzAlter_bund=data_bund[["Gruppenname","Listenplatz","Alter"]]
listofparties=GruppePlatzAlter_bund.Gruppenname.unique()
print(listofparties)
age_top_5_rest_bund={}
age_top_10_rest_bund={}

#and we iterate through the name of parties
for party in listofparties:
    #filter for the party
    partydf=GruppePlatzAlter_bund[GruppePlatzAlter_bund["Gruppenname"]==party]
    #calculate the correlation using spearman-rank coefficient to exclude non-normality
    partydf_sorted=partydf.sort_values(by="Listenplatz",ascending=True)
    #and save the coefficient for each party in a dictionary
    top5=partydf_sorted.head()["Alter"].mean()
    rest5=partydf_sorted.iloc[5:]["Alter"].mean()
    top10=partydf_sorted.head(10)["Alter"].mean()
    rest10=partydf_sorted.iloc[10:]["Alter"].mean()
    print(top5,rest)

    age_top_5_rest_bund[party]=[top5,rest5]
    age_top_10_rest_bund[party]=[top10,rest10]

age_df_top10_bund=pd.DataFrame(age_top_10_rest_bund).T.reset_index()
age_df_top10_bund.columns=["Name","Top 10","Rest"]
age_df_top10_bund=age_df_top10_bund[age_df_top10_bund.Name.str.contains("|".join(filterlist))]
age_df_top10_bund

['Union' 'SPD' 'FDP' 'Grüne' 'AfD' 'Die Linke' 'FREIE WÄHLER' 'dieBasis'
 'du.' 'LKR' 'SSW' 'V-Partei³' 'Die PARTEI' 'MLPD' 'DKP' 'Volt'
 'EB: Schlüter' 'EB: Kerkhoff' 'PIRATEN' 'EB: Löwe' 'Tierschutzpartei'
 'EB: Krüger' 'UNABHÄNGIGE' 'ÖDP' 'NPD' 'EB: Janoske-Kizildag' 'ÖLDP'
 'EB: Lenz' 'EB: Balzer' 'EB: Gums' 'EB: Großkopf' 'EB: Weich'
 'Die Humanisten' 'EB: Kober' 'EB: Neumann' 'EB: Kunick' 'EB: Göller'
 'EB: Wieczorek' 'EB: Herzig' 'EB: Jagau' 'EB: Deutsch' 'EB: Rosenbaum'
 'EB: Wolter' 'EB: Gust' 'EB: Wiesenthal' 'EB: Hönig'
 'EB: Schäuble-Leopold' 'EB: Glamann' 'EB: Eckelmann' 'EB: Buro'
 'EB: Schlippenbach' 'EB: Lorenz' 'EB: Schütz' 'EB: Conrad' 'EB: Hinners'
 'EB: Roloff' 'EB: Müller' 'EB: Grütte' 'EB: Charnow' 'EB: Gabler'
 'EB: Hitzer' 'EB: Commentz' 'FAMILIE' 'EB: Kaun' 'EB: Marquardt'
 'EB: Janda' 'EB: Bibiella' 'EB: Janowski' 'Tierschutzallianz' 'EB: Barth'
 'Gartenpartei' '#TeamFranka' 'EB: Rohne' 'EB: Wassenaar' 'EB: Zimmermann'
 'EB: Fielsch' 'EB: Zebian' 'Gesundheitsforschung' 'Die Grauen'
 'BÜNDNIS21' 'EB: Bunte' 'EB: Voß' 'MENSCHLICHE WELT' 'Team Todenhöfer'
 'sonstige' 'EB: Pape' 'EB: Lindlmair' 'EB: Moser' 'B*' 'EB: Wendt'
 'EB: Snelinski' 'EB: Böving' 'EB: Teßmann' 'LIEBE' 'EB: Przybylski'
 'EB: Podjaski' 'EB: Goldbeck' 'Volksabstimmung' 'EB: Blum' 'EB: Kramer'
 'EB: Klimczak' 'EB: Herrmann' 'Bündnis C' 'EB: Richter' 'EB: Baumanns'
 'EB: Herbert' 'EB: Opfer' 'EB: Ergin' 'EB: Saygili' 'EB: Bilo'
 'EB: Wetklo' 'EB: Georgiou' 'EB: Kaldewei' 'EB: Dumberger'
 'EB: Geselbracht' 'EB: Brehm' 'EB: Martinschledde' 'EB: Zajonc'
 'EB: Sonnabend' 'EB: Tropp' 'EB: Hofmann' 'EB: Trojanowski' 'EB: Peiler'
 'EB: Meister' 'EB: Asmus' 'EB: Oschkinat' 'EB: Härtlein' 'EB: Hummitzsch'
 'EB: Kohl' 'EB: Bayer' 'EB: Schöllner' 'EB: Zimmet' 'EB: Blickle'
 'EB: Brähmig' 'EB: Queck' 'EB: Fuchs' 'EB: Häupl' 'BüSo' 'EB: Hannig'
 '#KLIMAfirst' 'EB: Weidemann' 'EB: Röhder' 'EB: Reichel' 'EB: Krajak'
 'III. Weg' 'EB: Gerisch' 'EB: Meyer' 'EB: Mascher' 'EB: El-Fayoumy'
 'EB: Schmidt' 'EB: Klement' 'EB: Marinello' 'EB: Carstensen' 'TNT'
 'EB: Hemm' 'EB: Schlossbauer' 'EB: Rehbein' 'EB: Stachowiak' 'EB: Stein'
 'EB: Grammbitter' 'Graue Panther' 'THP' 'EB: Nebeler' 'EB: Berger'
 'EB: Bieling' 'EB: Erdmann' 'EB: Mandel' 'EB: Sayn' 'EB: Krämer'
 'EB: Vollmer' 'EB: Bartholomé' 'EB: Moritz' 'EB: Engels' 'EB: Seiffert'
 'EB: Heil' 'EB: Pohl' 'EB: Hackel' 'EB: Schöne' 'EB: Bechtel'
 'EB: Wittner' 'EB: Schwang' 'EB: Hoppe' 'EB: Lauer' 'EB: Mobasheri'
 'EB: Koccu' 'EB: Vogler' 'BP' 'EB: Hilz' 'EB: Klopstock' 'EB: Dönmez'
 'EB: Sommerfeldt' 'EB: Englisch' 'EB: Ryssel' 'EB: Manz'
 'EB: Pettenkofer' 'EB: Knott' 'EB: Gradl' 'EB: Friedl' 'EB: Bauer'
 'EB: Dippel' 'EB: Roensch' 'EB: Löhnert' 'EB: Kunstmann' 'EB: Kalupner'
 'EB: Henig' 'EB: Eppel' 'EB: Schlot' 'EB: Lembach' 'EB: Kaiser'
 'EB: Schürer' 'EB: Kolb' 'EB: Sirin' 'EB: Baydar' 'EB: Langhans'
 'EB: Dorn' 'DiB' 'BÜRGERBEWEGUNG' 'EB: Ressdorf' 'EB: Demir' 'EB: Miller'
 'EB: Tolzin' 'EB: Gibanica' 'EB: Novotny' 'EB: Hartmann' 'KlimalisteBW'
 'EB: Mund' 'EB: Rapps' 'EB: Schmitt' 'EB: Fritsch' 'EB: Herrlinger'
 'EB: Harting' 'EB: Ringger' 'EB: Poss' 'SGP' 'PdF' 'LfK']
59.2 43.0
49.0 43.0
52.2 43.0
49.8 43.0
52.2 43.0
58.0 43.0
41.6 43.0
53.0 43.0
40.6 43.0
59.2 43.0
46.2 43.0
36.4 43.0
33.8 43.0
49.0 43.0
60.2 43.0
31.8 43.0
40.0 43.0
52.0 43.0
46.2 43.0
68.0 43.0
44.8 43.0
20.0 43.0
52.0 43.0
52.0 43.0
62.2 43.0
54.0 43.0
41.0 43.0
64.0 43.0
70.0 43.0
62.0 43.0
22.0 43.0
70.0 43.0
30.2 43.0
30.0 43.0
67.0 43.0
66.5 43.0
71.0 43.0
51.0 43.0
68.0 43.0
59.0 43.0
70.0 43.0
71.0 43.0
57.0 43.0
56.0 43.0
62.0 43.0
70.0 43.0
58.0 43.0
60.0 43.0
58.0 43.0
61.0 43.0
57.0 43.0
55.0 43.0
48.0 43.0
63.0 43.0
67.0 43.0
44.0 43.0
56.0 43.0
59.0 43.0
50.0 43.0
49.0 43.0
54.0 43.0
54.0 43.0
37.0 43.0
59.0 43.0
58.0 43.0
62.0 43.0
46.0 43.0
48.0 43.0
48.0 43.0
65.0 43.0
59.8 43.0
40.0 43.0
38.0 43.0
74.0 43.0
71.0 43.0
56.0 43.0
56.0 43.0
44.0 43.0
53.8 43.0
54.0 43.0
58.0 43.0
70.0 43.0
52.6 43.0
40.8 43.0
51.0 43.0
47.0 43.0
53.0 43.0
37.0 43.0
39.0 43.0
41.0 43.0
41.0 43.0
45.0 43.0
24.0 43.0
43.6 43.0
36.0 43.0
33.0 43.0
51.0 43.0
77.5 43.0
33.0 43.0
61.0 43.0
49.0 43.0
54.0 43.0
48.6 43.0
29.0 43.0
22.0 43.0
69.0 43.0
54.0 43.0
37.0 43.0
47.0 43.0
64.0 43.0
62.0 43.0
66.0 43.0
48.0 43.0
64.0 43.0
46.0 43.0
21.0 43.0
54.0 43.0
45.0 43.0
67.0 43.0
61.0 43.0
21.5 43.0
19.0 43.0
47.0 43.0
68.0 43.0
45.0 43.0
39.0 43.0
41.0 43.0
73.0 43.0
56.0 43.0
55.0 43.0
62.0 43.0
35.0 43.0
63.0 43.0
64.0 43.0
62.0 43.0
38.0 43.0
72.0 43.0
52.8 43.0
51.0 43.0
61.0 43.0
53.0 43.0
59.0 43.0
43.0 43.0
59.0 43.0
46.8 43.0
62.0 43.0
43.0 43.0
50.0 43.0
19.0 43.0
49.0 43.0
46.0 43.0
70.0 43.0
38.0 43.0
32.0 43.0
48.0 43.0
40.0 43.0
37.0 43.0
28.0 43.0
64.0 43.0
66.0 43.0
38.0 43.0
50.0 43.0
52.0 43.0
60.0 43.0
48.0 43.0
51.0 43.0
34.0 43.0
30.0 43.0
69.0 43.0
57.0 43.0
72.0 43.0
72.0 43.0
39.0 43.0
42.0 43.0
35.0 43.0
20.0 43.0
47.0 43.0
47.0 43.0
57.0 43.0
25.0 43.0
73.0 43.0
56.0 43.0
29.0 43.0
43.0 43.0
46.0 43.0
40.0 43.0
46.6 43.0
64.0 43.0
24.0 43.0
23.0 43.0
40.0 43.0
68.0 43.0
49.0 43.0
44.0 43.0
64.0 43.0
53.0 43.0
65.0 43.0
42.0 43.0
62.0 43.0
50.0 43.0
44.0 43.0
21.0 43.0
45.0 43.0
81.0 43.0
33.0 43.0
41.0 43.0
66.0 43.0
39.0 43.0
32.0 43.0
60.0 43.0
55.0 43.0
21.0 43.0
30.0 43.0
63.0 43.0
52.0 43.0
57.0 43.0
54.6 43.0
67.0 43.0
50.0 43.0
52.0 43.0
63.0 43.0
23.0 43.0
29.0 43.0
76.0 43.0
40.6 43.0
59.0 43.0
72.0 43.0
29.0 43.0
23.0 43.0
69.0 43.0
51.0 43.0
66.0 43.0
51.0 43.0
54.75 43.0
24.4 43.0
43.5 43.0

        Name  Top 10       Rest
0      Union    55.8  46.615012
1        SPD    52.0  44.479167
2        FDP    49.4  43.279621
3      Grüne    49.2  42.113208
4        AfD    55.6  51.212254
5  Die Linke    53.0  43.650526

In [203]:
age_df_top10_eu["Gruppe"]="EU"
age_df_top10_bund["Gruppe"]="Bund"
df_eu_bund=pd.concat([age_df_top10_eu,age_df_top10_bund])
df_eu_bund=df_eu_bund.sort_values(by=["Gruppe","Name"])
df_eu_bund.to_csv("df_eu_bund_top10.csv",index=False)
df_eu_bund

         Name  Top 10       Rest Gruppe
0       Union    52.2  42.220884     EU
2         SPD    50.6  38.363128     EU
4         FDP    40.8  39.826087     EU
8         AfD    49.0  48.520000     EU
9       Grüne    44.8  37.533333     EU
13  Die Linke    42.7  43.000000     EU
17        BSW    58.4  52.900000     EU
0       Union    55.8  46.615012   Bund
1         SPD    52.0  44.479167   Bund
2         FDP    49.4  43.279621   Bund
3       Grüne    49.2  42.113208   Bund
4         AfD    55.6  51.212254   Bund
5   Die Linke    53.0  43.650526   Bund

In [190]:
age_df_top10.columns=["Name","Top 10","Rest"]

age_df_top10=age_df_top10[age_df_top10.Name.str.contains("|".join(filterlist))]
age_df_top10.to_csv("top_10_to_rest.csv",index=False)

In [162]:
#we create dataframes that we merge
coeff_bund_df=pd.DataFrame(coeff_bund,index=["corr"]).T.reset_index()
coeff_eu_df=pd.DataFrame(coeff_eu,index=["corr"]).T.reset_index()
coefficients_age=pd.merge(coeff_bund_df,coeff_eu_df,on="index",suffixes=["_bund","_eu"],how="outer")
coefficients_age

           index  corr_bund   corr_eu
0    #KLIMAfirst        NaN       NaN
1    #TeamFranka        NaN       NaN
2            ABG        NaN       NaN
3            AfD   0.004412 -0.024252
4             B*        NaN       NaN
..           ...        ...       ...
244          du.   0.053734       NaN
245          nan        NaN -0.011429
246     sonstige        NaN       NaN
247          ÖDP   0.152781  0.031183
248         ÖLDP        NaN       NaN

[249 rows x 3 columns]

In [163]:
df_parties_coefficients=coefficients_age[coefficients_age["index"].str.contains("|".join(filterlist))]
df_parties_coefficients

         index  corr_bund   corr_eu
3          AfD   0.004412 -0.024252
7          BSW        NaN -0.210685
18   Die Linke  -0.391106  0.060971
207        FDP  -0.096238  0.081360
212      Grüne  -0.056844 -0.163231
230        SPD  -0.071716 -0.153252
239      Union  -0.197628 -0.264758

In [164]:
df_parties_coefficients.to_csv("coefficients.csv",index=False)

*We see that for CDU, SPD and greens the correlation is stronger, for AfD and FDP it is debatable, and for AfD,CSU it is actually the other way*

In [83]:
data_bund.columns

Index(['Wahlart', 'Wahltag', 'Titel', 'Namenszusatz', 'Nachname', 'Vornamen',
       'Künstlername', 'Geschlecht', 'Geburtsjahr', 'PLZ', 'Wohnort', 'Staat',
       'WohnortLandAbk', 'Geburtsort', 'Staatsangehörigkeit', 'Beruf',
       'Berufsschluessel', 'Kennzeichen', 'Gebietsart', 'Gebietsnummer',
       'Gebietsname', 'GebietLandAbk', 'Gruppenname', 'GruppennameLang',
       'Listenplatz', 'VerknKennzeichen', 'VerknGebietsart',
       'VerknGebietsnummer', 'VerknGebietsname', 'VerknGebietLandAbk',
       'VerknGruppenname', 'VerknListenplatz', 'VorpGewaehlt',
       'Berufsbezeichnung', 'Alter', 'Listenplatz_gemeinsam'],
      dtype='object')

In [84]:
data_bund_gender=data_bund[['Gruppenname',"Geschlecht","Alter"]].groupby(['Gruppenname',"Geschlecht"]).count().reset_index()
data_europa_gender=data_europa[['Gruppenname',"Geschlecht","Alter"]].groupby(['Gruppenname',"Geschlecht"]).count().reset_index()
data_europa_gender

   Gruppenname Geschlecht  Alter
0          ABG          m      3
1          ABG          w      6
2          AfD          m     31
3          AfD          w      4
4          BIG          m     18
..         ...        ...    ...
61    dieBasis          w      2
62         nan          m     16
63         nan          w      3
64         ÖDP          m     59
65         ÖDP          w     28

[66 rows x 3 columns]

In [120]:
data_bund_gender["gender_share"]=data_bund_gender["Alter"]*100/data_bund_gender.groupby("Gruppenname")["Alter"].transform('sum')
data_europa_gender["gender_share"]=data_europa_gender["Alter"]*100/data_europa_gender.groupby("Gruppenname")["Alter"].transform('sum')
data_bund_europa_gender=pd.merge(data_bund_gender,data_europa_gender,on=["Gruppenname","Geschlecht"],suffixes=["_bund","_europa"], how="outer")
data_bund_europa_gender

,Gruppenname,Geschlecht,Alter_bund,gender_share_bund,Alter_europa,gender_share_europa
0,#KLIMAfirst,m,1.0,100.000000,NaN,NaN
1,#TeamFranka,w,1.0,100.000000,NaN,NaN
2,ABG,m,NaN,NaN,3.0,33.333333
3,ABG,w,NaN,NaN,6.0,66.666667
4,AfD,m,404.0,86.509636,31.0,88.571429
...,...,...,...,...,...,...
300,nan,w,NaN,NaN,3.0,15.789474
301,sonstige,w,1.0,100.000000,NaN,NaN
302,ÖDP,m,240.0,71.005917,59.0,67.816092
303,ÖDP,w,98.0,28.994083,28.0,32.183908
304,ÖLDP,w,1.0,100.000000,NaN,NaN

In [121]:
data_bund_europa_gender_filtered=data_bund_europa_gender[data_bund_europa_gender["Gruppenname"].astype(str).str.contains('|'.join(filterlist))]
data_bund_europa_gender_filtered

,Gruppenname,Geschlecht,Alter_bund,gender_share_bund,Alter_europa,gender_share_europa
4,AfD,m,404.0,86.509636,31.0,88.571429
5,AfD,w,63.0,13.490364,4.0,11.428571
11,BSW,m,NaN,NaN,13.0,65.000000
12,BSW,w,NaN,NaN,7.0,35.000000
32,Die Linke,d,1.0,0.206186,NaN,NaN
33,Die Linke,m,286.0,58.969072,10.0,50.000000
34,Die Linke,w,198.0,40.824742,10.0,50.000000
228,FDP,m,491.0,76.360809,150.0,77.319588
229,FDP,w,152.0,23.639191,44.0,22.680412
237,Grüne,m,333.0,47.639485,18.0,45.000000
238,Grüne,w,366.0,52.360515,22.0,55.000000
272,SPD,m,421.0,57.671233,93.0,49.206349
273,SPD,w,309.0,42.328767,96.0,50.793651
288,Union,m,524.0,62.679426,135.0,52.123552
289,Union,w,312.0,37.320574,124.0,47.876448

In [122]:
data_bund_europa_gender_filtered[data_bund_europa_gender_filtered["Geschlecht"]=="w"].to_csv("gender_share_comp.csv",index=False)

In [167]:
data_bund_europa_gender_filtered[data_bund_europa_gender_filtered["Geschlecht"]=="w"]

,Gruppenname,Geschlecht,Alter_bund,gender_share_bund,Alter_europa,gender_share_europa
5,AfD,w,63.0,13.490364,4.0,11.428571
12,BSW,w,NaN,NaN,7.0,35.000000
34,Die Linke,w,198.0,40.824742,10.0,50.000000
229,FDP,w,152.0,23.639191,44.0,22.680412
238,Grüne,w,366.0,52.360515,22.0,55.000000
273,SPD,w,309.0,42.328767,96.0,50.793651
289,Union,w,312.0,37.320574,124.0,47.876448