In [24]:
import pandas as pd
import numpy as np

In [25]:
berufsschluessel=pd.read_excel("../data/ew2024_bewerb/ab2017_klassifikation_berufe.xlsx",sheet_name="Berufshauptgruppen",skiprows=4,dtype=str)
berufbereiche=pd.read_excel("../data/ew2024_bewerb/ab2017_klassifikation_berufe.xlsx",sheet_name="Berufsbereiche",skiprows=5,dtype=str)
berufbereiche=berufbereiche.rename(columns={"Unnamed: 2":"Bezeichnung"})
berufbereiche=berufbereiche.dropna(thresh=2)
berufbereiche

   von  bis                                        Bezeichnung
1   01  NaN                                            Militär
2   04  NaN                  Schüler, Auszubildende, Studenten
3   05  NaN                                Rentner, Pensionäre
4   06  NaN                        Hausfrauen, Arbeitssuchende
5   09  NaN  Ohne nähere Tätigkeitsangabe, z. B. Selbststän...
6   11   12     Land-, Forst- und Tierwirtschaft und Gartenbau
7   21   29        Rohstoffgewinnung, Produktion und Fertigung
8   31   34    Bau, Architektur, Vermessung und Gebäudetechnik
9   41   43        Naturwissenschaft, Geografie und Informatik
10  51   54           Verkehr, Logistik, Schutz und Sicherheit
11  61   63  Kaufmännische Dienstleistungen, Warenhandel, V...
12  71   73  Unternehmensorganisation, Buchhaltung, Recht u...
13  81   84          Gesundheit, Soziales, Lehre und Erziehung
14  91   94  Sprach-, Literatur-, Geistes-, Gesellschafts- ...

In [31]:
berufsschluessel

   Berufs-schlüssel                                        Bezeichnung
0               NaN                                                NaN
1                01                                            Militär
2                04                  Schüler, Auszubildende, Studenten
3                05                                Rentner, Pensionäre
4                06                        Hausfrauen, Arbeitssuchende
5                09  Ohne nähere Tätigkeitsangabe, z. B. Selbststän...
6                11            Land-, Tier- und Forstwirtschaftsberufe
7                12                      Gartenbauberufe und Floristik
8                21  Rohstoffgewinnung und -aufbereitung, Glas- und...
9                22  Kunststoffherstellung und -verarbeitung, Holzb...
10               23  Papier- und Druckberufe, technische Mediengest...
11               24  Metallerzeugung und -bearbeitung, Metallbauberufe
12               25               Maschinen- und Fahrzeugtechnikberufe
13               26           Mechatronik-, Energie- und Elektroberufe
14               27  Technische Forschungs-, Entwicklungs-, Konstru...
15               28                            Textil- und Lederberufe
16               29          Lebensmittelherstellung und -verarbeitung
17               31   Bauplanungs-, Architektur- und Vermessungsberufe
18               32                            Hoch- und Tiefbauberufe
19               33                               (Innen-)Ausbauberufe
20               34          Gebäude- und versorgungstechnische Berufe
21               41   Mathematik-, Biologie-, Chemie- und Physikberufe
22               42       Geologie-, Geografie- und Umweltschutzberufe
23               43  Informatik-, Informations- und Kommunikationst...
24               51  Verkehrs- und Logistikberufe (außer Fahrzeugfü...
25               52    Führer/innen von Fahrzeug- und Transportgeräten
26               53       Schutz-, Sicherheits- und Überwachungsberufe
27               54                                   Reinigungsberufe
28               61            Einkaufs-, Vertriebs- und Handelsberufe
29               62                                     Verkaufsberufe
30               63           Tourismus-, Hotel- und Gaststättenberufe
31               71    Berufe in Unternehmensführung und -organisation
32               72  Berufe in Finanzdienstleistungen, Rechnungswes...
33               73                     Berufe in Recht und Verwaltung
34               81                     Medizinische Gesundheitsberufe
35               82  Nichtmedizinische Gesundheits-, Körperpflege- ...
36               83  Erziehung, soziale und hauswirtschaftliche Ber...
37               84                    Lehrende und ausbildende Berufe
38               91  Sprach-, literatur-, geistes-, gesellschafts- ...
39               92  Werbung, Marketing, kaufmännische und redaktio...
40               93  Produktdesign und kunsthandwerkliche Berufe, b...
41               94              Darstellende und unterhaltende Berufe

In [30]:
berufbereiche["bis"]=np.where(berufbereiche["bis"].isna(),berufbereiche["von"],berufbereiche["bis"])
berufbereiche

   von bis                                        Bezeichnung
1   01  01                                            Militär
2   04  04                  Schüler, Auszubildende, Studenten
3   05  05                                Rentner, Pensionäre
4   06  06                        Hausfrauen, Arbeitssuchende
5   09  09  Ohne nähere Tätigkeitsangabe, z. B. Selbststän...
6   11  12     Land-, Forst- und Tierwirtschaft und Gartenbau
7   21  29        Rohstoffgewinnung, Produktion und Fertigung
8   31  34    Bau, Architektur, Vermessung und Gebäudetechnik
9   41  43        Naturwissenschaft, Geografie und Informatik
10  51  54           Verkehr, Logistik, Schutz und Sicherheit
11  61  63  Kaufmännische Dienstleistungen, Warenhandel, V...
12  71  73  Unternehmensorganisation, Buchhaltung, Recht u...
13  81  84          Gesundheit, Soziales, Lehre und Erziehung
14  91  94  Sprach-, Literatur-, Geistes-, Gesellschafts- ...

In [36]:
berufbereiche_dict={}
for index, row in berufbereiche.iterrows():
    print(row["von"],row["bis"])
    for i in range(int(row["von"]),int(row["bis"])+1):
        berufbereiche_dict[i]=row["Bezeichnung"]
        berufbereiche_dict
berufbereiche_dict

01 01
04 04
05 05
06 06
09 09
11 12
21 29
31 34
41 43
51 54
61 63
71 73
81 84
91 94

{1: 'Militär',
 4: 'Schüler, Auszubildende, Studenten',
 5: 'Rentner, Pensionäre',
 6: 'Hausfrauen, Arbeitssuchende',
 9: 'Ohne nähere Tätigkeitsangabe, z. B. Selbstständige',
 11: 'Land-, Forst- und Tierwirtschaft und Gartenbau',
 12: 'Land-, Forst- und Tierwirtschaft und Gartenbau',
 21: 'Rohstoffgewinnung, Produktion und Fertigung',
 22: 'Rohstoffgewinnung, Produktion und Fertigung',
 23: 'Rohstoffgewinnung, Produktion und Fertigung',
 24: 'Rohstoffgewinnung, Produktion und Fertigung',
 25: 'Rohstoffgewinnung, Produktion und Fertigung',
 26: 'Rohstoffgewinnung, Produktion und Fertigung',
 27: 'Rohstoffgewinnung, Produktion und Fertigung',
 28: 'Rohstoffgewinnung, Produktion und Fertigung',
 29: 'Rohstoffgewinnung, Produktion und Fertigung',
 31: 'Bau, Architektur, Vermessung und Gebäudetechnik',
 32: 'Bau, Architektur, Vermessung und Gebäudetechnik',
 33: 'Bau, Architektur, Vermessung und Gebäudetechnik',
 34: 'Bau, Architektur, Vermessung und Gebäudetechnik',
 41: 'Naturwissenschaft, Geografie und Informatik',
 42: 'Naturwissenschaft, Geografie und Informatik',
 43: 'Naturwissenschaft, Geografie und Informatik',
 51: 'Verkehr, Logistik, Schutz und Sicherheit',
 52: 'Verkehr, Logistik, Schutz und Sicherheit',
 53: 'Verkehr, Logistik, Schutz und Sicherheit',
 54: 'Verkehr, Logistik, Schutz und Sicherheit',
 61: 'Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus',
 62: 'Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus',
 63: 'Kaufmännische Dienstleistungen, Warenhandel, Vertrieb, Hotel und Tourismus',
 71: 'Unternehmensorganisation, Buchhaltung, Recht und Verwaltung',
 72: 'Unternehmensorganisation, Buchhaltung, Recht und Verwaltung',
 73: 'Unternehmensorganisation, Buchhaltung, Recht und Verwaltung',
 81: 'Gesundheit, Soziales, Lehre und Erziehung',
 82: 'Gesundheit, Soziales, Lehre und Erziehung',
 83: 'Gesundheit, Soziales, Lehre und Erziehung',
 84: 'Gesundheit, Soziales, Lehre und Erziehung',
 91: 'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung',
 92: 'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung',
 93: 'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung',
 94: 'Sprach-, Literatur-, Geistes-, Gesellschafts- und Wirtschaftswissenschaften,\nMedien, Kunst, Kultur und Gestaltung'}

In [53]:
data_europa=pd.read_csv("../data/ew2024_bewerb/ew2024_bewerb_uft8.csv",sep=";",skiprows=8)
data_bund=pd.read_csv("../data/btw2021_bewerb/btw2021_bewerb_utf8.csv",sep=";",skiprows=8)
data_europa.columns

Index(['Wahlart', 'Wahltag', 'Titel', 'Namenszusatz', 'Name', 'Vornamen',
       'Künstlername', 'Geschlecht', 'Geburtsjahr', 'PLZ', 'Wohnort', 'Staat',
       'WohnortLand', 'Geburtsort', 'Staatsangehörigkeit', 'Beruf',
       'Berufsschluessel', 'Kennzeichen', 'Gebietsart', 'Gebietsnummer',
       'Gebietsname', 'GebietLandAbk', 'Gruppenname', 'GruppennameLang',
       'Listenplatz', 'VerknKennzeichen', 'VerknGebietsart',
       'VerknGebietsnummer', 'VerknGebietsname', 'VerknGebietLandAbk',
       'VerknGruppenname', 'VerknListenplatz', 'VorpGewaehlt'],
      dtype='object')

In [54]:
data_bund["Berufsbezeichnung"]=data_bund["Berufsschluessel"].astype(int)
data_bund["Berufsbezeichnung"]=data_bund["Berufsbezeichnung"].replace(berufbereiche_dict)

data_europa["Berufsbezeichnung"]=data_europa["Berufsschluessel"].astype(int)
data_europa["Berufsbezeichnung"]=data_europa["Berufsbezeichnung"].replace(berufbereiche_dict)

In [55]:
data_bund_jobs=data_bund[["Nachname","Berufsbezeichnung","Gruppenname"]].groupby(["Gruppenname","Berufsbezeichnung"]).count().reset_index()
data_bund_jobs

     Gruppenname                                  Berufsbezeichnung  Nachname
0    #KLIMAfirst          Gesundheit, Soziales, Lehre und Erziehung         1
1    #TeamFranka        Rohstoffgewinnung, Produktion und Fertigung         1
2            AfD    Bau, Architektur, Vermessung und Gebäudetechnik         8
3            AfD          Gesundheit, Soziales, Lehre und Erziehung        45
4            AfD  Kaufmännische Dienstleistungen, Warenhandel, V...        22
..           ...                                                ...       ...
590          ÖDP                  Schüler, Auszubildende, Studenten        38
591          ÖDP  Sprach-, Literatur-, Geistes-, Gesellschafts- ...        19
592          ÖDP  Unternehmensorganisation, Buchhaltung, Recht u...        38
593          ÖDP           Verkehr, Logistik, Schutz und Sicherheit         9
594         ÖLDP  Sprach-, Literatur-, Geistes-, Gesellschafts- ...         1

[595 rows x 3 columns]

In [56]:
data_europa_jobs=data_europa[["Name","Berufsbezeichnung","Gruppenname"]].groupby(["Gruppenname","Berufsbezeichnung"]).count().reset_index()
data_europa_jobs

    Gruppenname                                  Berufsbezeichnung  Name
0           ABG          Gesundheit, Soziales, Lehre und Erziehung     2
1           ABG  Kaufmännische Dienstleistungen, Warenhandel, V...     1
2           ABG                                Rentner, Pensionäre     1
3           ABG  Unternehmensorganisation, Buchhaltung, Recht u...     5
4           AfD          Gesundheit, Soziales, Lehre und Erziehung     3
..          ...                                                ...   ...
244         ÖDP        Rohstoffgewinnung, Produktion und Fertigung     8
245         ÖDP                  Schüler, Auszubildende, Studenten     4
246         ÖDP  Sprach-, Literatur-, Geistes-, Gesellschafts- ...     4
247         ÖDP  Unternehmensorganisation, Buchhaltung, Recht u...    15
248         ÖDP           Verkehr, Logistik, Schutz und Sicherheit     5

[249 rows x 3 columns]

In [62]:
sum_data_europa_jobs=data_europa_jobs[["Gruppenname","Name"]].groupby("Gruppenname").sum().reset_index()
sum_data_europa_jobs=sum_data_europa_jobs.rename(columns={"Name":"Sum"})
sum_data_europa_jobs

            Gruppenname  Sum
0                   ABG    9
1                   AfD   35
2                   BIG   23
3                   BSW   20
4   BÜNDNIS DEUTSCHLAND   11
5             Bündnis C   13
6                   CDU  193
7                   CSU   66
8                  DAVA   13
9             DIE LINKE   20
10                  DKP   43
11           Die PARTEI  211
12              FAMILIE   11
13                  FDP  194
14         FREIE WÄHLER   27
15                GRÜNE   40
16               HEIMAT   15
17           KLIMALISTE   14
18    LETZTE GENERATION   12
19     MENSCHLICHE WELT    9
20               MERA25   14
21                 MLPD   18
22                  PDV   13
23              PIRATEN   18
24                  PdF   10
25                  PdH   21
26                  SGP   11
27                  SPD  189
28     TIERSCHUTZ hier!    7
29     Tierschutzpartei    8
30            V-Partei³   19
31                 Volt   27
32             dieBasis    4
33                  ÖDP   87

In [16]:
data_bund

Index(['Wahlart', 'Wahltag', 'Titel', 'Namenszusatz', 'Nachname', 'Vornamen',
       'Künstlername', 'Geschlecht', 'Geburtsjahr', 'PLZ', 'Wohnort', 'Staat',
       'WohnortLandAbk', 'Geburtsort', 'Staatsangehörigkeit', 'Beruf',
       'Berufsschluessel', 'Kennzeichen', 'Gebietsart', 'Gebietsnummer',
       'Gebietsname', 'GebietLandAbk', 'Gruppenname', 'GruppennameLang',
       'Listenplatz', 'VerknKennzeichen', 'VerknGebietsart',
       'VerknGebietsnummer', 'VerknGebietsname', 'VerknGebietLandAbk',
       'VerknGruppenname', 'VerknListenplatz', 'VorpGewaehlt', 'Alter'],
      dtype='object')

In [4]:
data_europa["Alter"]=data_europa["Wahltag"].astype(str).str[-4:].astype(int)-data_europa["Geburtsjahr"]
data_bund["Alter"]=data_bund["Wahltag"].astype(str).str[-4:].astype(int)-data_bund["Geburtsjahr"]
data_bund

,Wahlart,Wahltag,Titel,Namenszusatz,Nachname,Vornamen,Künstlername,Geschlecht,Geburtsjahr,PLZ,...,Listenplatz,VerknKennzeichen,VerknGebietsart,VerknGebietsnummer,VerknGebietsname,VerknGebietLandAbk,VerknGruppenname,VerknListenplatz,VorpGewaehlt,Alter
0,BT,26.09.2021,NaN,NaN,Nicolaisen,Petra,NaN,w,1965,24997,...,NaN,Landesliste,Land,1.0,Schleswig-Holstein,SH,CDU,4.0,X,56
1,BT,26.09.2021,NaN,NaN,Brzezicha,Franziska Maria,NaN,w,1993,24896,...,NaN,Landesliste,Land,1.0,Schleswig-Holstein,SH,SPD,6.0,NaN,28
2,BT,26.09.2021,NaN,NaN,Anastasiadis,Christoph Georgios,NaN,m,1995,24943,...,NaN,Landesliste,Land,1.0,Schleswig-Holstein,SH,FDP,6.0,NaN,26
3,BT,26.09.2021,NaN,NaN,Habeck,Robert,NaN,m,1969,24939,...,NaN,Landesliste,Land,1.0,Schleswig-Holstein,SH,GRÜNE,2.0,NaN,52
4,BT,26.09.2021,NaN,NaN,Petersen-Brendel,Jan,NaN,m,1968,24997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,BT,26.09.2021,NaN,NaN,Beutler,Benno,NaN,m,1967,99610,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54
8283,BT,26.09.2021,NaN,NaN,Trautmann,Sophie,NaN,w,1998,7743,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
8284,BT,26.09.2021,NaN,NaN,Volz,Maximilian,NaN,m,1996,99423,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
8285,BT,26.09.2021,NaN,NaN,Arlaud,Leah Esther,NaN,w,1997,99086,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
8286,BT,26.09.2021,NaN,NaN,Gödel,Michael,NaN,m,1996,7743,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25

In [5]:
EU_born_years=data_europa[["Alter","Gruppenname"]].groupby("Gruppenname").mean().reset_index()
EU_born_years

            Gruppenname      Alter
0                   ABG  54.888889
1                   AfD  48.657143
2                   BIG  46.782609
3                   BSW  55.650000
4   BÜNDNIS DEUTSCHLAND  51.909091
5             Bündnis C  61.769231
6                   CDU  43.523316
7                   CSU  39.924242
8                  DAVA  47.307692
9             DIE LINKE  42.850000
10                  DKP  51.790698
11           Die PARTEI  41.815166
12              FAMILIE  46.272727
13                  FDP  39.876289
14         FREIE WÄHLER  47.888889
15                GRÜNE  39.350000
16               HEIMAT  54.600000
17           KLIMALISTE  47.071429
18    LETZTE GENERATION  41.250000
19     MENSCHLICHE WELT  50.000000
20               MERA25  38.785714
21                 MLPD  49.722222
22                  PDV  50.615385
23              PIRATEN  44.000000
24                  PdF  32.800000
25                  PdH  28.761905
26                  SGP  48.090909
27                  SPD  39.010582
28     TIERSCHUTZ hier!  46.285714
29     Tierschutzpartei  46.500000
30            V-Partei³  38.052632
31                 Volt  35.629630
32             dieBasis  61.000000
33                  ÖDP  53.390805

In [6]:
Bund_born_years=data_bund[["Alter","Gruppenname"]].groupby("Gruppenname").mean().reset_index()
Bund_born_years

     Gruppenname      Alter
0    #KLIMAfirst  61.000000
1    #TeamFranka  40.000000
2            AfD  51.306210
3             B*  39.000000
4             BP  48.868852
..           ...        ...
232     dieBasis  52.662500
233          du.  37.270270
234     sonstige  51.000000
235          ÖDP  47.360947
236         ÖLDP  41.000000

[237 rows x 2 columns]

In [11]:
GruppePlatzAlter_EU=data_europa[["Gruppenname","Listenplatz","Alter"]]
listofparties=GruppePlatzAlter_EU.Gruppenname.unique()
coeff_eu={}
for party in listofparties:
    partydf=GruppePlatzAlter_EU[GruppePlatzAlter_EU["Gruppenname"]==party]
    result=partydf[["Listenplatz","Alter"]].corr(method="spearman",min_periods=10)
    corrcoeff=result["Listenplatz"].iloc[-1]
    coeff_eu[party]=corrcoeff

In [12]:
GruppePlatzAlter_Bund=data_bund[["Gruppenname","Listenplatz","Alter"]]
listofparties=GruppePlatzAlter_Bund.Gruppenname.unique()
coeff_bund={}
for party in listofparties:
    partydf=GruppePlatzAlter_Bund[GruppePlatzAlter_Bund["Gruppenname"]==party]
    result=partydf[["Listenplatz","Alter"]].corr(method="spearman",min_periods=10)
    corrcoeff=result["Listenplatz"].iloc[-1]
    coeff_bund[party]=corrcoeff

In [13]:
coeff_bund=pd.DataFrame(coeff_bund,index=["corr"]).T.reset_index()
coeff_eu=pd.DataFrame(coeff_eu,index=["corr"]).T.reset_index()
coeff_eu

                  index      corr
0                   CDU -0.210294
1                   BIG -0.403661
2                   SPD -0.153252
3                   PdH  0.079479
4                   FDP  0.081360
5                  DAVA  0.041266
6                   PDV -0.143450
7                MERA25  0.215622
8                   AfD -0.024252
9                 GRÜNE -0.163231
10            V-Partei³ -0.170325
11                  SGP -0.455582
12           Die PARTEI  0.094154
13            DIE LINKE  0.060971
14           KLIMALISTE  0.453246
15     MENSCHLICHE WELT       NaN
16                 MLPD -0.070284
17                  BSW -0.210685
18                  CSU -0.075675
19                  ÖDP  0.031183
20                  DKP  0.079882
21              PIRATEN  0.590679
22                 Volt -0.084879
23  BÜNDNIS DEUTSCHLAND  0.533031
24                  ABG       NaN
25                  NaN       NaN
26    LETZTE GENERATION  0.693521
27                  PdF  0.060977
28            Bündnis C  0.127074
29              FAMILIE -0.072727
30     Tierschutzpartei       NaN
31         FREIE WÄHLER  0.098716
32               HEIMAT  0.344951
33             dieBasis       NaN
34     TIERSCHUTZ hier!       NaN

In [15]:
age_comp=pd.merge(Bund_born_years,EU_born_years,on="Gruppenname",suffixes=["_Bund","_EU"])
age_comp

         Gruppenname  Alter_Bund   Alter_EU
0                AfD   51.306210  48.657143
1          Bündnis C   52.500000  61.769231
2                CDU   47.343840  43.523316
3                CSU   43.594203  39.924242
4          DIE LINKE   43.843299  42.850000
5                DKP   59.614173  51.790698
6         Die PARTEI   37.089337  41.815166
7            FAMILIE   37.000000  46.272727
8                FDP   43.374806  39.876289
9       FREIE WÄHLER   49.338235  47.888889
10             GRÜNE   42.214592  39.350000
11  MENSCHLICHE WELT   52.600000  50.000000
12              MLPD   58.333333  49.722222
13           PIRATEN   45.321053  44.000000
14               PdF   25.222222  32.800000
15               SGP   54.750000  48.090909
16               SPD   44.582192  39.010582
17  Tierschutzpartei   46.909091  46.500000
18         V-Partei³   39.493827  38.052632
19              Volt   33.305439  35.629630
20          dieBasis   52.662500  61.000000
21               ÖDP   47.360947  53.390805

In [14]:
coefficients_age=pd.merge(coeff_bund,coeff_eu,on="index",suffixes=["_bund","_eu"]).dropna()
coefficients_age

           index  corr_bund   corr_eu
0            CDU  -0.133598 -0.210294
1            SPD  -0.047388 -0.153252
2            FDP  -0.068163  0.081360
3          GRÜNE  -0.064989 -0.163231
4            AfD  -0.003440 -0.024252
5      DIE LINKE  -0.393529  0.060971
6   FREIE WÄHLER   0.033751  0.098716
8      V-Partei³  -0.091599 -0.170325
9     Die PARTEI  -0.004351  0.094154
10          MLPD   0.330387 -0.070284
11           DKP   0.099751  0.079882
12          Volt  -0.049788 -0.084879
13       PIRATEN  -0.005235  0.590679
15           ÖDP   0.160556  0.031183
18     Bündnis C   0.113293  0.127074
19           CSU  -0.288686 -0.075675