In [1]:
import pandas as pd
import numpy as np

In [ ]:
#this is zensus data for all german municiaplitiesy by nationality, gender, age
zensus_data=pd.read_csv("../data/DeStatisData/1000A-3037_de_flat.csv",sep=";", dtype=str)
zensus_data

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,2_variable_code,...,3_variable_attribute_label,4_variable_code,4_variable_label,4_variable_attribute_code,4_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEOGM4,Gemeinden (Gebietsstand 15.05.2022),091720122122,"Laufen, St",ALTGR5,...,Insgesamt,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,879,Anzahl,PRS018,Personen,e
1,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEOGM4,Gemeinden (Gebietsstand 15.05.2022),130725258082,Prebberede,ALTGR5,...,Weiblich,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,21,Anzahl,PRS018,Personen,e
2,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEOGM4,Gemeinden (Gebietsstand 15.05.2022),010545453101,Oster-Ohrstedt,ALTGR5,...,Insgesamt,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,34,Anzahl,PRS018,Personen,e
3,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEOGM4,Gemeinden (Gebietsstand 15.05.2022),146250200200,"Großröhrsdorf, Stadt",ALTGR5,...,Männlich,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,562,Anzahl,PRS018,Personen,e
4,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEOGM4,Gemeinden (Gebietsstand 15.05.2022),010535343019,Buchhorst,ALTGR5,...,Männlich,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,3,Anzahl,PRS018,Personen,e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582493,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEODL1,Deutschland,DG,Deutschland,ALTGR5,...,Weiblich,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,4049165,Anzahl,PRS001,Personen,e
582494,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEODL1,Deutschland,DG,Deutschland,ALTGR5,...,Insgesamt,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,8573074,Anzahl,PRS001,Personen,e
582495,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEODL1,Deutschland,DG,Deutschland,ALTGR5,...,Insgesamt,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,3651679,Anzahl,PRS001,Personen,e
582496,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEODL1,Deutschland,DG,Deutschland,ALTGR5,...,Insgesamt,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,2673637,Anzahl,PRS001,Personen,e
582497,1000A,Bevölkerung kompakt (Gebietsstand 15.05.2022),STAG,Stichtag,2022-05-15,GEODL1,Deutschland,DG,Deutschland,ALTGR5,...,Insgesamt,STAGR2,Staatsangehörigkeit (Gruppen),LAND000,Deutschland,8798933,Anzahl,PRS001,Personen,e

In [61]:
#we rename these columns to make them more readable
zensus_data.columns

Index(['statistics_code', 'statistics_label', 'time_code', 'time_label',
       'time', '1_variable_code', '1_variable_label',
       '1_variable_attribute_code', '1_variable_attribute_label',
       '2_variable_code', '2_variable_label', '2_variable_attribute_code',
       '2_variable_attribute_label', '3_variable_code', '3_variable_label',
       '3_variable_attribute_code', '3_variable_attribute_label',
       '4_variable_code', '4_variable_label', '4_variable_attribute_code',
       '4_variable_attribute_label', 'value', 'value_unit',
       'value_variable_code', 'value_variable_label', 'value_q'],
      dtype='object')

In [62]:
zensus_data_reduced=zensus_data[[
       '1_variable_attribute_code', '1_variable_attribute_label',
       '2_variable_attribute_label', '3_variable_attribute_label',
       '4_variable_attribute_label', 'value', 
       ]]
zensus_data_reduced.columns=["ARS","Name","Altersgruppe","Geschlecht","Nationalität","Zahl"]
#and we filter for the overall number across genders
zensus_data_reduced=zensus_data_reduced[(zensus_data_reduced["Geschlecht"]!="Insgesamt")&(zensus_data_reduced["Altersgruppe"]!="14 bis 17 Jahre")]
zensus_data_reduced=zensus_data_reduced.drop_duplicates()

In [63]:
#and take only the data for all of germany
zensus_data_germany_all=zensus_data_reduced[(zensus_data_reduced["ARS"]=="DG")&(zensus_data_reduced["Altersgruppe"]!="14 bis 17 Jahre")].drop_duplicates()
zensus_data_germany_all["Zahl"]=pd.to_numeric(zensus_data_germany_all["Zahl"])
zensus_data_germany_all

       ARS         Name        Altersgruppe Geschlecht Nationalität     Zahl
582444  DG  Deutschland  75 Jahre und älter   Weiblich  Deutschland  5267125
582447  DG  Deutschland  75 Jahre und älter   Männlich  Deutschland  3531805
582450  DG  Deutschland     65 bis 74 Jahre   Weiblich  Deutschland  4528488
582452  DG  Deutschland     30 bis 39 Jahre   Weiblich  Deutschland  4244527
582453  DG  Deutschland     60 bis 64 Jahre   Weiblich  Deutschland  2864090
582455  DG  Deutschland     18 bis 24 Jahre   Weiblich  Deutschland  2429212
582456  DG  Deutschland     50 bis 59 Jahre   Männlich  Deutschland  5761724
582457  DG  Deutschland     25 bis 29 Jahre   Weiblich  Deutschland  1791550
582459  DG  Deutschland     40 bis 49 Jahre   Weiblich  Deutschland  4049165
582460  DG  Deutschland     40 bis 49 Jahre   Männlich  Deutschland  4032575
582463  DG  Deutschland     25 bis 29 Jahre   Männlich  Deutschland  1860125
582464  DG  Deutschland     18 bis 24 Jahre   Männlich  Deutschland  2537568
582465  DG  Deutschland     65 bis 74 Jahre   Männlich  Deutschland  4100575
582466  DG  Deutschland     50 bis 59 Jahre   Weiblich  Deutschland  5783110
582467  DG  Deutschland     30 bis 39 Jahre   Männlich  Deutschland  4328545
582470  DG  Deutschland     60 bis 64 Jahre   Männlich  Deutschland  2756467

In [64]:
#then additionally we do a more detailed version of all this based on municipalities
zensus_data_reduced["AGS"]=zensus_data_reduced["ARS"].str[:-7]+zensus_data_reduced["ARS"].str[-3:]
zensus_data_reduced

,ARS,Name,Altersgruppe,Geschlecht,Nationalität,Zahl,AGS
3,146250200200,"Großröhrsdorf, Stadt",40 bis 49 Jahre,Männlich,Deutschland,562,14625200
4,010535343019,Buchhorst,25 bis 29 Jahre,Männlich,Deutschland,3,01053019
5,094610000000,Bamberg,30 bis 39 Jahre,Weiblich,Deutschland,4217,09461000
8,010575739053,Nehmten,25 bis 29 Jahre,Männlich,Deutschland,6,01057053
9,083175014088,Oberharmersbach,25 bis 29 Jahre,Weiblich,Deutschland,57,08317088
...,...,...,...,...,...,...,...
582464,DG,Deutschland,18 bis 24 Jahre,Männlich,Deutschland,2537568,DG
582465,DG,Deutschland,65 bis 74 Jahre,Männlich,Deutschland,4100575,DG
582466,DG,Deutschland,50 bis 59 Jahre,Weiblich,Deutschland,5783110,DG
582467,DG,Deutschland,30 bis 39 Jahre,Männlich,Deutschland,4328545,DG
582470,DG,Deutschland,60 bis 64 Jahre,Männlich,Deutschland,2756467,DG

In [65]:
!pip3 install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from openpyxl) (2.0.0)

In [66]:
import sys
sys.path.append('/Users/halukamb/Documents/CodeRelated/HBDataviz_new/2025/01_BTW100Deutsche/Wrangle/lib/python3.12/site-packages')

In [67]:
# and we take in a different dataset based on municipalities that classifies them by how densely populated they are
stadt_data=pd.read_excel("../data/DeStatisData/AuszugGV3QAktuell.xlsx", skiprows=3,dtype=str, sheet_name="Onlineprodukt_Gemeinden30092024")
stadt_data=stadt_data.dropna(subset="Unnamed: 7")
stadt_data

,Unnamed: 0,Unnamed: 1,Land,RB,Kreis,VB,Gem,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,männlich,weiblich,je km2,Unnamed: 14,Längengrad,Breitengrad,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
2,10,NaN,01,NaN,NaN,NaN,NaN,Schleswig-Holstein,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40,41,01,0,01,NaN,NaN,"Flensburg, Stadt",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50,50,01,0,01,0000,NaN,"Flensburg, Stadt",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,60,61,01,0,01,0000,000,"Flensburg, Stadt",56.73,31.12.2022,...,45905,46762,1633,24937,"9,43751","54,78252",F02,Ostsee,01,dicht besiedelt
6,40,41,01,0,02,NaN,NaN,"Kiel, Landeshauptstadt",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16009,60,64,16,0,77,5051,023,Langenleuba-Niederhain,39.43,31.12.2022,...,877,840,44,04618,"12,589232","50,960103",E30,Altenburger Land,03,gering besiedelt
16010,60,64,16,0,77,5051,036,Nobitz,100.37,31.12.2022,...,3602,3530,71,04603,"12,48554","50,977273",E30,Altenburger Land,03,gering besiedelt
16011,50,58,16,0,77,5052,NaN,"Schmölln, Stadt",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16012,60,64,16,0,77,5052,003,Dobitschen,6.55,31.12.2022,...,210,205,63,04626,"12,280087","50,95643",E30,Altenburger Land,03,gering besiedelt
16013,60,63,16,0,77,5052,043,"Schmölln, Stadt",94.53,31.12.2022,...,6675,6932,144,04626,"12,354035","50,895281",E30,Altenburger Land,02,mittlere Besiedlungsdichte

In [68]:
#so we end up having a dataset that says for each municipality how densely populated it is
stadt_data["AGS"]=stadt_data["Land"]+stadt_data["RB"]+stadt_data["Kreis"]+stadt_data["Gem"]
stadt_data=stadt_data.dropna(subset=["AGS"])
stadt_data_red=stadt_data[["AGS","Unnamed: 20"]]
stadt_data_red.columns=["AGS","Besiedelung"]
stadt_data_red

            AGS                 Besiedelung
5      01001000             dicht besiedelt
8      01002000             dicht besiedelt
11     01003000             dicht besiedelt
14     01004000             dicht besiedelt
17     01051011  mittlere Besiedlungsdichte
...         ...                         ...
16008  16077011            gering besiedelt
16009  16077023            gering besiedelt
16010  16077036            gering besiedelt
16012  16077003            gering besiedelt
16013  16077043  mittlere Besiedlungsdichte

[10959 rows x 2 columns]

In [69]:
#we merge this list with the zensus data
zensus_data_red_vars=pd.merge(zensus_data_reduced,stadt_data_red,on="AGS")
zensus_data_red_vars=zensus_data_red_vars[['AGS','Name', 'Altersgruppe', 'Geschlecht', 
        'Besiedelung', 'Zahl']]
zensus_data_red_vars["Zahl"]=pd.to_numeric(zensus_data_red_vars["Zahl"],errors="coerce")

In [71]:
# and then we also classify using the AGS code whether a municipality is in the east or west of germany
# berlin is excluded later from this calculation
zensus_data_red_vars["OstWest"]="Berlin"
zensus_data_red_vars["OstWest"]=np.where(zensus_data_red_vars["AGS"].str[:2].isin(["12","13","14","15","16"]),"Ost",zensus_data_red_vars["OstWest"])
zensus_data_red_vars["OstWest"]=np.where(zensus_data_red_vars["AGS"].str[:2].isin(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']),"West",zensus_data_red_vars["OstWest"])

zensus_data_red_vars.columns

Index(['AGS', 'Name', 'Altersgruppe', 'Geschlecht', 'Besiedelung', 'Zahl',
       'OstWest'],
      dtype='object')

In [72]:
zensus_data_to_sum=zensus_data_red_vars[['Altersgruppe', 'Geschlecht', 
        'Besiedelung',"OstWest", 'Zahl']]
zensus_data_to_sum.dtypes

Altersgruppe     object
Geschlecht       object
Besiedelung      object
OstWest          object
Zahl            float64
dtype: object

In [73]:
zensus_data_germany_all

       ARS         Name        Altersgruppe Geschlecht Nationalität     Zahl
582444  DG  Deutschland  75 Jahre und älter   Weiblich  Deutschland  5267125
582447  DG  Deutschland  75 Jahre und älter   Männlich  Deutschland  3531805
582450  DG  Deutschland     65 bis 74 Jahre   Weiblich  Deutschland  4528488
582452  DG  Deutschland     30 bis 39 Jahre   Weiblich  Deutschland  4244527
582453  DG  Deutschland     60 bis 64 Jahre   Weiblich  Deutschland  2864090
582455  DG  Deutschland     18 bis 24 Jahre   Weiblich  Deutschland  2429212
582456  DG  Deutschland     50 bis 59 Jahre   Männlich  Deutschland  5761724
582457  DG  Deutschland     25 bis 29 Jahre   Weiblich  Deutschland  1791550
582459  DG  Deutschland     40 bis 49 Jahre   Weiblich  Deutschland  4049165
582460  DG  Deutschland     40 bis 49 Jahre   Männlich  Deutschland  4032575
582463  DG  Deutschland     25 bis 29 Jahre   Männlich  Deutschland  1860125
582464  DG  Deutschland     18 bis 24 Jahre   Männlich  Deutschland  2537568
582465  DG  Deutschland     65 bis 74 Jahre   Männlich  Deutschland  4100575
582466  DG  Deutschland     50 bis 59 Jahre   Weiblich  Deutschland  5783110
582467  DG  Deutschland     30 bis 39 Jahre   Männlich  Deutschland  4328545
582470  DG  Deutschland     60 bis 64 Jahre   Männlich  Deutschland  2756467

In [74]:
zensus_data_to_sum

           Altersgruppe Geschlecht                 Besiedelung OstWest    Zahl
0       40 bis 49 Jahre   Männlich  mittlere Besiedlungsdichte     Ost   562.0
1       25 bis 29 Jahre   Männlich            gering besiedelt    West     3.0
2       30 bis 39 Jahre   Weiblich             dicht besiedelt    West  4217.0
3       25 bis 29 Jahre   Männlich            gering besiedelt    West     6.0
4       25 bis 29 Jahre   Weiblich            gering besiedelt    West    57.0
...                 ...        ...                         ...     ...     ...
172011  65 bis 74 Jahre   Männlich            gering besiedelt    West    15.0
172012  25 bis 29 Jahre   Männlich            gering besiedelt    West    41.0
172013  25 bis 29 Jahre   Weiblich            gering besiedelt    West    14.0
172014  25 bis 29 Jahre   Männlich            gering besiedelt    West    16.0
172015  30 bis 39 Jahre   Weiblich            gering besiedelt    West    11.0

[172016 rows x 5 columns]

In [75]:
#we change the column type to numeric
zensus_data_germany_all["Zahl"]=pd.to_numeric(zensus_data_germany_all["Zahl"])
sum_all=zensus_data_germany_all["Zahl"].sum()
sum_all

np.int64(59866651)

In [76]:
#and we calculate the share of each group in the total population
summed_by_vars=zensus_data_to_sum.groupby(['Altersgruppe', 'Geschlecht', 'Besiedelung',
       'OstWest']).sum().reset_index()
summed_by_vars["Share"]=summed_by_vars["Zahl"]*100/sum_all
summed_by_vars

,Altersgruppe,Geschlecht,Besiedelung,OstWest,Zahl,Share
0,18 bis 24 Jahre,Männlich,dicht besiedelt,Berlin,93851.0,0.156767
1,18 bis 24 Jahre,Männlich,dicht besiedelt,Ost,98768.0,0.164980
2,18 bis 24 Jahre,Männlich,dicht besiedelt,West,778471.0,1.300342
3,18 bis 24 Jahre,Männlich,gering besiedelt,Ost,92141.0,0.153910
4,18 bis 24 Jahre,Männlich,gering besiedelt,West,394006.0,0.658139
...,...,...,...,...,...,...
107,75 Jahre und älter,Weiblich,dicht besiedelt,West,1381109.0,2.306976
108,75 Jahre und älter,Weiblich,gering besiedelt,Ost,291877.0,0.487545
109,75 Jahre und älter,Weiblich,gering besiedelt,West,710788.0,1.187285
110,75 Jahre und älter,Weiblich,mittlere Besiedlungsdichte,Ost,468623.0,0.782778
111,75 Jahre und älter,Weiblich,mittlere Besiedlungsdichte,West,1970842.0,3.292053

In [77]:
#we redefine the agebands to make the subgroups bigger
summed_by_vars["Alter"]=None
summed_by_vars["Alter"]=np.where(summed_by_vars["Altersgruppe"].isin(['18 bis 24 Jahre', '25 bis 29 Jahre']),"U30",summed_by_vars["Alter"])
summed_by_vars["Alter"]=np.where(summed_by_vars["Altersgruppe"].isin(['30 bis 39 Jahre', '40 bis 49 Jahre',]),"30-49",summed_by_vars["Alter"])
summed_by_vars["Alter"]=np.where(summed_by_vars["Altersgruppe"].isin(['50 bis 59 Jahre','60 bis 64 Jahre']),"50-64",summed_by_vars["Alter"])
summed_by_vars["Alter"]=np.where(summed_by_vars["Altersgruppe"].isin(['65 bis 74 Jahre','75 Jahre und älter']),"Ü65",summed_by_vars["Alter"])
summed_by_vars.columns

Index(['Altersgruppe', 'Geschlecht', 'Besiedelung', 'OstWest', 'Zahl', 'Share',
       'Alter'],
      dtype='object')

In [78]:
#and then group again
summed_by_vars_alt=summed_by_vars[['Geschlecht', 'Besiedelung', 'OstWest', 'Zahl', 'Share',
       'Alter']]
summed_by_vars_alt_group=summed_by_vars_alt.groupby(['Geschlecht', 'Besiedelung', 'OstWest',"Alter"]).sum().reset_index()
summed_by_vars_alt_group.sort_values(by="Share").head(20)

   Geschlecht                 Besiedelung OstWest  Alter      Zahl     Share
42   Weiblich            gering besiedelt     Ost    U30  119545.0  0.199685
14   Männlich            gering besiedelt     Ost    U30  136941.0  0.228743
6    Männlich             dicht besiedelt     Ost    U30  168202.0  0.280961
2    Männlich             dicht besiedelt  Berlin    U30  173474.0  0.289767
34   Weiblich             dicht besiedelt     Ost    U30  176807.0  0.295335
30   Weiblich             dicht besiedelt  Berlin    U30  181043.0  0.302410
50   Weiblich  mittlere Besiedlungsdichte     Ost    U30  193160.0  0.322650
22   Männlich  mittlere Besiedlungsdichte     Ost    U30  208593.0  0.348429
5    Männlich             dicht besiedelt     Ost  50-64  273889.0  0.457498
3    Männlich             dicht besiedelt  Berlin    Ü65  275198.0  0.459685
33   Weiblich             dicht besiedelt     Ost  50-64  277710.0  0.463881
7    Männlich             dicht besiedelt     Ost    Ü65  293947.0  0.491003
1    Männlich             dicht besiedelt  Berlin  50-64  307641.0  0.513877
29   Weiblich             dicht besiedelt  Berlin  50-64  309446.0  0.516892
32   Weiblich             dicht besiedelt     Ost  30-49  336845.0  0.562659
4    Männlich             dicht besiedelt     Ost  30-49  365832.0  0.611078
31   Weiblich             dicht besiedelt  Berlin    Ü65  370428.0  0.618755
0    Männlich             dicht besiedelt  Berlin  30-49  386762.0  0.646039
28   Weiblich             dicht besiedelt  Berlin  30-49  386906.0  0.646280
35   Weiblich             dicht besiedelt     Ost    Ü65  413562.0  0.690805

In [79]:
summed_by_vars_alt_group.sort_values(by="Share")

   Geschlecht                 Besiedelung OstWest  Alter       Zahl     Share
42   Weiblich            gering besiedelt     Ost    U30   119545.0  0.199685
14   Männlich            gering besiedelt     Ost    U30   136941.0  0.228743
6    Männlich             dicht besiedelt     Ost    U30   168202.0  0.280961
2    Männlich             dicht besiedelt  Berlin    U30   173474.0  0.289767
34   Weiblich             dicht besiedelt     Ost    U30   176807.0  0.295335
30   Weiblich             dicht besiedelt  Berlin    U30   181043.0  0.302410
50   Weiblich  mittlere Besiedlungsdichte     Ost    U30   193160.0  0.322650
22   Männlich  mittlere Besiedlungsdichte     Ost    U30   208593.0  0.348429
5    Männlich             dicht besiedelt     Ost  50-64   273889.0  0.457498
3    Männlich             dicht besiedelt  Berlin    Ü65   275198.0  0.459685
33   Weiblich             dicht besiedelt     Ost  50-64   277710.0  0.463881
7    Männlich             dicht besiedelt     Ost    Ü65   293947.0  0.491003
1    Männlich             dicht besiedelt  Berlin  50-64   307641.0  0.513877
29   Weiblich             dicht besiedelt  Berlin  50-64   309446.0  0.516892
32   Weiblich             dicht besiedelt     Ost  30-49   336845.0  0.562659
4    Männlich             dicht besiedelt     Ost  30-49   365832.0  0.611078
31   Weiblich             dicht besiedelt  Berlin    Ü65   370428.0  0.618755
0    Männlich             dicht besiedelt  Berlin  30-49   386762.0  0.646039
28   Weiblich             dicht besiedelt  Berlin  30-49   386906.0  0.646280
35   Weiblich             dicht besiedelt     Ost    Ü65   413562.0  0.690805
40   Weiblich            gering besiedelt     Ost  30-49   435918.0  0.728148
12   Männlich            gering besiedelt     Ost  30-49   466483.0  0.779203
15   Männlich            gering besiedelt     Ost    Ü65   485150.0  0.810384
41   Weiblich            gering besiedelt     Ost  50-64   517675.0  0.864713
13   Männlich            gering besiedelt     Ost  50-64   533531.0  0.891199
48   Weiblich  mittlere Besiedlungsdichte     Ost  30-49   546866.0  0.913474
20   Männlich  mittlere Besiedlungsdichte     Ost  30-49   577893.0  0.965300
43   Weiblich            gering besiedelt     Ost    Ü65   592394.0  0.989523
46   Weiblich            gering besiedelt    West    U30   597827.0  0.998598
21   Männlich  mittlere Besiedlungsdichte     Ost  50-64   616388.0  1.029602
49   Weiblich  mittlere Besiedlungsdichte     Ost  50-64   625391.0  1.044640
23   Männlich  mittlere Besiedlungsdichte     Ost    Ü65   636360.0  1.062962
18   Männlich            gering besiedelt    West    U30   668642.0  1.116886
51   Weiblich  mittlere Besiedlungsdichte     Ost    Ü65   860756.0  1.437789
19   Männlich            gering besiedelt    West    Ü65  1206177.0  2.014773
44   Weiblich            gering besiedelt    West  30-49  1260617.0  2.105708
16   Männlich            gering besiedelt    West  30-49  1263353.0  2.110278
47   Weiblich            gering besiedelt    West    Ü65  1404234.0  2.345603
10   Männlich             dicht besiedelt    West    U30  1431674.0  2.391438
45   Weiblich            gering besiedelt    West  50-64  1437976.0  2.401965
17   Männlich            gering besiedelt    West  50-64  1445504.0  2.414540
38   Weiblich             dicht besiedelt    West    U30  1464070.0  2.445552
54   Weiblich  mittlere Besiedlungsdichte    West    U30  1487270.0  2.484305
26   Männlich  mittlere Besiedlungsdichte    West    U30  1608848.0  2.687386
11   Männlich             dicht besiedelt    West    Ü65  1833603.0  3.062812
9    Männlich             dicht besiedelt    West  50-64  2105640.0  3.517217
37   Weiblich             dicht besiedelt    West  50-64  2144819.0  3.582661
36   Weiblich             dicht besiedelt    West  30-49  2334252.0  3.899086
8    Männlich             dicht besiedelt    West  30-49  2348445.0  3.922793
39   Weiblich             dicht besiedelt    West    Ü65  2473001.0  4.130849
27   Männlich  mittlere Besiedlungsdichte    West    Ü65  2897533.0  4.839978
24   Männlich  mittlere Besiedlungsdichte    West  30-49  2946250.0  4.921354
52   Weiblich  mittlere Besiedlungsdichte    West  30-49  2987387.0  4.990069
25   Männlich  mittlere Besiedlungsdichte    West  50-64  3229345.0  5.394230
53   Weiblich  mittlere Besiedlungsdichte    West  50-64  3328957.0  5.560620
55   Weiblich  mittlere Besiedlungsdichte    West    Ü65  3676607.0  6.141327

In [80]:
#and we save this file as it is the base for our later stratification of the allbus data
summed_by_vars_alt_group.to_csv("zensus_model.csv",index=False)

In [88]:
#also we write a json file in which we save the data in a different way
#most notably, we want to only enable at max two levels of filtering because otherwise the subgroups get to small
json_array=[]
inner_dict={"Geschlecht":None,"Besiedelung":None,"OstWest":None,"Alter":None,"Share":None}

for column in summed_by_vars_alt_group.columns[:4]:
    for valueofcolumn in (summed_by_vars_alt_group[column].unique()):
        #inner_dict={"Geschlecht":None,"Besiedelung":None,"OstWest":None,"Alter":None,"Share":None}
        subgroup=summed_by_vars_alt_group[ summed_by_vars_alt_group[column]==valueofcolumn]
        #inner_dict[column]=valueofcolumn
        #print(column)
        #print(valueofcolumn)
        #print(subgroup)
        for column_of_sub in subgroup.columns[:4]:
            for valueofcolumn_of_sub in (subgroup[column_of_sub].unique()):
                #print(column_of_sub)
                #print(valueofcolumn_of_sub)
                print(column,": ",valueofcolumn)
                print(column_of_sub,": ",valueofcolumn_of_sub)
                if(valueofcolumn=="Berlin" or valueofcolumn_of_sub=="Berlin"):
                    pass
                else:
                    sub_group_2=subgroup[subgroup[column_of_sub]==valueofcolumn_of_sub]
                    inner_dict[column]=valueofcolumn
                    inner_dict[column_of_sub]=valueofcolumn_of_sub
                    print(sub_group_2["Share"].sum())

                    inner_dict["Share"]=(sub_group_2["Share"].sum().item())
                    json_array.append(inner_dict)
                    inner_dict={"Geschlecht":None,"Besiedelung":None,"OstWest":None,"Alter":None,"Share":None}


#json_array

Geschlecht :  Männlich
Geschlecht :  Männlich
48.25941908793261
Geschlecht :  Männlich
Besiedelung :  dicht besiedelt
16.644169723140184
Geschlecht :  Männlich
Besiedelung :  gering besiedelt
10.366006610257854
Geschlecht :  Männlich
Besiedelung :  mittlere Besiedlungsdichte
21.24924275453457
Geschlecht :  Männlich
OstWest :  Berlin
Geschlecht :  Männlich
OstWest :  Ost
7.956364554282484
Geschlecht :  Männlich
OstWest :  West
38.39368599389333
Geschlecht :  Männlich
Alter :  30-49
13.956047082039046
Geschlecht :  Männlich
Alter :  50-64
14.21816296355044
Geschlecht :  Männlich
Alter :  U30
7.343611053172158
Geschlecht :  Männlich
Alter :  Ü65
12.741597989170966
Geschlecht :  Weiblich
Geschlecht :  Weiblich
51.683981788124406
Geschlecht :  Weiblich
Besiedelung :  dicht besiedelt
18.155164550627696
Geschlecht :  Weiblich
Besiedelung :  gering besiedelt
10.633943762780383
Geschlecht :  Weiblich
Besiedelung :  mittlere Besiedlungsdichte
22.894873474716334
Geschlecht :  Weiblich
OstWest :  Berlin
Geschlecht :  Weiblich
OstWest :  Ost
8.513302339227227
Geschlecht :  Weiblich
OstWest :  West
41.086342043753206
Geschlecht :  Weiblich
Alter :  30-49
13.845422888278817
Geschlecht :  Weiblich
Alter :  50-64
14.435372374512816
Geschlecht :  Weiblich
Alter :  U30
7.048535252122255
Geschlecht :  Weiblich
Alter :  Ü65
16.35465127321052
Besiedelung :  dicht besiedelt
Geschlecht :  Männlich
16.644169723140184
Besiedelung :  dicht besiedelt
Geschlecht :  Weiblich
18.155164550627696
Besiedelung :  dicht besiedelt
Besiedelung :  dicht besiedelt
34.799334273767876
Besiedelung :  dicht besiedelt
OstWest :  Berlin
Besiedelung :  dicht besiedelt
OstWest :  Ost
3.853220384751437
Besiedelung :  dicht besiedelt
OstWest :  West
26.952407944115663
Besiedelung :  dicht besiedelt
Alter :  30-49
10.287934763546403
Besiedelung :  dicht besiedelt
Alter :  50-64
9.052026310942297
Besiedelung :  dicht besiedelt
Alter :  U30
6.005463709670348
Besiedelung :  dicht besiedelt
Alter :  Ü65
9.45390948960883
Besiedelung :  gering besiedelt
Geschlecht :  Männlich
10.366006610257854
Besiedelung :  gering besiedelt
Geschlecht :  Weiblich
10.633943762780383
Besiedelung :  gering besiedelt
Besiedelung :  gering besiedelt
20.999950373038235
Besiedelung :  gering besiedelt
OstWest :  Ost
5.4915999894498855
Besiedelung :  gering besiedelt
OstWest :  West
15.50835038358835
Besiedelung :  gering besiedelt
Alter :  30-49
5.7233383574437795
Besiedelung :  gering besiedelt
Alter :  50-64
6.572417087436543
Besiedelung :  gering besiedelt
Alter :  U30
2.543912135656294
Besiedelung :  gering besiedelt
Alter :  Ü65
6.160282792501621
Besiedelung :  mittlere Besiedlungsdichte
Geschlecht :  Männlich
21.24924275453457
Besiedelung :  mittlere Besiedlungsdichte
Geschlecht :  Weiblich
22.894873474716334
Besiedelung :  mittlere Besiedlungsdichte
Besiedelung :  mittlere Besiedlungsdichte
44.14411622925091
Besiedelung :  mittlere Besiedlungsdichte
OstWest :  Ost
7.124846519308387
Besiedelung :  mittlere Besiedlungsdichte
OstWest :  West
37.01926970994252
Besiedelung :  mittlere Besiedlungsdichte
Alter :  30-49
11.790196849327682
Besiedelung :  mittlere Besiedlungsdichte
Alter :  50-64
13.029091939684417
Besiedelung :  mittlere Besiedlungsdichte
Alter :  U30
5.84277045996777
Besiedelung :  mittlere Besiedlungsdichte
Alter :  Ü65
13.482056980271036
OstWest :  Berlin
Geschlecht :  Männlich
OstWest :  Berlin
Geschlecht :  Weiblich
OstWest :  Berlin
Besiedelung :  dicht besiedelt
OstWest :  Berlin
OstWest :  Berlin
OstWest :  Berlin
Alter :  30-49
OstWest :  Berlin
Alter :  50-64
OstWest :  Berlin
Alter :  U30
OstWest :  Berlin
Alter :  Ü65
OstWest :  Ost
Geschlecht :  Männlich
7.956364554282484
OstWest :  Ost
Geschlecht :  Weiblich
8.513302339227227
OstWest :  Ost
Besiedelung :  dicht besiedelt
3.853220384751437
OstWest :  Ost
Besiedelung :  gering besiedelt
5.4915999894498855
OstWest :  Ost
Besiedelung :  mittlere Besiedlungsdichte
7.124846519308387
OstWest :  Ost
OstWest :  Ost
16.46966689350971
OstWest :  Ost
Alter :  30-49
4.559862551857126
OstWest :  Ost
Alter :  50-64
4.751533537428042
OstWest :  Ost
Alter :  U30
1.6758044474543934
OstWest :  Ost
Alter :  Ü65
5.482466356770149
OstWest :  West
Geschlecht :  Männlich
38.39368599389333
OstWest :  West
Geschlecht :  Weiblich
41.086342043753206
OstWest :  West
Besiedelung :  dicht besiedelt
26.952407944115663
OstWest :  West
Besiedelung :  gering besiedelt
15.50835038358835
OstWest :  West
Besiedelung :  mittlere Besiedlungsdichte
37.01926970994252
OstWest :  West
OstWest :  West
79.48002803764653
OstWest :  West
Alter :  30-49
21.949288594747014
OstWest :  West
Alter :  50-64
22.871232599932807
OstWest :  West
Alter :  U30
12.124164085944944
OstWest :  West
Alter :  Ü65
22.535342757021766
Alter :  30-49
Geschlecht :  Männlich
13.956047082039046
Alter :  30-49
Geschlecht :  Weiblich
13.845422888278817
Alter :  30-49
Besiedelung :  dicht besiedelt
10.287934763546403
Alter :  30-49
Besiedelung :  gering besiedelt
5.7233383574437795
Alter :  30-49
Besiedelung :  mittlere Besiedlungsdichte
11.790196849327682
Alter :  30-49
OstWest :  Berlin
Alter :  30-49
OstWest :  Ost
4.559862551857126
Alter :  30-49
OstWest :  West
21.949288594747014
Alter :  30-49
Alter :  30-49
27.801469970317864
Alter :  50-64
Geschlecht :  Männlich
14.21816296355044
Alter :  50-64
Geschlecht :  Weiblich
14.435372374512816
Alter :  50-64
Besiedelung :  dicht besiedelt
9.052026310942297
Alter :  50-64
Besiedelung :  gering besiedelt
6.572417087436543
Alter :  50-64
Besiedelung :  mittlere Besiedlungsdichte
13.029091939684417
Alter :  50-64
OstWest :  Berlin
Alter :  50-64
OstWest :  Ost
4.751533537428042
Alter :  50-64
OstWest :  West
22.871232599932807
Alter :  50-64
Alter :  50-64
28.653535338063257
Alter :  U30
Geschlecht :  Männlich
7.343611053172158
Alter :  U30
Geschlecht :  Weiblich
7.048535252122255
Alter :  U30
Besiedelung :  dicht besiedelt
6.005463709670348
Alter :  U30
Besiedelung :  gering besiedelt
2.543912135656294
Alter :  U30
Besiedelung :  mittlere Besiedlungsdichte
5.84277045996777
Alter :  U30
OstWest :  Berlin
Alter :  U30
OstWest :  Ost
1.6758044474543934
Alter :  U30
OstWest :  West
12.124164085944944
Alter :  U30
Alter :  U30
14.392146305294414
Alter :  Ü65
Geschlecht :  Männlich
12.741597989170966
Alter :  Ü65
Geschlecht :  Weiblich
16.35465127321052
Alter :  Ü65
Besiedelung :  dicht besiedelt
9.45390948960883
Alter :  Ü65
Besiedelung :  gering besiedelt
6.160282792501621
Alter :  Ü65
Besiedelung :  mittlere Besiedlungsdichte
13.482056980271036
Alter :  Ü65
OstWest :  Berlin
Alter :  Ü65
OstWest :  Ost
5.482466356770149
Alter :  Ü65
OstWest :  West
22.535342757021766
Alter :  Ü65
Alter :  Ü65
29.09624926238149

In [89]:
#and we save this data to a json file
import json
with open('data_destatis.json', 'w', encoding='utf-8') as f:
    json.dump(json_array, f)

In [90]:
#and also as a csv file
json_None_df=pd.DataFrame(json_array).sort_values(by="Share")
json_None_df=json_None_df.drop_duplicates()

json_None_df.to_csv("json_none.csv",index=False)

In [91]:
json_None_df.head(40)

   Geschlecht                 Besiedelung OstWest  Alter      Share
88       None                        None     Ost    U30   1.675804
86       None            gering besiedelt    None    U30   2.543912
23       None             dicht besiedelt     Ost   None   3.853220
53       None                        None     Ost  30-49   4.559863
80       None                        None     Ost  50-64   4.751534
96       None                        None     Ost    Ü65   5.482466
32       None            gering besiedelt     Ost   None   5.491600
34       None            gering besiedelt    None  30-49   5.723338
87       None  mittlere Besiedlungsdichte    None    U30   5.842770
27       None             dicht besiedelt    None    U30   6.005464
37       None            gering besiedelt    None    Ü65   6.160283
35       None            gering besiedelt    None  50-64   6.572417
84   Weiblich                        None    None    U30   7.048535
41       None  mittlere Besiedlungsdichte     Ost   None   7.124847
83   Männlich                        None    None    U30   7.343611
4    Männlich                        None     Ost   None   7.956365
14   Weiblich                        None     Ost   None   8.513302
77       None             dicht besiedelt    None  50-64   9.052026
28       None             dicht besiedelt    None    Ü65   9.453909
25       None             dicht besiedelt    None  30-49  10.287935
2    Männlich            gering besiedelt    None   None  10.366007
30   Weiblich            gering besiedelt    None   None  10.633944
71       None  mittlere Besiedlungsdichte    None  30-49  11.790197
65       None                        None    West    U30  12.124164
91   Männlich                        None    None    Ü65  12.741598
44       None  mittlere Besiedlungsdichte    None  50-64  13.029092
46       None  mittlere Besiedlungsdichte    None    Ü65  13.482057
68   Weiblich                        None    None  30-49  13.845423
6    Männlich                        None    None  30-49  13.956047
7    Männlich                        None    None  50-64  14.218163
90       None                        None    None    U30  14.392146
17   Weiblich                        None    None  50-64  14.435372
60       None            gering besiedelt    West   None  15.508350
19   Weiblich                        None    None    Ü65  16.354651
52       None                        None     Ost   None  16.469667
1    Männlich             dicht besiedelt    None   None  16.644170
21   Weiblich             dicht besiedelt    None   None  18.155165
31       None            gering besiedelt    None   None  20.999950
3    Männlich  mittlere Besiedlungsdichte    None   None  21.249243
63       None                        None    West  30-49  21.949289

In [92]:
json_None_df.tail(20)

   Geschlecht                 Besiedelung OstWest  Alter      Share
1    Männlich             dicht besiedelt    None   None  16.644170
21   Weiblich             dicht besiedelt    None   None  18.155165
31       None            gering besiedelt    None   None  20.999950
3    Männlich  mittlere Besiedlungsdichte    None   None  21.249243
63       None                        None    West  30-49  21.949289
97       None                        None    West    Ü65  22.535343
64       None                        None    West  50-64  22.871233
13   Weiblich  mittlere Besiedlungsdichte    None   None  22.894873
59       None             dicht besiedelt    West   None  26.952408
74       None                        None    None  30-49  27.801470
82       None                        None    None  50-64  28.653535
98       None                        None    None    Ü65  29.096249
22       None             dicht besiedelt    None   None  34.799334
61       None  mittlere Besiedlungsdichte    West   None  37.019270
57   Männlich                        None    West   None  38.393686
58   Weiblich                        None    West   None  41.086342
40       None  mittlere Besiedlungsdichte    None   None  44.144116
0    Männlich                        None    None   None  48.259419
10   Weiblich                        None    None   None  51.683982
62       None                        None    West   None  79.480028

In [93]:
len(json_None_df)

55

In [94]:
len(json_None_df[json_None_df["OstWest"]!="Berlin"])

55