In [1]:
import pandas as pd
import numpy as np

In [2]:
zensus_data=pd.read_csv("../data/DeStatisData/1000A-3037_de_flat.csv",sep=";", dtype=str)

In [3]:
zensus_data.columns

Index(['statistics_code', 'statistics_label', 'time_code', 'time_label',
       'time', '1_variable_code', '1_variable_label',
       '1_variable_attribute_code', '1_variable_attribute_label',
       '2_variable_code', '2_variable_label', '2_variable_attribute_code',
       '2_variable_attribute_label', '3_variable_code', '3_variable_label',
       '3_variable_attribute_code', '3_variable_attribute_label',
       '4_variable_code', '4_variable_label', '4_variable_attribute_code',
       '4_variable_attribute_label', 'value', 'value_unit',
       'value_variable_code', 'value_variable_label', 'value_q'],
      dtype='object')

In [4]:
zensus_data_reduced=zensus_data[[
       '1_variable_attribute_code', '1_variable_attribute_label',
       '2_variable_attribute_label', '3_variable_attribute_label',
       '4_variable_attribute_label', 'value', 
       ]]
zensus_data_reduced.columns=["ARS","Name","Altersgruppe","Geschlecht","Nationalität","Zahl"]
zensus_data_reduced=zensus_data_reduced[zensus_data_reduced["Geschlecht"]!="Insgesamt"]
zensus_data_reduced=zensus_data_reduced.drop_duplicates()

In [5]:
zensus_data_germany_all=zensus_data_reduced[(zensus_data_reduced["ARS"]=="DG")&(zensus_data_reduced["Geschlecht"]!="Insgesamt")].drop_duplicates()
zensus_data_germany_all["Zahl"]=pd.to_numeric(zensus_data_germany_all["Zahl"])
zensus_data_germany_all["Zahl"]=np.where(zensus_data_germany_all["Altersgruppe"]=="14 bis 17 Jahre",zensus_data_germany_all["Zahl"]*0.5,zensus_data_germany_all["Zahl"])
zensus_data_germany_all

       ARS         Name        Altersgruppe Geschlecht Nationalität       Zahl
582444  DG  Deutschland  75 Jahre und älter   Weiblich  Deutschland  5267125.0
582447  DG  Deutschland  75 Jahre und älter   Männlich  Deutschland  3531805.0
582450  DG  Deutschland     65 bis 74 Jahre   Weiblich  Deutschland  4528488.0
582452  DG  Deutschland     30 bis 39 Jahre   Weiblich  Deutschland  4244527.0
582453  DG  Deutschland     60 bis 64 Jahre   Weiblich  Deutschland  2864090.0
582455  DG  Deutschland     18 bis 24 Jahre   Weiblich  Deutschland  2429212.0
582456  DG  Deutschland     50 bis 59 Jahre   Männlich  Deutschland  5761724.0
582457  DG  Deutschland     25 bis 29 Jahre   Weiblich  Deutschland  1791550.0
582458  DG  Deutschland     14 bis 17 Jahre   Männlich  Deutschland   684817.5
582459  DG  Deutschland     40 bis 49 Jahre   Weiblich  Deutschland  4049165.0
582460  DG  Deutschland     40 bis 49 Jahre   Männlich  Deutschland  4032575.0
582463  DG  Deutschland     25 bis 29 Jahre   Männlich  Deutschland  1860125.0
582464  DG  Deutschland     18 bis 24 Jahre   Männlich  Deutschland  2537568.0
582465  DG  Deutschland     65 bis 74 Jahre   Männlich  Deutschland  4100575.0
582466  DG  Deutschland     50 bis 59 Jahre   Weiblich  Deutschland  5783110.0
582467  DG  Deutschland     30 bis 39 Jahre   Männlich  Deutschland  4328545.0
582469  DG  Deutschland     14 bis 17 Jahre   Weiblich  Deutschland   652000.5
582470  DG  Deutschland     60 bis 64 Jahre   Männlich  Deutschland  2756467.0

In [6]:
zensus_data_reduced["AGS"]=zensus_data_reduced["ARS"].str[:-7]+zensus_data_reduced["ARS"].str[-3:]
zensus_data_reduced

,ARS,Name,Altersgruppe,Geschlecht,Nationalität,Zahl,AGS
1,130725258082,Prebberede,14 bis 17 Jahre,Weiblich,Deutschland,21,13072082
3,146250200200,"Großröhrsdorf, Stadt",40 bis 49 Jahre,Männlich,Deutschland,562,14625200
4,010535343019,Buchhorst,25 bis 29 Jahre,Männlich,Deutschland,3,01053019
5,094610000000,Bamberg,30 bis 39 Jahre,Weiblich,Deutschland,4217,09461000
7,071415009121,"Sankt Goarshausen, Loreleystadt, Stadt",14 bis 17 Jahre,Weiblich,Deutschland,14,07141121
...,...,...,...,...,...,...,...
582465,DG,Deutschland,65 bis 74 Jahre,Männlich,Deutschland,4100575,DG
582466,DG,Deutschland,50 bis 59 Jahre,Weiblich,Deutschland,5783110,DG
582467,DG,Deutschland,30 bis 39 Jahre,Männlich,Deutschland,4328545,DG
582469,DG,Deutschland,14 bis 17 Jahre,Weiblich,Deutschland,1304001,DG
582470,DG,Deutschland,60 bis 64 Jahre,Männlich,Deutschland,2756467,DG

In [7]:
#zensus_data_reduced[zensus_data_reduced["Name"]=="Berlin, Stadt"].sort_values(by="Zahl")

In [8]:
!pip3 install openpyxl

Requirement already satisfied: openpyxl in /Users/halukamb/Documents/CodeRelated/HBDataviz_new/2025/01_BTW100Deutsche/Wrangle/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/halukamb/Documents/CodeRelated/HBDataviz_new/2025/01_BTW100Deutsche/Wrangle/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 23.2.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [9]:
import sys
sys.path.append('/Users/halukamb/Documents/CodeRelated/HBDataviz_new/2025/01_BTW100Deutsche/Wrangle/lib/python3.12/site-packages')

In [10]:
stadt_data=pd.read_excel("../data/DeStatisData/AuszugGV3QAktuell.xlsx", skiprows=3,dtype=str, sheet_name="Onlineprodukt_Gemeinden30092024")
stadt_data=stadt_data.dropna(subset="Unnamed: 7")
stadt_data

,Unnamed: 0,Unnamed: 1,Land,RB,Kreis,VB,Gem,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,männlich,weiblich,je km2,Unnamed: 14,Längengrad,Breitengrad,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
2,10,NaN,01,NaN,NaN,NaN,NaN,Schleswig-Holstein,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40,41,01,0,01,NaN,NaN,"Flensburg, Stadt",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50,50,01,0,01,0000,NaN,"Flensburg, Stadt",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,60,61,01,0,01,0000,000,"Flensburg, Stadt",56.73,31.12.2022,...,45905,46762,1633,24937,"9,43751","54,78252",F02,Ostsee,01,dicht besiedelt
6,40,41,01,0,02,NaN,NaN,"Kiel, Landeshauptstadt",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16009,60,64,16,0,77,5051,023,Langenleuba-Niederhain,39.43,31.12.2022,...,877,840,44,04618,"12,589232","50,960103",E30,Altenburger Land,03,gering besiedelt
16010,60,64,16,0,77,5051,036,Nobitz,100.37,31.12.2022,...,3602,3530,71,04603,"12,48554","50,977273",E30,Altenburger Land,03,gering besiedelt
16011,50,58,16,0,77,5052,NaN,"Schmölln, Stadt",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16012,60,64,16,0,77,5052,003,Dobitschen,6.55,31.12.2022,...,210,205,63,04626,"12,280087","50,95643",E30,Altenburger Land,03,gering besiedelt
16013,60,63,16,0,77,5052,043,"Schmölln, Stadt",94.53,31.12.2022,...,6675,6932,144,04626,"12,354035","50,895281",E30,Altenburger Land,02,mittlere Besiedlungsdichte

In [11]:
stadt_data["AGS"]=stadt_data["Land"]+stadt_data["RB"]+stadt_data["Kreis"]+stadt_data["Gem"]
stadt_data=stadt_data.dropna(subset=["AGS"])
stadt_data_red=stadt_data[["AGS","Unnamed: 20"]]
stadt_data_red.columns=["AGS","Besiedelung"]
stadt_data_red

            AGS                 Besiedelung
5      01001000             dicht besiedelt
8      01002000             dicht besiedelt
11     01003000             dicht besiedelt
14     01004000             dicht besiedelt
17     01051011  mittlere Besiedlungsdichte
...         ...                         ...
16008  16077011            gering besiedelt
16009  16077023            gering besiedelt
16010  16077036            gering besiedelt
16012  16077003            gering besiedelt
16013  16077043  mittlere Besiedlungsdichte

[10959 rows x 2 columns]

In [12]:
zensus_data_red_vars=pd.merge(zensus_data_reduced,stadt_data_red,on="AGS")
zensus_data_red_vars=zensus_data_red_vars[['AGS','Name', 'Altersgruppe', 'Geschlecht', 
        'Besiedelung', 'Zahl']]
zensus_data_red_vars["Zahl"]=pd.to_numeric(zensus_data_red_vars["Zahl"],errors="coerce")

In [13]:
zensus_data_red_vars["OstWest"]="None"
zensus_data_red_vars["OstWest"]=np.where(zensus_data_red_vars["AGS"].str[:2].isin(["12","13","14","15","16"]),"Ost",zensus_data_red_vars["OstWest"])
zensus_data_red_vars["OstWest"]=np.where(zensus_data_red_vars["AGS"].str[:2].isin(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']),"West",zensus_data_red_vars["OstWest"])
zensus_data_red_vars["OstWest"]=np.where(zensus_data_red_vars["AGS"].str[:2].isin(['11']),"Berlin",zensus_data_red_vars["OstWest"])

#zensus_data_red_vars[zensus_data_red_vars["AGS"].str[:2].isin([])]["OstWest"]="West"
#zensus_data_red_vars[zensus_data_red_vars["AGS"].str[:2]=="11"]["OstWest"]="Berlin"
zensus_data_red_vars.columns

Index(['AGS', 'Name', 'Altersgruppe', 'Geschlecht', 'Besiedelung', 'Zahl',
       'OstWest'],
      dtype='object')

In [14]:
zensus_data_to_sum=zensus_data_red_vars[['Altersgruppe', 'Geschlecht', 
        'Besiedelung',"OstWest", 'Zahl']]
zensus_data_to_sum.dtypes

Altersgruppe     object
Geschlecht       object
Besiedelung      object
OstWest          object
Zahl            float64
dtype: object

In [15]:
zensus_data_germany_all["Zahl"]=pd.to_numeric(zensus_data_germany_all["Zahl"])
sum_all=zensus_data_germany_all["Zahl"].sum()
sum_all

np.float64(61203469.0)

In [16]:
summed_by_vars=zensus_data_to_sum.groupby(['Altersgruppe', 'Geschlecht', 'Besiedelung',
       'OstWest']).sum().reset_index()
summed_by_vars["Zahl"]=np.where(summed_by_vars["Altersgruppe"]=="14 bis 17 Jahre",summed_by_vars["Zahl"]*0.5,summed_by_vars["Zahl"])
summed_by_vars

,Altersgruppe,Geschlecht,Besiedelung,OstWest,Zahl
0,14 bis 17 Jahre,Männlich,dicht besiedelt,Berlin,26033.5
1,14 bis 17 Jahre,Männlich,dicht besiedelt,Ost,22620.0
2,14 bis 17 Jahre,Männlich,dicht besiedelt,West,181220.0
3,14 bis 17 Jahre,Männlich,gering besiedelt,Ost,35714.0
4,14 bis 17 Jahre,Männlich,gering besiedelt,West,109888.0
...,...,...,...,...,...
121,75 Jahre und älter,Weiblich,dicht besiedelt,West,1381109.0
122,75 Jahre und älter,Weiblich,gering besiedelt,Ost,291877.0
123,75 Jahre und älter,Weiblich,gering besiedelt,West,710788.0
124,75 Jahre und älter,Weiblich,mittlere Besiedlungsdichte,Ost,468623.0
125,75 Jahre und älter,Weiblich,mittlere Besiedlungsdichte,West,1970842.0

In [17]:
summed_by_vars["Share"]=summed_by_vars["Zahl"]*100/sum_all
summed_by_vars

,Altersgruppe,Geschlecht,Besiedelung,OstWest,Zahl,Share
0,14 bis 17 Jahre,Männlich,dicht besiedelt,Berlin,26033.5,0.042536
1,14 bis 17 Jahre,Männlich,dicht besiedelt,Ost,22620.0,0.036959
2,14 bis 17 Jahre,Männlich,dicht besiedelt,West,181220.0,0.296094
3,14 bis 17 Jahre,Männlich,gering besiedelt,Ost,35714.0,0.058353
4,14 bis 17 Jahre,Männlich,gering besiedelt,West,109888.0,0.179545
...,...,...,...,...,...,...
121,75 Jahre und älter,Weiblich,dicht besiedelt,West,1381109.0,2.256586
122,75 Jahre und älter,Weiblich,gering besiedelt,Ost,291877.0,0.476896
123,75 Jahre und älter,Weiblich,gering besiedelt,West,710788.0,1.161352
124,75 Jahre und älter,Weiblich,mittlere Besiedlungsdichte,Ost,468623.0,0.765680
125,75 Jahre und älter,Weiblich,mittlere Besiedlungsdichte,West,1970842.0,3.220148

In [18]:
summed_by_vars["Altersgruppe"].unique()

array(['14 bis 17 Jahre', '18 bis 24 Jahre', '25 bis 29 Jahre',
       '30 bis 39 Jahre', '40 bis 49 Jahre', '50 bis 59 Jahre',
       '60 bis 64 Jahre', '65 bis 74 Jahre', '75 Jahre und älter'],
      dtype=object)

In [19]:
summed_by_vars["Alter"]=None
summed_by_vars["Alter"]=np.where(summed_by_vars["Altersgruppe"].isin(['14 bis 17 Jahre', '18 bis 24 Jahre', '25 bis 29 Jahre']),"U30",summed_by_vars["Alter"])
summed_by_vars["Alter"]=np.where(summed_by_vars["Altersgruppe"].isin(['30 bis 39 Jahre', '40 bis 49 Jahre',]),"30-49",summed_by_vars["Alter"])
summed_by_vars["Alter"]=np.where(summed_by_vars["Altersgruppe"].isin(['50 bis 59 Jahre','60 bis 64 Jahre']),"50-64",summed_by_vars["Alter"])
summed_by_vars["Alter"]=np.where(summed_by_vars["Altersgruppe"].isin(['65 bis 74 Jahre','75 Jahre und älter']),"Ü65",summed_by_vars["Alter"])
summed_by_vars.columns

Index(['Altersgruppe', 'Geschlecht', 'Besiedelung', 'OstWest', 'Zahl', 'Share',
       'Alter'],
      dtype='object')

In [20]:
summed_by_vars_alt=summed_by_vars[['Geschlecht', 'Besiedelung', 'OstWest', 'Zahl', 'Share',
       'Alter']]
summed_by_vars_alt_group=summed_by_vars_alt.groupby(['Geschlecht', 'Besiedelung', 'OstWest',"Alter"]).sum().reset_index()
summed_by_vars_alt_group.sort_values(by="Share").head(20)

   Geschlecht                 Besiedelung OstWest  Alter      Zahl     Share
42   Weiblich            gering besiedelt     Ost    U30  153046.5  0.250062
14   Männlich            gering besiedelt     Ost    U30  172655.0  0.282100
6    Männlich             dicht besiedelt     Ost    U30  190822.0  0.311783
34   Weiblich             dicht besiedelt     Ost    U30  198293.5  0.323991
2    Männlich             dicht besiedelt  Berlin    U30  199507.5  0.325974
30   Weiblich             dicht besiedelt  Berlin    U30  206069.5  0.336696
50   Weiblich  mittlere Besiedlungsdichte     Ost    U30  234357.5  0.382915
22   Männlich  mittlere Besiedlungsdichte     Ost    U30  252004.5  0.411749
5    Männlich             dicht besiedelt     Ost  50-64  273889.0  0.447506
3    Männlich             dicht besiedelt  Berlin    Ü65  275198.0  0.449644
33   Weiblich             dicht besiedelt     Ost  50-64  277710.0  0.453749
7    Männlich             dicht besiedelt     Ost    Ü65  293947.0  0.480278
1    Männlich             dicht besiedelt  Berlin  50-64  307641.0  0.502653
29   Weiblich             dicht besiedelt  Berlin  50-64  309446.0  0.505602
32   Weiblich             dicht besiedelt     Ost  30-49  336845.0  0.550369
4    Männlich             dicht besiedelt     Ost  30-49  365832.0  0.597731
31   Weiblich             dicht besiedelt  Berlin    Ü65  370428.0  0.605240
0    Männlich             dicht besiedelt  Berlin  30-49  386762.0  0.631928
28   Weiblich             dicht besiedelt  Berlin  30-49  386906.0  0.632164
35   Weiblich             dicht besiedelt     Ost    Ü65  413562.0  0.675717

In [21]:
summed_by_vars_alt_group.sort_values(by="Share")

   Geschlecht                 Besiedelung OstWest  Alter       Zahl     Share
42   Weiblich            gering besiedelt     Ost    U30   153046.5  0.250062
14   Männlich            gering besiedelt     Ost    U30   172655.0  0.282100
6    Männlich             dicht besiedelt     Ost    U30   190822.0  0.311783
34   Weiblich             dicht besiedelt     Ost    U30   198293.5  0.323991
2    Männlich             dicht besiedelt  Berlin    U30   199507.5  0.325974
30   Weiblich             dicht besiedelt  Berlin    U30   206069.5  0.336696
50   Weiblich  mittlere Besiedlungsdichte     Ost    U30   234357.5  0.382915
22   Männlich  mittlere Besiedlungsdichte     Ost    U30   252004.5  0.411749
5    Männlich             dicht besiedelt     Ost  50-64   273889.0  0.447506
3    Männlich             dicht besiedelt  Berlin    Ü65   275198.0  0.449644
33   Weiblich             dicht besiedelt     Ost  50-64   277710.0  0.453749
7    Männlich             dicht besiedelt     Ost    Ü65   293947.0  0.480278
1    Männlich             dicht besiedelt  Berlin  50-64   307641.0  0.502653
29   Weiblich             dicht besiedelt  Berlin  50-64   309446.0  0.505602
32   Weiblich             dicht besiedelt     Ost  30-49   336845.0  0.550369
4    Männlich             dicht besiedelt     Ost  30-49   365832.0  0.597731
31   Weiblich             dicht besiedelt  Berlin    Ü65   370428.0  0.605240
0    Männlich             dicht besiedelt  Berlin  30-49   386762.0  0.631928
28   Weiblich             dicht besiedelt  Berlin  30-49   386906.0  0.632164
35   Weiblich             dicht besiedelt     Ost    Ü65   413562.0  0.675717
40   Weiblich            gering besiedelt     Ost  30-49   435918.0  0.712244
12   Männlich            gering besiedelt     Ost  30-49   466483.0  0.762184
15   Männlich            gering besiedelt     Ost    Ü65   485150.0  0.792684
41   Weiblich            gering besiedelt     Ost  50-64   517675.0  0.845826
13   Männlich            gering besiedelt     Ost  50-64   533531.0  0.871733
48   Weiblich  mittlere Besiedlungsdichte     Ost  30-49   546866.0  0.893521
20   Männlich  mittlere Besiedlungsdichte     Ost  30-49   577893.0  0.944216
43   Weiblich            gering besiedelt     Ost    Ü65   592394.0  0.967909
21   Männlich  mittlere Besiedlungsdichte     Ost  50-64   616388.0  1.007113
49   Weiblich  mittlere Besiedlungsdichte     Ost  50-64   625391.0  1.021823
23   Männlich  mittlere Besiedlungsdichte     Ost    Ü65   636360.0  1.039745
46   Weiblich            gering besiedelt    West    U30   702633.5  1.148029
18   Männlich            gering besiedelt    West    U30   778530.0  1.272036
51   Weiblich  mittlere Besiedlungsdichte     Ost    Ü65   860756.0  1.406384
19   Männlich            gering besiedelt    West    Ü65  1206177.0  1.970766
44   Weiblich            gering besiedelt    West  30-49  1260617.0  2.059715
16   Männlich            gering besiedelt    West  30-49  1263353.0  2.064185
47   Weiblich            gering besiedelt    West    Ü65  1404234.0  2.294370
45   Weiblich            gering besiedelt    West  50-64  1437976.0  2.349501
17   Männlich            gering besiedelt    West  50-64  1445504.0  2.361801
10   Männlich             dicht besiedelt    West    U30  1612894.0  2.635298
38   Weiblich             dicht besiedelt    West    U30  1637294.0  2.675165
54   Weiblich  mittlere Besiedlungsdichte    West    U30  1739536.5  2.842219
11   Männlich             dicht besiedelt    West    Ü65  1833603.0  2.995914
26   Männlich  mittlere Besiedlungsdichte    West    U30  1874252.0  3.062330
9    Männlich             dicht besiedelt    West  50-64  2105640.0  3.440393
37   Weiblich             dicht besiedelt    West  50-64  2144819.0  3.504408
36   Weiblich             dicht besiedelt    West  30-49  2334252.0  3.813921
8    Männlich             dicht besiedelt    West  30-49  2348445.0  3.837111
39   Weiblich             dicht besiedelt    West    Ü65  2473001.0  4.040622
27   Männlich  mittlere Besiedlungsdichte    West    Ü65  2897533.0  4.734263
24   Männlich  mittlere Besiedlungsdichte    West  30-49  2946250.0  4.813861
52   Weiblich  mittlere Besiedlungsdichte    West  30-49  2987387.0  4.881075
25   Männlich  mittlere Besiedlungsdichte    West  50-64  3229345.0  5.276408
53   Weiblich  mittlere Besiedlungsdichte    West  50-64  3328957.0  5.439164
55   Weiblich  mittlere Besiedlungsdichte    West    Ü65  3676607.0  6.007187

In [22]:
summed_by_vars_alt_group.to_csv("zensus_model.csv",index=False)