In [5]:
import pandas as pd

In [6]:
most_recent=pd.read_csv("../data/mpox_august12.csv")
most_recent

,WHO Region,Country,Total Confirmed Cases,Total Deaths
0,African Region,Benin*,3.0,0.0
1,African Region,Cameroon*,50.0,5.0
2,African Region,Central African Republic,68.0,1.0
3,African Region,Congo*,45.0,2.0
4,African Region,Democratic Republic of the Congo,2307.0,8.0
...,...,...,...,...
61,European Region,Sweden,296.0,0.0
62,European Region,Switzerland*,559.0,0.0
63,European Region,The United Kingdom,3929.0,0.0
64,European Region,Türkiye*,12.0,0.0
65,European Region,Ukraine*,NaN,NaN

In [8]:
most_recent["Country_pure"]=most_recent["Country"].str.replace("*","")
most_recent

,WHO Region,Country,Total Confirmed Cases,Total Deaths,Country_pure
0,African Region,Benin*,3.0,0.0,Benin
1,African Region,Cameroon*,50.0,5.0,Cameroon
2,African Region,Central African Republic,68.0,1.0,Central African Republic
3,African Region,Congo*,45.0,2.0,Congo
4,African Region,Democratic Republic of the Congo,2307.0,8.0,Democratic Republic of the Congo
...,...,...,...,...,...
61,European Region,Sweden,296.0,0.0,Sweden
62,European Region,Switzerland*,559.0,0.0,Switzerland
63,European Region,The United Kingdom,3929.0,0.0,The United Kingdom
64,European Region,Türkiye*,12.0,0.0,Türkiye
65,European Region,Ukraine*,NaN,NaN,Ukraine

In [7]:
previous_df=pd.read_csv("../data/mpox_june28.csv")
previous_df

,WHO Region,Country,Total Confirmed Cases,Total Deaths
0,African Region,Benin*,3,0
1,African Region,Cameroon*,54,5
2,African Region,Central African Republic*,52,1
3,African Region,Congo*,55,2
4,African Region,Democratic Republic of the Congo,2197,8
...,...,...,...,...
110,Western Pacific Region,New Zealand,51,0
111,Western Pacific Region,Philippines*,9,0
112,Western Pacific Region,Republic of Korea,2,0
113,Western Pacific Region,Singapore,19,0
114,Western Pacific Region,Viet Nam,2,0

In [9]:
previous_df["Country_pure"]=previous_df["Country"].str.replace("*","")
previous_df

,WHO Region,Country,Total Confirmed Cases,Total Deaths,Country_pure
0,African Region,Benin*,3,0,Benin
1,African Region,Cameroon*,54,5,Cameroon
2,African Region,Central African Republic*,52,1,Central African Republic
3,African Region,Congo*,55,2,Congo
4,African Region,Democratic Republic of the Congo,2197,8,Democratic Republic of the Congo
...,...,...,...,...,...
110,Western Pacific Region,New Zealand,51,0,New Zealand
111,Western Pacific Region,Philippines*,9,0,Philippines
112,Western Pacific Region,Republic of Korea,2,0,Republic of Korea
113,Western Pacific Region,Singapore,19,0,Singapore
114,Western Pacific Region,Viet Nam,2,0,Viet Nam

In [13]:
df=pd.merge(most_recent,previous_df,on="Country_pure",suffixes=["_aug","_june"])
df

,WHO Region_aug,Country_aug,Total Confirmed Cases_aug,Total Deaths_aug,Country_pure,WHO Region_june,Country_june,Total Confirmed Cases_june,Total Deaths_june
0,African Region,Benin*,3.0,0.0,Benin,African Region,Benin*,3,0
1,African Region,Cameroon*,50.0,5.0,Cameroon,African Region,Cameroon*,54,5
2,African Region,Central African Republic,68.0,1.0,Central African Republic,African Region,Central African Republic*,52,1
3,African Region,Congo*,45.0,2.0,Congo,African Region,Congo*,55,2
4,African Region,Democratic Republic of the Congo,2307.0,8.0,Democratic Republic of the Congo,African Region,Democratic Republic of the Congo,2197,8
...,...,...,...,...,...,...,...,...,...
61,European Region,Sweden,296.0,0.0,Sweden,European Region,Sweden,297,0
62,European Region,Switzerland*,559.0,0.0,Switzerland,European Region,Switzerland*,579,0
63,European Region,The United Kingdom,3929.0,0.0,The United Kingdom,European Region,The United Kingdom,3952,0
64,European Region,Türkiye*,12.0,0.0,Türkiye,European Region,Türkiye*,12,0
65,European Region,Ukraine*,NaN,NaN,Ukraine,European Region,Ukraine*,5,0

In [19]:
df_diff=df[["Country_pure","Total Confirmed Cases_aug","Total Deaths_aug","Total Confirmed Cases_june","Total Deaths_june"]]
df_diff[df_diff.columns[1:]]=df_diff[df_diff.columns[1:]].astype(float)
df_diff

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_67855/2381244568.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff[df_diff.columns[1:]]=df_diff[df_diff.columns[1:]].astype(float)

,Country_pure,Total Confirmed Cases_aug,Total Deaths_aug,Total Confirmed Cases_june,Total Deaths_june
0,Benin,3.0,0.0,3.0,0.0
1,Cameroon,50.0,5.0,54.0,5.0
2,Central African Republic,68.0,1.0,52.0,1.0
3,Congo,45.0,2.0,55.0,2.0
4,Democratic Republic of the Congo,2307.0,8.0,2197.0,8.0
...,...,...,...,...,...
61,Sweden,296.0,0.0,297.0,0.0
62,Switzerland,559.0,0.0,579.0,0.0
63,The United Kingdom,3929.0,0.0,3952.0,0.0
64,Türkiye,12.0,0.0,12.0,0.0
65,Ukraine,NaN,NaN,5.0,0.0

In [21]:
df_diff["sixweeks_cases"]=df_diff["Total Confirmed Cases_aug"]-df_diff["Total Confirmed Cases_june"]
df_diff["sixweeks_death"]=df_diff["Total Deaths_aug"]-df_diff["Total Deaths_june"]
df_diff

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_67855/4191415290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["sixweeks_cases"]=df_diff["Total Confirmed Cases_aug"]-df_diff["Total Confirmed Cases_june"]
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_67855/4191415290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["sixweeks_death"]=df_diff["Total Deaths_aug"]-df_diff["Total Deaths_june"]

,Country_pure,Total Confirmed Cases_aug,Total Deaths_aug,Total Confirmed Cases_june,Total Deaths_june,sixweeks_cases,sixweeks_death
0,Benin,3.0,0.0,3.0,0.0,0.0,0.0
1,Cameroon,50.0,5.0,54.0,5.0,-4.0,0.0
2,Central African Republic,68.0,1.0,52.0,1.0,16.0,0.0
3,Congo,45.0,2.0,55.0,2.0,-10.0,0.0
4,Democratic Republic of the Congo,2307.0,8.0,2197.0,8.0,110.0,0.0
...,...,...,...,...,...,...,...
61,Sweden,296.0,0.0,297.0,0.0,-1.0,0.0
62,Switzerland,559.0,0.0,579.0,0.0,-20.0,0.0
63,The United Kingdom,3929.0,0.0,3952.0,0.0,-23.0,0.0
64,Türkiye,12.0,0.0,12.0,0.0,0.0,0.0
65,Ukraine,NaN,NaN,5.0,0.0,NaN,NaN

In [26]:
last_month_cases=df_diff[df_diff["sixweeks_cases"]>0]
last_month_cases

,Country_pure,Total Confirmed Cases_aug,Total Deaths_aug,Total Confirmed Cases_june,Total Deaths_june,sixweeks_cases,sixweeks_death
2,Central African Republic,68.0,1.0,52.0,1.0,16.0,0.0
4,Democratic Republic of the Congo,2307.0,8.0,2197.0,8.0,110.0,0.0
5,Ghana,162.0,4.0,131.0,4.0,31.0,0.0
7,Mozambique,4.0,1.0,1.0,1.0,3.0,0.0
8,Nigeria,1038.0,9.0,858.0,9.0,180.0,0.0
19,Saudi Arabia,9.0,0.0,8.0,0.0,1.0,0.0
20,Sudan,20.0,1.0,19.0,1.0,1.0,0.0
23,Austria,355.0,1.0,348.0,1.0,7.0,0.0
30,Denmark,204.0,0.0,198.0,0.0,6.0,0.0
45,Luxembourg,65.0,0.0,61.0,0.0,4.0,0.0
52,Portugal,1199.0,3.0,1193.0,3.0,6.0,0.0

In [27]:
last_month_cases.to_csv("../scripts/last_month_cases_here.csv")

In [28]:
last_month_cases.sum()

Country_pure                  Central African RepublicDemocratic Republic of...
Total Confirmed Cases_aug                                                5431.0
Total Deaths_aug                                                           28.0
Total Confirmed Cases_june                                               5066.0
Total Deaths_june                                                          28.0
sixweeks_cases                                                            365.0
sixweeks_death                                                              0.0
dtype: object