In [203]:
import pandas as pd
import glob
import yfinance as yf
import numpy as np

In [17]:
files=glob.glob('../data/*.csv')
files[0]

'../data/11_07_2025_klxy_holdings.csv'

In [18]:
data=pd.read_csv(files[0],header=1)
data

,Rank,Company Name,% of Net Assets,Ticker,Identifier,Shares Held,Market Value($)
0,1,LVMH MOET HENNE,9.96,MC,FR0000121014,458,"319,707"
1,2,CIE FINANCI-REG,8.92,CFR,CH0210483332,"1,486","286,121"
2,3,L'OREAL,7.82,OR,FR0000120321,612,"251,034"
3,4,ESSILORLUXOTTICA,6.90,EL,FR0000121667,620,"221,275"
4,5,HERMES INTERNATIONAL,5.94,RMS,FR0000052292,80,"190,529"
5,6,RALPH LAUREN CORP,4.94,RL,US7512121010,488,"158,444"
6,7,MONCLER SPA,4.82,MONC,IT0004965148,"2,420","154,758"
7,8,DECKERS OUTDOOR CORP,4.63,DECK,US2435371073,"1,816","148,494"
8,9,FERRARI NV,4.54,RACE,NL0011585146,358,"145,790"
9,10,KERING,4.50,KER,FR0000121485,416,"144,376"
10,11,TAPESTRY INC,4.39,TPR,US8760301072,"1,359","140,901"
11,12,KAO CORP,4.38,4452,JP3205800000,"3,300","140,619"
12,13,PANDORA A/S,4.30,PNDORA,DK0060252690,"1,156","137,961"
13,14,ESTEE LAUDER,4.26,EL,US5184391044,"1,556","136,539"
14,15,EURO,4.04,NaN,–,"112,005","129,617"
15,16,SHISEIDO CO LTD,3.03,4911,JP3351600006,"5,800","97,367"
16,17,BURBERRY GROUP PLC,2.85,BRBY,GB0031743007,"6,065","91,504"
17,18,VAIL RESORTS INC,2.68,MTN,US91879Q1094,583,"86,010"
18,19,VF CORP,2.59,VFC,US9182041080,"5,667","82,965"
19,20,BATH & BODY WORKS INC,2.44,BBWI,US0708301041,"3,416","78,261"
20,21,BRUNELLO CUCINELLI SPA,1.75,BC,IT0004764699,559,"56,047"
21,22,SIGNET JEWELERS LTD,1.67,SIG,BMG812761002,535,"53,666"
22,23,PRADA S.P.A.,1.32,1913,IT0003874101,"7,400","42,246"
23,24,SAMSONITE GROUP SA,1.23,1910,LU0633102719,"20,100","39,542"
24,25,JAPANESE YEN,0.10,NaN,–,"507,043","3,311"
25,26,HONG KONG DOLLAR,0.04,NaN,–,"9,288","1,194"
26,27,SINGAPORE DOLLAR,0.01,NaN,–,452,347
27,28,BRITISH STERLING POUND,0.00,NaN,–,28,37
28,29,DANISH KRONE,0.00,NaN,–,5,1
29,30,SWISS FRANC,0.00,NaN,–,1,1
30,31,Cash,-4.04,NaN,–,"-129,782","-129,782"

In [19]:
luxury_brands=data[data["Identifier"]!="–"]
luxury_brands

,Rank,Company Name,% of Net Assets,Ticker,Identifier,Shares Held,Market Value($)
0,1,LVMH MOET HENNE,9.96,MC,FR0000121014,458,"319,707"
1,2,CIE FINANCI-REG,8.92,CFR,CH0210483332,"1,486","286,121"
2,3,L'OREAL,7.82,OR,FR0000120321,612,"251,034"
3,4,ESSILORLUXOTTICA,6.90,EL,FR0000121667,620,"221,275"
4,5,HERMES INTERNATIONAL,5.94,RMS,FR0000052292,80,"190,529"
5,6,RALPH LAUREN CORP,4.94,RL,US7512121010,488,"158,444"
6,7,MONCLER SPA,4.82,MONC,IT0004965148,"2,420","154,758"
7,8,DECKERS OUTDOOR CORP,4.63,DECK,US2435371073,"1,816","148,494"
8,9,FERRARI NV,4.54,RACE,NL0011585146,358,"145,790"
9,10,KERING,4.50,KER,FR0000121485,416,"144,376"
10,11,TAPESTRY INC,4.39,TPR,US8760301072,"1,359","140,901"
11,12,KAO CORP,4.38,4452,JP3205800000,"3,300","140,619"
12,13,PANDORA A/S,4.30,PNDORA,DK0060252690,"1,156","137,961"
13,14,ESTEE LAUDER,4.26,EL,US5184391044,"1,556","136,539"
15,16,SHISEIDO CO LTD,3.03,4911,JP3351600006,"5,800","97,367"
16,17,BURBERRY GROUP PLC,2.85,BRBY,GB0031743007,"6,065","91,504"
17,18,VAIL RESORTS INC,2.68,MTN,US91879Q1094,583,"86,010"
18,19,VF CORP,2.59,VFC,US9182041080,"5,667","82,965"
19,20,BATH & BODY WORKS INC,2.44,BBWI,US0708301041,"3,416","78,261"
20,21,BRUNELLO CUCINELLI SPA,1.75,BC,IT0004764699,559,"56,047"
21,22,SIGNET JEWELERS LTD,1.67,SIG,BMG812761002,535,"53,666"
22,23,PRADA S.P.A.,1.32,1913,IT0003874101,"7,400","42,246"
23,24,SAMSONITE GROUP SA,1.23,1910,LU0633102719,"20,100","39,542"

In [23]:
luxury_brands["Identifier"].tolist()

['FR0000121014',
 'CH0210483332',
 'FR0000120321',
 'FR0000121667',
 'FR0000052292',
 'US7512121010',
 'IT0004965148',
 'US2435371073',
 'NL0011585146',
 'FR0000121485',
 'US8760301072',
 'JP3205800000',
 'DK0060252690',
 'US5184391044',
 'JP3351600006',
 'GB0031743007',
 'US91879Q1094',
 'US9182041080',
 'US0708301041',
 'IT0004764699',
 'BMG812761002',
 'IT0003874101',
 'LU0633102719']

In [ ]:
# Complete ISIN to ticker mapping for luxury brands
isin_to_ticker = {
    'FR0000121014': 'MC.PA',      # LVMH Moët Hennessy Louis Vuitton
    'CH0210483332': 'CFR.SW',     # Compagnie Financière Richemont
    'FR0000120321': 'OR.PA',     # Kering (Gucci, Saint Laurent, etc.)
    'FR0000121667': 'EL.PA',      # EssilorLuxottica
    'FR0000052292': 'RMS.PA',     # Publicis Groupe
    'US7512121010': 'RL',         # Ralph Lauren Corporation
    'IT0004965148': 'MONC.MI',    # Moncler
    'US2435371073': 'DECK',        # Coach (Tapestry Inc.)
    'NL0011585146': 'RACE.MI',  # Prosus (Tencent holdings)
    'FR0000121485': 'PPX.F',      # Kenzo/LVMH related
    'US8760301072': 'TPR',        # Tapestry Inc.
    'JP3205800000': '4452.T',     # Bandai Namco Holdings
    'DK0060252690': 'PNDORA.CO',  # Pandora A/S
    'US5184391044': 'EL',        # M/I Homes (might be misclassified)
    'JP3351600006': '4911.T',     # Fast Retailing (Uniqlo)
    'GB0031743007': 'BRBY.L',     # Burberry Group
    'US91879Q1094': 'MTN',        # VF Corporation (The North Face, Vans)
    'US9182041080': 'VFC',        # United Rentals (might be misclassified)
    'US0708301041': 'BBWI',        # Best Buy (might be misclassified)
    'IT0004764699': 'BC.MI',     # Ferragamo
    'BMG812761002': 'SIG',     # Salvatore Ferragamo (London listing)
    'IT0003874101': '1913.HK',     # Tod's
    'LU0633102719': '1910.HK'      # Safran (might be misclassified as luxury)
}

# Add ticker column to your dataframe
luxury_brands['ticker'] = luxury_brands['Identifier'].map(isin_to_ticker)

# Display the mapping
luxury_brands

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_41552/3837678538.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  luxury_brands['ticker'] = luxury_brands['Identifier'].map(isin_to_ticker)

,Rank,Company Name,% of Net Assets,Ticker,Identifier,Shares Held,Market Value($),ticker
0,1,LVMH MOET HENNE,9.96,MC,FR0000121014,458,"319,707",MC.PA
1,2,CIE FINANCI-REG,8.92,CFR,CH0210483332,"1,486","286,121",CFR.SW
2,3,L'OREAL,7.82,OR,FR0000120321,612,"251,034",OR.PA
3,4,ESSILORLUXOTTICA,6.90,EL,FR0000121667,620,"221,275",EL.PA
4,5,HERMES INTERNATIONAL,5.94,RMS,FR0000052292,80,"190,529",RMS.PA
5,6,RALPH LAUREN CORP,4.94,RL,US7512121010,488,"158,444",RL
6,7,MONCLER SPA,4.82,MONC,IT0004965148,"2,420","154,758",MONC.MI
7,8,DECKERS OUTDOOR CORP,4.63,DECK,US2435371073,"1,816","148,494",DECK
8,9,FERRARI NV,4.54,RACE,NL0011585146,358,"145,790",RACE.MI
9,10,KERING,4.50,KER,FR0000121485,416,"144,376",PPX.F
10,11,TAPESTRY INC,4.39,TPR,US8760301072,"1,359","140,901",TPR
11,12,KAO CORP,4.38,4452,JP3205800000,"3,300","140,619",4452.T
12,13,PANDORA A/S,4.30,PNDORA,DK0060252690,"1,156","137,961",PNDORA.CO
13,14,ESTEE LAUDER,4.26,EL,US5184391044,"1,556","136,539",EL
15,16,SHISEIDO CO LTD,3.03,4911,JP3351600006,"5,800","97,367",4911.T
16,17,BURBERRY GROUP PLC,2.85,BRBY,GB0031743007,"6,065","91,504",BRBY.L
17,18,VAIL RESORTS INC,2.68,MTN,US91879Q1094,583,"86,010",MTN
18,19,VF CORP,2.59,VFC,US9182041080,"5,667","82,965",VFC
19,20,BATH & BODY WORKS INC,2.44,BBWI,US0708301041,"3,416","78,261",BBWI
20,21,BRUNELLO CUCINELLI SPA,1.75,BC,IT0004764699,559,"56,047",BC.MI
21,22,SIGNET JEWELERS LTD,1.67,SIG,BMG812761002,535,"53,666",SIG
22,23,PRADA S.P.A.,1.32,1913,IT0003874101,"7,400","42,246",1913.HK
23,24,SAMSONITE GROUP SA,1.23,1910,LU0633102719,"20,100","39,542",1910.HK

In [ ]:
# Fetch data for multiple stocks
def get_stock_data_dates(ticker, start_date, end_date=None):
    try:
        stock = yf.Ticker(ticker)
        return stock.history(start=start_date, end=end_date)
    except:
        return None

# Example: Get data from specific dates
start_date = "2000-01-01"
end_date = "2025-12-31"

base_df=pd.DataFrame()
# Get data for all tickers
for index, row in luxury_brands.iterrows():
    ticker = row['ticker']
    print(f"Getting data for {ticker}")
    data = get_stock_data_dates(ticker, start_date, end_date)
    if data is not None:
        print(f"Latest close price: {data['Close'].iloc[-1]:.2f}")
        data[row["Company Name"]]= data['Close']
        data.reset_index(inplace=True)
        data["Date"] = pd.to_datetime(data["Date"]).dt.date
        red_data=data[["Date",row["Company Name"]]]
        if index==0:
            base_df=red_data
        else:
            base_df=pd.merge(base_df,red_data,on="Date",how="outer")

Getting data for MC.PA
Latest close price: 615.40
Getting data for CFR.SW
Latest close price: 157.95
Getting data for OR.PA
Latest close price: 355.55
Getting data for EL.PA
Latest close price: 311.20
Getting data for RMS.PA
Latest close price: 2097.00
Getting data for RL
Latest close price: 324.68
Getting data for MONC.MI
Latest close price: 56.28
Getting data for DECK
Latest close price: 81.77
Getting data for RACE.MI
Latest close price: 357.80
Getting data for PPX.F
Latest close price: 304.05
Getting data for TPR
Latest close price: 103.68
Getting data for 4452.T
Latest close price: 6605.00
Getting data for PNDORA.CO
Latest close price: 794.00
Getting data for EL
Latest close price: 87.75
Getting data for 4911.T
Latest close price: 2585.50
Getting data for BRBY.L
Latest close price: 1178.50
Getting data for MTN
Latest close price: 147.53
Getting data for VFC
Latest close price: 14.64
Getting data for BBWI
Latest close price: 22.91
Getting data for BC.MI
Latest close price: 88.32
Getting data for SIG
Latest close price: 100.31
Getting data for 1913.HK
Latest close price: 46.32
Getting data for 1910.HK
Latest close price: 16.40

In [67]:
red_base_df=base_df.iloc[:-1]
red_base_df

,Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-01-03,55.369759,17.580809,52.908451,9.389035,35.796230,13.102766,NaN,0.145833,NaN,...,18.442053,NaN,NaN,12.328807,3.466904,5.373127,NaN,12.945646,NaN,NaN
1,2000-01-04,50.132103,17.650208,49.153236,9.452688,33.606121,12.586175,NaN,0.140625,NaN,...,18.116468,999.487976,NaN,11.366980,3.430332,5.265500,NaN,12.995435,NaN,NaN
2,2000-01-05,48.436085,17.858402,47.476799,9.713673,31.148321,12.820986,NaN,0.142361,NaN,...,17.506002,1006.205017,NaN,12.022767,3.393761,5.190990,NaN,12.995435,NaN,NaN
3,2000-01-06,47.887375,17.535007,49.287334,10.025579,30.418278,12.820986,NaN,0.154514,NaN,...,18.023451,1020.310425,NaN,12.110205,3.342563,5.108199,NaN,13.592927,NaN,NaN
4,2000-01-07,47.887375,17.488508,50.293213,10.000117,32.365051,13.149725,NaN,0.149306,NaN,...,18.651358,1085.464966,NaN,12.066487,3.415705,5.141314,NaN,13.343976,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6727,2025-11-03,616.799988,161.800003,361.850006,317.000000,2116.000000,314.950012,52.680000,81.120003,339.700012,...,93.250000,NaN,1215.0,149.350006,14.170000,24.230000,88.940002,97.910004,46.259998,16.360001
6728,2025-11-04,611.200012,157.500000,364.049988,316.399994,2084.000000,309.290009,52.000000,79.540001,350.700012,...,92.879997,2620.000000,1168.5,141.910004,13.760000,23.600000,87.279999,97.599998,46.900002,16.230000
6729,2025-11-05,612.799988,158.500000,362.500000,316.299988,2098.000000,316.899994,53.779999,81.809998,354.600006,...,91.089996,2536.500000,1205.0,145.449997,14.780000,23.650000,88.739998,100.760002,45.299999,15.990000
6730,2025-11-06,600.000000,156.449997,354.250000,312.700012,2043.000000,315.040009,53.779999,79.809998,352.000000,...,87.779999,2509.000000,1169.5,144.259995,14.260000,22.660000,87.320000,99.800003,45.099998,15.480000
6731,2025-11-07,603.200012,154.949997,354.450012,308.399994,2058.000000,324.679993,55.259998,81.769997,351.899994,...,87.750000,2571.000000,1147.0,147.529999,14.640000,22.910000,86.639999,100.309998,44.400002,15.300000

In [70]:
red_base_df

,Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-01-03,55.369759,17.580809,52.908451,9.389035,35.796230,13.102766,NaN,0.145833,NaN,...,18.442053,NaN,NaN,12.328807,3.466904,5.373127,NaN,12.945646,NaN,NaN
1,2000-01-04,50.132103,17.650208,49.153236,9.452688,33.606121,12.586175,NaN,0.140625,NaN,...,18.116468,999.487976,NaN,11.366980,3.430332,5.265500,NaN,12.995435,NaN,NaN
2,2000-01-05,48.436085,17.858402,47.476799,9.713673,31.148321,12.820986,NaN,0.142361,NaN,...,17.506002,1006.205017,NaN,12.022767,3.393761,5.190990,NaN,12.995435,NaN,NaN
3,2000-01-06,47.887375,17.535007,49.287334,10.025579,30.418278,12.820986,NaN,0.154514,NaN,...,18.023451,1020.310425,NaN,12.110205,3.342563,5.108199,NaN,13.592927,NaN,NaN
4,2000-01-07,47.887375,17.488508,50.293213,10.000117,32.365051,13.149725,NaN,0.149306,NaN,...,18.651358,1085.464966,NaN,12.066487,3.415705,5.141314,NaN,13.343976,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6727,2025-11-03,616.799988,161.800003,361.850006,317.000000,2116.000000,314.950012,52.680000,81.120003,339.700012,...,93.250000,NaN,1215.0,149.350006,14.170000,24.230000,88.940002,97.910004,46.259998,16.360001
6728,2025-11-04,611.200012,157.500000,364.049988,316.399994,2084.000000,309.290009,52.000000,79.540001,350.700012,...,92.879997,2620.000000,1168.5,141.910004,13.760000,23.600000,87.279999,97.599998,46.900002,16.230000
6729,2025-11-05,612.799988,158.500000,362.500000,316.299988,2098.000000,316.899994,53.779999,81.809998,354.600006,...,91.089996,2536.500000,1205.0,145.449997,14.780000,23.650000,88.739998,100.760002,45.299999,15.990000
6730,2025-11-06,600.000000,156.449997,354.250000,312.700012,2043.000000,315.040009,53.779999,79.809998,352.000000,...,87.779999,2509.000000,1169.5,144.259995,14.260000,22.660000,87.320000,99.800003,45.099998,15.480000
6731,2025-11-07,603.200012,154.949997,354.450012,308.399994,2058.000000,324.679993,55.259998,81.769997,351.899994,...,87.750000,2571.000000,1147.0,147.529999,14.640000,22.910000,86.639999,100.309998,44.400002,15.300000

In [71]:
sandp500=yf.Ticker("^GSPC")
sp500_data=sandp500.history(start=start_date, end=end_date)
sp500_data.reset_index(inplace=True)
sp500_data["Date"] = pd.to_datetime(sp500_data["Date"]).dt.date
sp500_data=sp500_data[["Date","Close"]]
sp500_data.rename(columns={"Close":"S&P500"},inplace=True)

In [72]:
sp500_data

            Date       S&P500
0     2000-01-03  1455.219971
1     2000-01-04  1399.420044
2     2000-01-05  1402.109985
3     2000-01-06  1403.449951
4     2000-01-07  1441.469971
...          ...          ...
6498  2025-11-03  6851.970215
6499  2025-11-04  6771.549805
6500  2025-11-05  6796.290039
6501  2025-11-06  6720.319824
6502  2025-11-07  6728.799805

[6503 rows x 2 columns]

In [182]:
ruecksetzer_value=0.9
recovery_value=1/ruecksetzer_value

In [183]:
before_max=0
crash_dict={}
for index, row in sp500_data.iterrows():
    date=row["Date"]
    value=row["S&P500"]
    if value>before_max:
        before_max=value
        max_date=date
    else:
        if value<before_max*ruecksetzer_value:
            print(f"Date: {date}, Value: {value}, Previous Max: {before_max}")
            crash_dict[date]=[value,before_max,max_date]

Date: 2000-04-14, Value: 1356.56005859375, Previous Max: 1527.4599609375
Date: 2000-05-23, Value: 1373.8599853515625, Previous Max: 1527.4599609375
Date: 2000-10-11, Value: 1364.5899658203125, Previous Max: 1527.4599609375
Date: 2000-10-12, Value: 1329.780029296875, Previous Max: 1527.4599609375
Date: 2000-10-13, Value: 1374.1700439453125, Previous Max: 1527.4599609375
Date: 2000-10-16, Value: 1374.6199951171875, Previous Max: 1527.4599609375
Date: 2000-10-17, Value: 1349.969970703125, Previous Max: 1527.4599609375
Date: 2000-10-18, Value: 1342.1300048828125, Previous Max: 1527.4599609375
Date: 2000-10-25, Value: 1364.9000244140625, Previous Max: 1527.4599609375
Date: 2000-10-26, Value: 1364.43994140625, Previous Max: 1527.4599609375
Date: 2000-11-10, Value: 1365.97998046875, Previous Max: 1527.4599609375
Date: 2000-11-13, Value: 1351.260009765625, Previous Max: 1527.4599609375
Date: 2000-11-16, Value: 1372.3199462890625, Previous Max: 1527.4599609375
Date: 2000-11-17, Value: 1367.719970703125, Previous Max: 1527.4599609375
Date: 2000-11-20, Value: 1342.6199951171875, Previous Max: 1527.4599609375
Date: 2000-11-21, Value: 1347.3499755859375, Previous Max: 1527.4599609375
Date: 2000-11-22, Value: 1322.3599853515625, Previous Max: 1527.4599609375
Date: 2000-11-24, Value: 1341.77001953125, Previous Max: 1527.4599609375
Date: 2000-11-27, Value: 1348.969970703125, Previous Max: 1527.4599609375
Date: 2000-11-28, Value: 1336.0899658203125, Previous Max: 1527.4599609375
Date: 2000-11-29, Value: 1341.9300537109375, Previous Max: 1527.4599609375
Date: 2000-11-30, Value: 1314.949951171875, Previous Max: 1527.4599609375
Date: 2000-12-01, Value: 1315.22998046875, Previous Max: 1527.4599609375
Date: 2000-12-04, Value: 1324.969970703125, Previous Max: 1527.4599609375
Date: 2000-12-06, Value: 1351.4599609375, Previous Max: 1527.4599609375
Date: 2000-12-07, Value: 1343.550048828125, Previous Max: 1527.4599609375
Date: 2000-12-08, Value: 1369.8900146484375, Previous Max: 1527.4599609375
Date: 2000-12-12, Value: 1371.1800537109375, Previous Max: 1527.4599609375
Date: 2000-12-13, Value: 1359.989990234375, Previous Max: 1527.4599609375
Date: 2000-12-14, Value: 1340.9300537109375, Previous Max: 1527.4599609375
Date: 2000-12-15, Value: 1312.1500244140625, Previous Max: 1527.4599609375
Date: 2000-12-18, Value: 1322.739990234375, Previous Max: 1527.4599609375
Date: 2000-12-19, Value: 1305.5999755859375, Previous Max: 1527.4599609375
Date: 2000-12-20, Value: 1264.739990234375, Previous Max: 1527.4599609375
Date: 2000-12-21, Value: 1274.8599853515625, Previous Max: 1527.4599609375
Date: 2000-12-22, Value: 1305.949951171875, Previous Max: 1527.4599609375
Date: 2000-12-26, Value: 1315.18994140625, Previous Max: 1527.4599609375
Date: 2000-12-27, Value: 1328.9200439453125, Previous Max: 1527.4599609375
Date: 2000-12-28, Value: 1334.219970703125, Previous Max: 1527.4599609375
Date: 2000-12-29, Value: 1320.280029296875, Previous Max: 1527.4599609375
Date: 2001-01-02, Value: 1283.27001953125, Previous Max: 1527.4599609375
Date: 2001-01-03, Value: 1347.56005859375, Previous Max: 1527.4599609375
Date: 2001-01-04, Value: 1333.3399658203125, Previous Max: 1527.4599609375
Date: 2001-01-05, Value: 1298.3499755859375, Previous Max: 1527.4599609375
Date: 2001-01-08, Value: 1295.8599853515625, Previous Max: 1527.4599609375
Date: 2001-01-09, Value: 1300.800048828125, Previous Max: 1527.4599609375
Date: 2001-01-10, Value: 1313.27001953125, Previous Max: 1527.4599609375
Date: 2001-01-11, Value: 1326.8199462890625, Previous Max: 1527.4599609375
Date: 2001-01-12, Value: 1318.550048828125, Previous Max: 1527.4599609375
Date: 2001-01-16, Value: 1326.6500244140625, Previous Max: 1527.4599609375
Date: 2001-01-17, Value: 1329.469970703125, Previous Max: 1527.4599609375
Date: 2001-01-18, Value: 1347.969970703125, Previous Max: 1527.4599609375
Date: 2001-01-19, Value: 1342.5400390625, Previous Max: 1527.4599609375
Date: 2001-01-22, Value: 1342.9000244140625, Previous Max: 1527.4599609375
Date: 2001-01-23, Value: 1360.4000244140625, Previous Max: 1527.4599609375
Date: 2001-01-24, Value: 1364.300048828125, Previous Max: 1527.4599609375
Date: 2001-01-25, Value: 1357.510009765625, Previous Max: 1527.4599609375
Date: 2001-01-26, Value: 1354.949951171875, Previous Max: 1527.4599609375
Date: 2001-01-29, Value: 1364.1700439453125, Previous Max: 1527.4599609375
Date: 2001-01-30, Value: 1373.72998046875, Previous Max: 1527.4599609375
Date: 2001-01-31, Value: 1366.010009765625, Previous Max: 1527.4599609375
Date: 2001-02-01, Value: 1373.469970703125, Previous Max: 1527.4599609375
Date: 2001-02-02, Value: 1349.469970703125, Previous Max: 1527.4599609375
Date: 2001-02-05, Value: 1354.31005859375, Previous Max: 1527.4599609375
Date: 2001-02-06, Value: 1352.260009765625, Previous Max: 1527.4599609375
Date: 2001-02-07, Value: 1340.8900146484375, Previous Max: 1527.4599609375
Date: 2001-02-08, Value: 1332.530029296875, Previous Max: 1527.4599609375
Date: 2001-02-09, Value: 1314.760009765625, Previous Max: 1527.4599609375
Date: 2001-02-12, Value: 1330.31005859375, Previous Max: 1527.4599609375
Date: 2001-02-13, Value: 1318.800048828125, Previous Max: 1527.4599609375
Date: 2001-02-14, Value: 1315.9200439453125, Previous Max: 1527.4599609375
Date: 2001-02-15, Value: 1326.6099853515625, Previous Max: 1527.4599609375
Date: 2001-02-16, Value: 1301.530029296875, Previous Max: 1527.4599609375
Date: 2001-02-20, Value: 1278.93994140625, Previous Max: 1527.4599609375
Date: 2001-02-21, Value: 1255.27001953125, Previous Max: 1527.4599609375
Date: 2001-02-22, Value: 1252.8199462890625, Previous Max: 1527.4599609375
Date: 2001-02-23, Value: 1245.8599853515625, Previous Max: 1527.4599609375
Date: 2001-02-26, Value: 1267.6500244140625, Previous Max: 1527.4599609375
Date: 2001-02-27, Value: 1257.93994140625, Previous Max: 1527.4599609375
Date: 2001-02-28, Value: 1239.93994140625, Previous Max: 1527.4599609375
Date: 2001-03-01, Value: 1241.22998046875, Previous Max: 1527.4599609375
Date: 2001-03-02, Value: 1234.1800537109375, Previous Max: 1527.4599609375
Date: 2001-03-05, Value: 1241.4100341796875, Previous Max: 1527.4599609375
Date: 2001-03-06, Value: 1253.800048828125, Previous Max: 1527.4599609375
Date: 2001-03-07, Value: 1261.8900146484375, Previous Max: 1527.4599609375
Date: 2001-03-08, Value: 1264.739990234375, Previous Max: 1527.4599609375
Date: 2001-03-09, Value: 1233.4200439453125, Previous Max: 1527.4599609375
Date: 2001-03-12, Value: 1180.1600341796875, Previous Max: 1527.4599609375
Date: 2001-03-13, Value: 1197.6600341796875, Previous Max: 1527.4599609375
Date: 2001-03-14, Value: 1166.7099609375, Previous Max: 1527.4599609375
Date: 2001-03-15, Value: 1173.56005859375, Previous Max: 1527.4599609375
Date: 2001-03-16, Value: 1150.530029296875, Previous Max: 1527.4599609375
Date: 2001-03-19, Value: 1170.81005859375, Previous Max: 1527.4599609375
Date: 2001-03-20, Value: 1142.6199951171875, Previous Max: 1527.4599609375
Date: 2001-03-21, Value: 1122.1400146484375, Previous Max: 1527.4599609375
Date: 2001-03-22, Value: 1117.5799560546875, Previous Max: 1527.4599609375
Date: 2001-03-23, Value: 1139.8299560546875, Previous Max: 1527.4599609375
Date: 2001-03-26, Value: 1152.68994140625, Previous Max: 1527.4599609375
Date: 2001-03-27, Value: 1182.1700439453125, Previous Max: 1527.4599609375
Date: 2001-03-28, Value: 1153.2900390625, Previous Max: 1527.4599609375
Date: 2001-03-29, Value: 1147.949951171875, Previous Max: 1527.4599609375
Date: 2001-03-30, Value: 1160.3299560546875, Previous Max: 1527.4599609375
Date: 2001-04-02, Value: 1145.8699951171875, Previous Max: 1527.4599609375
Date: 2001-04-03, Value: 1106.4599609375, Previous Max: 1527.4599609375
Date: 2001-04-04, Value: 1103.25, Previous Max: 1527.4599609375
Date: 2001-04-05, Value: 1151.43994140625, Previous Max: 1527.4599609375
Date: 2001-04-06, Value: 1128.4300537109375, Previous Max: 1527.4599609375
Date: 2001-04-09, Value: 1137.5899658203125, Previous Max: 1527.4599609375
Date: 2001-04-10, Value: 1168.3800048828125, Previous Max: 1527.4599609375
Date: 2001-04-11, Value: 1165.8900146484375, Previous Max: 1527.4599609375
Date: 2001-04-12, Value: 1183.5, Previous Max: 1527.4599609375
Date: 2001-04-16, Value: 1179.6800537109375, Previous Max: 1527.4599609375
Date: 2001-04-17, Value: 1191.81005859375, Previous Max: 1527.4599609375
Date: 2001-04-18, Value: 1238.1600341796875, Previous Max: 1527.4599609375
Date: 2001-04-19, Value: 1253.68994140625, Previous Max: 1527.4599609375
Date: 2001-04-20, Value: 1242.97998046875, Previous Max: 1527.4599609375
Date: 2001-04-23, Value: 1224.3599853515625, Previous Max: 1527.4599609375
Date: 2001-04-24, Value: 1209.469970703125, Previous Max: 1527.4599609375
Date: 2001-04-25, Value: 1228.75, Previous Max: 1527.4599609375
Date: 2001-04-26, Value: 1234.52001953125, Previous Max: 1527.4599609375
Date: 2001-04-27, Value: 1253.050048828125, Previous Max: 1527.4599609375
Date: 2001-04-30, Value: 1249.4599609375, Previous Max: 1527.4599609375
Date: 2001-05-01, Value: 1266.43994140625, Previous Max: 1527.4599609375
Date: 2001-05-02, Value: 1267.4300537109375, Previous Max: 1527.4599609375
Date: 2001-05-03, Value: 1248.5799560546875, Previous Max: 1527.4599609375
Date: 2001-05-04, Value: 1266.6099853515625, Previous Max: 1527.4599609375
Date: 2001-05-07, Value: 1263.510009765625, Previous Max: 1527.4599609375
Date: 2001-05-08, Value: 1261.199951171875, Previous Max: 1527.4599609375
Date: 2001-05-09, Value: 1255.5400390625, Previous Max: 1527.4599609375
Date: 2001-05-10, Value: 1255.1800537109375, Previous Max: 1527.4599609375
Date: 2001-05-11, Value: 1245.6700439453125, Previous Max: 1527.4599609375
Date: 2001-05-14, Value: 1248.9200439453125, Previous Max: 1527.4599609375
Date: 2001-05-15, Value: 1249.43994140625, Previous Max: 1527.4599609375
Date: 2001-05-16, Value: 1284.989990234375, Previous Max: 1527.4599609375
Date: 2001-05-17, Value: 1288.489990234375, Previous Max: 1527.4599609375
Date: 2001-05-18, Value: 1291.9599609375, Previous Max: 1527.4599609375
Date: 2001-05-21, Value: 1312.8299560546875, Previous Max: 1527.4599609375
Date: 2001-05-22, Value: 1309.3800048828125, Previous Max: 1527.4599609375
Date: 2001-05-23, Value: 1289.050048828125, Previous Max: 1527.4599609375
Date: 2001-05-24, Value: 1293.1700439453125, Previous Max: 1527.4599609375
Date: 2001-05-25, Value: 1277.8900146484375, Previous Max: 1527.4599609375
Date: 2001-05-29, Value: 1267.9300537109375, Previous Max: 1527.4599609375
Date: 2001-05-30, Value: 1248.0799560546875, Previous Max: 1527.4599609375
Date: 2001-05-31, Value: 1255.8199462890625, Previous Max: 1527.4599609375
Date: 2001-06-01, Value: 1260.6700439453125, Previous Max: 1527.4599609375
Date: 2001-06-04, Value: 1267.1099853515625, Previous Max: 1527.4599609375
Date: 2001-06-05, Value: 1283.5699462890625, Previous Max: 1527.4599609375
Date: 2001-06-06, Value: 1270.030029296875, Previous Max: 1527.4599609375
Date: 2001-06-07, Value: 1276.9599609375, Previous Max: 1527.4599609375
Date: 2001-06-08, Value: 1264.9599609375, Previous Max: 1527.4599609375
Date: 2001-06-11, Value: 1254.3900146484375, Previous Max: 1527.4599609375
Date: 2001-06-12, Value: 1255.8499755859375, Previous Max: 1527.4599609375
Date: 2001-06-13, Value: 1241.5999755859375, Previous Max: 1527.4599609375
Date: 2001-06-14, Value: 1219.8699951171875, Previous Max: 1527.4599609375
Date: 2001-06-15, Value: 1214.3599853515625, Previous Max: 1527.4599609375
Date: 2001-06-18, Value: 1208.4300537109375, Previous Max: 1527.4599609375
Date: 2001-06-19, Value: 1212.5799560546875, Previous Max: 1527.4599609375
Date: 2001-06-20, Value: 1223.1400146484375, Previous Max: 1527.4599609375
Date: 2001-06-21, Value: 1237.0400390625, Previous Max: 1527.4599609375
Date: 2001-06-22, Value: 1225.3499755859375, Previous Max: 1527.4599609375
Date: 2001-06-25, Value: 1218.5999755859375, Previous Max: 1527.4599609375
Date: 2001-06-26, Value: 1216.760009765625, Previous Max: 1527.4599609375
Date: 2001-06-27, Value: 1211.0699462890625, Previous Max: 1527.4599609375
Date: 2001-06-28, Value: 1226.199951171875, Previous Max: 1527.4599609375
Date: 2001-06-29, Value: 1224.3800048828125, Previous Max: 1527.4599609375
Date: 2001-07-02, Value: 1236.719970703125, Previous Max: 1527.4599609375
Date: 2001-07-03, Value: 1234.449951171875, Previous Max: 1527.4599609375
Date: 2001-07-05, Value: 1219.239990234375, Previous Max: 1527.4599609375
Date: 2001-07-06, Value: 1190.5899658203125, Previous Max: 1527.4599609375
Date: 2001-07-09, Value: 1198.780029296875, Previous Max: 1527.4599609375
Date: 2001-07-10, Value: 1181.52001953125, Previous Max: 1527.4599609375
Date: 2001-07-11, Value: 1180.1800537109375, Previous Max: 1527.4599609375
Date: 2001-07-12, Value: 1208.1400146484375, Previous Max: 1527.4599609375
Date: 2001-07-13, Value: 1215.6800537109375, Previous Max: 1527.4599609375
Date: 2001-07-16, Value: 1202.449951171875, Previous Max: 1527.4599609375
Date: 2001-07-17, Value: 1214.43994140625, Previous Max: 1527.4599609375
Date: 2001-07-18, Value: 1207.7099609375, Previous Max: 1527.4599609375
Date: 2001-07-19, Value: 1215.02001953125, Previous Max: 1527.4599609375
Date: 2001-07-20, Value: 1210.8499755859375, Previous Max: 1527.4599609375
Date: 2001-07-23, Value: 1191.030029296875, Previous Max: 1527.4599609375
Date: 2001-07-24, Value: 1171.6500244140625, Previous Max: 1527.4599609375
Date: 2001-07-25, Value: 1190.489990234375, Previous Max: 1527.4599609375
Date: 2001-07-26, Value: 1202.9300537109375, Previous Max: 1527.4599609375
Date: 2001-07-27, Value: 1205.8199462890625, Previous Max: 1527.4599609375
Date: 2001-07-30, Value: 1204.52001953125, Previous Max: 1527.4599609375
Date: 2001-07-31, Value: 1211.22998046875, Previous Max: 1527.4599609375
Date: 2001-08-01, Value: 1215.9300537109375, Previous Max: 1527.4599609375
Date: 2001-08-02, Value: 1220.75, Previous Max: 1527.4599609375
Date: 2001-08-03, Value: 1214.3499755859375, Previous Max: 1527.4599609375
Date: 2001-08-06, Value: 1200.47998046875, Previous Max: 1527.4599609375
Date: 2001-08-07, Value: 1204.4000244140625, Previous Max: 1527.4599609375
Date: 2001-08-08, Value: 1183.530029296875, Previous Max: 1527.4599609375
Date: 2001-08-09, Value: 1183.4300537109375, Previous Max: 1527.4599609375
Date: 2001-08-10, Value: 1190.1600341796875, Previous Max: 1527.4599609375
Date: 2001-08-13, Value: 1191.2900390625, Previous Max: 1527.4599609375
Date: 2001-08-14, Value: 1186.72998046875, Previous Max: 1527.4599609375
Date: 2001-08-15, Value: 1178.02001953125, Previous Max: 1527.4599609375
Date: 2001-08-16, Value: 1181.6600341796875, Previous Max: 1527.4599609375
Date: 2001-08-17, Value: 1161.969970703125, Previous Max: 1527.4599609375
Date: 2001-08-20, Value: 1171.4100341796875, Previous Max: 1527.4599609375
Date: 2001-08-21, Value: 1157.260009765625, Previous Max: 1527.4599609375
Date: 2001-08-22, Value: 1165.31005859375, Previous Max: 1527.4599609375
Date: 2001-08-23, Value: 1162.0899658203125, Previous Max: 1527.4599609375
Date: 2001-08-24, Value: 1184.9300537109375, Previous Max: 1527.4599609375
Date: 2001-08-27, Value: 1179.2099609375, Previous Max: 1527.4599609375
Date: 2001-08-28, Value: 1161.510009765625, Previous Max: 1527.4599609375
Date: 2001-08-29, Value: 1148.56005859375, Previous Max: 1527.4599609375
Date: 2001-08-30, Value: 1129.030029296875, Previous Max: 1527.4599609375
Date: 2001-08-31, Value: 1133.5799560546875, Previous Max: 1527.4599609375
Date: 2001-09-04, Value: 1132.93994140625, Previous Max: 1527.4599609375
Date: 2001-09-05, Value: 1131.739990234375, Previous Max: 1527.4599609375
Date: 2001-09-06, Value: 1106.4000244140625, Previous Max: 1527.4599609375
Date: 2001-09-07, Value: 1085.780029296875, Previous Max: 1527.4599609375
Date: 2001-09-10, Value: 1092.5400390625, Previous Max: 1527.4599609375
Date: 2001-09-17, Value: 1038.77001953125, Previous Max: 1527.4599609375
Date: 2001-09-18, Value: 1032.739990234375, Previous Max: 1527.4599609375
Date: 2001-09-19, Value: 1016.0999755859375, Previous Max: 1527.4599609375
Date: 2001-09-20, Value: 984.5399780273438, Previous Max: 1527.4599609375
Date: 2001-09-21, Value: 965.7999877929688, Previous Max: 1527.4599609375
Date: 2001-09-24, Value: 1003.4500122070312, Previous Max: 1527.4599609375
Date: 2001-09-25, Value: 1012.27001953125, Previous Max: 1527.4599609375
Date: 2001-09-26, Value: 1007.0399780273438, Previous Max: 1527.4599609375
Date: 2001-09-27, Value: 1018.6099853515625, Previous Max: 1527.4599609375
Date: 2001-09-28, Value: 1040.93994140625, Previous Max: 1527.4599609375
Date: 2001-10-01, Value: 1038.550048828125, Previous Max: 1527.4599609375
Date: 2001-10-02, Value: 1051.3299560546875, Previous Max: 1527.4599609375
Date: 2001-10-03, Value: 1072.280029296875, Previous Max: 1527.4599609375
Date: 2001-10-04, Value: 1069.6300048828125, Previous Max: 1527.4599609375
Date: 2001-10-05, Value: 1071.3800048828125, Previous Max: 1527.4599609375
Date: 2001-10-08, Value: 1062.43994140625, Previous Max: 1527.4599609375
Date: 2001-10-09, Value: 1056.75, Previous Max: 1527.4599609375
Date: 2001-10-10, Value: 1080.989990234375, Previous Max: 1527.4599609375
Date: 2001-10-11, Value: 1097.4300537109375, Previous Max: 1527.4599609375
Date: 2001-10-12, Value: 1091.6500244140625, Previous Max: 1527.4599609375
Date: 2001-10-15, Value: 1089.97998046875, Previous Max: 1527.4599609375
Date: 2001-10-16, Value: 1097.5400390625, Previous Max: 1527.4599609375
Date: 2001-10-17, Value: 1077.0899658203125, Previous Max: 1527.4599609375
Date: 2001-10-18, Value: 1068.6099853515625, Previous Max: 1527.4599609375
Date: 2001-10-19, Value: 1073.47998046875, Previous Max: 1527.4599609375
Date: 2001-10-22, Value: 1089.9000244140625, Previous Max: 1527.4599609375
Date: 2001-10-23, Value: 1084.780029296875, Previous Max: 1527.4599609375
Date: 2001-10-24, Value: 1085.199951171875, Previous Max: 1527.4599609375
Date: 2001-10-25, Value: 1100.0899658203125, Previous Max: 1527.4599609375
Date: 2001-10-26, Value: 1104.6099853515625, Previous Max: 1527.4599609375
Date: 2001-10-29, Value: 1078.300048828125, Previous Max: 1527.4599609375
Date: 2001-10-30, Value: 1059.7900390625, Previous Max: 1527.4599609375
Date: 2001-10-31, Value: 1059.780029296875, Previous Max: 1527.4599609375
Date: 2001-11-01, Value: 1084.0999755859375, Previous Max: 1527.4599609375
Date: 2001-11-02, Value: 1087.199951171875, Previous Max: 1527.4599609375
Date: 2001-11-05, Value: 1102.8399658203125, Previous Max: 1527.4599609375
Date: 2001-11-06, Value: 1118.8599853515625, Previous Max: 1527.4599609375
Date: 2001-11-07, Value: 1115.800048828125, Previous Max: 1527.4599609375
Date: 2001-11-08, Value: 1118.5400390625, Previous Max: 1527.4599609375
Date: 2001-11-09, Value: 1120.31005859375, Previous Max: 1527.4599609375
Date: 2001-11-12, Value: 1118.3299560546875, Previous Max: 1527.4599609375
Date: 2001-11-13, Value: 1139.0899658203125, Previous Max: 1527.4599609375
Date: 2001-11-14, Value: 1141.2099609375, Previous Max: 1527.4599609375
Date: 2001-11-15, Value: 1142.239990234375, Previous Max: 1527.4599609375
Date: 2001-11-16, Value: 1138.6500244140625, Previous Max: 1527.4599609375
Date: 2001-11-19, Value: 1151.06005859375, Previous Max: 1527.4599609375
Date: 2001-11-20, Value: 1142.6600341796875, Previous Max: 1527.4599609375
Date: 2001-11-21, Value: 1137.030029296875, Previous Max: 1527.4599609375
Date: 2001-11-23, Value: 1150.3399658203125, Previous Max: 1527.4599609375
Date: 2001-11-26, Value: 1157.4200439453125, Previous Max: 1527.4599609375
Date: 2001-11-27, Value: 1149.5, Previous Max: 1527.4599609375
Date: 2001-11-28, Value: 1128.52001953125, Previous Max: 1527.4599609375
Date: 2001-11-29, Value: 1140.199951171875, Previous Max: 1527.4599609375
Date: 2001-11-30, Value: 1139.449951171875, Previous Max: 1527.4599609375
Date: 2001-12-03, Value: 1129.9000244140625, Previous Max: 1527.4599609375
Date: 2001-12-04, Value: 1144.800048828125, Previous Max: 1527.4599609375

In [233]:
crash_df=pd.DataFrame.from_dict(crash_dict,orient="index",columns=["S&P500 Crash Values","Previous Max","Max Date"]).reset_index()
crash_df.rename(columns={"index":"Date"},inplace=True) 
crash_df.sort_values("Date",inplace=True)
crash_df

            Date  S&P500 Crash Values  Previous Max    Max Date
0     2000-04-14          1356.560059   1527.459961  2000-03-24
1     2000-05-23          1373.859985   1527.459961  2000-03-24
2     2000-10-11          1364.589966   1527.459961  2000-03-24
3     2000-10-12          1329.780029   1527.459961  2000-03-24
4     2000-10-13          1374.170044   1527.459961  2000-03-24
...          ...                  ...           ...         ...
3119  2025-04-22          5287.759766   6144.149902  2025-02-19
3120  2025-04-23          5375.859863   6144.149902  2025-02-19
3121  2025-04-24          5484.770020   6144.149902  2025-02-19
3122  2025-04-25          5525.209961   6144.149902  2025-02-19
3123  2025-04-28          5528.750000   6144.149902  2025-02-19

[3124 rows x 4 columns]

In [185]:
crash_start=crash_df.drop_duplicates(subset=["Previous Max"],keep="first")
crash_start=crash_start.reset_index()
crash_start=crash_start.rename(columns={"index":"Start Crash Date"})
crash_start

  Start Crash Date  S&P500 Crash Values  Previous Max    Max Date
0       2000-04-14          1356.560059   1527.459961  2000-03-24
1       2007-11-26          1407.219971   1565.150024  2007-10-09
2       2015-08-24          1893.209961   2130.820068  2015-05-21
3       2018-02-08          2581.000000   2872.870117  2018-01-26
4       2018-11-23          2632.560059   2930.750000  2018-09-20
5       2020-02-27          2978.760010   3386.149902  2020-02-19
6       2022-02-22          4304.759766   4796.560059  2022-01-03
7       2025-03-13          5521.520020   6144.149902  2025-02-19

In [186]:
crash_end=crash_df.drop_duplicates(subset=["Previous Max"],keep="last")
crash_end=crash_end.reset_index()
crash_end=crash_end.rename(columns={"index":"End Crash Date"})
crash_end

  End Crash Date  S&P500 Crash Values  Previous Max    Max Date
0     2007-03-05          1374.119995   1527.459961  2000-03-24
1     2012-12-28          1402.430054   1565.150024  2007-10-09
2     2016-02-16          1895.579956   2130.820068  2015-05-21
3     2018-04-02          2581.879883   2872.870117  2018-01-26
4     2019-01-22          2632.899902   2930.750000  2018-09-20
5     2020-06-26          3009.050049   3386.149902  2020-02-19
6     2023-11-01          4237.859863   4796.560059  2022-01-03
7     2025-04-28          5528.750000   6144.149902  2025-02-19

In [187]:
crash_start_end=pd.merge(crash_start,crash_end,on=["Previous Max","Max Date"],suffixes=('_Start','_End_Dip'))
crash_start_end

,Start Crash Date,S&P500 Crash Values_Start,Previous Max,Max Date,End Crash Date,S&P500 Crash Values_End_Dip
0,2000-04-14,1356.560059,1527.459961,2000-03-24,2007-03-05,1374.119995
1,2007-11-26,1407.219971,1565.150024,2007-10-09,2012-12-28,1402.430054
2,2015-08-24,1893.209961,2130.820068,2015-05-21,2016-02-16,1895.579956
3,2018-02-08,2581.000000,2872.870117,2018-01-26,2018-04-02,2581.879883
4,2018-11-23,2632.560059,2930.750000,2018-09-20,2019-01-22,2632.899902
5,2020-02-27,2978.760010,3386.149902,2020-02-19,2020-06-26,3009.050049
6,2022-02-22,4304.759766,4796.560059,2022-01-03,2023-11-01,4237.859863
7,2025-03-13,5521.520020,6144.149902,2025-02-19,2025-04-28,5528.750000

In [253]:
df_crash_resorted=crash_start_end[["Max Date","Previous Max","Start Crash Date","S&P500 Crash Values_Start","End Crash Date","S&P500 Crash Values_End_Dip"]]
df_crash_resorted.columns=["Max Date","Value at Max","Start Crash Date","Value at Start Crash","End Crash Date","Value at End Crash"]
df_crash_resorted

,Max Date,Value at Max,Start Crash Date,Value at Start Crash,End Crash Date,Value at End Crash
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000

In [254]:
#df=pd.DataFrame({"Date Recovered":[],"Value Recovered":[]})
recoverydict={"Recovered Date":[],"Value At Recovered":[]}
for index, row in df_crash_resorted.iterrows():
    date_max=(row["Max Date"])
    value_max=row["Value at Max"]
    recovered_df=sp500_data[(sp500_data["Date"]>date_max)&(sp500_data["S&P500"]>=value_max)]
    print(recovered_df["Date"].iloc[0])
    recoverydict["Recovered Date"].append(recovered_df["Date"].iloc[0])
    recoverydict["Value At Recovered"].append(recovered_df["S&P500"].iloc[0])
recovery_df=pd.DataFrame(recoverydict)
recovery_df["Recovered Date"]=pd.to_datetime(recovery_df["Recovered Date"]).dt.date
recovery_df

2007-05-30
2013-03-28
2016-07-11
2018-08-24
2019-04-23
2020-08-18
2024-01-19
2025-06-27

  Recovered Date  Value At Recovered
0     2007-05-30         1530.229980
1     2013-03-28         1569.189941
2     2016-07-11         2137.159912
3     2018-08-24         2874.689941
4     2019-04-23         2933.679932
5     2020-08-18         3389.780029
6     2024-01-19         4839.810059
7     2025-06-27         6173.069824

In [255]:
crash_sp_500_full=pd.concat([df_crash_resorted,recovery_df],axis=1)
crash_sp_500_full

,Max Date,Value at Max,Start Crash Date,Value at Start Crash,End Crash Date,Value at End Crash,Recovered Date,Value At Recovered
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995,2007-05-30,1530.229980
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054,2013-03-28,1569.189941
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956,2016-07-11,2137.159912
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883,2018-08-24,2874.689941
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902,2019-04-23,2933.679932
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049,2020-08-18,3389.780029
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863,2024-01-19,4839.810059
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000,2025-06-27,6173.069824

# Enter at time of max
Now I am calculating how fast stocks recovered for luxurious brands, if I invested on the peak moment of the peak of the S&P500

In [256]:
crash_sp_500_full

,Max Date,Value at Max,Start Crash Date,Value at Start Crash,End Crash Date,Value at End Crash,Recovered Date,Value At Recovered
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995,2007-05-30,1530.229980
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054,2013-03-28,1569.189941
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956,2016-07-11,2137.159912
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883,2018-08-24,2874.689941
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902,2019-04-23,2933.679932
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049,2020-08-18,3389.780029
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863,2024-01-19,4839.810059
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000,2025-06-27,6173.069824

In [257]:
recovery_to_max_date=crash_sp_500_full[["Max Date","Start Crash Date"]].copy()
recovery_to_max_date

     Max Date Start Crash Date
0  2000-03-24       2000-04-14
1  2007-10-09       2007-11-26
2  2015-05-21       2015-08-24
3  2018-01-26       2018-02-08
4  2018-09-20       2018-11-23
5  2020-02-19       2020-02-27
6  2022-01-03       2022-02-22
7  2025-02-19       2025-03-13

In [258]:
luxury_recovery_dates = {}
for brand in luxury_brands["Company Name"].tolist():
    print(brand)
    brand_data=red_base_df[["Date",brand]]
    recovery_dates=[]
    for index, row in crash_sp_500_full.iterrows():
        date_invest_max=(row["Max Date"])
        date_crash_realisation=(row["Start Crash Date"])
        value_brand_at_max_date=brand_data[brand_data["Date"]<=date_invest_max][brand].values[-1]
        recovered_df_brand=brand_data[(brand_data["Date"]>date_crash_realisation)&(brand_data[brand]>=value_brand_at_max_date)]
        recovered_df_brand=recovered_df_brand.dropna(subset=[brand])
        if len(recovered_df_brand)==0:
            date_recovered=np.nan
            recovery_dates.append(date_recovered)
            pass
        else:
            date_recovered=recovered_df_brand.iloc[0]["Date"]
            recovery_dates.append(date_recovered)
            print(f"Brand: {brand}, Date Invest Max: {date_invest_max}, Value at Max Date: {value_brand_at_max_date}, Date Recovered: {date_recovered}")
    luxury_recovery_dates[brand]=recovery_dates
luxury_recovery_df=pd.DataFrame(luxury_recovery_dates)
luxury_recovery_df

LVMH MOET HENNE
Brand: LVMH MOET HENNE, Date Invest Max: 2000-03-24, Value at Max Date: 53.37447738647461, Date Recovered: 2000-04-17
Brand: LVMH MOET HENNE, Date Invest Max: 2007-10-09, Value at Max Date: 60.3274040222168, Date Recovered: 2010-01-11
Brand: LVMH MOET HENNE, Date Invest Max: 2015-05-21, Value at Max Date: 138.8043212890625, Date Recovered: 2015-10-09
Brand: LVMH MOET HENNE, Date Invest Max: 2018-01-26, Value at Max Date: 222.110595703125, Date Recovered: 2018-03-21
Brand: LVMH MOET HENNE, Date Invest Max: 2018-09-20, Value at Max Date: 264.17254638671875, Date Recovered: 2019-02-12
Brand: LVMH MOET HENNE, Date Invest Max: 2020-02-19, Value at Max Date: 383.30584716796875, Date Recovered: 2020-09-11
Brand: LVMH MOET HENNE, Date Invest Max: 2022-01-03, Value at Max Date: 683.0697631835938, Date Recovered: 2022-11-30
CIE FINANCI-REG
Brand: CIE FINANCI-REG, Date Invest Max: 2000-03-24, Value at Max Date: 19.36227798461914, Date Recovered: 2000-04-28
Brand: CIE FINANCI-REG, Date Invest Max: 2007-10-09, Value at Max Date: 36.344459533691406, Date Recovered: 2007-11-30
Brand: CIE FINANCI-REG, Date Invest Max: 2015-05-21, Value at Max Date: 66.76715850830078, Date Recovered: 2015-11-03
Brand: CIE FINANCI-REG, Date Invest Max: 2018-01-26, Value at Max Date: 73.30225372314453, Date Recovered: 2018-04-10
Brand: CIE FINANCI-REG, Date Invest Max: 2018-09-20, Value at Max Date: 68.0526351928711, Date Recovered: 2019-06-18
Brand: CIE FINANCI-REG, Date Invest Max: 2020-02-19, Value at Max Date: 63.24668884277344, Date Recovered: 2020-11-09
Brand: CIE FINANCI-REG, Date Invest Max: 2022-01-03, Value at Max Date: 123.86823272705078, Date Recovered: 2023-01-09
L'OREAL
Brand: L'OREAL, Date Invest Max: 2000-03-24, Value at Max Date: 45.599178314208984, Date Recovered: 2000-04-17
Brand: L'OREAL, Date Invest Max: 2007-10-09, Value at Max Date: 67.68807220458984, Date Recovered: 2007-11-28
Brand: L'OREAL, Date Invest Max: 2015-05-21, Value at Max Date: 149.3936004638672, Date Recovered: 2016-06-30
Brand: L'OREAL, Date Invest Max: 2018-01-26, Value at Max Date: 161.81558227539062, Date Recovered: 2018-03-29
Brand: L'OREAL, Date Invest Max: 2018-09-20, Value at Max Date: 182.73435974121094, Date Recovered: 2018-11-26
Brand: L'OREAL, Date Invest Max: 2020-02-19, Value at Max Date: 249.78892517089844, Date Recovered: 2020-06-17
Brand: L'OREAL, Date Invest Max: 2022-01-03, Value at Max Date: 400.5950622558594, Date Recovered: 2023-04-04
Brand: L'OREAL, Date Invest Max: 2025-02-19, Value at Max Date: 328.0063171386719, Date Recovered: 2025-03-14
ESSILORLUXOTTICA
Brand: ESSILORLUXOTTICA, Date Invest Max: 2000-03-24, Value at Max Date: 8.90526294708252, Date Recovered: 2000-04-19
Brand: ESSILORLUXOTTICA, Date Invest Max: 2007-10-09, Value at Max Date: 33.13477325439453, Date Recovered: 2010-01-19
Brand: ESSILORLUXOTTICA, Date Invest Max: 2015-05-21, Value at Max Date: 94.40774536132812, Date Recovered: 2015-10-22
Brand: ESSILORLUXOTTICA, Date Invest Max: 2018-01-26, Value at Max Date: 98.79786682128906, Date Recovered: 2018-04-20
Brand: ESSILORLUXOTTICA, Date Invest Max: 2018-09-20, Value at Max Date: 107.25318908691406, Date Recovered: 2019-07-31
Brand: ESSILORLUXOTTICA, Date Invest Max: 2020-02-19, Value at Max Date: 127.76787567138672, Date Recovered: 2021-03-11
Brand: ESSILORLUXOTTICA, Date Invest Max: 2022-01-03, Value at Max Date: 170.58102416992188, Date Recovered: 2023-04-21
Brand: ESSILORLUXOTTICA, Date Invest Max: 2025-02-19, Value at Max Date: 289.26934814453125, Date Recovered: 2025-10-17
HERMES INTERNATIONAL
Brand: HERMES INTERNATIONAL, Date Invest Max: 2000-03-24, Value at Max Date: 35.28521728515625, Date Recovered: 2000-04-17
Brand: HERMES INTERNATIONAL, Date Invest Max: 2007-10-09, Value at Max Date: 70.4875259399414, Date Recovered: 2007-11-30
Brand: HERMES INTERNATIONAL, Date Invest Max: 2015-05-21, Value at Max Date: 313.38128662109375, Date Recovered: 2015-10-12
Brand: HERMES INTERNATIONAL, Date Invest Max: 2018-01-26, Value at Max Date: 417.70074462890625, Date Recovered: 2018-02-23
Brand: HERMES INTERNATIONAL, Date Invest Max: 2018-09-20, Value at Max Date: 521.45654296875, Date Recovered: 2019-02-20
Brand: HERMES INTERNATIONAL, Date Invest Max: 2020-02-19, Value at Max Date: 680.59765625, Date Recovered: 2020-05-26
Brand: HERMES INTERNATIONAL, Date Invest Max: 2022-01-03, Value at Max Date: 1489.5380859375, Date Recovered: 2022-11-30
RALPH LAUREN CORP
Brand: RALPH LAUREN CORP, Date Invest Max: 2000-03-24, Value at Max Date: 13.243658065795898, Date Recovered: 2000-08-08
Brand: RALPH LAUREN CORP, Date Invest Max: 2007-10-09, Value at Max Date: 57.222412109375, Date Recovered: 2008-08-15
Brand: RALPH LAUREN CORP, Date Invest Max: 2015-05-21, Value at Max Date: 106.54824829101562, Date Recovered: 2015-11-05
Brand: RALPH LAUREN CORP, Date Invest Max: 2018-01-26, Value at Max Date: 102.01716613769531, Date Recovered: 2018-05-23
Brand: RALPH LAUREN CORP, Date Invest Max: 2018-09-20, Value at Max Date: 117.93843841552734, Date Recovered: 2021-04-28
Brand: RALPH LAUREN CORP, Date Invest Max: 2020-02-19, Value at Max Date: 107.48097229003906, Date Recovered: 2021-02-24
Brand: RALPH LAUREN CORP, Date Invest Max: 2022-01-03, Value at Max Date: 111.54576873779297, Date Recovered: 2022-02-23
Brand: RALPH LAUREN CORP, Date Invest Max: 2025-02-19, Value at Max Date: 283.5803527832031, Date Recovered: 2025-05-27
MONCLER SPA
Brand: MONCLER SPA, Date Invest Max: 2015-05-21, Value at Max Date: 15.418233871459961, Date Recovered: 2017-01-11
Brand: MONCLER SPA, Date Invest Max: 2018-01-26, Value at Max Date: 24.522397994995117, Date Recovered: 2018-02-14
Brand: MONCLER SPA, Date Invest Max: 2018-09-20, Value at Max Date: 34.51141357421875, Date Recovered: 2019-06-20
Brand: MONCLER SPA, Date Invest Max: 2020-02-19, Value at Max Date: 36.00932693481445, Date Recovered: 2020-11-09
Brand: MONCLER SPA, Date Invest Max: 2022-01-03, Value at Max Date: 59.81071853637695, Date Recovered: 2023-03-31
DECKERS OUTDOOR CORP
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2000-03-24, Value at Max Date: 0.2222220003604889, Date Recovered: 2000-04-27
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2007-10-09, Value at Max Date: 6.263332843780518, Date Recovered: 2007-11-27
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2015-05-21, Value at Max Date: 12.390000343322754, Date Recovered: 2017-11-29
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2018-01-26, Value at Max Date: 14.739999771118164, Date Recovered: 2018-02-09
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2018-09-20, Value at Max Date: 18.748332977294922, Date Recovered: 2018-11-26
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2020-02-19, Value at Max Date: 33.52000045776367, Date Recovered: 2020-06-02
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2022-01-03, Value at Max Date: 61.323333740234375, Date Recovered: 2022-10-25
FERRARI NV
Brand: FERRARI NV, Date Invest Max: 2018-01-26, Value at Max Date: 91.1502456665039, Date Recovered: 2018-02-09
Brand: FERRARI NV, Date Invest Max: 2018-09-20, Value at Max Date: 111.08776092529297, Date Recovered: 2019-03-19
Brand: FERRARI NV, Date Invest Max: 2020-02-19, Value at Max Date: 160.57089233398438, Date Recovered: 2020-08-17
Brand: FERRARI NV, Date Invest Max: 2022-01-03, Value at Max Date: 221.9193115234375, Date Recovered: 2023-01-26
KERING
Brand: KERING, Date Invest Max: 2000-03-24, Value at Max Date: 112.45425415039062, Date Recovered: 2000-04-25
Brand: KERING, Date Invest Max: 2007-10-09, Value at Max Date: 76.56355285644531, Date Recovered: 2010-10-29
Brand: KERING, Date Invest Max: 2015-05-21, Value at Max Date: 122.14875793457031, Date Recovered: 2015-10-23
Brand: KERING, Date Invest Max: 2018-01-26, Value at Max Date: 323.504638671875, Date Recovered: 2018-04-06
Brand: KERING, Date Invest Max: 2018-09-20, Value at Max Date: 380.335205078125, Date Recovered: 2019-02-05
Brand: KERING, Date Invest Max: 2020-02-19, Value at Max Date: 508.0857849121094, Date Recovered: 2020-09-15
Brand: KERING, Date Invest Max: 2025-02-19, Value at Max Date: 264.72760009765625, Date Recovered: 2025-09-17
TAPESTRY INC
Brand: TAPESTRY INC, Date Invest Max: 2007-10-09, Value at Max Date: 29.284456253051758, Date Recovered: 2010-10-08
Brand: TAPESTRY INC, Date Invest Max: 2015-05-21, Value at Max Date: 27.82212257385254, Date Recovered: 2016-01-29
Brand: TAPESTRY INC, Date Invest Max: 2018-01-26, Value at Max Date: 38.51942825317383, Date Recovered: 2018-02-09
Brand: TAPESTRY INC, Date Invest Max: 2018-09-20, Value at Max Date: 41.47230529785156, Date Recovered: 2021-04-27
Brand: TAPESTRY INC, Date Invest Max: 2020-02-19, Value at Max Date: 24.50855255126953, Date Recovered: 2020-11-17
Brand: TAPESTRY INC, Date Invest Max: 2022-01-03, Value at Max Date: 36.63233184814453, Date Recovered: 2022-02-28
Brand: TAPESTRY INC, Date Invest Max: 2025-02-19, Value at Max Date: 88.09913635253906, Date Recovered: 2025-07-03
KAO CORP
Brand: KAO CORP, Date Invest Max: 2000-03-24, Value at Max Date: 1905.293212890625, Date Recovered: 2000-04-17
Brand: KAO CORP, Date Invest Max: 2007-10-09, Value at Max Date: 2341.50927734375, Date Recovered: 2007-12-05
Brand: KAO CORP, Date Invest Max: 2015-05-21, Value at Max Date: 4793.1357421875, Date Recovered: 2015-10-23
Brand: KAO CORP, Date Invest Max: 2018-01-26, Value at Max Date: 6573.50537109375, Date Recovered: 2018-02-09
Brand: KAO CORP, Date Invest Max: 2018-09-20, Value at Max Date: 7714.17626953125, Date Recovered: 2019-05-07
Brand: KAO CORP, Date Invest Max: 2020-02-19, Value at Max Date: 7513.2880859375, Date Recovered: 2020-03-25
Brand: KAO CORP, Date Invest Max: 2025-02-19, Value at Max Date: 6315.86962890625, Date Recovered: 2025-03-14
PANDORA A/S
Brand: PANDORA A/S, Date Invest Max: 2015-05-21, Value at Max Date: 523.3897705078125, Date Recovered: 2015-08-25
Brand: PANDORA A/S, Date Invest Max: 2018-01-26, Value at Max Date: 467.08563232421875, Date Recovered: 2018-02-09
Brand: PANDORA A/S, Date Invest Max: 2018-09-20, Value at Max Date: 334.15594482421875, Date Recovered: 2020-06-23
Brand: PANDORA A/S, Date Invest Max: 2020-02-19, Value at Max Date: 290.0549011230469, Date Recovered: 2020-05-27
Brand: PANDORA A/S, Date Invest Max: 2022-01-03, Value at Max Date: 743.0275268554688, Date Recovered: 2023-10-05
ESTEE LAUDER
Brand: ESTEE LAUDER, Date Invest Max: 2000-03-24, Value at Max Date: 18.069150924682617, Date Recovered: 2000-05-18
Brand: ESTEE LAUDER, Date Invest Max: 2007-10-09, Value at Max Date: 17.155715942382812, Date Recovered: 2007-11-28
Brand: ESTEE LAUDER, Date Invest Max: 2015-05-21, Value at Max Date: 78.20158386230469, Date Recovered: 2015-12-16
Brand: ESTEE LAUDER, Date Invest Max: 2018-01-26, Value at Max Date: 125.12164306640625, Date Recovered: 2018-02-14
Brand: ESTEE LAUDER, Date Invest Max: 2018-09-20, Value at Max Date: 130.58319091796875, Date Recovered: 2018-11-30
Brand: ESTEE LAUDER, Date Invest Max: 2020-02-19, Value at Max Date: 197.73455810546875, Date Recovered: 2020-08-13
Brand: ESTEE LAUDER, Date Invest Max: 2025-02-19, Value at Max Date: 70.42562866210938, Date Recovered: 2025-06-16
SHISEIDO CO LTD
Brand: SHISEIDO CO LTD, Date Invest Max: 2000-03-24, Value at Max Date: 903.43505859375, Date Recovered: 2000-04-17
Brand: SHISEIDO CO LTD, Date Invest Max: 2007-10-09, Value at Max Date: 1917.859619140625, Date Recovered: 2007-11-27
Brand: SHISEIDO CO LTD, Date Invest Max: 2015-05-21, Value at Max Date: 2288.796875, Date Recovered: 2015-08-26
Brand: SHISEIDO CO LTD, Date Invest Max: 2018-01-26, Value at Max Date: 5455.7529296875, Date Recovered: 2018-02-09
Brand: SHISEIDO CO LTD, Date Invest Max: 2018-09-20, Value at Max Date: 7496.81640625, Date Recovered: 2019-04-11
Brand: SHISEIDO CO LTD, Date Invest Max: 2020-02-19, Value at Max Date: 6630.0712890625, Date Recovered: 2020-06-08
Brand: SHISEIDO CO LTD, Date Invest Max: 2025-02-19, Value at Max Date: 2647.75, Date Recovered: 2025-03-14
BURBERRY GROUP PLC
Brand: BURBERRY GROUP PLC, Date Invest Max: 2007-10-09, Value at Max Date: 662.2262573242188, Date Recovered: 2010-02-04
Brand: BURBERRY GROUP PLC, Date Invest Max: 2015-05-21, Value at Max Date: 1695.6739501953125, Date Recovered: 2017-02-28
Brand: BURBERRY GROUP PLC, Date Invest Max: 2018-01-26, Value at Max Date: 1608.6546630859375, Date Recovered: 2018-03-02
Brand: BURBERRY GROUP PLC, Date Invest Max: 2018-09-20, Value at Max Date: 2004.73779296875, Date Recovered: 2019-04-18
Brand: BURBERRY GROUP PLC, Date Invest Max: 2020-02-19, Value at Max Date: 2010.31689453125, Date Recovered: 2021-03-12
Brand: BURBERRY GROUP PLC, Date Invest Max: 2025-02-19, Value at Max Date: 1111.0, Date Recovered: 2025-06-12
VAIL RESORTS INC
Brand: VAIL RESORTS INC, Date Invest Max: 2000-03-24, Value at Max Date: 12.984593391418457, Date Recovered: 2000-08-14
Brand: VAIL RESORTS INC, Date Invest Max: 2007-10-09, Value at Max Date: 45.111175537109375, Date Recovered: 2013-03-08
Brand: VAIL RESORTS INC, Date Invest Max: 2015-05-21, Value at Max Date: 78.78528594970703, Date Recovered: 2015-08-26
Brand: VAIL RESORTS INC, Date Invest Max: 2018-01-26, Value at Max Date: 182.1646270751953, Date Recovered: 2018-03-20
Brand: VAIL RESORTS INC, Date Invest Max: 2018-09-20, Value at Max Date: 230.49517822265625, Date Recovered: 2020-11-13
Brand: VAIL RESORTS INC, Date Invest Max: 2020-02-19, Value at Max Date: 205.75387573242188, Date Recovered: 2020-10-12
Brand: VAIL RESORTS INC, Date Invest Max: 2025-02-19, Value at Max Date: 153.54307556152344, Date Recovered: 2025-03-17
VF CORP
Brand: VF CORP, Date Invest Max: 2000-03-24, Value at Max Date: 2.9551236629486084, Date Recovered: 2000-04-17
Brand: VF CORP, Date Invest Max: 2007-10-09, Value at Max Date: 11.863247871398926, Date Recovered: 2008-09-03
Brand: VF CORP, Date Invest Max: 2015-05-21, Value at Max Date: 49.528839111328125, Date Recovered: 2015-08-26
Brand: VF CORP, Date Invest Max: 2018-01-26, Value at Max Date: 60.72425079345703, Date Recovered: 2018-02-13
Brand: VF CORP, Date Invest Max: 2018-09-20, Value at Max Date: 69.54402160644531, Date Recovered: 2019-04-15
Brand: VF CORP, Date Invest Max: 2020-02-19, Value at Max Date: 69.00541687011719, Date Recovered: 2020-11-16
BATH & BODY WORKS INC
Brand: BATH & BODY WORKS INC, Date Invest Max: 2000-03-24, Value at Max Date: 5.147465705871582, Date Recovered: 2000-04-17
Brand: BATH & BODY WORKS INC, Date Invest Max: 2007-10-09, Value at Max Date: 7.111539840698242, Date Recovered: 2008-09-02
Brand: BATH & BODY WORKS INC, Date Invest Max: 2015-05-21, Value at Max Date: 50.22616958618164, Date Recovered: 2015-09-03
Brand: BATH & BODY WORKS INC, Date Invest Max: 2018-01-26, Value at Max Date: 33.61208724975586, Date Recovered: 2021-01-07
Brand: BATH & BODY WORKS INC, Date Invest Max: 2018-09-20, Value at Max Date: 20.158275604248047, Date Recovered: 2018-11-26
Brand: BATH & BODY WORKS INC, Date Invest Max: 2020-02-19, Value at Max Date: 17.970754623413086, Date Recovered: 2020-03-04
BRUNELLO CUCINELLI SPA
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2015-05-21, Value at Max Date: 15.872065544128418, Date Recovered: 2015-10-09
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2018-01-26, Value at Max Date: 25.964344024658203, Date Recovered: 2018-04-10
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2018-09-20, Value at Max Date: 32.598594665527344, Date Recovered: 2019-02-13
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2020-02-19, Value at Max Date: 33.692832946777344, Date Recovered: 2020-12-03
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2022-01-03, Value at Max Date: 60.96569061279297, Date Recovered: 2022-11-14
SIGNET JEWELERS LTD
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2000-03-24, Value at Max Date: 10.95400619506836, Date Recovered: 2000-05-01
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2007-10-09, Value at Max Date: 27.81903839111328, Date Recovered: 2010-10-26
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2015-05-21, Value at Max Date: 111.36295318603516, Date Recovered: 2015-08-27
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2018-01-26, Value at Max Date: 46.579532623291016, Date Recovered: 2018-06-08
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2018-09-20, Value at Max Date: 57.8033561706543, Date Recovered: 2021-03-18
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2020-02-19, Value at Max Date: 26.06330680847168, Date Recovered: 2020-11-17
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2022-01-03, Value at Max Date: 88.5241470336914, Date Recovered: 2023-12-06
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2025-02-19, Value at Max Date: 55.20652770996094, Date Recovered: 2025-03-19
PRADA S.P.A.
Brand: PRADA S.P.A., Date Invest Max: 2015-05-21, Value at Max Date: 40.36262893676758, Date Recovered: 2018-05-08
Brand: PRADA S.P.A., Date Invest Max: 2018-01-26, Value at Max Date: 29.697925567626953, Date Recovered: 2018-02-22
Brand: PRADA S.P.A., Date Invest Max: 2018-09-20, Value at Max Date: 31.589059829711914, Date Recovered: 2020-11-10
Brand: PRADA S.P.A., Date Invest Max: 2020-02-19, Value at Max Date: 25.96253776550293, Date Recovered: 2020-05-29
Brand: PRADA S.P.A., Date Invest Max: 2022-01-03, Value at Max Date: 44.69782257080078, Date Recovered: 2022-02-28
SAMSONITE GROUP SA
Brand: SAMSONITE GROUP SA, Date Invest Max: 2015-05-21, Value at Max Date: 23.061904907226562, Date Recovered: 2017-03-17
Brand: SAMSONITE GROUP SA, Date Invest Max: 2018-01-26, Value at Max Date: 28.95203971862793, Date Recovered: 2018-02-15
Brand: SAMSONITE GROUP SA, Date Invest Max: 2018-09-20, Value at Max Date: 25.180559158325195, Date Recovered: 2024-03-01
Brand: SAMSONITE GROUP SA, Date Invest Max: 2020-02-19, Value at Max Date: 14.51308822631836, Date Recovered: 2021-03-17
Brand: SAMSONITE GROUP SA, Date Invest Max: 2022-01-03, Value at Max Date: 14.203911781311035, Date Recovered: 2022-02-23

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-04-17,2000-04-28,2000-04-17,2000-04-19,2000-04-17,2000-08-08,NaN,2000-04-27,NaN,2000-04-25,...,2000-05-18,2000-04-17,NaN,2000-08-14,2000-04-17,2000-04-17,NaN,2000-05-01,NaN,NaN
1,2010-01-11,2007-11-30,2007-11-28,2010-01-19,2007-11-30,2008-08-15,NaN,2007-11-27,NaN,2010-10-29,...,2007-11-28,2007-11-27,2010-02-04,2013-03-08,2008-09-03,2008-09-02,NaN,2010-10-26,NaN,NaN
2,2015-10-09,2015-11-03,2016-06-30,2015-10-22,2015-10-12,2015-11-05,2017-01-11,2017-11-29,NaN,2015-10-23,...,2015-12-16,2015-08-26,2017-02-28,2015-08-26,2015-08-26,2015-09-03,2015-10-09,2015-08-27,2018-05-08,2017-03-17
3,2018-03-21,2018-04-10,2018-03-29,2018-04-20,2018-02-23,2018-05-23,2018-02-14,2018-02-09,2018-02-09,2018-04-06,...,2018-02-14,2018-02-09,2018-03-02,2018-03-20,2018-02-13,2021-01-07,2018-04-10,2018-06-08,2018-02-22,2018-02-15
4,2019-02-12,2019-06-18,2018-11-26,2019-07-31,2019-02-20,2021-04-28,2019-06-20,2018-11-26,2019-03-19,2019-02-05,...,2018-11-30,2019-04-11,2019-04-18,2020-11-13,2019-04-15,2018-11-26,2019-02-13,2021-03-18,2020-11-10,2024-03-01
5,2020-09-11,2020-11-09,2020-06-17,2021-03-11,2020-05-26,2021-02-24,2020-11-09,2020-06-02,2020-08-17,2020-09-15,...,2020-08-13,2020-06-08,2021-03-12,2020-10-12,2020-11-16,2020-03-04,2020-12-03,2020-11-17,2020-05-29,2021-03-17
6,2022-11-30,2023-01-09,2023-04-04,2023-04-21,2022-11-30,2022-02-23,2023-03-31,2022-10-25,2023-01-26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-14,2023-12-06,2022-02-28,2022-02-23
7,NaN,NaN,2025-03-14,2025-10-17,NaN,2025-05-27,NaN,NaN,NaN,2025-09-17,...,2025-06-16,2025-03-14,2025-06-12,2025-03-17,NaN,NaN,NaN,2025-03-19,NaN,NaN

In [259]:
df_recovery_concat=pd.concat([crash_sp_500_full[["Max Date","Recovered Date"]],luxury_recovery_df],axis=1)
df_recovery_concat

,Max Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-03-24,2007-05-30,2000-04-17,2000-04-28,2000-04-17,2000-04-19,2000-04-17,2000-08-08,NaN,2000-04-27,...,2000-05-18,2000-04-17,NaN,2000-08-14,2000-04-17,2000-04-17,NaN,2000-05-01,NaN,NaN
1,2007-10-09,2013-03-28,2010-01-11,2007-11-30,2007-11-28,2010-01-19,2007-11-30,2008-08-15,NaN,2007-11-27,...,2007-11-28,2007-11-27,2010-02-04,2013-03-08,2008-09-03,2008-09-02,NaN,2010-10-26,NaN,NaN
2,2015-05-21,2016-07-11,2015-10-09,2015-11-03,2016-06-30,2015-10-22,2015-10-12,2015-11-05,2017-01-11,2017-11-29,...,2015-12-16,2015-08-26,2017-02-28,2015-08-26,2015-08-26,2015-09-03,2015-10-09,2015-08-27,2018-05-08,2017-03-17
3,2018-01-26,2018-08-24,2018-03-21,2018-04-10,2018-03-29,2018-04-20,2018-02-23,2018-05-23,2018-02-14,2018-02-09,...,2018-02-14,2018-02-09,2018-03-02,2018-03-20,2018-02-13,2021-01-07,2018-04-10,2018-06-08,2018-02-22,2018-02-15
4,2018-09-20,2019-04-23,2019-02-12,2019-06-18,2018-11-26,2019-07-31,2019-02-20,2021-04-28,2019-06-20,2018-11-26,...,2018-11-30,2019-04-11,2019-04-18,2020-11-13,2019-04-15,2018-11-26,2019-02-13,2021-03-18,2020-11-10,2024-03-01
5,2020-02-19,2020-08-18,2020-09-11,2020-11-09,2020-06-17,2021-03-11,2020-05-26,2021-02-24,2020-11-09,2020-06-02,...,2020-08-13,2020-06-08,2021-03-12,2020-10-12,2020-11-16,2020-03-04,2020-12-03,2020-11-17,2020-05-29,2021-03-17
6,2022-01-03,2024-01-19,2022-11-30,2023-01-09,2023-04-04,2023-04-21,2022-11-30,2022-02-23,2023-03-31,2022-10-25,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-14,2023-12-06,2022-02-28,2022-02-23
7,2025-02-19,2025-06-27,NaN,NaN,2025-03-14,2025-10-17,NaN,2025-05-27,NaN,NaN,...,2025-06-16,2025-03-14,2025-06-12,2025-03-17,NaN,NaN,NaN,2025-03-19,NaN,NaN

In [260]:
# If your columns are already datetime
df_days_recovery=pd.DataFrame()
df_days_recovery["Max Date"]=df_recovery_concat["Max Date"]
for col in df_recovery_concat.columns:
    if col not in ['Max Date']:
        df_days_recovery[col] =(pd.to_datetime(df_recovery_concat[col]) - pd.to_datetime(df_recovery_concat['Max Date'])).dt.days

In [261]:
df_days_recovery

,Max Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-03-24,2623,24.0,35.0,24,26,24.0,137,NaN,34.0,...,55.0,24.0,NaN,143.0,24.0,24.0,NaN,38,NaN,NaN
1,2007-10-09,1997,825.0,52.0,50,833,52.0,311,NaN,49.0,...,50.0,49.0,849.0,1977.0,330.0,329.0,NaN,1113,NaN,NaN
2,2015-05-21,417,141.0,166.0,406,154,144.0,168,601.0,923.0,...,209.0,97.0,649.0,97.0,97.0,105.0,141.0,98,1083.0,666.0
3,2018-01-26,210,54.0,74.0,62,84,28.0,117,19.0,14.0,...,19.0,14.0,35.0,53.0,18.0,1077.0,74.0,133,27.0,20.0
4,2018-09-20,215,145.0,271.0,67,314,153.0,951,273.0,67.0,...,71.0,203.0,210.0,785.0,207.0,67.0,146.0,910,782.0,1989.0
5,2020-02-19,181,205.0,264.0,119,386,97.0,371,264.0,104.0,...,176.0,110.0,387.0,236.0,271.0,14.0,288.0,272,100.0,392.0
6,2022-01-03,746,331.0,371.0,456,473,331.0,51,452.0,295.0,...,NaN,NaN,NaN,NaN,NaN,NaN,315.0,702,56.0,51.0
7,2025-02-19,128,NaN,NaN,23,240,NaN,97,NaN,NaN,...,117.0,23.0,113.0,26.0,NaN,NaN,NaN,28,NaN,NaN

In [262]:
df_days_recovery["mean"]=df_days_recovery[df_days_recovery.columns[2:]].mean(axis=1)
df_days_recovery["median"]=df_days_recovery[df_days_recovery.columns[2:-1]].median(axis=1)
df_days_recovery

,Max Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,mean,median
0,2000-03-24,2623,24.0,35.0,24,26,24.0,137,NaN,34.0,...,NaN,143.0,24.0,24.0,NaN,38,NaN,NaN,44.533333,26.0
1,2007-10-09,1997,825.0,52.0,50,833,52.0,311,NaN,49.0,...,849.0,1977.0,330.0,329.0,NaN,1113,NaN,NaN,537.470588,329.0
2,2015-05-21,417,141.0,166.0,406,154,144.0,168,601.0,923.0,...,649.0,97.0,97.0,105.0,141.0,98,1083.0,666.0,300.181818,155.0
3,2018-01-26,210,54.0,74.0,62,84,28.0,117,19.0,14.0,...,35.0,53.0,18.0,1077.0,74.0,133,27.0,20.0,89.043478,28.0
4,2018-09-20,215,145.0,271.0,67,314,153.0,951,273.0,67.0,...,210.0,785.0,207.0,67.0,146.0,910,782.0,1989.0,423.913043,210.0
5,2020-02-19,181,205.0,264.0,119,386,97.0,371,264.0,104.0,...,387.0,236.0,271.0,14.0,288.0,272,100.0,392.0,210.869565,209.0
6,2022-01-03,746,331.0,371.0,456,473,331.0,51,452.0,295.0,...,NaN,NaN,NaN,NaN,315.0,702,56.0,51.0,331.200000,331.0
7,2025-02-19,128,NaN,NaN,23,240,NaN,97,NaN,NaN,...,113.0,26.0,NaN,NaN,NaN,28,NaN,NaN,94.000000,97.0

In [263]:
def get_dividend_data(ticker, start_date, end_date=None):
    try:
        stock = yf.Ticker(ticker)
        # Method 1: Using .dividends property
        dividends = stock.dividends
        if start_date:
            dividends = dividends[dividends.index >= start_date]
        if end_date:
            dividends = dividends[dividends.index <= end_date]
        
        return dividends
    except:
        return None

# Example usage
start_date = "2000-01-01"
end_date = "2024-12-31"

dividend_data = get_dividend_data("MC.PA", start_date, end_date)
print(dividend_data)

Date
2000-06-05 00:00:00+02:00    0.480000
2000-12-01 00:00:00+01:00    0.220000
2001-06-05 00:00:00+02:00    0.530000
2001-12-04 00:00:00+01:00    0.220000
2002-06-04 00:00:00+02:00    0.530000
2002-12-03 00:00:00+01:00    0.220000
2003-05-28 00:00:00+02:00    0.580000
2003-12-04 00:00:00+01:00    0.220000
2004-05-19 00:00:00+02:00    0.630000
2004-12-02 00:00:00+01:00    0.375000
2005-05-18 00:00:00+02:00    0.700000
2005-12-02 00:00:00+01:00    0.250000
2006-05-18 00:00:00+02:00    0.900000
2006-12-01 00:00:00+01:00    0.300000
2007-05-15 00:00:00+02:00    1.100000
2007-11-28 00:00:00+01:00    0.350000
2008-05-20 00:00:00+02:00    1.250000
2008-11-05 00:00:00+01:00    0.275872
2008-11-27 00:00:00+01:00    0.350000
2009-05-20 00:00:00+02:00    1.250000
2009-11-27 00:00:00+01:00    0.350000
2010-05-20 00:00:00+02:00    1.300000
2010-11-29 00:00:00+01:00    0.700000
2011-05-20 00:00:00+02:00    1.400000
2011-11-29 00:00:00+01:00    0.800000
2012-04-20 00:00:00+02:00    1.800000
2012-11-29 00:00:00+01:00    1.100000
2013-04-22 00:00:00+02:00    1.800000
2013-11-28 00:00:00+01:00    1.200000
2014-04-14 00:00:00+02:00    1.900000
2014-12-02 00:00:00+01:00    1.250000
2015-04-21 00:00:00+02:00    1.950000
2015-12-01 00:00:00+01:00    1.350000
2016-04-19 00:00:00+02:00    2.200000
2016-11-29 00:00:00+01:00    1.400000
2017-04-19 00:00:00+02:00    2.600000
2017-12-05 00:00:00+01:00    1.600000
2018-04-17 00:00:00+02:00    3.400000
2018-12-04 00:00:00+01:00    2.000000
2019-04-25 00:00:00+02:00    4.000000
2019-12-06 00:00:00+01:00    2.200000
2020-07-07 00:00:00+02:00    2.600000
2020-12-01 00:00:00+01:00    2.000000
2021-04-20 00:00:00+02:00    4.000000
2021-11-30 00:00:00+01:00    3.000000
2022-04-26 00:00:00+02:00    7.000000
2022-12-01 00:00:00+01:00    5.000000
2023-04-25 00:00:00+02:00    7.000000
2023-12-04 00:00:00+01:00    5.500000
2024-04-23 00:00:00+02:00    7.500000
2024-12-02 00:00:00+01:00    5.500000
Name: Dividends, dtype: float64

In [264]:

for index, row in luxury_brands.iterrows():
    ticker = row['ticker']
    print(f"Getting data for {ticker}")
    data = get_dividend_data(ticker, start_date, end_date)
    if data is not None and len(data)>0:
        data_df=pd.DataFrame({"Date":data.index,row["Company Name"]:data.values})
        print(f"Latest close price: {data.iloc[-1]:.2f}")
        data["Date"] = pd.to_datetime(data_df["Date"]).dt.date
        red_data=data_df
        if index==0:
            base_df=red_data
        else:
            base_df=pd.merge(base_df,red_data,on="Date",how="outer")

Getting data for MC.PA
Latest close price: 5.50
Getting data for CFR.SW
Latest close price: 2.75
Getting data for OR.PA
Latest close price: 6.60
Getting data for EL.PA
Latest close price: 3.95
Getting data for RMS.PA
Latest close price: 21.50
Getting data for RL
Latest close price: 0.82
Getting data for MONC.MI
Latest close price: 1.15
Getting data for DECK
Getting data for RACE.MI
Latest close price: 2.44
Getting data for PPX.F
Latest close price: 9.50
Getting data for TPR
Latest close price: 0.35
Getting data for 4452.T
Latest close price: 76.00
Getting data for PNDORA.CO
Latest close price: 18.00
Getting data for EL
Latest close price: 0.35
Getting data for 4911.T
Latest close price: 10.00
Getting data for BRBY.L
Latest close price: 42.70
Getting data for MTN
Latest close price: 2.22
Getting data for VFC
Latest close price: 0.09
Getting data for BBWI
Latest close price: 0.20
Getting data for BC.MI
Latest close price: 0.91
Getting data for SIG
Latest close price: 0.29
Getting data for 1913.HK
Latest close price: 1.13
Getting data for 1910.HK
Latest close price: 0.80

In [265]:
base_df

,Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,FERRARI NV,KERING,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-03-01 06:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.060631,NaN,NaN,NaN,NaN
1,2000-03-08 06:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.051789,NaN,NaN,NaN,NaN,NaN
2,2000-03-14 06:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-03-27 17:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-06-01 06:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.426667,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,2024-12-06 06:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832,2024-12-10 06:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.090000,NaN,NaN,NaN,NaN,NaN
833,2024-12-26 06:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.22,NaN,NaN,NaN,NaN,NaN,NaN
834,2024-12-26 16:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
835,2024-12-27 06:00:00+01:00,NaN,NaN,NaN,NaN,NaN,0.825,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
base_df.columns

Index(['Date', 'LVMH MOET HENNE', 'CIE FINANCI-REG', 'L'OREAL',
       'ESSILORLUXOTTICA', 'HERMES INTERNATIONAL', 'RALPH LAUREN CORP',
       'MONCLER SPA', 'FERRARI NV', 'KERING', 'TAPESTRY INC', 'KAO CORP',
       'PANDORA A/S', 'ESTEE LAUDER', 'SHISEIDO CO LTD', 'BURBERRY GROUP PLC',
       'VAIL RESORTS INC', 'VF CORP', 'BATH & BODY WORKS INC',
       'BRUNELLO CUCINELLI SPA', 'SIGNET JEWELERS LTD', 'PRADA S.P.A.',
       'SAMSONITE GROUP SA'],
      dtype='object')

In [267]:
dividends_df.columns

Index(['Date', 'SAMSONITE GROUP SA', 'Date_formatted'], dtype='object')

In [268]:
def check_consecutive_increase(lst):
    skips_list=[]
    for i in range(len(lst) - 1):
        if lst[i+1] != lst[i] + 1:
            skipped_year= lst[i] + 1
            skips_list.append(skipped_year)
    return skips_list

In [269]:
results_dict={}
for col in base_df.columns[1:]:
    dividends_df=base_df[["Date",col]]
    dividends_df=dividends_df.dropna(subset=[col])
    dividends_df["Date_formatted"] = pd.to_datetime(dividends_df["Date"])
    years_of_dividends=dividends_df["Date_formatted"].dt.year.tolist()
    years_of_dividends=set(years_of_dividends)
    years_of_dividends=sorted(list(years_of_dividends))
    results_dict[col] = check_consecutive_increase(years_of_dividends)
pd.DataFrame.from_dict(results_dict,orient="index",columns=["Skipped Dividends"])

                        Skipped Dividends
LVMH MOET HENNE                       NaN
CIE FINANCI-REG                       NaN
L'OREAL                               NaN
ESSILORLUXOTTICA                      NaN
HERMES INTERNATIONAL                  NaN
RALPH LAUREN CORP                     NaN
MONCLER SPA                        2020.0
FERRARI NV                            NaN
KERING                                NaN
TAPESTRY INC                          NaN
KAO CORP                              NaN
PANDORA A/S                           NaN
ESTEE LAUDER                          NaN
SHISEIDO CO LTD                       NaN
BURBERRY GROUP PLC                 2020.0
VAIL RESORTS INC                      NaN
VF CORP                               NaN
BATH & BODY WORKS INC                 NaN
BRUNELLO CUCINELLI SPA             2020.0
SIGNET JEWELERS LTD                2009.0
PRADA S.P.A.                       2020.0
SAMSONITE GROUP SA                 2020.0

In [270]:
crash_sp_500_full

,Max Date,Value at Max,Start Crash Date,Value at Start Crash,End Crash Date,Value at End Crash,Recovered Date,Value At Recovered
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995,2007-05-30,1530.229980
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054,2013-03-28,1569.189941
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956,2016-07-11,2137.159912
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883,2018-08-24,2874.689941
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902,2019-04-23,2933.679932
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049,2020-08-18,3389.780029
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863,2024-01-19,4839.810059
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000,2025-06-27,6173.069824

In [271]:
luxury_gain_dates = {}
for brand in luxury_brands["Company Name"].tolist():
    print(brand)
    brand_data=red_base_df[["Date",brand]]
    recovery_dates=[]
    for index, row in crash_sp_500_full.iterrows():
        date_of_max=(row["Max Date"])
        date_of_investment=(row["Start Crash Date"])
        value_at_date_of_investment=brand_data[brand_data["Date"]>=date_of_investment][brand].values[0]
        
        recovered_df_brand=brand_data[(brand_data["Date"]>date_of_investment)&(brand_data[brand]>=value_at_date_of_investment*recovery_value)]
        recovered_df_brand=recovered_df_brand.dropna(subset=[brand])
        if len(recovered_df_brand)==0:
            date_recovered=np.nan
            recovery_dates.append(date_recovered)
            pass
        else:
            date_recovered=recovered_df_brand.iloc[0]["Date"]
            recovery_dates.append(date_recovered)
            print(f"Brand: {brand}, Value at Max Date: {value_brand_at_max_date}, Date Recovered: {date_recovered}")
    luxury_gain_dates[brand]=recovery_dates
luxury_gain_df=pd.DataFrame(luxury_gain_dates)
luxury_gain_df

LVMH MOET HENNE
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2000-08-02
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2010-03-03
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-16
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-05
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-05
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2020-07-13
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2022-11-30
CIE FINANCI-REG
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2000-07-12
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2010-11-04
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-16
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-30
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-13
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-09
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2023-01-12
L'OREAL
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-04
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2012-05-02
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-09
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-10
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2019-03-14
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-17
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2023-01-17
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2025-05-05
ESSILORLUXOTTICA
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-02
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2010-02-17
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-22
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2018-05-17
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2019-07-31
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2021-02-16
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2022-11-30
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2025-10-17
HERMES INTERNATIONAL
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-27
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2008-05-08
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-08
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-27
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-20
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2020-05-26
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-01
RALPH LAUREN CORP
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2000-08-08
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2008-08-11
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-05
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-04
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-22
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2021-01-07
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2023-12-13
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2025-05-07
MONCLER SPA
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2016-12-08
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-08
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-01
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-09
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2023-03-02
DECKERS OUTDOOR CORP
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-25
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2007-12-03
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2016-08-15
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-05-18
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-12-03
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2020-05-27
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-08
FERRARI NV
Brand: FERRARI NV, Value at Max Date: 21.57818031311035, Date Recovered: 2018-05-04
Brand: FERRARI NV, Value at Max Date: 21.57818031311035, Date Recovered: 2019-01-31
Brand: FERRARI NV, Value at Max Date: 21.57818031311035, Date Recovered: 2020-08-12
Brand: FERRARI NV, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-03
KERING
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-26
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2010-09-14
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-23
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-09
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2019-01-30
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2020-09-03
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2025-09-17
TAPESTRY INC
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2010-01-12
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-27
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-05
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2021-02-10
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-10
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2023-01-12
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2025-05-08
KAO CORP
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-21
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2013-03-14
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-30
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-06-18
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2019-05-07
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2020-03-27
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2022-07-07
PANDORA A/S
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-16
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-05
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-23
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2020-05-28
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2023-10-05
ESTEE LAUDER
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2007-03-12
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2008-04-01
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2015-11-02
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-13
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-19
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-02
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2025-06-16
SHISEIDO CO LTD
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-15
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2015-05-20
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-05
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2018-02-14
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2019-04-17
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-10
BURBERRY GROUP PLC
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2010-01-04
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-08
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-10
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2019-07-16
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-12-15
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2023-01-16
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2025-06-12
VAIL RESORTS INC
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2000-06-07
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2012-09-07
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2015-11-06
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-20
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-24
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-10-07
VF CORP
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-25
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2008-02-11
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2017-11-22
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-07-16
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-26
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-16
BATH & BODY WORKS INC
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-02
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2007-11-30
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-03
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2021-01-07
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2018-11-28
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-07-29
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2025-03-24
BRUNELLO CUCINELLI SPA
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2016-04-25
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2018-05-07
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-05
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-05
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-01
SIGNET JEWELERS LTD
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-01
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2010-04-07
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2015-08-27
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2018-06-08
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2021-03-05
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2020-10-23
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2023-08-07
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2025-03-19
PRADA S.P.A.
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2008-01-16
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2017-04-27
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-12
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2019-12-20
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-01
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2023-02-06
SAMSONITE GROUP SA
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2007-12-06
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-16
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-12
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-14
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2021-03-12
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-19

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-08-02,2000-07-12,2000-05-04,2000-05-02,2000-04-27,2000-08-08,NaN,2000-04-25,NaN,2000-04-26,...,2007-03-12,2000-05-15,NaN,2000-06-07,2000-04-25,2000-05-02,NaN,2000-05-01,NaN,NaN
1,2010-03-03,2010-11-04,2012-05-02,2010-02-17,2008-05-08,2008-08-11,NaN,2007-12-03,NaN,2010-09-14,...,2008-04-01,2015-05-20,2010-01-04,2012-09-07,2008-02-11,2007-11-30,NaN,2010-04-07,2008-01-16,2007-12-06
2,2015-09-16,2015-09-16,2015-10-09,2015-10-22,2015-10-08,2015-10-05,2016-12-08,2016-08-15,NaN,2015-10-23,...,2015-11-02,2015-10-05,2015-10-08,2015-11-06,2017-11-22,2015-09-03,2016-04-25,2015-08-27,2017-04-27,2015-09-16
3,2018-04-05,2018-04-30,2018-04-10,2018-05-17,2018-03-27,2018-04-04,2018-03-08,2018-05-18,2018-05-04,2018-04-09,...,2018-03-13,2018-02-14,2018-04-10,2018-03-20,2018-07-16,2021-01-07,2018-05-07,2018-06-08,2018-03-12,2018-03-12
4,2019-02-05,2019-02-13,2019-03-14,2019-07-31,2019-02-20,2019-02-22,2019-02-01,2018-12-03,2019-01-31,2019-01-30,...,2019-02-19,2019-04-17,2019-07-16,2020-11-24,2019-02-26,2018-11-28,2019-02-05,2021-03-05,2019-12-20,2019-02-14
5,2020-07-13,2020-11-09,2020-06-17,2021-02-16,2020-05-26,2021-01-07,2020-11-09,2020-05-27,2020-08-12,2020-09-03,...,2020-06-02,2020-11-10,2020-12-15,2020-10-07,2020-11-16,2020-07-29,2020-06-05,2020-10-23,2020-06-01,2021-03-12
6,2022-11-30,2023-01-12,2023-01-17,2022-11-30,2022-08-01,2023-12-13,2023-03-02,2022-08-08,2022-08-03,NaN,...,NaN,NaN,2023-01-16,NaN,NaN,NaN,2022-08-01,2023-08-07,2023-02-06,2022-08-19
7,NaN,NaN,2025-05-05,2025-10-17,NaN,2025-05-07,NaN,NaN,NaN,2025-09-17,...,2025-06-16,NaN,2025-06-12,NaN,NaN,2025-03-24,NaN,2025-03-19,NaN,NaN

In [272]:
df_backup_concat=pd.concat([crash_sp_500_full[["Start Crash Date","Recovered Date"]],luxury_gain_df],axis=1)
df_backup_concat

,Start Crash Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-04-14,2007-05-30,2000-08-02,2000-07-12,2000-05-04,2000-05-02,2000-04-27,2000-08-08,NaN,2000-04-25,...,2007-03-12,2000-05-15,NaN,2000-06-07,2000-04-25,2000-05-02,NaN,2000-05-01,NaN,NaN
1,2007-11-26,2013-03-28,2010-03-03,2010-11-04,2012-05-02,2010-02-17,2008-05-08,2008-08-11,NaN,2007-12-03,...,2008-04-01,2015-05-20,2010-01-04,2012-09-07,2008-02-11,2007-11-30,NaN,2010-04-07,2008-01-16,2007-12-06
2,2015-08-24,2016-07-11,2015-09-16,2015-09-16,2015-10-09,2015-10-22,2015-10-08,2015-10-05,2016-12-08,2016-08-15,...,2015-11-02,2015-10-05,2015-10-08,2015-11-06,2017-11-22,2015-09-03,2016-04-25,2015-08-27,2017-04-27,2015-09-16
3,2018-02-08,2018-08-24,2018-04-05,2018-04-30,2018-04-10,2018-05-17,2018-03-27,2018-04-04,2018-03-08,2018-05-18,...,2018-03-13,2018-02-14,2018-04-10,2018-03-20,2018-07-16,2021-01-07,2018-05-07,2018-06-08,2018-03-12,2018-03-12
4,2018-11-23,2019-04-23,2019-02-05,2019-02-13,2019-03-14,2019-07-31,2019-02-20,2019-02-22,2019-02-01,2018-12-03,...,2019-02-19,2019-04-17,2019-07-16,2020-11-24,2019-02-26,2018-11-28,2019-02-05,2021-03-05,2019-12-20,2019-02-14
5,2020-02-27,2020-08-18,2020-07-13,2020-11-09,2020-06-17,2021-02-16,2020-05-26,2021-01-07,2020-11-09,2020-05-27,...,2020-06-02,2020-11-10,2020-12-15,2020-10-07,2020-11-16,2020-07-29,2020-06-05,2020-10-23,2020-06-01,2021-03-12
6,2022-02-22,2024-01-19,2022-11-30,2023-01-12,2023-01-17,2022-11-30,2022-08-01,2023-12-13,2023-03-02,2022-08-08,...,NaN,NaN,2023-01-16,NaN,NaN,NaN,2022-08-01,2023-08-07,2023-02-06,2022-08-19
7,2025-03-13,2025-06-27,NaN,NaN,2025-05-05,2025-10-17,NaN,2025-05-07,NaN,NaN,...,2025-06-16,NaN,2025-06-12,NaN,NaN,2025-03-24,NaN,2025-03-19,NaN,NaN

In [273]:
# If your columns are already datetime
df_backup_concat_days=pd.DataFrame()
df_backup_concat_days["Start Crash Date"]=df_backup_concat["Start Crash Date"]
for col in df_backup_concat.columns:
    if col not in ['Start Crash Date']:
        df_backup_concat_days[col] =(pd.to_datetime(df_backup_concat[col]) - pd.to_datetime(df_backup_concat['Start Crash Date'])).dt.days
df_backup_concat_days

,Start Crash Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-04-14,2602,110.0,89.0,20,18,13.0,116,NaN,11.0,...,2523.0,31.0,NaN,54.0,11.0,18.0,NaN,17,NaN,NaN
1,2007-11-26,1949,828.0,1074.0,1619,814,164.0,259,NaN,7.0,...,127.0,2732.0,770.0,1747.0,77.0,4.0,NaN,863,51.0,10.0
2,2015-08-24,322,23.0,23.0,46,59,45.0,42,472.0,357.0,...,70.0,42.0,45.0,74.0,821.0,10.0,245.0,3,612.0,23.0
3,2018-02-08,197,56.0,81.0,61,98,47.0,55,28.0,99.0,...,33.0,6.0,61.0,40.0,158.0,1064.0,88.0,120,32.0,32.0
4,2018-11-23,151,74.0,82.0,111,250,89.0,91,70.0,10.0,...,88.0,145.0,235.0,732.0,95.0,5.0,74.0,833,392.0,83.0
5,2020-02-27,173,137.0,256.0,111,355,89.0,315,256.0,90.0,...,96.0,257.0,292.0,223.0,263.0,153.0,99.0,239,95.0,379.0
6,2022-02-22,696,281.0,324.0,329,281,160.0,659,373.0,167.0,...,NaN,NaN,328.0,NaN,NaN,NaN,160.0,531,349.0,178.0
7,2025-03-13,106,NaN,NaN,53,218,NaN,55,NaN,NaN,...,95.0,NaN,91.0,NaN,NaN,11.0,NaN,6,NaN,NaN

In [274]:
df_backup_concat_days["mean"]=df_backup_concat_days[df_backup_concat_days.columns[2:]].mean(axis=1)
df_backup_concat_days["median"]=df_backup_concat_days[df_backup_concat_days.columns[2:-1]].median(axis=1)
df_backup_concat_days

,Start Crash Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,mean,median
0,2000-04-14,2602,110.0,89.0,20,18,13.0,116,NaN,11.0,...,NaN,54.0,11.0,18.0,NaN,17,NaN,NaN,203.333333,18.0
1,2007-11-26,1949,828.0,1074.0,1619,814,164.0,259,NaN,7.0,...,770.0,1747.0,77.0,4.0,NaN,863,51.0,10.0,783.263158,778.0
2,2015-08-24,322,23.0,23.0,46,59,45.0,42,472.0,357.0,...,45.0,74.0,821.0,10.0,245.0,3,612.0,23.0,146.636364,52.5
3,2018-02-08,197,56.0,81.0,61,98,47.0,55,28.0,99.0,...,61.0,40.0,158.0,1064.0,88.0,120,32.0,32.0,110.695652,60.0
4,2018-11-23,151,74.0,82.0,111,250,89.0,91,70.0,10.0,...,235.0,732.0,95.0,5.0,74.0,833,392.0,83.0,223.869565,91.0
5,2020-02-27,173,137.0,256.0,111,355,89.0,315,256.0,90.0,...,292.0,223.0,263.0,153.0,99.0,239,95.0,379.0,192.956522,189.0
6,2022-02-22,696,281.0,324.0,329,281,160.0,659,373.0,167.0,...,328.0,NaN,NaN,NaN,160.0,531,349.0,178.0,313.588235,324.0
7,2025-03-13,106,NaN,NaN,53,218,NaN,55,NaN,NaN,...,91.0,NaN,NaN,11.0,NaN,6,NaN,NaN,85.888889,56.0

In [275]:
crash_sp_500_full

,Max Date,Value at Max,Start Crash Date,Value at Start Crash,End Crash Date,Value at End Crash,Recovered Date,Value At Recovered
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995,2007-05-30,1530.229980
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054,2013-03-28,1569.189941
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956,2016-07-11,2137.159912
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883,2018-08-24,2874.689941
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902,2019-04-23,2933.679932
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049,2020-08-18,3389.780029
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863,2024-01-19,4839.810059
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000,2025-06-27,6173.069824

In [276]:
luxury_gain_values = {}
for brand in luxury_brands["Company Name"].tolist():
    print(brand)
    brand_data=red_base_df[["Date",brand]]
    gain_values=[]
    for index, row in crash_sp_500_full.iterrows():
        date_of_investment=(row["Start Crash Date"])
        date_of_sellof=(row["Recovered Date"])

        value_at_date_of_investment=brand_data[brand_data["Date"]>=date_of_investment][brand].values[0]
        value_at_date_of_sellof=brand_data[brand_data["Date"]>=date_of_sellof][brand].values[0]

        gain=value_at_date_of_sellof/value_at_date_of_investment
        if len(recovered_df_brand)==0:
            date_recovered=np.nan
            gain_values.append(gain)
            pass
        else:
            date_recovered=recovered_df_brand.iloc[0]["Date"]
            gain_values.append(gain)
            print(f"Brand: {brand}, Value at Max Date: {value_brand_at_max_date}, Date Recovered: {date_recovered}")
    luxury_gain_values[brand]=gain_values
luxury_gain_values_df=pd.DataFrame(luxury_gain_values)
luxury_gain_values_df

LVMH MOET HENNE
CIE FINANCI-REG
L'OREAL
ESSILORLUXOTTICA
HERMES INTERNATIONAL
RALPH LAUREN CORP
MONCLER SPA
DECKERS OUTDOOR CORP
FERRARI NV
KERING
TAPESTRY INC
KAO CORP
PANDORA A/S
ESTEE LAUDER
SHISEIDO CO LTD
BURBERRY GROUP PLC
VAIL RESORTS INC
VF CORP
BATH & BODY WORKS INC
BRUNELLO CUCINELLI SPA
SIGNET JEWELERS LTD
PRADA S.P.A.
SAMSONITE GROUP SA

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,1.119675,1.782986,1.384254,3.642008,2.348041,6.142197,NaN,26.224873,NaN,0.666400,...,1.069803,1.992936,NaN,3.799364,4.243219,1.461724,NaN,3.606811,NaN,NaN
1,1.882430,1.621372,1.484986,2.316122,3.546319,2.714643,NaN,1.254844,NaN,1.797155,...,3.288841,0.583770,2.434775,1.276079,2.677757,3.953672,NaN,2.254768,376.602545,149.446658
2,1.010141,0.835744,1.212273,1.216378,1.141338,0.910371,0.971089,0.990361,NaN,1.022338,...,1.234467,1.180153,0.903341,1.388954,0.943721,0.930943,1.010630,0.737068,0.733204,0.980443
3,1.276033,1.015765,1.225173,1.184485,1.332385,1.362090,1.504181,1.301720,1.114728,1.321680,...,1.036783,1.327316,1.467651,1.450504,1.179120,0.606594,1.529257,1.269837,1.134686,0.921988
4,1.361007,1.170851,1.177810,0.997718,1.245321,1.162322,1.230053,1.237843,1.316234,1.360351,...,1.228388,1.126945,1.074393,0.816201,1.212729,0.853833,1.097561,0.455098,0.782374,1.006479
5,1.050563,0.905180,1.147082,0.879112,1.091668,0.680780,0.924844,1.212224,1.151316,0.991197,...,1.170123,0.872147,0.850492,1.013830,0.859443,1.222559,0.902505,0.636042,1.275530,0.586987
6,1.019361,0.968154,1.257117,1.134291,1.534316,1.124495,0.970131,2.623057,1.689849,0.567784,...,0.436521,0.621321,0.603947,0.906648,0.297981,0.857204,1.679983,1.349881,0.982375,1.256999
7,0.753947,0.916360,1.018981,0.906515,0.928080,1.284361,0.812946,0.890294,1.036167,0.776682,...,1.241139,0.967028,1.150000,1.012030,0.731436,1.064598,0.936888,1.783909,0.851004,0.789313

In [277]:
crash_sp_500_full

,Max Date,Value at Max,Start Crash Date,Value at Start Crash,End Crash Date,Value at End Crash,Recovered Date,Value At Recovered
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995,2007-05-30,1530.229980
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054,2013-03-28,1569.189941
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956,2016-07-11,2137.159912
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883,2018-08-24,2874.689941
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902,2019-04-23,2933.679932
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049,2020-08-18,3389.780029
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863,2024-01-19,4839.810059
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000,2025-06-27,6173.069824

In [278]:
crash_sp_500_full.columns

Index(['Max Date', 'Value at Max', 'Start Crash Date', 'Value at Start Crash',
       'End Crash Date', 'Value at End Crash', 'Recovered Date',
       'Value At Recovered'],
      dtype='object')

In [280]:
df_values_concat=pd.concat([crash_sp_500_full[["Start Crash Date","Value at Start Crash","Value At Recovered"]],luxury_gain_values_df],axis=1)
df_values_concat["S&P500 Recovery Gain"]=df_values_concat["Value At Recovered"]/df_values_concat["Value at Start Crash"]
df_values_concat

,Start Crash Date,Value at Start Crash,Value At Recovered,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,...,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,S&P500 Recovery Gain
0,2000-04-14,1356.560059,1530.229980,1.119675,1.782986,1.384254,3.642008,2.348041,6.142197,NaN,...,1.992936,NaN,3.799364,4.243219,1.461724,NaN,3.606811,NaN,NaN,1.128022
1,2007-11-26,1407.219971,1569.189941,1.882430,1.621372,1.484986,2.316122,3.546319,2.714643,NaN,...,0.583770,2.434775,1.276079,2.677757,3.953672,NaN,2.254768,376.602545,149.446658,1.115099
2,2015-08-24,1893.209961,2137.159912,1.010141,0.835744,1.212273,1.216378,1.141338,0.910371,0.971089,...,1.180153,0.903341,1.388954,0.943721,0.930943,1.010630,0.737068,0.733204,0.980443,1.128855
3,2018-02-08,2581.000000,2874.689941,1.276033,1.015765,1.225173,1.184485,1.332385,1.362090,1.504181,...,1.327316,1.467651,1.450504,1.179120,0.606594,1.529257,1.269837,1.134686,0.921988,1.113789
4,2018-11-23,2632.560059,2933.679932,1.361007,1.170851,1.177810,0.997718,1.245321,1.162322,1.230053,...,1.126945,1.074393,0.816201,1.212729,0.853833,1.097561,0.455098,0.782374,1.006479,1.114383
5,2020-02-27,2978.760010,3389.780029,1.050563,0.905180,1.147082,0.879112,1.091668,0.680780,0.924844,...,0.872147,0.850492,1.013830,0.859443,1.222559,0.902505,0.636042,1.275530,0.586987,1.137984
6,2022-02-22,4304.759766,4839.810059,1.019361,0.968154,1.257117,1.134291,1.534316,1.124495,0.970131,...,0.621321,0.603947,0.906648,0.297981,0.857204,1.679983,1.349881,0.982375,1.256999,1.124293
7,2025-03-13,5521.520020,6173.069824,0.753947,0.916360,1.018981,0.906515,0.928080,1.284361,0.812946,...,0.967028,1.150000,1.012030,0.731436,1.064598,0.936888,1.783909,0.851004,0.789313,1.118002

In [281]:
df_values_concat["Median Luxury Gain"]=df_values_concat[df_values_concat.columns[3:-1]].median(axis=1)
df_values_concat["Mean Luxury Gain"]=df_values_concat[df_values_concat.columns[3:-2]].mean(axis=1)
df_values_concat

,Start Crash Date,Value at Start Crash,Value At Recovered,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,...,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,S&P500 Recovery Gain,Median Luxury Gain,Mean Luxury Gain
0,2000-04-14,1356.560059,1530.229980,1.119675,1.782986,1.384254,3.642008,2.348041,6.142197,NaN,...,3.799364,4.243219,1.461724,NaN,3.606811,NaN,NaN,1.128022,1.992936,4.036874
1,2007-11-26,1407.219971,1569.189941,1.882430,1.621372,1.484986,2.316122,3.546319,2.714643,NaN,...,1.276079,2.677757,3.953672,NaN,2.254768,376.602545,149.446658,1.115099,2.254768,29.564896
2,2015-08-24,1893.209961,2137.159912,1.010141,0.835744,1.212273,1.216378,1.141338,0.910371,0.971089,...,1.388954,0.943721,0.930943,1.010630,0.737068,0.733204,0.980443,1.128855,1.010385,1.054780
3,2018-02-08,2581.000000,2874.689941,1.276033,1.015765,1.225173,1.184485,1.332385,1.362090,1.504181,...,1.450504,1.179120,0.606594,1.529257,1.269837,1.134686,0.921988,1.113789,1.225173,1.190283
4,2018-11-23,2632.560059,2933.679932,1.361007,1.170851,1.177810,0.997718,1.245321,1.162322,1.230053,...,0.816201,1.212729,0.853833,1.097561,0.455098,0.782374,1.006479,1.114383,1.126945,1.067979
5,2020-02-27,2978.760010,3389.780029,1.050563,0.905180,1.147082,0.879112,1.091668,0.680780,0.924844,...,1.013830,0.859443,1.222559,0.902505,0.636042,1.275530,0.586987,1.137984,0.991197,0.976599
6,2022-02-22,4304.759766,4839.810059,1.019361,0.968154,1.257117,1.134291,1.534316,1.124495,0.970131,...,0.906648,0.297981,0.857204,1.679983,1.349881,0.982375,1.256999,1.124293,1.019361,1.106473
7,2025-03-13,5521.520020,6173.069824,0.753947,0.916360,1.018981,0.906515,0.928080,1.284361,0.812946,...,1.012030,0.731436,1.064598,0.936888,1.783909,0.851004,0.789313,1.118002,0.967028,1.004822

In [ ]:
luxury_gain_values_today = {}
for brand in luxury_brands["Company Name"].tolist():
    print(brand)
    brand_data=red_base_df[["Date",brand]]
    gain_values=[]
    for index, row in crash_sp_500_full.iterrows():
        date_of_investment=(row["Start Crash Date"])

        value_at_date_of_investment=brand_data[brand_data["Date"]>=date_of_investment][brand].values[0]
        value_at_date_of_sellof=brand_data[brand].values[-1]

        gain=value_at_date_of_sellof/value_at_date_of_investment
        if len(recovered_df_brand)==0:
            date_recovered=np.nan
            gain_values.append(gain)
            pass
        else:
            date_recovered=recovered_df_brand.iloc[0]["Date"]
            gain_values.append(gain)
            print(f"Brand: {brand}, Value at Max Date: {value_brand_at_max_date}, Date Recovered: {date_recovered}")
    luxury_gain_values_today[brand]=gain_values
luxury_gain_values_today_df=pd.DataFrame(luxury_gain_values_today)
luxury_gain_values_today_df

LVMH MOET HENNE
CIE FINANCI-REG
L'OREAL
ESSILORLUXOTTICA
HERMES INTERNATIONAL
RALPH LAUREN CORP
MONCLER SPA
DECKERS OUTDOOR CORP
FERRARI NV
KERING
TAPESTRY INC
KAO CORP
PANDORA A/S
ESTEE LAUDER
SHISEIDO CO LTD
BURBERRY GROUP PLC
VAIL RESORTS INC
VF CORP
BATH & BODY WORKS INC
BRUNELLO CUCINELLI SPA
SIGNET JEWELERS LTD
PRADA S.P.A.
SAMSONITE GROUP SA

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,11.183699,8.031462,7.705181,34.981275,59.473162,27.005779,NaN,444.334540,NaN,2.664789,...,5.011334,2.647669,NaN,13.390844,4.718198,3.896753,NaN,10.603278,NaN,NaN
1,10.714660,4.510537,5.254002,10.040486,30.604359,6.584666,NaN,11.054979,NaN,4.549365,...,5.266564,1.277679,2.107601,4.195461,1.392973,3.880638,NaN,4.202627,234.086517,146.129749
2,5.166158,2.927484,2.835437,3.626211,7.378568,3.711962,4.138035,8.015357,NaN,2.705517,...,1.306004,1.140551,0.857377,1.869000,0.302084,0.510685,5.869773,1.023964,1.488684,0.813725
3,2.881032,2.208352,2.328157,3.342919,5.224270,3.733872,2.336272,5.410454,3.753202,1.017933,...,0.734660,0.484295,0.744431,0.903447,0.249723,0.745808,3.628198,2.397566,1.511381,0.556360
4,2.615103,2.806056,1.902110,3.203535,4.400789,3.246555,2.014287,3.996253,3.905304,0.906762,...,0.683880,0.369365,0.621009,0.690267,0.244876,1.109180,3.157854,2.242320,1.739242,0.758530
5,1.783020,2.705982,1.566882,2.728506,3.362518,3.561593,1.699118,2.820952,2.535834,0.673150,...,0.517544,0.416010,0.685486,0.829464,0.241720,1.343984,3.038056,4.678286,1.858436,1.189913
6,0.964623,1.346211,1.080799,2.085860,1.760551,2.715157,1.085271,1.717617,1.887634,0.510936,...,0.315482,0.407479,0.562300,0.655321,0.288785,0.481927,1.744299,1.402040,1.001641,0.942070
7,1.012199,0.968636,1.016973,1.193210,0.839555,1.513541,0.939034,0.698650,0.868160,1.252399,...,1.365053,0.967028,1.147000,0.963425,0.909784,0.816929,0.789227,2.181021,0.793794,0.826025

In [287]:
today_sp500=sp500_data.iloc[-1]["S&P500"]
today_sp500

np.float64(6728.7998046875)

In [290]:
luxury_gain_values_today_df["S&P500"]=today_sp500/crash_sp_500_full["Value at Start Crash"]
luxury_gain_values_today_df

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,S&P500
0,11.183699,8.031462,7.705181,34.981275,59.473162,27.005779,NaN,444.334540,NaN,2.664789,...,2.647669,NaN,13.390844,4.718198,3.896753,NaN,10.603278,NaN,NaN,4.960193
1,10.714660,4.510537,5.254002,10.040486,30.604359,6.584666,NaN,11.054979,NaN,4.549365,...,1.277679,2.107601,4.195461,1.392973,3.880638,NaN,4.202627,234.086517,146.129749,4.781626
2,5.166158,2.927484,2.835437,3.626211,7.378568,3.711962,4.138035,8.015357,NaN,2.705517,...,1.140551,0.857377,1.869000,0.302084,0.510685,5.869773,1.023964,1.488684,0.813725,3.554175
3,2.881032,2.208352,2.328157,3.342919,5.224270,3.733872,2.336272,5.410454,3.753202,1.017933,...,0.484295,0.744431,0.903447,0.249723,0.745808,3.628198,2.397566,1.511381,0.556360,2.607051
4,2.615103,2.806056,1.902110,3.203535,4.400789,3.246555,2.014287,3.996253,3.905304,0.906762,...,0.369365,0.621009,0.690267,0.244876,1.109180,3.157854,2.242320,1.739242,0.758530,2.555991
5,1.783020,2.705982,1.566882,2.728506,3.362518,3.561593,1.699118,2.820952,2.535834,0.673150,...,0.416010,0.685486,0.829464,0.241720,1.343984,3.038056,4.678286,1.858436,1.189913,2.258926
6,0.964623,1.346211,1.080799,2.085860,1.760551,2.715157,1.085271,1.717617,1.887634,0.510936,...,0.407479,0.562300,0.655321,0.288785,0.481927,1.744299,1.402040,1.001641,0.942070,1.563107
7,1.012199,0.968636,1.016973,1.193210,0.839555,1.513541,0.939034,0.698650,0.868160,1.252399,...,0.967028,1.147000,0.963425,0.909784,0.816929,0.789227,2.181021,0.793794,0.826025,1.218650

In [291]:
df_values_concat_today=pd.concat([crash_sp_500_full[["Start Crash Date","Value at Start Crash"]],luxury_gain_values_today_df],axis=1)
df_values_concat_today["Median Luxury Gain"]=df_values_concat_today[df_values_concat_today.columns[3:-1]].median(axis=1)
df_values_concat_today["Mean Luxury Gain"]=df_values_concat_today[df_values_concat_today.columns[3:-2]].mean(axis=1)
df_values_concat_today

,Start Crash Date,Value at Start Crash,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,S&P500,Median Luxury Gain,Mean Luxury Gain
0,2000-04-14,1356.560059,11.183699,8.031462,7.705181,34.981275,59.473162,27.005779,NaN,444.334540,...,13.390844,4.718198,3.896753,NaN,10.603278,NaN,NaN,4.960193,7.868322,44.826199
1,2007-11-26,1407.219971,10.714660,4.510537,5.254002,10.040486,30.604359,6.584666,NaN,11.054979,...,4.195461,1.392973,3.880638,NaN,4.202627,234.086517,146.129749,4.781626,4.570829,26.814132
2,2015-08-24,1893.209961,5.166158,2.927484,2.835437,3.626211,7.378568,3.711962,4.138035,8.015357,...,1.869000,0.302084,0.510685,5.869773,1.023964,1.488684,0.813725,3.554175,1.869000,2.776573
3,2018-02-08,2581.000000,2.881032,2.208352,2.328157,3.342919,5.224270,3.733872,2.336272,5.410454,...,0.903447,0.249723,0.745808,3.628198,2.397566,1.511381,0.556360,2.607051,1.896575,2.113948
4,2018-11-23,2632.560059,2.615103,2.806056,1.902110,3.203535,4.400789,3.246555,2.014287,3.996253,...,0.690267,0.244876,1.109180,3.157854,2.242320,1.739242,0.758530,2.555991,1.958198,2.038173
5,2020-02-27,2978.760010,1.783020,2.705982,1.566882,2.728506,3.362518,3.561593,1.699118,2.820952,...,0.829464,0.241720,1.343984,3.038056,4.678286,1.858436,1.189913,2.258926,1.778777,2.062656
6,2022-02-22,4304.759766,0.964623,1.346211,1.080799,2.085860,1.760551,2.715157,1.085271,1.717617,...,0.655321,0.288785,0.481927,1.744299,1.402040,1.001641,0.942070,1.563107,1.134807,1.247613
7,2025-03-13,5521.520020,1.012199,0.968636,1.016973,1.193210,0.839555,1.513541,0.939034,0.698650,...,0.963425,0.909784,0.816929,0.789227,2.181021,0.793794,0.826025,1.218650,0.965226,1.057412