In [1]:
# I load in the necessary libraries
import pandas as pd
import glob
import yfinance as yf
import numpy as np

In [2]:
# Get the list of CSV files in the data directory
files=glob.glob('../data/*.csv')
files[0]

'../data/11_07_2025_klxy_holdings.csv'

In [3]:
# And take in a CSV with a list up of luxury brands that are part of the ETF by KraneShares
#https://kraneshares.com/etf/klxy/
data=pd.read_csv(files[0],header=1)
data

,Rank,Company Name,% of Net Assets,Ticker,Identifier,Shares Held,Market Value($)
0,1,LVMH MOET HENNE,9.96,MC,FR0000121014,458,"319,707"
1,2,CIE FINANCI-REG,8.92,CFR,CH0210483332,"1,486","286,121"
2,3,L'OREAL,7.82,OR,FR0000120321,612,"251,034"
3,4,ESSILORLUXOTTICA,6.90,EL,FR0000121667,620,"221,275"
4,5,HERMES INTERNATIONAL,5.94,RMS,FR0000052292,80,"190,529"
5,6,RALPH LAUREN CORP,4.94,RL,US7512121010,488,"158,444"
6,7,MONCLER SPA,4.82,MONC,IT0004965148,"2,420","154,758"
7,8,DECKERS OUTDOOR CORP,4.63,DECK,US2435371073,"1,816","148,494"
8,9,FERRARI NV,4.54,RACE,NL0011585146,358,"145,790"
9,10,KERING,4.50,KER,FR0000121485,416,"144,376"
10,11,TAPESTRY INC,4.39,TPR,US8760301072,"1,359","140,901"
11,12,KAO CORP,4.38,4452,JP3205800000,"3,300","140,619"
12,13,PANDORA A/S,4.30,PNDORA,DK0060252690,"1,156","137,961"
13,14,ESTEE LAUDER,4.26,EL,US5184391044,"1,556","136,539"
14,15,EURO,4.04,NaN,–,"112,005","129,617"
15,16,SHISEIDO CO LTD,3.03,4911,JP3351600006,"5,800","97,367"
16,17,BURBERRY GROUP PLC,2.85,BRBY,GB0031743007,"6,065","91,504"
17,18,VAIL RESORTS INC,2.68,MTN,US91879Q1094,583,"86,010"
18,19,VF CORP,2.59,VFC,US9182041080,"5,667","82,965"
19,20,BATH & BODY WORKS INC,2.44,BBWI,US0708301041,"3,416","78,261"
20,21,BRUNELLO CUCINELLI SPA,1.75,BC,IT0004764699,559,"56,047"
21,22,SIGNET JEWELERS LTD,1.67,SIG,BMG812761002,535,"53,666"
22,23,PRADA S.P.A.,1.32,1913,IT0003874101,"7,400","42,246"
23,24,SAMSONITE GROUP SA,1.23,1910,LU0633102719,"20,100","39,542"
24,25,JAPANESE YEN,0.10,NaN,–,"507,043","3,311"
25,26,HONG KONG DOLLAR,0.04,NaN,–,"9,288","1,194"
26,27,SINGAPORE DOLLAR,0.01,NaN,–,452,347
27,28,BRITISH STERLING POUND,0.00,NaN,–,28,37
28,29,DANISH KRONE,0.00,NaN,–,5,1
29,30,SWISS FRANC,0.00,NaN,–,1,1
30,31,Cash,-4.04,NaN,–,"-129,782","-129,782"

In [4]:
#we filter out for non-equity entries
luxury_brands=data[data["Identifier"]!="–"]
print(len(luxury_brands))
luxury_brands

23

,Rank,Company Name,% of Net Assets,Ticker,Identifier,Shares Held,Market Value($)
0,1,LVMH MOET HENNE,9.96,MC,FR0000121014,458,"319,707"
1,2,CIE FINANCI-REG,8.92,CFR,CH0210483332,"1,486","286,121"
2,3,L'OREAL,7.82,OR,FR0000120321,612,"251,034"
3,4,ESSILORLUXOTTICA,6.90,EL,FR0000121667,620,"221,275"
4,5,HERMES INTERNATIONAL,5.94,RMS,FR0000052292,80,"190,529"
5,6,RALPH LAUREN CORP,4.94,RL,US7512121010,488,"158,444"
6,7,MONCLER SPA,4.82,MONC,IT0004965148,"2,420","154,758"
7,8,DECKERS OUTDOOR CORP,4.63,DECK,US2435371073,"1,816","148,494"
8,9,FERRARI NV,4.54,RACE,NL0011585146,358,"145,790"
9,10,KERING,4.50,KER,FR0000121485,416,"144,376"
10,11,TAPESTRY INC,4.39,TPR,US8760301072,"1,359","140,901"
11,12,KAO CORP,4.38,4452,JP3205800000,"3,300","140,619"
12,13,PANDORA A/S,4.30,PNDORA,DK0060252690,"1,156","137,961"
13,14,ESTEE LAUDER,4.26,EL,US5184391044,"1,556","136,539"
15,16,SHISEIDO CO LTD,3.03,4911,JP3351600006,"5,800","97,367"
16,17,BURBERRY GROUP PLC,2.85,BRBY,GB0031743007,"6,065","91,504"
17,18,VAIL RESORTS INC,2.68,MTN,US91879Q1094,583,"86,010"
18,19,VF CORP,2.59,VFC,US9182041080,"5,667","82,965"
19,20,BATH & BODY WORKS INC,2.44,BBWI,US0708301041,"3,416","78,261"
20,21,BRUNELLO CUCINELLI SPA,1.75,BC,IT0004764699,559,"56,047"
21,22,SIGNET JEWELERS LTD,1.67,SIG,BMG812761002,535,"53,666"
22,23,PRADA S.P.A.,1.32,1913,IT0003874101,"7,400","42,246"
23,24,SAMSONITE GROUP SA,1.23,1910,LU0633102719,"20,100","39,542"

In [141]:
luxury_brands["Company Name"].tolist()

['LVMH MOET HENNE',
 'CIE FINANCI-REG',
 "L'OREAL",
 'ESSILORLUXOTTICA',
 'HERMES INTERNATIONAL',
 'RALPH LAUREN CORP',
 'MONCLER SPA',
 'DECKERS OUTDOOR CORP',
 'FERRARI NV',
 'KERING',
 'TAPESTRY INC',
 'KAO CORP',
 'PANDORA A/S',
 'ESTEE LAUDER',
 'SHISEIDO CO LTD',
 'BURBERRY GROUP PLC',
 'VAIL RESORTS INC',
 'VF CORP',
 'BATH & BODY WORKS INC',
 'BRUNELLO CUCINELLI SPA',
 'SIGNET JEWELERS LTD',
 'PRADA S.P.A.',
 'SAMSONITE GROUP SA']

In [5]:
# then we take the ISINs of the luxury brands
luxury_brands["Identifier"].tolist()

['FR0000121014',
 'CH0210483332',
 'FR0000120321',
 'FR0000121667',
 'FR0000052292',
 'US7512121010',
 'IT0004965148',
 'US2435371073',
 'NL0011585146',
 'FR0000121485',
 'US8760301072',
 'JP3205800000',
 'DK0060252690',
 'US5184391044',
 'JP3351600006',
 'GB0031743007',
 'US91879Q1094',
 'US9182041080',
 'US0708301041',
 'IT0004764699',
 'BMG812761002',
 'IT0003874101',
 'LU0633102719']

In [6]:
# Complete ISIN to ticker mapping for luxury brands
isin_to_ticker = {
    'FR0000121014': 'MC.PA',      # LVMH Moët Hennessy Louis Vuitton
    'CH0210483332': 'CFR.SW',     # Compagnie Financière Richemont
    'FR0000120321': 'OR.PA',     # Kering (Gucci, Saint Laurent, etc.)
    'FR0000121667': 'EL.PA',      # EssilorLuxottica
    'FR0000052292': 'RMS.PA',     # Publicis Groupe
    'US7512121010': 'RL',         # Ralph Lauren Corporation
    'IT0004965148': 'MONC.MI',    # Moncler
    'US2435371073': 'DECK',        # Coach (Tapestry Inc.)
    'NL0011585146': 'RACE.MI',  # Prosus (Tencent holdings)
    'FR0000121485': 'PPX.F',      # Kenzo/LVMH related
    'US8760301072': 'TPR',        # Tapestry Inc.
    'JP3205800000': '4452.T',     # Bandai Namco Holdings
    'DK0060252690': 'PNDORA.CO',  # Pandora A/S
    'US5184391044': 'EL',        # M/I Homes (might be misclassified)
    'JP3351600006': '4911.T',     # Fast Retailing (Uniqlo)
    'GB0031743007': 'BRBY.L',     # Burberry Group
    'US91879Q1094': 'MTN',        # VF Corporation (The North Face, Vans)
    'US9182041080': 'VFC',        # United Rentals (might be misclassified)
    'US0708301041': 'BBWI',        # Best Buy (might be misclassified)
    'IT0004764699': 'BC.MI',     # Ferragamo
    'BMG812761002': 'SIG',     # Salvatore Ferragamo (London listing)
    'IT0003874101': '1913.HK',     # Tod's
    'LU0633102719': '1910.HK'      # Safran (might be misclassified as luxury)
}

# Add ticker column to your dataframe
luxury_brands['ticker'] = luxury_brands['Identifier'].map(isin_to_ticker)

# Display the mapping
luxury_brands

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_71563/3837678538.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  luxury_brands['ticker'] = luxury_brands['Identifier'].map(isin_to_ticker)

,Rank,Company Name,% of Net Assets,Ticker,Identifier,Shares Held,Market Value($),ticker
0,1,LVMH MOET HENNE,9.96,MC,FR0000121014,458,"319,707",MC.PA
1,2,CIE FINANCI-REG,8.92,CFR,CH0210483332,"1,486","286,121",CFR.SW
2,3,L'OREAL,7.82,OR,FR0000120321,612,"251,034",OR.PA
3,4,ESSILORLUXOTTICA,6.90,EL,FR0000121667,620,"221,275",EL.PA
4,5,HERMES INTERNATIONAL,5.94,RMS,FR0000052292,80,"190,529",RMS.PA
5,6,RALPH LAUREN CORP,4.94,RL,US7512121010,488,"158,444",RL
6,7,MONCLER SPA,4.82,MONC,IT0004965148,"2,420","154,758",MONC.MI
7,8,DECKERS OUTDOOR CORP,4.63,DECK,US2435371073,"1,816","148,494",DECK
8,9,FERRARI NV,4.54,RACE,NL0011585146,358,"145,790",RACE.MI
9,10,KERING,4.50,KER,FR0000121485,416,"144,376",PPX.F
10,11,TAPESTRY INC,4.39,TPR,US8760301072,"1,359","140,901",TPR
11,12,KAO CORP,4.38,4452,JP3205800000,"3,300","140,619",4452.T
12,13,PANDORA A/S,4.30,PNDORA,DK0060252690,"1,156","137,961",PNDORA.CO
13,14,ESTEE LAUDER,4.26,EL,US5184391044,"1,556","136,539",EL
15,16,SHISEIDO CO LTD,3.03,4911,JP3351600006,"5,800","97,367",4911.T
16,17,BURBERRY GROUP PLC,2.85,BRBY,GB0031743007,"6,065","91,504",BRBY.L
17,18,VAIL RESORTS INC,2.68,MTN,US91879Q1094,583,"86,010",MTN
18,19,VF CORP,2.59,VFC,US9182041080,"5,667","82,965",VFC
19,20,BATH & BODY WORKS INC,2.44,BBWI,US0708301041,"3,416","78,261",BBWI
20,21,BRUNELLO CUCINELLI SPA,1.75,BC,IT0004764699,559,"56,047",BC.MI
21,22,SIGNET JEWELERS LTD,1.67,SIG,BMG812761002,535,"53,666",SIG
22,23,PRADA S.P.A.,1.32,1913,IT0003874101,"7,400","42,246",1913.HK
23,24,SAMSONITE GROUP SA,1.23,1910,LU0633102719,"20,100","39,542",1910.HK

In [7]:
# Fetch data for each stock by ticker
def get_stock_data_dates(ticker, start_date, end_date=None):
    try:
        stock = yf.Ticker(ticker)
        return stock.history(start=start_date, end=end_date)
    except:
        print("Ticker")
        print("Not found")
        return None

#  Get data from start of 2000 to end of 2025
start_date = "2000-01-01"
end_date = "2025-12-31"


# Get data for each brand
for index, row in luxury_brands.iterrows():
    print(row["Company Name"])
    print(row['Rank'])
    ticker = row['ticker']
    print(f"Getting data for {ticker}")
    data = get_stock_data_dates(ticker, start_date, end_date)
    # If there is data, we write the Close prices into a column named after the company
    if data is not None:
        print(f"Latest close price: {data['Close'].iloc[-1]:.2f}")
        data[row["Company Name"]]= data['Close']
        #We reset the index to have Date as a column
        data.reset_index(inplace=True)
        data["Date"] = pd.to_datetime(data["Date"]).dt.date
        #We reduce the dataframe to Date and Company Name only
        red_data=data[["Date",row["Company Name"]]]
        #if it is the first iteration, we create the base dataframe
        if index==0:
            base_df=red_data
        #else we merge the new data into the base dataframe
        else:
            base_df=pd.merge(base_df,red_data,on="Date",how="outer")

LVMH MOET HENNE
1
Getting data for MC.PA
Latest close price: 647.20
CIE FINANCI-REG
2
Getting data for CFR.SW
Latest close price: 164.10
L'OREAL
3
Getting data for OR.PA
Latest close price: 356.90
ESSILORLUXOTTICA
4
Getting data for EL.PA
Latest close price: 320.70
HERMES INTERNATIONAL
5
Getting data for RMS.PA
Latest close price: 2200.00
RALPH LAUREN CORP
6
Getting data for RL
Latest close price: 339.48
MONCLER SPA
7
Getting data for MONC.MI
Latest close price: 58.46
DECKERS OUTDOOR CORP
8
Getting data for DECK
Latest close price: 85.11
FERRARI NV
9
Getting data for RACE.MI
Latest close price: 368.80
KERING
10
Getting data for PPX.F
Latest close price: 319.60
TAPESTRY INC
11
Getting data for TPR
Latest close price: 104.22
KAO CORP
12
Getting data for 4452.T
Latest close price: 6609.00
PANDORA A/S
13
Getting data for PNDORA.CO
Latest close price: 800.00
ESTEE LAUDER
14
Getting data for EL
Latest close price: 92.38
SHISEIDO CO LTD
16
Getting data for 4911.T
Latest close price: 2701.50
BURBERRY GROUP PLC
17
Getting data for BRBY.L
Latest close price: 1253.50
VAIL RESORTS INC
18
Getting data for MTN
Latest close price: 148.89
VF CORP
19
Getting data for VFC
Latest close price: 15.56
BATH & BODY WORKS INC
20
Getting data for BBWI
Latest close price: 22.27
BRUNELLO CUCINELLI SPA
21
Getting data for BC.MI
Latest close price: 93.64
SIGNET JEWELERS LTD
22
Getting data for SIG
Latest close price: 106.31
PRADA S.P.A.
23
Getting data for 1913.HK
Latest close price: 48.68
SAMSONITE GROUP SA
24
Getting data for 1910.HK
Latest close price: 16.68

In [8]:
#we cut of the last row with incomplete data
red_base_df=base_df.iloc[:-1]
red_base_df

,Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-01-03,55.369778,17.580807,52.908447,9.389035,35.796230,13.102764,NaN,0.145833,NaN,...,18.442051,NaN,NaN,12.328804,3.466902,5.373129,NaN,12.945647,NaN,NaN
1,2000-01-04,50.132088,17.650206,49.153233,9.452690,33.606125,12.586174,NaN,0.140625,NaN,...,18.116468,999.487671,NaN,11.366982,3.430331,5.265500,NaN,12.995438,NaN,NaN
2,2000-01-05,48.436089,17.858404,47.476799,9.713673,31.148321,12.820983,NaN,0.142361,NaN,...,17.505999,1006.204895,NaN,12.022768,3.393761,5.190988,NaN,12.995438,NaN,NaN
3,2000-01-06,47.887383,17.535006,49.287346,10.025578,30.418289,12.820983,NaN,0.154514,NaN,...,18.023445,1020.310791,NaN,12.110207,3.342564,5.108200,NaN,13.592929,NaN,NaN
4,2000-01-07,47.887383,17.488508,50.293221,10.000119,32.365051,13.149731,NaN,0.149306,NaN,...,18.651360,1085.465332,NaN,12.066487,3.415703,5.141314,NaN,13.343972,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6729,2025-11-05,612.799988,158.500000,362.500000,316.299988,2098.000000,316.899994,53.779999,81.809998,354.600006,...,91.089996,2536.500000,1205.0,145.449997,14.780000,23.650000,88.739998,100.760002,45.299999,15.990000
6730,2025-11-06,600.000000,156.449997,354.250000,312.700012,2043.000000,315.040009,53.779999,79.809998,352.000000,...,87.779999,2509.000000,1169.5,144.259995,14.260000,22.660000,87.320000,99.800003,45.099998,15.480000
6731,2025-11-07,603.200012,154.949997,354.450012,308.399994,2058.000000,324.679993,55.259998,81.769997,351.899994,...,87.750000,2571.000000,1147.0,147.529999,14.640000,22.910000,86.639999,100.309998,44.400002,15.300000
6732,2025-11-10,617.900024,158.100006,353.950012,311.799988,2086.000000,334.709991,56.419998,79.839996,356.799988,...,89.629997,2585.500000,1182.5,146.139999,14.630000,22.430000,87.300003,101.419998,46.320000,16.400000
6733,2025-11-11,632.900024,161.250000,356.700012,315.399994,2163.000000,333.779999,57.599998,82.709999,364.100006,...,90.839996,2562.500000,1205.0,150.229996,14.820000,21.959999,91.959999,103.169998,47.099998,16.780001

In [9]:
#and then we get the S&P500 data for the same time frame
sandp500=yf.Ticker("^GSPC")
sp500_data=sandp500.history(start=start_date, end=end_date)
sp500_data.reset_index(inplace=True)
sp500_data["Date"] = pd.to_datetime(sp500_data["Date"]).dt.date
sp500_data=sp500_data[["Date","Close"]]
sp500_data.rename(columns={"Close":"S&P500"},inplace=True)
sp500_data

            Date       S&P500
0     2000-01-03  1455.219971
1     2000-01-04  1399.420044
2     2000-01-05  1402.109985
3     2000-01-06  1403.449951
4     2000-01-07  1441.469971
...          ...          ...
6501  2025-11-06  6720.319824
6502  2025-11-07  6728.799805
6503  2025-11-10  6832.430176
6504  2025-11-11  6846.609863
6505  2025-11-12  6846.399902

[6506 rows x 2 columns]

In [10]:
#then we define what a setback is by HB standards
ruecksetzer_value=0.9
#and what a recovery would be from this setback
recovery_value=1/ruecksetzer_value

In [11]:
# And now we want to get all dates where the S&P500 had a setback of 10% 
# or more from its previous maximum

#we set a default value for the previous maximum
before_max=0
#and an empty dictionary to store the setback data
setback_dict={}

#we loop through the S&P500 data to find setbacks
for index, row in sp500_data.iterrows():
    #get date and value for each row
    date=row["Date"]
    value=row["S&P500"]
    #check if the current value is greater than the previous maximum
    if value>before_max:
        before_max=value
        max_date=date
    #if the current value is less than 90 percent of the previous maximum
    # we record this as a setback
    else:
        if value<before_max*ruecksetzer_value:
            print(f"Date: {date}, Value: {value}, Previous Max: {before_max}")
            #and save it into the setback dictionary
            setback_dict[date]=[value,before_max,max_date]

Date: 2000-04-14, Value: 1356.56005859375, Previous Max: 1527.4599609375
Date: 2000-05-23, Value: 1373.8599853515625, Previous Max: 1527.4599609375
Date: 2000-10-11, Value: 1364.5899658203125, Previous Max: 1527.4599609375
Date: 2000-10-12, Value: 1329.780029296875, Previous Max: 1527.4599609375
Date: 2000-10-13, Value: 1374.1700439453125, Previous Max: 1527.4599609375
Date: 2000-10-16, Value: 1374.6199951171875, Previous Max: 1527.4599609375
Date: 2000-10-17, Value: 1349.969970703125, Previous Max: 1527.4599609375
Date: 2000-10-18, Value: 1342.1300048828125, Previous Max: 1527.4599609375
Date: 2000-10-25, Value: 1364.9000244140625, Previous Max: 1527.4599609375
Date: 2000-10-26, Value: 1364.43994140625, Previous Max: 1527.4599609375
Date: 2000-11-10, Value: 1365.97998046875, Previous Max: 1527.4599609375
Date: 2000-11-13, Value: 1351.260009765625, Previous Max: 1527.4599609375
Date: 2000-11-16, Value: 1372.3199462890625, Previous Max: 1527.4599609375
Date: 2000-11-17, Value: 1367.719970703125, Previous Max: 1527.4599609375
Date: 2000-11-20, Value: 1342.6199951171875, Previous Max: 1527.4599609375
Date: 2000-11-21, Value: 1347.3499755859375, Previous Max: 1527.4599609375
Date: 2000-11-22, Value: 1322.3599853515625, Previous Max: 1527.4599609375
Date: 2000-11-24, Value: 1341.77001953125, Previous Max: 1527.4599609375
Date: 2000-11-27, Value: 1348.969970703125, Previous Max: 1527.4599609375
Date: 2000-11-28, Value: 1336.0899658203125, Previous Max: 1527.4599609375
Date: 2000-11-29, Value: 1341.9300537109375, Previous Max: 1527.4599609375
Date: 2000-11-30, Value: 1314.949951171875, Previous Max: 1527.4599609375
Date: 2000-12-01, Value: 1315.22998046875, Previous Max: 1527.4599609375
Date: 2000-12-04, Value: 1324.969970703125, Previous Max: 1527.4599609375
Date: 2000-12-06, Value: 1351.4599609375, Previous Max: 1527.4599609375
Date: 2000-12-07, Value: 1343.550048828125, Previous Max: 1527.4599609375
Date: 2000-12-08, Value: 1369.8900146484375, Previous Max: 1527.4599609375
Date: 2000-12-12, Value: 1371.1800537109375, Previous Max: 1527.4599609375
Date: 2000-12-13, Value: 1359.989990234375, Previous Max: 1527.4599609375
Date: 2000-12-14, Value: 1340.9300537109375, Previous Max: 1527.4599609375
Date: 2000-12-15, Value: 1312.1500244140625, Previous Max: 1527.4599609375
Date: 2000-12-18, Value: 1322.739990234375, Previous Max: 1527.4599609375
Date: 2000-12-19, Value: 1305.5999755859375, Previous Max: 1527.4599609375
Date: 2000-12-20, Value: 1264.739990234375, Previous Max: 1527.4599609375
Date: 2000-12-21, Value: 1274.8599853515625, Previous Max: 1527.4599609375
Date: 2000-12-22, Value: 1305.949951171875, Previous Max: 1527.4599609375
Date: 2000-12-26, Value: 1315.18994140625, Previous Max: 1527.4599609375
Date: 2000-12-27, Value: 1328.9200439453125, Previous Max: 1527.4599609375
Date: 2000-12-28, Value: 1334.219970703125, Previous Max: 1527.4599609375
Date: 2000-12-29, Value: 1320.280029296875, Previous Max: 1527.4599609375
Date: 2001-01-02, Value: 1283.27001953125, Previous Max: 1527.4599609375
Date: 2001-01-03, Value: 1347.56005859375, Previous Max: 1527.4599609375
Date: 2001-01-04, Value: 1333.3399658203125, Previous Max: 1527.4599609375
Date: 2001-01-05, Value: 1298.3499755859375, Previous Max: 1527.4599609375
Date: 2001-01-08, Value: 1295.8599853515625, Previous Max: 1527.4599609375
Date: 2001-01-09, Value: 1300.800048828125, Previous Max: 1527.4599609375
Date: 2001-01-10, Value: 1313.27001953125, Previous Max: 1527.4599609375
Date: 2001-01-11, Value: 1326.8199462890625, Previous Max: 1527.4599609375
Date: 2001-01-12, Value: 1318.550048828125, Previous Max: 1527.4599609375
Date: 2001-01-16, Value: 1326.6500244140625, Previous Max: 1527.4599609375
Date: 2001-01-17, Value: 1329.469970703125, Previous Max: 1527.4599609375
Date: 2001-01-18, Value: 1347.969970703125, Previous Max: 1527.4599609375
Date: 2001-01-19, Value: 1342.5400390625, Previous Max: 1527.4599609375
Date: 2001-01-22, Value: 1342.9000244140625, Previous Max: 1527.4599609375
Date: 2001-01-23, Value: 1360.4000244140625, Previous Max: 1527.4599609375
Date: 2001-01-24, Value: 1364.300048828125, Previous Max: 1527.4599609375
Date: 2001-01-25, Value: 1357.510009765625, Previous Max: 1527.4599609375
Date: 2001-01-26, Value: 1354.949951171875, Previous Max: 1527.4599609375
Date: 2001-01-29, Value: 1364.1700439453125, Previous Max: 1527.4599609375
Date: 2001-01-30, Value: 1373.72998046875, Previous Max: 1527.4599609375
Date: 2001-01-31, Value: 1366.010009765625, Previous Max: 1527.4599609375
Date: 2001-02-01, Value: 1373.469970703125, Previous Max: 1527.4599609375
Date: 2001-02-02, Value: 1349.469970703125, Previous Max: 1527.4599609375
Date: 2001-02-05, Value: 1354.31005859375, Previous Max: 1527.4599609375
Date: 2001-02-06, Value: 1352.260009765625, Previous Max: 1527.4599609375
Date: 2001-02-07, Value: 1340.8900146484375, Previous Max: 1527.4599609375
Date: 2001-02-08, Value: 1332.530029296875, Previous Max: 1527.4599609375
Date: 2001-02-09, Value: 1314.760009765625, Previous Max: 1527.4599609375
Date: 2001-02-12, Value: 1330.31005859375, Previous Max: 1527.4599609375
Date: 2001-02-13, Value: 1318.800048828125, Previous Max: 1527.4599609375
Date: 2001-02-14, Value: 1315.9200439453125, Previous Max: 1527.4599609375
Date: 2001-02-15, Value: 1326.6099853515625, Previous Max: 1527.4599609375
Date: 2001-02-16, Value: 1301.530029296875, Previous Max: 1527.4599609375
Date: 2001-02-20, Value: 1278.93994140625, Previous Max: 1527.4599609375
Date: 2001-02-21, Value: 1255.27001953125, Previous Max: 1527.4599609375
Date: 2001-02-22, Value: 1252.8199462890625, Previous Max: 1527.4599609375
Date: 2001-02-23, Value: 1245.8599853515625, Previous Max: 1527.4599609375
Date: 2001-02-26, Value: 1267.6500244140625, Previous Max: 1527.4599609375
Date: 2001-02-27, Value: 1257.93994140625, Previous Max: 1527.4599609375
Date: 2001-02-28, Value: 1239.93994140625, Previous Max: 1527.4599609375
Date: 2001-03-01, Value: 1241.22998046875, Previous Max: 1527.4599609375
Date: 2001-03-02, Value: 1234.1800537109375, Previous Max: 1527.4599609375
Date: 2001-03-05, Value: 1241.4100341796875, Previous Max: 1527.4599609375
Date: 2001-03-06, Value: 1253.800048828125, Previous Max: 1527.4599609375
Date: 2001-03-07, Value: 1261.8900146484375, Previous Max: 1527.4599609375
Date: 2001-03-08, Value: 1264.739990234375, Previous Max: 1527.4599609375
Date: 2001-03-09, Value: 1233.4200439453125, Previous Max: 1527.4599609375
Date: 2001-03-12, Value: 1180.1600341796875, Previous Max: 1527.4599609375
Date: 2001-03-13, Value: 1197.6600341796875, Previous Max: 1527.4599609375
Date: 2001-03-14, Value: 1166.7099609375, Previous Max: 1527.4599609375
Date: 2001-03-15, Value: 1173.56005859375, Previous Max: 1527.4599609375
Date: 2001-03-16, Value: 1150.530029296875, Previous Max: 1527.4599609375
Date: 2001-03-19, Value: 1170.81005859375, Previous Max: 1527.4599609375
Date: 2001-03-20, Value: 1142.6199951171875, Previous Max: 1527.4599609375
Date: 2001-03-21, Value: 1122.1400146484375, Previous Max: 1527.4599609375
Date: 2001-03-22, Value: 1117.5799560546875, Previous Max: 1527.4599609375
Date: 2001-03-23, Value: 1139.8299560546875, Previous Max: 1527.4599609375
Date: 2001-03-26, Value: 1152.68994140625, Previous Max: 1527.4599609375
Date: 2001-03-27, Value: 1182.1700439453125, Previous Max: 1527.4599609375
Date: 2001-03-28, Value: 1153.2900390625, Previous Max: 1527.4599609375
Date: 2001-03-29, Value: 1147.949951171875, Previous Max: 1527.4599609375
Date: 2001-03-30, Value: 1160.3299560546875, Previous Max: 1527.4599609375
Date: 2001-04-02, Value: 1145.8699951171875, Previous Max: 1527.4599609375
Date: 2001-04-03, Value: 1106.4599609375, Previous Max: 1527.4599609375
Date: 2001-04-04, Value: 1103.25, Previous Max: 1527.4599609375
Date: 2001-04-05, Value: 1151.43994140625, Previous Max: 1527.4599609375
Date: 2001-04-06, Value: 1128.4300537109375, Previous Max: 1527.4599609375
Date: 2001-04-09, Value: 1137.5899658203125, Previous Max: 1527.4599609375
Date: 2001-04-10, Value: 1168.3800048828125, Previous Max: 1527.4599609375
Date: 2001-04-11, Value: 1165.8900146484375, Previous Max: 1527.4599609375
Date: 2001-04-12, Value: 1183.5, Previous Max: 1527.4599609375
Date: 2001-04-16, Value: 1179.6800537109375, Previous Max: 1527.4599609375
Date: 2001-04-17, Value: 1191.81005859375, Previous Max: 1527.4599609375
Date: 2001-04-18, Value: 1238.1600341796875, Previous Max: 1527.4599609375
Date: 2001-04-19, Value: 1253.68994140625, Previous Max: 1527.4599609375
Date: 2001-04-20, Value: 1242.97998046875, Previous Max: 1527.4599609375
Date: 2001-04-23, Value: 1224.3599853515625, Previous Max: 1527.4599609375
Date: 2001-04-24, Value: 1209.469970703125, Previous Max: 1527.4599609375
Date: 2001-04-25, Value: 1228.75, Previous Max: 1527.4599609375
Date: 2001-04-26, Value: 1234.52001953125, Previous Max: 1527.4599609375
Date: 2001-04-27, Value: 1253.050048828125, Previous Max: 1527.4599609375
Date: 2001-04-30, Value: 1249.4599609375, Previous Max: 1527.4599609375
Date: 2001-05-01, Value: 1266.43994140625, Previous Max: 1527.4599609375
Date: 2001-05-02, Value: 1267.4300537109375, Previous Max: 1527.4599609375
Date: 2001-05-03, Value: 1248.5799560546875, Previous Max: 1527.4599609375
Date: 2001-05-04, Value: 1266.6099853515625, Previous Max: 1527.4599609375
Date: 2001-05-07, Value: 1263.510009765625, Previous Max: 1527.4599609375
Date: 2001-05-08, Value: 1261.199951171875, Previous Max: 1527.4599609375
Date: 2001-05-09, Value: 1255.5400390625, Previous Max: 1527.4599609375
Date: 2001-05-10, Value: 1255.1800537109375, Previous Max: 1527.4599609375
Date: 2001-05-11, Value: 1245.6700439453125, Previous Max: 1527.4599609375
Date: 2001-05-14, Value: 1248.9200439453125, Previous Max: 1527.4599609375
Date: 2001-05-15, Value: 1249.43994140625, Previous Max: 1527.4599609375
Date: 2001-05-16, Value: 1284.989990234375, Previous Max: 1527.4599609375
Date: 2001-05-17, Value: 1288.489990234375, Previous Max: 1527.4599609375
Date: 2001-05-18, Value: 1291.9599609375, Previous Max: 1527.4599609375
Date: 2001-05-21, Value: 1312.8299560546875, Previous Max: 1527.4599609375
Date: 2001-05-22, Value: 1309.3800048828125, Previous Max: 1527.4599609375
Date: 2001-05-23, Value: 1289.050048828125, Previous Max: 1527.4599609375
Date: 2001-05-24, Value: 1293.1700439453125, Previous Max: 1527.4599609375
Date: 2001-05-25, Value: 1277.8900146484375, Previous Max: 1527.4599609375
Date: 2001-05-29, Value: 1267.9300537109375, Previous Max: 1527.4599609375
Date: 2001-05-30, Value: 1248.0799560546875, Previous Max: 1527.4599609375
Date: 2001-05-31, Value: 1255.8199462890625, Previous Max: 1527.4599609375
Date: 2001-06-01, Value: 1260.6700439453125, Previous Max: 1527.4599609375
Date: 2001-06-04, Value: 1267.1099853515625, Previous Max: 1527.4599609375
Date: 2001-06-05, Value: 1283.5699462890625, Previous Max: 1527.4599609375
Date: 2001-06-06, Value: 1270.030029296875, Previous Max: 1527.4599609375
Date: 2001-06-07, Value: 1276.9599609375, Previous Max: 1527.4599609375
Date: 2001-06-08, Value: 1264.9599609375, Previous Max: 1527.4599609375
Date: 2001-06-11, Value: 1254.3900146484375, Previous Max: 1527.4599609375
Date: 2001-06-12, Value: 1255.8499755859375, Previous Max: 1527.4599609375
Date: 2001-06-13, Value: 1241.5999755859375, Previous Max: 1527.4599609375
Date: 2001-06-14, Value: 1219.8699951171875, Previous Max: 1527.4599609375
Date: 2001-06-15, Value: 1214.3599853515625, Previous Max: 1527.4599609375
Date: 2001-06-18, Value: 1208.4300537109375, Previous Max: 1527.4599609375
Date: 2001-06-19, Value: 1212.5799560546875, Previous Max: 1527.4599609375
Date: 2001-06-20, Value: 1223.1400146484375, Previous Max: 1527.4599609375
Date: 2001-06-21, Value: 1237.0400390625, Previous Max: 1527.4599609375
Date: 2001-06-22, Value: 1225.3499755859375, Previous Max: 1527.4599609375
Date: 2001-06-25, Value: 1218.5999755859375, Previous Max: 1527.4599609375
Date: 2001-06-26, Value: 1216.760009765625, Previous Max: 1527.4599609375
Date: 2001-06-27, Value: 1211.0699462890625, Previous Max: 1527.4599609375
Date: 2001-06-28, Value: 1226.199951171875, Previous Max: 1527.4599609375
Date: 2001-06-29, Value: 1224.3800048828125, Previous Max: 1527.4599609375
Date: 2001-07-02, Value: 1236.719970703125, Previous Max: 1527.4599609375
Date: 2001-07-03, Value: 1234.449951171875, Previous Max: 1527.4599609375
Date: 2001-07-05, Value: 1219.239990234375, Previous Max: 1527.4599609375
Date: 2001-07-06, Value: 1190.5899658203125, Previous Max: 1527.4599609375
Date: 2001-07-09, Value: 1198.780029296875, Previous Max: 1527.4599609375
Date: 2001-07-10, Value: 1181.52001953125, Previous Max: 1527.4599609375
Date: 2001-07-11, Value: 1180.1800537109375, Previous Max: 1527.4599609375
Date: 2001-07-12, Value: 1208.1400146484375, Previous Max: 1527.4599609375
Date: 2001-07-13, Value: 1215.6800537109375, Previous Max: 1527.4599609375
Date: 2001-07-16, Value: 1202.449951171875, Previous Max: 1527.4599609375
Date: 2001-07-17, Value: 1214.43994140625, Previous Max: 1527.4599609375
Date: 2001-07-18, Value: 1207.7099609375, Previous Max: 1527.4599609375
Date: 2001-07-19, Value: 1215.02001953125, Previous Max: 1527.4599609375
Date: 2001-07-20, Value: 1210.8499755859375, Previous Max: 1527.4599609375
Date: 2001-07-23, Value: 1191.030029296875, Previous Max: 1527.4599609375
Date: 2001-07-24, Value: 1171.6500244140625, Previous Max: 1527.4599609375
Date: 2001-07-25, Value: 1190.489990234375, Previous Max: 1527.4599609375
Date: 2001-07-26, Value: 1202.9300537109375, Previous Max: 1527.4599609375
Date: 2001-07-27, Value: 1205.8199462890625, Previous Max: 1527.4599609375
Date: 2001-07-30, Value: 1204.52001953125, Previous Max: 1527.4599609375
Date: 2001-07-31, Value: 1211.22998046875, Previous Max: 1527.4599609375
Date: 2001-08-01, Value: 1215.9300537109375, Previous Max: 1527.4599609375
Date: 2001-08-02, Value: 1220.75, Previous Max: 1527.4599609375
Date: 2001-08-03, Value: 1214.3499755859375, Previous Max: 1527.4599609375
Date: 2001-08-06, Value: 1200.47998046875, Previous Max: 1527.4599609375
Date: 2001-08-07, Value: 1204.4000244140625, Previous Max: 1527.4599609375
Date: 2001-08-08, Value: 1183.530029296875, Previous Max: 1527.4599609375
Date: 2001-08-09, Value: 1183.4300537109375, Previous Max: 1527.4599609375
Date: 2001-08-10, Value: 1190.1600341796875, Previous Max: 1527.4599609375
Date: 2001-08-13, Value: 1191.2900390625, Previous Max: 1527.4599609375
Date: 2001-08-14, Value: 1186.72998046875, Previous Max: 1527.4599609375
Date: 2001-08-15, Value: 1178.02001953125, Previous Max: 1527.4599609375
Date: 2001-08-16, Value: 1181.6600341796875, Previous Max: 1527.4599609375
Date: 2001-08-17, Value: 1161.969970703125, Previous Max: 1527.4599609375
Date: 2001-08-20, Value: 1171.4100341796875, Previous Max: 1527.4599609375
Date: 2001-08-21, Value: 1157.260009765625, Previous Max: 1527.4599609375
Date: 2001-08-22, Value: 1165.31005859375, Previous Max: 1527.4599609375
Date: 2001-08-23, Value: 1162.0899658203125, Previous Max: 1527.4599609375
Date: 2001-08-24, Value: 1184.9300537109375, Previous Max: 1527.4599609375
Date: 2001-08-27, Value: 1179.2099609375, Previous Max: 1527.4599609375
Date: 2001-08-28, Value: 1161.510009765625, Previous Max: 1527.4599609375
Date: 2001-08-29, Value: 1148.56005859375, Previous Max: 1527.4599609375
Date: 2001-08-30, Value: 1129.030029296875, Previous Max: 1527.4599609375
Date: 2001-08-31, Value: 1133.5799560546875, Previous Max: 1527.4599609375
Date: 2001-09-04, Value: 1132.93994140625, Previous Max: 1527.4599609375
Date: 2001-09-05, Value: 1131.739990234375, Previous Max: 1527.4599609375
Date: 2001-09-06, Value: 1106.4000244140625, Previous Max: 1527.4599609375
Date: 2001-09-07, Value: 1085.780029296875, Previous Max: 1527.4599609375
Date: 2001-09-10, Value: 1092.5400390625, Previous Max: 1527.4599609375
Date: 2001-09-17, Value: 1038.77001953125, Previous Max: 1527.4599609375
Date: 2001-09-18, Value: 1032.739990234375, Previous Max: 1527.4599609375
Date: 2001-09-19, Value: 1016.0999755859375, Previous Max: 1527.4599609375
Date: 2001-09-20, Value: 984.5399780273438, Previous Max: 1527.4599609375
Date: 2001-09-21, Value: 965.7999877929688, Previous Max: 1527.4599609375
Date: 2001-09-24, Value: 1003.4500122070312, Previous Max: 1527.4599609375
Date: 2001-09-25, Value: 1012.27001953125, Previous Max: 1527.4599609375
Date: 2001-09-26, Value: 1007.0399780273438, Previous Max: 1527.4599609375
Date: 2001-09-27, Value: 1018.6099853515625, Previous Max: 1527.4599609375
Date: 2001-09-28, Value: 1040.93994140625, Previous Max: 1527.4599609375
Date: 2001-10-01, Value: 1038.550048828125, Previous Max: 1527.4599609375
Date: 2001-10-02, Value: 1051.3299560546875, Previous Max: 1527.4599609375
Date: 2001-10-03, Value: 1072.280029296875, Previous Max: 1527.4599609375
Date: 2001-10-04, Value: 1069.6300048828125, Previous Max: 1527.4599609375
Date: 2001-10-05, Value: 1071.3800048828125, Previous Max: 1527.4599609375
Date: 2001-10-08, Value: 1062.43994140625, Previous Max: 1527.4599609375
Date: 2001-10-09, Value: 1056.75, Previous Max: 1527.4599609375
Date: 2001-10-10, Value: 1080.989990234375, Previous Max: 1527.4599609375
Date: 2001-10-11, Value: 1097.4300537109375, Previous Max: 1527.4599609375
Date: 2001-10-12, Value: 1091.6500244140625, Previous Max: 1527.4599609375
Date: 2001-10-15, Value: 1089.97998046875, Previous Max: 1527.4599609375
Date: 2001-10-16, Value: 1097.5400390625, Previous Max: 1527.4599609375
Date: 2001-10-17, Value: 1077.0899658203125, Previous Max: 1527.4599609375
Date: 2001-10-18, Value: 1068.6099853515625, Previous Max: 1527.4599609375
Date: 2001-10-19, Value: 1073.47998046875, Previous Max: 1527.4599609375
Date: 2001-10-22, Value: 1089.9000244140625, Previous Max: 1527.4599609375
Date: 2001-10-23, Value: 1084.780029296875, Previous Max: 1527.4599609375
Date: 2001-10-24, Value: 1085.199951171875, Previous Max: 1527.4599609375
Date: 2001-10-25, Value: 1100.0899658203125, Previous Max: 1527.4599609375
Date: 2001-10-26, Value: 1104.6099853515625, Previous Max: 1527.4599609375
Date: 2001-10-29, Value: 1078.300048828125, Previous Max: 1527.4599609375
Date: 2001-10-30, Value: 1059.7900390625, Previous Max: 1527.4599609375
Date: 2001-10-31, Value: 1059.780029296875, Previous Max: 1527.4599609375
Date: 2001-11-01, Value: 1084.0999755859375, Previous Max: 1527.4599609375
Date: 2001-11-02, Value: 1087.199951171875, Previous Max: 1527.4599609375
Date: 2001-11-05, Value: 1102.8399658203125, Previous Max: 1527.4599609375
Date: 2001-11-06, Value: 1118.8599853515625, Previous Max: 1527.4599609375
Date: 2001-11-07, Value: 1115.800048828125, Previous Max: 1527.4599609375
Date: 2001-11-08, Value: 1118.5400390625, Previous Max: 1527.4599609375
Date: 2001-11-09, Value: 1120.31005859375, Previous Max: 1527.4599609375
Date: 2001-11-12, Value: 1118.3299560546875, Previous Max: 1527.4599609375
Date: 2001-11-13, Value: 1139.0899658203125, Previous Max: 1527.4599609375
Date: 2001-11-14, Value: 1141.2099609375, Previous Max: 1527.4599609375
Date: 2001-11-15, Value: 1142.239990234375, Previous Max: 1527.4599609375
Date: 2001-11-16, Value: 1138.6500244140625, Previous Max: 1527.4599609375
Date: 2001-11-19, Value: 1151.06005859375, Previous Max: 1527.4599609375
Date: 2001-11-20, Value: 1142.6600341796875, Previous Max: 1527.4599609375
Date: 2001-11-21, Value: 1137.030029296875, Previous Max: 1527.4599609375
Date: 2001-11-23, Value: 1150.3399658203125, Previous Max: 1527.4599609375
Date: 2001-11-26, Value: 1157.4200439453125, Previous Max: 1527.4599609375
Date: 2001-11-27, Value: 1149.5, Previous Max: 1527.4599609375
Date: 2001-11-28, Value: 1128.52001953125, Previous Max: 1527.4599609375
Date: 2001-11-29, Value: 1140.199951171875, Previous Max: 1527.4599609375
Date: 2001-11-30, Value: 1139.449951171875, Previous Max: 1527.4599609375
Date: 2001-12-03, Value: 1129.9000244140625, Previous Max: 1527.4599609375
Date: 2001-12-04, Value: 1144.800048828125, Previous Max: 1527.4599609375

In [12]:
#we convert the setback dictionary into a dataframe
setback_df=pd.DataFrame.from_dict(setback_dict,orient="index",columns=["S&P500 Setback Values","Previous Max","Max Date"]).reset_index()
setback_df.rename(columns={"index":"Date"},inplace=True) 
setback_df.sort_values("Date",inplace=True)
setback_df

            Date  S&P500 Setback Values  Previous Max    Max Date
0     2000-04-14            1356.560059   1527.459961  2000-03-24
1     2000-05-23            1373.859985   1527.459961  2000-03-24
2     2000-10-11            1364.589966   1527.459961  2000-03-24
3     2000-10-12            1329.780029   1527.459961  2000-03-24
4     2000-10-13            1374.170044   1527.459961  2000-03-24
...          ...                    ...           ...         ...
3119  2025-04-22            5287.759766   6144.149902  2025-02-19
3120  2025-04-23            5375.859863   6144.149902  2025-02-19
3121  2025-04-24            5484.770020   6144.149902  2025-02-19
3122  2025-04-25            5525.209961   6144.149902  2025-02-19
3123  2025-04-28            5528.750000   6144.149902  2025-02-19

[3124 rows x 4 columns]

In [13]:
#we get the start dates of each setback period
setback_start=setback_df.drop_duplicates(subset=["Previous Max"],keep="first")
setback_start=setback_start.rename(columns={"Date":"Start Setback Date"})
setback_start=setback_start.reset_index(drop=True)
setback_start

  Start Setback Date  S&P500 Setback Values  Previous Max    Max Date
0         2000-04-14            1356.560059   1527.459961  2000-03-24
1         2007-11-26            1407.219971   1565.150024  2007-10-09
2         2015-08-24            1893.209961   2130.820068  2015-05-21
3         2018-02-08            2581.000000   2872.870117  2018-01-26
4         2018-11-23            2632.560059   2930.750000  2018-09-20
5         2020-02-27            2978.760010   3386.149902  2020-02-19
6         2022-02-22            4304.759766   4796.560059  2022-01-03
7         2025-03-13            5521.520020   6144.149902  2025-02-19

In [14]:
#we get the end dates of each setback period

setback_end=setback_df.drop_duplicates(subset=["Previous Max"],keep="last")
setback_end=setback_end.rename(columns={"Date":"End Setback Date"})
setback_end=setback_end.reset_index(drop=True)
setback_end

  End Setback Date  S&P500 Setback Values  Previous Max    Max Date
0       2007-03-05            1374.119995   1527.459961  2000-03-24
1       2012-12-28            1402.430054   1565.150024  2007-10-09
2       2016-02-16            1895.579956   2130.820068  2015-05-21
3       2018-04-02            2581.879883   2872.870117  2018-01-26
4       2019-01-22            2632.899902   2930.750000  2018-09-20
5       2020-06-26            3009.050049   3386.149902  2020-02-19
6       2023-11-01            4237.859863   4796.560059  2022-01-03
7       2025-04-28            5528.750000   6144.149902  2025-02-19

In [15]:
#and we merge the start and end dates, start and end value into one dataframe 
# also including Previous Max and Max Date
setback_start_end=pd.merge(setback_start,setback_end,on=["Previous Max","Max Date"],suffixes=('_Start','_End_Dip'))
setback_start_end

,Start Setback Date,S&P500 Setback Values_Start,Previous Max,Max Date,End Setback Date,S&P500 Setback Values_End_Dip
0,2000-04-14,1356.560059,1527.459961,2000-03-24,2007-03-05,1374.119995
1,2007-11-26,1407.219971,1565.150024,2007-10-09,2012-12-28,1402.430054
2,2015-08-24,1893.209961,2130.820068,2015-05-21,2016-02-16,1895.579956
3,2018-02-08,2581.000000,2872.870117,2018-01-26,2018-04-02,2581.879883
4,2018-11-23,2632.560059,2930.750000,2018-09-20,2019-01-22,2632.899902
5,2020-02-27,2978.760010,3386.149902,2020-02-19,2020-06-26,3009.050049
6,2022-02-22,4304.759766,4796.560059,2022-01-03,2023-11-01,4237.859863
7,2025-03-13,5521.520020,6144.149902,2025-02-19,2025-04-28,5528.750000

In [16]:
#and we resort the dataframe for better readability and logical order
df_setback_resorted=setback_start_end[["Max Date","Previous Max","Start Setback Date","S&P500 Setback Values_Start","End Setback Date","S&P500 Setback Values_End_Dip"]]
df_setback_resorted.columns=["Max Date","Value at Max","Start Setback Date","Value at Start Setback","End Setback Date","Value at End Setback"]
df_setback_resorted

,Max Date,Value at Max,Start Setback Date,Value at Start Setback,End Setback Date,Value at End Setback
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000

In [17]:
# and then we get the recovery dates for each setback period with another run through the dataframe
recoverydict={"Recovered Date":[],"Value At Recovered":[]}
for index, row in df_setback_resorted.iterrows():
    #we take the date of the maximum and its value
    date_max=(row["Max Date"])
    value_max=row["Value at Max"]
    #and then we search for the first date after the maximum date
    # where the S&P500 is greater than or equal to the previous maximum value
    recovered_df=sp500_data[(sp500_data["Date"]>date_max)&(sp500_data["S&P500"]>=value_max)]
    print(recovered_df["Date"].iloc[0])
    #we append the found date and value to the recovery dictionary
    recoverydict["Recovered Date"].append(recovered_df["Date"].iloc[0])
    recoverydict["Value At Recovered"].append(recovered_df["S&P500"].iloc[0])
# and we convert the recovery dictionary into a dataframe
recovery_df=pd.DataFrame(recoverydict)
recovery_df["Recovered Date"]=pd.to_datetime(recovery_df["Recovered Date"]).dt.date
recovery_df

2007-05-30
2013-03-28
2016-07-11
2018-08-24
2019-04-23
2020-08-18
2024-01-19
2025-06-27

  Recovered Date  Value At Recovered
0     2007-05-30         1530.229980
1     2013-03-28         1569.189941
2     2016-07-11         2137.159912
3     2018-08-24         2874.689941
4     2019-04-23         2933.679932
5     2020-08-18         3389.780029
6     2024-01-19         4839.810059
7     2025-06-27         6173.069824

# Setbacks of S&P500
So this is a dataset of all the times, when there was a setback of more than 10 percent of the maximum. And we also track, when this previous max was reached for the first time and again after the setback.

In [61]:
#and we add this recovery data to the setback dataframe
setback_sp_500_full=pd.concat([df_setback_resorted,recovery_df],axis=1)
setback_sp_500_full

,Max Date,Value at Max,Start Setback Date,Value at Start Setback,End Setback Date,Value at End Setback,Recovered Date,Value At Recovered
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995,2007-05-30,1530.229980
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054,2013-03-28,1569.189941
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956,2016-07-11,2137.159912
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883,2018-08-24,2874.689941
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902,2019-04-23,2933.679932
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049,2020-08-18,3389.780029
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863,2024-01-19,4839.810059
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000,2025-06-27,6173.069824

# Q1: How long does it take to recover from worst timing investment?
Now I am calculating how fast stocks recovered for luxurious brands, if I invested on the peak moment of the S&P500 into the given stock

In [62]:
setback_sp_500_full

,Max Date,Value at Max,Start Setback Date,Value at Start Setback,End Setback Date,Value at End Setback,Recovered Date,Value At Recovered
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995,2007-05-30,1530.229980
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054,2013-03-28,1569.189941
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956,2016-07-11,2137.159912
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883,2018-08-24,2874.689941
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902,2019-04-23,2933.679932
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049,2020-08-18,3389.780029
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863,2024-01-19,4839.810059
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000,2025-06-27,6173.069824

In [63]:
# we get only a part of this setback dataframe
time_between_max_and_setback=setback_sp_500_full[["Max Date","Start Setback Date"]].copy()
time_between_max_and_setback

     Max Date Start Setback Date
0  2000-03-24         2000-04-14
1  2007-10-09         2007-11-26
2  2015-05-21         2015-08-24
3  2018-01-26         2018-02-08
4  2018-09-20         2018-11-23
5  2020-02-19         2020-02-27
6  2022-01-03         2022-02-22
7  2025-02-19         2025-03-13

In [64]:
# we want to collect the date by which each luxury brand 
# recovered from the value that it had at the time of the S&P500 maximum
luxury_recovery_dates = {}
# we iterate through each luxury brand
for brand in luxury_brands["Company Name"].tolist():
    print(brand)
    #create a reduced dataframe for the brand
    # that only contains Date and the brand's stock price
    brand_data=red_base_df[["Date",brand]]
    recovery_dates=[]
    # we iterate through each setback period
    for index, row in time_between_max_and_setback.iterrows():
        #take the date of the previous S&P500 maximum
        #and set it as the investment date in the brand
        date_invest_max=(row["Max Date"])
        #and set the date of the realization of the setback
        date_crash_realisation=(row["Start Setback Date"])
        #then we get the value of the stock of this brand at the investment date / the date of the S&P500 maximum
        #this is the last entry of all dates before or equal to the investment date
        value_brand_at_max_date=brand_data[brand_data["Date"]<=date_invest_max][brand].values[-1]
        #then we search for all dates after the realization of the setback
        # where the brand's stock price is greater than or equal to the value at the investment date
        recovered_df_brand=brand_data[(brand_data["Date"]>date_crash_realisation)&(brand_data[brand]>=value_brand_at_max_date)]
        #we drop all rows with NaN values for the brand
        recovered_df_brand=recovered_df_brand.dropna(subset=[brand])
        #if there are no entries, we append NaN
        if len(recovered_df_brand)==0:
            date_recovered=np.nan
            recovery_dates.append(date_recovered)
            pass
        #else we take the first date where the brand recovered
        else:
            date_recovered=recovered_df_brand.iloc[0]["Date"]
            recovery_dates.append(date_recovered)
            #and print out this result for control purposes
            print(f"Brand: {brand}, Date Invest Max: {date_invest_max}, Value at Max Date: {value_brand_at_max_date}, Date Recovered: {date_recovered}")
    # and then we append the list of recovery dates for this brand to the dictionary
    luxury_recovery_dates[brand]=recovery_dates
#and create a dataframe from the dictionary    
luxury_recovery_df=pd.DataFrame(luxury_recovery_dates)
luxury_recovery_df

LVMH MOET HENNE
Brand: LVMH MOET HENNE, Date Invest Max: 2000-03-24, Value at Max Date: 53.37446594238281, Date Recovered: 2000-04-17
Brand: LVMH MOET HENNE, Date Invest Max: 2007-10-09, Value at Max Date: 60.327392578125, Date Recovered: 2010-01-11
Brand: LVMH MOET HENNE, Date Invest Max: 2015-05-21, Value at Max Date: 138.8042755126953, Date Recovered: 2015-10-09
Brand: LVMH MOET HENNE, Date Invest Max: 2018-01-26, Value at Max Date: 222.11058044433594, Date Recovered: 2018-03-21
Brand: LVMH MOET HENNE, Date Invest Max: 2018-09-20, Value at Max Date: 264.1725769042969, Date Recovered: 2019-02-12
Brand: LVMH MOET HENNE, Date Invest Max: 2020-02-19, Value at Max Date: 383.30584716796875, Date Recovered: 2020-09-11
Brand: LVMH MOET HENNE, Date Invest Max: 2022-01-03, Value at Max Date: 683.0696411132812, Date Recovered: 2022-11-30
CIE FINANCI-REG
Brand: CIE FINANCI-REG, Date Invest Max: 2000-03-24, Value at Max Date: 19.36227798461914, Date Recovered: 2000-04-28
Brand: CIE FINANCI-REG, Date Invest Max: 2007-10-09, Value at Max Date: 36.344459533691406, Date Recovered: 2007-11-30
Brand: CIE FINANCI-REG, Date Invest Max: 2015-05-21, Value at Max Date: 66.76715850830078, Date Recovered: 2015-11-03
Brand: CIE FINANCI-REG, Date Invest Max: 2018-01-26, Value at Max Date: 73.30224609375, Date Recovered: 2018-04-10
Brand: CIE FINANCI-REG, Date Invest Max: 2018-09-20, Value at Max Date: 68.0526351928711, Date Recovered: 2019-06-18
Brand: CIE FINANCI-REG, Date Invest Max: 2020-02-19, Value at Max Date: 63.24668502807617, Date Recovered: 2020-11-09
Brand: CIE FINANCI-REG, Date Invest Max: 2022-01-03, Value at Max Date: 123.86824035644531, Date Recovered: 2023-01-09
L'OREAL
Brand: L'OREAL, Date Invest Max: 2000-03-24, Value at Max Date: 45.59917449951172, Date Recovered: 2000-04-17
Brand: L'OREAL, Date Invest Max: 2007-10-09, Value at Max Date: 67.68806457519531, Date Recovered: 2007-11-28
Brand: L'OREAL, Date Invest Max: 2015-05-21, Value at Max Date: 149.3936004638672, Date Recovered: 2016-06-30
Brand: L'OREAL, Date Invest Max: 2018-01-26, Value at Max Date: 161.8155975341797, Date Recovered: 2018-03-29
Brand: L'OREAL, Date Invest Max: 2018-09-20, Value at Max Date: 182.734375, Date Recovered: 2018-11-26
Brand: L'OREAL, Date Invest Max: 2020-02-19, Value at Max Date: 249.78892517089844, Date Recovered: 2020-06-17
Brand: L'OREAL, Date Invest Max: 2022-01-03, Value at Max Date: 400.5950927734375, Date Recovered: 2023-04-04
Brand: L'OREAL, Date Invest Max: 2025-02-19, Value at Max Date: 328.0063171386719, Date Recovered: 2025-03-14
ESSILORLUXOTTICA
Brand: ESSILORLUXOTTICA, Date Invest Max: 2000-03-24, Value at Max Date: 8.905261993408203, Date Recovered: 2000-04-19
Brand: ESSILORLUXOTTICA, Date Invest Max: 2007-10-09, Value at Max Date: 33.134769439697266, Date Recovered: 2010-01-19
Brand: ESSILORLUXOTTICA, Date Invest Max: 2015-05-21, Value at Max Date: 94.40774536132812, Date Recovered: 2015-10-22
Brand: ESSILORLUXOTTICA, Date Invest Max: 2018-01-26, Value at Max Date: 98.7978744506836, Date Recovered: 2018-04-20
Brand: ESSILORLUXOTTICA, Date Invest Max: 2018-09-20, Value at Max Date: 107.25318908691406, Date Recovered: 2019-07-31
Brand: ESSILORLUXOTTICA, Date Invest Max: 2020-02-19, Value at Max Date: 127.76786041259766, Date Recovered: 2021-03-11
Brand: ESSILORLUXOTTICA, Date Invest Max: 2022-01-03, Value at Max Date: 170.58103942871094, Date Recovered: 2023-04-21
Brand: ESSILORLUXOTTICA, Date Invest Max: 2025-02-19, Value at Max Date: 289.26934814453125, Date Recovered: 2025-10-17
HERMES INTERNATIONAL
Brand: HERMES INTERNATIONAL, Date Invest Max: 2000-03-24, Value at Max Date: 35.28520584106445, Date Recovered: 2000-04-17
Brand: HERMES INTERNATIONAL, Date Invest Max: 2007-10-09, Value at Max Date: 70.4875259399414, Date Recovered: 2007-11-30
Brand: HERMES INTERNATIONAL, Date Invest Max: 2015-05-21, Value at Max Date: 313.38128662109375, Date Recovered: 2015-10-12
Brand: HERMES INTERNATIONAL, Date Invest Max: 2018-01-26, Value at Max Date: 417.7007141113281, Date Recovered: 2018-02-23
Brand: HERMES INTERNATIONAL, Date Invest Max: 2018-09-20, Value at Max Date: 521.4566650390625, Date Recovered: 2019-02-20
Brand: HERMES INTERNATIONAL, Date Invest Max: 2020-02-19, Value at Max Date: 680.5975952148438, Date Recovered: 2020-05-26
Brand: HERMES INTERNATIONAL, Date Invest Max: 2022-01-03, Value at Max Date: 1489.537841796875, Date Recovered: 2022-11-30
RALPH LAUREN CORP
Brand: RALPH LAUREN CORP, Date Invest Max: 2000-03-24, Value at Max Date: 13.243657112121582, Date Recovered: 2000-08-08
Brand: RALPH LAUREN CORP, Date Invest Max: 2007-10-09, Value at Max Date: 57.222408294677734, Date Recovered: 2008-08-15
Brand: RALPH LAUREN CORP, Date Invest Max: 2015-05-21, Value at Max Date: 106.54823303222656, Date Recovered: 2015-11-05
Brand: RALPH LAUREN CORP, Date Invest Max: 2018-01-26, Value at Max Date: 102.01715850830078, Date Recovered: 2018-05-23
Brand: RALPH LAUREN CORP, Date Invest Max: 2018-09-20, Value at Max Date: 117.93838500976562, Date Recovered: 2021-04-28
Brand: RALPH LAUREN CORP, Date Invest Max: 2020-02-19, Value at Max Date: 107.48096466064453, Date Recovered: 2021-02-24
Brand: RALPH LAUREN CORP, Date Invest Max: 2022-01-03, Value at Max Date: 111.54576873779297, Date Recovered: 2022-02-23
Brand: RALPH LAUREN CORP, Date Invest Max: 2025-02-19, Value at Max Date: 283.58038330078125, Date Recovered: 2025-05-27
MONCLER SPA
Brand: MONCLER SPA, Date Invest Max: 2015-05-21, Value at Max Date: 15.418233871459961, Date Recovered: 2017-01-11
Brand: MONCLER SPA, Date Invest Max: 2018-01-26, Value at Max Date: 24.522396087646484, Date Recovered: 2018-02-14
Brand: MONCLER SPA, Date Invest Max: 2018-09-20, Value at Max Date: 34.51141357421875, Date Recovered: 2019-06-20
Brand: MONCLER SPA, Date Invest Max: 2020-02-19, Value at Max Date: 36.00932312011719, Date Recovered: 2020-11-09
Brand: MONCLER SPA, Date Invest Max: 2022-01-03, Value at Max Date: 59.81071853637695, Date Recovered: 2023-03-31
DECKERS OUTDOOR CORP
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2000-03-24, Value at Max Date: 0.2222220003604889, Date Recovered: 2000-04-27
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2007-10-09, Value at Max Date: 6.263332843780518, Date Recovered: 2007-11-27
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2015-05-21, Value at Max Date: 12.390000343322754, Date Recovered: 2017-11-29
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2018-01-26, Value at Max Date: 14.739999771118164, Date Recovered: 2018-02-09
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2018-09-20, Value at Max Date: 18.748332977294922, Date Recovered: 2018-11-26
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2020-02-19, Value at Max Date: 33.52000045776367, Date Recovered: 2020-06-02
Brand: DECKERS OUTDOOR CORP, Date Invest Max: 2022-01-03, Value at Max Date: 61.323333740234375, Date Recovered: 2022-10-25
FERRARI NV
Brand: FERRARI NV, Date Invest Max: 2018-01-26, Value at Max Date: 91.1502456665039, Date Recovered: 2018-02-09
Brand: FERRARI NV, Date Invest Max: 2018-09-20, Value at Max Date: 111.0877685546875, Date Recovered: 2019-03-19
Brand: FERRARI NV, Date Invest Max: 2020-02-19, Value at Max Date: 160.57089233398438, Date Recovered: 2020-08-17
Brand: FERRARI NV, Date Invest Max: 2022-01-03, Value at Max Date: 221.91929626464844, Date Recovered: 2023-01-26
KERING
Brand: KERING, Date Invest Max: 2000-03-24, Value at Max Date: 112.45426940917969, Date Recovered: 2000-04-25
Brand: KERING, Date Invest Max: 2007-10-09, Value at Max Date: 76.56354522705078, Date Recovered: 2010-10-29
Brand: KERING, Date Invest Max: 2015-05-21, Value at Max Date: 122.1487808227539, Date Recovered: 2015-10-23
Brand: KERING, Date Invest Max: 2018-01-26, Value at Max Date: 323.5047302246094, Date Recovered: 2018-04-06
Brand: KERING, Date Invest Max: 2018-09-20, Value at Max Date: 380.33514404296875, Date Recovered: 2019-02-05
Brand: KERING, Date Invest Max: 2020-02-19, Value at Max Date: 508.0857238769531, Date Recovered: 2020-09-15
Brand: KERING, Date Invest Max: 2025-02-19, Value at Max Date: 264.72760009765625, Date Recovered: 2025-09-17
TAPESTRY INC
Brand: TAPESTRY INC, Date Invest Max: 2007-10-09, Value at Max Date: 29.284467697143555, Date Recovered: 2010-10-08
Brand: TAPESTRY INC, Date Invest Max: 2015-05-21, Value at Max Date: 27.822113037109375, Date Recovered: 2016-01-29
Brand: TAPESTRY INC, Date Invest Max: 2018-01-26, Value at Max Date: 38.51942825317383, Date Recovered: 2018-02-09
Brand: TAPESTRY INC, Date Invest Max: 2018-09-20, Value at Max Date: 41.4722900390625, Date Recovered: 2021-04-27
Brand: TAPESTRY INC, Date Invest Max: 2020-02-19, Value at Max Date: 24.508554458618164, Date Recovered: 2020-11-17
Brand: TAPESTRY INC, Date Invest Max: 2022-01-03, Value at Max Date: 36.63233947753906, Date Recovered: 2022-02-28
Brand: TAPESTRY INC, Date Invest Max: 2025-02-19, Value at Max Date: 88.09913635253906, Date Recovered: 2025-07-03
KAO CORP
Brand: KAO CORP, Date Invest Max: 2000-03-24, Value at Max Date: 1905.293212890625, Date Recovered: 2000-04-17
Brand: KAO CORP, Date Invest Max: 2007-10-09, Value at Max Date: 2341.509033203125, Date Recovered: 2007-12-05
Brand: KAO CORP, Date Invest Max: 2015-05-21, Value at Max Date: 4793.134765625, Date Recovered: 2015-10-23
Brand: KAO CORP, Date Invest Max: 2018-01-26, Value at Max Date: 6573.5048828125, Date Recovered: 2018-02-09
Brand: KAO CORP, Date Invest Max: 2018-09-20, Value at Max Date: 7714.17529296875, Date Recovered: 2019-05-07
Brand: KAO CORP, Date Invest Max: 2020-02-19, Value at Max Date: 7513.2880859375, Date Recovered: 2020-03-25
Brand: KAO CORP, Date Invest Max: 2025-02-19, Value at Max Date: 6315.86962890625, Date Recovered: 2025-03-14
PANDORA A/S
Brand: PANDORA A/S, Date Invest Max: 2015-05-21, Value at Max Date: 523.3897094726562, Date Recovered: 2015-08-25
Brand: PANDORA A/S, Date Invest Max: 2018-01-26, Value at Max Date: 467.0856018066406, Date Recovered: 2018-02-09
Brand: PANDORA A/S, Date Invest Max: 2018-09-20, Value at Max Date: 334.156005859375, Date Recovered: 2020-06-23
Brand: PANDORA A/S, Date Invest Max: 2020-02-19, Value at Max Date: 290.0549621582031, Date Recovered: 2020-05-27
Brand: PANDORA A/S, Date Invest Max: 2022-01-03, Value at Max Date: 743.027587890625, Date Recovered: 2023-10-05
ESTEE LAUDER
Brand: ESTEE LAUDER, Date Invest Max: 2000-03-24, Value at Max Date: 18.06915283203125, Date Recovered: 2000-05-18
Brand: ESTEE LAUDER, Date Invest Max: 2007-10-09, Value at Max Date: 17.155719757080078, Date Recovered: 2007-11-28
Brand: ESTEE LAUDER, Date Invest Max: 2015-05-21, Value at Max Date: 78.20159149169922, Date Recovered: 2015-12-16
Brand: ESTEE LAUDER, Date Invest Max: 2018-01-26, Value at Max Date: 125.12159729003906, Date Recovered: 2018-02-14
Brand: ESTEE LAUDER, Date Invest Max: 2018-09-20, Value at Max Date: 130.58316040039062, Date Recovered: 2018-11-30
Brand: ESTEE LAUDER, Date Invest Max: 2020-02-19, Value at Max Date: 197.7345733642578, Date Recovered: 2020-08-13
Brand: ESTEE LAUDER, Date Invest Max: 2025-02-19, Value at Max Date: 70.42562103271484, Date Recovered: 2025-06-16
SHISEIDO CO LTD
Brand: SHISEIDO CO LTD, Date Invest Max: 2000-03-24, Value at Max Date: 903.4349365234375, Date Recovered: 2000-04-17
Brand: SHISEIDO CO LTD, Date Invest Max: 2007-10-09, Value at Max Date: 1917.8603515625, Date Recovered: 2007-11-27
Brand: SHISEIDO CO LTD, Date Invest Max: 2015-05-21, Value at Max Date: 2288.796630859375, Date Recovered: 2015-08-26
Brand: SHISEIDO CO LTD, Date Invest Max: 2018-01-26, Value at Max Date: 5455.7529296875, Date Recovered: 2018-02-09
Brand: SHISEIDO CO LTD, Date Invest Max: 2018-09-20, Value at Max Date: 7496.81640625, Date Recovered: 2019-04-11
Brand: SHISEIDO CO LTD, Date Invest Max: 2020-02-19, Value at Max Date: 6630.07080078125, Date Recovered: 2020-06-08
Brand: SHISEIDO CO LTD, Date Invest Max: 2025-02-19, Value at Max Date: 2647.75, Date Recovered: 2025-03-14
BURBERRY GROUP PLC
Brand: BURBERRY GROUP PLC, Date Invest Max: 2007-10-09, Value at Max Date: 662.2262573242188, Date Recovered: 2010-02-04
Brand: BURBERRY GROUP PLC, Date Invest Max: 2015-05-21, Value at Max Date: 1695.6737060546875, Date Recovered: 2017-02-28
Brand: BURBERRY GROUP PLC, Date Invest Max: 2018-01-26, Value at Max Date: 1608.65478515625, Date Recovered: 2018-03-02
Brand: BURBERRY GROUP PLC, Date Invest Max: 2018-09-20, Value at Max Date: 2004.73779296875, Date Recovered: 2019-04-18
Brand: BURBERRY GROUP PLC, Date Invest Max: 2020-02-19, Value at Max Date: 2010.3170166015625, Date Recovered: 2021-03-12
Brand: BURBERRY GROUP PLC, Date Invest Max: 2025-02-19, Value at Max Date: 1111.0, Date Recovered: 2025-06-12
VAIL RESORTS INC
Brand: VAIL RESORTS INC, Date Invest Max: 2000-03-24, Value at Max Date: 12.984588623046875, Date Recovered: 2000-08-14
Brand: VAIL RESORTS INC, Date Invest Max: 2007-10-09, Value at Max Date: 45.111183166503906, Date Recovered: 2013-03-08
Brand: VAIL RESORTS INC, Date Invest Max: 2015-05-21, Value at Max Date: 78.7852783203125, Date Recovered: 2015-08-26
Brand: VAIL RESORTS INC, Date Invest Max: 2018-01-26, Value at Max Date: 182.1646270751953, Date Recovered: 2018-03-20
Brand: VAIL RESORTS INC, Date Invest Max: 2018-09-20, Value at Max Date: 230.49514770507812, Date Recovered: 2020-11-13
Brand: VAIL RESORTS INC, Date Invest Max: 2020-02-19, Value at Max Date: 205.75389099121094, Date Recovered: 2020-10-12
Brand: VAIL RESORTS INC, Date Invest Max: 2025-02-19, Value at Max Date: 153.54307556152344, Date Recovered: 2025-03-17
VF CORP
Brand: VF CORP, Date Invest Max: 2000-03-24, Value at Max Date: 2.9551236629486084, Date Recovered: 2000-04-17
Brand: VF CORP, Date Invest Max: 2007-10-09, Value at Max Date: 11.86324691772461, Date Recovered: 2008-09-03
Brand: VF CORP, Date Invest Max: 2015-05-21, Value at Max Date: 49.52885818481445, Date Recovered: 2015-08-26
Brand: VF CORP, Date Invest Max: 2018-01-26, Value at Max Date: 60.7242431640625, Date Recovered: 2018-02-13
Brand: VF CORP, Date Invest Max: 2018-09-20, Value at Max Date: 69.54402923583984, Date Recovered: 2019-04-15
Brand: VF CORP, Date Invest Max: 2020-02-19, Value at Max Date: 69.00543975830078, Date Recovered: 2020-11-16
BATH & BODY WORKS INC
Brand: BATH & BODY WORKS INC, Date Invest Max: 2000-03-24, Value at Max Date: 5.147465705871582, Date Recovered: 2000-04-17
Brand: BATH & BODY WORKS INC, Date Invest Max: 2007-10-09, Value at Max Date: 7.111536502838135, Date Recovered: 2008-09-02
Brand: BATH & BODY WORKS INC, Date Invest Max: 2015-05-21, Value at Max Date: 50.22616958618164, Date Recovered: 2015-09-03
Brand: BATH & BODY WORKS INC, Date Invest Max: 2018-01-26, Value at Max Date: 33.612091064453125, Date Recovered: 2021-01-07
Brand: BATH & BODY WORKS INC, Date Invest Max: 2018-09-20, Value at Max Date: 20.158275604248047, Date Recovered: 2018-11-26
Brand: BATH & BODY WORKS INC, Date Invest Max: 2020-02-19, Value at Max Date: 17.970752716064453, Date Recovered: 2020-03-04
BRUNELLO CUCINELLI SPA
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2015-05-21, Value at Max Date: 15.872064590454102, Date Recovered: 2015-10-09
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2018-01-26, Value at Max Date: 25.964345932006836, Date Recovered: 2018-04-10
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2018-09-20, Value at Max Date: 32.598594665527344, Date Recovered: 2019-02-13
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2020-02-19, Value at Max Date: 33.692832946777344, Date Recovered: 2020-12-03
Brand: BRUNELLO CUCINELLI SPA, Date Invest Max: 2022-01-03, Value at Max Date: 60.96569061279297, Date Recovered: 2022-11-14
SIGNET JEWELERS LTD
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2000-03-24, Value at Max Date: 10.95400333404541, Date Recovered: 2000-05-01
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2007-10-09, Value at Max Date: 27.819034576416016, Date Recovered: 2010-10-26
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2015-05-21, Value at Max Date: 111.36295318603516, Date Recovered: 2015-08-27
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2018-01-26, Value at Max Date: 46.57952880859375, Date Recovered: 2018-06-08
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2018-09-20, Value at Max Date: 57.80333709716797, Date Recovered: 2021-03-18
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2020-02-19, Value at Max Date: 26.06330680847168, Date Recovered: 2020-11-17
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2022-01-03, Value at Max Date: 88.52413940429688, Date Recovered: 2023-12-06
Brand: SIGNET JEWELERS LTD, Date Invest Max: 2025-02-19, Value at Max Date: 55.20652770996094, Date Recovered: 2025-03-19
PRADA S.P.A.
Brand: PRADA S.P.A., Date Invest Max: 2015-05-21, Value at Max Date: 40.36262893676758, Date Recovered: 2018-05-08
Brand: PRADA S.P.A., Date Invest Max: 2018-01-26, Value at Max Date: 29.697925567626953, Date Recovered: 2018-02-22
Brand: PRADA S.P.A., Date Invest Max: 2018-09-20, Value at Max Date: 31.58905792236328, Date Recovered: 2020-11-10
Brand: PRADA S.P.A., Date Invest Max: 2020-02-19, Value at Max Date: 25.96253776550293, Date Recovered: 2020-05-29
Brand: PRADA S.P.A., Date Invest Max: 2022-01-03, Value at Max Date: 44.697818756103516, Date Recovered: 2022-02-28
SAMSONITE GROUP SA
Brand: SAMSONITE GROUP SA, Date Invest Max: 2015-05-21, Value at Max Date: 23.061906814575195, Date Recovered: 2017-03-17
Brand: SAMSONITE GROUP SA, Date Invest Max: 2018-01-26, Value at Max Date: 28.95203971862793, Date Recovered: 2018-02-15
Brand: SAMSONITE GROUP SA, Date Invest Max: 2018-09-20, Value at Max Date: 25.180559158325195, Date Recovered: 2024-03-01
Brand: SAMSONITE GROUP SA, Date Invest Max: 2020-02-19, Value at Max Date: 14.51308822631836, Date Recovered: 2021-03-17
Brand: SAMSONITE GROUP SA, Date Invest Max: 2022-01-03, Value at Max Date: 14.203911781311035, Date Recovered: 2022-02-23

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-04-17,2000-04-28,2000-04-17,2000-04-19,2000-04-17,2000-08-08,NaN,2000-04-27,NaN,2000-04-25,...,2000-05-18,2000-04-17,NaN,2000-08-14,2000-04-17,2000-04-17,NaN,2000-05-01,NaN,NaN
1,2010-01-11,2007-11-30,2007-11-28,2010-01-19,2007-11-30,2008-08-15,NaN,2007-11-27,NaN,2010-10-29,...,2007-11-28,2007-11-27,2010-02-04,2013-03-08,2008-09-03,2008-09-02,NaN,2010-10-26,NaN,NaN
2,2015-10-09,2015-11-03,2016-06-30,2015-10-22,2015-10-12,2015-11-05,2017-01-11,2017-11-29,NaN,2015-10-23,...,2015-12-16,2015-08-26,2017-02-28,2015-08-26,2015-08-26,2015-09-03,2015-10-09,2015-08-27,2018-05-08,2017-03-17
3,2018-03-21,2018-04-10,2018-03-29,2018-04-20,2018-02-23,2018-05-23,2018-02-14,2018-02-09,2018-02-09,2018-04-06,...,2018-02-14,2018-02-09,2018-03-02,2018-03-20,2018-02-13,2021-01-07,2018-04-10,2018-06-08,2018-02-22,2018-02-15
4,2019-02-12,2019-06-18,2018-11-26,2019-07-31,2019-02-20,2021-04-28,2019-06-20,2018-11-26,2019-03-19,2019-02-05,...,2018-11-30,2019-04-11,2019-04-18,2020-11-13,2019-04-15,2018-11-26,2019-02-13,2021-03-18,2020-11-10,2024-03-01
5,2020-09-11,2020-11-09,2020-06-17,2021-03-11,2020-05-26,2021-02-24,2020-11-09,2020-06-02,2020-08-17,2020-09-15,...,2020-08-13,2020-06-08,2021-03-12,2020-10-12,2020-11-16,2020-03-04,2020-12-03,2020-11-17,2020-05-29,2021-03-17
6,2022-11-30,2023-01-09,2023-04-04,2023-04-21,2022-11-30,2022-02-23,2023-03-31,2022-10-25,2023-01-26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-14,2023-12-06,2022-02-28,2022-02-23
7,NaN,NaN,2025-03-14,2025-10-17,NaN,2025-05-27,NaN,NaN,NaN,2025-09-17,...,2025-06-16,2025-03-14,2025-06-12,2025-03-17,NaN,NaN,NaN,2025-03-19,NaN,NaN

In [65]:
# we add a column for the recovery dates of the S&P500
df_recovery_concat=pd.concat([setback_sp_500_full[["Max Date","Start Setback Date","Recovered Date"]],luxury_recovery_df],axis=1)
df_recovery_concat

,Max Date,Start Setback Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-03-24,2000-04-14,2007-05-30,2000-04-17,2000-04-28,2000-04-17,2000-04-19,2000-04-17,2000-08-08,NaN,...,2000-05-18,2000-04-17,NaN,2000-08-14,2000-04-17,2000-04-17,NaN,2000-05-01,NaN,NaN
1,2007-10-09,2007-11-26,2013-03-28,2010-01-11,2007-11-30,2007-11-28,2010-01-19,2007-11-30,2008-08-15,NaN,...,2007-11-28,2007-11-27,2010-02-04,2013-03-08,2008-09-03,2008-09-02,NaN,2010-10-26,NaN,NaN
2,2015-05-21,2015-08-24,2016-07-11,2015-10-09,2015-11-03,2016-06-30,2015-10-22,2015-10-12,2015-11-05,2017-01-11,...,2015-12-16,2015-08-26,2017-02-28,2015-08-26,2015-08-26,2015-09-03,2015-10-09,2015-08-27,2018-05-08,2017-03-17
3,2018-01-26,2018-02-08,2018-08-24,2018-03-21,2018-04-10,2018-03-29,2018-04-20,2018-02-23,2018-05-23,2018-02-14,...,2018-02-14,2018-02-09,2018-03-02,2018-03-20,2018-02-13,2021-01-07,2018-04-10,2018-06-08,2018-02-22,2018-02-15
4,2018-09-20,2018-11-23,2019-04-23,2019-02-12,2019-06-18,2018-11-26,2019-07-31,2019-02-20,2021-04-28,2019-06-20,...,2018-11-30,2019-04-11,2019-04-18,2020-11-13,2019-04-15,2018-11-26,2019-02-13,2021-03-18,2020-11-10,2024-03-01
5,2020-02-19,2020-02-27,2020-08-18,2020-09-11,2020-11-09,2020-06-17,2021-03-11,2020-05-26,2021-02-24,2020-11-09,...,2020-08-13,2020-06-08,2021-03-12,2020-10-12,2020-11-16,2020-03-04,2020-12-03,2020-11-17,2020-05-29,2021-03-17
6,2022-01-03,2022-02-22,2024-01-19,2022-11-30,2023-01-09,2023-04-04,2023-04-21,2022-11-30,2022-02-23,2023-03-31,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-14,2023-12-06,2022-02-28,2022-02-23
7,2025-02-19,2025-03-13,2025-06-27,NaN,NaN,2025-03-14,2025-10-17,NaN,2025-05-27,NaN,...,2025-06-16,2025-03-14,2025-06-12,2025-03-17,NaN,NaN,NaN,2025-03-19,NaN,NaN

In [102]:
# Now we calculate the number of days between the maximum date and the recovery date for the S&P500 and each brand
df_days_recovery=pd.DataFrame()
df_days_recovery["Max Date"]=df_recovery_concat["Max Date"]
df_days_recovery["Start Setback Date"]=df_recovery_concat["Start Setback Date"]

#for each column in the recovery dataframe
for col in df_recovery_concat.columns:
    # if the column is not the Max Date column
    if col not in ['Max Date',"Start Setback Date"]:
        #we calculate the difference in days between the recovery date of said column and the max date
        df_days_recovery[col] =(pd.to_datetime(df_recovery_concat[col]) - pd.to_datetime(df_recovery_concat['Max Date'])).dt.days

In [103]:
df_days_recovery

,Max Date,Start Setback Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-03-24,2000-04-14,2623,24.0,35.0,24,26,24.0,137,NaN,...,55.0,24.0,NaN,143.0,24.0,24.0,NaN,38,NaN,NaN
1,2007-10-09,2007-11-26,1997,825.0,52.0,50,833,52.0,311,NaN,...,50.0,49.0,849.0,1977.0,330.0,329.0,NaN,1113,NaN,NaN
2,2015-05-21,2015-08-24,417,141.0,166.0,406,154,144.0,168,601.0,...,209.0,97.0,649.0,97.0,97.0,105.0,141.0,98,1083.0,666.0
3,2018-01-26,2018-02-08,210,54.0,74.0,62,84,28.0,117,19.0,...,19.0,14.0,35.0,53.0,18.0,1077.0,74.0,133,27.0,20.0
4,2018-09-20,2018-11-23,215,145.0,271.0,67,314,153.0,951,273.0,...,71.0,203.0,210.0,785.0,207.0,67.0,146.0,910,782.0,1989.0
5,2020-02-19,2020-02-27,181,205.0,264.0,119,386,97.0,371,264.0,...,176.0,110.0,387.0,236.0,271.0,14.0,288.0,272,100.0,392.0
6,2022-01-03,2022-02-22,746,331.0,371.0,456,473,331.0,51,452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,315.0,702,56.0,51.0
7,2025-02-19,2025-03-13,128,NaN,NaN,23,240,NaN,97,NaN,...,117.0,23.0,113.0,26.0,NaN,NaN,NaN,28,NaN,NaN

In [104]:
#and then we calculate mean and median recovery days across all brands
df_days_recovery["mean_luxury"]=df_days_recovery[df_days_recovery.columns[3:]].mean(axis=1)
df_days_recovery["median_luxury"]=df_days_recovery[df_days_recovery.columns[3:-1]].median(axis=1)
df_days_recovery

,Max Date,Start Setback Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,...,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,mean_luxury,median_luxury
0,2000-03-24,2000-04-14,2623,24.0,35.0,24,26,24.0,137,NaN,...,NaN,143.0,24.0,24.0,NaN,38,NaN,NaN,44.533333,26.0
1,2007-10-09,2007-11-26,1997,825.0,52.0,50,833,52.0,311,NaN,...,849.0,1977.0,330.0,329.0,NaN,1113,NaN,NaN,537.470588,329.0
2,2015-05-21,2015-08-24,417,141.0,166.0,406,154,144.0,168,601.0,...,649.0,97.0,97.0,105.0,141.0,98,1083.0,666.0,300.181818,155.0
3,2018-01-26,2018-02-08,210,54.0,74.0,62,84,28.0,117,19.0,...,35.0,53.0,18.0,1077.0,74.0,133,27.0,20.0,89.043478,28.0
4,2018-09-20,2018-11-23,215,145.0,271.0,67,314,153.0,951,273.0,...,210.0,785.0,207.0,67.0,146.0,910,782.0,1989.0,423.913043,210.0
5,2020-02-19,2020-02-27,181,205.0,264.0,119,386,97.0,371,264.0,...,387.0,236.0,271.0,14.0,288.0,272,100.0,392.0,210.869565,209.0
6,2022-01-03,2022-02-22,746,331.0,371.0,456,473,331.0,51,452.0,...,NaN,NaN,NaN,NaN,315.0,702,56.0,51.0,331.200000,331.0
7,2025-02-19,2025-03-13,128,NaN,NaN,23,240,NaN,97,NaN,...,113.0,26.0,NaN,NaN,NaN,28,NaN,NaN,94.000000,97.0

In [105]:
df_days_recovery['nan_count'] = df_days_recovery[df_days_recovery.columns[3:-1]].isna().sum(axis=1)
df_days_recovery

,Max Date,Start Setback Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,...,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,mean_luxury,median_luxury,nan_count
0,2000-03-24,2000-04-14,2623,24.0,35.0,24,26,24.0,137,NaN,...,143.0,24.0,24.0,NaN,38,NaN,NaN,44.533333,26.0,8
1,2007-10-09,2007-11-26,1997,825.0,52.0,50,833,52.0,311,NaN,...,1977.0,330.0,329.0,NaN,1113,NaN,NaN,537.470588,329.0,6
2,2015-05-21,2015-08-24,417,141.0,166.0,406,154,144.0,168,601.0,...,97.0,97.0,105.0,141.0,98,1083.0,666.0,300.181818,155.0,1
3,2018-01-26,2018-02-08,210,54.0,74.0,62,84,28.0,117,19.0,...,53.0,18.0,1077.0,74.0,133,27.0,20.0,89.043478,28.0,0
4,2018-09-20,2018-11-23,215,145.0,271.0,67,314,153.0,951,273.0,...,785.0,207.0,67.0,146.0,910,782.0,1989.0,423.913043,210.0,0
5,2020-02-19,2020-02-27,181,205.0,264.0,119,386,97.0,371,264.0,...,236.0,271.0,14.0,288.0,272,100.0,392.0,210.869565,209.0,0
6,2022-01-03,2022-02-22,746,331.0,371.0,456,473,331.0,51,452.0,...,NaN,NaN,NaN,315.0,702,56.0,51.0,331.200000,331.0,8
7,2025-02-19,2025-03-13,128,NaN,NaN,23,240,NaN,97,NaN,...,26.0,NaN,NaN,NaN,28,NaN,NaN,94.000000,97.0,12

In [106]:
df_days_recovery["Not Recovered"]= df_days_recovery['nan_count']*100/23

In [107]:
df_days_recovery[["Max Date","Start Setback Date","Recovered Date","mean_luxury","median_luxury","nan_count","Not Recovered"]].to_csv("../output/luxury_brands_recovery_times_means_medians.csv",index=False)
df_days_recovery.to_csv("../output/luxury_brands_recovery_times_all_brands.csv",index=False)

# Q2 Have these luxury brands served dividens consecutively over the years?

In [108]:
def getearnings(ticker="MC.PA"):# Get yearly earnings
    ticker = yf.Ticker(ticker)
    quarterly_earnings = ticker.quarterly_earnings

    print(quarterly_earnings)

In [109]:
getearnings("MC.PA")

None

/Users/halukamaier-borst/Documents/CodeRelated/HBDataviz/2025/27_LuxusKurse/.venv/lib/python3.12/site-packages/yfinance/scrapers/fundamentals.py:36: DeprecationWarning: 'Ticker.earnings' is deprecated as not available via API. Look for "Net Income" in Ticker.income_stmt.
  warnings.warn("'Ticker.earnings' is deprecated as not available via API. Look for \"Net Income\" in Ticker.income_stmt.", DeprecationWarning)

In [110]:
def get_dividend_data(ticker, start_date, end_date=None):
    try:
        #we get the dividend data
        stock = yf.Ticker(ticker)
        dividends = stock.dividends
        #and cut it down to the requested date range
        if start_date:
            dividends = dividends[dividends.index >= start_date]
        if end_date:
            dividends = dividends[dividends.index <= end_date]
        
        return dividends
    except:
        return None

# Example usage
start_date = "2000-01-01"
end_date = "2024-12-31"

dividend_data = get_dividend_data("MC.PA", start_date, end_date)
print(dividend_data)

Date
2000-06-05 00:00:00+02:00    0.480000
2000-12-01 00:00:00+01:00    0.220000
2001-06-05 00:00:00+02:00    0.530000
2001-12-04 00:00:00+01:00    0.220000
2002-06-04 00:00:00+02:00    0.530000
2002-12-03 00:00:00+01:00    0.220000
2003-05-28 00:00:00+02:00    0.580000
2003-12-04 00:00:00+01:00    0.220000
2004-05-19 00:00:00+02:00    0.630000
2004-12-02 00:00:00+01:00    0.375000
2005-05-18 00:00:00+02:00    0.700000
2005-12-02 00:00:00+01:00    0.250000
2006-05-18 00:00:00+02:00    0.900000
2006-12-01 00:00:00+01:00    0.300000
2007-05-15 00:00:00+02:00    1.100000
2007-11-28 00:00:00+01:00    0.350000
2008-05-20 00:00:00+02:00    1.250000
2008-11-05 00:00:00+01:00    0.275936
2008-11-27 00:00:00+01:00    0.350000
2009-05-20 00:00:00+02:00    1.250000
2009-11-27 00:00:00+01:00    0.350000
2010-05-20 00:00:00+02:00    1.300000
2010-11-29 00:00:00+01:00    0.700000
2011-05-20 00:00:00+02:00    1.400000
2011-11-29 00:00:00+01:00    0.800000
2012-04-20 00:00:00+02:00    1.800000
2012-11-29 00:00:00+01:00    1.100000
2013-04-22 00:00:00+02:00    1.800000
2013-11-28 00:00:00+01:00    1.200000
2014-04-14 00:00:00+02:00    1.900000
2014-12-02 00:00:00+01:00    1.250000
2015-04-21 00:00:00+02:00    1.950000
2015-12-01 00:00:00+01:00    1.350000
2016-04-19 00:00:00+02:00    2.200000
2016-11-29 00:00:00+01:00    1.400000
2017-04-19 00:00:00+02:00    2.600000
2017-12-05 00:00:00+01:00    1.600000
2018-04-17 00:00:00+02:00    3.400000
2018-12-04 00:00:00+01:00    2.000000
2019-04-25 00:00:00+02:00    4.000000
2019-12-06 00:00:00+01:00    2.200000
2020-07-07 00:00:00+02:00    2.600000
2020-12-01 00:00:00+01:00    2.000000
2021-04-20 00:00:00+02:00    4.000000
2021-11-30 00:00:00+01:00    3.000000
2022-04-26 00:00:00+02:00    7.000000
2022-12-01 00:00:00+01:00    5.000000
2023-04-25 00:00:00+02:00    7.000000
2023-12-04 00:00:00+01:00    5.500000
2024-04-23 00:00:00+02:00    7.500000
2024-12-02 00:00:00+01:00    5.500000
Name: Dividends, dtype: float64

In [111]:
luxury_brands

,Rank,Company Name,% of Net Assets,Ticker,Identifier,Shares Held,Market Value($),ticker
0,1,LVMH MOET HENNE,9.96,MC,FR0000121014,458,"319,707",MC.PA
1,2,CIE FINANCI-REG,8.92,CFR,CH0210483332,"1,486","286,121",CFR.SW
2,3,L'OREAL,7.82,OR,FR0000120321,612,"251,034",OR.PA
3,4,ESSILORLUXOTTICA,6.90,EL,FR0000121667,620,"221,275",EL.PA
4,5,HERMES INTERNATIONAL,5.94,RMS,FR0000052292,80,"190,529",RMS.PA
5,6,RALPH LAUREN CORP,4.94,RL,US7512121010,488,"158,444",RL
6,7,MONCLER SPA,4.82,MONC,IT0004965148,"2,420","154,758",MONC.MI
7,8,DECKERS OUTDOOR CORP,4.63,DECK,US2435371073,"1,816","148,494",DECK
8,9,FERRARI NV,4.54,RACE,NL0011585146,358,"145,790",RACE.MI
9,10,KERING,4.50,KER,FR0000121485,416,"144,376",PPX.F
10,11,TAPESTRY INC,4.39,TPR,US8760301072,"1,359","140,901",TPR
11,12,KAO CORP,4.38,4452,JP3205800000,"3,300","140,619",4452.T
12,13,PANDORA A/S,4.30,PNDORA,DK0060252690,"1,156","137,961",PNDORA.CO
13,14,ESTEE LAUDER,4.26,EL,US5184391044,"1,556","136,539",EL
15,16,SHISEIDO CO LTD,3.03,4911,JP3351600006,"5,800","97,367",4911.T
16,17,BURBERRY GROUP PLC,2.85,BRBY,GB0031743007,"6,065","91,504",BRBY.L
17,18,VAIL RESORTS INC,2.68,MTN,US91879Q1094,583,"86,010",MTN
18,19,VF CORP,2.59,VFC,US9182041080,"5,667","82,965",VFC
19,20,BATH & BODY WORKS INC,2.44,BBWI,US0708301041,"3,416","78,261",BBWI
20,21,BRUNELLO CUCINELLI SPA,1.75,BC,IT0004764699,559,"56,047",BC.MI
21,22,SIGNET JEWELERS LTD,1.67,SIG,BMG812761002,535,"53,666",SIG
22,23,PRADA S.P.A.,1.32,1913,IT0003874101,"7,400","42,246",1913.HK
23,24,SAMSONITE GROUP SA,1.23,1910,LU0633102719,"20,100","39,542",1910.HK

In [112]:
len(luxury_brands)

23

In [113]:
# Get data for each brand
for index, row in luxury_brands.iterrows():
    ticker = row['Ticker']
    print(f"Getting data for",row["Company Name"])
    data = get_dividend_data(ticker, start_date, end_date)
    if data is None or len(data)==0:
        print("No data")
    # If there is data, we write the dividends into a column named after the company
    if data is not None and len(data)>0:
        data_df=pd.DataFrame({"Date":data.index,row["Company Name"]:data.values})
        # we convert the Date column to date format
        data_df["Date"] = pd.to_datetime(data_df["Date"]).dt.date
        red_data=data_df
        #first time in the loop, we create the base dataframe
        if index==0:
            base_df=red_data
        else:
            #after that we merge the new data into the base dataframe
            base_df=pd.merge(base_df,red_data,on="Date",how="outer")
base_df

Getting data for LVMH MOET HENNE
Getting data for CIE FINANCI-REG
Getting data for L'OREAL
Getting data for ESSILORLUXOTTICA
Getting data for HERMES INTERNATIONAL
No data
Getting data for RALPH LAUREN CORP

$MONC: possibly delisted; no timezone found

Getting data for MONCLER SPA
No data
Getting data for DECKERS OUTDOOR CORP
No data
Getting data for FERRARI NV
Getting data for KERING
No data
Getting data for TAPESTRY INC

$4452: possibly delisted; no timezone found
$PNDORA: possibly delisted; no timezone found

Getting data for KAO CORP
No data
Getting data for PANDORA A/S
No data
Getting data for ESTEE LAUDER

$4911: possibly delisted; no timezone found
$BRBY: possibly delisted; no timezone found

Getting data for SHISEIDO CO LTD
No data
Getting data for BURBERRY GROUP PLC
No data
Getting data for VAIL RESORTS INC
Getting data for VF CORP
Getting data for BATH & BODY WORKS INC
Getting data for BRUNELLO CUCINELLI SPA
Getting data for SIGNET JEWELERS LTD

$1913: possibly delisted; no timezone found
$1910: possibly delisted; no timezone found

Getting data for PRADA S.P.A.
No data
Getting data for SAMSONITE GROUP SA
No data

,Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,RALPH LAUREN CORP,FERRARI NV,TAPESTRY INC,ESTEE LAUDER,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD
0,2000-02-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.125,NaN
1,2000-02-28,NaN,0.175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060631,NaN,NaN
3,2000-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051789,NaN,NaN,NaN
4,2000-03-14,NaN,NaN,NaN,0.025,NaN,NaN,NaN,0.025,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,2024-12-06,NaN,NaN,NaN,NaN,NaN,NaN,0.35,NaN,NaN,NaN,NaN,NaN,NaN
646,2024-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.090000,NaN,NaN,NaN
647,2024-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.22,NaN,NaN,NaN,NaN
648,2024-12-27,NaN,NaN,NaN,NaN,0.825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,2024-12-31,NaN,NaN,0.045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
base_df["year"]=pd.to_datetime(base_df["Date"]).dt.year
base_df

,Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,RALPH LAUREN CORP,FERRARI NV,TAPESTRY INC,ESTEE LAUDER,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,year
0,2000-02-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.125,NaN,2000
1,2000-02-28,NaN,0.175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
2,2000-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060631,NaN,NaN,2000
3,2000-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051789,NaN,NaN,NaN,2000
4,2000-03-14,NaN,NaN,NaN,0.025,NaN,NaN,NaN,0.025,NaN,NaN,NaN,NaN,NaN,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,2024-12-06,NaN,NaN,NaN,NaN,NaN,NaN,0.35,NaN,NaN,NaN,NaN,NaN,NaN,2024
646,2024-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.090000,NaN,NaN,NaN,2024
647,2024-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.22,NaN,NaN,NaN,NaN,2024
648,2024-12-27,NaN,NaN,NaN,NaN,0.825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024
649,2024-12-31,NaN,NaN,0.045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [115]:
retrieved_dividends=base_df.columns.tolist()
retrieved_dividends

['Date',
 'LVMH MOET HENNE',
 'CIE FINANCI-REG',
 "L'OREAL",
 'ESSILORLUXOTTICA',
 'RALPH LAUREN CORP',
 'FERRARI NV',
 'TAPESTRY INC',
 'ESTEE LAUDER',
 'VAIL RESORTS INC',
 'VF CORP',
 'BATH & BODY WORKS INC',
 'BRUNELLO CUCINELLI SPA',
 'SIGNET JEWELERS LTD',
 'year']

In [116]:
retrieved_dividends

['Date',
 'LVMH MOET HENNE',
 'CIE FINANCI-REG',
 "L'OREAL",
 'ESSILORLUXOTTICA',
 'RALPH LAUREN CORP',
 'FERRARI NV',
 'TAPESTRY INC',
 'ESTEE LAUDER',
 'VAIL RESORTS INC',
 'VF CORP',
 'BATH & BODY WORKS INC',
 'BRUNELLO CUCINELLI SPA',
 'SIGNET JEWELERS LTD',
 'year']

In [117]:
luxury_brands_titles=luxury_brands["Company Name"].tolist()

In [118]:
[i for i in luxury_brands_titles if i not in retrieved_dividends]

['HERMES INTERNATIONAL',
 'MONCLER SPA',
 'DECKERS OUTDOOR CORP',
 'KERING',
 'KAO CORP',
 'PANDORA A/S',
 'SHISEIDO CO LTD',
 'BURBERRY GROUP PLC',
 'PRADA S.P.A.',
 'SAMSONITE GROUP SA']

In [119]:
{'HERMES INTERNATIONAL':True,
 'MONCLER SPA':True,
 'DECKERS OUTDOOR CORP':False,
 'KERING':True,
 'KAO CORP':True,
 'PANDORA A/S':True,
 'SHISEIDO CO LTD':True,
 'BURBERRY GROUP PLC':True,
 'PRADA S.P.A.':True,
 'SAMSONITE GROUP SA':True}

{'HERMES INTERNATIONAL': True,
 'MONCLER SPA': True,
 'DECKERS OUTDOOR CORP': False,
 'KERING': True,
 'KAO CORP': True,
 'PANDORA A/S': True,
 'SHISEIDO CO LTD': True,
 'BURBERRY GROUP PLC': True,
 'PRADA S.P.A.': True,
 'SAMSONITE GROUP SA': True}

In [120]:
def check_consecutive_increase(lst):
    skips_list=[]
    for i in range(len(lst) - 1):
        if lst[i+1] != lst[i] + 1:
            skipped_year= lst[i] + 1
            skips_list.append(skipped_year)
    return skips_list

In [121]:
results_dict={}
for col in base_df.columns[1:]:
    dividends_df=base_df[["Date",col]]
    dividends_df=dividends_df.dropna(subset=[col])
    dividends_df["Date_formatted"] = pd.to_datetime(dividends_df["Date"])
    years_of_dividends=dividends_df["Date_formatted"].dt.year.tolist()
    years_of_dividends=set(years_of_dividends)
    years_of_dividends=sorted(list(years_of_dividends))
    results_dict[col] = check_consecutive_increase(years_of_dividends)
pd.DataFrame.from_dict(results_dict,orient="index",columns=["Skipped Dividends"])

                        Skipped Dividends
LVMH MOET HENNE                       NaN
CIE FINANCI-REG                       NaN
L'OREAL                               NaN
ESSILORLUXOTTICA                      NaN
RALPH LAUREN CORP                     NaN
FERRARI NV                            NaN
TAPESTRY INC                          NaN
ESTEE LAUDER                          NaN
VAIL RESORTS INC                      NaN
VF CORP                               NaN
BATH & BODY WORKS INC                 NaN
BRUNELLO CUCINELLI SPA                NaN
SIGNET JEWELERS LTD                2009.0
year                                  NaN

# Q3 How long does it take to have a 11 percent gain, if I invest at the point of realisation of a setback?

Now I am calculating how fast stocks recovered for luxurious brands, 
if I invested at the  moment when the S&P500 had fallen by ten percent
and waited until this brand had risen by 11.1 percent

In [122]:
setback_sp_500_full

,Max Date,Value at Max,Start Setback Date,Value at Start Setback,End Setback Date,Value at End Setback,Recovered Date,Value At Recovered
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995,2007-05-30,1530.229980
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054,2013-03-28,1569.189941
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956,2016-07-11,2137.159912
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883,2018-08-24,2874.689941
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902,2019-04-23,2933.679932
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049,2020-08-18,3389.780029
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863,2024-01-19,4839.810059
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000,2025-06-27,6173.069824

In [123]:
recovery_value

1.1111111111111112

In [124]:
luxury_gain_dates = {}
for brand in luxury_brands["Company Name"].tolist():
    print(brand)
    brand_data=red_base_df[["Date",brand]]
    recovery_dates=[]
    for index, row in setback_sp_500_full.iterrows():
        date_of_max=(row["Max Date"])
        date_of_investment=(row["Start Setback Date"])
        #So we get the value at the date of investment
        #Which is when the S&P500 had its setback
        value_at_date_of_investment=brand_data[brand_data["Date"]>=date_of_investment][brand].values[0]
        
        #Then we search for all dates after the date of investment
        # where the brand's stock price is greater than or equal to
        # the value at the date of investment times the recovery value (11.1 percent gain)
        recovered_df_brand=brand_data[(brand_data["Date"]>date_of_investment)&(brand_data[brand]>=value_at_date_of_investment*recovery_value)]
        recovered_df_brand=recovered_df_brand.dropna(subset=[brand])
        #if there are no entries, we append NaN
        if len(recovered_df_brand)==0:
            date_recovered=np.nan
            recovery_dates.append(date_recovered)
            pass
        #else we take the first date where the brand recovered
        else:
            date_recovered=recovered_df_brand.iloc[0]["Date"]
            recovery_dates.append(date_recovered)
            print(f"Brand: {brand}, Value at Max Date: {value_brand_at_max_date}, Date Recovered: {date_recovered}")
    luxury_gain_dates[brand]=recovery_dates
luxury_gain_df=pd.DataFrame(luxury_gain_dates)
luxury_gain_df

LVMH MOET HENNE
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2000-08-02
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2010-03-03
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-16
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-05
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-05
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2020-07-13
Brand: LVMH MOET HENNE, Value at Max Date: 21.57818031311035, Date Recovered: 2022-11-30
CIE FINANCI-REG
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2000-07-12
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2010-11-04
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-16
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-30
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-13
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-09
Brand: CIE FINANCI-REG, Value at Max Date: 21.57818031311035, Date Recovered: 2023-01-12
L'OREAL
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-04
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2012-05-02
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-09
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-10
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2019-03-14
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-17
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2023-01-17
Brand: L'OREAL, Value at Max Date: 21.57818031311035, Date Recovered: 2025-05-05
ESSILORLUXOTTICA
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-02
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2010-02-17
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-22
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2018-05-17
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2019-07-31
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2021-02-16
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2022-11-30
Brand: ESSILORLUXOTTICA, Value at Max Date: 21.57818031311035, Date Recovered: 2025-10-17
HERMES INTERNATIONAL
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-27
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2008-05-08
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-08
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-27
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-20
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2020-05-26
Brand: HERMES INTERNATIONAL, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-01
RALPH LAUREN CORP
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2000-08-08
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2008-08-11
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-05
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-04
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-22
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2021-01-07
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2023-12-13
Brand: RALPH LAUREN CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2025-05-07
MONCLER SPA
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2016-12-08
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-08
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-01
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-09
Brand: MONCLER SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2023-03-02
DECKERS OUTDOOR CORP
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-25
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2007-12-03
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2016-08-15
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-05-18
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-12-03
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2020-05-27
Brand: DECKERS OUTDOOR CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-08
FERRARI NV
Brand: FERRARI NV, Value at Max Date: 21.57818031311035, Date Recovered: 2018-05-04
Brand: FERRARI NV, Value at Max Date: 21.57818031311035, Date Recovered: 2019-01-31
Brand: FERRARI NV, Value at Max Date: 21.57818031311035, Date Recovered: 2020-08-12
Brand: FERRARI NV, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-03
KERING
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-26
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2010-09-14
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-23
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-09
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2019-01-30
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2020-09-03
Brand: KERING, Value at Max Date: 21.57818031311035, Date Recovered: 2025-09-17
TAPESTRY INC
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2010-01-12
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-27
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-05
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2021-02-10
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-10
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2023-01-12
Brand: TAPESTRY INC, Value at Max Date: 21.57818031311035, Date Recovered: 2025-05-08
KAO CORP
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-21
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2013-03-14
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-30
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-06-18
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2019-05-07
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2020-03-27
Brand: KAO CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2022-07-07
PANDORA A/S
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-16
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-05
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-23
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2020-05-28
Brand: PANDORA A/S, Value at Max Date: 21.57818031311035, Date Recovered: 2023-10-05
ESTEE LAUDER
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2007-03-12
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2008-04-01
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2015-11-02
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-13
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-19
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-02
Brand: ESTEE LAUDER, Value at Max Date: 21.57818031311035, Date Recovered: 2025-06-16
SHISEIDO CO LTD
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-15
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2015-05-20
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-05
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2018-02-14
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2019-04-17
Brand: SHISEIDO CO LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-10
BURBERRY GROUP PLC
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2010-01-04
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2015-10-08
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2018-04-11
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2019-07-16
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-12-15
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2023-01-16
Brand: BURBERRY GROUP PLC, Value at Max Date: 21.57818031311035, Date Recovered: 2025-06-12
VAIL RESORTS INC
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2000-07-07
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2012-09-07
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2015-11-06
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-20
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-24
Brand: VAIL RESORTS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-10-07
VF CORP
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2000-04-25
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2008-02-11
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2017-11-22
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2018-07-16
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-26
Brand: VF CORP, Value at Max Date: 21.57818031311035, Date Recovered: 2020-11-16
BATH & BODY WORKS INC
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-02
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2007-11-30
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-03
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2021-01-07
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2018-11-28
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2020-07-29
Brand: BATH & BODY WORKS INC, Value at Max Date: 21.57818031311035, Date Recovered: 2025-03-24
BRUNELLO CUCINELLI SPA
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2016-04-25
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2018-05-07
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-05
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-05
Brand: BRUNELLO CUCINELLI SPA, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-01
SIGNET JEWELERS LTD
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2000-05-01
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2010-04-07
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2015-08-27
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2018-06-08
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2021-03-05
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2020-10-23
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2023-08-07
Brand: SIGNET JEWELERS LTD, Value at Max Date: 21.57818031311035, Date Recovered: 2025-03-19
PRADA S.P.A.
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2008-01-16
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2017-04-27
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-12
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2019-12-20
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2020-06-01
Brand: PRADA S.P.A., Value at Max Date: 21.57818031311035, Date Recovered: 2023-02-06
SAMSONITE GROUP SA
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2007-12-06
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2015-09-16
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2018-03-12
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2019-02-14
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2021-03-12
Brand: SAMSONITE GROUP SA, Value at Max Date: 21.57818031311035, Date Recovered: 2022-08-19

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-08-02,2000-07-12,2000-05-04,2000-05-02,2000-04-27,2000-08-08,NaN,2000-04-25,NaN,2000-04-26,...,2007-03-12,2000-05-15,NaN,2000-07-07,2000-04-25,2000-05-02,NaN,2000-05-01,NaN,NaN
1,2010-03-03,2010-11-04,2012-05-02,2010-02-17,2008-05-08,2008-08-11,NaN,2007-12-03,NaN,2010-09-14,...,2008-04-01,2015-05-20,2010-01-04,2012-09-07,2008-02-11,2007-11-30,NaN,2010-04-07,2008-01-16,2007-12-06
2,2015-09-16,2015-09-16,2015-10-09,2015-10-22,2015-10-08,2015-10-05,2016-12-08,2016-08-15,NaN,2015-10-23,...,2015-11-02,2015-10-05,2015-10-08,2015-11-06,2017-11-22,2015-09-03,2016-04-25,2015-08-27,2017-04-27,2015-09-16
3,2018-04-05,2018-04-30,2018-04-10,2018-05-17,2018-03-27,2018-04-04,2018-03-08,2018-05-18,2018-05-04,2018-04-09,...,2018-03-13,2018-02-14,2018-04-11,2018-03-20,2018-07-16,2021-01-07,2018-05-07,2018-06-08,2018-03-12,2018-03-12
4,2019-02-05,2019-02-13,2019-03-14,2019-07-31,2019-02-20,2019-02-22,2019-02-01,2018-12-03,2019-01-31,2019-01-30,...,2019-02-19,2019-04-17,2019-07-16,2020-11-24,2019-02-26,2018-11-28,2019-02-05,2021-03-05,2019-12-20,2019-02-14
5,2020-07-13,2020-11-09,2020-06-17,2021-02-16,2020-05-26,2021-01-07,2020-11-09,2020-05-27,2020-08-12,2020-09-03,...,2020-06-02,2020-11-10,2020-12-15,2020-10-07,2020-11-16,2020-07-29,2020-06-05,2020-10-23,2020-06-01,2021-03-12
6,2022-11-30,2023-01-12,2023-01-17,2022-11-30,2022-08-01,2023-12-13,2023-03-02,2022-08-08,2022-08-03,NaN,...,NaN,NaN,2023-01-16,NaN,NaN,NaN,2022-08-01,2023-08-07,2023-02-06,2022-08-19
7,NaN,NaN,2025-05-05,2025-10-17,NaN,2025-05-07,NaN,NaN,NaN,2025-09-17,...,2025-06-16,NaN,2025-06-12,NaN,NaN,2025-03-24,NaN,2025-03-19,NaN,NaN

In [125]:
# we add a column for the recovery dates of the S&P500
df_backup_concat=pd.concat([setback_sp_500_full[["Start Setback Date","Recovered Date"]],luxury_gain_df],axis=1)
df_backup_concat

,Start Setback Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-04-14,2007-05-30,2000-08-02,2000-07-12,2000-05-04,2000-05-02,2000-04-27,2000-08-08,NaN,2000-04-25,...,2007-03-12,2000-05-15,NaN,2000-07-07,2000-04-25,2000-05-02,NaN,2000-05-01,NaN,NaN
1,2007-11-26,2013-03-28,2010-03-03,2010-11-04,2012-05-02,2010-02-17,2008-05-08,2008-08-11,NaN,2007-12-03,...,2008-04-01,2015-05-20,2010-01-04,2012-09-07,2008-02-11,2007-11-30,NaN,2010-04-07,2008-01-16,2007-12-06
2,2015-08-24,2016-07-11,2015-09-16,2015-09-16,2015-10-09,2015-10-22,2015-10-08,2015-10-05,2016-12-08,2016-08-15,...,2015-11-02,2015-10-05,2015-10-08,2015-11-06,2017-11-22,2015-09-03,2016-04-25,2015-08-27,2017-04-27,2015-09-16
3,2018-02-08,2018-08-24,2018-04-05,2018-04-30,2018-04-10,2018-05-17,2018-03-27,2018-04-04,2018-03-08,2018-05-18,...,2018-03-13,2018-02-14,2018-04-11,2018-03-20,2018-07-16,2021-01-07,2018-05-07,2018-06-08,2018-03-12,2018-03-12
4,2018-11-23,2019-04-23,2019-02-05,2019-02-13,2019-03-14,2019-07-31,2019-02-20,2019-02-22,2019-02-01,2018-12-03,...,2019-02-19,2019-04-17,2019-07-16,2020-11-24,2019-02-26,2018-11-28,2019-02-05,2021-03-05,2019-12-20,2019-02-14
5,2020-02-27,2020-08-18,2020-07-13,2020-11-09,2020-06-17,2021-02-16,2020-05-26,2021-01-07,2020-11-09,2020-05-27,...,2020-06-02,2020-11-10,2020-12-15,2020-10-07,2020-11-16,2020-07-29,2020-06-05,2020-10-23,2020-06-01,2021-03-12
6,2022-02-22,2024-01-19,2022-11-30,2023-01-12,2023-01-17,2022-11-30,2022-08-01,2023-12-13,2023-03-02,2022-08-08,...,NaN,NaN,2023-01-16,NaN,NaN,NaN,2022-08-01,2023-08-07,2023-02-06,2022-08-19
7,2025-03-13,2025-06-27,NaN,NaN,2025-05-05,2025-10-17,NaN,2025-05-07,NaN,NaN,...,2025-06-16,NaN,2025-06-12,NaN,NaN,2025-03-24,NaN,2025-03-19,NaN,NaN

In [126]:
# If your columns are already datetime
df_backup_concat_days=pd.DataFrame()
df_backup_concat_days["Start Setback Date"]=df_backup_concat["Start Setback Date"]
for col in df_backup_concat.columns:
    if col not in ['Start Setback Date']:
        df_backup_concat_days[col] =(pd.to_datetime(df_backup_concat[col]) - pd.to_datetime(df_backup_concat['Start Setback Date'])).dt.days
df_backup_concat_days

,Start Setback Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,2000-04-14,2602,110.0,89.0,20,18,13.0,116,NaN,11.0,...,2523.0,31.0,NaN,84.0,11.0,18.0,NaN,17,NaN,NaN
1,2007-11-26,1949,828.0,1074.0,1619,814,164.0,259,NaN,7.0,...,127.0,2732.0,770.0,1747.0,77.0,4.0,NaN,863,51.0,10.0
2,2015-08-24,322,23.0,23.0,46,59,45.0,42,472.0,357.0,...,70.0,42.0,45.0,74.0,821.0,10.0,245.0,3,612.0,23.0
3,2018-02-08,197,56.0,81.0,61,98,47.0,55,28.0,99.0,...,33.0,6.0,62.0,40.0,158.0,1064.0,88.0,120,32.0,32.0
4,2018-11-23,151,74.0,82.0,111,250,89.0,91,70.0,10.0,...,88.0,145.0,235.0,732.0,95.0,5.0,74.0,833,392.0,83.0
5,2020-02-27,173,137.0,256.0,111,355,89.0,315,256.0,90.0,...,96.0,257.0,292.0,223.0,263.0,153.0,99.0,239,95.0,379.0
6,2022-02-22,696,281.0,324.0,329,281,160.0,659,373.0,167.0,...,NaN,NaN,328.0,NaN,NaN,NaN,160.0,531,349.0,178.0
7,2025-03-13,106,NaN,NaN,53,218,NaN,55,NaN,NaN,...,95.0,NaN,91.0,NaN,NaN,11.0,NaN,6,NaN,NaN

In [127]:
df_backup_concat_days["mean"]=df_backup_concat_days[df_backup_concat_days.columns[2:]].mean(axis=1)
df_backup_concat_days["median"]=df_backup_concat_days[df_backup_concat_days.columns[2:-1]].median(axis=1)
df_backup_concat_days

,Start Setback Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,mean,median
0,2000-04-14,2602,110.0,89.0,20,18,13.0,116,NaN,11.0,...,NaN,84.0,11.0,18.0,NaN,17,NaN,NaN,205.333333,18.0
1,2007-11-26,1949,828.0,1074.0,1619,814,164.0,259,NaN,7.0,...,770.0,1747.0,77.0,4.0,NaN,863,51.0,10.0,783.263158,778.0
2,2015-08-24,322,23.0,23.0,46,59,45.0,42,472.0,357.0,...,45.0,74.0,821.0,10.0,245.0,3,612.0,23.0,146.636364,52.5
3,2018-02-08,197,56.0,81.0,61,98,47.0,55,28.0,99.0,...,62.0,40.0,158.0,1064.0,88.0,120,32.0,32.0,110.739130,60.0
4,2018-11-23,151,74.0,82.0,111,250,89.0,91,70.0,10.0,...,235.0,732.0,95.0,5.0,74.0,833,392.0,83.0,223.869565,91.0
5,2020-02-27,173,137.0,256.0,111,355,89.0,315,256.0,90.0,...,292.0,223.0,263.0,153.0,99.0,239,95.0,379.0,192.956522,189.0
6,2022-02-22,696,281.0,324.0,329,281,160.0,659,373.0,167.0,...,328.0,NaN,NaN,NaN,160.0,531,349.0,178.0,313.588235,324.0
7,2025-03-13,106,NaN,NaN,53,218,NaN,55,NaN,NaN,...,91.0,NaN,NaN,11.0,NaN,6,NaN,NaN,85.888889,56.0

In [128]:
df_backup_concat_days['nan_count'] = df_backup_concat_days[df_backup_concat_days.columns[2:-1]].isna().sum(axis=1)
df_backup_concat_days["Not Recovered"]= df_backup_concat_days['nan_count']*100/23
df_backup_concat_days

,Start Setback Date,Recovered Date,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,mean,median,nan_count,Not Recovered
0,2000-04-14,2602,110.0,89.0,20,18,13.0,116,NaN,11.0,...,11.0,18.0,NaN,17,NaN,NaN,205.333333,18.0,8,34.782609
1,2007-11-26,1949,828.0,1074.0,1619,814,164.0,259,NaN,7.0,...,77.0,4.0,NaN,863,51.0,10.0,783.263158,778.0,4,17.391304
2,2015-08-24,322,23.0,23.0,46,59,45.0,42,472.0,357.0,...,821.0,10.0,245.0,3,612.0,23.0,146.636364,52.5,1,4.347826
3,2018-02-08,197,56.0,81.0,61,98,47.0,55,28.0,99.0,...,158.0,1064.0,88.0,120,32.0,32.0,110.739130,60.0,0,0.000000
4,2018-11-23,151,74.0,82.0,111,250,89.0,91,70.0,10.0,...,95.0,5.0,74.0,833,392.0,83.0,223.869565,91.0,0,0.000000
5,2020-02-27,173,137.0,256.0,111,355,89.0,315,256.0,90.0,...,263.0,153.0,99.0,239,95.0,379.0,192.956522,189.0,0,0.000000
6,2022-02-22,696,281.0,324.0,329,281,160.0,659,373.0,167.0,...,NaN,NaN,160.0,531,349.0,178.0,313.588235,324.0,6,26.086957
7,2025-03-13,106,NaN,NaN,53,218,NaN,55,NaN,NaN,...,NaN,11.0,NaN,6,NaN,NaN,85.888889,56.0,14,60.869565

In [129]:
df_backup_concat_days[["Start Setback Date","Recovered Date","mean","median","nan_count","Not Recovered"]].to_csv("../output/luxury_brands_setback_regain_11_percent_means_medians.csv",index=False)
df_backup_concat_days.to_csv("../output/luxury_brands_setback_regain_11_percent_all_brands.csv",index=False)

# Q4: What happens, if I buy a luxury brand stock at the moment of setback and sell it when the S&P 500 has recovered?
Now I am calculating how much I make on stocks from luxurious brands, 
if I invested at the  moment when the S&P500 had fallen by ten percent
and waited until the S&P 500 has recovered.

In [130]:
setback_sp_500_full

,Max Date,Value at Max,Start Setback Date,Value at Start Setback,End Setback Date,Value at End Setback,Recovered Date,Value At Recovered
0,2000-03-24,1527.459961,2000-04-14,1356.560059,2007-03-05,1374.119995,2007-05-30,1530.229980
1,2007-10-09,1565.150024,2007-11-26,1407.219971,2012-12-28,1402.430054,2013-03-28,1569.189941
2,2015-05-21,2130.820068,2015-08-24,1893.209961,2016-02-16,1895.579956,2016-07-11,2137.159912
3,2018-01-26,2872.870117,2018-02-08,2581.000000,2018-04-02,2581.879883,2018-08-24,2874.689941
4,2018-09-20,2930.750000,2018-11-23,2632.560059,2019-01-22,2632.899902,2019-04-23,2933.679932
5,2020-02-19,3386.149902,2020-02-27,2978.760010,2020-06-26,3009.050049,2020-08-18,3389.780029
6,2022-01-03,4796.560059,2022-02-22,4304.759766,2023-11-01,4237.859863,2024-01-19,4839.810059
7,2025-02-19,6144.149902,2025-03-13,5521.520020,2025-04-28,5528.750000,2025-06-27,6173.069824

In [131]:
luxury_gain_values = {}
for brand in luxury_brands["Company Name"].tolist():
    print(brand)
    brand_data=red_base_df[["Date",brand]]
    gain_values=[]
    for index, row in setback_sp_500_full.iterrows():
        # we define the date of investment as the start of the setback
        date_of_investment=(row["Start Setback Date"])
        # we define the date of selloff as the recovery date of the S&P500
        date_of_sellof=(row["Recovered Date"])
        #we retrieve the value at the date of investment / the date of the S&P500 setback
        value_at_date_of_investment=brand_data[brand_data["Date"]>=date_of_investment][brand].values[0]
        #we retrieve the value at the date of selloff / the date of the S&P500 recovery
        value_at_date_of_sellof=brand_data[brand_data["Date"]>=date_of_sellof][brand].values[0]
        print(f"Brand: {brand}, {date_of_sellof}, {brand_data[brand_data["Date"]>=date_of_sellof]["Date"].values[0]}")
        #and calculate the gain in percent
        gain=(value_at_date_of_sellof*100/value_at_date_of_investment)-100
        if len(recovered_df_brand)==0:
            date_recovered=np.nan
            gain_values.append(gain)
            pass
        else:
            date_recovered=recovered_df_brand.iloc[0]["Date"]
            gain_values.append(gain)
            print(f"Brand: {brand}, Value at Max Date: {value_brand_at_max_date}, Date Recovered: {date_recovered}")
    luxury_gain_values[brand]=gain_values
luxury_gain_values_df=pd.DataFrame(luxury_gain_values)
luxury_gain_values_df

LVMH MOET HENNE
Brand: LVMH MOET HENNE, 2007-05-30, 2007-05-30
Brand: LVMH MOET HENNE, 2013-03-28, 2013-03-28
Brand: LVMH MOET HENNE, 2016-07-11, 2016-07-11
Brand: LVMH MOET HENNE, 2018-08-24, 2018-08-24
Brand: LVMH MOET HENNE, 2019-04-23, 2019-04-23
Brand: LVMH MOET HENNE, 2020-08-18, 2020-08-18
Brand: LVMH MOET HENNE, 2024-01-19, 2024-01-19
Brand: LVMH MOET HENNE, 2025-06-27, 2025-06-27
CIE FINANCI-REG
Brand: CIE FINANCI-REG, 2007-05-30, 2007-05-30
Brand: CIE FINANCI-REG, 2013-03-28, 2013-03-28
Brand: CIE FINANCI-REG, 2016-07-11, 2016-07-11
Brand: CIE FINANCI-REG, 2018-08-24, 2018-08-24
Brand: CIE FINANCI-REG, 2019-04-23, 2019-04-23
Brand: CIE FINANCI-REG, 2020-08-18, 2020-08-18
Brand: CIE FINANCI-REG, 2024-01-19, 2024-01-19
Brand: CIE FINANCI-REG, 2025-06-27, 2025-06-27
L'OREAL
Brand: L'OREAL, 2007-05-30, 2007-05-30
Brand: L'OREAL, 2013-03-28, 2013-03-28
Brand: L'OREAL, 2016-07-11, 2016-07-11
Brand: L'OREAL, 2018-08-24, 2018-08-24
Brand: L'OREAL, 2019-04-23, 2019-04-23
Brand: L'OREAL, 2020-08-18, 2020-08-18
Brand: L'OREAL, 2024-01-19, 2024-01-19
Brand: L'OREAL, 2025-06-27, 2025-06-27
ESSILORLUXOTTICA
Brand: ESSILORLUXOTTICA, 2007-05-30, 2007-05-30
Brand: ESSILORLUXOTTICA, 2013-03-28, 2013-03-28
Brand: ESSILORLUXOTTICA, 2016-07-11, 2016-07-11
Brand: ESSILORLUXOTTICA, 2018-08-24, 2018-08-24
Brand: ESSILORLUXOTTICA, 2019-04-23, 2019-04-23
Brand: ESSILORLUXOTTICA, 2020-08-18, 2020-08-18
Brand: ESSILORLUXOTTICA, 2024-01-19, 2024-01-19
Brand: ESSILORLUXOTTICA, 2025-06-27, 2025-06-27
HERMES INTERNATIONAL
Brand: HERMES INTERNATIONAL, 2007-05-30, 2007-05-30
Brand: HERMES INTERNATIONAL, 2013-03-28, 2013-03-28
Brand: HERMES INTERNATIONAL, 2016-07-11, 2016-07-11
Brand: HERMES INTERNATIONAL, 2018-08-24, 2018-08-24
Brand: HERMES INTERNATIONAL, 2019-04-23, 2019-04-23
Brand: HERMES INTERNATIONAL, 2020-08-18, 2020-08-18
Brand: HERMES INTERNATIONAL, 2024-01-19, 2024-01-19
Brand: HERMES INTERNATIONAL, 2025-06-27, 2025-06-27
RALPH LAUREN CORP
Brand: RALPH LAUREN CORP, 2007-05-30, 2007-05-30
Brand: RALPH LAUREN CORP, 2013-03-28, 2013-03-28
Brand: RALPH LAUREN CORP, 2016-07-11, 2016-07-11
Brand: RALPH LAUREN CORP, 2018-08-24, 2018-08-24
Brand: RALPH LAUREN CORP, 2019-04-23, 2019-04-23
Brand: RALPH LAUREN CORP, 2020-08-18, 2020-08-18
Brand: RALPH LAUREN CORP, 2024-01-19, 2024-01-19
Brand: RALPH LAUREN CORP, 2025-06-27, 2025-06-27
MONCLER SPA
Brand: MONCLER SPA, 2007-05-30, 2007-05-30
Brand: MONCLER SPA, 2013-03-28, 2013-03-28
Brand: MONCLER SPA, 2016-07-11, 2016-07-11
Brand: MONCLER SPA, 2018-08-24, 2018-08-24
Brand: MONCLER SPA, 2019-04-23, 2019-04-23
Brand: MONCLER SPA, 2020-08-18, 2020-08-18
Brand: MONCLER SPA, 2024-01-19, 2024-01-19
Brand: MONCLER SPA, 2025-06-27, 2025-06-27
DECKERS OUTDOOR CORP
Brand: DECKERS OUTDOOR CORP, 2007-05-30, 2007-05-30
Brand: DECKERS OUTDOOR CORP, 2013-03-28, 2013-03-28
Brand: DECKERS OUTDOOR CORP, 2016-07-11, 2016-07-11
Brand: DECKERS OUTDOOR CORP, 2018-08-24, 2018-08-24
Brand: DECKERS OUTDOOR CORP, 2019-04-23, 2019-04-23
Brand: DECKERS OUTDOOR CORP, 2020-08-18, 2020-08-18
Brand: DECKERS OUTDOOR CORP, 2024-01-19, 2024-01-19
Brand: DECKERS OUTDOOR CORP, 2025-06-27, 2025-06-27
FERRARI NV
Brand: FERRARI NV, 2007-05-30, 2007-05-30
Brand: FERRARI NV, 2013-03-28, 2013-03-28
Brand: FERRARI NV, 2016-07-11, 2016-07-11
Brand: FERRARI NV, 2018-08-24, 2018-08-24
Brand: FERRARI NV, 2019-04-23, 2019-04-23
Brand: FERRARI NV, 2020-08-18, 2020-08-18
Brand: FERRARI NV, 2024-01-19, 2024-01-19
Brand: FERRARI NV, 2025-06-27, 2025-06-27
KERING
Brand: KERING, 2007-05-30, 2007-05-30
Brand: KERING, 2013-03-28, 2013-03-28
Brand: KERING, 2016-07-11, 2016-07-11
Brand: KERING, 2018-08-24, 2018-08-24
Brand: KERING, 2019-04-23, 2019-04-23
Brand: KERING, 2020-08-18, 2020-08-18
Brand: KERING, 2024-01-19, 2024-01-19
Brand: KERING, 2025-06-27, 2025-06-27
TAPESTRY INC
Brand: TAPESTRY INC, 2007-05-30, 2007-05-30
Brand: TAPESTRY INC, 2013-03-28, 2013-03-28
Brand: TAPESTRY INC, 2016-07-11, 2016-07-11
Brand: TAPESTRY INC, 2018-08-24, 2018-08-24
Brand: TAPESTRY INC, 2019-04-23, 2019-04-23
Brand: TAPESTRY INC, 2020-08-18, 2020-08-18
Brand: TAPESTRY INC, 2024-01-19, 2024-01-19
Brand: TAPESTRY INC, 2025-06-27, 2025-06-27
KAO CORP
Brand: KAO CORP, 2007-05-30, 2007-05-30
Brand: KAO CORP, 2013-03-28, 2013-03-28
Brand: KAO CORP, 2016-07-11, 2016-07-11
Brand: KAO CORP, 2018-08-24, 2018-08-24
Brand: KAO CORP, 2019-04-23, 2019-04-23
Brand: KAO CORP, 2020-08-18, 2020-08-18
Brand: KAO CORP, 2024-01-19, 2024-01-19
Brand: KAO CORP, 2025-06-27, 2025-06-27
PANDORA A/S
Brand: PANDORA A/S, 2007-05-30, 2007-05-30
Brand: PANDORA A/S, 2013-03-28, 2013-03-28
Brand: PANDORA A/S, 2016-07-11, 2016-07-11
Brand: PANDORA A/S, 2018-08-24, 2018-08-24
Brand: PANDORA A/S, 2019-04-23, 2019-04-23
Brand: PANDORA A/S, 2020-08-18, 2020-08-18
Brand: PANDORA A/S, 2024-01-19, 2024-01-19
Brand: PANDORA A/S, 2025-06-27, 2025-06-27
ESTEE LAUDER
Brand: ESTEE LAUDER, 2007-05-30, 2007-05-30
Brand: ESTEE LAUDER, 2013-03-28, 2013-03-28
Brand: ESTEE LAUDER, 2016-07-11, 2016-07-11
Brand: ESTEE LAUDER, 2018-08-24, 2018-08-24
Brand: ESTEE LAUDER, 2019-04-23, 2019-04-23
Brand: ESTEE LAUDER, 2020-08-18, 2020-08-18
Brand: ESTEE LAUDER, 2024-01-19, 2024-01-19
Brand: ESTEE LAUDER, 2025-06-27, 2025-06-27
SHISEIDO CO LTD
Brand: SHISEIDO CO LTD, 2007-05-30, 2007-05-30
Brand: SHISEIDO CO LTD, 2013-03-28, 2013-03-28
Brand: SHISEIDO CO LTD, 2016-07-11, 2016-07-11
Brand: SHISEIDO CO LTD, 2018-08-24, 2018-08-24
Brand: SHISEIDO CO LTD, 2019-04-23, 2019-04-23
Brand: SHISEIDO CO LTD, 2020-08-18, 2020-08-18
Brand: SHISEIDO CO LTD, 2024-01-19, 2024-01-19
Brand: SHISEIDO CO LTD, 2025-06-27, 2025-06-27
BURBERRY GROUP PLC
Brand: BURBERRY GROUP PLC, 2007-05-30, 2007-05-30
Brand: BURBERRY GROUP PLC, 2013-03-28, 2013-03-28
Brand: BURBERRY GROUP PLC, 2016-07-11, 2016-07-11
Brand: BURBERRY GROUP PLC, 2018-08-24, 2018-08-24
Brand: BURBERRY GROUP PLC, 2019-04-23, 2019-04-23
Brand: BURBERRY GROUP PLC, 2020-08-18, 2020-08-18
Brand: BURBERRY GROUP PLC, 2024-01-19, 2024-01-19
Brand: BURBERRY GROUP PLC, 2025-06-27, 2025-06-27
VAIL RESORTS INC
Brand: VAIL RESORTS INC, 2007-05-30, 2007-05-30
Brand: VAIL RESORTS INC, 2013-03-28, 2013-03-28
Brand: VAIL RESORTS INC, 2016-07-11, 2016-07-11
Brand: VAIL RESORTS INC, 2018-08-24, 2018-08-24
Brand: VAIL RESORTS INC, 2019-04-23, 2019-04-23
Brand: VAIL RESORTS INC, 2020-08-18, 2020-08-18
Brand: VAIL RESORTS INC, 2024-01-19, 2024-01-19
Brand: VAIL RESORTS INC, 2025-06-27, 2025-06-27
VF CORP
Brand: VF CORP, 2007-05-30, 2007-05-30
Brand: VF CORP, 2013-03-28, 2013-03-28
Brand: VF CORP, 2016-07-11, 2016-07-11
Brand: VF CORP, 2018-08-24, 2018-08-24
Brand: VF CORP, 2019-04-23, 2019-04-23
Brand: VF CORP, 2020-08-18, 2020-08-18
Brand: VF CORP, 2024-01-19, 2024-01-19
Brand: VF CORP, 2025-06-27, 2025-06-27
BATH & BODY WORKS INC
Brand: BATH & BODY WORKS INC, 2007-05-30, 2007-05-30
Brand: BATH & BODY WORKS INC, 2013-03-28, 2013-03-28
Brand: BATH & BODY WORKS INC, 2016-07-11, 2016-07-11
Brand: BATH & BODY WORKS INC, 2018-08-24, 2018-08-24
Brand: BATH & BODY WORKS INC, 2019-04-23, 2019-04-23
Brand: BATH & BODY WORKS INC, 2020-08-18, 2020-08-18
Brand: BATH & BODY WORKS INC, 2024-01-19, 2024-01-19
Brand: BATH & BODY WORKS INC, 2025-06-27, 2025-06-27
BRUNELLO CUCINELLI SPA
Brand: BRUNELLO CUCINELLI SPA, 2007-05-30, 2007-05-30
Brand: BRUNELLO CUCINELLI SPA, 2013-03-28, 2013-03-28
Brand: BRUNELLO CUCINELLI SPA, 2016-07-11, 2016-07-11
Brand: BRUNELLO CUCINELLI SPA, 2018-08-24, 2018-08-24
Brand: BRUNELLO CUCINELLI SPA, 2019-04-23, 2019-04-23
Brand: BRUNELLO CUCINELLI SPA, 2020-08-18, 2020-08-18
Brand: BRUNELLO CUCINELLI SPA, 2024-01-19, 2024-01-19
Brand: BRUNELLO CUCINELLI SPA, 2025-06-27, 2025-06-27
SIGNET JEWELERS LTD
Brand: SIGNET JEWELERS LTD, 2007-05-30, 2007-05-30
Brand: SIGNET JEWELERS LTD, 2013-03-28, 2013-03-28
Brand: SIGNET JEWELERS LTD, 2016-07-11, 2016-07-11
Brand: SIGNET JEWELERS LTD, 2018-08-24, 2018-08-24
Brand: SIGNET JEWELERS LTD, 2019-04-23, 2019-04-23
Brand: SIGNET JEWELERS LTD, 2020-08-18, 2020-08-18
Brand: SIGNET JEWELERS LTD, 2024-01-19, 2024-01-19
Brand: SIGNET JEWELERS LTD, 2025-06-27, 2025-06-27
PRADA S.P.A.
Brand: PRADA S.P.A., 2007-05-30, 2007-05-30
Brand: PRADA S.P.A., 2013-03-28, 2013-03-28
Brand: PRADA S.P.A., 2016-07-11, 2016-07-11
Brand: PRADA S.P.A., 2018-08-24, 2018-08-24
Brand: PRADA S.P.A., 2019-04-23, 2019-04-23
Brand: PRADA S.P.A., 2020-08-18, 2020-08-18
Brand: PRADA S.P.A., 2024-01-19, 2024-01-19
Brand: PRADA S.P.A., 2025-06-27, 2025-06-27
SAMSONITE GROUP SA
Brand: SAMSONITE GROUP SA, 2007-05-30, 2007-05-30
Brand: SAMSONITE GROUP SA, 2013-03-28, 2013-03-28
Brand: SAMSONITE GROUP SA, 2016-07-11, 2016-07-11
Brand: SAMSONITE GROUP SA, 2018-08-24, 2018-08-24
Brand: SAMSONITE GROUP SA, 2019-04-23, 2019-04-23
Brand: SAMSONITE GROUP SA, 2020-08-18, 2020-08-18
Brand: SAMSONITE GROUP SA, 2024-01-19, 2024-01-19
Brand: SAMSONITE GROUP SA, 2025-06-27, 2025-06-27

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,11.967510,78.298578,38.425415,264.200813,134.804041,514.219977,NaN,2522.487257,NaN,-33.359989,...,6.980261,99.293582,NaN,279.936436,324.321434,46.172313,NaN,260.681141,NaN,NaN
1,88.242931,62.137165,48.498563,131.612183,254.631675,171.464238,NaN,25.484448,NaN,79.715534,...,228.884189,-41.622984,143.477482,27.607896,167.775644,295.367182,NaN,125.476895,37560.244550,14844.664773
2,1.014085,-16.425537,21.227339,21.637774,14.133868,-8.962901,-2.891131,-0.963895,NaN,2.233792,...,23.446638,18.015363,-9.665952,38.895450,-5.627952,-6.905681,1.062952,-26.293255,-26.679642,-1.955695
3,27.603324,1.576474,22.517277,18.448570,33.238495,36.208931,50.418123,30.172031,11.472768,32.168005,...,3.678307,32.731582,46.765143,45.050443,17.911960,-39.340591,52.925719,26.983636,13.468614,-7.801223
4,36.100695,17.085130,17.781021,-0.228204,24.532123,16.232171,23.005298,23.784313,31.623399,36.035063,...,22.838842,12.694476,7.439252,-18.379944,21.272878,-14.616749,9.756091,-54.490164,-21.762570,0.647931
5,5.056246,-9.481980,14.708256,-12.088785,9.166823,-31.921943,-7.515593,21.222394,15.131570,-0.880291,...,17.012264,-12.785325,-14.950769,1.383039,-14.055779,22.255971,-9.749496,-36.395782,27.552971,-41.301274
6,1.936122,-3.184578,25.711710,13.429110,53.431631,12.449529,-2.986868,162.305700,68.984901,-43.221627,...,-56.347875,-37.867899,-39.605263,-9.335170,-70.201887,-14.279637,67.998309,34.988096,-1.762459,25.699893
7,-24.605302,-8.363968,1.898138,-9.348548,-7.192030,28.436094,-18.705375,-10.970612,3.616726,-22.331821,...,24.113928,-3.297235,15.000000,1.202980,-26.856359,6.459801,-6.311187,78.390929,-14.899587,-21.068739

In [132]:
df_values_concat=pd.concat([setback_sp_500_full[["Start Setback Date","Recovered Date","Value at Start Setback","Value At Recovered"]],luxury_gain_values_df],axis=1)
df_values_concat["S&P500 Recovery Gain"]=(df_values_concat["Value At Recovered"]*100/df_values_concat["Value at Start Setback"])-100
df_values_concat

,Start Setback Date,Recovered Date,Value at Start Setback,Value At Recovered,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,...,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,S&P500 Recovery Gain
0,2000-04-14,2007-05-30,1356.560059,1530.229980,11.967510,78.298578,38.425415,264.200813,134.804041,514.219977,...,99.293582,NaN,279.936436,324.321434,46.172313,NaN,260.681141,NaN,NaN,12.802229
1,2007-11-26,2013-03-28,1407.219971,1569.189941,88.242931,62.137165,48.498563,131.612183,254.631675,171.464238,...,-41.622984,143.477482,27.607896,167.775644,295.367182,NaN,125.476895,37560.244550,14844.664773,11.509926
2,2015-08-24,2016-07-11,1893.209961,2137.159912,1.014085,-16.425537,21.227339,21.637774,14.133868,-8.962901,...,18.015363,-9.665952,38.895450,-5.627952,-6.905681,1.062952,-26.293255,-26.679642,-1.955695,12.885520
3,2018-02-08,2018-08-24,2581.000000,2874.689941,27.603324,1.576474,22.517277,18.448570,33.238495,36.208931,...,32.731582,46.765143,45.050443,17.911960,-39.340591,52.925719,26.983636,13.468614,-7.801223,11.378921
4,2018-11-23,2019-04-23,2632.560059,2933.679932,36.100695,17.085130,17.781021,-0.228204,24.532123,16.232171,...,12.694476,7.439252,-18.379944,21.272878,-14.616749,9.756091,-54.490164,-21.762570,0.647931,11.438291
5,2020-02-27,2020-08-18,2978.760010,3389.780029,5.056246,-9.481980,14.708256,-12.088785,9.166823,-31.921943,...,-12.785325,-14.950769,1.383039,-14.055779,22.255971,-9.749496,-36.395782,27.552971,-41.301274,13.798360
6,2022-02-22,2024-01-19,4304.759766,4839.810059,1.936122,-3.184578,25.711710,13.429110,53.431631,12.449529,...,-37.867899,-39.605263,-9.335170,-70.201887,-14.279637,67.998309,34.988096,-1.762459,25.699893,12.429272
7,2025-03-13,2025-06-27,5521.520020,6173.069824,-24.605302,-8.363968,1.898138,-9.348548,-7.192030,28.436094,...,-3.297235,15.000000,1.202980,-26.856359,6.459801,-6.311187,78.390929,-14.899587,-21.068739,11.800189

In [133]:
df_values_concat["Median Luxury Gain"]=df_values_concat[df_values_concat.columns[4:-1]].median(axis=1)
df_values_concat["Mean Luxury Gain"]=df_values_concat[df_values_concat.columns[4:-2]].mean(axis=1)
df_values_concat

,Start Setback Date,Recovered Date,Value at Start Setback,Value At Recovered,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,...,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,S&P500 Recovery Gain,Median Luxury Gain,Mean Luxury Gain
0,2000-04-14,2007-05-30,1356.560059,1530.229980,11.967510,78.298578,38.425415,264.200813,134.804041,514.219977,...,279.936436,324.321434,46.172313,NaN,260.681141,NaN,NaN,12.802229,99.293582,303.687348
1,2007-11-26,2013-03-28,1407.219971,1569.189941,88.242931,62.137165,48.498563,131.612183,254.631675,171.464238,...,27.607896,167.775644,295.367182,NaN,125.476895,37560.244550,14844.664773,11.509926,125.476895,2856.489004
2,2015-08-24,2016-07-11,1893.209961,2137.159912,1.014085,-16.425537,21.227339,21.637774,14.133868,-8.962901,...,38.895450,-5.627952,-6.905681,1.062952,-26.293255,-26.679642,-1.955695,12.885520,1.038518,5.478033
3,2018-02-08,2018-08-24,2581.000000,2874.689941,27.603324,1.576474,22.517277,18.448570,33.238495,36.208931,...,45.050443,17.911960,-39.340591,52.925719,26.983636,13.468614,-7.801223,11.378921,22.517277,19.028259
4,2018-11-23,2019-04-23,2632.560059,2933.679932,36.100695,17.085130,17.781021,-0.228204,24.532123,16.232171,...,-18.379944,21.272878,-14.616749,9.756091,-54.490164,-21.762570,0.647931,11.438291,12.694476,6.797856
5,2020-02-27,2020-08-18,2978.760010,3389.780029,5.056246,-9.481980,14.708256,-12.088785,9.166823,-31.921943,...,1.383039,-14.055779,22.255971,-9.749496,-36.395782,27.552971,-41.301274,13.798360,-0.880291,-2.340103
6,2022-02-22,2024-01-19,4304.759766,4839.810059,1.936122,-3.184578,25.711710,13.429110,53.431631,12.449529,...,-9.335170,-70.201887,-14.279637,67.998309,34.988096,-1.762459,25.699893,12.429272,1.936122,10.647346
7,2025-03-13,2025-06-27,5521.520020,6173.069824,-24.605302,-8.363968,1.898138,-9.348548,-7.192030,28.436094,...,1.202980,-26.856359,6.459801,-6.311187,78.390929,-14.899587,-21.068739,11.800189,-3.297235,0.482192

In [134]:
df_values_concat[["Start Setback Date","Recovered Date","S&P500 Recovery Gain","Median Luxury Gain","Mean Luxury Gain"]].to_csv("../output/luxury_brands_setback_gain_of_sellof_at_recovery_mean_median.csv",index=False)
df_values_concat.to_csv("../output/luxury_brands_setback_gain_of_sellof_at_recovery.csv",index=False)

# Q5: What happens when I used the setback as the timing to start investing and held the shares until today?
Now I am calculating how much I make on stocks from luxurious brands, 
if I invested at the  moment when the S&P500 had fallen by ten percent
and waited until today.

In [135]:
luxury_gain_values_today = {}
for brand in luxury_brands["Company Name"].tolist():
    print(brand)
    brand_data=red_base_df[["Date",brand]]
    gain_values=[]
    for index, row in setback_sp_500_full.iterrows():
        # we define the date of investment as the start of the setback
        date_of_investment=(row["Start Setback Date"])
        value_at_date_of_investment=brand_data[brand_data["Date"]>=date_of_investment][brand].values[0]
        # we define the date of selloff as today

        value_at_date_of_sellof=brand_data[brand].values[-1]
        #and calculate the gain in percent
        gain=(value_at_date_of_sellof*100/value_at_date_of_investment)-100
        if len(recovered_df_brand)==0:
            date_recovered=np.nan
            gain_values.append(gain)
            pass
        else:
            date_recovered=recovered_df_brand.iloc[0]["Date"]
            gain_values.append(gain)
            print(f"Brand: {brand}, Value at Max Date: {value_brand_at_max_date}, Date Recovered: {date_recovered}")
    luxury_gain_values_today[brand]=gain_values
luxury_gain_values_today_df=pd.DataFrame(luxury_gain_values_today)
luxury_gain_values_today_df

LVMH MOET HENNE
CIE FINANCI-REG
L'OREAL
ESSILORLUXOTTICA
HERMES INTERNATIONAL
RALPH LAUREN CORP
MONCLER SPA
DECKERS OUTDOOR CORP
FERRARI NV
KERING
TAPESTRY INC
KAO CORP
PANDORA A/S
ESTEE LAUDER
SHISEIDO CO LTD
BURBERRY GROUP PLC
VAIL RESORTS INC
VF CORP
BATH & BODY WORKS INC
BRUNELLO CUCINELLI SPA
SIGNET JEWELERS LTD
PRADA S.P.A.
SAMSONITE GROUP SA

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,ESTEE LAUDER,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA
0,1073.435512,735.800686,675.409088,3477.526546,6150.752073,2676.269764,NaN,44844.247205,NaN,184.801134,...,418.780081,163.891581,NaN,1263.591232,377.620487,273.516678,NaN,990.559950,NaN,NaN
1,1024.222026,369.392718,428.735324,926.838390,3116.579476,576.921796,NaN,1018.206336,NaN,386.216193,...,445.201972,27.345406,121.417573,327.224269,41.009952,271.972186,NaN,332.245023,24732.145188,15926.516917
2,442.052686,204.651071,185.343621,270.851806,675.502683,281.599907,331.326093,710.749855,NaN,189.153776,...,35.199309,13.678061,-9.926864,90.320562,-69.420142,-51.049097,523.019797,5.315839,57.921248,-10.756127
3,202.288650,129.814008,134.293589,241.879680,449.081441,283.852260,143.520214,447.265123,288.332225,8.792243,...,-23.946967,-51.730656,-21.792593,-8.001856,-74.720652,-28.511840,285.098319,146.592420,60.328896,-38.982188
4,174.386440,192.014543,91.418411,227.624913,362.531858,233.754764,109.958250,304.219278,304.069643,-3.089212,...,-29.203825,-63.185630,-34.758879,-29.710017,-75.211354,6.318576,235.175708,130.625236,84.500666,-16.809559
5,87.081068,181.600264,57.682880,179.043729,253.407547,266.141656,77.106702,185.338074,162.374917,-28.056693,...,-46.423181,-58.536559,-27.985186,-15.535591,-75.530795,28.825353,222.460354,381.167038,97.144868,30.501528
6,1.211896,40.094605,8.765942,113.320427,85.037476,179.125675,13.122661,73.736170,95.307607,-45.393433,...,-67.340887,-59.386790,-40.926590,-33.268593,-70.766419,-53.805662,85.140506,44.201489,6.255138,3.319802
7,6.203667,0.801890,2.342862,22.029308,-11.761038,55.596205,-2.120187,-29.331854,-10.174166,33.850978,...,41.312181,-3.616945,20.500000,-1.894350,-7.903017,-21.694645,-16.231178,124.320535,-15.793499,-9.407208

In [136]:
today_sp500=sp500_data.iloc[-1]["S&P500"]
today_sp500

np.float64(6846.39990234375)

In [137]:
luxury_gain_values_today_df["S&P500"]=(today_sp500*100/setback_sp_500_full["Value at Start Setback"])-100
luxury_gain_values_today_df

,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,FERRARI NV,KERING,...,SHISEIDO CO LTD,BURBERRY GROUP PLC,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,S&P500
0,1073.435512,735.800686,675.409088,3477.526546,6150.752073,2676.269764,NaN,44844.247205,NaN,184.801134,...,163.891581,NaN,1263.591232,377.620487,273.516678,NaN,990.559950,NaN,NaN,404.688300
1,1024.222026,369.392718,428.735324,926.838390,3116.579476,576.921796,NaN,1018.206336,NaN,386.216193,...,27.345406,121.417573,327.224269,41.009952,271.972186,NaN,332.245023,24732.145188,15926.516917,386.519524
2,442.052686,204.651071,185.343621,270.851806,675.502683,281.599907,331.326093,710.749855,NaN,189.153776,...,13.678061,-9.926864,90.320562,-69.420142,-51.049097,523.019797,5.315839,57.921248,-10.756127,261.629193
3,202.288650,129.814008,134.293589,241.879680,449.081441,283.852260,143.520214,447.265123,288.332225,8.792243,...,-51.730656,-21.792593,-8.001856,-74.720652,-28.511840,285.098319,146.592420,60.328896,-38.982188,165.261523
4,174.386440,192.014543,91.418411,227.624913,362.531858,233.754764,109.958250,304.219278,304.069643,-3.089212,...,-63.185630,-34.758879,-29.710017,-75.211354,6.318576,235.175708,130.625236,84.500666,-16.809559,160.066238
5,87.081068,181.600264,57.682880,179.043729,253.407547,266.141656,77.106702,185.338074,162.374917,-28.056693,...,-58.536559,-27.985186,-15.535591,-75.530795,28.825353,222.460354,381.167038,97.144868,30.501528,129.840601
6,1.211896,40.094605,8.765942,113.320427,85.037476,179.125675,13.122661,73.736170,95.307607,-45.393433,...,-59.386790,-40.926590,-33.268593,-70.766419,-53.805662,85.140506,44.201489,6.255138,3.319802,59.042555
7,6.203667,0.801890,2.342862,22.029308,-11.761038,55.596205,-2.120187,-29.331854,-10.174166,33.850978,...,-3.616945,20.500000,-1.894350,-7.903017,-21.694645,-16.231178,124.320535,-15.793499,-9.407208,23.994840

In [138]:
df_values_concat_today=pd.concat([setback_sp_500_full[["Start Setback Date","Value at Start Setback"]],luxury_gain_values_today_df],axis=1)
df_values_concat_today["Median Luxury Gain"]=df_values_concat_today[df_values_concat_today.columns[3:-1]].median(axis=1)
df_values_concat_today["Mean Luxury Gain"]=df_values_concat_today[df_values_concat_today.columns[3:-2]].mean(axis=1)
df_values_concat_today

,Start Setback Date,Value at Start Setback,LVMH MOET HENNE,CIE FINANCI-REG,L'OREAL,ESSILORLUXOTTICA,HERMES INTERNATIONAL,RALPH LAUREN CORP,MONCLER SPA,DECKERS OUTDOOR CORP,...,VAIL RESORTS INC,VF CORP,BATH & BODY WORKS INC,BRUNELLO CUCINELLI SPA,SIGNET JEWELERS LTD,PRADA S.P.A.,SAMSONITE GROUP SA,S&P500,Median Luxury Gain,Mean Luxury Gain
0,2000-04-14,1356.560059,1073.435512,735.800686,675.409088,3477.526546,6150.752073,2676.269764,NaN,44844.247205,...,1263.591232,377.620487,273.516678,NaN,990.559950,NaN,NaN,404.688300,705.604887,4460.500832
1,2007-11-26,1407.219971,1024.222026,369.392718,428.735324,926.838390,3116.579476,576.921796,NaN,1018.206336,...,327.224269,41.009952,271.972186,NaN,332.245023,24732.145188,15926.516917,386.519524,377.804456,2755.338096
2,2015-08-24,1893.209961,442.052686,204.651071,185.343621,270.851806,675.502683,281.599907,331.326093,710.749855,...,90.320562,-69.420142,-51.049097,523.019797,5.315839,57.921248,-10.756127,261.629193,90.320562,186.330531
3,2018-02-08,2581.000000,202.288650,129.814008,134.293589,241.879680,449.081441,283.852260,143.520214,447.265123,...,-8.001856,-74.720652,-28.511840,285.098319,146.592420,60.328896,-38.982188,165.261523,97.748739,117.955661
4,2018-11-23,2632.560059,174.386440,192.014543,91.418411,227.624913,362.531858,233.754764,109.958250,304.219278,...,-29.710017,-75.211354,6.318576,235.175708,130.625236,84.500666,-16.809559,160.066238,100.688330,110.090336
5,2020-02-27,2978.760010,87.081068,181.600264,57.682880,179.043729,253.407547,266.141656,77.106702,185.338074,...,-15.535591,-75.530795,28.825353,222.460354,381.167038,97.144868,30.501528,129.840601,87.125785,112.232591
6,2022-02-22,4304.759766,1.211896,40.094605,8.765942,113.320427,85.037476,179.125675,13.122661,73.736170,...,-33.268593,-70.766419,-53.805662,85.140506,44.201489,6.255138,3.319802,59.042555,18.470206,28.393370
7,2025-03-13,5521.520020,6.203667,0.801890,2.342862,22.029308,-11.761038,55.596205,-2.120187,-29.331854,...,-1.894350,-7.903017,-21.694645,-16.231178,124.320535,-15.793499,-9.407208,23.994840,-2.007268,8.830895

In [139]:
df_values_concat_today[["Start Setback Date","S&P500","Median Luxury Gain","Mean Luxury Gain"]].to_csv("../output/luxury_brands_setback_gain_of_sellof_at_today_mean_median.csv",index=False)
df_values_concat_today.to_csv("../output/luxury_brands_setback_gain_of_sellof_at_today.csv",index=False)