In [1]:
import pandas as pd
import glob

In [11]:
prefiles=glob.glob('../data/POST/tiktok*.csv')
prefiles

['../data/POST/tiktok_average_engagement_rate_per_month.csv',
 '../data/POST/tiktok_likes_per_month.csv',
 '../data/POST/tiktok_comments.csv',
 '../data/POST/tiktok_saves_views_per_month.csv',
 '../data/POST/tiktok_comments_views_per_month.csv',
 '../data/POST/tiktok_monthly_follower_growth_since_jan_24.csv',
 '../data/POST/tiktok_shares_per_month_1.csv',
 '../data/POST/tiktok_shares_per_month.csv',
 '../data/POST/tiktok_monthly_follower_growth_since_jan_24_1.csv',
 '../data/POST/tiktok_average_video_duration.csv',
 '../data/POST/tiktok_likes.csv',
 '../data/POST/tiktok_shares.csv',
 '../data/POST/tiktok_views_per_month.csv',
 '../data/POST/tiktok_saves.csv',
 '../data/POST/tiktok_likes_views_per_month.csv',
 '../data/POST/tiktok_average_view_ratio_per_month.csv',
 '../data/POST/tiktok_postings.csv',
 '../data/POST/tiktok_views_per_month_1.csv',
 '../data/POST/tiktok_saves_per_month_1.csv',
 '../data/POST/tiktok_views.csv',
 '../data/POST/tiktok_average_video_duration__per_month.csv',
 '../data/POST/tiktok_assets_per_month.csv',
 '../data/POST/tiktok_shares_views_per_month.csv',
 '../data/POST/tiktok_saves_per_month.csv',
 '../data/POST/tiktok_average_view_ratio.csv',
 '../data/POST/tiktok_likes_per_month_1.csv',
 '../data/POST/tiktok_average_engagement_rate_(by_follower)_per_month.csv',
 '../data/POST/tiktoks.csv']

In [51]:
prefiles=glob.glob('../data/POST/instagram*.csv')
prefiles

['../data/POST/instagram_average_video_duration_of_reels_per_month.csv',
 '../data/POST/instagram_comments.csv',
 '../data/POST/instagram_saves_per_month_1.csv',
 '../data/POST/instagram_views_(reels).csv',
 '../data/POST/instagram_reels_likes_views_per_month.csv',
 '../data/POST/instagram_shares_per_month.csv',
 '../data/POST/instagram_views_(reels)_per_month_1.csv',
 '../data/POST/instagram_reels_shares_views_per_month.csv',
 '../data/POST/instagram_average_view_ratio.csv',
 '../data/POST/instagram_comments_per_month.csv',
 '../data/POST/instagram_saves.csv',
 '../data/POST/instagram_likes.csv',
 '../data/POST/instagram_saves_per_month.csv',
 '../data/POST/instagram_average_viewratio_per_month.csv',
 '../data/POST/instagram_shares.csv',
 '../data/POST/instagram_postings.csv',
 '../data/POST/instagram_reels_comments_views_per_month.csv',
 '../data/POST/instagram_average_videoduration_of_reels_.csv',
 '../data/POST/instagram_views_(reels)_per_month.csv',
 '../data/POST/instagram_monthly_follower_growth_since_jan_24_1.csv',
 '../data/POST/instagram_comments_per_month_1.csv',
 '../data/POST/instagram_average_engagement_rate_of_reels_per_month.csv',
 '../data/POST/instagram_assets_per_month.csv',
 '../data/POST/instagram_reels_saves_views_per_month.csv',
 '../data/POST/instagram_average_engagement_rate_of_reels_(by_follower)_per_month.csv',
 '../data/POST/instagram_monthly_follower_growth_since_jan_24.csv',
 '../data/POST/instagram_shares_per_month_1.csv']

In [46]:
postfiles=glob.glob('../data/POST/*.csv')
postfiles

['../data/POST/postings.csv',
 '../data/POST/instagram_average_video_duration_of_reels_per_month.csv',
 '../data/POST/instagram_comments.csv',
 '../data/POST/instagram_saves_per_month_1.csv',
 '../data/POST/tiktok_average_engagement_rate_per_month.csv',
 '../data/POST/instagram_views_(reels).csv',
 '../data/POST/instagram_reels_likes_views_per_month.csv',
 '../data/POST/tiktok_likes_per_month.csv',
 '../data/POST/instagram_shares_per_month.csv',
 '../data/POST/tiktok_comments.csv',
 '../data/POST/tiktok_saves_views_per_month.csv',
 '../data/POST/tiktok_comments_views_per_month.csv',
 '../data/POST/profiles.csv',
 '../data/POST/tiktok_monthly_follower_growth_since_jan_24.csv',
 '../data/POST/instagram_views_(reels)_per_month_1.csv',
 '../data/POST/instagram_reels_shares_views_per_month.csv',
 '../data/POST/instagram_average_view_ratio.csv',
 '../data/POST/instagram_comments_per_month.csv',
 '../data/POST/tiktok_shares_per_month_1.csv',
 '../data/POST/instagram_saves.csv',
 '../data/POST/posting_preview.csv',
 '../data/POST/instagram_likes.csv',
 '../data/POST/tiktok_shares_per_month.csv',
 '../data/POST/instagram_saves_per_month.csv',
 '../data/POST/instagram_average_viewratio_per_month.csv',
 '../data/POST/tiktok_monthly_follower_growth_since_jan_24_1.csv',
 '../data/POST/instagram_shares.csv',
 '../data/POST/tiktok_average_video_duration.csv',
 '../data/POST/tiktok_likes.csv',
 '../data/POST/instagram_postings.csv',
 '../data/POST/instagram_reels_comments_views_per_month.csv',
 '../data/POST/tiktok_shares.csv',
 '../data/POST/tiktok_views_per_month.csv',
 '../data/POST/tiktok_saves.csv',
 '../data/POST/follower_growth_numbers_since_jan_24.csv',
 '../data/POST/tiktok_likes_views_per_month.csv',
 '../data/POST/total_postings.csv',
 '../data/POST/instagram_average_videoduration_of_reels_.csv',
 '../data/POST/instagram_views_(reels)_per_month.csv',
 '../data/POST/instagram_monthly_follower_growth_since_jan_24_1.csv',
 '../data/POST/instagram_comments_per_month_1.csv',
 '../data/POST/tiktok_average_view_ratio_per_month.csv',
 '../data/POST/tiktok_postings.csv',
 '../data/POST/ig_reels_postings.csv',
 '../data/POST/instagram_average_engagement_rate_of_reels_per_month.csv',
 '../data/POST/tiktok_views_per_month_1.csv',
 '../data/POST/instagram_assets_per_month.csv',
 '../data/POST/instagram_reels_saves_views_per_month.csv',
 '../data/POST/tiktok_saves_per_month_1.csv',
 '../data/POST/tiktok_views.csv',
 '../data/POST/assets_per_month.csv',
 '../data/POST/tiktok_average_video_duration__per_month.csv',
 '../data/POST/assets_per_post_type.csv',
 '../data/POST/tiktok_assets_per_month.csv',
 '../data/POST/brands.csv',
 '../data/POST/tiktok_shares_views_per_month.csv',
 '../data/POST/tiktok_saves_per_month.csv',
 '../data/POST/instagram_average_engagement_rate_of_reels_(by_follower)_per_month.csv',
 '../data/POST/instagram_monthly_follower_growth_since_jan_24.csv',
 '../data/POST/instagram_shares_per_month_1.csv',
 '../data/POST/tiktok_average_view_ratio.csv',
 '../data/POST/tiktok_likes_per_month_1.csv',
 '../data/POST/tiktok_average_engagement_rate_(by_follower)_per_month.csv',
 '../data/POST/assets_per_post_type_1.csv',
 '../data/POST/tiktoks.csv']

Also der fokus wäre: wer postet wo wie viel, 100 tage vor der Wahl und hundert tage danach, wie viele follower (achtung: Kanzler account wurde von Scholz auf merz übertragen), wie engaging sind die inhalte, welche themen etc. Aber es muss ja nciht alles eine Grafik dazu haben, vieles kann ich auch im Text aufnehmen

In [61]:
def dataread(filename):
    postdata_name=filename
    predata_name=postdata_name.replace('POST','PRE')
    postdata=pd.read_csv(postdata_name,thousands=',',decimal='.')
    predata=pd.read_csv(predata_name,thousands=',',decimal='.')
    return {"pre": predata, "post": postdata}

In [165]:
databundle_tiktoks=dataread('../data/POST/tiktok_postings.csv')
databundle_tiktoks

{'pre':   Firstname Of Influencer  Anzahl Postings
 0                   Alice              179
 1               Friedrich              127
 2        Dr. Markus Söder              120
 3                   Heidi               48
 4                    Lars               35
 5                   Felix               32
 6               Christian               16,
 'post':   Firstname Of Influencer  Anzahl Postings
 0           Bundeskanzler               93
 1        Dr. Markus Söder               85
 2                   Alice               33
 3                   Felix               30
 4                   Heidi               27
 5                    Lars               20
 6               Christian                5
 7               Friedrich                4}

In [166]:
databundle_tiktoks["pre"]

  Firstname Of Influencer  Anzahl Postings
0                   Alice              179
1               Friedrich              127
2        Dr. Markus Söder              120
3                   Heidi               48
4                    Lars               35
5                   Felix               32
6               Christian               16

In [167]:
databundle_tiktoks["post"]

  Firstname Of Influencer  Anzahl Postings
0           Bundeskanzler               93
1        Dr. Markus Söder               85
2                   Alice               33
3                   Felix               30
4                   Heidi               27
5                    Lars               20
6               Christian                5
7               Friedrich                4

In [168]:
df_postings_tiktok=pd.merge(predata,postdata, on="Firstname Of Influencer",how="outer",suffixes=('_pre','_post'))
df_postings_tiktok

  Firstname Of Influencer  Anzahl Postings_pre  Anzahl Postings_post
0                   Alice                179.0                    33
1           Bundeskanzler                  NaN                    93
2               Christian                 16.0                     5
3        Dr. Markus Söder                120.0                    85
4                   Felix                 32.0                    30
5               Friedrich                127.0                     4
6                   Heidi                 48.0                    27
7                    Lars                 35.0                    20

In [169]:
df_postings_tiktok.loc[8] = df_postings_tiktok.iloc[1].fillna(0) + df_postings_tiktok.iloc[5].fillna(0)
df_postings_tiktok

  Firstname Of Influencer  Anzahl Postings_pre  Anzahl Postings_post
0                   Alice                179.0                    33
1           Bundeskanzler                  NaN                    93
2               Christian                 16.0                     5
3        Dr. Markus Söder                120.0                    85
4                   Felix                 32.0                    30
5               Friedrich                127.0                     4
6                   Heidi                 48.0                    27
7                    Lars                 35.0                    20
8  BundeskanzlerFriedrich                127.0                    97

In [170]:

df_postings_tiktok=df_postings_tiktok.rename(columns={"Firstname Of Influencer":"Name"})
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Alice","Alice Weidel")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Christian","Christian Dürr")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Dr.","")

df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Felix","Felix Banaszak")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Heidi","Heidi Reichineck")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Lars","Lars Klingbeil")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("BundeskanzlerFriedrich","Friedrich Merz / Bundeskanzler")

df_postings_tiktok

                             Name  Anzahl Postings_pre  Anzahl Postings_post
0                    Alice Weidel                179.0                    33
1                   Bundeskanzler                  NaN                    93
2                  Christian Dürr                 16.0                     5
3                    Markus Söder                120.0                    85
4                  Felix Banaszak                 32.0                    30
5                       Friedrich                127.0                     4
6                Heidi Reichineck                 48.0                    27
7                  Lars Klingbeil                 35.0                    20
8  Friedrich Merz / Bundeskanzler                127.0                    97

In [171]:
df_postings_tiktok.to_csv("tiktok_postings_merged.csv", index=False)

In [172]:
likes_tiktoks=dataread('../data/POST/tiktok_likes_per_month_1.csv')
likes_tiktoks["pre"]

,Post Format,TikTok,TikTok.1,TikTok.2,TikTok.3,TikTok.4,TikTok.5,TikTok.6
0,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
1,Posting Date Month,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes
2,2025-02,"30,054.742857142868",222.16666666666666,"11,462.369565217392","1,406.5454545454547","11,011.586206896547","178,212.5","3,164.0555555555557"
3,2025-01,"26,236.965517241384","1,098.125","3,662.3823529411766",592.375,"4,395.019230769231","167,213.2380952381","2,398.5454545454545"
4,2024-12,"33,988.644444444435",43,"9,598.923076923078","1,930.8","1,060.8571428571427","99,153.33333333333",263.66666666666663
5,2024-11,"77,845.33333333333",27,"8,639.571428571428","1,395.375","3,039","72,375",282.3333333333333

In [173]:
likes_tiktoks["pre"].columns=likes_tiktoks["pre"].iloc[0]
likes_tiktoks["pre"]=likes_tiktoks["pre"].iloc[2:]
likes_tiktoks["pre"]

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-02,"30,054.742857142868",222.16666666666666,"11,462.369565217392","1,406.5454545454547","11,011.586206896547","178,212.5","3,164.0555555555557"
3,2025-01,"26,236.965517241384","1,098.125","3,662.3823529411766",592.375,"4,395.019230769231","167,213.2380952381","2,398.5454545454545"
4,2024-12,"33,988.644444444435",43,"9,598.923076923078","1,930.8","1,060.8571428571427","99,153.33333333333",263.66666666666663
5,2024-11,"77,845.33333333333",27,"8,639.571428571428","1,395.375","3,039","72,375",282.3333333333333

In [174]:
likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(pd.to_numeric, errors='coerce')

likes_tiktoks["pre"]

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/1598054216.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/1598054216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/1598054216.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(pd.to_numeric, errors='coerce')
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/1598054216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(pd.to_numeric, errors='coerce')

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-02,30054.742857,222.166667,11462.369565,1406.545455,11011.586207,178212.500000,3164.055556
3,2025-01,26236.965517,1098.125000,3662.382353,592.375000,4395.019231,167213.238095,2398.545455
4,2024-12,33988.644444,43.000000,9598.923077,1930.800000,1060.857143,99153.333333,263.666667
5,2024-11,77845.333333,27.000000,8639.571429,1395.375000,3039.000000,72375.000000,282.333333

In [175]:
likes_tiktoks["post"].columns=likes_tiktoks["post"].iloc[0]
likes_tiktoks["post"]=likes_tiktoks["post"].iloc[2:]
likes_tiktoks["post"]

,Firstname Of Influencer,Alice,Bundeskanzler,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-05,"155,915","1,019,399",226,"138,565","1,999","4,876","445,733","21,189"
3,2025-07,"140,757","283,367",232,"93,018","14,615","12,563","180,696","2,139"
4,2025-06,"44,625","1,689,813",446,"194,371","14,382",NaN,"371,905","5,211"
5,2025-08,NaN,"181,679",104,"116,483","3,136",NaN,"90,750",389

In [176]:
likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]]=likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]]=likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]].applymap(pd.to_numeric, errors='coerce')

likes_tiktoks["post"]

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/638996757.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]]=likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/638996757.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]]=likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]].applymap(pd.to_numeric, errors='coerce')

,Firstname Of Influencer,Alice,Bundeskanzler,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-05,155915.0,1019399,226,138565,1999,4876.0,445733,21189
3,2025-07,140757.0,283367,232,93018,14615,12563.0,180696,2139
4,2025-06,44625.0,1689813,446,194371,14382,NaN,371905,5211
5,2025-08,NaN,181679,104,116483,3136,NaN,90750,389

In [178]:
likes_tiktoks["pre"]

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-02,30054.742857,222.166667,11462.369565,1406.545455,11011.586207,178212.500000,3164.055556
3,2025-01,26236.965517,1098.125000,3662.382353,592.375000,4395.019231,167213.238095,2398.545455
4,2024-12,33988.644444,43.000000,9598.923077,1930.800000,1060.857143,99153.333333,263.666667
5,2024-11,77845.333333,27.000000,8639.571429,1395.375000,3039.000000,72375.000000,282.333333

In [179]:
df_pre_post_likes=pd.concat([likes_tiktoks["pre"], likes_tiktoks["post"]], ).sort_values(by=["Firstname Of Influencer"])
df_pre_post_likes

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars,Bundeskanzler
5,2024-11,77845.333333,27.000000,8639.571429,1395.375000,3039.000000,72375.000000,282.333333,NaN
4,2024-12,33988.644444,43.000000,9598.923077,1930.800000,1060.857143,99153.333333,263.666667,NaN
3,2025-01,26236.965517,1098.125000,3662.382353,592.375000,4395.019231,167213.238095,2398.545455,NaN
2,2025-02,30054.742857,222.166667,11462.369565,1406.545455,11011.586207,178212.500000,3164.055556,NaN
2,2025-05,155915.000000,226.000000,138565.000000,1999.000000,4876.000000,445733.000000,21189.000000,1019399.0
4,2025-06,44625.000000,446.000000,194371.000000,14382.000000,NaN,371905.000000,5211.000000,1689813.0
3,2025-07,140757.000000,232.000000,93018.000000,14615.000000,12563.000000,180696.000000,2139.000000,283367.0
5,2025-08,NaN,104.000000,116483.000000,3136.000000,NaN,90750.000000,389.000000,181679.0

In [180]:
df_pre_post_likes["BundeskanzlerFriedrich"]=df_pre_post_likes["Bundeskanzler"].fillna(0)+df_pre_post_likes["Friedrich"].fillna(0)
df_pre_post_likes

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars,Bundeskanzler,BundeskanzlerFriedrich
5,2024-11,77845.333333,27.000000,8639.571429,1395.375000,3039.000000,72375.000000,282.333333,NaN,3.039000e+03
4,2024-12,33988.644444,43.000000,9598.923077,1930.800000,1060.857143,99153.333333,263.666667,NaN,1.060857e+03
3,2025-01,26236.965517,1098.125000,3662.382353,592.375000,4395.019231,167213.238095,2398.545455,NaN,4.395019e+03
2,2025-02,30054.742857,222.166667,11462.369565,1406.545455,11011.586207,178212.500000,3164.055556,NaN,1.101159e+04
2,2025-05,155915.000000,226.000000,138565.000000,1999.000000,4876.000000,445733.000000,21189.000000,1019399.0,1.024275e+06
4,2025-06,44625.000000,446.000000,194371.000000,14382.000000,NaN,371905.000000,5211.000000,1689813.0,1.689813e+06
3,2025-07,140757.000000,232.000000,93018.000000,14615.000000,12563.000000,180696.000000,2139.000000,283367.0,2.959300e+05
5,2025-08,NaN,104.000000,116483.000000,3136.000000,NaN,90750.000000,389.000000,181679.0,1.816790e+05

In [181]:
df_likes_pre=df_pre_post_likes[df_pre_post_likes["Firstname Of Influencer"]<"2025-04"].sum()
df_likes_post=df_pre_post_likes[df_pre_post_likes["Firstname Of Influencer"]>"2025-04"].sum()
df_likes_post

0
Firstname Of Influencer    2025-052025-062025-072025-08
Alice                                          341297.0
Christian                                        1008.0
Dr. Markus Söder                               542437.0
Felix                                           34132.0
Friedrich                                       17439.0
Heidi                                         1089084.0
Lars                                            28928.0
Bundeskanzler                                 3174258.0
BundeskanzlerFriedrich                        3191697.0
dtype: object

In [182]:
df_pre_post=pd.concat([df_likes_pre,df_likes_post],axis=1)
df_pre_post

,0,1
0,,
Firstname Of Influencer,2024-112024-122025-012025-02,2025-052025-062025-072025-08
Alice,168125.686152,341297.0
Christian,1390.291667,1008.0
Dr. Markus Söder,33363.246424,542437.0
Felix,5325.095455,34132.0
Friedrich,19506.462581,17439.0
Heidi,516954.071429,1089084.0
Lars,6108.60101,28928.0
Bundeskanzler,0.0,3174258.0
BundeskanzlerFriedrich,19506.462581,3191697.0

In [183]:
df_pre_post.columns=["pre","post"]
df_pre_post=df_pre_post.reset_index()
df_pre_post

,0,pre,post
0,Firstname Of Influencer,2024-112024-122025-012025-02,2025-052025-062025-072025-08
1,Alice,168125.686152,341297.0
2,Christian,1390.291667,1008.0
3,Dr. Markus Söder,33363.246424,542437.0
4,Felix,5325.095455,34132.0
5,Friedrich,19506.462581,17439.0
6,Heidi,516954.071429,1089084.0
7,Lars,6108.60101,28928.0
8,Bundeskanzler,0.0,3174258.0
9,BundeskanzlerFriedrich,19506.462581,3191697.0

In [184]:
df_pre_post=df_pre_post.iloc[1:]
df_pre_post

                        0            pre       post
1                   Alice  168125.686152   341297.0
2               Christian    1390.291667     1008.0
3        Dr. Markus Söder   33363.246424   542437.0
4                   Felix    5325.095455    34132.0
5               Friedrich   19506.462581    17439.0
6                   Heidi  516954.071429  1089084.0
7                    Lars     6108.60101    28928.0
8           Bundeskanzler            0.0  3174258.0
9  BundeskanzlerFriedrich   19506.462581  3191697.0

In [185]:
df_pre_post["pre"]=df_pre_post["pre"].astype(int)
df_pre_post["post"]=df_pre_post["post"].astype(int)

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/535117436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pre_post["pre"]=df_pre_post["pre"].astype(int)
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/535117436.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pre_post["post"]=df_pre_post["post"].astype(int)

In [186]:
df_pre_post["diff"]=df_pre_post["post"]-df_pre_post["pre"]
df_pre_post

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/3731542334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pre_post["diff"]=df_pre_post["post"]-df_pre_post["pre"]

                        0     pre     post     diff
1                   Alice  168125   341297   173172
2               Christian    1390     1008     -382
3        Dr. Markus Söder   33363   542437   509074
4                   Felix    5325    34132    28807
5               Friedrich   19506    17439    -2067
6                   Heidi  516954  1089084   572130
7                    Lars    6108    28928    22820
8           Bundeskanzler       0  3174258  3174258
9  BundeskanzlerFriedrich   19506  3191697  3172191

In [187]:
df_pre_post=df_pre_post.rename(columns={0:"Name"})
df_pre_post

                     Name     pre     post     diff
1                   Alice  168125   341297   173172
2               Christian    1390     1008     -382
3        Dr. Markus Söder   33363   542437   509074
4                   Felix    5325    34132    28807
5               Friedrich   19506    17439    -2067
6                   Heidi  516954  1089084   572130
7                    Lars    6108    28928    22820
8           Bundeskanzler       0  3174258  3174258
9  BundeskanzlerFriedrich   19506  3191697  3172191

In [188]:
df_to_rename=df_pre_post
df_to_rename=df_to_rename.rename(columns={"Firstname Of Influencer":"Name"})
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Alice","Alice Weidel")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Christian","Christian Dürr")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Dr.","")

df_to_rename["Name"]=df_to_rename["Name"].str.replace("Felix","Felix Banaszak")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Heidi","Heidi Reichineck")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Lars","Lars Klingbeil")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("BundeskanzlerFriedrich","Friedrich Merz / Bundeskanzler")

df_pre_post=df_to_rename
df_pre_post

                             Name     pre     post     diff
1                    Alice Weidel  168125   341297   173172
2                  Christian Dürr    1390     1008     -382
3                    Markus Söder   33363   542437   509074
4                  Felix Banaszak    5325    34132    28807
5                       Friedrich   19506    17439    -2067
6                Heidi Reichineck  516954  1089084   572130
7                  Lars Klingbeil    6108    28928    22820
8                   Bundeskanzler       0  3174258  3174258
9  Friedrich Merz / Bundeskanzler   19506  3191697  3172191

In [190]:
df_pre_post.to_csv("tiktok_likes_pre_post.csv", index=False)

In [189]:
df_postings_tiktok

                             Name  Anzahl Postings_pre  Anzahl Postings_post
0                    Alice Weidel                179.0                    33
1                   Bundeskanzler                  NaN                    93
2                  Christian Dürr                 16.0                     5
3                    Markus Söder                120.0                    85
4                  Felix Banaszak                 32.0                    30
5                       Friedrich                127.0                     4
6                Heidi Reichineck                 48.0                    27
7                  Lars Klingbeil                 35.0                    20
8  Friedrich Merz / Bundeskanzler                127.0                    97

In [196]:
df_post_likes=pd.merge(df_pre_post,df_postings_tiktok, on="Name",how="outer",suffixes=('_likes','_postings'))
df_post_likes

,Name,pre,post,diff,Anzahl Postings_pre,Anzahl Postings_post
0,Markus Söder,33363,542437,509074,120.0,85
1,Alice Weidel,168125,341297,173172,179.0,33
2,Bundeskanzler,0,3174258,3174258,NaN,93
3,Christian Dürr,1390,1008,-382,16.0,5
4,Felix Banaszak,5325,34132,28807,32.0,30
5,Friedrich,19506,17439,-2067,127.0,4
6,Friedrich Merz / Bundeskanzler,19506,3191697,3172191,127.0,97
7,Heidi Reichineck,516954,1089084,572130,48.0,27
8,Lars Klingbeil,6108,28928,22820,35.0,20

In [198]:
df_post_likes.columns

Index(['Name', 'pre', 'post', 'diff', 'Anzahl Postings_pre',
       'Anzahl Postings_post'],
      dtype='object')

In [202]:
df_post_likes["ratio_pre"]=df_post_likes["pre"]/df_post_likes["Anzahl Postings_pre"]
df_post_likes["ratio_post"]=df_post_likes["post"]/df_post_likes["Anzahl Postings_post"]
df_post_likes

,Name,pre,post,diff,Anzahl Postings_pre,Anzahl Postings_post,ratio_pre,ratio_post
0,Markus Söder,33363,542437,509074,120.0,85,278.025000,6381.611765
1,Alice Weidel,168125,341297,173172,179.0,33,939.245810,10342.333333
2,Bundeskanzler,0,3174258,3174258,NaN,93,NaN,34131.806452
3,Christian Dürr,1390,1008,-382,16.0,5,86.875000,201.600000
4,Felix Banaszak,5325,34132,28807,32.0,30,166.406250,1137.733333
5,Friedrich,19506,17439,-2067,127.0,4,153.590551,4359.750000
6,Friedrich Merz / Bundeskanzler,19506,3191697,3172191,127.0,97,153.590551,32904.092784
7,Heidi Reichineck,516954,1089084,572130,48.0,27,10769.875000,40336.444444
8,Lars Klingbeil,6108,28928,22820,35.0,20,174.514286,1446.400000

In [203]:
df_post_likes.to_csv("tiktok_likes_postings_merged.csv", index=False)

In [205]:
df_post_likes=df_post_likes[df_post_likes["Name"]!="Bundeskanzler"]
df_post_likes=df_post_likes[df_post_likes["Name"]!="Friedrich"]
df_post_likes

,Name,pre,post,diff,Anzahl Postings_pre,Anzahl Postings_post,ratio_pre,ratio_post
0,Markus Söder,33363,542437,509074,120.0,85,278.025000,6381.611765
1,Alice Weidel,168125,341297,173172,179.0,33,939.245810,10342.333333
3,Christian Dürr,1390,1008,-382,16.0,5,86.875000,201.600000
4,Felix Banaszak,5325,34132,28807,32.0,30,166.406250,1137.733333
6,Friedrich Merz / Bundeskanzler,19506,3191697,3172191,127.0,97,153.590551,32904.092784
7,Heidi Reichineck,516954,1089084,572130,48.0,27,10769.875000,40336.444444
8,Lars Klingbeil,6108,28928,22820,35.0,20,174.514286,1446.400000

In [206]:
df_post_likes_red=df_post_likes.drop(["pre","post","diff","Anzahl Postings_pre","Anzahl Postings_post"], axis=1)
df_post_likes_red

                             Name     ratio_pre    ratio_post
0                    Markus Söder    278.025000   6381.611765
1                    Alice Weidel    939.245810  10342.333333
3                  Christian Dürr     86.875000    201.600000
4                  Felix Banaszak    166.406250   1137.733333
6  Friedrich Merz / Bundeskanzler    153.590551  32904.092784
7                Heidi Reichineck  10769.875000  40336.444444
8                  Lars Klingbeil    174.514286   1446.400000

In [207]:
df_post_likes_red.T

,0,1,3,4,6,7,8
Name,Markus Söder,Alice Weidel,Christian Dürr,Felix Banaszak,Friedrich Merz / Bundeskanzler,Heidi Reichineck,Lars Klingbeil
ratio_pre,278.025,939.24581,86.875,166.40625,153.590551,10769.875,174.514286
ratio_post,6381.611765,10342.333333,201.6,1137.733333,32904.092784,40336.444444,1446.4

In [208]:
df_post_likes_red.T.to_csv("tiktok_likes_postings_merged_reduced.csv", index=True)

In [210]:
databundle_tiktoks=dataread('../data/POST/tiktok_comments_views_per_month.csv')
databundle_tiktoks

{'pre':   Firstname Of Influencer                 Alice              Christian  \
 0      Posting Date Month    Comments Per Views     Comments Per Views
 1                 2025-02  0.005610590392014886   0.009580838323353293
 2                 2025-01  0.006238047837120831   0.012494884228541664
 3                 2024-12   0.00426358537284716  0.0041841004184100415
 4                 2024-11  0.005448822259997035  0.0057283142389525366

        Dr. Markus Söder                 Felix             Friedrich  \
 0    Comments Per Views    Comments Per Views    Comments Per Views
 1  0.003032660843173944  0.016629124155293495  0.004321926821956834
 2  0.006461393541550146  0.032742815943969515  0.008872766385987482
 3  0.005724018710286242  0.027895637933601312  0.010135512008031915
 4  0.004612667554070157  0.012732903091495785  0.017531942050344092

                    Heidi                  Lars
 0     Comments Per Views    Comments Per Views
 1  0.0018219333234845128  0.007078877753541486
 2  0.0022917654109748304  0.006531228267463711
 3  0.0019146513102055287  0.008849603807630953
 4   0.002087239095113111   0.02920831897046995  ,
 'post':   Firstname Of Influencer                 Alice          Bundeskanzler  \
 0      Posting Date Month    Comments Per Views     Comments Per Views
 1                 2025-08                   NaN  0.0052719466977171805
 2                 2025-07  0.004470453376509852   0.005135892437351323
 3                 2025-06  0.007159408234804825  0.0024886781235020318
 4                 2025-05  0.009149227985157474   0.003168785589644805

                Christian       Dr. Markus Söder                 Felix  \
 0     Comments Per Views     Comments Per Views    Comments Per Views
 1   0.009632224168126095   0.010195295218726629   0.00926027097902098
 2    0.00858034321372855  0.0032099948821046145   0.01055770330946726
 3   0.002717391304347826   0.002783161870682372  0.007384623910664062
 4  0.0024074631357207344    0.00608547288396162  0.009513477426354002

               Friedrich                  Heidi                  Lars
 0    Comments Per Views     Comments Per Views    Comments Per Views
 1                   NaN   0.002896309926938949  0.013820694671758501
 2  0.010234878451775694  0.0066896402900104785  0.011103818210623995
 3                   NaN   0.006127588761961509  0.015879688820508376
 4  0.019004416498240886   0.004463159017257825   0.00595535355774088  }