In [1]:
import pandas as pd
import glob

In [38]:
prefiles=glob.glob('../data/PRE_02/instagram*.csv')
prefiles

['../data/PRE_02/instagram_reels_comments_view_per_month.csv',
 '../data/PRE_02/instagram_comments.csv',
 '../data/PRE_02/instagram_reels_likes_view_per_month.csv',
 '../data/PRE_02/instagram_views_(reels).csv',
 '../data/PRE_02/instagram_shares_1.csv',
 '../data/PRE_02/instagram_reels_shares_view_per_month.csv',
 '../data/PRE_02/instagram_likes_1.csv',
 '../data/PRE_02/instagram_views_(reels)_per_month_1.csv',
 '../data/PRE_02/instagram_postings_per_month.csv',
 '../data/PRE_02/instagram_likes.csv',
 '../data/PRE_02/instagram_shares.csv',
 '../data/PRE_02/instagram_average_video_duration_of_reels_.csv',
 '../data/PRE_02/instagram_postings.csv',
 '../data/PRE_02/instagram_follower_(current_date).csv',
 '../data/PRE_02/instagram_views_(reels)_per_month.csv',
 '../data/PRE_02/instagram_average_engagement_rate_of_reels_per_month.csv',
 "../data/PRE_02/instagram_monthly_follower_growth_since_january_'24.csv",
 '../data/PRE_02/instagram_comments_1.csv',
 '../data/PRE_02/instagram_views_(reels)_1.csv']

In [39]:
postfiles=glob.glob('../data/POST_02/instagram*.csv')
postfiles

['../data/POST_02/instagram_reels_comments_view_per_month.csv',
 '../data/POST_02/instagram_comments.csv',
 '../data/POST_02/instagram_reels_likes_view_per_month.csv',
 '../data/POST_02/instagram_views_(reels).csv',
 '../data/POST_02/instagram_shares_1.csv',
 '../data/POST_02/instagram_reels_shares_view_per_month.csv',
 '../data/POST_02/instagram_likes_1.csv',
 '../data/POST_02/instagram_views_(reels)_per_month_1.csv',
 '../data/POST_02/instagram_postings_per_month.csv',
 '../data/POST_02/instagram_likes.csv',
 '../data/POST_02/instagram_shares.csv',
 '../data/POST_02/instagram_average_video_duration_of_reels_.csv',
 '../data/POST_02/instagram_postings.csv',
 '../data/POST_02/instagram_follower_(current_date).csv',
 '../data/POST_02/instagram_views_(reels)_per_month.csv',
 '../data/POST_02/instagram_average_engagement_rate_of_reels_per_month.csv',
 "../data/POST_02/instagram_monthly_follower_growth_since_january_'24.csv",
 '../data/POST_02/instagram_comments_1.csv',
 '../data/POST_02/instagram_views_(reels)_1.csv']

In [40]:
postfiles=glob.glob('../data/POST_02/tiktok*.csv')
postfiles

['../data/POST_02/tiktok_comments_view_per_month.csv',
 '../data/POST_02/tiktok_average_engagement_rate_per_month.csv',
 '../data/POST_02/tiktok_views_1.csv',
 '../data/POST_02/tiktok_comments.csv',
 '../data/POST_02/tiktok_shares_1.csv',
 '../data/POST_02/tiktok_follower_(current_date).csv',
 '../data/POST_02/tiktok_likes_1.csv',
 '../data/POST_02/tiktok_average_video_duration.csv',
 "../data/POST_02/tiktok_monthly_follower_growth_since_january_'24.csv",
 '../data/POST_02/tiktok_likes.csv',
 '../data/POST_02/tiktok_shares.csv',
 '../data/POST_02/tiktok_views_per_month.csv',
 '../data/POST_02/tiktok_postings_per_month.csv',
 '../data/POST_02/tiktok_saves.csv',
 '../data/POST_02/tiktok_shares_view_per_month.csv',
 '../data/POST_02/tiktok_saves_1.csv',
 '../data/POST_02/tiktok_likes_view_per_month.csv',
 '../data/POST_02/tiktok_postings.csv',
 '../data/POST_02/tiktok_views_per_month_1.csv',
 '../data/POST_02/tiktok_views.csv',
 '../data/POST_02/tiktok_comments_1.csv']

Also der fokus wäre: wer postet wo wie viel, 100 tage vor der Wahl und hundert tage danach, wie viele follower (achtung: Kanzler account wurde von Scholz auf merz übertragen), wie engaging sind die inhalte, welche themen etc. Aber es muss ja nciht alles eine Grafik dazu haben, vieles kann ich auch im Text aufnehmen

In [41]:
def dataread(filename):
    postdata_name=filename
    predata_name=postdata_name.replace('POST','PRE')
    postdata=pd.read_csv(postdata_name,thousands=',',decimal='.')
    predata=pd.read_csv(predata_name,thousands=',',decimal='.')
    return {"pre": predata, "post": postdata}

In [42]:
databundle_insta=dataread('../data/POST_02/instagram_postings.csv')
databundle_insta

{'pre':          Firstname Of Influencer  Anzahl Postings
 0               Dr. Markus Söder              422
 1                          Alice              296
 2                      Friedrich              192
 3                           Olaf              160
 4  Bundeskanzler Scholz (ARCHIV)              105
 5                      Christian               94
 6                           Lars               74
 7                          Felix               51
 8                          Heidi               47,
 'post':   Firstname Of Influencer  Anzahl Postings
 0        Dr. Markus Söder              371
 1           Bundeskanzler              138
 2                   Felix               66
 3                   Alice               65
 4                    Lars               53
 5                    Olaf               35
 6               Christian               33
 7                   Heidi               21
 8               Friedrich                8}

In [43]:
databundle_insta["pre"]

         Firstname Of Influencer  Anzahl Postings
0               Dr. Markus Söder              422
1                          Alice              296
2                      Friedrich              192
3                           Olaf              160
4  Bundeskanzler Scholz (ARCHIV)              105
5                      Christian               94
6                           Lars               74
7                          Felix               51
8                          Heidi               47

In [44]:
databundle_insta["post"]

  Firstname Of Influencer  Anzahl Postings
0        Dr. Markus Söder              371
1           Bundeskanzler              138
2                   Felix               66
3                   Alice               65
4                    Lars               53
5                    Olaf               35
6               Christian               33
7                   Heidi               21
8               Friedrich                8

In [45]:
df_postings_insta=pd.merge(databundle_insta["pre"],databundle_insta["post"], on="Firstname Of Influencer",how="outer",suffixes=('_pre','_post'))
df_postings_insta

         Firstname Of Influencer  Anzahl Postings_pre  Anzahl Postings_post
0                          Alice                296.0                  65.0
1                  Bundeskanzler                  NaN                 138.0
2  Bundeskanzler Scholz (ARCHIV)                105.0                   NaN
3                      Christian                 94.0                  33.0
4               Dr. Markus Söder                422.0                 371.0
5                          Felix                 51.0                  66.0
6                      Friedrich                192.0                   8.0
7                          Heidi                 47.0                  21.0
8                           Lars                 74.0                  53.0
9                           Olaf                160.0                  35.0

In [46]:

df_postings_insta=df_postings_insta.rename(columns={"Firstname Of Influencer":"Name"})
df_postings_insta["Name"]=df_postings_insta["Name"].str.replace("Alice","Alice Weidel")
df_postings_insta["Name"]=df_postings_insta["Name"].str.replace("Christian","Christian Dürr")
df_postings_insta["Name"]=df_postings_insta["Name"].str.replace("Dr.","")
df_postings_insta["Name"]=df_postings_insta["Name"].str.replace("Friedrich","Friedrich Merz")

df_postings_insta["Name"]=df_postings_insta["Name"].str.replace("Felix","Felix Banaszak")
df_postings_insta["Name"]=df_postings_insta["Name"].str.replace("Heidi","Heidi Reichinneck")
df_postings_insta["Name"]=df_postings_insta["Name"].str.replace("Lars","Lars Klingbeil")
df_postings_insta["Name"]=df_postings_insta["Name"].str.replace("Olaf","Olaf Scholz")

df_postings_insta

                            Name  Anzahl Postings_pre  Anzahl Postings_post
0                   Alice Weidel                296.0                  65.0
1                  Bundeskanzler                  NaN                 138.0
2  Bundeskanzler Scholz (ARCHIV)                105.0                   NaN
3                 Christian Dürr                 94.0                  33.0
4                   Markus Söder                422.0                 371.0
5                 Felix Banaszak                 51.0                  66.0
6                 Friedrich Merz                192.0                   8.0
7              Heidi Reichinneck                 47.0                  21.0
8                 Lars Klingbeil                 74.0                  53.0
9                    Olaf Scholz                160.0                  35.0

In [47]:
df_postings_insta.loc[10]=df_postings_insta.iloc[1].fillna(0)+df_postings_insta.iloc[2].fillna(0)
df_postings_insta

,Name,Anzahl Postings_pre,Anzahl Postings_post
0,Alice Weidel,296.0,65.0
1,Bundeskanzler,NaN,138.0
2,Bundeskanzler Scholz (ARCHIV),105.0,NaN
3,Christian Dürr,94.0,33.0
4,Markus Söder,422.0,371.0
5,Felix Banaszak,51.0,66.0
6,Friedrich Merz,192.0,8.0
7,Heidi Reichinneck,47.0,21.0
8,Lars Klingbeil,74.0,53.0
9,Olaf Scholz,160.0,35.0
10,BundeskanzlerBundeskanzler Scholz (ARCHIV),105.0,138.0

In [48]:
df_postings_insta.drop([1,2], inplace=True)
df_postings_insta.Name=df_postings_insta.Name.str.replace("BundeskanzlerBundeskanzler Scholz (ARCHIV)","Bundeskanzler")

In [49]:
df_postings_insta.Name=df_postings_insta.Name.str.replace("BundeskanzlerBundeskanzler Scholz (ARCHIV)","Bundeskanzler")

In [50]:
df_postings_insta

                 Name  Anzahl Postings_pre  Anzahl Postings_post
0        Alice Weidel                296.0                  65.0
3      Christian Dürr                 94.0                  33.0
4        Markus Söder                422.0                 371.0
5      Felix Banaszak                 51.0                  66.0
6      Friedrich Merz                192.0                   8.0
7   Heidi Reichinneck                 47.0                  21.0
8      Lars Klingbeil                 74.0                  53.0
9         Olaf Scholz                160.0                  35.0
10      Bundeskanzler                105.0                 138.0

In [51]:
df_postings_insta.to_csv("instagram_postings_merged.csv", index=False)

In [52]:
likes_insta=dataread('../data/POST_02/instagram_likes.csv')
likes_insta["pre"]

         Firstname Of Influencer    Likes
0                          Alice  7587239
1  Bundeskanzler Scholz (ARCHIV)  1226100
2                      Christian    58520
3               Dr. Markus Söder  4002699
4                          Felix   266808
5                      Friedrich  1170591
6                          Heidi  1275403
7                           Lars   197865
8                           Olaf   811399

In [53]:
df_pre_post_likes=pd.merge(likes_insta["pre"],likes_insta["post"], on="Firstname Of Influencer",how="outer",suffixes=('_pre','_post'))
df_pre_post_likes

         Firstname Of Influencer  Likes_pre  Likes_post
0                          Alice  7587239.0   2155591.0
1                  Bundeskanzler        NaN   4248737.0
2  Bundeskanzler Scholz (ARCHIV)  1226100.0         NaN
3                      Christian    58520.0     35679.0
4               Dr. Markus Söder  4002699.0   2664930.0
5                          Felix   266808.0    566099.0
6                      Friedrich  1170591.0     70346.0
7                          Heidi  1275403.0   1002228.0
8                           Lars   197865.0    113846.0
9                           Olaf   811399.0    608606.0

In [54]:

df_pre_post_likes=df_pre_post_likes.rename(columns={"Firstname Of Influencer":"Name"})
df_pre_post_likes["Name"]=df_pre_post_likes["Name"].str.replace("Alice","Alice Weidel")
df_pre_post_likes["Name"]=df_pre_post_likes["Name"].str.replace("Christian","Christian Dürr")
df_pre_post_likes["Name"]=df_pre_post_likes["Name"].str.replace("Dr.","")
df_pre_post_likes["Name"]=df_pre_post_likes["Name"].str.replace("Friedrich","Friedrich Merz")

df_pre_post_likes["Name"]=df_pre_post_likes["Name"].str.replace("Felix","Felix Banaszak")
df_pre_post_likes["Name"]=df_pre_post_likes["Name"].str.replace("Heidi","Heidi Reichinneck")
df_pre_post_likes["Name"]=df_pre_post_likes["Name"].str.replace("Lars","Lars Klingbeil")
df_pre_post_likes["Name"]=df_pre_post_likes["Name"].str.replace("Olaf","Olaf Scholz")

df_pre_post_likes

                            Name  Likes_pre  Likes_post
0                   Alice Weidel  7587239.0   2155591.0
1                  Bundeskanzler        NaN   4248737.0
2  Bundeskanzler Scholz (ARCHIV)  1226100.0         NaN
3                 Christian Dürr    58520.0     35679.0
4                   Markus Söder  4002699.0   2664930.0
5                 Felix Banaszak   266808.0    566099.0
6                 Friedrich Merz  1170591.0     70346.0
7              Heidi Reichinneck  1275403.0   1002228.0
8                 Lars Klingbeil   197865.0    113846.0
9                    Olaf Scholz   811399.0    608606.0

In [ ]:
df_pre_post_likes.loc[10]=df_pre_post_likes.iloc[1].fillna(0)+df_pre_post_likes.iloc[2].fillna(0)
df_pre_post_likes.Name=df_pre_post_likes.Name.str.replace("BundeskanzlerBundeskanzler Scholz (ARCHIV)","Bundeskanzler")
df_pre_post_likes.drop([1,2], inplace=True)
df_pre_post_likes

                             Name  Likes_pre  Likes_post
0                    Alice Weidel  7587239.0   2155591.0
1                   Bundeskanzler        NaN   4248737.0
2   Bundeskanzler Scholz (ARCHIV)  1226100.0         NaN
3                  Christian Dürr    58520.0     35679.0
4                    Markus Söder  4002699.0   2664930.0
5                  Felix Banaszak   266808.0    566099.0
6                  Friedrich Merz  1170591.0     70346.0
7               Heidi Reichinneck  1275403.0   1002228.0
8                  Lars Klingbeil   197865.0    113846.0
9                     Olaf Scholz   811399.0    608606.0
10                  Bundeskanzler  1226100.0   4248737.0

In [57]:
df_pre_post_likes

                 Name  Likes_pre  Likes_post
0        Alice Weidel  7587239.0   2155591.0
3      Christian Dürr    58520.0     35679.0
4        Markus Söder  4002699.0   2664930.0
5      Felix Banaszak   266808.0    566099.0
6      Friedrich Merz  1170591.0     70346.0
7   Heidi Reichinneck  1275403.0   1002228.0
8      Lars Klingbeil   197865.0    113846.0
9         Olaf Scholz   811399.0    608606.0
10      Bundeskanzler  1226100.0   4248737.0

In [58]:
df_pre_post_likes.to_csv("instagram_likes_pre_post.csv", index=False)

In [59]:
df_per_post_likes=pd.merge(df_pre_post_likes,df_postings_insta, on="Name",how="outer",suffixes=('_likes','_postings'))
df_per_post_likes

,Name,Likes_pre,Likes_post,Anzahl Postings_pre,Anzahl Postings_post
0,Markus Söder,4002699.0,2664930.0,422.0,371.0
1,Alice Weidel,7587239.0,2155591.0,296.0,65.0
2,Bundeskanzler,1226100.0,4248737.0,105.0,138.0
3,Christian Dürr,58520.0,35679.0,94.0,33.0
4,Felix Banaszak,266808.0,566099.0,51.0,66.0
5,Friedrich Merz,1170591.0,70346.0,192.0,8.0
6,Heidi Reichinneck,1275403.0,1002228.0,47.0,21.0
7,Lars Klingbeil,197865.0,113846.0,74.0,53.0
8,Olaf Scholz,811399.0,608606.0,160.0,35.0

In [60]:
df_per_post_likes["ratio_pre"]=df_per_post_likes["Likes_pre"]/df_per_post_likes["Anzahl Postings_pre"]
df_per_post_likes["ratio_post"]=df_per_post_likes["Likes_post"]/df_per_post_likes["Anzahl Postings_post"]
df_per_post_likes

,Name,Likes_pre,Likes_post,Anzahl Postings_pre,Anzahl Postings_post,ratio_pre,ratio_post
0,Markus Söder,4002699.0,2664930.0,422.0,371.0,9485.068720,7183.099730
1,Alice Weidel,7587239.0,2155591.0,296.0,65.0,25632.564189,33162.938462
2,Bundeskanzler,1226100.0,4248737.0,105.0,138.0,11677.142857,30787.949275
3,Christian Dürr,58520.0,35679.0,94.0,33.0,622.553191,1081.181818
4,Felix Banaszak,266808.0,566099.0,51.0,66.0,5231.529412,8577.257576
5,Friedrich Merz,1170591.0,70346.0,192.0,8.0,6096.828125,8793.250000
6,Heidi Reichinneck,1275403.0,1002228.0,47.0,21.0,27136.234043,47725.142857
7,Lars Klingbeil,197865.0,113846.0,74.0,53.0,2673.851351,2148.037736
8,Olaf Scholz,811399.0,608606.0,160.0,35.0,5071.243750,17388.742857

In [61]:
df_per_post_likes.to_csv("insta_likes_postings_merged.csv", index=False)

In [62]:

df_per_post_likes_red=df_per_post_likes.drop(["Likes_pre","Likes_post","Anzahl Postings_pre","Anzahl Postings_post"], axis=1)
df_per_post_likes_red

                Name     ratio_pre    ratio_post
0       Markus Söder   9485.068720   7183.099730
1       Alice Weidel  25632.564189  33162.938462
2      Bundeskanzler  11677.142857  30787.949275
3     Christian Dürr    622.553191   1081.181818
4     Felix Banaszak   5231.529412   8577.257576
5     Friedrich Merz   6096.828125   8793.250000
6  Heidi Reichinneck  27136.234043  47725.142857
7     Lars Klingbeil   2673.851351   2148.037736
8        Olaf Scholz   5071.243750  17388.742857

In [63]:
df_per_post_likes_red.T

,0,1,2,3,4,5,6,7,8
Name,Markus Söder,Alice Weidel,Bundeskanzler,Christian Dürr,Felix Banaszak,Friedrich Merz,Heidi Reichinneck,Lars Klingbeil,Olaf Scholz
ratio_pre,9485.06872,25632.564189,11677.142857,622.553191,5231.529412,6096.828125,27136.234043,2673.851351,5071.24375
ratio_post,7183.09973,33162.938462,30787.949275,1081.181818,8577.257576,8793.25,47725.142857,2148.037736,17388.742857

In [64]:
df_per_post_likes_red.T.to_csv("insta_likes_postings_merged_reduced.csv", index=True)

               Name  Likes_pre  Likes_post
0      Alice Weidel    6925863      348417
1     Bundeskanzler    1612307     3211818
2    Christian Dürr      10202        1030
3      Markus Söder    1118846      584174
4    Felix Banaszak      41036       34969
5    Friedrich Merz    1137196       18451
6  Heidi Reichineck    6717912     1109195
7    Lars Klingbeil      84987       29065
8       Olaf Scholz    6788871      853722

In [66]:
df_comments_insta=dataread('../data/POST_02/instagram_comments.csv')
df_comments_insta

{'pre':          Firstname Of Influencer  Comments
 0                          Alice    339276
 1  Bundeskanzler Scholz (ARCHIV)     81894
 2                      Christian      3207
 3               Dr. Markus Söder    208761
 4                          Felix      7732
 5                      Friedrich    167712
 6                          Heidi     21219
 7                           Lars     13780
 8                           Olaf     49991,
 'post':   Firstname Of Influencer  Comments
 0                   Alice    110052
 1           Bundeskanzler    280713
 2               Christian      2638
 3        Dr. Markus Söder    135917
 4                   Felix     21917
 5               Friedrich     24482
 6                   Heidi     38850
 7                    Lars     13854
 8                    Olaf     20480}

In [67]:
df_comments_insta["pre"]["Comments"]=df_comments_insta["pre"]["Comments"].astype(int)
df_comments_insta["post"]["Comments"]=df_comments_insta["post"]["Comments"].astype(int)
df_comments_insta

{'pre':          Firstname Of Influencer  Comments
 0                          Alice    339276
 1  Bundeskanzler Scholz (ARCHIV)     81894
 2                      Christian      3207
 3               Dr. Markus Söder    208761
 4                          Felix      7732
 5                      Friedrich    167712
 6                          Heidi     21219
 7                           Lars     13780
 8                           Olaf     49991,
 'post':   Firstname Of Influencer  Comments
 0                   Alice    110052
 1           Bundeskanzler    280713
 2               Christian      2638
 3        Dr. Markus Söder    135917
 4                   Felix     21917
 5               Friedrich     24482
 6                   Heidi     38850
 7                    Lars     13854
 8                    Olaf     20480}

In [71]:
df_comments_insta_merged=pd.merge(df_comments_insta["pre"],df_comments_insta["post"], on="Firstname Of Influencer",how="outer",suffixes=('_pre','_post')).fillna(0)
df_comments_insta_merged=df_comments_insta_merged.rename(columns={"Firstname Of Influencer":"Name"})

df_comments_insta_merged

                            Name  Comments_pre  Comments_post
0                          Alice      339276.0       110052.0
1                  Bundeskanzler           0.0       280713.0
2  Bundeskanzler Scholz (ARCHIV)       81894.0            0.0
3                      Christian        3207.0         2638.0
4               Dr. Markus Söder      208761.0       135917.0
5                          Felix        7732.0        21917.0
6                      Friedrich      167712.0        24482.0
7                          Heidi       21219.0        38850.0
8                           Lars       13780.0        13854.0
9                           Olaf       49991.0        20480.0

In [73]:
df_comments_insta_merged.loc[10]=df_comments_insta_merged.iloc[1].fillna(0)+df_comments_insta_merged.iloc[2].fillna(0)
df_comments_insta_merged.Name=df_comments_insta_merged.Name.str.replace("BundeskanzlerBundeskanzler Scholz (ARCHIV)","Bundeskanzler")
df_comments_insta_merged

                             Name  Comments_pre  Comments_post
0                           Alice      339276.0       110052.0
1                   Bundeskanzler           0.0       280713.0
2   Bundeskanzler Scholz (ARCHIV)       81894.0            0.0
3                       Christian        3207.0         2638.0
4                Dr. Markus Söder      208761.0       135917.0
5                           Felix        7732.0        21917.0
6                       Friedrich      167712.0        24482.0
7                           Heidi       21219.0        38850.0
8                            Lars       13780.0        13854.0
9                            Olaf       49991.0        20480.0
10                  Bundeskanzler       81894.0       280713.0

In [74]:
df_comments_insta_merged.drop([1,2], inplace=True)
df_comments_insta_merged

                Name  Comments_pre  Comments_post
0              Alice      339276.0       110052.0
3          Christian        3207.0         2638.0
4   Dr. Markus Söder      208761.0       135917.0
5              Felix        7732.0        21917.0
6          Friedrich      167712.0        24482.0
7              Heidi       21219.0        38850.0
8               Lars       13780.0        13854.0
9               Olaf       49991.0        20480.0
10     Bundeskanzler       81894.0       280713.0

In [75]:
df_to_rename=df_comments_insta_merged
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Alice","Alice Weidel")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Christian","Christian Dürr")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Dr.","")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Friedrich","Friedrich Merz")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Olaf","Olaf Scholz")

df_to_rename["Name"]=df_to_rename["Name"].str.replace("Felix","Felix Banaszak")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Heidi","Heidi Reichinneck")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Lars","Lars Klingbeil")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("BundeskanzlerFriedrich","Friedrich Merz / Bundeskanzler")
df_comments_insta_merged=df_to_rename
df_comments_insta_merged

                 Name  Comments_pre  Comments_post
0        Alice Weidel      339276.0       110052.0
3      Christian Dürr        3207.0         2638.0
4        Markus Söder      208761.0       135917.0
5      Felix Banaszak        7732.0        21917.0
6      Friedrich Merz      167712.0        24482.0
7   Heidi Reichinneck       21219.0        38850.0
8      Lars Klingbeil       13780.0        13854.0
9         Olaf Scholz       49991.0        20480.0
10      Bundeskanzler       81894.0       280713.0

In [76]:
df_post_comments_postings=pd.merge(df_comments_insta_merged,df_postings_insta, on="Name",how="outer",suffixes=('_likes','_postings'))
df_post_comments_postings

,Name,Comments_pre,Comments_post,Anzahl Postings_pre,Anzahl Postings_post
0,Markus Söder,208761.0,135917.0,422.0,371.0
1,Alice Weidel,339276.0,110052.0,296.0,65.0
2,Bundeskanzler,81894.0,280713.0,105.0,138.0
3,Christian Dürr,3207.0,2638.0,94.0,33.0
4,Felix Banaszak,7732.0,21917.0,51.0,66.0
5,Friedrich Merz,167712.0,24482.0,192.0,8.0
6,Heidi Reichinneck,21219.0,38850.0,47.0,21.0
7,Lars Klingbeil,13780.0,13854.0,74.0,53.0
8,Olaf Scholz,49991.0,20480.0,160.0,35.0

In [77]:
df_post_comments_postings["Comments_per_post_pre"]=df_post_comments_postings["Comments_pre"]/df_post_comments_postings["Anzahl Postings_pre"]
df_post_comments_postings["Comments_per_post_post"]=df_post_comments_postings["Comments_post"]/df_post_comments_postings["Anzahl Postings_post"]
df_post_comments_postings

,Name,Comments_pre,Comments_post,Anzahl Postings_pre,Anzahl Postings_post,Comments_per_post_pre,Comments_per_post_post
0,Markus Söder,208761.0,135917.0,422.0,371.0,494.694313,366.353100
1,Alice Weidel,339276.0,110052.0,296.0,65.0,1146.202703,1693.107692
2,Bundeskanzler,81894.0,280713.0,105.0,138.0,779.942857,2034.152174
3,Christian Dürr,3207.0,2638.0,94.0,33.0,34.117021,79.939394
4,Felix Banaszak,7732.0,21917.0,51.0,66.0,151.607843,332.075758
5,Friedrich Merz,167712.0,24482.0,192.0,8.0,873.500000,3060.250000
6,Heidi Reichinneck,21219.0,38850.0,47.0,21.0,451.468085,1850.000000
7,Lars Klingbeil,13780.0,13854.0,74.0,53.0,186.216216,261.396226
8,Olaf Scholz,49991.0,20480.0,160.0,35.0,312.443750,585.142857

In [78]:
df_post_comments_postings.to_csv("insta_comments_postings_merged.csv", index=False)

In [79]:
df_post_comments_postings_red=df_post_comments_postings.drop(["Comments_pre","Comments_post","Anzahl Postings_pre","Anzahl Postings_post"], axis=1)
df_post_comments_postings_red

                Name  Comments_per_post_pre  Comments_per_post_post
0       Markus Söder             494.694313              366.353100
1       Alice Weidel            1146.202703             1693.107692
2      Bundeskanzler             779.942857             2034.152174
3     Christian Dürr              34.117021               79.939394
4     Felix Banaszak             151.607843              332.075758
5     Friedrich Merz             873.500000             3060.250000
6  Heidi Reichinneck             451.468085             1850.000000
7     Lars Klingbeil             186.216216              261.396226
8        Olaf Scholz             312.443750              585.142857

In [81]:
df_post_comments_postings_red.T

,0,1,2,3,4,5,6,7,8
Name,Markus Söder,Alice Weidel,Bundeskanzler,Christian Dürr,Felix Banaszak,Friedrich Merz,Heidi Reichinneck,Lars Klingbeil,Olaf Scholz
Comments_per_post_pre,494.694313,1146.202703,779.942857,34.117021,151.607843,873.5,451.468085,186.216216,312.44375
Comments_per_post_post,366.3531,1693.107692,2034.152174,79.939394,332.075758,3060.25,1850.0,261.396226,585.142857

In [82]:
df_post_comments_postings_red.T.to_csv("insta_comments_postings_merged_reduced.csv", index=True)

In [76]:
follower_growth=pd.read_csv("../data/POST/tiktok_monthly_follower_growth_since_jan_24.csv")
follower_growth

,Unnamed: 0,Firstname Of Influencer,Alice,Bundeskanzler,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
0,NaN,Month,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut
1,1.0,2025-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,2025-07,NaN,7936,47,4925,322,NaN,276,161
3,3.0,2025-06,67,25807,96,2829,908,NaN,995,426
4,4.0,2025-05,189,65588,13,4948,928,NaN,2811,621
5,5.0,2025-04,9537,46394,NaN,5686,-2219,224,4015,3325
6,6.0,2025-03,5813,NaN,NaN,3179,0,3982,-8401,275
7,7.0,2025-02,13225,NaN,399,10158,0,32758,0,3278
8,8.0,2025-01,171929,NaN,104,15262,0,90726,0,3019
9,9.0,2024-12,179755,NaN,0,7001,0,14089,0,570
10,10.0,2024-11,179440,NaN,0,11469,0,11460,0,60
11,11.0,2024-10,78805,NaN,0,11528,0,697,0,172
12,12.0,2024-09,5883,NaN,NaN,8966,0,5786,NaN,150
13,13.0,2024-08,29427,NaN,NaN,12520,NaN,-262,NaN,170
14,14.0,2024-07,NaN,NaN,NaN,NaN,NaN,-6311,NaN,100
15,15.0,2024-06,NaN,NaN,0,NaN,NaN,5748,NaN,0
16,16.0,2024-05,4300,NaN,0,NaN,NaN,5030,NaN,4000
17,17.0,2024-04,NaN,NaN,0,NaN,NaN,0,NaN,300
18,18.0,2024-03,NaN,NaN,0,NaN,NaN,0,NaN,400
19,19.0,2024-02,3900,NaN,0,NaN,0,0,NaN,600
20,20.0,2024-01,1700,NaN,NaN,NaN,0,0,NaN,600

In [ ]:
df_to_rename=df_pre_post
df_to_rename=df_to_rename.rename(columns={"Firstname Of Influencer":"Name"})
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Alice","Alice Weidel")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Christian","Christian Dürr")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Dr.","")

df_to_rename["Name"]=df_to_rename["Name"].str.replace("Felix","Felix Banaszak")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Heidi","Heidi Reichineck")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Lars","Lars Klingbeil")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Olaf","Olaf Scholz")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Friedrich","Friedrich Merz")


df_pre_post=df_to_rename
df_pre_post