In [1]:
import pandas as pd
import glob

In [2]:
prefiles=glob.glob('../data/POST_02/tiktok*.csv')
prefiles

['../data/POST_02/tiktok_comments_view_per_month.csv',
 '../data/POST_02/tiktok_average_engagement_rate_per_month.csv',
 '../data/POST_02/tiktok_views_1.csv',
 '../data/POST_02/tiktok_comments.csv',
 '../data/POST_02/tiktok_shares_1.csv',
 '../data/POST_02/tiktok_follower_(current_date).csv',
 '../data/POST_02/tiktok_likes_1.csv',
 '../data/POST_02/tiktok_average_video_duration.csv',
 "../data/POST_02/tiktok_monthly_follower_growth_since_january_'24.csv",
 '../data/POST_02/tiktok_likes.csv',
 '../data/POST_02/tiktok_shares.csv',
 '../data/POST_02/tiktok_views_per_month.csv',
 '../data/POST_02/tiktok_postings_per_month.csv',
 '../data/POST_02/tiktok_saves.csv',
 '../data/POST_02/tiktok_shares_view_per_month.csv',
 '../data/POST_02/tiktok_saves_1.csv',
 '../data/POST_02/tiktok_likes_view_per_month.csv',
 '../data/POST_02/tiktok_postings.csv',
 '../data/POST_02/tiktok_views_per_month_1.csv',
 '../data/POST_02/tiktok_views.csv',
 '../data/POST_02/tiktok_comments_1.csv']

In [3]:
prefiles=glob.glob('../data/POST_02/instagram*.csv')
prefiles

['../data/POST_02/instagram_reels_comments_view_per_month.csv',
 '../data/POST_02/instagram_comments.csv',
 '../data/POST_02/instagram_reels_likes_view_per_month.csv',
 '../data/POST_02/instagram_views_(reels).csv',
 '../data/POST_02/instagram_shares_1.csv',
 '../data/POST_02/instagram_reels_shares_view_per_month.csv',
 '../data/POST_02/instagram_likes_1.csv',
 '../data/POST_02/instagram_views_(reels)_per_month_1.csv',
 '../data/POST_02/instagram_postings_per_month.csv',
 '../data/POST_02/instagram_likes.csv',
 '../data/POST_02/instagram_shares.csv',
 '../data/POST_02/instagram_average_video_duration_of_reels_.csv',
 '../data/POST_02/instagram_postings.csv',
 '../data/POST_02/instagram_follower_(current_date).csv',
 '../data/POST_02/instagram_views_(reels)_per_month.csv',
 '../data/POST_02/instagram_average_engagement_rate_of_reels_per_month.csv',
 "../data/POST_02/instagram_monthly_follower_growth_since_january_'24.csv",
 '../data/POST_02/instagram_comments_1.csv',
 '../data/POST_02/instagram_views_(reels)_1.csv']

In [13]:
postfiles=glob.glob('../data/POST_02/tiktok*.csv')
postfiles

['../data/POST_02/tiktok_comments_view_per_month.csv',
 '../data/POST_02/tiktok_average_engagement_rate_per_month.csv',
 '../data/POST_02/tiktok_views_1.csv',
 '../data/POST_02/tiktok_comments.csv',
 '../data/POST_02/tiktok_shares_1.csv',
 '../data/POST_02/tiktok_follower_(current_date).csv',
 '../data/POST_02/tiktok_likes_1.csv',
 '../data/POST_02/tiktok_average_video_duration.csv',
 "../data/POST_02/tiktok_monthly_follower_growth_since_january_'24.csv",
 '../data/POST_02/tiktok_likes.csv',
 '../data/POST_02/tiktok_shares.csv',
 '../data/POST_02/tiktok_views_per_month.csv',
 '../data/POST_02/tiktok_postings_per_month.csv',
 '../data/POST_02/tiktok_saves.csv',
 '../data/POST_02/tiktok_shares_view_per_month.csv',
 '../data/POST_02/tiktok_saves_1.csv',
 '../data/POST_02/tiktok_likes_view_per_month.csv',
 '../data/POST_02/tiktok_postings.csv',
 '../data/POST_02/tiktok_views_per_month_1.csv',
 '../data/POST_02/tiktok_views.csv',
 '../data/POST_02/tiktok_comments_1.csv']

Also der fokus wäre: wer postet wo wie viel, 100 tage vor der Wahl und hundert tage danach, wie viele follower (achtung: Kanzler account wurde von Scholz auf merz übertragen), wie engaging sind die inhalte, welche themen etc. Aber es muss ja nciht alles eine Grafik dazu haben, vieles kann ich auch im Text aufnehmen

In [5]:
def dataread(filename):
    postdata_name=filename
    predata_name=postdata_name.replace('POST','PRE')
    postdata=pd.read_csv(postdata_name,thousands=',',decimal='.')
    predata=pd.read_csv(predata_name,thousands=',',decimal='.')
    return {"pre": predata, "post": postdata}

In [6]:
databundle_tiktoks=dataread('../data/POST_02/tiktok_postings.csv')
databundle_tiktoks

{'pre':   Firstname Of Influencer  Anzahl Postings
 0                   Alice              178
 1               Friedrich              126
 2                    Olaf              124
 3        Dr. Markus Söder              119
 4           Bundeskanzler               88
 5                   Heidi               48
 6                    Lars               35
 7                   Felix               32
 8               Christian               16,
 'post':   Firstname Of Influencer  Anzahl Postings
 0           Bundeskanzler               93
 1        Dr. Markus Söder               85
 2                   Alice               33
 3                   Felix               30
 4                   Heidi               27
 5                    Olaf               21
 6                    Lars               20
 7               Christian                5
 8               Friedrich                4}

In [7]:
databundle_tiktoks["pre"]

  Firstname Of Influencer  Anzahl Postings
0                   Alice              178
1               Friedrich              126
2                    Olaf              124
3        Dr. Markus Söder              119
4           Bundeskanzler               88
5                   Heidi               48
6                    Lars               35
7                   Felix               32
8               Christian               16

In [8]:
databundle_tiktoks["post"]

  Firstname Of Influencer  Anzahl Postings
0           Bundeskanzler               93
1        Dr. Markus Söder               85
2                   Alice               33
3                   Felix               30
4                   Heidi               27
5                    Olaf               21
6                    Lars               20
7               Christian                5
8               Friedrich                4

In [22]:
df_postings_tiktok=pd.merge(databundle_tiktoks["pre"],databundle_tiktoks["post"], on="Firstname Of Influencer",how="outer",suffixes=('_pre','_post'))
df_postings_tiktok

  Firstname Of Influencer  Anzahl Postings_pre  Anzahl Postings_post
0                   Alice                  178                    33
1           Bundeskanzler                   88                    93
2               Christian                   16                     5
3        Dr. Markus Söder                  119                    85
4                   Felix                   32                    30
5               Friedrich                  126                     4
6                   Heidi                   48                    27
7                    Lars                   35                    20
8                    Olaf                  124                    21

In [23]:

df_postings_tiktok=df_postings_tiktok.rename(columns={"Firstname Of Influencer":"Name"})
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Alice","Alice Weidel")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Christian","Christian Dürr")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Dr.","")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Friedrich","Friedrich Merz")

df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Felix","Felix Banaszak")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Heidi","Heidi Reichineck")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Lars","Lars Klingbeil")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Olaf","Olaf Scholz")

df_postings_tiktok

               Name  Anzahl Postings_pre  Anzahl Postings_post
0      Alice Weidel                  178                    33
1     Bundeskanzler                   88                    93
2    Christian Dürr                   16                     5
3      Markus Söder                  119                    85
4    Felix Banaszak                   32                    30
5    Friedrich Merz                  126                     4
6  Heidi Reichineck                   48                    27
7    Lars Klingbeil                   35                    20
8       Olaf Scholz                  124                    21

In [24]:
df_postings_tiktok.to_csv("tiktok_postings_merged.csv", index=False)

In [25]:
likes_tiktoks=dataread('../data/POST_02/tiktok_likes.csv')
likes_tiktoks["pre"]

  Firstname Of Influencer    Likes
0                   Alice  6925863
1           Bundeskanzler  1612307
2               Christian    10202
3        Dr. Markus Söder  1118846
4                   Felix    41036
5               Friedrich  1137196
6                   Heidi  6717912
7                    Lars    84987
8                    Olaf  6788871

In [31]:
df_pre_post=pd.merge(likes_tiktoks["pre"],likes_tiktoks["post"], on="Firstname Of Influencer",how="outer",suffixes=('_pre','_post'))
df_pre_post

  Firstname Of Influencer  Likes_pre  Likes_post
0                   Alice    6925863      348417
1           Bundeskanzler    1612307     3211818
2               Christian      10202        1030
3        Dr. Markus Söder    1118846      584174
4                   Felix      41036       34969
5               Friedrich    1137196       18451
6                   Heidi    6717912     1109195
7                    Lars      84987       29065
8                    Olaf    6788871      853722

In [32]:
df_pre_post=df_pre_post.rename(columns={"Firstname Of Influencer":"Name"})
df_pre_post

               Name  Likes_pre  Likes_post
0             Alice    6925863      348417
1     Bundeskanzler    1612307     3211818
2         Christian      10202        1030
3  Dr. Markus Söder    1118846      584174
4             Felix      41036       34969
5         Friedrich    1137196       18451
6             Heidi    6717912     1109195
7              Lars      84987       29065
8              Olaf    6788871      853722

In [33]:
df_to_rename=df_pre_post
df_to_rename=df_to_rename.rename(columns={"Firstname Of Influencer":"Name"})
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Alice","Alice Weidel")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Christian","Christian Dürr")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Dr.","")

df_to_rename["Name"]=df_to_rename["Name"].str.replace("Felix","Felix Banaszak")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Heidi","Heidi Reichineck")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Lars","Lars Klingbeil")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Olaf","Olaf Scholz")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Friedrich","Friedrich Merz")


df_pre_post=df_to_rename
df_pre_post

               Name  Likes_pre  Likes_post
0      Alice Weidel    6925863      348417
1     Bundeskanzler    1612307     3211818
2    Christian Dürr      10202        1030
3      Markus Söder    1118846      584174
4    Felix Banaszak      41036       34969
5    Friedrich Merz    1137196       18451
6  Heidi Reichineck    6717912     1109195
7    Lars Klingbeil      84987       29065
8       Olaf Scholz    6788871      853722

In [34]:
df_pre_post.to_csv("tiktok_likes_pre_post.csv", index=False)

In [35]:
df_postings_tiktok

               Name  Anzahl Postings_pre  Anzahl Postings_post
0      Alice Weidel                  178                    33
1     Bundeskanzler                   88                    93
2    Christian Dürr                   16                     5
3      Markus Söder                  119                    85
4    Felix Banaszak                   32                    30
5    Friedrich Merz                  126                     4
6  Heidi Reichineck                   48                    27
7    Lars Klingbeil                   35                    20
8       Olaf Scholz                  124                    21

In [36]:
df_post_likes=pd.merge(df_pre_post,df_postings_tiktok, on="Name",how="outer",suffixes=('_likes','_postings'))
df_post_likes

,Name,Likes_pre,Likes_post,Anzahl Postings_pre,Anzahl Postings_post
0,Markus Söder,1118846,584174,119,85
1,Alice Weidel,6925863,348417,178,33
2,Bundeskanzler,1612307,3211818,88,93
3,Christian Dürr,10202,1030,16,5
4,Felix Banaszak,41036,34969,32,30
5,Friedrich Merz,1137196,18451,126,4
6,Heidi Reichineck,6717912,1109195,48,27
7,Lars Klingbeil,84987,29065,35,20
8,Olaf Scholz,6788871,853722,124,21

In [37]:
df_post_likes.columns

Index(['Name', 'Likes_pre', 'Likes_post', 'Anzahl Postings_pre',
       'Anzahl Postings_post'],
      dtype='object')

In [38]:
df_post_likes["ratio_pre"]=df_post_likes["Likes_pre"]/df_post_likes["Anzahl Postings_pre"]
df_post_likes["ratio_post"]=df_post_likes["Likes_post"]/df_post_likes["Anzahl Postings_post"]
df_post_likes

,Name,Likes_pre,Likes_post,Anzahl Postings_pre,Anzahl Postings_post,ratio_pre,ratio_post
0,Markus Söder,1118846,584174,119,85,9402.067227,6872.635294
1,Alice Weidel,6925863,348417,178,33,38909.342697,10558.090909
2,Bundeskanzler,1612307,3211818,88,93,18321.670455,34535.677419
3,Christian Dürr,10202,1030,16,5,637.625000,206.000000
4,Felix Banaszak,41036,34969,32,30,1282.375000,1165.633333
5,Friedrich Merz,1137196,18451,126,4,9025.365079,4612.750000
6,Heidi Reichineck,6717912,1109195,48,27,139956.500000,41081.296296
7,Lars Klingbeil,84987,29065,35,20,2428.200000,1453.250000
8,Olaf Scholz,6788871,853722,124,21,54748.959677,40653.428571

In [39]:
df_post_likes.to_csv("tiktok_likes_postings_merged.csv", index=False)

In [43]:

df_post_likes_red=df_post_likes.drop(["Likes_pre","Likes_post","Anzahl Postings_pre","Anzahl Postings_post"], axis=1)
df_post_likes_red

               Name      ratio_pre    ratio_post
0      Markus Söder    9402.067227   6872.635294
1      Alice Weidel   38909.342697  10558.090909
2     Bundeskanzler   18321.670455  34535.677419
3    Christian Dürr     637.625000    206.000000
4    Felix Banaszak    1282.375000   1165.633333
5    Friedrich Merz    9025.365079   4612.750000
6  Heidi Reichineck  139956.500000  41081.296296
7    Lars Klingbeil    2428.200000   1453.250000
8       Olaf Scholz   54748.959677  40653.428571

In [44]:
df_post_likes_red.T

,0,1,2,3,4,5,6,7,8
Name,Markus Söder,Alice Weidel,Bundeskanzler,Christian Dürr,Felix Banaszak,Friedrich Merz,Heidi Reichineck,Lars Klingbeil,Olaf Scholz
ratio_pre,9402.067227,38909.342697,18321.670455,637.625,1282.375,9025.365079,139956.5,2428.2,54748.959677
ratio_post,6872.635294,10558.090909,34535.677419,206.0,1165.633333,4612.75,41081.296296,1453.25,40653.428571

In [45]:
df_post_likes_red.T.to_csv("tiktok_likes_postings_merged_reduced.csv", index=True)

In [61]:
df_comments_tiktoks=dataread('../data/POST_02/tiktok_comments_1.csv')
df_comments_tiktoks

{'pre':   Firstname Of Influencer  Comments
 0                   Alice    387610
 1               Friedrich    240677
 2                    Olaf    211413
 3        Dr. Markus Söder    116588
 4           Bundeskanzler    105878
 5                   Heidi     99656
 6                    Lars     17717
 7                   Felix     13991
 8               Christian      2234,
 'post':   Firstname Of Influencer  Comments
 0           Bundeskanzler    228895
 1        Dr. Markus Söder     50975
 2                   Heidi     45100
 3                   Alice     23646
 4                    Olaf     19574
 5                    Lars     14208
 6               Friedrich     10108
 7                   Felix      2787
 8               Christian        61}

In [62]:
df_comments_tiktoks["pre"]["Comments"]=df_comments_tiktoks["pre"]["Comments"].astype(int)
df_comments_tiktoks["post"]["Comments"]=df_comments_tiktoks["post"]["Comments"].astype(int)
df_comments_tiktoks

{'pre':   Firstname Of Influencer  Comments
 0                   Alice    387610
 1               Friedrich    240677
 2                    Olaf    211413
 3        Dr. Markus Söder    116588
 4           Bundeskanzler    105878
 5                   Heidi     99656
 6                    Lars     17717
 7                   Felix     13991
 8               Christian      2234,
 'post':   Firstname Of Influencer  Comments
 0           Bundeskanzler    228895
 1        Dr. Markus Söder     50975
 2                   Heidi     45100
 3                   Alice     23646
 4                    Olaf     19574
 5                    Lars     14208
 6               Friedrich     10108
 7                   Felix      2787
 8               Christian        61}

In [63]:
df_comments_tiktoks_merged=pd.merge(df_comments_tiktoks["pre"],df_comments_tiktoks["post"], on="Firstname Of Influencer",how="outer",suffixes=('_pre','_post')).fillna(0)
df_comments_tiktoks_merged=df_comments_tiktoks_merged.rename(columns={"Firstname Of Influencer":"Name"})

df_comments_tiktoks_merged

               Name  Comments_pre  Comments_post
0             Alice        387610          23646
1     Bundeskanzler        105878         228895
2         Christian          2234             61
3  Dr. Markus Söder        116588          50975
4             Felix         13991           2787
5         Friedrich        240677          10108
6             Heidi         99656          45100
7              Lars         17717          14208
8              Olaf        211413          19574

In [64]:
df_to_rename=df_comments_tiktoks_merged
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Alice","Alice Weidel")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Christian","Christian Dürr")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Dr.","")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Friedrich","Friedrich Merz")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Olaf","Olaf Scholz")

df_to_rename["Name"]=df_to_rename["Name"].str.replace("Felix","Felix Banaszak")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Heidi","Heidi Reichineck")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Lars","Lars Klingbeil")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("BundeskanzlerFriedrich","Friedrich Merz / Bundeskanzler")
df_comments_tiktoks_merged=df_to_rename
df_comments_tiktoks_merged

               Name  Comments_pre  Comments_post
0      Alice Weidel        387610          23646
1     Bundeskanzler        105878         228895
2    Christian Dürr          2234             61
3      Markus Söder        116588          50975
4    Felix Banaszak         13991           2787
5    Friedrich Merz        240677          10108
6  Heidi Reichineck         99656          45100
7    Lars Klingbeil         17717          14208
8       Olaf Scholz        211413          19574

In [70]:
df_post_comments_postings=pd.merge(df_comments_tiktoks_merged,df_postings_tiktok, on="Name",how="outer",suffixes=('_likes','_postings'))
df_post_comments_postings

,Name,Comments_pre,Comments_post,Anzahl Postings_pre,Anzahl Postings_post
0,Markus Söder,116588,50975,119,85
1,Alice Weidel,387610,23646,178,33
2,Bundeskanzler,105878,228895,88,93
3,Christian Dürr,2234,61,16,5
4,Felix Banaszak,13991,2787,32,30
5,Friedrich Merz,240677,10108,126,4
6,Heidi Reichineck,99656,45100,48,27
7,Lars Klingbeil,17717,14208,35,20
8,Olaf Scholz,211413,19574,124,21

In [71]:
df_post_comments_postings["Comments_per_post_pre"]=df_post_comments_postings["Comments_pre"]/df_post_comments_postings["Anzahl Postings_pre"]
df_post_comments_postings["Comments_per_post_post"]=df_post_comments_postings["Comments_post"]/df_post_comments_postings["Anzahl Postings_post"]
df_post_comments_postings

,Name,Comments_pre,Comments_post,Anzahl Postings_pre,Anzahl Postings_post,Comments_per_post_pre,Comments_per_post_post
0,Markus Söder,116588,50975,119,85,979.731092,599.705882
1,Alice Weidel,387610,23646,178,33,2177.584270,716.545455
2,Bundeskanzler,105878,228895,88,93,1203.159091,2461.236559
3,Christian Dürr,2234,61,16,5,139.625000,12.200000
4,Felix Banaszak,13991,2787,32,30,437.218750,92.900000
5,Friedrich Merz,240677,10108,126,4,1910.134921,2527.000000
6,Heidi Reichineck,99656,45100,48,27,2076.166667,1670.370370
7,Lars Klingbeil,17717,14208,35,20,506.200000,710.400000
8,Olaf Scholz,211413,19574,124,21,1704.943548,932.095238

In [72]:
df_post_comments_postings.to_csv("tiktok_comments_postings_merged.csv", index=False)

In [73]:
df_post_comments_postings_red=df_post_comments_postings.drop(["Comments_pre","Comments_post","Anzahl Postings_pre","Anzahl Postings_post"], axis=1)
df_post_comments_postings_red

               Name  Comments_per_post_pre  Comments_per_post_post
0      Markus Söder             979.731092              599.705882
1      Alice Weidel            2177.584270              716.545455
2     Bundeskanzler            1203.159091             2461.236559
3    Christian Dürr             139.625000               12.200000
4    Felix Banaszak             437.218750               92.900000
5    Friedrich Merz            1910.134921             2527.000000
6  Heidi Reichineck            2076.166667             1670.370370
7    Lars Klingbeil             506.200000              710.400000
8       Olaf Scholz            1704.943548              932.095238

In [74]:
df_post_comments_postings_red.T

,0,1,2,3,4,5,6,7,8
Name,Markus Söder,Alice Weidel,Bundeskanzler,Christian Dürr,Felix Banaszak,Friedrich Merz,Heidi Reichineck,Lars Klingbeil,Olaf Scholz
Comments_per_post_pre,979.731092,2177.58427,1203.159091,139.625,437.21875,1910.134921,2076.166667,506.2,1704.943548
Comments_per_post_post,599.705882,716.545455,2461.236559,12.2,92.9,2527.0,1670.37037,710.4,932.095238

In [75]:
df_post_comments_postings_red.T.to_csv("tiktok_comments_postings_merged_reduced.csv", index=True)

In [76]:
follower_growth=pd.read_csv("../data/POST/tiktok_monthly_follower_growth_since_jan_24.csv")
follower_growth

,Unnamed: 0,Firstname Of Influencer,Alice,Bundeskanzler,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
0,NaN,Month,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut
1,1.0,2025-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,2025-07,NaN,7936,47,4925,322,NaN,276,161
3,3.0,2025-06,67,25807,96,2829,908,NaN,995,426
4,4.0,2025-05,189,65588,13,4948,928,NaN,2811,621
5,5.0,2025-04,9537,46394,NaN,5686,-2219,224,4015,3325
6,6.0,2025-03,5813,NaN,NaN,3179,0,3982,-8401,275
7,7.0,2025-02,13225,NaN,399,10158,0,32758,0,3278
8,8.0,2025-01,171929,NaN,104,15262,0,90726,0,3019
9,9.0,2024-12,179755,NaN,0,7001,0,14089,0,570
10,10.0,2024-11,179440,NaN,0,11469,0,11460,0,60
11,11.0,2024-10,78805,NaN,0,11528,0,697,0,172
12,12.0,2024-09,5883,NaN,NaN,8966,0,5786,NaN,150
13,13.0,2024-08,29427,NaN,NaN,12520,NaN,-262,NaN,170
14,14.0,2024-07,NaN,NaN,NaN,NaN,NaN,-6311,NaN,100
15,15.0,2024-06,NaN,NaN,0,NaN,NaN,5748,NaN,0
16,16.0,2024-05,4300,NaN,0,NaN,NaN,5030,NaN,4000
17,17.0,2024-04,NaN,NaN,0,NaN,NaN,0,NaN,300
18,18.0,2024-03,NaN,NaN,0,NaN,NaN,0,NaN,400
19,19.0,2024-02,3900,NaN,0,NaN,0,0,NaN,600
20,20.0,2024-01,1700,NaN,NaN,NaN,0,0,NaN,600