In [1]:
import pandas as pd
import glob

In [283]:
prefiles=glob.glob('../data/POST/tiktok*.csv')
prefiles

['../data/POST/tiktok_average_engagement_rate_per_month.csv',
 '../data/POST/tiktok_likes_per_month.csv',
 '../data/POST/tiktok_comments.csv',
 '../data/POST/tiktok_saves_views_per_month.csv',
 '../data/POST/tiktok_comments_views_per_month.csv',
 '../data/POST/tiktok_monthly_follower_growth_since_jan_24.csv',
 '../data/POST/tiktok_shares_per_month_1.csv',
 '../data/POST/tiktok_shares_per_month.csv',
 '../data/POST/tiktok_monthly_follower_growth_since_jan_24_1.csv',
 '../data/POST/tiktok_average_video_duration.csv',
 '../data/POST/tiktok_likes.csv',
 '../data/POST/tiktok_shares.csv',
 '../data/POST/tiktok_views_per_month.csv',
 '../data/POST/tiktok_saves.csv',
 '../data/POST/tiktok_likes_views_per_month.csv',
 '../data/POST/tiktok_average_view_ratio_per_month.csv',
 '../data/POST/tiktok_postings.csv',
 '../data/POST/tiktok_views_per_month_1.csv',
 '../data/POST/tiktok_saves_per_month_1.csv',
 '../data/POST/tiktok_views.csv',
 '../data/POST/tiktok_average_video_duration__per_month.csv',
 '../data/POST/tiktok_assets_per_month.csv',
 '../data/POST/tiktok_shares_views_per_month.csv',
 '../data/POST/tiktok_saves_per_month.csv',
 '../data/POST/tiktok_average_view_ratio.csv',
 '../data/POST/tiktok_likes_per_month_1.csv',
 '../data/POST/tiktok_average_engagement_rate_(by_follower)_per_month.csv',
 '../data/POST/tiktoks.csv']

In [284]:
prefiles=glob.glob('../data/POST/instagram*.csv')
prefiles

['../data/POST/instagram_average_video_duration_of_reels_per_month.csv',
 '../data/POST/instagram_comments.csv',
 '../data/POST/instagram_saves_per_month_1.csv',
 '../data/POST/instagram_views_(reels).csv',
 '../data/POST/instagram_reels_likes_views_per_month.csv',
 '../data/POST/instagram_shares_per_month.csv',
 '../data/POST/instagram_views_(reels)_per_month_1.csv',
 '../data/POST/instagram_reels_shares_views_per_month.csv',
 '../data/POST/instagram_average_view_ratio.csv',
 '../data/POST/instagram_comments_per_month.csv',
 '../data/POST/instagram_saves.csv',
 '../data/POST/instagram_likes.csv',
 '../data/POST/instagram_saves_per_month.csv',
 '../data/POST/instagram_average_viewratio_per_month.csv',
 '../data/POST/instagram_shares.csv',
 '../data/POST/instagram_postings.csv',
 '../data/POST/instagram_reels_comments_views_per_month.csv',
 '../data/POST/instagram_average_videoduration_of_reels_.csv',
 '../data/POST/instagram_views_(reels)_per_month.csv',
 '../data/POST/instagram_monthly_follower_growth_since_jan_24_1.csv',
 '../data/POST/instagram_comments_per_month_1.csv',
 '../data/POST/instagram_average_engagement_rate_of_reels_per_month.csv',
 '../data/POST/instagram_assets_per_month.csv',
 '../data/POST/instagram_reels_saves_views_per_month.csv',
 '../data/POST/instagram_average_engagement_rate_of_reels_(by_follower)_per_month.csv',
 '../data/POST/instagram_monthly_follower_growth_since_jan_24.csv',
 '../data/POST/instagram_shares_per_month_1.csv']

In [285]:
postfiles=glob.glob('../data/POST/*.csv')
postfiles

['../data/POST/postings.csv',
 '../data/POST/instagram_average_video_duration_of_reels_per_month.csv',
 '../data/POST/instagram_comments.csv',
 '../data/POST/instagram_saves_per_month_1.csv',
 '../data/POST/tiktok_average_engagement_rate_per_month.csv',
 '../data/POST/instagram_views_(reels).csv',
 '../data/POST/instagram_reels_likes_views_per_month.csv',
 '../data/POST/tiktok_likes_per_month.csv',
 '../data/POST/instagram_shares_per_month.csv',
 '../data/POST/tiktok_comments.csv',
 '../data/POST/tiktok_saves_views_per_month.csv',
 '../data/POST/tiktok_comments_views_per_month.csv',
 '../data/POST/profiles.csv',
 '../data/POST/tiktok_monthly_follower_growth_since_jan_24.csv',
 '../data/POST/instagram_views_(reels)_per_month_1.csv',
 '../data/POST/instagram_reels_shares_views_per_month.csv',
 '../data/POST/instagram_average_view_ratio.csv',
 '../data/POST/instagram_comments_per_month.csv',
 '../data/POST/tiktok_shares_per_month_1.csv',
 '../data/POST/instagram_saves.csv',
 '../data/POST/posting_preview.csv',
 '../data/POST/instagram_likes.csv',
 '../data/POST/tiktok_shares_per_month.csv',
 '../data/POST/instagram_saves_per_month.csv',
 '../data/POST/instagram_average_viewratio_per_month.csv',
 '../data/POST/tiktok_monthly_follower_growth_since_jan_24_1.csv',
 '../data/POST/instagram_shares.csv',
 '../data/POST/tiktok_average_video_duration.csv',
 '../data/POST/tiktok_likes.csv',
 '../data/POST/instagram_postings.csv',
 '../data/POST/instagram_reels_comments_views_per_month.csv',
 '../data/POST/tiktok_shares.csv',
 '../data/POST/tiktok_views_per_month.csv',
 '../data/POST/tiktok_saves.csv',
 '../data/POST/follower_growth_numbers_since_jan_24.csv',
 '../data/POST/tiktok_likes_views_per_month.csv',
 '../data/POST/total_postings.csv',
 '../data/POST/instagram_average_videoduration_of_reels_.csv',
 '../data/POST/instagram_views_(reels)_per_month.csv',
 '../data/POST/instagram_monthly_follower_growth_since_jan_24_1.csv',
 '../data/POST/instagram_comments_per_month_1.csv',
 '../data/POST/tiktok_average_view_ratio_per_month.csv',
 '../data/POST/tiktok_postings.csv',
 '../data/POST/ig_reels_postings.csv',
 '../data/POST/instagram_average_engagement_rate_of_reels_per_month.csv',
 '../data/POST/tiktok_views_per_month_1.csv',
 '../data/POST/instagram_assets_per_month.csv',
 '../data/POST/instagram_reels_saves_views_per_month.csv',
 '../data/POST/tiktok_saves_per_month_1.csv',
 '../data/POST/tiktok_views.csv',
 '../data/POST/assets_per_month.csv',
 '../data/POST/tiktok_average_video_duration__per_month.csv',
 '../data/POST/assets_per_post_type.csv',
 '../data/POST/tiktok_assets_per_month.csv',
 '../data/POST/brands.csv',
 '../data/POST/tiktok_shares_views_per_month.csv',
 '../data/POST/tiktok_saves_per_month.csv',
 '../data/POST/instagram_average_engagement_rate_of_reels_(by_follower)_per_month.csv',
 '../data/POST/instagram_monthly_follower_growth_since_jan_24.csv',
 '../data/POST/instagram_shares_per_month_1.csv',
 '../data/POST/tiktok_average_view_ratio.csv',
 '../data/POST/tiktok_likes_per_month_1.csv',
 '../data/POST/tiktok_average_engagement_rate_(by_follower)_per_month.csv',
 '../data/POST/assets_per_post_type_1.csv',
 '../data/POST/tiktoks.csv']

Also der fokus wäre: wer postet wo wie viel, 100 tage vor der Wahl und hundert tage danach, wie viele follower (achtung: Kanzler account wurde von Scholz auf merz übertragen), wie engaging sind die inhalte, welche themen etc. Aber es muss ja nciht alles eine Grafik dazu haben, vieles kann ich auch im Text aufnehmen

In [286]:
def dataread(filename):
    postdata_name=filename
    predata_name=postdata_name.replace('POST','PRE')
    postdata=pd.read_csv(postdata_name,thousands=',',decimal='.')
    predata=pd.read_csv(predata_name,thousands=',',decimal='.')
    return {"pre": predata, "post": postdata}

In [287]:
databundle_tiktoks=dataread('../data/POST/tiktok_postings.csv')
databundle_tiktoks

{'pre':   Firstname Of Influencer  Anzahl Postings
 0                   Alice              179
 1               Friedrich              127
 2        Dr. Markus Söder              120
 3                   Heidi               48
 4                    Lars               35
 5                   Felix               32
 6               Christian               16,
 'post':   Firstname Of Influencer  Anzahl Postings
 0           Bundeskanzler               93
 1        Dr. Markus Söder               85
 2                   Alice               33
 3                   Felix               30
 4                   Heidi               27
 5                    Lars               20
 6               Christian                5
 7               Friedrich                4}

In [288]:
databundle_tiktoks["pre"]

  Firstname Of Influencer  Anzahl Postings
0                   Alice              179
1               Friedrich              127
2        Dr. Markus Söder              120
3                   Heidi               48
4                    Lars               35
5                   Felix               32
6               Christian               16

In [289]:
databundle_tiktoks["post"]

  Firstname Of Influencer  Anzahl Postings
0           Bundeskanzler               93
1        Dr. Markus Söder               85
2                   Alice               33
3                   Felix               30
4                   Heidi               27
5                    Lars               20
6               Christian                5
7               Friedrich                4

In [290]:
df_postings_tiktok=pd.merge(predata,postdata, on="Firstname Of Influencer",how="outer",suffixes=('_pre','_post'))
df_postings_tiktok

  Firstname Of Influencer  Anzahl Postings_pre  Anzahl Postings_post
0                   Alice                179.0                    33
1           Bundeskanzler                  NaN                    93
2               Christian                 16.0                     5
3        Dr. Markus Söder                120.0                    85
4                   Felix                 32.0                    30
5               Friedrich                127.0                     4
6                   Heidi                 48.0                    27
7                    Lars                 35.0                    20

In [291]:
df_postings_tiktok.loc[8] = df_postings_tiktok.iloc[1].fillna(0) + df_postings_tiktok.iloc[5].fillna(0)
df_postings_tiktok

  Firstname Of Influencer  Anzahl Postings_pre  Anzahl Postings_post
0                   Alice                179.0                    33
1           Bundeskanzler                  NaN                    93
2               Christian                 16.0                     5
3        Dr. Markus Söder                120.0                    85
4                   Felix                 32.0                    30
5               Friedrich                127.0                     4
6                   Heidi                 48.0                    27
7                    Lars                 35.0                    20
8  BundeskanzlerFriedrich                127.0                    97

In [292]:

df_postings_tiktok=df_postings_tiktok.rename(columns={"Firstname Of Influencer":"Name"})
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Alice","Alice Weidel")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Christian","Christian Dürr")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Dr.","")

df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Felix","Felix Banaszak")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Heidi","Heidi Reichineck")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("Lars","Lars Klingbeil")
df_postings_tiktok["Name"]=df_postings_tiktok["Name"].str.replace("BundeskanzlerFriedrich","Friedrich Merz / Bundeskanzler")

df_postings_tiktok

                             Name  Anzahl Postings_pre  Anzahl Postings_post
0                    Alice Weidel                179.0                    33
1                   Bundeskanzler                  NaN                    93
2                  Christian Dürr                 16.0                     5
3                    Markus Söder                120.0                    85
4                  Felix Banaszak                 32.0                    30
5                       Friedrich                127.0                     4
6                Heidi Reichineck                 48.0                    27
7                  Lars Klingbeil                 35.0                    20
8  Friedrich Merz / Bundeskanzler                127.0                    97

In [293]:
df_postings_tiktok.to_csv("tiktok_postings_merged.csv", index=False)

In [294]:
likes_tiktoks=dataread('../data/POST/tiktok_likes_per_month_1.csv')
likes_tiktoks["pre"]

,Post Format,TikTok,TikTok.1,TikTok.2,TikTok.3,TikTok.4,TikTok.5,TikTok.6
0,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
1,Posting Date Month,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes,Durchschnitl. Likes
2,2025-02,"30,054.742857142868",222.16666666666666,"11,462.369565217392","1,406.5454545454547","11,011.586206896547","178,212.5","3,164.0555555555557"
3,2025-01,"26,236.965517241384","1,098.125","3,662.3823529411766",592.375,"4,395.019230769231","167,213.2380952381","2,398.5454545454545"
4,2024-12,"33,988.644444444435",43,"9,598.923076923078","1,930.8","1,060.8571428571427","99,153.33333333333",263.66666666666663
5,2024-11,"77,845.33333333333",27,"8,639.571428571428","1,395.375","3,039","72,375",282.3333333333333

In [295]:
likes_tiktoks["pre"].columns=likes_tiktoks["pre"].iloc[0]
likes_tiktoks["pre"]=likes_tiktoks["pre"].iloc[2:]
likes_tiktoks["pre"]

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-02,"30,054.742857142868",222.16666666666666,"11,462.369565217392","1,406.5454545454547","11,011.586206896547","178,212.5","3,164.0555555555557"
3,2025-01,"26,236.965517241384","1,098.125","3,662.3823529411766",592.375,"4,395.019230769231","167,213.2380952381","2,398.5454545454545"
4,2024-12,"33,988.644444444435",43,"9,598.923076923078","1,930.8","1,060.8571428571427","99,153.33333333333",263.66666666666663
5,2024-11,"77,845.33333333333",27,"8,639.571428571428","1,395.375","3,039","72,375",282.3333333333333

In [296]:
likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(pd.to_numeric, errors='coerce')

likes_tiktoks["pre"]

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/1598054216.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/1598054216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/1598054216.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(pd.to_numeric, errors='coerce')
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/1598054216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]]=likes_tiktoks["pre"][likes_tiktoks["pre"].columns[1:]].applymap(pd.to_numeric, errors='coerce')

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-02,30054.742857,222.166667,11462.369565,1406.545455,11011.586207,178212.500000,3164.055556
3,2025-01,26236.965517,1098.125000,3662.382353,592.375000,4395.019231,167213.238095,2398.545455
4,2024-12,33988.644444,43.000000,9598.923077,1930.800000,1060.857143,99153.333333,263.666667
5,2024-11,77845.333333,27.000000,8639.571429,1395.375000,3039.000000,72375.000000,282.333333

In [297]:
likes_tiktoks["post"].columns=likes_tiktoks["post"].iloc[0]
likes_tiktoks["post"]=likes_tiktoks["post"].iloc[2:]
likes_tiktoks["post"]

,Firstname Of Influencer,Alice,Bundeskanzler,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-05,"155,915","1,019,399",226,"138,565","1,999","4,876","445,733","21,189"
3,2025-07,"140,757","283,367",232,"93,018","14,615","12,563","180,696","2,139"
4,2025-06,"44,625","1,689,813",446,"194,371","14,382",NaN,"371,905","5,211"
5,2025-08,NaN,"181,679",104,"116,483","3,136",NaN,"90,750",389

In [298]:
likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]]=likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]]=likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]].applymap(pd.to_numeric, errors='coerce')

likes_tiktoks["post"]

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/638996757.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]]=likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]].applymap(lambda x: str(x).replace(',', ''))
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_36384/638996757.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]]=likes_tiktoks["post"][likes_tiktoks["post"].columns[1:]].applymap(pd.to_numeric, errors='coerce')

,Firstname Of Influencer,Alice,Bundeskanzler,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-05,155915.0,1019399,226,138565,1999,4876.0,445733,21189
3,2025-07,140757.0,283367,232,93018,14615,12563.0,180696,2139
4,2025-06,44625.0,1689813,446,194371,14382,NaN,371905,5211
5,2025-08,NaN,181679,104,116483,3136,NaN,90750,389

In [299]:
likes_tiktoks["pre"]

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
2,2025-02,30054.742857,222.166667,11462.369565,1406.545455,11011.586207,178212.500000,3164.055556
3,2025-01,26236.965517,1098.125000,3662.382353,592.375000,4395.019231,167213.238095,2398.545455
4,2024-12,33988.644444,43.000000,9598.923077,1930.800000,1060.857143,99153.333333,263.666667
5,2024-11,77845.333333,27.000000,8639.571429,1395.375000,3039.000000,72375.000000,282.333333

In [300]:
df_pre_post_likes=pd.concat([likes_tiktoks["pre"], likes_tiktoks["post"]], ).sort_values(by=["Firstname Of Influencer"])
df_pre_post_likes

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars,Bundeskanzler
5,2024-11,77845.333333,27.000000,8639.571429,1395.375000,3039.000000,72375.000000,282.333333,NaN
4,2024-12,33988.644444,43.000000,9598.923077,1930.800000,1060.857143,99153.333333,263.666667,NaN
3,2025-01,26236.965517,1098.125000,3662.382353,592.375000,4395.019231,167213.238095,2398.545455,NaN
2,2025-02,30054.742857,222.166667,11462.369565,1406.545455,11011.586207,178212.500000,3164.055556,NaN
2,2025-05,155915.000000,226.000000,138565.000000,1999.000000,4876.000000,445733.000000,21189.000000,1019399.0
4,2025-06,44625.000000,446.000000,194371.000000,14382.000000,NaN,371905.000000,5211.000000,1689813.0
3,2025-07,140757.000000,232.000000,93018.000000,14615.000000,12563.000000,180696.000000,2139.000000,283367.0
5,2025-08,NaN,104.000000,116483.000000,3136.000000,NaN,90750.000000,389.000000,181679.0

In [301]:
df_pre_post_likes["BundeskanzlerFriedrich"]=df_pre_post_likes["Bundeskanzler"].fillna(0)+df_pre_post_likes["Friedrich"].fillna(0)
df_pre_post_likes

,Firstname Of Influencer,Alice,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars,Bundeskanzler,BundeskanzlerFriedrich
5,2024-11,77845.333333,27.000000,8639.571429,1395.375000,3039.000000,72375.000000,282.333333,NaN,3.039000e+03
4,2024-12,33988.644444,43.000000,9598.923077,1930.800000,1060.857143,99153.333333,263.666667,NaN,1.060857e+03
3,2025-01,26236.965517,1098.125000,3662.382353,592.375000,4395.019231,167213.238095,2398.545455,NaN,4.395019e+03
2,2025-02,30054.742857,222.166667,11462.369565,1406.545455,11011.586207,178212.500000,3164.055556,NaN,1.101159e+04
2,2025-05,155915.000000,226.000000,138565.000000,1999.000000,4876.000000,445733.000000,21189.000000,1019399.0,1.024275e+06
4,2025-06,44625.000000,446.000000,194371.000000,14382.000000,NaN,371905.000000,5211.000000,1689813.0,1.689813e+06
3,2025-07,140757.000000,232.000000,93018.000000,14615.000000,12563.000000,180696.000000,2139.000000,283367.0,2.959300e+05
5,2025-08,NaN,104.000000,116483.000000,3136.000000,NaN,90750.000000,389.000000,181679.0,1.816790e+05

In [302]:
df_pre_post_likes["BundeskanzlerFriedrich"]=df_pre_post_likes["Bundeskanzler"].fillna(0)+df_pre_post_likes["Friedrich"].fillna(0)

df_likes_pre=df_pre_post_likes[df_pre_post_likes["Firstname Of Influencer"]<"2025-04"].sum()
df_likes_post=df_pre_post_likes[df_pre_post_likes["Firstname Of Influencer"]>"2025-04"].sum()
df_pre_post=pd.concat([df_likes_pre,df_likes_post],axis=1)
df_pre_post.columns=["pre","post"]
df_pre_post=df_pre_post.reset_index()
df_pre_post=df_pre_post.iloc[1:]
df_pre_post

                        0            pre       post
1                   Alice  168125.686152   341297.0
2               Christian    1390.291667     1008.0
3        Dr. Markus Söder   33363.246424   542437.0
4                   Felix    5325.095455    34132.0
5               Friedrich   19506.462581    17439.0
6                   Heidi  516954.071429  1089084.0
7                    Lars     6108.60101    28928.0
8           Bundeskanzler            0.0  3174258.0
9  BundeskanzlerFriedrich   19506.462581  3191697.0

In [303]:
df_pre_post["pre"]=df_pre_post["pre"].astype(int)
df_pre_post["post"]=df_pre_post["post"].astype(int)
df_pre_post=df_pre_post.iloc[1:]
df_pre_post=df_pre_post.rename(columns={0:"Name"})
df_pre_post

                     Name     pre     post
2               Christian    1390     1008
3        Dr. Markus Söder   33363   542437
4                   Felix    5325    34132
5               Friedrich   19506    17439
6                   Heidi  516954  1089084
7                    Lars    6108    28928
8           Bundeskanzler       0  3174258
9  BundeskanzlerFriedrich   19506  3191697

In [304]:
df_to_rename=df_pre_post
df_to_rename=df_to_rename.rename(columns={"Firstname Of Influencer":"Name"})
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Alice","Alice Weidel")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Christian","Christian Dürr")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Dr.","")

df_to_rename["Name"]=df_to_rename["Name"].str.replace("Felix","Felix Banaszak")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Heidi","Heidi Reichineck")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Lars","Lars Klingbeil")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("BundeskanzlerFriedrich","Friedrich Merz / Bundeskanzler")

df_pre_post=df_to_rename
df_pre_post

                             Name     pre     post
2                  Christian Dürr    1390     1008
3                    Markus Söder   33363   542437
4                  Felix Banaszak    5325    34132
5                       Friedrich   19506    17439
6                Heidi Reichineck  516954  1089084
7                  Lars Klingbeil    6108    28928
8                   Bundeskanzler       0  3174258
9  Friedrich Merz / Bundeskanzler   19506  3191697

In [305]:
df_pre_post.to_csv("tiktok_likes_pre_post.csv", index=False)

In [306]:
df_postings_tiktok

                             Name  Anzahl Postings_pre  Anzahl Postings_post
0                    Alice Weidel                179.0                    33
1                   Bundeskanzler                  NaN                    93
2                  Christian Dürr                 16.0                     5
3                    Markus Söder                120.0                    85
4                  Felix Banaszak                 32.0                    30
5                       Friedrich                127.0                     4
6                Heidi Reichineck                 48.0                    27
7                  Lars Klingbeil                 35.0                    20
8  Friedrich Merz / Bundeskanzler                127.0                    97

In [307]:
df_post_likes=pd.merge(df_pre_post,df_postings_tiktok, on="Name",how="outer",suffixes=('_likes','_postings'))
df_post_likes

,Name,pre,post,Anzahl Postings_pre,Anzahl Postings_post
0,Markus Söder,33363.0,542437.0,120.0,85
1,Alice Weidel,NaN,NaN,179.0,33
2,Bundeskanzler,0.0,3174258.0,NaN,93
3,Christian Dürr,1390.0,1008.0,16.0,5
4,Felix Banaszak,5325.0,34132.0,32.0,30
5,Friedrich,19506.0,17439.0,127.0,4
6,Friedrich Merz / Bundeskanzler,19506.0,3191697.0,127.0,97
7,Heidi Reichineck,516954.0,1089084.0,48.0,27
8,Lars Klingbeil,6108.0,28928.0,35.0,20

In [308]:
df_post_likes.columns

Index(['Name', 'pre', 'post', 'Anzahl Postings_pre', 'Anzahl Postings_post'], dtype='object')

In [309]:
df_post_likes["ratio_pre"]=df_post_likes["pre"]/df_post_likes["Anzahl Postings_pre"]
df_post_likes["ratio_post"]=df_post_likes["post"]/df_post_likes["Anzahl Postings_post"]
df_post_likes

,Name,pre,post,Anzahl Postings_pre,Anzahl Postings_post,ratio_pre,ratio_post
0,Markus Söder,33363.0,542437.0,120.0,85,278.025000,6381.611765
1,Alice Weidel,NaN,NaN,179.0,33,NaN,NaN
2,Bundeskanzler,0.0,3174258.0,NaN,93,NaN,34131.806452
3,Christian Dürr,1390.0,1008.0,16.0,5,86.875000,201.600000
4,Felix Banaszak,5325.0,34132.0,32.0,30,166.406250,1137.733333
5,Friedrich,19506.0,17439.0,127.0,4,153.590551,4359.750000
6,Friedrich Merz / Bundeskanzler,19506.0,3191697.0,127.0,97,153.590551,32904.092784
7,Heidi Reichineck,516954.0,1089084.0,48.0,27,10769.875000,40336.444444
8,Lars Klingbeil,6108.0,28928.0,35.0,20,174.514286,1446.400000

In [310]:
df_post_likes.to_csv("tiktok_likes_postings_merged.csv", index=False)

In [311]:
df_post_likes=df_post_likes[df_post_likes["Name"]!="Bundeskanzler"]
df_post_likes=df_post_likes[df_post_likes["Name"]!="Friedrich"]
df_post_df_post_likes_red=df_post_likes.drop(["pre","post","Anzahl Postings_pre","Anzahl Postings_post"], axis=1)
df_post_df_post_likes_red

                             Name     ratio_pre    ratio_post
0                    Markus Söder    278.025000   6381.611765
1                    Alice Weidel           NaN           NaN
3                  Christian Dürr     86.875000    201.600000
4                  Felix Banaszak    166.406250   1137.733333
6  Friedrich Merz / Bundeskanzler    153.590551  32904.092784
7                Heidi Reichineck  10769.875000  40336.444444
8                  Lars Klingbeil    174.514286   1446.400000

In [312]:
df_post_likes_red.T

,0,1,3,4,6,7,8
Name,Markus Söder,Alice Weidel,Christian Dürr,Felix Banaszak,Friedrich Merz / Bundeskanzler,Heidi Reichineck,Lars Klingbeil
ratio_pre,278.025,939.24581,86.875,166.40625,153.590551,10769.875,174.514286
ratio_post,6381.611765,10342.333333,201.6,1137.733333,32904.092784,40336.444444,1446.4

In [280]:
df_post_likes_red.T.to_csv("tiktok_likes_postings_merged_reduced.csv", index=True)

In [281]:
df_comments_tiktoks=dataread('../data/POST/tiktok_comments.csv')
df_comments_tiktoks

{'pre':   Firstname Of Influencer  Comments
 0                   Alice    339821
 1               Friedrich    214853
 2        Dr. Markus Söder    107344
 3                   Heidi    100521
 4                    Lars     17749
 5                   Felix     14082
 6               Christian      2237,
 'post':   Firstname Of Influencer  Comments
 0           Bundeskanzler    225503
 1        Dr. Markus Söder     48783
 2                   Heidi     44317
 3                   Alice     23207
 4                    Lars     14147
 5               Friedrich      9884
 6                   Felix      2737
 7               Christian        57}

In [282]:
df_comments_tiktoks["pre"]["Comments"]=df_comments_tiktoks["pre"]["Comments"].astype(int)
df_comments_tiktoks["post"]["Comments"]=df_comments_tiktoks["post"]["Comments"].astype(int)
df_comments_tiktoks

{'pre':   Firstname Of Influencer  Comments
 0                   Alice    339821
 1               Friedrich    214853
 2        Dr. Markus Söder    107344
 3                   Heidi    100521
 4                    Lars     17749
 5                   Felix     14082
 6               Christian      2237,
 'post':   Firstname Of Influencer  Comments
 0           Bundeskanzler    225503
 1        Dr. Markus Söder     48783
 2                   Heidi     44317
 3                   Alice     23207
 4                    Lars     14147
 5               Friedrich      9884
 6                   Felix      2737
 7               Christian        57}

In [263]:
df_comments_tiktoks_merged=pd.merge(df_comments_tiktoks["pre"],df_comments_tiktoks["post"], on="Firstname Of Influencer",how="outer",suffixes=('_pre','_post')).fillna(0)
df_comments_tiktoks_merged=df_comments_tiktoks_merged.rename(columns={"Firstname Of Influencer":"Name"})

df_comments_tiktoks_merged

               Name  Comments_pre  Comments_post
0             Alice      339821.0          23207
1     Bundeskanzler           0.0         225503
2         Christian        2237.0             57
3  Dr. Markus Söder      107344.0          48783
4             Felix       14082.0           2737
5         Friedrich      214853.0           9884
6             Heidi      100521.0          44317
7              Lars       17749.0          14147

In [264]:
df_comments_tiktoks_merged.loc[8] = df_comments_tiktoks_merged.iloc[1].fillna(0) + df_comments_tiktoks_merged.iloc[5].fillna(0)

df_comments_tiktoks_merged

                     Name  Comments_pre  Comments_post
0                   Alice      339821.0          23207
1           Bundeskanzler           0.0         225503
2               Christian        2237.0             57
3        Dr. Markus Söder      107344.0          48783
4                   Felix       14082.0           2737
5               Friedrich      214853.0           9884
6                   Heidi      100521.0          44317
7                    Lars       17749.0          14147
8  BundeskanzlerFriedrich      214853.0         235387

In [265]:
df_to_rename=df_comments_tiktoks_merged
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Alice","Alice Weidel")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Christian","Christian Dürr")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Dr.","")

df_to_rename["Name"]=df_to_rename["Name"].str.replace("Felix","Felix Banaszak")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Heidi","Heidi Reichineck")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("Lars","Lars Klingbeil")
df_to_rename["Name"]=df_to_rename["Name"].str.replace("BundeskanzlerFriedrich","Friedrich Merz / Bundeskanzler")
df_comments_tiktoks_merged=df_to_rename
df_comments_tiktoks_merged

                             Name  Comments_pre  Comments_post
0                    Alice Weidel      339821.0          23207
1                   Bundeskanzler           0.0         225503
2                  Christian Dürr        2237.0             57
3                    Markus Söder      107344.0          48783
4                  Felix Banaszak       14082.0           2737
5                       Friedrich      214853.0           9884
6                Heidi Reichineck      100521.0          44317
7                  Lars Klingbeil       17749.0          14147
8  Friedrich Merz / Bundeskanzler      214853.0         235387

In [266]:
df_post_comments_postings=pd.merge(df_comments_tiktoks_merged,df_postings_tiktok, on="Name",how="outer",suffixes=('_likes','_postings'))
df_post_comments_postings

,Name,Comments_pre,Comments_post,Anzahl Postings_pre,Anzahl Postings_post
0,Markus Söder,107344.0,48783,120.0,85
1,Alice Weidel,339821.0,23207,179.0,33
2,Bundeskanzler,0.0,225503,NaN,93
3,Christian Dürr,2237.0,57,16.0,5
4,Felix Banaszak,14082.0,2737,32.0,30
5,Friedrich,214853.0,9884,127.0,4
6,Friedrich Merz / Bundeskanzler,214853.0,235387,127.0,97
7,Heidi Reichineck,100521.0,44317,48.0,27
8,Lars Klingbeil,17749.0,14147,35.0,20

In [267]:
df_post_comments_postings["Comments_per_post_pre"]=df_post_comments_postings["Comments_pre"]/df_post_comments_postings["Anzahl Postings_pre"]
df_post_comments_postings["Comments_per_post_post"]=df_post_comments_postings["Comments_post"]/df_post_comments_postings["Anzahl Postings_post"]
df_post_comments_postings

,Name,Comments_pre,Comments_post,Anzahl Postings_pre,Anzahl Postings_post,Comments_per_post_pre,Comments_per_post_post
0,Markus Söder,107344.0,48783,120.0,85,894.533333,573.917647
1,Alice Weidel,339821.0,23207,179.0,33,1898.441341,703.242424
2,Bundeskanzler,0.0,225503,NaN,93,NaN,2424.763441
3,Christian Dürr,2237.0,57,16.0,5,139.812500,11.400000
4,Felix Banaszak,14082.0,2737,32.0,30,440.062500,91.233333
5,Friedrich,214853.0,9884,127.0,4,1691.755906,2471.000000
6,Friedrich Merz / Bundeskanzler,214853.0,235387,127.0,97,1691.755906,2426.670103
7,Heidi Reichineck,100521.0,44317,48.0,27,2094.187500,1641.370370
8,Lars Klingbeil,17749.0,14147,35.0,20,507.114286,707.350000

In [268]:
df_post_comments_postings.to_csv("tiktok_comments_postings_merged.csv", index=False)

In [317]:
df_post_comments_postings=df_post_comments_postings[df_post_comments_postings["Name"]!="Bundeskanzler"]
df_post_comments_postings=df_post_comments_postings[df_post_comments_postings["Name"]!="Friedrich"]
df_post_comments_postings_red=df_post_comments_postings.drop(["Comments_pre","Comments_post","Anzahl Postings_pre","Anzahl Postings_post"], axis=1)
df_post_comments_postings_red

,Name,Comments_per_post_pre,Comments_per_post_post
0,Markus Söder,894.533333,573.917647
1,Alice Weidel,1898.441341,703.242424
3,Christian Dürr,139.812500,11.400000
4,Felix Banaszak,440.062500,91.233333
6,Friedrich Merz / Bundeskanzler,1691.755906,2426.670103
7,Heidi Reichineck,2094.187500,1641.370370
8,Lars Klingbeil,507.114286,707.350000

In [318]:
df_post_comments_postings_red.T

,0,1,3,4,6,7,8
Name,Markus Söder,Alice Weidel,Christian Dürr,Felix Banaszak,Friedrich Merz / Bundeskanzler,Heidi Reichineck,Lars Klingbeil
Comments_per_post_pre,894.533333,1898.441341,139.8125,440.0625,1691.755906,2094.1875,507.114286
Comments_per_post_post,573.917647,703.242424,11.4,91.233333,2426.670103,1641.37037,707.35

In [319]:
df_post_comments_postings_red.T.to_csv("tiktok_comments_postings_merged_reduced.csv", index=True)

In [322]:
follower_growth=pd.read_csv("../data/POST/tiktok_monthly_follower_growth_since_jan_24.csv")
follower_growth

,Unnamed: 0,Firstname Of Influencer,Alice,Bundeskanzler,Christian,Dr. Markus Söder,Felix,Friedrich,Heidi,Lars
0,NaN,Month,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut,Follower Growth absolut
1,1.0,2025-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,2025-07,NaN,7936,47,4925,322,NaN,276,161
3,3.0,2025-06,67,25807,96,2829,908,NaN,995,426
4,4.0,2025-05,189,65588,13,4948,928,NaN,2811,621
5,5.0,2025-04,9537,46394,NaN,5686,-2219,224,4015,3325
6,6.0,2025-03,5813,NaN,NaN,3179,0,3982,-8401,275
7,7.0,2025-02,13225,NaN,399,10158,0,32758,0,3278
8,8.0,2025-01,171929,NaN,104,15262,0,90726,0,3019
9,9.0,2024-12,179755,NaN,0,7001,0,14089,0,570
10,10.0,2024-11,179440,NaN,0,11469,0,11460,0,60
11,11.0,2024-10,78805,NaN,0,11528,0,697,0,172
12,12.0,2024-09,5883,NaN,NaN,8966,0,5786,NaN,150
13,13.0,2024-08,29427,NaN,NaN,12520,NaN,-262,NaN,170
14,14.0,2024-07,NaN,NaN,NaN,NaN,NaN,-6311,NaN,100
15,15.0,2024-06,NaN,NaN,0,NaN,NaN,5748,NaN,0
16,16.0,2024-05,4300,NaN,0,NaN,NaN,5030,NaN,4000
17,17.0,2024-04,NaN,NaN,0,NaN,NaN,0,NaN,300
18,18.0,2024-03,NaN,NaN,0,NaN,NaN,0,NaN,400
19,19.0,2024-02,3900,NaN,0,NaN,0,0,NaN,600
20,20.0,2024-01,1700,NaN,NaN,NaN,0,0,NaN,600