In [1]:
import pandas as pd
import glob
import pycountry
import numpy as np

In [183]:
files=glob.glob('../data/*/API*.csv')
files

['../data/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119_v2.csv',
 '../data/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119.csv',
 '../data/API_PA.NUS.PPPC.RF_DS2_en_csv_v2_6595/API_PA.NUS.PPPC.RF_DS2_en_csv_v2_6595.csv',
 '../data/API_EN.POP.DNST_DS2_en_csv_v2_130211/API_EN.POP.DNST_DS2_en_csv_v2_130211.csv',
 '../data/API_VC.IHR.PSRC.P5_DS2_en_csv_v2_128274/API_VC.IHR.PSRC.P5_DS2_en_csv_v2_128274.csv']

In [184]:
gdp_data=pd.read_csv("../data/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119_v2.csv",skiprows=4,decimal=',')
gdp_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27458.22533,27441.52966,28440.05196,30082.12764,31096.20507,22855.93232,27200.06108,30559.53353,33984.79062,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,565.5697304,522.0822156,525.4697709,491.3372214,496.6025043,510.7870634,356.4962141,357.2611528,413.7578947,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3213.902611,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2309.53413,2122.08369
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3981.726623,4168.375445,4614.047969,5365.488802,5460.430509,5370.7775,6413.282808,6846.426694,8575.171346,10011.62799
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,38654.93472,40129.8192,40672.99433,42819.77458,41257.80458,37361.09007,42425.69968,42414.05901,46812.44845,49303.67339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3520.628507,3759.449591,4009.317993,4384.186241,4415.997161,4310.890655,5270.429653,5290.947472,6221.203652,7299.434981
215,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1362.173812,975.359417,811.1659704,633.8872025,NaN,NaN,NaN,NaN,NaN,NaN
216,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,532.1475043,545.6575119,563.4230088,604.5368553,645.8733757,684.6212277,...,6112.273825,5651.205852,6618.335083,6914.178032,6533.71121,5580.603831,6843.399419,6523.410978,6022.542542,6253.371582
217,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,221.5598489,209.6932064,202.2810312,203.2194512,229.9792456,287.425476,...,1295.877887,1239.085279,1483.465773,1463.899979,1258.986198,951.6443167,1127.160779,1447.123101,1330.727806,1235.084665
218,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,276.4197841,279.0164892,275.5456083,277.0057012,281.7445388,294.145359,...,1386.418559,1407.420964,3448.086991,2271.852504,1683.913136,1730.45391,1724.387271,2040.546587,2156.034093,2656.409377

In [185]:
gdp_data = gdp_data.fillna(method='ffill', axis=1)
gdp_data

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_48711/1476691378.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  gdp_data = gdp_data.fillna(method='ffill', axis=1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,27458.22533,27441.52966,28440.05196,30082.12764,31096.20507,22855.93232,27200.06108,30559.53353,33984.79062,33984.79062
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,565.5697304,522.0822156,525.4697709,491.3372214,496.6025043,510.7870634,356.4962141,357.2611528,413.7578947,413.7578947
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,3213.902611,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2309.53413,2122.08369
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,3981.726623,4168.375445,4614.047969,5365.488802,5460.430509,5370.7775,6413.282808,6846.426694,8575.171346,10011.62799
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,38654.93472,40129.8192,40672.99433,42819.77458,41257.80458,37361.09007,42425.69968,42414.05901,46812.44845,49303.67339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,3520.628507,3759.449591,4009.317993,4384.186241,4415.997161,4310.890655,5270.429653,5290.947472,6221.203652,7299.434981
215,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,1362.173812,975.359417,811.1659704,633.8872025,633.8872025,633.8872025,633.8872025,633.8872025,633.8872025,633.8872025
216,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,532.1475043,545.6575119,563.4230088,604.5368553,645.8733757,684.6212277,...,6112.273825,5651.205852,6618.335083,6914.178032,6533.71121,5580.603831,6843.399419,6523.410978,6022.542542,6253.371582
217,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,221.5598489,209.6932064,202.2810312,203.2194512,229.9792456,287.425476,...,1295.877887,1239.085279,1483.465773,1463.899979,1258.986198,951.6443167,1127.160779,1447.123101,1330.727806,1235.084665
218,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,276.4197841,279.0164892,275.5456083,277.0057012,281.7445388,294.145359,...,1386.418559,1407.420964,3448.086991,2271.852504,1683.913136,1730.45391,1724.387271,2040.546587,2156.034093,2656.409377

In [186]:
ger_gdp=pd.to_numeric(gdp_data[gdp_data["Country Code"]=="DEU"]["2024"],errors="coerce")
ger_gdp

51    55800.21945
Name: 2024, dtype: float64

In [187]:
gdp_data["recent"]=pd.to_numeric(gdp_data["2024"],errors="coerce")
gdp_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,recent
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,27441.52966,28440.05196,30082.12764,31096.20507,22855.93232,27200.06108,30559.53353,33984.79062,33984.79062,33984.790620
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,522.0822156,525.4697709,491.3372214,496.6025043,510.7870634,356.4962141,357.2611528,413.7578947,413.7578947,413.757895
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2309.53413,2122.08369,2122.083690
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,4168.375445,4614.047969,5365.488802,5460.430509,5370.7775,6413.282808,6846.426694,8575.171346,10011.62799,10011.627990
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,40129.8192,40672.99433,42819.77458,41257.80458,37361.09007,42425.69968,42414.05901,46812.44845,49303.67339,49303.673390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,3759.449591,4009.317993,4384.186241,4415.997161,4310.890655,5270.429653,5290.947472,6221.203652,7299.434981,7299.434981
215,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,975.359417,811.1659704,633.8872025,633.8872025,633.8872025,633.8872025,633.8872025,633.8872025,633.8872025,633.887202
216,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,532.1475043,545.6575119,563.4230088,604.5368553,645.8733757,684.6212277,...,5651.205852,6618.335083,6914.178032,6533.71121,5580.603831,6843.399419,6523.410978,6022.542542,6253.371582,6253.371582
217,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,221.5598489,209.6932064,202.2810312,203.2194512,229.9792456,287.425476,...,1239.085279,1483.465773,1463.899979,1258.986198,951.6443167,1127.160779,1447.123101,1330.727806,1235.084665,1235.084665
218,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,276.4197841,279.0164892,275.5456083,277.0057012,281.7445388,294.145359,...,1407.420964,3448.086991,2271.852504,1683.913136,1730.45391,1724.387271,2040.546587,2156.034093,2656.409377,2656.409377

In [188]:
gdp_data[gdp_data["Country Name"].str.contains("Cuba")]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,recent
46,Cuba,CUB,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,8110.55874,8610.608295,8911.46206,9232.261159,9605.261251,9605.261251,9605.261251,9605.261251,9605.261251,9605.261251

In [189]:
gdp_data["recent"]

0      33984.790620
1        413.757895
2       2122.083690
3      10011.627990
4      49303.673390
           ...
214     7299.434981
215      633.887202
216     6253.371582
217     1235.084665
218     2656.409377
Name: recent, Length: 219, dtype: float64

In [190]:
gdp_data["gdp_rel_ger"]=gdp_data["recent"]/ger_gdp.values[0]
gdp_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2017,2018,2019,2020,2021,2022,2023,2024,recent,gdp_rel_ger
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,28440.05196,30082.12764,31096.20507,22855.93232,27200.06108,30559.53353,33984.79062,33984.79062,33984.790620,0.609044
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,525.4697709,491.3372214,496.6025043,510.7870634,356.4962141,357.2611528,413.7578947,413.7578947,413.757895,0.007415
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2309.53413,2122.08369,2122.083690,0.038030
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,4614.047969,5365.488802,5460.430509,5370.7775,6413.282808,6846.426694,8575.171346,10011.62799,10011.627990,0.179419
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,40672.99433,42819.77458,41257.80458,37361.09007,42425.69968,42414.05901,46812.44845,49303.67339,49303.673390,0.883575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,4009.317993,4384.186241,4415.997161,4310.890655,5270.429653,5290.947472,6221.203652,7299.434981,7299.434981,0.130814
215,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD,...,811.1659704,633.8872025,633.8872025,633.8872025,633.8872025,633.8872025,633.8872025,633.8872025,633.887202,0.011360
216,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,532.1475043,545.6575119,563.4230088,604.5368553,645.8733757,684.6212277,...,6618.335083,6914.178032,6533.71121,5580.603831,6843.399419,6523.410978,6022.542542,6253.371582,6253.371582,0.112067
217,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,221.5598489,209.6932064,202.2810312,203.2194512,229.9792456,287.425476,...,1483.465773,1463.899979,1258.986198,951.6443167,1127.160779,1447.123101,1330.727806,1235.084665,1235.084665,0.022134
218,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,276.4197841,279.0164892,275.5456083,277.0057012,281.7445388,294.145359,...,3448.086991,2271.852504,1683.913136,1730.45391,1724.387271,2040.546587,2156.034093,2656.409377,2656.409377,0.047606

In [191]:
ppp_data=pd.read_csv("../data/API_PA.NUS.PPPC.RF_DS2_en_csv_v2_6595/API_PA.NUS.PPPC.RF_DS2_en_csv_v2_6595.csv",skiprows=3)
ppp_data = ppp_data.fillna(method='ffill', axis=1)
ppp_data["ppp_rel_us"]=pd.to_numeric(ppp_data["2024"],errors="coerce")
ppp_data=ppp_data.dropna(subset=["ppp_rel_us"])
ppp_data

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_48711/971564242.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ppp_data = ppp_data.fillna(method='ffill', axis=1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69,ppp_rel_us
0,Aruba,ABW,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.757898,0.765701,0.79509,0.788776,0.761985,0.733732,0.755766,0.755766,0.755766,0.755766
2,Afghanistan,AFG,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.224964,0.202007,0.192222,0.199372,0.166263,0.168282,0.187925,0.187925,0.187925,0.187925
4,Angola,AGO,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.348542,0.34549,0.29088,0.224768,0.259968,0.369683,0.287012,0.254204,0.254204,0.254204
5,Albania,ALB,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.354796,0.391741,0.369147,0.370091,0.397656,0.35207,0.403288,0.426243,0.426243,0.426243
6,Andorra,AND,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.766188,0.775094,0.717838,0.717161,0.715054,0.619454,0.652614,0.657913,0.657913,0.657913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.42739,0.437599,0.40659,0.409294,0.426327,0.379255,0.393637,0.392025,0.392025,0.392025
262,"Yemen, Rep.",YEM,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.435717,0.435717,0.435717,0.435717,0.435717,0.435717,0.435717,0.435717,0.435717,0.435717
263,South Africa,ZAF,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.481739,0.518018,0.488996,0.44042,0.499107,0.441982,0.396371,0.404553,0.404553,0.404553
264,Zambia,ZMB,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.437391,0.425271,0.374542,0.301411,0.321767,0.376784,0.326399,0.2924,0.2924,0.292400
265,Zimbabwe,ZWE,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.489412,0.868975,0.524379,0.492912,0.541445,0.573181,0.564354,0.677362,0.677362,0.677362

In [192]:
ger_ppp=pd.to_numeric(ppp_data[ppp_data["Country Code"]=="DEU"]["2024"],errors="coerce")
ger_ppp

55    0.771786
Name: 2024, dtype: float64

In [193]:
ppp_data["ppp_rel_ger"]=ppp_data["ppp_rel_us"]/ger_ppp.values[0]
ppp_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69,ppp_rel_us,ppp_rel_ger
0,Aruba,ABW,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.765701,0.79509,0.788776,0.761985,0.733732,0.755766,0.755766,0.755766,0.755766,0.979243
2,Afghanistan,AFG,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.202007,0.192222,0.199372,0.166263,0.168282,0.187925,0.187925,0.187925,0.187925,0.243493
4,Angola,AGO,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.34549,0.29088,0.224768,0.259968,0.369683,0.287012,0.254204,0.254204,0.254204,0.329371
5,Albania,ALB,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.391741,0.369147,0.370091,0.397656,0.35207,0.403288,0.426243,0.426243,0.426243,0.552281
6,Andorra,AND,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.775094,0.717838,0.717161,0.715054,0.619454,0.652614,0.657913,0.657913,0.657913,0.852456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.437599,0.40659,0.409294,0.426327,0.379255,0.393637,0.392025,0.392025,0.392025,0.507945
262,"Yemen, Rep.",YEM,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.435717,0.435717,0.435717,0.435717,0.435717,0.435717,0.435717,0.435717,0.435717,0.564557
263,South Africa,ZAF,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.518018,0.488996,0.44042,0.499107,0.441982,0.396371,0.404553,0.404553,0.404553,0.524178
264,Zambia,ZMB,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.425271,0.374542,0.301411,0.321767,0.376784,0.326399,0.2924,0.2924,0.292400,0.378862
265,Zimbabwe,ZWE,Price level ratio of PPP conversion factor (GD...,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,PA.NUS.PPPC.RF,...,0.868975,0.524379,0.492912,0.541445,0.573181,0.564354,0.677362,0.677362,0.677362,0.877655

In [194]:
df_rel_ger=pd.merge(gdp_data[["Country Name","Country Code","gdp_rel_ger"]],ppp_data[["Country Code","ppp_rel_ger"]],on="Country Code",how="left")
df_rel_ger

     Country Name Country Code  gdp_rel_ger  ppp_rel_ger
0           Aruba          ABW     0.609044     0.979243
1     Afghanistan          AFG     0.007415     0.243493
2          Angola          AGO     0.038030     0.329371
3         Albania          ALB     0.179419     0.552281
4         Andorra          AND     0.883575     0.852456
..            ...          ...          ...          ...
214        Kosovo          XKX     0.130814     0.507945
215   Yemen, Rep.          YEM     0.011360     0.564557
216  South Africa          ZAF     0.112067     0.524178
217        Zambia          ZMB     0.022134     0.378862
218      Zimbabwe          ZWE     0.047606     0.877655

[219 rows x 4 columns]

In [195]:
df_rel_ger["cost_to_gdp"]=df_rel_ger["ppp_rel_ger"]/df_rel_ger["gdp_rel_ger"]
df_rel_ger

     Country Name Country Code  gdp_rel_ger  ppp_rel_ger  cost_to_gdp
0           Aruba          ABW     0.609044     0.979243     1.607836
1     Afghanistan          AFG     0.007415     0.243493    32.837974
2          Angola          AGO     0.038030     0.329371     8.660820
3         Albania          ALB     0.179419     0.552281     3.078160
4         Andorra          AND     0.883575     0.852456     0.964780
..            ...          ...          ...          ...          ...
214        Kosovo          XKX     0.130814     0.507945     3.882964
215   Yemen, Rep.          YEM     0.011360     0.564557    49.697205
216  South Africa          ZAF     0.112067     0.524178     4.677352
217        Zambia          ZMB     0.022134     0.378862    17.116708
218      Zimbabwe          ZWE     0.047606     0.877655    18.435923

[219 rows x 5 columns]

In [196]:
df_rel_ger.sort_values("cost_to_gdp",ascending=False,inplace=True)
df_rel_ger=df_rel_ger.reset_index(drop=True)
df_rel_ger.head(20)

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp
0,Burundi,BDI,0.002759,0.209981,76.118642
1,Central African Republic,CAF,0.009250,0.529283,57.217771
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019
4,South Sudan,SSD,0.019357,0.863409,44.603581
5,Mozambique,MOZ,0.011600,0.493430,42.536863
6,"Congo, Dem. Rep.",COD,0.011603,0.490650,42.287398
7,Malawi,MWI,0.009111,0.354242,38.882573
8,Madagascar,MDG,0.009767,0.374907,38.385285
9,Liberia,LBR,0.015166,0.581734,38.357269
10,Niger,NER,0.012952,0.464740,35.880547
11,Eritrea,ERI,0.012342,0.424462,34.391917
12,Sudan,SDN,0.017730,0.602542,33.985197
13,Afghanistan,AFG,0.007415,0.243493,32.837974
14,Ethiopia,ETH,0.018120,0.460485,25.413738
15,Solomon Islands,SLB,0.038519,0.969526,25.169941
16,Burkina Faso,BFA,0.017694,0.441708,24.963896
17,Chad,TCD,0.018209,0.444488,24.409785
18,Lesotho,LSO,0.017416,0.419940,24.112334
19,Guinea-Bissau,GNB,0.017258,0.408732,23.684060

In [197]:
df_ppp_gdp_cost=df_rel_ger.copy()

In [198]:
files

['../data/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119_v2.csv',
 '../data/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_130119.csv',
 '../data/API_PA.NUS.PPPC.RF_DS2_en_csv_v2_6595/API_PA.NUS.PPPC.RF_DS2_en_csv_v2_6595.csv',
 '../data/API_EN.POP.DNST_DS2_en_csv_v2_130211/API_EN.POP.DNST_DS2_en_csv_v2_130211.csv',
 '../data/API_VC.IHR.PSRC.P5_DS2_en_csv_v2_128274/API_VC.IHR.PSRC.P5_DS2_en_csv_v2_128274.csv']

In [199]:
popdensity=pd.read_csv( '../data/API_EN.POP.DNST_DS2_en_csv_v2_130211/API_EN.POP.DNST_DS2_en_csv_v2_130211.csv',skiprows=4,decimal=",")
popdensity = popdensity.fillna(method='ffill', axis=1)
popdensity

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_48711/112099768.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  popdensity = popdensity.fillna(method='ffill', axis=1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,308.766666666667,312.888888888889,316.677777777778,320.105555555556,323.277777777778,...,604.038888888889,604.083333333333,605.044444444444,606.683333333333,603.261111111111,598.333333333333,596.166666666667,596.438888888889,596.438888888889,596.438888888889
1,Africa Eastern and Southern,AFE,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,12.0360166751227,12.3638096910293,12.7039637532132,13.0607638248876,13.4329605607623,...,41.9915537679033,43.1158195866339,44.3109394118317,45.5334654681731,46.7795135824364,48.0354728061518,49.2972007384894,49.2972007384894,49.2972007384894,49.2972007384894
2,Afghanistan,AFG,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,14.127045674072,14.4188491789706,14.7256136638916,15.0473268632231,15.3872222988823,...,53.2030296061205,54.7183278904681,56.3344817012404,58.0410606687825,59.9006163469942,61.3286907992579,62.2155405301811,63.5585008355948,63.5585008355948,63.5585008355948
3,Africa Western and Central,AFW,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,11.0214770664715,11.2589239248423,11.5059143897473,11.7600728673156,12.0236190914136,...,47.4757006029331,48.7390701520488,49.9897095662287,51.2245254219844,52.4631237583976,53.7180180179184,54.9855916127898,54.9855916127898,54.9855916127898,54.9855916127898
4,Angola,AGO,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,4.25249298147108,4.29478623566215,4.33810860672175,4.38292051014679,4.42927809416861,...,23.4082537900056,24.2518962059838,25.1039985561883,25.969063928772,26.8317413972888,27.6990687414775,28.5834835966953,29.4777460495709,29.4777460495709,29.4777460495709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,...,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST,EN.POP.DNST
262,"Yemen, Rep.",YEM,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,10.711275261852,10.9517983976362,11.1959675739152,11.4552076822547,11.734744398356,...,60.8159743924844,62.6757599863629,64.5589370608179,66.5026573479554,68.4411292308275,70.3453415913783,72.395924010834,74.6080250771824,74.6080250771824,74.6080250771824
263,South Africa,ZAF,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,13.9379889373418,14.3588043756028,14.8006858518329,15.2596765285346,15.7361613730226,...,47.2014038529705,47.5110354549127,48.3171083761304,49.1207453692636,49.9240625180325,50.6991261983859,51.4210899438624,52.1085690262058,52.1085690262058,52.1085690262058
264,Zambia,ZMB,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,4.37736047027805,4.51727760663985,4.66229973499778,4.81176367720846,4.96655322240009,...,22.7530946071376,23.4618706197285,24.1778460834824,24.9046113076582,25.6384872005273,26.3705551594721,27.1095091405588,27.8776483407095,27.8776483407095,27.8776483407095
265,Zimbabwe,ZWE,Population density (people per sq. km of land ...,EN.POP.DNST,EN.POP.DNST,10.1600129249063,10.4845780018095,10.8204135970014,11.1671345482745,11.5250407134548,...,37.7414863642239,38.2899883675843,38.8637766576192,39.4762000775494,40.13671448882,40.8354917926845,41.5382086079876,42.24071862479,42.24071862479,42.24071862479

In [200]:
popdensity["popdensity"]=pd.to_numeric(popdensity["2024"],errors="coerce")
popdensity_df=popdensity[["Country Code","popdensity"]]
popdensity_df

    Country Code  popdensity
0            ABW  596.438889
1            AFE   49.297201
2            AFG   63.558501
3            AFW   54.985592
4            AGO   29.477746
..           ...         ...
261          XKX         NaN
262          YEM   74.608025
263          ZAF   52.108569
264          ZMB   27.877648
265          ZWE   42.240719

[266 rows x 2 columns]

In [201]:
df_general_worldbank=pd.merge(df_ppp_gdp_cost,popdensity_df,on="Country Code",how="left")
df_general_worldbank

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908
...,...,...,...,...,...,...
214,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957
215,New Caledonia,NCL,0.600649,NaN,NaN,15.857221
216,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076
217,French Polynesia,PYF,0.408137,NaN,NaN,80.990493
218,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000

In [202]:
df_general_worldbank[df_general_worldbank["Country Name"]=="Cuba"]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity
206,Cuba,CUB,0.172137,NaN,NaN,106.165039

In [203]:
df_general_worldbank["Country Name"]=df_general_worldbank["Country Name"].str.replace("Turkiye","Turkey")
df_general_worldbank

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908
...,...,...,...,...,...,...
214,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957
215,New Caledonia,NCL,0.600649,NaN,NaN,15.857221
216,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076
217,French Polynesia,PYF,0.408137,NaN,NaN,80.990493
218,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000

In [204]:
df_general_worldbank[df_general_worldbank["Country Name"].str.contains("Gaza")]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity
34,West Bank and Gaza,PSE,0.046457,0.768418,16.540444,857.390041

In [205]:
homicides_df=pd.read_csv(  '../data/API_VC.IHR.PSRC.P5_DS2_en_csv_v2_128274/API_VC.IHR.PSRC.P5_DS2_en_csv_v2_128274.csv',skiprows=3)
homicides_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,12.900000,13.100000,12.500000,12.300000,11.700000,12.500000,12.700000,12.4,NaN,NaN
2,Afghanistan,AFG,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,6.679997,6.792021,6.733248,7.163967,6.578109,4.032458,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,16.200000,15.700000,15.000000,14.400000,13.700000,13.100000,12.600000,11.9,NaN,NaN
4,Angola,AGO,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,4.098267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,2.156930,2.714749,2.489052,1.367489,2.112575,1.894977,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,33.210180,35.284016,35.865763,35.787476,32.977567,40.942983,43.720255,NaN,NaN,NaN
264,Zambia,ZMB,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.882120,5.173080,5.023544,6.216288,6.758331,NaN,NaN,NaN

In [206]:
homicides_df = homicides_df.fillna(method='ffill', axis=1)
homicides_df["homicides"]=pd.to_numeric(homicides_df["2024"],errors="coerce")
homicides_df=homicides_df[["Country Code","homicides"]]
homicides_df.sort_values("homicides",ascending=False,inplace=True)
homicides_df

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_48711/1846212192.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  homicides_df = homicides_df.fillna(method='ffill', axis=1)

    Country Code  homicides
228          TCA  76.340040
125          KNA  64.160144
253          VCT  51.321276
256          VIR  49.857140
117          JAM  49.440345
..           ...        ...
193          PRK        NaN
213          SOM        NaN
225          SXM        NaN
229          TCD        NaN
232          TGO        NaN

[266 rows x 2 columns]

In [207]:
df_general_worldbank=pd.merge(df_general_worldbank,homicides_df,on="Country Code",how="left")
df_general_worldbank

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581
...,...,...,...,...,...,...,...
214,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN
215,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821
216,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN
217,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083
218,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598

In [208]:
data_freedom=pd.read_csv("../data/freedom_house_scores.csv")
data_freedom

    Country or Territory Overall
0              Abkhazia*      39
1            Afghanistan       6
2                Albania      68
3                Algeria      31
4                Andorra      93
..                   ...     ...
211           West Bank*      22
212      Western Sahara*       4
213                Yemen      10
214               Zambia      53
215             Zimbabwe      26

[216 rows x 2 columns]

In [209]:
data_freedom["Country or Territory"].tolist()

['Abkhazia*',
 'Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Costa Rica',
 'Crimea*',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "Côte d'Ivoire",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Eastern Donbas*',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gaza Strip*',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong*',
 'Hungary',
 'Iceland',
 'India',
 'Indian Kashmir*',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Nagorno-Karabakh*',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Northern Cyprus*',
 'Norway',
 'Oman',
 'Pakistan',
 'Pakistani Kashmir*',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of the Congo',
 'Romania',
 'Russia',
 'Russian-occupied territories of Ukraine*',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'Somaliland*',
 'South Africa',
 'South Korea',
 'South Ossetia*',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'São Tomé and Príncipe',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Bahamas',
 'The Gambia',
 'Tibet*',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Transnistria*',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'West Bank*',
 'Western Sahara*',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [210]:
overrides = {
    "Czechia": "CZE",
    "Côte d'Ivoire": "CIV",
    "Democratic Republic of the Congo": "COD",
    "Republic of the Congo": "COG",
    "South Korea": "KOR",
    "North Korea": "PRK",
    "Russia": "RUS",
    "Brunei": "BRN",
    "Cabo Verde": "CPV",
    "East Timor": "TLS",
    "Micronesia": "FSM",
    "Saint Kitts and Nevis": "KNA",
    "St. Kitts and Nevis": "KNA",
    "Saint Lucia": "LCA",
    "St. Lucia": "LCA",
    "Saint Vincent and the Grenadines": "VCT",
    "St. Vincent and the Grenadines": "VCT",
    "Sao Tome and Principe": "STP",
    "São Tomé and Príncipe": "STP",
    "Solomon Islands": "SLB",
    "Trinidad and Tobago": "TTO",
    "Turkey": "TUR",
"Turkiye": "TUR",
    "United Arab Emirates": "ARE",
    "Antigua and Barbuda": "ATG",
    "Bahamas": "BHS",
    "The Bahamas": "BHS",
    "Gambia": "GMB",
    "The Gambia": "GMB",
    "Guinea-Bissau": "GNB",
    "Marshall Islands": "MHL",
    "Myanmar": "MMR",
    "San Marino": "SMR",
    "South Sudan": "SSD",
    "Suriname": "SUR",
    "Tuvalu": "TUV",
    "Vanuatu": "VUT",
    "Kosovo": "XKX",
    "Timor-Leste": "TLS",
    "Faroe Islands": "FRO",
    "North Macedonia": "MKD",
    "Palestine": "PSE",
    "Puerto Rico": "PRI",
    "Hong Kong*": "HKG",
    "Macao": "MAC",
    "Macau": "MAC",
    "Taiwan": "TWN",
    "Western Sahara*": "ESH",
    "Nagorno-Karabakh*": None,
    "Abkhazia*": None,
    "Crimea*": None,
    "Eastern Donbas*": None,
    "Gaza Strip*": None,
    "Indian Kashmir*": None,
    "Northern Cyprus*": None,
    "Pakistani Kashmir*": None,
    "Russian-occupied territories of Ukraine*": None,
    "Somaliland*": None,
    "South Ossetia*": None,
    "Tibet*": None,
    "Transnistria*": None,
    "West Bank*": None,
    "Antarctica": None,
}

country_to_iso3 = {}
for name in data_freedom["Country or Territory"].unique():
    # Remove trailing asterisks for lookup, but keep original for mapping
    lookup_name = name.replace("*", "").strip()
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(lookup_name).alpha_3
        except LookupError:
            country_to_iso3[name] = None

# Example usage:
data_freedom["Country Code"] = data_freedom["Country or Territory"].map(country_to_iso3)
data_freedom = data_freedom.rename(columns={"Overall":"FreedomScore"})
data_freedom[["Country Code","FreedomScore"]]

    Country Code FreedomScore
0           None           39
1            AFG            6
2            ALB           68
3            DZA           31
4            AND           93
..           ...          ...
211         None           22
212          ESH            4
213          YEM           10
214          ZMB           53
215          ZWE           26

[216 rows x 2 columns]

In [211]:
df_general_freedom=pd.merge(df_general_worldbank,data_freedom,on="Country Code",how="left")
df_general_freedom

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1
...,...,...,...,...,...,...,...,...,...
214,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN
215,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN
216,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3
217,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN
218,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN

In [212]:
df_general_freedom[df_general_freedom["FreedomScore"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore
126,Curacao,CUW,0.377449,0.888462,2.353859,350.900901,16.919813,NaN,NaN
137,Turks and Caicos Islands,TCA,0.672162,1.280415,1.904921,48.629474,76.340040,NaN,NaN
147,Aruba,ABW,0.609044,0.979243,1.607836,596.438889,1.934751,NaN,NaN
154,Virgin Islands (U.S.),VIR,0.794278,1.153302,1.452013,299.762857,49.857140,NaN,NaN
160,Sint Maarten (Dutch part),SXM,0.717343,0.995761,1.388123,1257.323529,NaN,NaN,NaN
186,Faroe Islands,FRO,1.286274,1.189759,0.924966,39.736496,NaN,NaN,NaN
188,Greenland,GRL,1.048365,0.961394,0.917042,0.138543,5.351314,NaN,NaN
193,Cayman Islands,CYM,1.751776,1.461008,0.834015,304.325000,4.367798,NaN,NaN
197,Bermuda,BMU,2.489864,1.503672,0.603917,1198.111111,6.182571,NaN,NaN
203,American Samoa,ASM,0.322892,NaN,NaN,237.605000,25.536011,NaN,NaN
204,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.000000,NaN,NaN
205,Caribbean small states,CSS,0.361539,NaN,NaN,11.284814,31.500000,NaN,NaN
207,Gibraltar,GIB,NaN,NaN,NaN,3847.100000,3.200205,NaN,NaN
208,Guam,GUM,0.749695,NaN,NaN,308.344444,4.326115,NaN,NaN
209,Isle of Man,IMN,1.582943,NaN,NaN,147.657895,1.196272,NaN,NaN
210,Latin America & Caribbean,LCN,0.197933,NaN,NaN,32.586665,19.700000,NaN,NaN
212,St. Martin (French part),MAF,0.388321,NaN,NaN,550.300000,26.899798,NaN,NaN
214,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN
215,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN
217,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN
218,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN

In [213]:
PISA_Scores=pd.read_csv("../data/PISA2022_full_mean_scores.csv")
#PISA_Scores=PISA_Scores[["Region","Overall PISA Score 2022"]]
PISA_Scores.rename(columns={"Country/Economy":"Region"}, inplace=True)
PISA_Scores["PISA Score"]=((PISA_Scores["Mathematics"]+PISA_Scores["Reading"]+PISA_Scores["Science"])/3).round().astype(int)
PISA_Scores

                          Region  Mathematics  Reading  Science  PISA Score
0                      Australia          487      498      507         497
1                        Austria          487      480      491         486
2                        Belgium          489      479      491         486
3                         Canada          497      507      515         506
4                          Chile          412      448      444         435
..                           ...          ...      ...      ...         ...
76  Ukrainian regions (18 of 27)          441      428      450         440
77          United Arab Emirates          431      417      432         427
78                       Uruguay          409      430      435         425
79                    Uzbekistan          364      336      355         352
80                      Viet Nam          469      462      472         468

[81 rows x 5 columns]

In [214]:
PISA_Scores.Region.unique().tolist()

['Australia',
 'Austria',
 'Belgium',
 'Canada',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Korea',
 'Latvia',
 'Lithuania',
 'Mexico',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Poland',
 'Portugal',
 'Slovak Republic',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Türkiye',
 'United Kingdom',
 'United States',
 'Albania',
 'Argentina',
 'Baku (Azerbaijan)',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Cambodia',
 'Croatia',
 'Cyprus',
 'Dominican Republic',
 'El Salvador',
 'Georgia',
 'Guatemala',
 'Hong Kong (China)',
 'Indonesia',
 'Jamaica',
 'Jordan',
 'Kazakhstan',
 'Kosovo',
 'Macao (China)',
 'Malaysia',
 'Malta',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'North Macedonia',
 'Palestinian Authority',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Qatar',
 'Romania',
 'Saudi Arabia',
 'Serbia',
 'Singapore',
 'Chinese Taipei',
 'Thailand',
 'Ukrainian regions (18 of 27)',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Viet Nam']

In [215]:
overrides = {
    "Australia": "AUS",
    "Austria": "AUT",
    "Belgium": "BEL",
    "Canada": "CAN",
    "Chile": "CHL",
    "Colombia": "COL",
    "Costa Rica": "CRI",
    "Czech Republic": "CZE",
    "Denmark": "DNK",
    "Estonia": "EST",
    "Finland": "FIN",
    "France": "FRA",
    "Germany": "DEU",
    "Greece": "GRC",
    "Hungary": "HUN",
    "Iceland": "ISL",
    "Ireland": "IRL",
    "Israel": "ISR",
    "Italy": "ITA",
    "Japan": "JPN",
    "Korea": "KOR",
    "Latvia": "LVA",
    "Lithuania": "LTU",
    "Mexico": "MEX",
    "Netherlands": "NLD",
    "New Zealand": "NZL",
    "Norway": "NOR",
    "Poland": "POL",
    "Portugal": "PRT",
    "Slovak Republic": "SVK",
    "Slovenia": "SVN",
    "Spain": "ESP",
    "Sweden": "SWE",
    "Switzerland": "CHE",
    "Türkiye": "TUR",
    "United Kingdom": "GBR",
    "United States": "USA",
    "Albania": "ALB",
    "Argentina": "ARG",
    "Baku (Azerbaijan)": "AZE",
    "Brazil": "BRA",
    "Brunei Darussalam": "BRN",
    "Bulgaria": "BGR",
    "Cambodia": "KHM",
    "Croatia": "HRV",
    "Cyprus": "CYP",
    "Dominican Republic": "DOM",
    "El Salvador": "SLV",
    "Georgia": "GEO",
    "Guatemala": "GTM",
    "Hong Kong (China)": "HKG",
    "Indonesia": "IDN",
    "Jamaica": "JAM",
    "Jordan": "JOR",
    "Kazakhstan": "KAZ",
    "Kosovo": "XKX",
    "Macao (China)": "MAC",
    "Malaysia": "MYS",
    "Malta": "MLT",
    "Moldova": "MDA",
    "Mongolia": "MNG",
    "Montenegro": "MNE",
    "Morocco": "MAR",
    "North Macedonia": "MKD",
    "Palestinian Authority": "PSE",
    "Panama": "PAN",
    "Paraguay": "PRY",
    "Peru": "PER",
    "Philippines": "PHL",
    "Qatar": "QAT",
    "Romania": "ROU",
    "Saudi Arabia": "SAU",
    "Serbia": "SRB",
    "Singapore": "SGP",
    "Chinese Taipei": "TWN",
    "Thailand": "THA",
    "Ukrainian regions (18 of 27)": "UKR",
    "United Arab Emirates": "ARE",
    "Uruguay": "URY",
    "Uzbekistan": "UZB",
    "Viet Nam": "VNM"
}
PISA_Scores["Country Code"] = PISA_Scores["Region"].map(overrides)

In [216]:
PISA_Scores=PISA_Scores[["Country Code","PISA Score"]]
PISA_Scores

   Country Code  PISA Score
0           AUS         497
1           AUT         486
2           BEL         486
3           CAN         506
4           CHL         435
..          ...         ...
76          UKR         440
77          ARE         427
78          URY         425
79          UZB         352
80          VNM         468

[81 rows x 2 columns]

In [217]:
PISA_Scores["Country Code"].isna().sum()

np.int64(0)

In [218]:
df_general_PISA=pd.merge(df_general_freedom,PISA_Scores,on="Country Code",how="left")
df_general_PISA

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN
...,...,...,...,...,...,...,...,...,...,...
214,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN
215,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN
216,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN
217,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN
218,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN

In [219]:
df_general_PISA[df_general_PISA["PISA Score"].isna()].sort_values(by="Country Name").iloc[100:]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score
155,Puerto Rico (US),PRI,0.704030,1.014872,1.441518,361.194138,14.589658,Puerto Rico,Not covered,NaN
149,Russian Federation,RUS,0.266827,0.406954,1.525159,8.782272,6.765125,Russia,12,NaN
28,Rwanda,RWA,0.017915,0.349043,19.483385,565.645359,3.612474,Rwanda,21,NaN
55,Samoa,WSM,0.087791,0.809887,9.225140,77.936331,6.262585,Samoa,84,NaN
184,San Marino,SMR,0.972480,0.925849,0.952050,564.333333,3.637620,San Marino,97,NaN
46,Sao Tome and Principe,STP,0.058151,0.674903,11.606072,240.490625,3.231897,São Tomé and Príncipe,84,NaN
40,Senegal,SEN,0.031254,0.442173,14.147645,93.894837,0.267518,Senegal,69,NaN
130,Seychelles,SYC,0.320049,0.696167,2.175187,260.376087,7.966699,Seychelles,80,NaN
25,Sierra Leone,SLE,0.015652,0.321896,20.565732,117.214076,2.224312,Sierra Leone,59,NaN
160,Sint Maarten (Dutch part),SXM,0.717343,0.995761,1.388123,1257.323529,NaN,NaN,NaN,NaN
15,Solomon Islands,SLB,0.038519,0.969526,25.169941,28.581815,3.734350,Solomon Islands,75,NaN
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN
83,South Africa,ZAF,0.112067,0.524178,4.677352,52.108569,43.720255,South Africa,81,NaN
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN
84,Sri Lanka,LKA,0.080924,0.374270,4.624960,356.239897,3.310940,Sri Lanka,58,NaN
134,St. Kitts and Nevis,KNA,0.408088,0.830074,2.034056,179.838462,64.160144,St. Kitts and Nevis,89,NaN
122,St. Lucia,LCA,0.254150,0.666553,2.622674,293.909836,39.044089,St. Lucia,91,NaN
212,St. Martin (French part),MAF,0.388321,NaN,NaN,550.300000,26.899798,NaN,NaN,NaN
104,St. Vincent and the Grenadines,VCT,0.206114,0.700547,3.398827,259.802564,51.321276,St. Vincent and the Grenadines,90,NaN
12,Sudan,SDN,0.017730,0.602542,33.985197,26.789503,5.148084,Sudan,2,NaN
109,Suriname,SUR,0.133166,0.436310,3.276431,3.918107,6.519465,Suriname,80,NaN
37,Syrian Arab Republic,SYR,0.015186,0.236112,15.548189,128.490023,2.059387,Syria,5,NaN
41,Tajikistan,TJK,0.024036,0.321457,13.374100,74.859853,0.892371,Tajikistan,5,NaN
31,Tanzania,TZA,0.021250,0.363999,17.129498,75.206148,3.749213,Tanzania,35,NaN
38,Timor-Leste,TLS,0.024071,0.365735,15.194234,93.092535,4.065946,Timor-Leste,72,NaN
21,Togo,TGO,0.018694,0.417276,22.321111,171.067053,NaN,Togo,41,NaN
56,Tonga,TON,0.087164,0.802515,9.206963,145.273611,0.946347,Tonga,80,NaN
135,Trinidad and Tobago,TTO,0.346141,0.694759,2.007159,266.571150,40.443299,Trinidad and Tobago,82,NaN
80,Tunisia,TUN,0.077963,0.390053,5.003034,78.530066,4.693480,Tunisia,44,NaN
102,Turkmenistan,TKM,0.153612,0.544213,3.542769,15.671351,1.013551,Turkmenistan,1,NaN
137,Turks and Caicos Islands,TCA,0.672162,1.280415,1.904921,48.629474,76.340040,NaN,NaN,NaN
45,Tuvalu,TUV,0.113705,1.336512,11.754186,327.200000,18.290731,Tuvalu,93,NaN
22,Uganda,UGA,0.019224,0.424301,22.071230,242.652110,8.973089,Uganda,34,NaN
26,Vanuatu,VUT,0.063491,1.274261,20.069946,26.284578,0.334607,Vanuatu,82,NaN
116,"Venezuela, RB",VEN,0.285727,0.809861,2.834392,32.085317,12.646645,Venezuela,13,NaN
154,Virgin Islands (U.S.),VIR,0.794278,1.153302,1.452013,299.762857,49.857140,NaN,NaN,NaN
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN
32,Zambia,ZMB,0.022134,0.378862,17.116708,27.877648,5.201509,Zambia,53,NaN
29,Zimbabwe,ZWE,0.047606,0.877655,18.435923,42.240719,6.758331,Zimbabwe,26,NaN

In [220]:
timezones=pd.read_csv("../data/timezones.csv")
timezones

         Country           Capital  UTC Offset  Offset to CEST ISO3
0    Afghanistan             Kabul         4.5             2.5  AFG
1        Albania            Tirana         2.0             0.0  ALB
2        Algeria           Algiers         1.0            -1.0  DZA
3        Andorra  Andorra la Vella         2.0             0.0  AND
4         Angola            Luanda         1.0            -1.0  AGO
..           ...               ...         ...             ...  ...
190    Venezuela           Caracas        -4.0            -6.0  VEN
191      Vietnam             Hanoi         7.0             5.0  VNM
192        Yemen            Sana'a         3.0             1.0  YEM
193       Zambia            Lusaka         2.0             0.0  ZMB
194     Zimbabwe            Harare         2.0             0.0  ZWE

[195 rows x 5 columns]

In [221]:
random_index = np.random.choice(timezones.index)
random_row = timezones.loc[random_index]
print(random_row)

Country           Afghanistan
Capital                 Kabul
UTC Offset                4.5
Offset to CEST            2.5
ISO3                      AFG
Name: 0, dtype: object

In [222]:
timezones[["ISO3","Offset to CEST"]]

    ISO3  Offset to CEST
0    AFG             2.5
1    ALB             0.0
2    DZA            -1.0
3    AND             0.0
4    AGO            -1.0
..   ...             ...
190  VEN            -6.0
191  VNM             5.0
192  YEM             1.0
193  ZMB             0.0
194  ZWE             0.0

[195 rows x 2 columns]

In [223]:
timezones["timediff_to_germany"]=np.sqrt(timezones["Offset to CEST"]**2)
timezones["Country Code"] = timezones["ISO3"]
timezones_red=timezones[["Country","Country Code","timediff_to_germany"]]
timezones_red

         Country Country Code  timediff_to_germany
0    Afghanistan          AFG                  2.5
1        Albania          ALB                  0.0
2        Algeria          DZA                  1.0
3        Andorra          AND                  0.0
4         Angola          AGO                  1.0
..           ...          ...                  ...
190    Venezuela          VEN                  6.0
191      Vietnam          VNM                  5.0
192        Yemen          YEM                  1.0
193       Zambia          ZMB                  0.0
194     Zimbabwe          ZWE                  0.0

[195 rows x 3 columns]

In [224]:
timezones_red[timezones_red["Country"]=="Taiwan"]

    Country Country Code  timediff_to_germany
169  Taiwan          TWN                  6.0

In [225]:
df_general_check=pd.merge(df_general_PISA,timezones_red,on="Country Code",how="left")
missing_before_fixing=df_general_check[df_general_check["timediff_to_germany"].isna()][["Country Name","Country Code","timediff_to_germany"]]
missing_before_fixing.to_csv("../data/df_general_missing_timezones_before_fixing.csv", index=False)
missing_before_fixing

                  Country Name Country Code  timediff_to_germany
53               Cote d'Ivoire          CIV                  NaN
97                      Kosovo          XKX                  NaN
126                    Curacao          CUW                  NaN
137   Turks and Caicos Islands          TCA                  NaN
145                     Turkey          TUR                  NaN
147                      Aruba          ABW                  NaN
154      Virgin Islands (U.S.)          VIR                  NaN
155           Puerto Rico (US)          PRI                  NaN
160  Sint Maarten (Dutch part)          SXM                  NaN
183       Hong Kong SAR, China          HKG                  NaN
186              Faroe Islands          FRO                  NaN
188                  Greenland          GRL                  NaN
193             Cayman Islands          CYM                  NaN
197                    Bermuda          BMU                  NaN
199           Macao SAR, China          MAC                  NaN
203             American Samoa          ASM                  NaN
204            Channel Islands          CHI                  NaN
205     Caribbean small states          CSS                  NaN
207                  Gibraltar          GIB                  NaN
208                       Guam          GUM                  NaN
209                Isle of Man          IMN                  NaN
210  Latin America & Caribbean          LCN                  NaN
212   St. Martin (French part)          MAF                  NaN
214   Northern Mariana Islands          MNP                  NaN
215              New Caledonia          NCL                  NaN
217           French Polynesia          PYF                  NaN
218     British Virgin Islands          VGB                  NaN

In [226]:
timezones_manual_fallback=pd.read_csv("../data/df_general_missing_timezones_after_fixing.csv")
timezones_manual_fallback

                 Country Name Country Code  timediff_to_germany
0               Cote d'Ivoire          CIV                    2
1                      Kosovo          XKX                    0
2                     Curacao          CUW                    6
3    Turks and Caicos Islands          TCA                    6
4                      Turkey          TUR                    1
5                       Aruba          ABW                    6
6       Virgin Islands (U.S.)          VIR                    6
7            Puerto Rico (US)          PRI                    6
8   Sint Maarten (Dutch part)          SXM                    6
9        Hong Kong SAR, China          HKG                    6
10              Faroe Islands          FRO                    1
11                  Greenland          GRL                    3
12             Cayman Islands          CYM                    7
13                    Bermuda          BMU                    5
14           Macao SAR, China          MAC                    6
15             American Samoa          ASM                   11
16            Channel Islands          CHI                    1
17                  Gibraltar          GIB                    0
18                       Guam          GUM                    8
19                Isle of Man          IMN                    1
20   St. Martin (French part)          MAF                    6
21   Northern Mariana Islands          MNP                    8
22              New Caledonia          NCL                    9
23           French Polynesia          PYF                   12
24     British Virgin Islands          VGB                    6

In [227]:
timezones_red_whole=pd.concat([timezones_red[["Country Code","timediff_to_germany"]],timezones_manual_fallback[["Country Code","timediff_to_germany"]]],ignore_index=True)
timezones_red_whole=timezones_red_whole.drop_duplicates(subset=["Country Code"],keep="first")
timezones_red_whole=timezones_red_whole.reset_index(drop=True)
timezones_red_whole

    Country Code  timediff_to_germany
0            AFG                  2.5
1            ALB                  0.0
2            DZA                  1.0
3            AND                  0.0
4            AGO                  1.0
..           ...                  ...
215          MAF                  6.0
216          MNP                  8.0
217          NCL                  9.0
218          PYF                 12.0
219          VGB                  6.0

[220 rows x 2 columns]

In [228]:
df_general_timezones=pd.merge(df_general_PISA,timezones_red_whole,on="Country Code",how="left")
df_general_timezones

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,0.0
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,1.0
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,1.0
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
214,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0
215,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0
216,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,7.0
217,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0
218,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0

In [229]:
cuisine_base=pd.read_csv("../data/tasteatlas_cuisines.csv")
cuisine_base

    Rank             Cuisine Country Adjective    Country
0      1       Greek cuisine             Greek     Greece
1      2     Italian cuisine           Italian      Italy
2      3     Mexican cuisine           Mexican     Mexico
3      4     Spanish cuisine           Spanish      Spain
4      5  Portuguese cuisine        Portuguese   Portugal
..   ...                 ...               ...        ...
95    96    Albanian cuisine          Albanian    Albania
96    97    Bolivian cuisine          Bolivian    Bolivia
97    98    Nigerian cuisine          Nigerian    Nigeria
98    99         Lao cuisine               Lao       Laos
99   100  Nicaraguan cuisine        Nicaraguan  Nicaragua

[100 rows x 4 columns]

In [230]:
cuisine=cuisine_base[["Country","Rank"]]
cuisine.rename(columns={"Rank":"Cuisine Rank","Country":"Country Name"}, inplace=True)
cuisine

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_48711/132657593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cuisine.rename(columns={"Rank":"Cuisine Rank","Country":"Country Name"}, inplace=True)

   Country Name  Cuisine Rank
0        Greece             1
1         Italy             2
2        Mexico             3
3         Spain             4
4      Portugal             5
..          ...           ...
95      Albania            96
96      Bolivia            97
97      Nigeria            98
98         Laos            99
99    Nicaragua           100

[100 rows x 2 columns]

In [231]:

overrides = {
    "United States": "USA",
    "South Korea": "KOR",
    "North Korea": "PRK",
    "Russia": "RUS",
    "Czechia": "CZE",
    "United Kingdom": "GBR",
    "Palestine": "PSE",
    "North Macedonia": "MKD",
    "Trinidad and Tobago": "TTO",
    "Puerto Rico": "PRI",
    "Dominican Republic": "DOM",
    "Bosnia and Herzegovina": "BIH",
    "Sri Lanka": "LKA",
    "Taiwan": "TWN",
    "Laos": "LAO",
    "Bahamas": "BHS",
    "Turkiye": "TUR",
    "Turkey": "TUR",
    "Taiwan": "TWN",
}

country_to_iso3 = {}
for name in cuisine["Country Name"].unique().tolist():
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(name).alpha_3
        except LookupError:
            country_to_iso3[name] = None

# Now map to your cuisine DataFrame
cuisine["Country Code"] = cuisine["Country Name"].map(country_to_iso3)
cuisine=cuisine[["Country Code","Cuisine Rank"]]

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_48711/1135991320.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cuisine["Country Code"] = cuisine["Country Name"].map(country_to_iso3)

In [232]:
cuisine[cuisine["Country Code"]=="TWN"]

   Country Code  Cuisine Rank
65          TWN            66

In [233]:
df_general_timezones[df_general_timezones["Country Name"].str.contains("Chin")]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany
120,China,CHN,0.238407,0.635931,2.667422,150.264001,0.501856,China,9,NaN,6.0
183,"Hong Kong SAR, China",HKG,0.969656,0.932069,0.961236,7177.238095,0.376206,Hong Kong*,40,520.0,6.0
199,"Macao SAR, China",MAC,1.309079,0.737883,0.563666,20569.696970,0.560294,Macao,Not covered,535.0,6.0

In [234]:
df_general_cuisine=pd.merge(df_general_timezones,cuisine,on="Country Code",how="left")
df_general_cuisine

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,0.0,NaN
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,1.0,NaN
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0,NaN
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,1.0,NaN
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
215,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0,NaN
216,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0,NaN
217,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,7.0,NaN
218,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0,NaN
219,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0,NaN

In [235]:
df_general_cuisine[~df_general_cuisine["Cuisine Rank"].isna()].sort_values(by="Cuisine Rank").iloc[50:]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank
179,Saudi Arabia,SAU,0.628263,0.637582,1.014832,15.677949,0.935260,Saudi Arabia,9,387.0,1.0,51.0
177,Sweden,SWE,1.034462,1.052953,1.017875,25.871368,1.146757,Sweden,99,488.0,0.0,52.0
178,Australia,AUS,1.154251,1.172198,1.015548,3.464991,0.854406,Australia,95,497.0,8.0,53.0
181,Belgium,BEL,1.002767,1.005188,1.002414,386.548928,1.080302,Belgium,96,486.0,0.0,54.0
116,"Venezuela, RB",VEN,0.285727,0.809861,2.834392,32.085317,12.646645,Venezuela,13,NaN,6.0,55.0
165,Slovenia,SVN,0.610918,0.781336,1.278955,105.314808,0.566466,Slovenia,96,485.0,0.0,56.0
115,Azerbaijan,AZE,0.130534,0.376167,2.881752,122.854906,2.161228,Azerbaijan,7,381.0,2.0,57.0
207,Cuba,CUB,0.172137,NaN,NaN,106.165039,4.463151,Cuba,10,NaN,6.0,58.0
135,Trinidad and Tobago,TTO,0.346141,0.694759,2.007159,266.571150,40.443299,Trinidad and Tobago,82,NaN,6.0,59.0
136,Uruguay,URY,0.428430,0.850560,1.985292,19.358250,11.245305,Uruguay,96,425.0,5.0,60.0
47,Pakistan,PAK,0.026608,0.305995,11.499976,321.067475,4.334871,Pakistan,32,NaN,3.0,61.0
155,Puerto Rico (US),PRI,0.704030,1.014872,1.441518,361.194138,14.589658,Puerto Rico,Not covered,NaN,6.0,62.0
190,Denmark,DNK,1.287661,1.170834,0.909272,148.673800,0.840599,Denmark,97,491.0,0.0,63.0
173,Finland,FIN,0.953197,1.075284,1.128081,18.370545,0.981935,Finland,100,495.0,1.0,64.0
63,Bangladesh,BGD,0.046477,0.348332,7.494749,1319.179797,2.342177,Bangladesh,45,NaN,4.0,65.0
20,Haiti,HTI,0.038398,0.872067,22.711183,422.256821,41.151809,Haiti,24,NaN,6.0,67.0
108,Bosnia and Herzegovina,BIH,0.160526,0.528240,3.290685,62.208457,1.224462,Bosnia and Herzegovina,52,NaN,0.0,68.0
84,Sri Lanka,LKA,0.080924,0.374270,4.624960,356.239897,3.310940,Sri Lanka,58,NaN,3.5,69.0
196,Switzerland,CHE,1.857876,1.431747,0.770637,224.960168,0.597482,Switzerland,96,498.0,0.0,70.0
13,Afghanistan,AFG,0.007415,0.243493,32.837974,63.558501,4.032458,Afghanistan,6,NaN,2.5,71.0
148,Slovak Republic,SVK,0.468599,0.718082,1.532404,112.868968,1.123584,Slovakia,89,458.0,0.0,72.0
197,Norway,NOR,1.555724,1.113305,0.715619,15.152480,0.724747,Norway,99,474.0,0.0,73.0
66,Jordan,JOR,0.082761,0.552941,6.681161,128.828671,0.987830,Jordan,34,359.0,1.0,74.0
129,Belarus,BLR,0.149043,0.326477,2.190487,45.217077,2.384632,Belarus,7,NaN,1.0,75.0
85,Ecuador,ECU,0.123202,0.562335,4.564325,72.395245,45.722815,Ecuador,65,NaN,7.0,76.0
124,Costa Rica,CRI,0.333102,0.801098,2.404966,99.990697,17.745480,Costa Rica,91,404.0,8.0,77.0
169,United Kingdom,GBR,0.943308,1.125055,1.192670,283.106684,1.118684,United Kingdom,92,494.0,1.0,78.0
144,Latvia,LVA,0.418773,0.690207,1.648168,30.169452,2.496818,Latvia,89,484.0,1.0,79.0
201,Ireland,IRL,1.923224,1.060028,0.551173,77.044564,0.654270,Ireland,97,504.0,1.0,80.0
95,Paraguay,PRY,0.114983,0.448794,3.903118,17.282672,6.779516,Paraguay,63,360.0,6.0,81.0
163,New Zealand,NZL,0.873599,1.146438,1.312316,19.919487,1.461494,New Zealand,99,495.0,10.0,82.0
131,Montenegro,MNE,0.231817,0.502113,2.165985,46.359033,0.789201,Montenegro,69,405.0,0.0,83.0
176,Malta,MLT,0.758909,0.814513,1.073268,1727.334375,0.562898,Malta,87,459.0,0.0,84.0
77,Libya,LBY,0.113233,0.586703,5.181394,4.152028,NaN,Libya,10,NaN,0.0,85.0
141,"Bahamas, The",BHS,0.707084,1.240894,1.754946,39.904096,32.198139,The Bahamas,90,NaN,6.0,86.0
164,Israel,ISR,0.970905,1.260470,1.298243,455.129390,1.625811,Israel,73,466.0,1.0,87.0
81,Iraq,IRQ,0.108846,0.544067,4.998515,103.826156,9.463752,Iraq,31,NaN,1.0,88.0
202,Singapore,SGP,1.624977,0.779657,0.479796,8241.849582,0.069095,Singapore,48,560.0,6.0,89.0
70,Jamaica,JAM,0.125801,0.779900,6.199450,262.214774,49.440345,Jamaica,80,397.0,7.0,90.0
188,Iceland,ISL,1.482142,1.369292,0.923860,3.901111,1.290131,Iceland,95,447.0,2.0,91.0
121,Dominican Republic,DOM,0.194904,0.511654,2.625164,235.098143,10.916698,Dominican Republic,68,350.0,6.0,92.0
112,Armenia,ARM,0.152340,0.482588,3.167837,105.119109,2.208336,Armenia,54,NaN,2.0,93.0
139,Kazakhstan,KAZ,0.250991,0.444629,1.771495,7.530505,2.550586,Kazakhstan,23,411.0,4.0,94.0
199,Qatar,QAT,1.366946,0.783683,0.573309,231.160313,0.069145,Qatar,25,422.0,1.0,95.0
113,Albania,ALB,0.179419,0.552281,3.078160,100.217956,1.387083,Albania,68,367.0,0.0,96.0
68,Bolivia,BOL,0.071706,0.463310,6.461249,11.302648,4.418433,Bolivia,65,NaN,6.0,97.0
48,Nigeria,NGA,0.014461,0.162358,11.227053,250.209103,15.746681,Nigeria,44,NaN,1.0,98.0
64,Lao PDR,LAO,0.038064,0.281168,7.386721,33.210542,NaN,Laos,13,NaN,5.0,99.0
62,Nicaragua,NIC,0.051031,0.423657,8.301961,56.702784,11.347320,Nicaragua,14,NaN,8.0,100.0

In [236]:
#so Taiwan cannot be matched because it is not in the OECD data

In [237]:
sunshine_df=pd.read_csv("../data/sunshine_duration.csv",index_col=0)
sunshine_df

,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.,Region
Country,,,,,,,,,,,,,,,,
Ivory Coast,Gagnoa,180.0,196.0,188.0,181.0,118.0,97.0,80.0,110.0,183.0,155.0,171.0,164.0,1823.0,[2],Africa
Ivory Coast,Bouaké,242.0,224.0,219.0,194.0,208.0,145.0,104.0,82.0,115.0,170.0,191.0,198.0,2092.0,[2],Africa
Ivory Coast,Abidjan,223.0,223.0,239.0,214.0,205.0,128.0,137.0,125.0,139.0,215.0,224.0,224.0,2296.0,[2],Africa
Ivory Coast,Odienné,242.0,220.2,217.3,214.7,248.8,221.8,183.5,174.5,185.4,235.8,252.0,242.6,2638.6,[3],Africa
Ivory Coast,Ferké,279.0,249.0,253.0,229.0,251.0,221.0,183.0,151.0,173.0,245.0,261.0,262.0,2757.0,[2],Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
New Zealand,Hamilton,229.8,192.9,193.3,165.1,138.3,112.8,126.4,144.1,147.5,174.8,187.1,207.6,2019.6,?,Oceania
New Zealand,Auckland,228.8,194.9,189.2,157.3,139.8,110.3,128.1,142.9,148.6,178.1,188.1,197.2,2003.1,?,Oceania
New Zealand,Dunedin,179.6,158.0,146.1,125.9,108.4,95.3,110.6,122.2,136.8,165.5,166.9,168.3,1683.7,[234],Oceania
Fiji,Suva,192.2,178.0,170.5,153.0,145.7,141.0,136.4,142.6,135.0,164.3,168.0,195.3,1922.0,[235],Oceania
USA (American Samoa),Pago Pago,165.3,150.3,179.2,132.2,123.3,113.7,148.0,168.0,135.0,196.0,159.6,156.8,1849.1,[236],Oceania

In [238]:
sunshine_df_red=sunshine_df[[sunshine_df.columns[-3]]].reset_index()
sunshine_df_red

                  Country    Year
0             Ivory Coast  1823.0
1             Ivory Coast  2092.0
2             Ivory Coast  2296.0
3             Ivory Coast  2638.6
4             Ivory Coast  2757.0
..                    ...     ...
413           New Zealand  2019.6
414           New Zealand  2003.1
415           New Zealand  1683.7
416                  Fiji  1922.0
417  USA (American Samoa)  1849.1

[418 rows x 2 columns]

In [239]:
sunshine_df_red_grouped=sunshine_df_red.groupby("Country").mean().reset_index()
sunshine_df_red_grouped

         Country         Year
0    Afghanistan  2944.950000
1        Albania  2544.000000
2        Algeria  3266.500000
3         Angola  2341.000000
4      Argentina  2220.300000
..           ...          ...
140   Uzbekistan  2672.400000
141    Venezuela  2897.675000
142      Vietnam  2099.375000
143       Zambia  2965.466667
144     Zimbabwe  3065.400000

[145 rows x 2 columns]

In [240]:
sunshine_df_red.Country.unique().tolist()

['Ivory Coast',
 'Benin',
 'Togo',
 'Ghana',
 'Cameroon',
 'Gabon',
 'Nigeria',
 'Sudan',
 'Eritrea',
 'Burkina Faso',
 'Niger',
 'Chad',
 'Gambia',
 'Senegal',
 'Somalia',
 'Djibouti',
 'Mali',
 'Algeria',
 'Tunisia',
 'Morocco',
 'Egypt',
 'Libya',
 'Kenya',
 'Angola',
 'South Sudan',
 'Tanzania',
 'Ethiopia',
 'Congo',
 'Republic of the Congo',
 'Democratic Republic of the Congo',
 'Mauritania',
 'South Africa',
 'Botswana',
 'Zambia',
 'Zimbabwe',
 'Malawi',
 'Madagascar',
 'Mozambique',
 'Central African Republic',
 'Uganda',
 'Burundi',
 'Guinea',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Namibia',
 'Afghanistan',
 'Lebanon',
 'Bangladesh',
 'China',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Israel',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Mongolia',
 'North Korea',
 'Oman',
 'Pakistan',
 'Philippines',
 'Russia',
 'Saudi Arabia',
 'Singapore',
 'South Korea',
 'Sri Lanka',
 'Taiwan',
 'Thailand',
 'Turkey',
 'United Arab Emirates',
 'Uzbekistan',
 'Vietnam',
 'Albania',
 'Armenia',
 'Austria',
 'Belarus',
 'Azerbaijan',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Czech Republic',
 'Cyprus',
 'Denmark',
 'Estonia',
 'Faroe Islands',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Moldova',
 'Monaco',
 'Netherlands',
 'Montenegro',
 'North Macedonia',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Ukraine',
 'United Kingdom',
 'Canada',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Puerto Rico',
 'El Salvador',
 'Saint Pierre and Miquelon',
 'United States',
 'Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Ecuador',
 'Falkland Islands',
 'French Guiana',
 'Guyana',
 'Paraguay',
 'Peru',
 'Uruguay',
 'Venezuela',
 'Australia',
 'Papua New Guinea',
 'Solomon Islands',
 'New Zealand',
 'Fiji',
 'USA (American Samoa)']

In [241]:
overrides = {
    "Ivory Coast": "CIV",
    "Congo": "COG",
    "Republic of the Congo": "COG",
    "Democratic Republic of the Congo": "COD",
    "South Korea": "KOR",
    "North Korea": "PRK",
    "Russia": "RUS",
    "Syria": "SYR",
    "Laos": "LAO",
    "Moldova": "MDA",
    "Bolivia": "BOL",
    "Tanzania": "TZA",
    "Venezuela": "VEN",
    "Brunei": "BRN",
    "Cape Verde": "CPV",
    "East Timor": "TLS",
    "Micronesia": "FSM",
    "Saint Kitts and Nevis": "KNA",
    "Saint Lucia": "LCA",
    "Saint Vincent and the Grenadines": "VCT",
    "Sao Tome and Principe": "STP",
    "Solomon Islands": "SLB",
    "Trinidad and Tobago": "TTO",
    "United Arab Emirates": "ARE",
    "Antigua and Barbuda": "ATG",
    "Bahamas": "BHS",
    "Gambia": "GMB",
    "Guinea-Bissau": "GNB",
    "Marshall Islands": "MHL",
    "Myanmar": "MMR",
    "San Marino": "SMR",
    "South Sudan": "SSD",
    "Suriname": "SUR",
    "Tuvalu": "TUV",
    "Vanuatu": "VUT",
    "Kosovo": "XKX",
    "Timor-Leste": "TLS",
    "Cabo Verde": "CPV",
    "Czech Republic": "CZE",
    "Faroe Islands": "FRO",
    "North Macedonia": "MKD",
    "Palestine": "PSE",
    "USA (American Samoa)": "ASM",
    "Saint Pierre and Miquelon": "SPM",
    "Falkland Islands": "FLK",
    "French Guiana": "GUF",
    "Puerto Rico": "PRI",
    "Taiwan": "TWN",
    "Hong Kong": "HKG",
    "Macau": "MAC",
    "Turkiye": "TUR",
    "Turkey": "TUR",
}

In [242]:
country_to_iso3 = {}
for index, row in sunshine_df_red.iterrows():
    name = row["Country"]
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(name).alpha_3
        except LookupError:
            country_to_iso3[name] = None  # Not found

country_to_iso3

{'Ivory Coast': 'CIV',
 'Benin': 'BEN',
 'Togo': 'TGO',
 'Ghana': 'GHA',
 'Cameroon': 'CMR',
 'Gabon': 'GAB',
 'Nigeria': 'NGA',
 'Sudan': 'SDN',
 'Eritrea': 'ERI',
 'Burkina Faso': 'BFA',
 'Niger': 'NER',
 'Chad': 'TCD',
 'Gambia': 'GMB',
 'Senegal': 'SEN',
 'Somalia': 'SOM',
 'Djibouti': 'DJI',
 'Mali': 'MLI',
 'Algeria': 'DZA',
 'Tunisia': 'TUN',
 'Morocco': 'MAR',
 'Egypt': 'EGY',
 'Libya': 'LBY',
 'Kenya': 'KEN',
 'Angola': 'AGO',
 'South Sudan': 'SSD',
 'Tanzania': 'TZA',
 'Ethiopia': 'ETH',
 'Congo': 'COG',
 'Republic of the Congo': 'COG',
 'Democratic Republic of the Congo': 'COD',
 'Mauritania': 'MRT',
 'South Africa': 'ZAF',
 'Botswana': 'BWA',
 'Zambia': 'ZMB',
 'Zimbabwe': 'ZWE',
 'Malawi': 'MWI',
 'Madagascar': 'MDG',
 'Mozambique': 'MOZ',
 'Central African Republic': 'CAF',
 'Uganda': 'UGA',
 'Burundi': 'BDI',
 'Guinea': 'GIN',
 'Guinea-Bissau': 'GNB',
 'Equatorial Guinea': 'GNQ',
 'Namibia': 'NAM',
 'Afghanistan': 'AFG',
 'Lebanon': 'LBN',
 'Bangladesh': 'BGD',
 'China': 'CHN',
 'India': 'IND',
 'Indonesia': 'IDN',
 'Iran': 'IRN',
 'Iraq': 'IRQ',
 'Israel': 'ISR',
 'Japan': 'JPN',
 'Jordan': 'JOR',
 'Kazakhstan': 'KAZ',
 'Mongolia': 'MNG',
 'North Korea': 'PRK',
 'Oman': 'OMN',
 'Pakistan': 'PAK',
 'Philippines': 'PHL',
 'Russia': 'RUS',
 'Saudi Arabia': 'SAU',
 'Singapore': 'SGP',
 'South Korea': 'KOR',
 'Sri Lanka': 'LKA',
 'Taiwan': 'TWN',
 'Thailand': 'THA',
 'Turkey': 'TUR',
 'United Arab Emirates': 'ARE',
 'Uzbekistan': 'UZB',
 'Vietnam': 'VNM',
 'Albania': 'ALB',
 'Armenia': 'ARM',
 'Austria': 'AUT',
 'Belarus': 'BLR',
 'Azerbaijan': 'AZE',
 'Belgium': 'BEL',
 'Bosnia and Herzegovina': 'BIH',
 'Bulgaria': 'BGR',
 'Croatia': 'HRV',
 'Czech Republic': 'CZE',
 'Cyprus': 'CYP',
 'Denmark': 'DNK',
 'Estonia': 'EST',
 'Faroe Islands': 'FRO',
 'Finland': 'FIN',
 'France': 'FRA',
 'Georgia': 'GEO',
 'Germany': 'DEU',
 'Greece': 'GRC',
 'Hungary': 'HUN',
 'Iceland': 'ISL',
 'Ireland': 'IRL',
 'Italy': 'ITA',
 'Latvia': 'LVA',
 'Lithuania': 'LTU',
 'Luxembourg': 'LUX',
 'Malta': 'MLT',
 'Moldova': 'MDA',
 'Monaco': 'MCO',
 'Netherlands': 'NLD',
 'Montenegro': 'MNE',
 'North Macedonia': 'MKD',
 'Norway': 'NOR',
 'Poland': 'POL',
 'Portugal': 'PRT',
 'Romania': 'ROU',
 'Serbia': 'SRB',
 'Slovakia': 'SVK',
 'Slovenia': 'SVN',
 'Spain': 'ESP',
 'Sweden': 'SWE',
 'Switzerland': 'CHE',
 'Ukraine': 'UKR',
 'United Kingdom': 'GBR',
 'Canada': 'CAN',
 'Honduras': 'HND',
 'Mexico': 'MEX',
 'Nicaragua': 'NIC',
 'Panama': 'PAN',
 'Puerto Rico': 'PRI',
 'El Salvador': 'SLV',
 'Saint Pierre and Miquelon': 'SPM',
 'United States': 'USA',
 'Argentina': 'ARG',
 'Bolivia': 'BOL',
 'Brazil': 'BRA',
 'Chile': 'CHL',
 'Colombia': 'COL',
 'Ecuador': 'ECU',
 'Falkland Islands': 'FLK',
 'French Guiana': 'GUF',
 'Guyana': 'GUY',
 'Paraguay': 'PRY',
 'Peru': 'PER',
 'Uruguay': 'URY',
 'Venezuela': 'VEN',
 'Australia': 'AUS',
 'Papua New Guinea': 'PNG',
 'Solomon Islands': 'SLB',
 'New Zealand': 'NZL',
 'Fiji': 'FJI',
 'USA (American Samoa)': 'ASM'}

In [243]:
sunshine_df_red_grouped["Country Code"] = sunshine_df_red_grouped["Country"].map(country_to_iso3)
sunshine_df_red_grouped

         Country         Year Country Code
0    Afghanistan  2944.950000          AFG
1        Albania  2544.000000          ALB
2        Algeria  3266.500000          DZA
3         Angola  2341.000000          AGO
4      Argentina  2220.300000          ARG
..           ...          ...          ...
140   Uzbekistan  2672.400000          UZB
141    Venezuela  2897.675000          VEN
142      Vietnam  2099.375000          VNM
143       Zambia  2965.466667          ZMB
144     Zimbabwe  3065.400000          ZWE

[145 rows x 3 columns]

In [244]:
sunshine_df_red_grouped.rename(columns={"Year": "SunshineHours_per_year"}, inplace=True)
sunshine_df_red_grouped

         Country  SunshineHours_per_year Country Code
0    Afghanistan             2944.950000          AFG
1        Albania             2544.000000          ALB
2        Algeria             3266.500000          DZA
3         Angola             2341.000000          AGO
4      Argentina             2220.300000          ARG
..           ...                     ...          ...
140   Uzbekistan             2672.400000          UZB
141    Venezuela             2897.675000          VEN
142      Vietnam             2099.375000          VNM
143       Zambia             2965.466667          ZMB
144     Zimbabwe             3065.400000          ZWE

[145 rows x 3 columns]

In [245]:
df_check_sunshine=pd.merge(df_general_cuisine,sunshine_df_red_grouped[["Country Code","SunshineHours_per_year"]],on="Country Code",how="left")
df_check_sunshine[df_check_sunshine["SunshineHours_per_year"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0,NaN,NaN
9,Liberia,LBR,0.015166,0.581734,38.357269,57.028976,3.087095,Liberia,64,NaN,2.0,NaN,NaN
18,Lesotho,LSO,0.017416,0.419940,24.112334,76.135441,38.239741,Lesotho,66,NaN,0.0,NaN,NaN
20,Haiti,HTI,0.038398,0.872067,22.711183,422.256821,41.151809,Haiti,24,NaN,6.0,67.0,NaN
25,Sierra Leone,SLE,0.015652,0.321896,20.565732,117.214076,2.224312,Sierra Leone,59,NaN,2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,St. Martin (French part),MAF,0.388321,NaN,NaN,550.300000,26.899798,NaN,NaN,NaN,6.0,NaN,NaN
216,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0,NaN,NaN
217,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0,NaN,NaN
219,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0,NaN,NaN
220,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0,NaN,NaN

In [250]:
missing_sunshine_data=df_check_sunshine[df_check_sunshine["SunshineHours_per_year"].isna()][["Country Name","Country Code","SunshineHours_per_year"]]
missing_sunshine_data.to_csv("../data/df_general_missing_sunshine_before_fixing.csv", index=False)

In [253]:
sunshine_data_fallback=pd.read_csv("../data/df_general_missing_sunshine_after_fixing.csv")
sunshine_data_fallback

                Country Name Country Code  SunshineHours_per_year
0                Yemen, Rep.          YEM                    3114
1                    Liberia          LBR                    1662
2                    Lesotho          LSO                    3202
3                      Haiti          HTI                    3115
4               Sierra Leone          SLE                    2187
..                       ...          ...                     ...
72  St. Martin (French part)          MAF                    2707
73  Northern Mariana Islands          MNP                    2250
74             New Caledonia          NCL                    2553
75          French Polynesia          PYF                    2686
76    British Virgin Islands          VGB                    3267

[77 rows x 3 columns]

In [254]:
sunshine_df_by_hand=sunshine_data_fallback[["Country Name","SunshineHours_per_year","Country Code"]]
sunshine_df_by_hand

                Country Name  SunshineHours_per_year Country Code
0                Yemen, Rep.                    3114          YEM
1                    Liberia                    1662          LBR
2                    Lesotho                    3202          LSO
3                      Haiti                    3115          HTI
4               Sierra Leone                    2187          SLE
..                       ...                     ...          ...
72  St. Martin (French part)                    2707          MAF
73  Northern Mariana Islands                    2250          MNP
74             New Caledonia                    2553          NCL
75          French Polynesia                    2686          PYF
76    British Virgin Islands                    3267          VGB

[77 rows x 3 columns]

In [256]:
sunshine_df_overall=pd.concat([sunshine_df_red_grouped[["Country Code","SunshineHours_per_year"]],sunshine_df_by_hand[["Country Code","SunshineHours_per_year"]]],ignore_index=True)
sunshine_df_overall=sunshine_df_overall.drop_duplicates(subset=["Country Code"],keep="first")
sunshine_df_overall

    Country Code  SunshineHours_per_year
0            AFG                 2944.95
1            ALB                 2544.00
2            DZA                 3266.50
3            AGO                 2341.00
4            ARG                 2220.30
..           ...                     ...
217          MAF                 2707.00
218          MNP                 2250.00
219          NCL                 2553.00
220          PYF                 2686.00
221          VGB                 3267.00

[221 rows x 2 columns]

In [257]:
df_general_sunshine=pd.merge(df_general_cuisine,sunshine_df_overall[["Country Code","SunshineHours_per_year"]],on="Country Code",how="left")
df_general_sunshine

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,0.0,NaN,2373.4
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,1.0,NaN,2546.5
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0,NaN,3114.0
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,1.0,NaN,3103.0
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,0.0,NaN,2841.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0,NaN,2250.0
216,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0,NaN,2553.0
217,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,7.0,NaN,2492.0
218,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0,NaN,2686.0
219,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0,NaN,3267.0

In [263]:
coastline=pd.read_csv("../data/Coastline_2.csv", index_col=0, decimal=",")
coastline["sqm/sqkm"]=coastline["sqm/sqkm"].str.replace(",", ".")

coastline["sqm/sqkm"]=pd.to_numeric(coastline["sqm/sqkm"], errors='coerce')
coastline=coastline.reset_index()
coastline.dropna(inplace=True)
coastline

         Location  sqm/sqkm
0         Tunisia      7.38
1         Denmark    172.00
2           World      2.39
3          Canada     22.20
4          Norway    274.00
..            ...       ...
249        Uganda      0.00
250    Uzbekistan      0.00
251  Vatican City      0.00
252        Zambia      0.00
253      Zimbabwe      0.00

[251 rows x 2 columns]

In [264]:
coastline["Location"].tolist()

['Tunisia',
 'Denmark',
 'World',
 'Canada',
 'Norway',
 'Indonesia',
 'European Union',
 'Greenland',
 'Russia',
 'Philippines',
 'Japan',
 'Australia',
 'United States',
 'Antarctica',
 'New Zealand',
 'China',
 'Greece',
 'United Kingdom',
 'Mexico',
 'Italy',
 'Brazil',
 'Turkey',
 'India',
 'Chile',
 'Micronesia',
 'Croatia',
 'Solomon Islands',
 'Papua New Guinea',
 'Argentina',
 'Iceland',
 'Spain',
 'France',
 'Madagascar',
 'Malaysia',
 'Estonia',
 'Cuba',
 'Svalbard',
 'Bahamas',
 'Vietnam',
 'Somalia',
 'Thailand',
 'Sweden',
 'Colombia',
 'French Southern and Antarctic Lands',
 'Morocco',
 'Venezuela',
 'South Africa',
 'Ukraine',
 'Saudi Arabia',
 'Vanuatu',
 'French Polynesia',
 'North Korea',
 'Panama',
 'Mozambique',
 'Egypt',
 'Iran',
 'Peru',
 'South Korea',
 'Germany',
 'New Caledonia',
 'Ecuador',
 'Eritrea',
 'Oman',
 'Myanmar',
 'Yemen',
 'Portugal',
 'Haiti',
 'Libya',
 'Angola',
 'Namibia',
 'Taiwan',
 'Palau',
 'Northern Mariana Islands',
 'Ireland',
 'Tanzania',
 'Sri Lanka',
 'United Arab Emirates',
 'Costa Rica',
 'Dominican Republic',
 'Falkland Islands',
 'Finland',
 'Kiribati',
 'Fiji',
 'Faroe Islands',
 'Pakistan',
 'Jamaica',
 'Algeria',
 'Cape Verde',
 'Nicaragua',
 'Gabon',
 'Nigeria',
 'Sudan',
 'Honduras',
 'Mauritania',
 'Hong Kong',
 'Timor-Leste',
 'British Indian Ocean Territory',
 'Uruguay',
 'Cyprus',
 'Maldives',
 'Bangladesh',
 'Liberia',
 'Qatar',
 'Ghana',
 'Kenya',
 'Senegal',
 'Paracel Islands',
 'Ivory Coast',
 'Puerto Rico',
 'Kuwait',
 'Latvia',
 'Seychelles',
 'Guyana',
 'Netherlands',
 'Cambodia',
 'Poland',
 'Tonga',
 'Samoa',
 'Cameroon',
 'Sierra Leone',
 'Guatemala',
 'Turks and Caicos Islands',
 'Belize',
 'Suriname',
 'Marshall Islands',
 'Curaçao',
 'Albania',
 'Trinidad and Tobago',
 'Bulgaria',
 'Guinea-Bissau',
 'Comoros',
 'Guinea',
 'Djibouti',
 'Georgia',
 'El Salvador',
 'Equatorial Guinea',
 'Montenegro',
 'Israel',
 'Malta',
 'Lebanon',
 'Romania',
 'São Tomé and Príncipe',
 'Singapore',
 'Syria',
 'U.S. Virgin Islands',
 'Mauritius',
 'Congo, Republic of the',
 'Bahrain',
 'Brunei',
 'Cayman Islands',
 'Isle of Man',
 'Saint Lucia',
 'Antigua and Barbuda',
 'Dominica',
 'Christmas Island',
 'Saint Kitts and Nevis',
 'Wallis and Futuna',
 'Guam',
 'Jan Mayen',
 'Benin',
 'Grenada',
 'Cook Islands',
 'Saint Pierre and Miquelon',
 'American Samoa',
 'Bermuda',
 'Heard Island and McDonald Islands',
 'Tokelau',
 'Barbados',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Lithuania',
 'United States Pacific Island Wildlife Refuges',
 'Saint Vincent and the Grenadines',
 'Akrotiri and Dhekelia',
 'British Virgin Islands',
 'Gambia',
 'Ashmore and Cartier Islands',
 'Jersey',
 'Aruba',
 'Belgium',
 'Niue',
 'Anguilla',
 'Saint Martin',
 'Iraq',
 'Togo',
 'Pitcairn Islands',
 'Guernsey',
 'Slovenia',
 'Macau',
 'Gaza Strip (Palestine)',
 'Montserrat',
 'Congo, Democratic Republic of the',
 'Norfolk Island',
 'Nauru',
 'Bouvet Island',
 'Cocos (Keeling) Islands',
 'Jordan',
 'Tuvalu',
 'Bosnia and Herzegovina',
 'Wake Island',
 'Gibraltar',
 'Clipperton Island',
 'Navassa Island',
 'Monaco',
 'Sint Maarten',
 'South Georgia and the South Sandwich Islands',
 'Kazakhstan',
 'Turkmenistan',
 'Azerbaijan',
 'West Bank (Palestine)',
 'Afghanistan',
 'Andorra',
 'Armenia',
 'Austria',
 'Belarus',
 'Bhutan',
 'Bolivia',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Central African Republic',
 'Chad',
 'Czech Republic',
 'Ethiopia',
 'Hungary',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'Lesotho',
 'Liechtenstein',
 'Luxembourg',
 'Malawi',
 'Mali',
 'Moldova',
 'Mongolia',
 'Nepal',
 'Niger',
 'North Macedonia',
 'Paraguay',
 'Rwanda',
 'San Marino',
 'Serbia',
 'Slovakia',
 'South Sudan',
 'Swaziland',
 'Switzerland',
 'Tajikistan',
 'Uganda',
 'Uzbekistan',
 'Vatican City',
 'Zambia',
 'Zimbabwe']

In [265]:

overrides = {
    "United States": "USA",
    "United Kingdom": "GBR",
    "Russia": "RUS",
    "European Union": None,
    "Greenland": "GRL",
    "Svalbard": None,
    "Coral Sea Islands": None,
    "French Southern and Antarctic Lands": None,
    "Micronesia": "FSM",
    "Solomon Islands": "SLB",
    "Papua New Guinea": "PNG",
    "Bahamas": "BHS",
    "Cape Verde": "CPV",
    "Ivory Coast": "CIV",
    "Hong Kong": "HKG",
    "Timor-Leste": "TLS",
    "Falkland Islands": "FLK",
    "Faroe Islands": "FRO",
    "Spratly Islands": None,
    "Paracel Islands": None,
    "Puerto Rico": "PRI",
    "Northern Mariana Islands": "MNP",
    "U.S. Virgin Islands": "VIR",
    "Congo, Republic of the": "COG",
    "Congo, Democratic Republic of the": "COD",
    "São Tomé and Príncipe": "STP",
    "Saint Lucia": "LCA",
    "Saint Kitts and Nevis": "KNA",
    "Saint Pierre and Miquelon": "SPM",
    "Saint Vincent and the Grenadines": "VCT",
    "Saint Martin": "MAF",
    "Sint Maarten": "SXM",
    "Saint Helena, Ascension and Tristan da Cunha": "SHN",
    "Christmas Island": "CXR",
    "Cook Islands": "COK",
    "Wallis and Futuna": "WLF",
    "Guinea-Bissau": "GNB",
    "Marshall Islands": "MHL",
    "Curaçao": "CUW",
    "Antigua and Barbuda": "ATG",
    "Trinidad and Tobago": "TTO",
    "British Indian Ocean Territory": "IOT",
    "French Polynesia": "PYF",
    "New Caledonia": "NCL",
    "Macau": "MAC",
    "Gaza Strip (Palestine)": "PSE",
    "West Bank (Palestine)": "PSE",
    "Kosovo": "XKX",
    "Swaziland": "SWZ",
    "Vatican City": "VAT",
    "Heard Island and McDonald Islands": "HMD",
    "Tokelau": "TKL",
    "Akrotiri and Dhekelia": None,
    "United States Pacific Island Wildlife Refuges": None,
    "Ashmore and Cartier Islands": None,
    "Clipperton Island": None,
    "Navassa Island": None,
    "Wake Island": None,
    "Bouvet Island": "BVT",
    "Cocos (Keeling) Islands": "CCK",
    "Pitcairn Islands": "PCN",
    "Turks and Caicos Islands": "TCA",
    "British Virgin Islands": "VGB",
    "American Samoa": "ASM",
    "Isle of Man": "IMN",
    "Jersey": "JEY",
    "Guernsey": "GGY",
    "Bermuda": "BMU",
    "Gambia": "GMB",
    "Aruba": "ABW",
    "Anguilla": "AIA",
    "Montserrat": "MSR",
    "Norfolk Island": "NFK",
    "Nauru": "NRU",
    "Jan Mayen": None,
    "Seychelles": "SYC",
    "Comoros": "COM",
    "Mayotte": "MYT",
    "Réunion": "REU",
    "Martinique": "MTQ",
    "Guadeloupe": "GLP",
    "French Guiana": "GUF",
    "Guam": "GUM",
    "Benin": "BEN",
    "Grenada": "GRD",
    "Barbados": "BRB",
    "Dominica": "DMA",
    "Dominican Republic": "DOM",
    "Maldives": "MDV",
    "Malta": "MLT",
    "Mauritius": "MUS",
    "Bahrain": "BHR",
    "Brunei": "BRN",
    "Qatar": "QAT",
    "Kuwait": "KWT",
    "Oman": "OMN",
    "United Arab Emirates": "ARE",
    "Yemen": "YEM",
    "Syria": "SYR",
    "Lebanon": "LBN",
    "Israel": "ISR",
    "Jordan": "JOR",
    "Palau": "PLW",
    "Laos": "LAO",
    "Myanmar": "MMR",
    "Vietnam": "VNM",
    "South Korea": "KOR",
    "North Korea": "PRK",
    "Moldova": "MDA",
    "Czech Republic": "CZE",
    "Slovakia": "SVK",
    "Bosnia and Herzegovina": "BIH",
    "North Macedonia": "MKD",
    "Eswatini": "SWZ",
    "Tanzania": "TZA",
    "Cape Verde": "CPV",
    "Ivory Coast": "CIV",
    "Guinea-Bissau": "GNB",
    "Timor-Leste": "TLS",
    "Sao Tome and Principe": "STP",
    "Saint Barthelemy": "BLM",
    "Saint Martin": "MAF",
    "Sint Maarten": "SXM",
    "Turkey": "TUR",
    "Denmark": "DNK",

    "French Southern and Antarctic Lands": None,
    "Antarctica": None,
    "World": None,
}

country_to_iso3 = {}
for name in coastline.Location.tolist():
    lookup_name = name.replace(" (Palestine)", "").replace("Congo, Republic of the", "Republic of the Congo").replace("Congo, Democratic Republic of the", "Democratic Republic of the Congo")
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(lookup_name).alpha_3
        except LookupError:
            country_to_iso3[name] = None

coastline["Country Code"] = coastline["Location"].map(country_to_iso3)
coastline

         Location  sqm/sqkm Country Code
0         Tunisia      7.38          TUN
1         Denmark    172.00          DNK
2           World      2.39         None
3          Canada     22.20          CAN
4          Norway    274.00          NOR
..            ...       ...          ...
249        Uganda      0.00          UGA
250    Uzbekistan      0.00          UZB
251  Vatican City      0.00          VAT
252        Zambia      0.00          ZMB
253      Zimbabwe      0.00          ZWE

[251 rows x 3 columns]

In [266]:
df_general_coastline=pd.merge(df_general_sunshine,coastline[["Country Code","sqm/sqkm"]],on="Country Code",how="left")
df_general_coastline

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year,sqm/sqkm
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,0.0,NaN,2373.4,0.00
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,1.0,NaN,2546.5,0.00
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0,NaN,3114.0,3.61
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,1.0,NaN,3103.0,4.82
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,0.0,NaN,2841.3,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0,NaN,2250.0,3190.00
217,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0,NaN,2553.0,123.00
218,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,7.0,NaN,2492.0,20.70
219,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0,NaN,2686.0,660.00
220,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0,NaN,3267.0,530.00

In [267]:
df_general_coastline[df_general_coastline["sqm/sqkm"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year,sqm/sqkm
206,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.0,NaN,NaN,NaN,1.0,NaN,1905.0,NaN
207,Caribbean small states,CSS,0.361539,NaN,NaN,11.284814,31.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,Latin America & Caribbean,LCN,0.197933,NaN,NaN,32.586665,19.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [330]:
elevation_df=pd.read_csv("../data/elevation_extremes.csv", index_col=0)
elevation_df=elevation_df.reset_index()
elevation_df["Country or region"].tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Ashmore and Cartier Islands',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bir Tawil',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Bouvet Island',
 'Brazil',
 'British Indian Ocean Territory',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China[h]',
 'Christmas Island',
 'Clipperton Island',
 'Cocos (Keeling) Islands',
 'Colombia',
 'Comoros',
 'Democratic Republic of the Congo',
 'Republic of the Congo',
 'Cook Islands',
 'Coral Sea Islands',
 'Costa Rica',
 'Ivory Coast',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'French Southern and Antarctic Lands',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heard Island and McDonald Islands',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'North Korea',
 'South Korea',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'North Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives[ab]',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Federated States of Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco[ad]',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norfolk Island',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn Islands',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Réunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Sahrawi Republic[ad]',
 'Saint Barthélemy',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'São Tomé and Príncipe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Georgia and the South Sandwich Islands',
 'South Sudan',
 'Spain',
 'Spratly Islands[ap]',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Svalbard and Jan Mayen',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan[aq]',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Minor Outlying Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'British Virgin Islands',
 'United States Virgin Islands',
 'Wallis and Futuna',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'Earth']

In [332]:
overrides = {
    "United States": "USA",
    "United Kingdom": "GBR",
    "Russia": "RUS",
    "Cape Verde": "CPV",
    "Ivory Coast": "CIV",
    "Hong Kong": "HKG",
    "Timor-Leste": "TLS",
    "Falkland Islands": "FLK",
    "Faroe Islands": "FRO",
    "Puerto Rico": "PRI",
    "Northern Mariana Islands": "MNP",
    "United States Virgin Islands": "VIR",
    "British Virgin Islands": "VGB",
    "U.S. Virgin Islands": "VIR",
    "Congo, Republic of the": "COG",
    "Republic of the Congo": "COG",
    "Democratic Republic of the Congo": "COD",
    "Congo, Democratic Republic of the": "COD",
    "São Tomé and Príncipe": "STP",
    "Saint Lucia": "LCA",
    "Saint Kitts and Nevis": "KNA",
    "Saint Pierre and Miquelon": "SPM",
    "Saint Vincent and the Grenadines": "VCT",
    "Saint Martin": "MAF",
    "Sint Maarten": "SXM",
    "Saint Helena, Ascension and Tristan da Cunha": "SHN",
    "Saint Barthélemy": "BLM",
    "Christmas Island": "CXR",
    "Cook Islands": "COK",
    "Wallis and Futuna": "WLF",
    "Guinea-Bissau": "GNB",
    "Marshall Islands": "MHL",
    "Curaçao": "CUW",
    "Antigua and Barbuda": "ATG",
    "Trinidad and Tobago": "TTO",
    "British Indian Ocean Territory": "IOT",
    "French Polynesia": "PYF",
    "New Caledonia": "NCL",
    "Macau": "MAC",
    "Kosovo": "XKX",
    "Swaziland": "SWZ",
    "Vatican City": "VAT",
    "Heard Island and McDonald Islands": "HMD",
    "Tokelau": "TKL",
    "Akrotiri and Dhekelia": None,
    "United States Minor Outlying Islands": "UMI",
    "Ashmore and Cartier Islands": None,
    "Clipperton Island": None,
    "Coral Sea Islands": None,
    "French Southern and Antarctic Lands": None,
    "Bir Tawil": None,
    "Earth": None,
    "Sahrawi Republic[ad]": None,
    "Spratly Islands[ap]": None,
    "Svalbard and Jan Mayen": "SJM",
    "China[h]": "CHN",
    "Maldives[ab]": "MDV",
    "Morocco[ad]": "MAR",
    "Taiwan[aq]": "TWN",
    "Federated States of Micronesia": "FSM",
    "Mayotte": "MYT",
    "Réunion": "REU",
    "Guadeloupe": "GLP",
    "Martinique": "MTQ",
    "French Guiana": "GUF",
    "Gambia": "GMB",
    "Aruba": "ABW",
    "Anguilla": "AIA",
    "Montserrat": "MSR",
    "Norfolk Island": "NFK",
    "Nauru": "NRU",
    "Jan Mayen": None,
    "Seychelles": "SYC",
    "Comoros": "COM",
    "Mayotte": "MYT",
    "Guam": "GUM",
    "Benin": "BEN",
    "Grenada": "GRD",
    "Barbados": "BRB",
    "Dominica": "DMA",
    "Dominican Republic": "DOM",
    "Malta": "MLT",
    "Mauritius": "MUS",
    "Bahrain": "BHR",
    "Brunei": "BRN",
    "Qatar": "QAT",
    "Kuwait": "KWT",
    "Oman": "OMN",
    "United Arab Emirates": "ARE",
    "Yemen": "YEM",
    "Syria": "SYR",
    "Lebanon": "LBN",
    "Israel": "ISR",
    "Jordan": "JOR",
    "Palau": "PLW",
    "Laos": "LAO",
    "Myanmar": "MMR",
    "Vietnam": "VNM",
    "South Korea": "KOR",
    "North Korea": "PRK",
    "Moldova": "MDA",
    "Czech Republic": "CZE",
    "Slovakia": "SVK",
    "Bosnia and Herzegovina": "BIH",
    "North Macedonia": "MKD",
    "Eswatini": "SWZ",
    "Tanzania": "TZA",
    "Guinea-Bissau": "GNB",
    "Timor-Leste": "TLS",
    "Sao Tome and Principe": "STP",
    "Turkey": "TUR",
    "Denmark": "DNK",
    "Antarctica": None,
    "Palestine": "PSE",
}

country_to_iso3 = {}
for name in elevation_df["Country or region"].tolist():
    # Remove footnotes in brackets, e.g. [h], [ab], [ad], [ap], [aq]
    lookup_name = name.split('[')[0].strip()
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    elif lookup_name in overrides:
        country_to_iso3[name] = overrides[lookup_name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(lookup_name).alpha_3
        except LookupError:
            country_to_iso3[name] = None

elevation_df["Country Code"] = elevation_df["Country or region"].map(country_to_iso3)
elevation_df["min_m"]=np.where(elevation_df["Minimum elevation"].str.contains("sea"),0,elevation_df["min_m"])
elevation_df

,Country or region,Highest point,Maximum elevation,Lowest point,Minimum elevation,Elevation span,min_m,max_m,Country Code
0,Afghanistan,Noshaq,"7492 m 24,580 ft",Amu Darya,258 m 846 ft,"7234 m 23,734 ft",258.0,7492.0,AFG
1,Albania,Korab,"2764 m 9,068 ft",Adriatic Sea,sea level,"2764 m 9,068 ft",0.0,2764.0,ALB
2,Algeria,Mount Tahat,"2908 m 9,541 ft",Chott Melrhir,−40 m −131 ft,"3043 m 9,984 ft",NaN,2908.0,DZA
3,American Samoa,Lata Mountain,"966 m 3,169 ft",South Pacific Ocean,sea level,"966 m 3,169 ft",0.0,966.0,ASM
4,Andorra,Coma Pedrosa,"2943 m 9,656 ft",Gran Valira,"840 m 2,756 ft","2102 m 6,896 ft",840.0,2943.0,AND
...,...,...,...,...,...,...,...,...,...
249,Wallis and Futuna,Mont Puke on Futuna,"524 m 1,719 ft",South Pacific Ocean,sea level,"524 m 1,719 ft",0.0,524.0,WLF
250,Yemen,Jabal An-Nabi Shu'ayb,"3666 m 12,028 ft",Arabian Sea,sea level,"3666 m 12,028 ft",0.0,3666.0,YEM
251,Zambia,Mafinga Central,"2339 m 7,674 ft",Zambezi,"329 m 1,079 ft","2000 m 6,562 ft",329.0,2339.0,ZMB
252,Zimbabwe,Mount Nyangani,"2592 m 8,504 ft",Confluence of Runde River and Save River,162 m 531 ft,"2430 m 7,972 ft",162.0,2592.0,ZWE
253,Earth,Mount Everest[i],"8848 m 29,029 ft",Dead Sea[z],"−440 m −1,444 ft","9,288 m 30,472 ft",NaN,8848.0,None

In [370]:
elevation_df[elevation_df["Country or region"].str.contains("Channel")]

Empty DataFrame
Columns: [Country or region, Highest point, Maximum elevation, Lowest point, Minimum elevation, Elevation span, min_m, max_m, Country Code]
Index: []

In [333]:
df_general_elevation=pd.merge(df_general_coastline,elevation_df[["Country Code","max_m","min_m"]],on="Country Code",how="left")
df_general_elevation

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year,sqm/sqkm,max_m,min_m
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,0.0,NaN,2373.4,0.00,2684.0,772.0
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,1.0,NaN,2546.5,0.00,1410.0,335.0
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0,NaN,3114.0,3.61,3666.0,0.0
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,1.0,NaN,3103.0,4.82,2460.0,0.0
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,0.0,NaN,2841.3,0.00,3187.0,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0,NaN,2250.0,3190.00,965.0,0.0
217,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0,NaN,2553.0,123.00,1628.0,0.0
218,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,7.0,NaN,2492.0,20.70,2744.0,0.0
219,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0,NaN,2686.0,660.00,2241.0,0.0
220,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0,NaN,3267.0,530.00,523.0,0.0

In [334]:
df_general_elevation[df_general_elevation["max_m"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year,sqm/sqkm,max_m,min_m
206,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.0,NaN,NaN,NaN,1.0,NaN,1905.0,NaN,NaN,NaN
207,Caribbean small states,CSS,0.361539,NaN,NaN,11.284814,31.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,Latin America & Caribbean,LCN,0.197933,NaN,NaN,32.586665,19.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [335]:
english_proficiency=pd.read_csv("../data/EF_EPI_2024_Country_Scores.csv", index_col=0)
english_proficiency=english_proficiency.reset_index()
english_proficiency.Country.unique().tolist()

['Netherlands',
 'Norway',
 'Singapore',
 'Sweden',
 'Croatia',
 'Portugal',
 'Denmark',
 'Greece',
 'Austria',
 'Germany',
 'South Africa',
 'Romania',
 'Belgium',
 'Finland',
 'Poland',
 'Bulgaria',
 'Hungary',
 'Slovakia',
 'Kenya',
 'Estonia',
 'Luxembourg',
 'Philippines',
 'Lithuania',
 'Serbia',
 'Czechia',
 'Malaysia',
 'Suriname',
 'Argentina',
 'Cyprus',
 'Nigeria',
 'Switzerland',
 'Hong Kong (China)',
 'Honduras',
 'Georgia',
 'Belarus',
 'Spain',
 'Uruguay',
 'Armenia',
 'Moldova',
 'Ukraine',
 'Costa Rica',
 'Ghana',
 'Albania',
 'Russia',
 'Paraguay',
 'Italy',
 'Bolivia',
 'France',
 'South Korea',
 'Israel',
 'Cuba',
 'Peru',
 'Uganda',
 'El Salvador',
 'Nepal',
 'Venezuela',
 'Guatemala',
 'Nicaragua',
 'Dominican Republic',
 'Bangladesh',
 'Iran',
 'Ethiopia',
 'Vietnam',
 'Turkey',
 'Tunisia',
 'Pakistan',
 'Lebanon',
 'India',
 'United Arab Emirates',
 'Panama',
 'Tanzania',
 'Sri Lanka',
 'Colombia',
 'Qatar',
 'Morocco',
 'Syria',
 'Algeria',
 'Mozambique',
 'Indonesia',
 'Brazil',
 'Ecuador',
 'Egypt',
 'Mongolia',
 'Madagascar',
 'Azerbaijan',
 'Mexico',
 'Kyrgyzstan',
 'Cape Verde',
 'Kuwait',
 'China',
 'Japan',
 'Myanmar',
 'Palestine',
 'Afghanistan',
 'Malawi',
 'Cameroon',
 'Uzbekistan',
 'Haiti',
 'Sudan',
 'Jordan',
 'Senegal',
 'Kazakhstan',
 'Oman',
 'Saudi Arabia',
 'Thailand',
 'Iraq',
 'Benin',
 'Tajikistan',
 'Angola',
 'Cambodia',
 'Libya',
 'Rwanda',
 'Côte d’Ivoire',
 'Somalia',
 'Yemen']

In [336]:
overrides = {
    "Czechia": "CZE",
    "Türkiye": "TUR",
    "U.A.E.": "ARE",
    "Cabo Verde": "CPV",
    "Hong Kong, China": "HKG",
    "Côte d'Ivoire": "CIV",
    "Palestine": "PSE",
    "South Korea": "KOR",
    "North Korea": "PRK",
    "Russia": "RUS",
    "Myanmar": "MMR",
}

country_to_iso3 = {}
for name in english_proficiency["Country"].unique().tolist():
    lookup_name = name
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(lookup_name).alpha_3
        except LookupError:
            country_to_iso3[name] = None
english_proficiency["Country Code"] = english_proficiency["Country"].map(country_to_iso3)
english_proficiency=english_proficiency.rename(columns={"EF EPI Score":"English Proficiency"})
english_proficiency

     Rank        Country  English Proficiency Country Code
0       1    Netherlands                  636          NLD
1       2         Norway                  610          NOR
2       3      Singapore                  609          SGP
3       4         Sweden                  608          SWE
4       5        Croatia                  607          HRV
..    ...            ...                  ...          ...
110   112          Libya                  405          LBY
111   113         Rwanda                  401          RWA
112   114  Côte d’Ivoire                  399         None
113   114        Somalia                  399          SOM
114   116          Yemen                  394          YEM

[115 rows x 4 columns]

In [337]:
df_general_english=pd.merge(df_general_elevation,english_proficiency[["Country Code","English Proficiency"]],on="Country Code",how="left")
df_general_english

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year,sqm/sqkm,max_m,min_m,English Proficiency
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,0.0,NaN,2373.4,0.00,2684.0,772.0,NaN
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,1.0,NaN,2546.5,0.00,1410.0,335.0,NaN
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0,NaN,3114.0,3.61,3666.0,0.0,394.0
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,1.0,NaN,3103.0,4.82,2460.0,0.0,399.0
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,0.0,NaN,2841.3,0.00,3187.0,350.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0,NaN,2250.0,3190.00,965.0,0.0,NaN
217,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0,NaN,2553.0,123.00,1628.0,0.0,NaN
218,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,7.0,NaN,2492.0,20.70,2744.0,0.0,NaN
219,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0,NaN,2686.0,660.00,2241.0,0.0,NaN
220,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0,NaN,3267.0,530.00,523.0,0.0,NaN

In [338]:
df_general_english[df_general_english["English Proficiency"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year,sqm/sqkm,max_m,min_m,English Proficiency
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,0.0,NaN,2373.4,0.0000,2684.0,772.0,NaN
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,1.0,NaN,2546.5,0.0000,1410.0,335.0,NaN
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,0.0,NaN,2841.3,0.0000,3187.0,350.0,NaN
6,"Congo, Dem. Rep.",COD,0.011603,0.490650,42.287398,46.664048,NaN,Democratic Republic of the Congo,18,NaN,1.0,NaN,2225.0,0.0163,5109.0,0.0,NaN
9,Liberia,LBR,0.015166,0.581734,38.357269,57.028976,3.087095,Liberia,64,NaN,2.0,NaN,1662.0,6.0100,1447.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0,NaN,2250.0,3190.0000,965.0,0.0,NaN
217,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0,NaN,2553.0,123.0000,1628.0,0.0,NaN
218,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,7.0,NaN,2492.0,20.7000,2744.0,0.0,NaN
219,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0,NaN,2686.0,660.0000,2241.0,0.0,NaN
220,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0,NaN,3267.0,530.0000,523.0,0.0,NaN

In [339]:
df_general_english[~df_general_english["English Proficiency"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year,sqm/sqkm,max_m,min_m,English Proficiency
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0,NaN,3114.000000,3.61,3666.0,0.0,394.0
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,1.0,NaN,3103.000000,4.82,2460.0,0.0,399.0
5,Mozambique,MOZ,0.011600,0.493430,42.536863,42.772146,3.589998,Mozambique,41,NaN,0.0,NaN,2838.000000,3.14,2440.0,0.0,469.0
7,Malawi,MWI,0.009111,0.354242,38.882573,223.848982,1.775987,Malawi,65,NaN,0.0,NaN,2795.866667,0.00,3002.0,37.0,447.0
8,Madagascar,MDG,0.009767,0.374907,38.385285,53.619684,NaN,Madagascar,55,NaN,1.0,NaN,2864.433333,8.30,2876.0,0.0,463.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Norway,NOR,1.555724,1.113305,0.715619,15.152480,0.724747,Norway,99,474.0,0.0,73.0,1373.333333,274.00,2469.0,0.0,610.0
200,Qatar,QAT,1.366946,0.783683,0.573309,231.160313,0.069145,Qatar,25,422.0,1.0,95.0,2883.000000,48.60,103.0,NaN,480.0
203,Singapore,SGP,1.624977,0.779657,0.479796,8241.849582,0.069095,Singapore,48,560.0,6.0,89.0,2022.400000,272.00,164.0,0.0,609.0
204,Luxembourg,LUX,2.464445,1.181780,0.479532,258.862053,1.530661,Luxembourg,97,NaN,0.0,NaN,1634.000000,0.00,560.0,133.0,576.0
208,Cuba,CUB,0.172137,NaN,NaN,106.165039,4.463151,Cuba,10,NaN,6.0,58.0,2932.000000,34.00,1974.0,0.0,520.0

In [340]:
germans_elsewhere=pd.read_csv("../data/DeutscheAusland.csv")
germans_elsewhere

                   Land ISO3  Anzahl_der_Deutschen_numeric
0           Deutschland  DEU                    59565000.0
1    Vereinigte Staaten  USA                    42220180.0
2             Brasilien  BRA                     5000000.0
3           Argentinien  ARG                     3500000.0
4                Kanada  CAN                     3322405.0
..                  ...  ...                           ...
111        Sierra Leone  SLE                          32.0
112              Färöer  FRO                          29.0
113              Bhutan  BTN                          27.0
114              Guinea  GIN                          24.0
115               Summe  NaN                   122930596.0

[116 rows x 3 columns]

In [341]:
df_general_germans=pd.merge(df_general_english,germans_elsewhere,left_on="Country Code",right_on="ISO3",how="left")
df_general_germans

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year,sqm/sqkm,max_m,min_m,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,0.0,NaN,2373.4,0.00,2684.0,772.0,NaN,NaN,NaN,NaN
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,1.0,NaN,2546.5,0.00,1410.0,335.0,NaN,NaN,NaN,NaN
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0,NaN,3114.0,3.61,3666.0,0.0,394.0,NaN,NaN,NaN
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,1.0,NaN,3103.0,4.82,2460.0,0.0,399.0,NaN,NaN,NaN
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,0.0,NaN,2841.3,0.00,3187.0,350.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0,NaN,2250.0,3190.00,965.0,0.0,NaN,NaN,NaN,NaN
217,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0,NaN,2553.0,123.00,1628.0,0.0,NaN,NaN,NaN,NaN
218,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,7.0,NaN,2492.0,20.70,2744.0,0.0,NaN,NaN,NaN,NaN
219,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0,NaN,2686.0,660.00,2241.0,0.0,NaN,NaN,NaN,NaN
220,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0,NaN,3267.0,530.00,523.0,0.0,NaN,NaN,NaN,NaN

In [342]:
for col in df_general_germans.columns:
    no_val=df_general_germans[df_general_germans[col].isna()]
    if (len(no_val) == 0):
        pass
    else:
        print(len(no_val), "missing values in column:", col)
        print(no_val["Country Name"])
        print("!!!")

3 missing values in column: gdp_rel_ger
209                    Gibraltar
218    Korea, Dem. People's Rep.
220       British Virgin Islands
Name: Country Name, dtype: object
!!!
16 missing values in column: ppp_rel_ger
205               American Samoa
206              Channel Islands
207       Caribbean small states
208                         Cuba
209                    Gibraltar
210                         Guam
211                  Isle of Man
212    Latin America & Caribbean
213                Liechtenstein
214     St. Martin (French part)
215                       Monaco
216     Northern Mariana Islands
217                New Caledonia
218    Korea, Dem. People's Rep.
219             French Polynesia
220       British Virgin Islands
Name: Country Name, dtype: object
!!!
16 missing values in column: cost_to_gdp
205               American Samoa
206              Channel Islands
207       Caribbean small states
208                         Cuba
209                    Gibraltar
210                         Guam
211                  Isle of Man
212    Latin America & Caribbean
213                Liechtenstein
214     St. Martin (French part)
215                       Monaco
216     Northern Mariana Islands
217                New Caledonia
218    Korea, Dem. People's Rep.
219             French Polynesia
220       British Virgin Islands
Name: Country Name, dtype: object
!!!
1 missing values in column: popdensity
98    Kosovo
Name: Country Name, dtype: object
!!!
21 missing values in column: homicides
3             Somalia, Fed. Rep.
6               Congo, Dem. Rep.
8                     Madagascar
17                          Chad
21                          Togo
23                          Mali
24                   Gambia, The
30                       Comoros
37                        Guinea
51                   Congo, Rep.
54                 Cote d'Ivoire
55                      Djibouti
65                       Lao PDR
78                         Libya
79                         Nauru
93             Equatorial Guinea
108                        Gabon
161    Sint Maarten (Dutch part)
188                Faroe Islands
216     Northern Mariana Islands
218    Korea, Dem. People's Rep.
Name: Country Name, dtype: object
!!!
21 missing values in column: Country or Territory
127                      Curacao
138     Turks and Caicos Islands
148                        Aruba
155        Virgin Islands (U.S.)
161    Sint Maarten (Dutch part)
188                Faroe Islands
190                    Greenland
195               Cayman Islands
199                      Bermuda
205               American Samoa
206              Channel Islands
207       Caribbean small states
209                    Gibraltar
210                         Guam
211                  Isle of Man
212    Latin America & Caribbean
214     St. Martin (French part)
216     Northern Mariana Islands
217                New Caledonia
219             French Polynesia
220       British Virgin Islands
Name: Country Name, dtype: object
!!!
21 missing values in column: FreedomScore
127                      Curacao
138     Turks and Caicos Islands
148                        Aruba
155        Virgin Islands (U.S.)
161    Sint Maarten (Dutch part)
188                Faroe Islands
190                    Greenland
195               Cayman Islands
199                      Bermuda
205               American Samoa
206              Channel Islands
207       Caribbean small states
209                    Gibraltar
210                         Guam
211                  Isle of Man
212    Latin America & Caribbean
214     St. Martin (French part)
216     Northern Mariana Islands
217                New Caledonia
219             French Polynesia
220       British Virgin Islands
Name: Country Name, dtype: object
!!!
139 missing values in column: PISA Score
0                        Burundi
1       Central African Republic
2                    Yemen, Rep.
3             Somalia, Fed. Rep.
4                    South Sudan
                 ...
216     Northern Mariana Islands
217                New Caledonia
218    Korea, Dem. People's Rep.
219             French Polynesia
220       British Virgin Islands
Name: Country Name, Length: 139, dtype: object
!!!
2 missing values in column: timediff_to_germany
207       Caribbean small states
212    Latin America & Caribbean
Name: Country Name, dtype: object
!!!
121 missing values in column: Cuisine Rank
0                        Burundi
1       Central African Republic
2                    Yemen, Rep.
3             Somalia, Fed. Rep.
4                    South Sudan
                 ...
216     Northern Mariana Islands
217                New Caledonia
218    Korea, Dem. People's Rep.
219             French Polynesia
220       British Virgin Islands
Name: Country Name, Length: 121, dtype: object
!!!
2 missing values in column: SunshineHours_per_year
207       Caribbean small states
212    Latin America & Caribbean
Name: Country Name, dtype: object
!!!
3 missing values in column: sqm/sqkm
206              Channel Islands
207       Caribbean small states
212    Latin America & Caribbean
Name: Country Name, dtype: object
!!!
3 missing values in column: max_m
206              Channel Islands
207       Caribbean small states
212    Latin America & Caribbean
Name: Country Name, dtype: object
!!!
50 missing values in column: min_m
11                       Eritrea
14                      Ethiopia
34            West Bank and Gaza
35            West Bank and Gaza
38          Syrian Arab Republic
49                       Nigeria
52                    Mauritania
55                      Djibouti
66                       Morocco
67                        Jordan
68                         India
75                    Uzbekistan
78                         Libya
81                       Tunisia
92                       Algeria
94                          Peru
95            Iran, Islamic Rep.
97                       Ukraine
100             Egypt, Arab Rep.
103                 Turkmenistan
116                   Azerbaijan
117                Venezuela, RB
118                       Mexico
121                        China
122           Dominican Republic
126                    Argentina
140                   Kazakhstan
147                       Greece
150           Russian Federation
157                       Poland
160                        Japan
163                    Lithuania
164                  New Zealand
165                       Israel
169               United Kingdom
170               United Kingdom
171                        Italy
173                       France
178                       Sweden
179                    Australia
180                 Saudi Arabia
182                      Belgium
183                      Germany
191                      Denmark
193                  Netherlands
194                United States
200                        Qatar
206              Channel Islands
207       Caribbean small states
212    Latin America & Caribbean
Name: Country Name, dtype: object
!!!
109 missing values in column: English Proficiency
0                        Burundi
1       Central African Republic
4                    South Sudan
6               Congo, Dem. Rep.
9                        Liberia
                 ...
216     Northern Mariana Islands
217                New Caledonia
218    Korea, Dem. People's Rep.
219             French Polynesia
220       British Virgin Islands
Name: Country Name, Length: 109, dtype: object
!!!
107 missing values in column: Land
0                        Burundi
1       Central African Republic
2                    Yemen, Rep.
3             Somalia, Fed. Rep.
4                    South Sudan
                 ...
216     Northern Mariana Islands
217                New Caledonia
218    Korea, Dem. People's Rep.
219             French Polynesia
220       British Virgin Islands
Name: Country Name, Length: 107, dtype: object
!!!
107 missing values in column: ISO3
0                        Burundi
1       Central African Republic
2                    Yemen, Rep.
3             Somalia, Fed. Rep.
4                    South Sudan
                 ...
216     Northern Mariana Islands
217                New Caledonia
218    Korea, Dem. People's Rep.
219             French Polynesia
220       British Virgin Islands
Name: Country Name, Length: 107, dtype: object
!!!
107 missing values in column: Anzahl_der_Deutschen_numeric
0                        Burundi
1       Central African Republic
2                    Yemen, Rep.
3             Somalia, Fed. Rep.
4                    South Sudan
                 ...
216     Northern Mariana Islands
217                New Caledonia
218    Korea, Dem. People's Rep.
219             French Polynesia
220       British Virgin Islands
Name: Country Name, Length: 107, dtype: object
!!!

In [343]:
df_general_germans

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,timediff_to_germany,Cuisine Rank,SunshineHours_per_year,sqm/sqkm,max_m,min_m,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,0.0,NaN,2373.4,0.00,2684.0,772.0,NaN,NaN,NaN,NaN
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,1.0,NaN,2546.5,0.00,1410.0,335.0,NaN,NaN,NaN,NaN
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,1.0,NaN,3114.0,3.61,3666.0,0.0,394.0,NaN,NaN,NaN
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,1.0,NaN,3103.0,4.82,2460.0,0.0,399.0,NaN,NaN,NaN
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,0.0,NaN,2841.3,0.00,3187.0,350.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,8.0,NaN,2250.0,3190.00,965.0,0.0,NaN,NaN,NaN,NaN
217,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,9.0,NaN,2553.0,123.00,1628.0,0.0,NaN,NaN,NaN,NaN
218,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,7.0,NaN,2492.0,20.70,2744.0,0.0,NaN,NaN,NaN,NaN
219,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,12.0,NaN,2686.0,660.00,2241.0,0.0,NaN,NaN,NaN,NaN
220,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,6.0,NaN,3267.0,530.00,523.0,0.0,NaN,NaN,NaN,NaN

In [344]:
bureaucracy=pd.read_excel("../data/P_Data_Extract_From_Worldwide_Governance_Indicators.xlsx")
bureaucracy

,Series Name,Series Code,Country Name,Country Code,2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Government Effectiveness: Estimate,GE.EST,Afghanistan,AFG,-1.670588,-1.880035,-1.987014
1,Government Effectiveness: Estimate,GE.EST,Albania,ALB,-0.035985,0.064541,0.250855
2,Government Effectiveness: Estimate,GE.EST,Algeria,DZA,-0.652746,-0.513499,-0.670135
3,Government Effectiveness: Estimate,GE.EST,American Samoa,ASM,0.63874,0.667629,0.654168
4,Government Effectiveness: Estimate,GE.EST,Andorra,AND,1.748928,1.495261,1.475439
...,...,...,...,...,...,...,...
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,Data from database: Worldwide Governance Indic...,NaN,NaN,NaN,NaN,NaN,NaN
218,Last Updated: 11/05/2024,NaN,NaN,NaN,NaN,NaN,NaN

In [345]:
bureaucracy.dropna(subset=["Country Code"], inplace=True)

In [346]:
bureaucracy = bureaucracy.fillna(method='ffill', axis=1)
bureaucracy

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_48711/1980856907.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bureaucracy = bureaucracy.fillna(method='ffill', axis=1)

,Series Name,Series Code,Country Name,Country Code,2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Government Effectiveness: Estimate,GE.EST,Afghanistan,AFG,-1.670588,-1.880035,-1.987014
1,Government Effectiveness: Estimate,GE.EST,Albania,ALB,-0.035985,0.064541,0.250855
2,Government Effectiveness: Estimate,GE.EST,Algeria,DZA,-0.652746,-0.513499,-0.670135
3,Government Effectiveness: Estimate,GE.EST,American Samoa,ASM,0.63874,0.667629,0.654168
4,Government Effectiveness: Estimate,GE.EST,Andorra,AND,1.748928,1.495261,1.475439
...,...,...,...,...,...,...,...
209,Government Effectiveness: Estimate,GE.EST,Virgin Islands (U.S.),VIR,0.63874,0.667629,0.654168
210,Government Effectiveness: Estimate,GE.EST,West Bank and Gaza,PSE,-0.797049,-0.902029,-1.209557
211,Government Effectiveness: Estimate,GE.EST,"Yemen, Rep.",YEM,-2.325698,-2.233465,-2.27542
212,Government Effectiveness: Estimate,GE.EST,Zambia,ZMB,-0.840983,-0.638017,-0.65897
213,Government Effectiveness: Estimate,GE.EST,Zimbabwe,ZWE,-1.290561,-1.251224,-1.170335

In [375]:
#bureaucracy[bureaucracy["Country Name"].str.contains("Ger")]

,Series Name,Series Code,Country Name,Country Code,2021 [YR2021],2022 [YR2022],2023 [YR2023]
71,Government Effectiveness: Estimate,GE.EST,Germany,DEU,1.289113,1.2893,1.185417

In [347]:
bureaucracy_red=bureaucracy[["Country Code","2023 [YR2023]"]]
bureaucracy_red.rename(columns={"2023 [YR2023]":"Bureaucracy Score"}, inplace=True)
bureaucracy_red

/var/folders/d_/6z_vk0mx7j10g1h2zrjh_6f00000gn/T/ipykernel_48711/4239955025.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bureaucracy_red.rename(columns={"2023 [YR2023]":"Bureaucracy Score"}, inplace=True)

    Country Code Bureaucracy Score
0            AFG         -1.987014
1            ALB          0.250855
2            DZA         -0.670135
3            ASM          0.654168
4            AND          1.475439
..           ...               ...
209          VIR          0.654168
210          PSE         -1.209557
211          YEM          -2.27542
212          ZMB          -0.65897
213          ZWE         -1.170335

[214 rows x 2 columns]

In [348]:
df_general_bureaucracy=pd.merge(df_general_germans,bureaucracy_red,on="Country Code",how="left")
df_general_bureaucracy

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,Cuisine Rank,SunshineHours_per_year,sqm/sqkm,max_m,min_m,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric,Bureaucracy Score
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,...,NaN,2373.4,0.00,2684.0,772.0,NaN,NaN,NaN,NaN,-1.200113
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,...,NaN,2546.5,0.00,1410.0,335.0,NaN,NaN,NaN,NaN,-1.735009
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,...,NaN,3114.0,3.61,3666.0,0.0,394.0,NaN,NaN,NaN,-2.27542
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,...,NaN,3103.0,4.82,2460.0,0.0,399.0,NaN,NaN,NaN,-1.980203
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,...,NaN,2841.3,0.00,3187.0,350.0,NaN,NaN,NaN,NaN,-2.327888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,NaN,2250.0,3190.00,965.0,0.0,NaN,NaN,NaN,NaN,NaN
217,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,NaN,2553.0,123.00,1628.0,0.0,NaN,NaN,NaN,NaN,NaN
218,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,...,NaN,2492.0,20.70,2744.0,0.0,NaN,NaN,NaN,NaN,-1.4841
219,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,NaN,2686.0,660.00,2241.0,0.0,NaN,NaN,NaN,NaN,NaN
220,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,NaN,3267.0,530.00,523.0,0.0,NaN,NaN,NaN,NaN,NaN

In [349]:
df_general_bureaucracy[df_general_bureaucracy["Bureaucracy Score"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,Cuisine Rank,SunshineHours_per_year,sqm/sqkm,max_m,min_m,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric,Bureaucracy Score
127,Curacao,CUW,0.377449,0.888462,2.353859,350.900901,16.919813,NaN,NaN,NaN,...,NaN,3155.0,820.0000,372.0,0.0,NaN,NaN,NaN,NaN,NaN
138,Turks and Caicos Islands,TCA,0.672162,1.280415,1.904921,48.629474,76.340040,NaN,NaN,NaN,...,NaN,3314.0,410.0000,49.0,0.0,NaN,NaN,NaN,NaN,NaN
161,Sint Maarten (Dutch part),SXM,0.717343,0.995761,1.388123,1257.323529,NaN,NaN,NaN,NaN,...,NaN,3023.0,0.0147,383.0,0.0,NaN,NaN,NaN,NaN,NaN
188,Faroe Islands,FRO,1.286274,1.189759,0.924966,39.736496,NaN,NaN,NaN,NaN,...,NaN,1002.0,802.0000,880.0,0.0,NaN,Färöer,FRO,29.0,NaN
206,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.000000,NaN,NaN,NaN,...,NaN,1905.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,Caribbean small states,CSS,0.361539,NaN,NaN,11.284814,31.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Gibraltar,GIB,NaN,NaN,NaN,3847.100000,3.200205,NaN,NaN,NaN,...,NaN,2698.0,1850.0000,426.0,0.0,NaN,NaN,NaN,NaN,NaN
211,Isle of Man,IMN,1.582943,NaN,NaN,147.657895,1.196272,NaN,NaN,NaN,...,NaN,1590.0,280.0000,621.0,0.0,NaN,NaN,NaN,NaN,NaN
212,Latin America & Caribbean,LCN,0.197933,NaN,NaN,32.586665,19.700000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,St. Martin (French part),MAF,0.388321,NaN,NaN,550.300000,26.899798,NaN,NaN,NaN,...,NaN,2707.0,1080.0000,424.0,0.0,NaN,NaN,NaN,NaN,NaN
216,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,NaN,2250.0,3190.0000,965.0,0.0,NaN,NaN,NaN,NaN,NaN
217,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,NaN,2553.0,123.0000,1628.0,0.0,NaN,NaN,NaN,NaN,NaN
219,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,NaN,2686.0,660.0000,2241.0,0.0,NaN,NaN,NaN,NaN,NaN
220,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,NaN,3267.0,530.0000,523.0,0.0,NaN,NaN,NaN,NaN,NaN

In [357]:
max_temp=pd.read_excel("../data/temperature/monthly/cru-x0.5_timeseries_tasmax_timeseries_monthly_1901-2024_mean_historical_cru_ts4.09_mean.xlsx")
max_temp["max"]=max_temp[max_temp.columns[2:]].max(axis=1)
max_temp=max_temp.dropna(subset="name")

In [360]:
max_temp["code"]=np.where(max_temp["name"].str.contains("Kosovo"),"XKX",max_temp["code"])

In [361]:
max_temp_red=max_temp[["code","max"]]

In [365]:
min_temp=pd.read_excel("../data/temperature/monthly/cru-x0.5_timeseries_tasmin_timeseries_monthly_1901-2024_mean_historical_cru_ts4.09_mean.xlsx")
min_temp["min"]=min_temp[min_temp.columns[2:]].min(axis=1)
min_temp["code"]=np.where(min_temp["name"].str.contains("Kosovo"),"XKX",min_temp["code"])

min_temp_red=min_temp[["code","min"]]
min_temp_red

    code    min
0    ABW  21.80
1    AFG -12.10
2    AGO   8.63
3    AIA  20.60
4    ALA -15.86
..   ...    ...
241  WSM  21.40
242  YEM  11.21
243  ZAF   1.03
244  ZMB   6.98
245  ZWE   5.72

[246 rows x 2 columns]

In [366]:
temp_min_max=pd.merge(max_temp_red,min_temp_red,on="code",how="inner")
temp_min_max

    code    max    min
0    ABW  35.90  21.80
1    AFG  35.30 -12.10
2    AGO  31.04   8.63
3    AIA  33.20  20.60
4    ALA  24.00 -15.86
..   ...    ...    ...
241  WSM  32.23  21.40
242  YEM  37.38  11.21
243  ZAF  32.44   1.03
244  ZMB  35.04   6.98
245  ZWE  34.03   5.72

[246 rows x 3 columns]

In [367]:
df_general_temp=pd.merge(df_general_bureaucracy,temp_min_max,left_on="Country Code",right_on="code",how="left").drop(columns=["code"])
df_general_temp

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,sqm/sqkm,max_m,min_m,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric,Bureaucracy Score,max,min
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,...,0.00,2684.0,772.0,NaN,NaN,NaN,NaN,-1.200113,29.51,11.13
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,...,0.00,1410.0,335.0,NaN,NaN,NaN,NaN,-1.735009,36.26,13.48
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,...,3.61,3666.0,0.0,394.0,NaN,NaN,NaN,-2.27542,37.38,11.21
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,...,4.82,2460.0,0.0,399.0,NaN,NaN,NaN,-1.980203,34.83,17.86
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,...,0.00,3187.0,350.0,NaN,NaN,NaN,NaN,-2.327888,40.28,14.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,3190.00,965.0,0.0,NaN,NaN,NaN,NaN,NaN,32.70,21.60
219,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,123.00,1628.0,0.0,NaN,NaN,NaN,NaN,NaN,30.48,14.38
220,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,...,20.70,2744.0,0.0,NaN,NaN,NaN,NaN,-1.4841,27.95,-20.51
221,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,660.00,2241.0,0.0,NaN,NaN,NaN,NaN,NaN,29.54,18.46
222,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,530.00,523.0,0.0,NaN,NaN,NaN,NaN,NaN,32.40,18.80

In [368]:
df_general_temp[df_general_temp["max"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,sqm/sqkm,max_m,min_m,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric,Bureaucracy Score,max,min
208,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Caribbean small states,CSS,0.361539,NaN,NaN,11.284814,31.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,Latin America & Caribbean,LCN,0.197933,NaN,NaN,32.586665,19.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [424]:
healthcare=pd.read_csv("../data/healthcare_table.csv", index_col=0)
healthcare.reset_index(inplace=True)
healthcare

                   Country[4]  Living Conditions  Health
0                     Denmark              97.08   82.76
1                      Norway              95.84   83.37
2                 Switzerland              96.36   84.16
3                      Sweden              96.76   81.96
4                     Finland              95.91   79.96
..                        ...                ...     ...
162               Afghanistan              38.54   49.85
163                      Chad              29.83   34.93
164  Central African Republic              21.19   35.70
165                     Yemen              43.96   51.55
166               South Sudan              27.75   34.04

[167 rows x 3 columns]

In [425]:
healthcare.columns=["Country","LivingConditions","Healthcare"]
healthcare

                      Country  LivingConditions  Healthcare
0                     Denmark             97.08       82.76
1                      Norway             95.84       83.37
2                 Switzerland             96.36       84.16
3                      Sweden             96.76       81.96
4                     Finland             95.91       79.96
..                        ...               ...         ...
162               Afghanistan             38.54       49.85
163                      Chad             29.83       34.93
164  Central African Republic             21.19       35.70
165                     Yemen             43.96       51.55
166               South Sudan             27.75       34.04

[167 rows x 3 columns]

In [426]:
import pycountry

country_list = [
    'Denmark', 'Sweden', 'Norway', 'Finland', 'Switzerland', 'Netherlands', 'Luxembourg', 'Iceland', 'Germany',
    'New Zealand', 'Ireland', 'United Kingdom', 'Canada', 'Austria', 'Australia', 'Japan', 'Singapore', 'Belgium',
    'United States', 'Taiwan', 'Estonia', 'Hong Kong', 'France', 'Spain', 'Czech Republic', 'Portugal', 'Slovenia',
    'Malta', 'South Korea', 'Italy', 'Latvia', 'Lithuania', 'Israel', 'Cyprus', 'Slovakia', 'Chile', 'Poland',
    'Uruguay', 'Costa Rica', 'Greece', 'Croatia', 'Hungary', 'Malaysia', 'United Arab Emirates', 'Romania', 'Qatar',
    'Mauritius', 'Bulgaria', 'Montenegro', 'Panama', 'Seychelles', 'Serbia', 'Georgia', 'China', 'North Macedonia',
    'Trinidad and Tobago', 'Jamaica', 'Argentina', 'Peru', 'Kuwait', 'Armenia', 'Bahrain', 'Indonesia', 'Thailand',
    'Albania', 'Brazil', 'Oman', 'Dominican Republic', 'Kazakhstan', 'Moldova', 'Mexico', 'Bosnia and Herzegovina',
    'Vietnam', 'Ukraine', 'South Africa', 'Paraguay', 'Russia', 'Belarus', 'Saudi Arabia', 'Cabo Verde', 'Colombia',
    'Suriname', 'Botswana', 'Philippines', 'Ecuador', 'Jordan', 'São Tomé and Príncipe', 'Mongolia', 'Guyana',
    'Namibia', 'Sri Lanka', 'Azerbaijan', 'Belize', 'Kyrgyzstan', 'Turkey', 'Morocco', 'El Salvador', 'Ghana',
    'Tunisia', 'Uzbekistan', 'Guatemala', 'Senegal', 'India', 'Cuba', 'Honduras', 'Bolivia', 'Turkmenistan', 'Kenya',
    'Algeria', 'Nepal', 'Rwanda', 'Lebanon', 'Tajikistan', 'Nicaragua', 'Laos', 'Gambia', 'Tanzania', 'Cambodia',
    'Gabon', "Côte d'Ivoire", 'Egypt', 'Djibouti', 'Benin', 'Bangladesh', 'Malawi', 'Iran', 'Zambia', 'Comoros',
    'Uganda', 'Papua New Guinea', 'Equatorial Guinea', 'Lesotho', 'Togo', 'Swaziland', 'Burkina Faso', 'Pakistan',
    'Madagascar', 'Liberia', 'Zimbabwe', 'Iraq', 'Guinea', 'Nigeria', 'Myanmar', 'Sierra Leone', 'Venezuela', 'Libya',
    'Cameroon', 'Congo', 'Guinea-Bissau', 'Mozambique', 'Mali', 'Niger', 'Ethiopia', 'Mauritania', 'Angola', 'Haiti',
    'Burundi', 'Sudan', 'Syria', 'Eritrea', 'Democratic Republic of Congo', 'Chad', 'Somalia', 'Afghanistan',
    'Central African Republic', 'Yemen', 'South Sudan'
]

overrides = {
    "United States": "USA",
    "United Kingdom": "GBR",
    "South Korea": "KOR",
    "North Korea": "PRK",
    "Czech Republic": "CZE",
    "Russia": "RUS",
    "Hong Kong": "HKG",
    "Taiwan": "TWN",
    "Cabo Verde": "CPV",
    "São Tomé and Príncipe": "STP",
    "Vietnam": "VNM",
    "Laos": "LAO",
    "Ivory Coast": "CIV",
    "Côte d'Ivoire": "CIV",
    "Swaziland": "SWZ",
    "Democratic Republic of Congo": "COD",
    "Congo": "COG",
    "North Macedonia": "MKD",
    "Palestine": "PSE",
    "Myanmar": "MMR",
    "Syria": "SYR",
    "Moldova": "MDA",
    "Brunei": "BRN",
    "East Timor": "TLS",
    "Micronesia": "FSM",
    "Saint Kitts and Nevis": "KNA",
    "Saint Lucia": "LCA",
    "Saint Vincent and the Grenadines": "VCT",
    "Sao Tome and Principe": "STP",
    "Solomon Islands": "SLB",
    "Trinidad and Tobago": "TTO",
    "Turkey": "TUR",
    "United Arab Emirates": "ARE",
    "Gambia": "GMB",
    "Guinea-Bissau": "GNB",
    "Marshall Islands": "MHL",
    "San Marino": "SMR",
    "South Sudan": "SSD",
    "Suriname": "SUR",
    "Tuvalu": "TUV",
    "Vanuatu": "VUT",
    "Kosovo": "XKX",
    "Timor-Leste": "TLS",
    "Faroe Islands": "FRO",
    "Western Sahara": "ESH",
    "Central African Republic": "CAF",
    "Papua New Guinea": "PNG",
    "Equatorial Guinea": "GNQ",
    "Republic of the Congo": "COG",
    "Democratic Republic of the Congo": "COD",
    "Hong Kong (China)":"HKK",
    "Syria":"SYR",
}

country_to_iso3 = {}
for name in healthcare_red["Country"].unique().tolist():
    lookup_name = name
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(lookup_name).alpha_3
        except LookupError:
            country_to_iso3[name] = None

# country_to_iso3 now maps each country to its ISO-3 code

In [427]:
healthcare["Country Code"] = healthcare["Country"].map(country_to_iso3)
healthcare

                      Country  LivingConditions  Healthcare Country Code
0                     Denmark             97.08       82.76          DNK
1                      Norway             95.84       83.37          NOR
2                 Switzerland             96.36       84.16          CHE
3                      Sweden             96.76       81.96          SWE
4                     Finland             95.91       79.96          FIN
..                        ...               ...         ...          ...
162               Afghanistan             38.54       49.85          AFG
163                      Chad             29.83       34.93          TCD
164  Central African Republic             21.19       35.70          CAF
165                     Yemen             43.96       51.55          YEM
166               South Sudan             27.75       34.04          SSD

[167 rows x 4 columns]

In [428]:
healthcare[healthcare["Country Code"].isna()]

Empty DataFrame
Columns: [Country, LivingConditions, Healthcare, Country Code]
Index: []

In [429]:
healthcare_red_trio=healthcare[["Country Code","LivingConditions" ,"Healthcare"]]

In [430]:
df_general_healthcare=pd.merge(df_general_temp, healthcare_red_trio, on="Country Code", how="left")
df_general_healthcare

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,min_m,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric,Bureaucracy Score,max,min,LivingConditions,Healthcare
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,...,772.0,NaN,NaN,NaN,NaN,-1.200113,29.51,11.13,28.53,56.48
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,...,335.0,NaN,NaN,NaN,NaN,-1.735009,36.26,13.48,21.19,35.70
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,...,0.0,394.0,NaN,NaN,NaN,-2.27542,37.38,11.21,43.96,51.55
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,...,0.0,399.0,NaN,NaN,NaN,-1.980203,34.83,17.86,40.82,44.18
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,...,350.0,NaN,NaN,NaN,NaN,-2.327888,40.28,14.74,27.75,34.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,32.70,21.60,NaN,NaN
219,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,30.48,14.38,NaN,NaN
220,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,...,0.0,NaN,NaN,NaN,NaN,-1.4841,27.95,-20.51,NaN,NaN
221,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,29.54,18.46,NaN,NaN
222,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,32.40,18.80,NaN,NaN

In [431]:
df_general_healthcare[df_general_healthcare["Healthcare"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,min_m,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric,Bureaucracy Score,max,min,LivingConditions,Healthcare
15,Solomon Islands,SLB,0.038519,0.969526,25.169941,28.581815,3.734350,Solomon Islands,75,NaN,...,0.0,NaN,NaN,NaN,NaN,-0.733604,31.05,20.29,NaN,NaN
26,Vanuatu,VUT,0.063491,1.274261,20.069946,26.284578,0.334607,Vanuatu,82,NaN,...,0.0,NaN,NaN,NaN,NaN,-0.568605,30.64,17.35,NaN,NaN
27,Kiribati,KIR,0.041015,0.800949,19.528297,163.617284,7.124791,Kiribati,89,NaN,...,0.0,NaN,NaN,NaN,NaN,-0.096573,32.38,22.84,NaN,NaN
33,"Micronesia, Fed. Sts.",FSM,0.074659,1.241970,16.635175,160.900000,0.906766,Micronesia,92,NaN,...,0.0,NaN,NaN,NaN,NaN,0.232347,32.05,21.31,NaN,NaN
34,West Bank and Gaza,PSE,0.046457,0.768418,16.540444,857.390041,0.622023,Palestine,Not covered,361.0,...,NaN,448.0,NaN,NaN,NaN,-1.209557,34.20,3.11,NaN,NaN
35,West Bank and Gaza,PSE,0.046457,0.768418,16.540444,857.390041,0.622023,Palestine,Not covered,361.0,...,NaN,448.0,NaN,NaN,NaN,-1.209557,34.20,3.11,NaN,NaN
39,Timor-Leste,TLS,0.024071,0.365735,15.194234,93.092535,4.065946,Timor-Leste,72,NaN,...,0.0,NaN,NaN,NaN,NaN,-0.841954,31.03,16.45,NaN,NaN
46,Tuvalu,TUV,0.113705,1.336512,11.754186,327.200000,18.290731,Tuvalu,93,NaN,...,0.0,NaN,NaN,NaN,NaN,-0.449751,32.95,23.92,NaN,NaN
56,Samoa,WSM,0.087791,0.809887,9.225140,77.936331,6.262585,Samoa,84,NaN,...,0.0,NaN,NaN,NaN,NaN,0.492577,32.23,21.40,NaN,NaN
57,Tonga,TON,0.087164,0.802515,9.206963,145.273611,0.946347,Tonga,80,NaN,...,0.0,NaN,NaN,NaN,NaN,-0.115239,31.10,18.97,NaN,NaN
61,Marshall Islands,MHL,0.133810,1.180088,8.819104,215.705556,4.191862,Marshall Islands,93,NaN,...,0.0,NaN,NaN,NaN,NaN,0.069975,31.89,23.84,NaN,NaN
79,Nauru,NRU,0.240534,1.213852,5.046494,593.750000,NaN,Nauru,75,NaN,...,0.0,NaN,NaN,NaN,NaN,-0.067808,33.00,22.80,NaN,NaN
87,Fiji,FJI,0.112695,0.508216,4.509666,50.582649,2.055953,Fiji,69,NaN,...,0.0,NaN,NaN,NaN,NaN,0.490779,31.71,16.83,NaN,NaN
88,Bhutan,BTN,0.068806,0.306061,4.448153,20.618380,2.467513,Bhutan,68,NaN,...,97.0,NaN,Bhutan,BTN,27.0,0.566305,21.97,-7.32,NaN,NaN
91,Palau,PLW,0.284935,1.175062,4.123967,38.536957,11.226810,Palau,92,NaN,...,0.0,NaN,NaN,NaN,NaN,0.442304,32.61,22.66,NaN,NaN
98,Kosovo,XKX,0.130814,0.507945,3.882964,NaN,1.894977,Kosovo,60,351.0,...,297.0,NaN,NaN,NaN,NaN,-0.080061,29.45,NaN,NaN,NaN
99,Kosovo,XKX,0.130814,0.507945,3.882964,NaN,1.894977,Kosovo,60,351.0,...,297.0,NaN,NaN,NaN,NaN,-0.080061,29.45,NaN,NaN,NaN
100,Kosovo,XKX,0.130814,0.507945,3.882964,NaN,1.894977,Kosovo,60,351.0,...,297.0,NaN,NaN,NaN,NaN,-0.080061,29.45,-11.86,NaN,NaN
104,Grenada,GRD,0.212752,0.762724,3.585035,344.355882,13.665753,Grenada,89,NaN,...,0.0,NaN,NaN,NaN,NaN,-0.006056,32.20,19.50,NaN,NaN
107,St. Vincent and the Grenadines,VCT,0.206114,0.700547,3.398827,259.802564,51.321276,St. Vincent and the Grenadines,90,NaN,...,0.0,NaN,NaN,NaN,NaN,0.073835,31.60,19.60,NaN,NaN
108,Dominica,DMA,0.186474,0.632941,3.394263,88.680000,27.063396,Dominica,92,NaN,...,0.0,NaN,NaN,NaN,NaN,0.260825,32.88,19.16,NaN,NaN
114,Barbados,BRB,0.454582,1.449649,3.188968,656.595349,7.437946,Barbados,94,NaN,...,0.0,NaN,NaN,NaN,NaN,0.380443,32.28,19.52,NaN,NaN
121,Maldives,MDV,0.236837,0.645123,2.723917,1765.080537,0.615093,Maldives,43,NaN,...,0.0,NaN,Malediven,MDV,271.0,-0.127973,32.38,23.45,NaN,NaN
125,St. Lucia,LCA,0.254150,0.666553,2.622674,293.909836,39.044089,St. Lucia,91,NaN,...,0.0,NaN,NaN,NaN,NaN,0.073835,32.18,20.27,NaN,NaN
129,Curacao,CUW,0.377449,0.888462,2.353859,350.900901,16.919813,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,33.84,21.78,NaN,NaN
135,Antigua and Barbuda,ATG,0.425192,0.914859,2.151639,212.081818,10.716333,Antigua and Barbuda,83,NaN,...,0.0,NaN,NaN,NaN,NaN,0.380411,32.66,20.51,NaN,NaN
137,St. Kitts and Nevis,KNA,0.408088,0.830074,2.034056,179.838462,64.160144,St. Kitts and Nevis,89,NaN,...,0.0,NaN,NaN,NaN,NaN,0.380411,33.10,20.50,NaN,NaN
140,Turks and Caicos Islands,TCA,0.672162,1.280415,1.904921,48.629474,76.340040,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,33.80,17.70,NaN,NaN
144,"Bahamas, The",BHS,0.707084,1.240894,1.754946,39.904096,32.198139,The Bahamas,90,NaN,...,0.0,NaN,Bahamas,BHS,308.0,0.270353,33.50,13.33,NaN,NaN
150,Aruba,ABW,0.609044,0.979243,1.607836,596.438889,1.934751,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.795441,35.90,21.80,NaN,NaN
157,Virgin Islands (U.S.),VIR,0.794278,1.153302,1.452013,299.762857,49.857140,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.654168,32.73,19.12,NaN,NaN
158,Puerto Rico (US),PRI,0.704030,1.014872,1.441518,361.194138,14.589658,Puerto Rico,Not covered,NaN,...,0.0,NaN,NaN,NaN,NaN,-0.389062,31.10,16.80,NaN,NaN
163,Sint Maarten (Dutch part),SXM,0.717343,0.995761,1.388123,1257.323529,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,33.20,20.60,NaN,NaN
186,Andorra,AND,0.883575,0.852456,0.964780,172.034043,2.584647,Andorra,93,NaN,...,840.0,NaN,Andorra,AND,364.0,1.475439,26.44,-8.86,NaN,NaN
188,San Marino,SMR,0.972480,0.925849,0.952050,564.333333,3.637620,San Marino,97,NaN,...,55.0,NaN,NaN,NaN,NaN,1.201682,30.93,-7.49,NaN,NaN
190,Faroe Islands,FRO,1.286274,1.189759,0.924966,39.736496,NaN,NaN,NaN,NaN,...,0.0,NaN,Färöer,FRO,29.0,NaN,15.00,-3.12,NaN,NaN
192,Greenland,GRL,1.048365,0.961394,0.917042,0.138543,5.351314,NaN,NaN,NaN,...,0.0,NaN,Grönland,GRL,56.0,0.763897,1.51,-40.71,NaN,NaN
197,Cayman Islands,CYM,1.751776,1.461008,0.834015,304.325000,4.367798,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,1.237235,33.50,17.90,NaN,NaN
198,Brunei Darussalam,BRN,0.598884,0.481066,0.803272,87.087097,0.486379,Brunei,27,439.0,...,0.0,NaN,NaN,NaN,NaN,1.401787,34.00,20.71,NaN,NaN
201,Bermuda,BMU,2.489864,1.503672,0.603917,1198.111111,6.182571,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,1.201682,34.00,10.10,NaN,NaN
203,"Macao SAR, China",MAC,1.309079,0.737883,0.563666,20569.696970,0.560294,Macao,Not covered,535.0,...,0.0,NaN,NaN,NaN,NaN,1.08997,33.10,7.10,NaN,NaN
207,American Samoa,ASM,0.322892,NaN,NaN,237.605000,25.536011,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.654168,32.20,21.60,NaN,NaN
208,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Caribbean small states,CSS,0.361539,NaN,NaN,11.284814,31.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,Gibraltar,GIB,NaN,NaN,NaN,3847.100000,3.200205,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,31.80,6.00,NaN,NaN
212,Guam,GUM,0.749695,NaN,NaN,308.344444,4.326115,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.654168,32.57,22.13,NaN,NaN
213,Isle of Man,IMN,1.582943,NaN,NaN,147.657895,1.196272,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,21.78,-2.10,NaN,NaN
214,Latin America & Caribbean,LCN,0.197933,NaN,NaN,32.586665,19.700000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Liechtenstein,LIE,3.727111,NaN,NaN,249.062500,5.122426,Liechtenstein,90,NaN,...,430.0,NaN,Liechtenstein,LIE,1694.0,1.62782,25.70,-13.22,NaN,NaN
216,St. Martin (French part),MAF,0.388321,NaN,NaN,550.300000,26.899798,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,33.20,20.60,NaN,NaN
217,Monaco,MCO,4.598199,NaN,NaN,18692.898273,3.081949,Monaco,82,NaN,...,0.0,NaN,NaN,NaN,NaN,2.022953,29.00,-3.80,NaN,NaN
218,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,32.70,21.60,NaN,NaN
219,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,30.48,14.38,NaN,NaN
220,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,...,0.0,NaN,NaN,NaN,NaN,-1.4841,27.95,-20.51,NaN,NaN
221,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,29.54,18.46,NaN,NaN
222,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,32.40,18.80,NaN,NaN

In [433]:
CostOfLiving=pd.read_excel("../data/CostOfLiving.xls",header=None)
CostOfLiving

         0              1
0        1          China
1     $649            NaN
2        2          India
3     $437            NaN
4        3  United States
..     ...            ...
389   $733            NaN
390    196         Tuvalu
391   $685            NaN
392    197        Vatican
393  $1084            NaN

[394 rows x 2 columns]

In [434]:
CostOfLiving["Country"]=CostOfLiving[1].shift(1, axis=0)
CostOfLiving["CostofLiving"]=CostOfLiving[0].str[1:]
CostOfLiving_red=CostOfLiving[["Country","CostofLiving"]]
CostOfLiving_red=CostOfLiving_red.dropna(subset=["Country"])
CostOfLiving_red=CostOfLiving_red.reset_index(drop=True)
CostOfLiving_red

           Country CostofLiving
0            China          649
1            India          437
2    United States         2504
3        Indonesia          583
4         Pakistan          387
..             ...          ...
192     San Marino         1340
193          Palau         1178
194          Nauru          733
195         Tuvalu          685
196        Vatican         1084

[197 rows x 2 columns]

In [435]:
CostOfLiving_red["Country"].unique().tolist()

['China',
 'India',
 'United States',
 'Indonesia',
 'Pakistan',
 'Nigeria',
 'Brazil',
 'Bangladesh',
 'Russia',
 'Ethiopia',
 'Mexico',
 'Japan',
 'Egypt',
 'Philippines',
 'DR Congo',
 'Vietnam',
 'Iran',
 'Turkey',
 'Germany',
 'France',
 'United Kingdom',
 'Thailand',
 'South Africa',
 'Italy',
 'Tanzania',
 'Myanmar',
 'Colombia',
 'South Korea',
 'Spain',
 'Kenya',
 'Argentina',
 'Uganda',
 'Algeria',
 'Afghanistan',
 'Ukraine',
 'Sudan',
 'Iraq',
 'Poland',
 'Canada',
 'Morocco',
 'Angola',
 'Uzbekistan',
 'Peru',
 'Saudi Arabia',
 'Ghana',
 'Malaysia',
 'Ivory Coast',
 'Mozambique',
 'Nepal',
 'Venezuela',
 'Cameroon',
 'Yemen',
 'Australia',
 'North Korea',
 'Madagascar',
 'Syria',
 'Taiwan',
 'Burkina Faso',
 'Niger',
 'Sri Lanka',
 'Mali',
 'Kazakhstan',
 'Zambia',
 'Chile',
 'Chad',
 'Romania',
 'Malawi',
 'Netherlands',
 'Cambodia',
 'Guatemala',
 'Ecuador',
 'Senegal',
 'Zimbabwe',
 'Rwanda',
 'Benin',
 'Burundi',
 'Guinea',
 'South Sudan',
 'Bolivia',
 'Belgium',
 'Tunisia',
 'Somalia',
 'Cuba',
 'Haiti',
 'Czech Republic',
 'Dominican Republic',
 'Sweden',
 'Greece',
 'Jordan',
 'Portugal',
 'Azerbaijan',
 'United Arab Emirates',
 'Israel',
 'Hungary',
 'Tajikistan',
 'Belarus',
 'Austria',
 'Papua New Guinea',
 'Switzerland',
 'Honduras',
 'Togo',
 'Sierra Leone',
 'Kyrgyzstan',
 'Laos',
 'Paraguay',
 'Libya',
 'Serbia',
 'Bulgaria',
 'Congo',
 'Turkmenistan',
 'Lebanon',
 'El Salvador',
 'Singapore',
 'Denmark',
 'Finland',
 'Norway',
 'Slovakia',
 'Palestine',
 'Liberia',
 'Central African Republic',
 'Ireland',
 'Nicaragua',
 'New Zealand',
 'Costa Rica',
 'Oman',
 'Mauritania',
 'Panama',
 'Kuwait',
 'Croatia',
 'Bosnia and Herzegovina',
 'Georgia',
 'Eritrea',
 'Uruguay',
 'Mongolia',
 'Armenia',
 'Lithuania',
 'Albania',
 'Jamaica',
 'Gambia',
 'Qatar',
 'Moldova',
 'Namibia',
 'Botswana',
 'Slovenia',
 'Gabon',
 'Lesotho',
 'Latvia',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'North Macedonia',
 'Bahrain',
 'Estonia',
 'Trinidad and Tobago',
 'Cyprus',
 'Mauritius',
 'East Timor',
 'Eswatini',
 'Djibouti',
 'Fiji',
 'Comoros',
 'Bhutan',
 'Guyana',
 'Luxembourg',
 'Montenegro',
 'Solomon Islands',
 'Suriname',
 'Cape Verde',
 'Malta',
 'Brunei',
 'Maldives',
 'Belize',
 'Bahamas',
 'Iceland',
 'Barbados',
 'Vanuatu',
 'Sao Tome and Principe',
 'Samoa',
 'Saint Lucia',
 'Curacao',
 'Seychelles',
 'Kiribati',
 'Grenada',
 'Saint Vincent',
 'Tonga',
 'Antigua and Barbuda',
 'Andorra',
 'Dominica',
 'Cayman Islands',
 'Saint Kitts and Nevis',
 'Marshall Islands',
 'Monaco',
 'Liechtenstein',
 'San Marino',
 'Palau',
 'Nauru',
 'Tuvalu',
 'Vatican']

In [436]:
overrides = {
    "United States": "USA",
    "United Kingdom": "GBR",
    "South Korea": "KOR",
    "North Korea": "PRK",
    "Czech Republic": "CZE",
    "Russia": "RUS",
    "Hong Kong": "HKG",
    "Taiwan": "TWN",
    "Ivory Coast": "CIV",
    "DR Congo": "COD",
    "Democratic Republic of the Congo": "COD",
    "Republic of the Congo": "COG",
    "Congo": "COG",
    "Cape Verde": "CPV",
    "Sao Tome and Principe": "STP",
    "East Timor": "TLS",
    "Eswatini": "SWZ",
    "Vatican": "VAT",
    "Saint Lucia": "LCA",
    "Saint Vincent": "VCT",
    "Saint Kitts and Nevis": "KNA",
    "Antigua and Barbuda": "ATG",
    "Trinidad and Tobago": "TTO",
    "Solomon Islands": "SLB",
    "Bahamas": "BHS",
    "Curacao": "CUW",
    "Palestine": "PSE",
    "Myanmar": "MMR",
    "Laos": "LAO",
    "Brunei": "BRN",
    "Moldova": "MDA",
    "Syria": "SYR",
    "Gambia": "GMB",
    "Guinea-Bissau": "GNB",
    "Equatorial Guinea": "GNQ",
    "North Macedonia": "MKD",
    "Timor-Leste": "TLS",
    "Cape Verde": "CPV",
    "Swaziland": "SWZ",
    "Vatican City": "VAT",
    "Saint Barthelemy": "BLM",
    "Saint Martin": "MAF",
    "Sint Maarten": "SXM",
    "Saint Pierre and Miquelon": "SPM",
    "Saint Helena, Ascension and Tristan da Cunha": "SHN",
    "Micronesia": "FSM",
    "Marshall Islands": "MHL",
    "Samoa": "WSM",
    "Tonga": "TON",
    "Fiji": "FJI",
    "Maldives": "MDV",
    "Bahamas": "BHS",
    "Barbados": "BRB",
    "Grenada": "GRD",
    "Dominica": "DMA",
    "Andorra": "AND",
    "Liechtenstein": "LIE",
    "San Marino": "SMR",
    "Monaco": "MCO",
    "Luxembourg": "LUX",
    "Comoros": "COM",
    "Mauritius": "MUS",
    "Seychelles": "SYC",
    "Vanuatu": "VUT",
    "Nauru": "NRU",
    "Tuvalu": "TUV",
    "Guyana": "GUY",
    "Bhutan": "BTN",
    "Djibouti": "DJI",
    "Qatar": "QAT",
    "Bahrain": "BHR",
    "Oman": "OMN",
    "Kuwait": "KWT",
    "United Arab Emirates": "ARE",
    "Yemen": "YEM",
    "Jordan": "JOR",
    "Lebanon": "LBN",
    "Israel": "ISR",
    "Turkey": "TUR",
    "Iran": "IRN",
    "Iraq": "IRQ",
    "Afghanistan": "AFG",
    "Pakistan": "PAK",
    "Bangladesh": "BGD",
    "Nepal": "NPL",
    "Sri Lanka": "LKA",
    "Maldives": "MDV",
    "Kazakhstan": "KAZ",
    "Uzbekistan": "UZB",
    "Turkmenistan": "TKM",
    "Kyrgyzstan": "KGZ",
    "Tajikistan": "TJK",
    "Armenia": "ARM",
    "Azerbaijan": "AZE",
    "Georgia": "GEO",
    "Mongolia": "MNG",
    "Cambodia": "KHM",
    "Vietnam": "VNM",
    "Thailand": "THA",
    "Malaysia": "MYS",
    "Singapore": "SGP",
    "Indonesia": "IDN",
    "Philippines": "PHL",
    "Papua New Guinea": "PNG",
    "Australia": "AUS",
    "New Zealand": "NZL",
    "Fiji": "FJI",
    "Solomon Islands": "SLB",
    "Vanuatu": "VUT",
    "Samoa": "WSM",
    "Tonga": "TON",
    "Kiribati": "KIR",
    "Tuvalu": "TUV",
    "Nauru": "NRU",
    "Palau": "PLW",
    "Micronesia": "FSM",
    "Marshall Islands": "MHL",
    "Timor-Leste": "TLS",
    "Brunei": "BRN",
    "East Timor": "TLS",
    "Czechia": "CZE",
    "Ivory Coast": "CIV",
    "Côte d'Ivoire": "CIV",
    "Cape Verde": "CPV",
    "Sao Tome and Principe": "STP",
    "Saint Vincent and the Grenadines": "VCT",
    "Saint Vincent": "VCT",
    "Saint Lucia": "LCA",
    "Saint Kitts and Nevis": "KNA",
    "Antigua and Barbuda": "ATG",
    "Dominican Republic": "DOM",
    "Central African Republic": "CAF",
    "South Sudan": "SSD",
    "Sudan": "SDN",
    "Congo": "COG",
    "DR Congo": "COD",
    "Republic of the Congo": "COG",
    "Democratic Republic of the Congo": "COD",
    "Western Sahara": "ESH",
    "Curacao": "CUW",
    "Cayman Islands": "CYM",
}

country_to_iso3 = {}
for name in CostOfLiving_red["Country"].unique().tolist():
    lookup_name = name
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(lookup_name).alpha_3
        except LookupError:
            country_to_iso3[name] = None

In [437]:
CostOfLiving_red["Country Code"] = CostOfLiving_red["Country"].map(country_to_iso3)
CostOfLiving_red

           Country CostofLiving Country Code
0            China          649          CHN
1            India          437          IND
2    United States         2504          USA
3        Indonesia          583          IDN
4         Pakistan          387          PAK
..             ...          ...          ...
192     San Marino         1340          SMR
193          Palau         1178          PLW
194          Nauru          733          NRU
195         Tuvalu          685          TUV
196        Vatican         1084          VAT

[197 rows x 3 columns]

In [438]:
CostOfLiving_red=CostOfLiving_red[["Country Code","CostofLiving"]]
CostOfLiving_red

    Country Code CostofLiving
0            CHN          649
1            IND          437
2            USA         2504
3            IDN          583
4            PAK          387
..           ...          ...
192          SMR         1340
193          PLW         1178
194          NRU          733
195          TUV          685
196          VAT         1084

[197 rows x 2 columns]

In [439]:
df_general_costofliving=pd.merge(df_general_healthcare, CostOfLiving_red, on="Country Code", how="left")
df_general_costofliving

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric,Bureaucracy Score,max,min,LivingConditions,Healthcare,CostofLiving
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,...,NaN,NaN,NaN,NaN,-1.200113,29.51,11.13,28.53,56.48,738
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,...,NaN,NaN,NaN,NaN,-1.735009,36.26,13.48,21.19,35.70,523
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,...,394.0,NaN,NaN,NaN,-2.27542,37.38,11.21,43.96,51.55,534
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,...,399.0,NaN,NaN,NaN,-1.980203,34.83,17.86,40.82,44.18,679
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,...,NaN,NaN,NaN,NaN,-2.327888,40.28,14.74,27.75,34.04,520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,32.70,21.60,NaN,NaN,NaN
219,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30.48,14.38,NaN,NaN,NaN
220,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,...,NaN,NaN,NaN,NaN,-1.4841,27.95,-20.51,NaN,NaN,1597
221,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,29.54,18.46,NaN,NaN,NaN
222,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,32.40,18.80,NaN,NaN,NaN

In [440]:
df_general_costofliving[df_general_costofliving["CostofLiving"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,English Proficiency,Land,ISO3,Anzahl_der_Deutschen_numeric,Bureaucracy Score,max,min,LivingConditions,Healthcare,CostofLiving
33,"Micronesia, Fed. Sts.",FSM,0.074659,1.241970,16.635175,160.900000,0.906766,Micronesia,92,NaN,...,NaN,NaN,NaN,NaN,0.232347,32.05,21.31,NaN,NaN,NaN
98,Kosovo,XKX,0.130814,0.507945,3.882964,NaN,1.894977,Kosovo,60,351.0,...,NaN,NaN,NaN,NaN,-0.080061,29.45,NaN,NaN,NaN,NaN
99,Kosovo,XKX,0.130814,0.507945,3.882964,NaN,1.894977,Kosovo,60,351.0,...,NaN,NaN,NaN,NaN,-0.080061,29.45,NaN,NaN,NaN,NaN
100,Kosovo,XKX,0.130814,0.507945,3.882964,NaN,1.894977,Kosovo,60,351.0,...,NaN,NaN,NaN,NaN,-0.080061,29.45,-11.86,NaN,NaN,NaN
140,Turks and Caicos Islands,TCA,0.672162,1.280415,1.904921,48.629474,76.340040,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.80,17.70,NaN,NaN,NaN
150,Aruba,ABW,0.609044,0.979243,1.607836,596.438889,1.934751,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.795441,35.90,21.80,NaN,NaN,NaN
157,Virgin Islands (U.S.),VIR,0.794278,1.153302,1.452013,299.762857,49.857140,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.654168,32.73,19.12,NaN,NaN,NaN
158,Puerto Rico (US),PRI,0.704030,1.014872,1.441518,361.194138,14.589658,Puerto Rico,Not covered,NaN,...,NaN,NaN,NaN,NaN,-0.389062,31.10,16.80,NaN,NaN,NaN
163,Sint Maarten (Dutch part),SXM,0.717343,0.995761,1.388123,1257.323529,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.20,20.60,NaN,NaN,NaN
187,"Hong Kong SAR, China",HKG,0.969656,0.932069,0.961236,7177.238095,0.376206,Hong Kong*,40,520.0,...,NaN,Hongkong,HKG,2048.0,1.554836,32.86,7.37,94.5,83.1,NaN
190,Faroe Islands,FRO,1.286274,1.189759,0.924966,39.736496,NaN,NaN,NaN,NaN,...,NaN,Färöer,FRO,29.0,NaN,15.00,-3.12,NaN,NaN,NaN
192,Greenland,GRL,1.048365,0.961394,0.917042,0.138543,5.351314,NaN,NaN,NaN,...,NaN,Grönland,GRL,56.0,0.763897,1.51,-40.71,NaN,NaN,NaN
201,Bermuda,BMU,2.489864,1.503672,0.603917,1198.111111,6.182571,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.201682,34.00,10.10,NaN,NaN,NaN
203,"Macao SAR, China",MAC,1.309079,0.737883,0.563666,20569.696970,0.560294,Macao,Not covered,535.0,...,NaN,NaN,NaN,NaN,1.08997,33.10,7.10,NaN,NaN,NaN
207,American Samoa,ASM,0.322892,NaN,NaN,237.605000,25.536011,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.654168,32.20,21.60,NaN,NaN,NaN
208,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Caribbean small states,CSS,0.361539,NaN,NaN,11.284814,31.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,Gibraltar,GIB,NaN,NaN,NaN,3847.100000,3.200205,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,31.80,6.00,NaN,NaN,NaN
212,Guam,GUM,0.749695,NaN,NaN,308.344444,4.326115,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.654168,32.57,22.13,NaN,NaN,NaN
213,Isle of Man,IMN,1.582943,NaN,NaN,147.657895,1.196272,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21.78,-2.10,NaN,NaN,NaN
214,Latin America & Caribbean,LCN,0.197933,NaN,NaN,32.586665,19.700000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,St. Martin (French part),MAF,0.388321,NaN,NaN,550.300000,26.899798,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.20,20.60,NaN,NaN,NaN
218,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,32.70,21.60,NaN,NaN,NaN
219,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30.48,14.38,NaN,NaN,NaN
221,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,29.54,18.46,NaN,NaN,NaN
222,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,32.40,18.80,NaN,NaN,NaN

In [497]:
religion=pd.read_csv("../data/religions_cleaned.csv", index_col=0)
religion

,Christian.1_numeric,Muslim.1_numeric,Irreligion.1_numeric,Hindu.1_numeric,Buddhist.1_numeric,Folk religion.1_numeric,Other religion.1_numeric,Jewish.1_numeric
Country,,,,,,,,
Angola,92.90,1.1,5.10,0.00,0.00,4.20,0.00,0.00000
Cameroon,59.70,20.2,5.30,0.00,0.00,3.30,2.70,0.00000
Central African Republic,89.50,15.0,1.00,0.00,0.00,1.00,0.00,0.00000
Chad,40.60,58.0,2.50,0.00,0.00,1.40,0.10,0.00000
DRC,95.80,1.9,1.80,0.05,0.00,0.70,0.10,0.00003
...,...,...,...,...,...,...,...,...
Tokelau,99.80,0.0,0.00,0.00,0.00,0.00,0.20,0.00000
Tonga,99.00,0.1,0.00,0.10,0.00,0.00,0.80,0.00000
Tuvalu,99.80,0.2,0.00,0.00,0.00,0.00,0.00,0.00000
Wallis and Futuna,97.40,0.0,0.60,0.00,0.00,1.20,0.80,0.00000
Total,96.13,0.2,2.87,0.01,0.03,0.27,0.51,0.00000

In [498]:
religion.reset_index(inplace=True)
religion

,Country,Christian.1_numeric,Muslim.1_numeric,Irreligion.1_numeric,Hindu.1_numeric,Buddhist.1_numeric,Folk religion.1_numeric,Other religion.1_numeric,Jewish.1_numeric
0,Angola,92.90,1.1,5.10,0.00,0.00,4.20,0.00,0.00000
1,Cameroon,59.70,20.2,5.30,0.00,0.00,3.30,2.70,0.00000
2,Central African Republic,89.50,15.0,1.00,0.00,0.00,1.00,0.00,0.00000
3,Chad,40.60,58.0,2.50,0.00,0.00,1.40,0.10,0.00000
4,DRC,95.80,1.9,1.80,0.05,0.00,0.70,0.10,0.00003
...,...,...,...,...,...,...,...,...,...
254,Tokelau,99.80,0.0,0.00,0.00,0.00,0.00,0.20,0.00000
255,Tonga,99.00,0.1,0.00,0.10,0.00,0.00,0.80,0.00000
256,Tuvalu,99.80,0.2,0.00,0.00,0.00,0.00,0.00,0.00000
257,Wallis and Futuna,97.40,0.0,0.60,0.00,0.00,1.20,0.80,0.00000
258,Total,96.13,0.2,2.87,0.01,0.03,0.27,0.51,0.00000

In [499]:
religion["Country"] = religion["Country"].str.replace(r"\[\d*\]", "", regex=True).str.replace(r"\d+", "", regex=True)
religion

,Country,Christian.1_numeric,Muslim.1_numeric,Irreligion.1_numeric,Hindu.1_numeric,Buddhist.1_numeric,Folk religion.1_numeric,Other religion.1_numeric,Jewish.1_numeric
0,Angola,92.90,1.1,5.10,0.00,0.00,4.20,0.00,0.00000
1,Cameroon,59.70,20.2,5.30,0.00,0.00,3.30,2.70,0.00000
2,Central African Republic,89.50,15.0,1.00,0.00,0.00,1.00,0.00,0.00000
3,Chad,40.60,58.0,2.50,0.00,0.00,1.40,0.10,0.00000
4,DRC,95.80,1.9,1.80,0.05,0.00,0.70,0.10,0.00003
...,...,...,...,...,...,...,...,...,...
254,Tokelau,99.80,0.0,0.00,0.00,0.00,0.00,0.20,0.00000
255,Tonga,99.00,0.1,0.00,0.10,0.00,0.00,0.80,0.00000
256,Tuvalu,99.80,0.2,0.00,0.00,0.00,0.00,0.00,0.00000
257,Wallis and Futuna,97.40,0.0,0.60,0.00,0.00,1.20,0.80,0.00000
258,Total,96.13,0.2,2.87,0.01,0.03,0.27,0.51,0.00000

In [500]:
religion["Country"].unique().tolist()

['Angola',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'DRC',
 'Republic of the Congo',
 'Equatorial Guinea',
 'Gabon',
 'São Tome and Príncipe',
 'Central Africa',
 'Burundi',
 'Comoros',
 'Djibouti',
 'Eritrea',
 'Ethiopia',
 'Kenya',
 'Madagascar',
 'Malawi',
 'Mauritius',
 'Mayotte',
 'Mozambique',
 'Reunion',
 'Rwanda',
 'Seychelles',
 'Somalia',
 'South Sudan',
 'Tanzania',
 'Uganda',
 'Zambia',
 'Zimbabwe',
 'Eastern Africa',
 'Algeria',
 'Egypt',
 'Libya',
 'Morocco',
 'Sudan',
 'Tunisia',
 'Northern Africa',
 'Botswana',
 'Eswatini',
 'Lesotho',
 'Namibia',
 'South Africa',
 'Southern Africa',
 'Benin',
 'Burkina Faso',
 'Cape Verde',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea Bissau',
 'Ivory Coast',
 'Liberia',
 'Mali',
 'Mauritania',
 'Niger',
 'Nigeria',
 'Senegal',
 'Sierra Leone',
 'Saint Helena',
 'Togo',
 'Western Africa',
 'Anguilla',
 'Antigua and Barbuda',
 'Aruba',
 'Bahamas',
 'Barbados',
 'Bonaire',
 'Cayman Islands',
 'Cuba',
 'Curaçao',
 'Dominica',
 'Dominican Republic',
 'Grenada',
 'Guadeloupe',
 'Haiti',
 'Jamaica',
 'Martinique',
 'Montserrat',
 'Puerto Rico',
 'Saba',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Sint Eustatius',
 'Sint Maarten',
 'Trinidad and Tobago',
 'Turks and Caicos Islands',
 'British Virgin Islands',
 'U.S. Virgin Islands',
 'Total',
 'Belize',
 'Costa Rica',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Nicaragua',
 'Panama',
 'Bermuda',
 'Canada',
 'Greenland',
 'Mexico',
 'Saint Pierre and Miquelon',
 'United States',
 'Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Ecuador',
 'Falkland Islands',
 'French Guiana',
 'Guyana',
 'Paraguay',
 'Peru',
 'Suriname',
 'Uruguay',
 'Venezuela',
 'China',
 'Hong Kong',
 'Macau',
 'Taiwan',
 'Japan',
 'North Korea',
 'South Korea',
 'Mongolia',
 'Brunei',
 'Cambodia',
 'Indonesia',
 'Laos',
 'Malaysia',
 'Myanmar',
 'Philippines',
 'Singapore',
 'Thailand',
 'Timor-Leste',
 'Vietnam',
 'Afghanistan',
 'Bangladesh',
 'Bhutan',
 'India',
 'Maldives',
 'Nepal',
 'Pakistan',
 'Sri Lanka',
 'Kazakhstan',
 'Kyrgyzstan',
 'Tajikistan',
 'Turkmenistan',
 'Uzbekistan',
 'Armenia',
 'Azerbaijan',
 'Bahrain',
 'Cyprus',
 'Iran',
 'Iraq',
 'Israel',
 'Jordan',
 'Kuwait',
 'Lebanon',
 'Oman',
 'Palestine',
 'Qatar',
 'Saudi Arabia',
 'Syria',
 'Turkey',
 'UAE',
 'Yemen',
 'Austria',
 'Czech Republic',
 'Germany',
 'Hungary',
 'Liechtenstein',
 'Poland',
 'Slovakia',
 'Belarus',
 'Georgia',
 'Russia',
 'Ukraine',
 'Denmark',
 'Faroe Islands',
 'Estonia*',
 'Finland',
 'Iceland',
 'Latvia',
 'Lithuania',
 'Norway',
 'Sweden',
 '* Only includes the population of religious affiliation for  years old or above.',
 'Albania',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Greece',
 'Kosovo',
 'Moldova',
 'Montenegro',
 'North Macedonia',
 'Romania',
 'Serbia',
 'Slovenia',
 'Andorra',
 'Gibraltar',
 'Italy',
 'Malta',
 'Portugal',
 'San Marino',
 'Spain',
 'Vatican City',
 'Belgium',
 'France',
 'Switzerland',
 'Ireland',
 'Isle of Man',
 'Luxembourg',
 'Monaco',
 'Netherlands',
 'United Kingdom',
 'Australia',
 'New Zealand',
 'Fiji',
 'New Caledonia',
 'Papua New Guinea',
 'Solomon Islands',
 'Vanuatu',
 'Guam',
 'Kiribati',
 'Marshall Islands',
 'Micronesia',
 'Nauru',
 'Northern Mariana Islands',
 'Palau',
 'American Samoa',
 'Cook Islands',
 'French Polynesia',
 'Niue',
 'Samoa',
 'Tokelau',
 'Tonga',
 'Tuvalu',
 'Wallis and Futuna']

In [501]:
overrides = {
    "DRC": "COD",
    "Republic of the Congo": "COG",
    "São Tome and Príncipe": "STP",
    "Reunion": "REU",
    "Cape Verde": "CPV",
    "Ivory Coast": "CIV",
    "Guinea Bissau": "GNB",
    "Curaçao": "CUW",
    "Sint Maarten": "SXM",
    "Sint Eustatius": "BES",
    "Bonaire": "BES",
    "Saba": "BES",
    "Saint Kitts and Nevis": "KNA",
    "Saint Lucia": "LCA",
    "Saint Vincent and the Grenadines": "VCT",
    "Turks and Caicos Islands": "TCA",
    "British Virgin Islands": "VGB",
    "U.S. Virgin Islands": "VIR",
    "Saint Pierre and Miquelon": "SPM",
    "Hong Kong": "HKG",
    "Macau": "MAC",
    "Taiwan": "TWN",
    "North Korea": "PRK",
    "South Korea": "KOR",
    "Timor-Leste": "TLS",
    "UAE": "ARE",
    "Eswatini": "SWZ",
    "Faroe Islands": "FRO",
    "Estonia*": "EST",
    "Central Africa": None,
    "Eastern Africa": None,
    "Northern Africa": None,
    "Southern Africa": None,
    "Western Africa": None,
    "Total": None,
    "* Only includes the population of religious affiliation for  years old or above.": None,
    "Russia":"RUS",
    "Turkey":"TUR",
    "Palestine":"PSE",
    "Kosovo":"XKX",
    "Brunei":"BRN",
}

country_to_iso3 = {}
for name in religion["Country"].unique().tolist():
    lookup_name = name
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(lookup_name).alpha_3
        except LookupError:
            country_to_iso3[name] = None

In [502]:
religion["Country Code"] = religion["Country"].map(country_to_iso3)
religion

,Country,Christian.1_numeric,Muslim.1_numeric,Irreligion.1_numeric,Hindu.1_numeric,Buddhist.1_numeric,Folk religion.1_numeric,Other religion.1_numeric,Jewish.1_numeric,Country Code
0,Angola,92.90,1.1,5.10,0.00,0.00,4.20,0.00,0.00000,AGO
1,Cameroon,59.70,20.2,5.30,0.00,0.00,3.30,2.70,0.00000,CMR
2,Central African Republic,89.50,15.0,1.00,0.00,0.00,1.00,0.00,0.00000,CAF
3,Chad,40.60,58.0,2.50,0.00,0.00,1.40,0.10,0.00000,TCD
4,DRC,95.80,1.9,1.80,0.05,0.00,0.70,0.10,0.00003,COD
...,...,...,...,...,...,...,...,...,...,...
254,Tokelau,99.80,0.0,0.00,0.00,0.00,0.00,0.20,0.00000,TKL
255,Tonga,99.00,0.1,0.00,0.10,0.00,0.00,0.80,0.00000,TON
256,Tuvalu,99.80,0.2,0.00,0.00,0.00,0.00,0.00,0.00000,TUV
257,Wallis and Futuna,97.40,0.0,0.60,0.00,0.00,1.20,0.80,0.00000,WLF
258,Total,96.13,0.2,2.87,0.01,0.03,0.27,0.51,0.00000,None

In [503]:
religion[religion["Country"].str.contains("Portugal")]

,Country,Christian.1_numeric,Muslim.1_numeric,Irreligion.1_numeric,Hindu.1_numeric,Buddhist.1_numeric,Folk religion.1_numeric,Other religion.1_numeric,Jewish.1_numeric,Country Code
217,Portugal,84.77,0.42,14.09,0.22,0.19,NaN,0.28,0.03,PRT

In [504]:
religion.columns=religion.columns.str.replace(".1_numeric","_%")
religion

,Country,Christian_%,Muslim_%,Irreligion_%,Hindu_%,Buddhist_%,Folk religion_%,Other religion_%,Jewish_%,Country Code
0,Angola,92.90,1.1,5.10,0.00,0.00,4.20,0.00,0.00000,AGO
1,Cameroon,59.70,20.2,5.30,0.00,0.00,3.30,2.70,0.00000,CMR
2,Central African Republic,89.50,15.0,1.00,0.00,0.00,1.00,0.00,0.00000,CAF
3,Chad,40.60,58.0,2.50,0.00,0.00,1.40,0.10,0.00000,TCD
4,DRC,95.80,1.9,1.80,0.05,0.00,0.70,0.10,0.00003,COD
...,...,...,...,...,...,...,...,...,...,...
254,Tokelau,99.80,0.0,0.00,0.00,0.00,0.00,0.20,0.00000,TKL
255,Tonga,99.00,0.1,0.00,0.10,0.00,0.00,0.80,0.00000,TON
256,Tuvalu,99.80,0.2,0.00,0.00,0.00,0.00,0.00,0.00000,TUV
257,Wallis and Futuna,97.40,0.0,0.60,0.00,0.00,1.20,0.80,0.00000,WLF
258,Total,96.13,0.2,2.87,0.01,0.03,0.27,0.51,0.00000,None

In [505]:
religion.columns

Index(['Country', 'Christian_%', 'Muslim_%', 'Irreligion_%', 'Hindu_%',
       'Buddhist_%', 'Folk religion_%', 'Other religion_%', 'Jewish_%',
       'Country Code'],
      dtype='object')

In [506]:
religion_red=religion[['Country Code', 'Christian_%', 'Muslim_%', 'Irreligion_%', 'Hindu_%',
       'Buddhist_%', 'Folk religion_%', 'Other religion_%', 'Jewish_%',,
       ]]
religion_red=religion_red.dropna(subset=["Country Code"]).drop_duplicates(subset=["Country Code"])
religion_red

SyntaxError: invalid syntax (2278878727.py, line 2)

In [507]:
df_general_religion=pd.merge(df_general_costofliving,religion, on="Country Code", how="left")
df_general_religion

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,CostofLiving,Country,Christian_%,Muslim_%,Irreligion_%,Hindu_%,Buddhist_%,Folk religion_%,Other religion_%,Jewish_%
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,...,738,Burundi,93.40,2.1,0.0,0.0,0.0,5.7,0.0,0.0
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,...,523,Central African Republic,89.50,15.0,1.0,0.0,0.0,1.0,0.0,0.0
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,...,534,Yemen,0.20,99.1,0.1,0.6,0.0,0.0,0.0,0.0
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,...,679,Somalia,0.01,99.8,0.0,0.0,0.0,0.0,0.0,0.0
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,...,520,South Sudan,60.50,6.2,0.5,0.0,0.0,32.9,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,NaN,Northern Mariana Islands,81.30,0.7,1.0,0.0,10.6,5.3,1.1,0.0
219,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,NaN,New Caledonia,85.20,2.8,10.4,0.0,0.6,0.2,0.8,0.0
220,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,...,1597,North Korea,2.00,0.0,71.3,0.0,1.5,12.3,12.9,0.0
221,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,NaN,French Polynesia,94.00,0.1,4.8,0.0,0.0,0.5,0.4,0.0
222,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,NaN,British Virgin Islands,84.50,1.2,3.9,1.2,0.0,8.4,0.8,0.0

In [508]:
df_general_religion[df_general_religion["Christian_%"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,CostofLiving,Country,Christian_%,Muslim_%,Irreligion_%,Hindu_%,Buddhist_%,Folk religion_%,Other religion_%,Jewish_%
33,"Micronesia, Fed. Sts.",FSM,0.074659,1.24197,16.635175,160.900000,0.906766,Micronesia,92,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Caribbean small states,CSS,0.361539,NaN,NaN,11.284814,31.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,Latin America & Caribbean,LCN,0.197933,NaN,NaN,32.586665,19.700000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,St. Martin (French part),MAF,0.388321,NaN,NaN,550.300000,26.899798,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [509]:
alcohol_ban=pd.read_csv("../data/Alcohol_ban.csv", index_col=0)
alcohol_ban

Empty DataFrame
Columns: []
Index: [Afghanistan, Djibouti, Iran, Iraq, Kuwait, Libya, Mauritania, Saudi Arabia, Somalia, Yemen]

In [510]:
alcohol_ban["ban"]=1
alcohol_ban.reset_index(inplace=True)
alcohol_ban

           Name  ban
0   Afghanistan    1
1      Djibouti    1
2          Iran    1
3          Iraq    1
4        Kuwait    1
5         Libya    1
6    Mauritania    1
7  Saudi Arabia    1
8       Somalia    1
9         Yemen    1

In [511]:
country_to_iso3 = {}
for name in alcohol_ban.Name.tolist():
    lookup_name = name.replace("*", "").strip()
    if name in overrides:
        country_to_iso3[name] = overrides[name]
    else:
        try:
            country_to_iso3[name] = pycountry.countries.lookup(lookup_name).alpha_3
        except LookupError:
            country_to_iso3[name] = None
country_to_iso3

{'Afghanistan': 'AFG',
 'Djibouti': 'DJI',
 'Iran': 'IRN',
 'Iraq': 'IRQ',
 'Kuwait': 'KWT',
 'Libya': 'LBY',
 'Mauritania': 'MRT',
 'Saudi Arabia': 'SAU',
 'Somalia': 'SOM',
 'Yemen': 'YEM'}

In [512]:
alcohol_ban["Country Code"] = alcohol_ban["Name"].map(country_to_iso3)
alcohol_ban

           Name  ban Country Code
0   Afghanistan    1          AFG
1      Djibouti    1          DJI
2          Iran    1          IRN
3          Iraq    1          IRQ
4        Kuwait    1          KWT
5         Libya    1          LBY
6    Mauritania    1          MRT
7  Saudi Arabia    1          SAU
8       Somalia    1          SOM
9         Yemen    1          YEM

In [513]:
alcohol_ban_red=alcohol_ban[["Country Code","ban"]]
alcohol_ban_red

  Country Code  ban
0          AFG    1
1          DJI    1
2          IRN    1
3          IRQ    1
4          KWT    1
5          LBY    1
6          MRT    1
7          SAU    1
8          SOM    1
9          YEM    1

In [514]:
df_general_alcohol_ban=pd.merge(df_general_religion,alcohol_ban_red,on="Country Code",how="left")
df_general_alcohol_ban

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,Country,Christian_%,Muslim_%,Irreligion_%,Hindu_%,Buddhist_%,Folk religion_%,Other religion_%,Jewish_%,ban
0,Burundi,BDI,0.002759,0.209981,76.118642,533.078271,5.649742,Burundi,15,NaN,...,Burundi,93.40,2.1,0.0,0.0,0.0,5.7,0.0,0.0,NaN
1,Central African Republic,CAF,0.009250,0.529283,57.217771,8.270604,20.120401,Central African Republic,5,NaN,...,Central African Republic,89.50,15.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN
2,"Yemen, Rep.",YEM,0.011360,0.564557,49.697205,74.608025,5.809719,Yemen,10,NaN,...,Yemen,0.20,99.1,0.1,0.6,0.0,0.0,0.0,0.0,1.0
3,"Somalia, Fed. Rep.",SOM,0.011415,0.515590,45.166019,29.264219,NaN,Somalia,8,NaN,...,Somalia,0.01,99.8,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,South Sudan,SSD,0.019357,0.863409,44.603581,18.171908,13.982581,South Sudan,1,NaN,...,South Sudan,60.50,6.2,0.5,0.0,0.0,32.9,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,Northern Mariana Islands,81.30,0.7,1.0,0.0,10.6,5.3,1.1,0.0,NaN
219,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,New Caledonia,85.20,2.8,10.4,0.0,0.6,0.2,0.8,0.0,NaN
220,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,219.402076,NaN,North Korea,3,NaN,...,North Korea,2.00,0.0,71.3,0.0,1.5,12.3,12.9,0.0,NaN
221,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,French Polynesia,94.00,0.1,4.8,0.0,0.0,0.5,0.4,0.0,NaN
222,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,British Virgin Islands,84.50,1.2,3.9,1.2,0.0,8.4,0.8,0.0,NaN

In [519]:
lgbtq=pd.read_csv("../data/lgbt-legal-equality-index.csv")
lgbtq.rename(columns={"Legal equality index":"LGBTQ"},inplace=True)

In [521]:
df_general_lgbtq=pd.merge(df_general_alcohol_ban,lgbtq[["Code","LGBTQ"]],left_on="Country Code",right_on="Code",how="left")
df_general_lgbtq[df_general_lgbtq["LGBTQ"].isna()]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,Muslim_%,Irreligion_%,Hindu_%,Buddhist_%,Folk religion_%,Other religion_%,Jewish_%,ban,Code,LGBTQ
34,West Bank and Gaza,PSE,0.046457,0.768418,16.540444,857.390041,0.622023,Palestine,Not covered,361.0,...,97.6,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN
35,West Bank and Gaza,PSE,0.046457,0.768418,16.540444,857.390041,0.622023,Palestine,Not covered,361.0,...,97.6,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN
98,Kosovo,XKX,0.130814,0.507945,3.882964,NaN,1.894977,Kosovo,60,351.0,...,87.0,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Kosovo,XKX,0.130814,0.507945,3.882964,NaN,1.894977,Kosovo,60,351.0,...,87.0,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Kosovo,XKX,0.130814,0.507945,3.882964,NaN,1.894977,Kosovo,60,351.0,...,87.0,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,Curacao,CUW,0.377449,0.888462,2.353859,350.900901,16.919813,NaN,NaN,NaN,...,NaN,10.0,NaN,NaN,NaN,4.4,NaN,NaN,NaN,NaN
140,Turks and Caicos Islands,TCA,0.672162,1.280415,1.904921,48.629474,76.340040,NaN,NaN,NaN,...,0.0,4.6,0.00,0.0,2.7,0.6,0.0,NaN,NaN,NaN
150,Aruba,ABW,0.609044,0.979243,1.607836,596.438889,1.934751,NaN,NaN,NaN,...,0.2,6.0,0.00,0.1,1.3,0.1,0.4,NaN,NaN,NaN
157,Virgin Islands (U.S.),VIR,0.794278,1.153302,1.452013,299.762857,49.857140,NaN,NaN,NaN,...,0.1,3.7,0.00,0.0,0.0,0.6,0.3,NaN,NaN,NaN
158,Puerto Rico (US),PRI,0.704030,1.014872,1.441518,361.194138,14.589658,Puerto Rico,Not covered,NaN,...,0.0,8.0,0.00,0.0,0.0,3.0,0.0,NaN,NaN,NaN
163,Sint Maarten (Dutch part),SXM,0.717343,0.995761,1.388123,1257.323529,NaN,NaN,NaN,NaN,...,NaN,7.9,5.20,NaN,NaN,4.8,NaN,NaN,NaN,NaN
187,"Hong Kong SAR, China",HKG,0.969656,0.932069,0.961236,7177.238095,0.376206,Hong Kong*,40,520.0,...,1.8,56.1,0.53,13.2,12.8,1.5,0.0,NaN,NaN,NaN
190,Faroe Islands,FRO,1.286274,1.189759,0.924966,39.736496,NaN,NaN,NaN,NaN,...,0.0,1.7,NaN,0.0,NaN,0.3,0.0,NaN,NaN,NaN
197,Cayman Islands,CYM,1.751776,1.461008,0.834015,304.325000,4.367798,NaN,NaN,NaN,...,0.4,9.4,0.90,0.0,4.5,0.6,0.8,NaN,NaN,NaN
201,Bermuda,BMU,2.489864,1.503672,0.603917,1198.111111,6.182571,NaN,NaN,NaN,...,1.1,19.4,0.00,0.5,3.0,0.8,0.3,NaN,NaN,NaN
203,"Macao SAR, China",MAC,1.309079,0.737883,0.563666,20569.696970,0.560294,Macao,Not covered,535.0,...,0.2,15.4,0.04,17.3,58.9,1.0,0.0,NaN,NaN,NaN
207,American Samoa,ASM,0.322892,NaN,NaN,237.605000,25.536011,NaN,NaN,NaN,...,0.1,0.7,0.00,0.3,0.4,0.3,0.0,NaN,NaN,NaN
208,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Caribbean small states,CSS,0.361539,NaN,NaN,11.284814,31.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,Gibraltar,GIB,NaN,NaN,NaN,3847.100000,3.200205,NaN,NaN,NaN,...,4.0,2.9,1.80,0.0,0.0,0.3,2.1,NaN,NaN,NaN
212,Guam,GUM,0.749695,NaN,NaN,308.344444,4.326115,NaN,NaN,NaN,...,0.1,1.6,0.00,1.1,1.5,1.6,0.0,NaN,NaN,NaN
213,Isle of Man,IMN,1.582943,NaN,NaN,147.657895,1.196272,NaN,NaN,NaN,...,0.5,38.8,0.30,0.5,NaN,0.0,0.1,NaN,NaN,NaN
214,Latin America & Caribbean,LCN,0.197933,NaN,NaN,32.586665,19.700000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,St. Martin (French part),MAF,0.388321,NaN,NaN,550.300000,26.899798,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,Northern Mariana Islands,MNP,0.426266,NaN,NaN,98.136957,NaN,NaN,NaN,NaN,...,0.7,1.0,0.00,10.6,5.3,1.1,0.0,NaN,NaN,NaN
219,New Caledonia,NCL,0.600649,NaN,NaN,15.857221,3.109821,NaN,NaN,NaN,...,2.8,10.4,0.00,0.6,0.2,0.8,0.0,NaN,NaN,NaN
221,French Polynesia,PYF,0.408137,NaN,NaN,80.990493,0.371083,NaN,NaN,NaN,...,0.1,4.8,0.00,0.0,0.5,0.4,0.0,NaN,NaN,NaN
222,British Virgin Islands,VGB,NaN,NaN,NaN,259.900000,8.165598,NaN,NaN,NaN,...,1.2,3.9,1.20,0.0,8.4,0.8,0.0,NaN,NaN,NaN

In [524]:
df_general_lgbtq.rename(columns={"max":"MaxTemperature","min":"MinTemperature"},inplace=True)

In [525]:
df_general_lgbtq.to_csv("../data/all_measures_v3.csv")

In [523]:
df_general_lgbtq[df_general_lgbtq["gdp_rel_ger"]>1]

,Country Name,Country Code,gdp_rel_ger,ppp_rel_ger,cost_to_gdp,popdensity,homicides,Country or Territory,FreedomScore,PISA Score,...,Muslim_%,Irreligion_%,Hindu_%,Buddhist_%,Folk religion_%,Other religion_%,Jewish_%,ban,Code,LGBTQ
180,Sweden,SWE,1.034462,1.052953,1.017875,25.871368,1.146757,Sweden,99,488.0,...,2.30,36.00,NaN,0.10,NaN,0.10,0.08,NaN,SWE,80.46
181,Australia,AUS,1.154251,1.172198,1.015548,3.464991,0.854406,Australia,95,497.0,...,3.20,38.90,2.70,2.40,1.3,0.80,0.40,NaN,AUS,87.73
183,Austria,AUT,1.018512,1.028214,1.009526,110.661185,0.876191,Austria,93,486.0,...,8.30,22.40,0.00,0.20,NaN,0.10,0.00,NaN,AUT,90.68
184,Belgium,BEL,1.002767,1.005188,1.002414,386.548928,1.080302,Belgium,96,486.0,...,5.90,29.00,0.00,0.20,NaN,0.00,0.30,NaN,BEL,86.43
190,Faroe Islands,FRO,1.286274,1.189759,0.924966,39.736496,NaN,NaN,NaN,NaN,...,0.00,1.70,NaN,0.00,NaN,0.30,0.00,NaN,NaN,NaN
191,Iceland,ISL,1.482142,1.369292,0.923860,3.901111,1.290131,Iceland,95,447.0,...,0.35,8.13,NaN,0.42,NaN,14.73,NaN,NaN,ISL,97.62
192,Greenland,GRL,1.048365,0.961394,0.917042,0.138543,5.351314,NaN,NaN,NaN,...,0.00,2.50,0.00,0.00,0.8,0.60,0.00,NaN,GRL,90.75
193,Denmark,DNK,1.287661,1.170834,0.909272,148.673800,0.840599,Denmark,97,491.0,...,4.40,19.10,NaN,NaN,NaN,0.70,NaN,NaN,DNK,92.86
195,Netherlands,NLD,1.222553,1.049541,0.858483,530.950906,0.690893,Netherlands,97,480.0,...,4.60,57.50,NaN,NaN,NaN,2.10,NaN,NaN,NLD,90.46
196,United States,USA,1.537806,1.295696,0.842562,36.819806,5.763408,United States,84,489.0,...,0.90,16.40,0.60,1.20,0.2,0.60,1.80,NaN,USA,79.63
197,Cayman Islands,CYM,1.751776,1.461008,0.834015,304.325000,4.367798,NaN,NaN,NaN,...,0.40,9.40,0.90,0.00,4.5,0.60,0.80,NaN,NaN,NaN
199,Switzerland,CHE,1.857876,1.431747,0.770637,224.960168,0.597482,Switzerland,96,498.0,...,5.50,31.90,0.40,0.40,NaN,0.10,0.30,NaN,CHE,75.91
200,Norway,NOR,1.555724,1.113305,0.715619,15.152480,0.724747,Norway,99,474.0,...,3.41,20.17,NaN,0.40,NaN,5.21,0.01,NaN,NOR,86.82
201,Bermuda,BMU,2.489864,1.503672,0.603917,1198.111111,6.182571,NaN,NaN,NaN,...,1.10,19.40,0.00,0.50,3.0,0.80,0.30,NaN,NaN,NaN
202,Qatar,QAT,1.366946,0.783683,0.573309,231.160313,0.069145,Qatar,25,422.0,...,65.50,0.90,15.10,3.10,0.0,0.70,0.00,NaN,QAT,4.39
203,"Macao SAR, China",MAC,1.309079,0.737883,0.563666,20569.696970,0.560294,Macao,Not covered,535.0,...,0.20,15.40,0.04,17.30,58.9,1.00,0.00,NaN,NaN,NaN
204,Ireland,IRL,1.923224,1.060028,0.551173,77.044564,0.654270,Ireland,97,504.0,...,1.60,14.80,0.70,0.20,NaN,0.40,NaN,NaN,IRL,85.00
205,Singapore,SGP,1.624977,0.779657,0.479796,8241.849582,0.069095,Singapore,48,560.0,...,15.60,20.00,5.00,31.10,0.0,9.40,0.04,NaN,SGP,44.29
206,Luxembourg,LUX,2.464445,1.181780,0.479532,258.862053,1.530661,Luxembourg,97,NaN,...,2.30,26.80,0.00,0.00,NaN,0.30,0.10,NaN,LUX,80.80
208,Channel Islands,CHI,1.336718,NaN,NaN,842.126263,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,Isle of Man,IMN,1.582943,NaN,NaN,147.657895,1.196272,NaN,NaN,NaN,...,0.50,38.80,0.30,0.50,NaN,0.00,0.10,NaN,NaN,NaN
215,Liechtenstein,LIE,3.727111,NaN,NaN,249.062500,5.122426,Liechtenstein,90,NaN,...,5.00,2.90,NaN,NaN,NaN,NaN,NaN,NaN,LIE,68.57
217,Monaco,MCO,4.598199,NaN,NaN,18692.898273,3.081949,Monaco,82,NaN,...,0.40,11.70,0.00,0.00,NaN,0.20,1.70,NaN,MCO,54.60

In [ ]:
# Calculate average sunshine hours from countries with available data
# First, let's see what variables we have and find the final dataframe
print("Available dataframes with sunshine data:")
for var_name in ['df_general_sunshine', 'df_general_timezones', 'df_general_cuisine', 'df_check_sunshine']:
    if var_name in locals():
        df = locals()[var_name]
        if 'SunshineHours_per_year' in df.columns:
            non_na_count = df['SunshineHours_per_year'].notna().sum()
            print(f"{var_name}: {non_na_count} countries with sunshine data")
    else:
        print(f"{var_name}: Not found")

In [252]:
# Get list of countries missing sunshine data for internet search
countries_to_search = missing_sunshine_data["Country Name"].tolist()
print(f"Countries needing sunshine data lookup: {len(countries_to_search)}")
print("First 20 countries:", countries_to_search[:20])

Countries needing sunshine data lookup: 79
First 20 countries: ['Yemen, Rep.', 'Liberia', 'Lesotho', 'Haiti', 'Sierra Leone', 'Vanuatu', 'Kiribati', 'Rwanda', 'Comoros', 'Micronesia, Fed. Sts.', 'West Bank and Gaza', 'Syrian Arab Republic', 'Timor-Leste', 'Tajikistan', 'Nepal', 'Myanmar', 'Tuvalu', 'Sao Tome and Principe', 'Samoa', 'Tonga']