In [40]:
import pandas as pd
import glob
import geopandas as gpd

In [41]:
files_Vergleichszeitraum=glob.glob('../data/Vergleichszeitraum/*')
files_Vergleichszeitraum

['../data/Vergleichszeitraum/DL_FIRE_M-C61_627924',
 '../data/Vergleichszeitraum/DL_FIRE_J1V-C2_627926',
 '../data/Vergleichszeitraum/DL_FIRE_SV-C2_627928',
 '../data/Vergleichszeitraum/DL_FIRE_J2V-C2_627927']

In [42]:
files_Vergleichszeitraum2=glob.glob('../data/Vergleichszeitraum2/*')
files_Vergleichszeitraum2

['../data/Vergleichszeitraum2/DL_FIRE_SV-C2_627933',
 '../data/Vergleichszeitraum2/DL_FIRE_M-C61_627929',
 '../data/Vergleichszeitraum2/DL_FIRE_J1V-C2_627931',
 '../data/Vergleichszeitraum2/DL_FIRE_J2V-C2_627932']

In [43]:
def read_shapefile(folderpath):
    shapefile=glob.glob(folderpath+"/*.shp")
    current_file=gpd.read_file(shapefile[0])
    return current_file

In [44]:
base_file=read_shapefile(files_Vergleichszeitraum[0])
base_file

,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,INSTRUMENT,CONFIDENCE,VERSION,BRIGHT_T31,FRP,DAYNIGHT,geometry
0,38.40567,48.48072,314.98,1.00,1.00,2025-06-03,0635,Terra,MODIS,43,6.1NRT,302.12,6.10,D,POINT (48.48072 38.40567)
1,35.71507,53.36302,321.29,1.68,1.27,2025-06-03,0635,Terra,MODIS,31,6.1NRT,306.56,14.13,D,POINT (53.36302 35.71507)
2,36.29218,49.86641,322.41,1.09,1.04,2025-06-03,0635,Terra,MODIS,41,6.1NRT,307.73,7.07,D,POINT (49.86641 36.29218)
3,36.17461,50.01657,319.99,1.11,1.05,2025-06-03,0635,Terra,MODIS,35,6.1NRT,307.47,6.59,D,POINT (50.01657 36.17461)
4,36.12842,50.18010,325.34,1.13,1.06,2025-06-03,0635,Terra,MODIS,51,6.1NRT,310.58,10.60,D,POINT (50.1801 36.12842)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,30.39663,49.87192,312.40,1.26,1.12,2025-06-12,2329,Aqua,MODIS,83,6.1NRT,301.17,10.76,N,POINT (49.87192 30.39663)
1374,30.16243,50.42548,318.30,1.18,1.08,2025-06-12,2329,Aqua,MODIS,96,6.1NRT,303.83,14.54,N,POINT (50.42548 30.16243)
1375,30.12580,50.33282,313.77,1.19,1.09,2025-06-12,2329,Aqua,MODIS,87,6.1NRT,298.44,13.10,N,POINT (50.33282 30.1258)
1376,30.12428,50.34484,311.92,1.19,1.08,2025-06-12,2329,Aqua,MODIS,83,6.1NRT,298.81,10.99,N,POINT (50.34484 30.12428)
1377,30.04180,50.63966,313.92,1.15,1.07,2025-06-12,2329,Aqua,MODIS,88,6.1NRT,302.48,9.85,N,POINT (50.63966 30.0418)

In [45]:
aggregated_file=base_file.copy()
for file in files_Vergleichszeitraum [1:]:
    aggregated_file = gpd.GeoDataFrame(pd.concat([aggregated_file, read_shapefile(file)], ignore_index=True))
aggregated_file["CONFIDENCE"]=pd.to_numeric(aggregated_file["CONFIDENCE"], errors='coerce')
aggregated_file["CONFIDENCE"].fillna(0, inplace=True)
sureish_fires_vergleichszeitraum=aggregated_file[aggregated_file["CONFIDENCE"]>95]
sureish_fires_vergleichszeitraum

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_84310/1243079686.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  aggregated_file["CONFIDENCE"].fillna(0, inplace=True)

,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,INSTRUMENT,CONFIDENCE,VERSION,BRIGHT_T31,FRP,DAYNIGHT,geometry
17,30.75073,48.27572,353.93,1.10,1.05,2025-06-03,0637,Terra,MODIS,96.0,6.1NRT,317.43,61.78,D,POINT (48.27572 30.75073)
56,30.66129,48.53614,354.77,1.13,1.06,2025-06-03,0637,Terra,MODIS,97.0,6.1NRT,303.61,79.01,D,POINT (48.53614 30.66129)
93,29.99588,50.73802,326.49,1.05,1.02,2025-06-03,1734,Terra,MODIS,100.0,6.1NRT,302.41,20.89,N,POINT (50.73802 29.99588)
95,30.08862,50.55424,326.75,1.06,1.03,2025-06-03,1734,Terra,MODIS,100.0,6.1NRT,303.33,21.06,N,POINT (50.55424 30.08862)
96,30.08696,50.54344,328.48,1.06,1.03,2025-06-03,1734,Terra,MODIS,100.0,6.1NRT,303.52,23.24,N,POINT (50.54344 30.08696)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356,31.13589,49.31969,319.18,1.39,1.17,2025-06-12,2329,Aqua,MODIS,98.0,6.1NRT,299.23,23.09,N,POINT (49.31969 31.13589)
1365,30.75511,48.27824,318.57,1.59,1.24,2025-06-12,2329,Aqua,MODIS,97.0,6.1NRT,297.64,29.18,N,POINT (48.27824 30.75511)
1369,30.40309,50.61848,328.94,1.16,1.07,2025-06-12,2329,Aqua,MODIS,100.0,6.1NRT,300.37,31.22,N,POINT (50.61848 30.40309)
1370,30.40156,50.63026,318.45,1.16,1.07,2025-06-12,2329,Aqua,MODIS,97.0,6.1NRT,299.42,16.98,N,POINT (50.63026 30.40156)
1374,30.16243,50.42548,318.30,1.18,1.08,2025-06-12,2329,Aqua,MODIS,96.0,6.1NRT,303.83,14.54,N,POINT (50.42548 30.16243)

In [46]:
from sklearn.cluster import DBSCAN
import numpy as np

# Project to a metric CRS (meters)
gdf_metric = sureish_fires_vergleichszeitraum.to_crs(epsg=3857)

# Extract coordinates
coords = np.array(list(zip(gdf_metric.geometry.x, gdf_metric.geometry.y)))

# DBSCAN clustering with 1km (1000 meters) epsilon
db = DBSCAN(eps=2000, min_samples=1).fit(coords)
gdf_metric['cluster'] = db.labels_

# Get representative point for each cluster (e.g., centroid)
clustered = gdf_metric.dissolve(by='cluster').centroid

# Convert back to original CRS
clustered_gdf = gpd.GeoDataFrame(geometry=clustered, crs=gdf_metric.crs).to_crs(sureish_fires_vergleichszeitraum.crs)

print(clustered_gdf)

                          geometry
cluster
0        POINT (48.28225 30.75176)
1        POINT (48.53614 30.66129)
2        POINT (50.73802 29.99588)
3        POINT (50.54884 30.08779)
4        POINT (52.24862 27.68502)
5        POINT (52.17027 27.76176)
6        POINT (50.17599 30.24339)
7        POINT (50.62019 30.39836)
8        POINT (50.55024 30.42169)
9        POINT (49.86109 30.39077)
10        POINT (49.97788 30.4517)
11       POINT (49.82226 30.72186)
12        POINT (49.67749 30.8997)
13       POINT (48.48979 30.95888)
14       POINT (48.11629 31.27224)
15       POINT (47.70934 32.35633)
16       POINT (51.42965 32.24198)
17       POINT (49.32163 31.13407)
18       POINT (48.29276 31.02719)
19       POINT (48.49827 30.69137)
20        POINT (48.48612 30.7196)
21       POINT (48.79896 31.15981)
22       POINT (58.44738 29.01756)
23       POINT (52.71464 29.01766)
24       POINT (47.78984 31.09001)
25       POINT (48.87925 31.28081)
26       POINT (49.28148 31.32413)
27       POINT (47.52029 32.17992)
28       POINT (48.86106 30.92336)
29       POINT (48.73154 31.27494)
30       POINT (47.21023 32.49074)
31       POINT (53.90332 30.19346)
32       POINT (53.88472 30.18393)
33       POINT (52.17959 27.72317)
34        POINT (55.0937 37.06131)
35       POINT (50.48129 30.48421)
36       POINT (48.16924 32.45531)
37       POINT (52.63593 27.50481)
38        POINT (52.59608 27.5163)
39         POINT (52.5877 27.5502)
40       POINT (49.06968 32.16666)
41       POINT (47.55309 32.11366)
42       POINT (54.88497 36.92871)
43       POINT (50.42548 30.16243)

In [47]:
clustered_gdf["geometry"].to_file("vergleichszeitraum.geojson", driver="GeoJSON")

In [48]:
base_file=read_shapefile(files_Vergleichszeitraum2[0])
base_file

,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,INSTRUMENT,CONFIDENCE,VERSION,BRIGHT_T31,FRP,DAYNIGHT,geometry
0,27.57474,52.54943,350.72,0.40,0.37,2025-05-24,0943,N,VIIRS,n,2.0NRT,319.70,14.87,D,POINT (52.54943 27.57474)
1,27.49805,52.64991,353.44,0.40,0.37,2025-05-24,0943,N,VIIRS,n,2.0NRT,324.97,21.18,D,POINT (52.64991 27.49805)
2,27.90269,56.35052,342.37,0.39,0.44,2025-05-24,0943,N,VIIRS,n,2.0NRT,305.51,6.40,D,POINT (56.35052 27.90269)
3,27.71539,52.18727,349.83,0.40,0.37,2025-05-24,0943,N,VIIRS,n,2.0NRT,317.52,5.83,D,POINT (52.18727 27.71539)
4,29.99052,55.85301,345.24,0.39,0.44,2025-05-24,0943,N,VIIRS,l,2.0NRT,320.17,8.72,D,POINT (55.85301 29.99052)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8482,26.85280,55.85118,311.96,0.37,0.58,2025-06-02,2242,N,VIIRS,n,2.0NRT,296.16,1.11,N,POINT (55.85118 26.8528)
8483,27.48605,52.96748,316.49,0.48,0.48,2025-06-02,2242,N,VIIRS,n,2.0NRT,295.68,2.21,N,POINT (52.96748 27.48605)
8484,27.56190,52.56114,313.94,0.45,0.47,2025-06-02,2242,N,VIIRS,n,2.0NRT,302.43,1.71,N,POINT (52.56114 27.5619)
8485,27.54789,52.58522,338.86,0.46,0.47,2025-06-02,2242,N,VIIRS,n,2.0NRT,303.77,5.14,N,POINT (52.58522 27.54789)
8486,27.54873,52.58121,319.26,0.45,0.47,2025-06-02,2242,N,VIIRS,n,2.0NRT,302.87,3.65,N,POINT (52.58121 27.54873)

In [49]:
aggregated_file=base_file.copy()
for file in files_Vergleichszeitraum2 [1:]:
    aggregated_file = gpd.GeoDataFrame(pd.concat([aggregated_file, read_shapefile(file)], ignore_index=True))
aggregated_file["CONFIDENCE"]=pd.to_numeric(aggregated_file["CONFIDENCE"], errors='coerce')
aggregated_file["CONFIDENCE"].fillna(0, inplace=True)
sureish_fires_vergleichszeitraum2=aggregated_file[aggregated_file["CONFIDENCE"]>95]
sureish_fires_vergleichszeitraum2

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_84310/2043736212.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  aggregated_file["CONFIDENCE"].fillna(0, inplace=True)

,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,INSTRUMENT,CONFIDENCE,VERSION,BRIGHT_T31,FRP,DAYNIGHT,geometry
8498,31.26898,48.11526,363.06,1.03,1.01,2025-05-24,0635,Terra,MODIS,100.0,6.1NRT,321.56,74.45,D,POINT (48.11526 31.26898)
8524,31.12824,49.32140,361.72,2.07,1.40,2025-05-24,1034,Aqua,MODIS,100.0,6.1NRT,324.20,175.27,D,POINT (49.3214 31.12824)
8537,27.48918,52.96352,321.46,1.01,1.00,2025-05-24,1732,Terra,MODIS,100.0,6.1NRT,301.57,14.89,N,POINT (52.96352 27.48918)
8539,27.76084,52.16870,342.85,1.04,1.02,2025-05-24,1732,Terra,MODIS,100.0,6.1NRT,307.62,42.84,N,POINT (52.1687 27.76084)
8541,32.35358,47.70674,335.82,1.43,1.18,2025-05-24,1734,Terra,MODIS,100.0,6.1NRT,305.96,52.58,N,POINT (47.70674 32.35358)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9760,30.39571,50.62146,344.78,1.04,1.02,2025-06-02,2333,Aqua,MODIS,100.0,6.1NRT,300.83,53.29,N,POINT (50.62146 30.39571)
9763,30.29566,50.74689,324.22,1.03,1.02,2025-06-02,2333,Aqua,MODIS,100.0,6.1NRT,295.51,22.45,N,POINT (50.74689 30.29566)
9764,30.38840,49.86095,320.08,1.10,1.05,2025-06-02,2333,Aqua,MODIS,100.0,6.1NRT,300.83,17.11,N,POINT (49.86095 30.3884)
9765,30.25316,50.77615,317.95,1.03,1.01,2025-06-02,2333,Aqua,MODIS,96.0,6.1NRT,296.35,15.25,N,POINT (50.77615 30.25316)
9768,27.68428,52.25283,323.85,1.02,1.01,2025-06-02,2333,Aqua,MODIS,100.0,6.1NRT,300.84,18.30,N,POINT (52.25283 27.68428)

In [50]:
files_Angriffszeitraum=glob.glob('../data/Angriffszeitraum/*')
files_Angriffszeitraum

['../data/Angriffszeitraum/DL_FIRE_J2V-C2_627922',
 '../data/Angriffszeitraum/DL_FIRE_J1V-C2_627921',
 '../data/Angriffszeitraum/DL_FIRE_M-C61_627919',
 '../data/Angriffszeitraum/DL_FIRE_SV-C2_627923']

In [51]:
base_file_angriff=read_shapefile(files_Angriffszeitraum[0])
base_file_angriff

,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,INSTRUMENT,CONFIDENCE,VERSION,BRIGHT_T31,FRP,DAYNIGHT,geometry
0,26.84191,61.74688,336.38,0.68,0.74,2025-06-13,0803,N21,VIIRS,l,2.0NRT,309.30,2.08,D,POINT (61.74688 26.84191)
1,32.93947,59.32682,340.49,0.66,0.73,2025-06-13,0805,N21,VIIRS,l,2.0NRT,312.13,10.43,D,POINT (59.32682 32.93947)
2,36.38751,59.10857,330.82,0.54,0.68,2025-06-13,0807,N21,VIIRS,l,2.0NRT,305.05,2.19,D,POINT (59.10857 36.38751)
3,25.90237,54.53387,346.08,0.45,0.39,2025-06-13,0941,N21,VIIRS,n,2.0NRT,319.74,16.84,D,POINT (54.53387 25.90237)
4,30.38953,49.85578,367.00,0.38,0.36,2025-06-13,0943,N21,VIIRS,l,2.0NRT,327.53,6.07,D,POINT (49.85578 30.38953)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9398,33.30381,47.65384,305.34,0.54,0.42,2025-06-21,2259,N21,VIIRS,n,2.0NRT,293.43,0.98,N,POINT (47.65384 33.30381)
9399,33.29780,47.68373,309.28,0.54,0.42,2025-06-21,2259,N21,VIIRS,n,2.0NRT,296.50,1.41,N,POINT (47.68373 33.2978)
9400,33.29657,47.68982,306.85,0.54,0.42,2025-06-21,2259,N21,VIIRS,n,2.0NRT,295.75,1.41,N,POINT (47.68982 33.29657)
9401,33.29997,47.65315,320.36,0.54,0.42,2025-06-21,2259,N21,VIIRS,n,2.0NRT,296.35,3.15,N,POINT (47.65315 33.29997)
9402,33.29415,47.68207,329.57,0.54,0.42,2025-06-21,2259,N21,VIIRS,n,2.0NRT,298.99,5.49,N,POINT (47.68207 33.29415)

In [52]:
aggregated_file_angriff=base_file_angriff.copy()
for file in files_Angriffszeitraum [1:]:
    aggregated_file_angriff = gpd.GeoDataFrame(pd.concat([aggregated_file_angriff, read_shapefile(file)], ignore_index=True))
aggregated_file_angriff["CONFIDENCE"]=pd.to_numeric(aggregated_file_angriff["CONFIDENCE"], errors='coerce')
aggregated_file_angriff["CONFIDENCE"].fillna(0, inplace=True)
sureish_fires_angriffszeitraum=aggregated_file_angriff[aggregated_file_angriff["CONFIDENCE"]>95]
sureish_fires_angriffszeitraum

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_84310/1627212499.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  aggregated_file_angriff["CONFIDENCE"].fillna(0, inplace=True)

,LATITUDE,LONGITUDE,BRIGHTNESS,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,INSTRUMENT,CONFIDENCE,VERSION,BRIGHT_T31,FRP,DAYNIGHT,geometry
17930,33.53085,46.38144,354.62,1.00,1.00,2025-06-13,0640,Terra,MODIS,96.0,6.1NRT,317.55,53.48,D,POINT (46.38144 33.53085)
17931,33.52935,46.39191,368.26,1.00,1.00,2025-06-13,0640,Terra,MODIS,100.0,6.1NRT,323.38,91.33,D,POINT (46.39191 33.52935)
17932,33.52059,46.39014,355.26,1.00,1.00,2025-06-13,0640,Terra,MODIS,96.0,6.1NRT,318.25,55.13,D,POINT (46.39014 33.52059)
17970,30.70894,49.54008,320.58,1.08,1.04,2025-06-13,1737,Terra,MODIS,100.0,6.1NRT,303.33,15.03,N,POINT (49.54008 30.70894)
17972,27.76418,52.16416,325.57,1.00,1.00,2025-06-13,1737,Terra,MODIS,100.0,6.1NRT,305.05,16.14,N,POINT (52.16416 27.76418)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19542,31.00186,48.14404,325.80,2.52,1.53,2025-06-22,0024,Aqua,MODIS,100.0,6.1NRT,296.91,86.52,N,POINT (48.14404 31.00186)
19549,30.75166,48.28165,350.33,2.61,1.55,2025-06-22,0024,Aqua,MODIS,100.0,6.1NRT,297.58,249.76,N,POINT (48.28165 30.75166)
19550,30.74595,48.30745,320.62,2.62,1.55,2025-06-22,0024,Aqua,MODIS,100.0,6.1NRT,295.48,69.74,N,POINT (48.30745 30.74595)
19551,30.75857,48.27612,342.29,2.61,1.55,2025-06-22,0024,Aqua,MODIS,100.0,6.1NRT,297.12,188.16,N,POINT (48.27612 30.75857)
19552,30.75304,48.30196,337.96,2.62,1.55,2025-06-22,0024,Aqua,MODIS,100.0,6.1NRT,297.78,160.40,N,POINT (48.30196 30.75304)

In [53]:


# Project to a metric CRS (meters)
gdf_metric = sureish_fires_angriffszeitraum.to_crs(epsg=3857)

# Extract coordinates
coords = np.array(list(zip(gdf_metric.geometry.x, gdf_metric.geometry.y)))

# DBSCAN clustering with 1km (1000 meters) epsilon
db = DBSCAN(eps=2000, min_samples=1).fit(coords)
gdf_metric['cluster'] = db.labels_

# Get representative point for each cluster (e.g., centroid)
clustered = gdf_metric.dissolve(by='cluster').centroid

# Convert back to original CRS
clustered_gdf = gpd.GeoDataFrame(geometry=clustered, crs=gdf_metric.crs).to_crs(sureish_fires_angriffszeitraum.crs)

print(clustered_gdf)

                          geometry
cluster
0        POINT (46.37949 33.53521)
1        POINT (49.54008 30.70894)
2        POINT (52.16416 27.76418)
3        POINT (52.76414 28.96194)
4        POINT (55.85345 29.99013)
...                            ...
76       POINT (53.08582 30.21063)
77       POINT (48.05189 31.18916)
78       POINT (48.85495 31.38104)
79       POINT (47.80063 31.64578)
80        POINT (47.6798 33.29854)

[81 rows x 1 columns]

In [54]:
clustered_gdf["geometry"].to_file("angriffszeitraum.geojson", driver="GeoJSON")

#Fodor hit?

In [55]:
from shapely.geometry import Point
import geopandas as gpd

# Example: Create a single Point for Fodor
point = Point(34.5303, 50.5945)  # e.g., Point(44.5, 33.3)

# To create a GeoDataFrame with this point:
gdf = gpd.GeoDataFrame([{'geometry': point}], crs="EPSG:4326")
print(gdf)

                  geometry
0  POINT (34.5303 50.5945)

In [56]:
# ...existing code...
# Project to a metric CRS (Web Mercator)
gdf_metric = gdf.to_crs(epsg=3857)

# Create a 10 km buffer (10,000 meters)
gdf_metric['geometry'] = gdf_metric.buffer(10000)

# Reproject back to WGS84 (lat/lon)
gdf_buffer = gdf_metric.to_crs(epsg=4326)

print(gdf_buffer)

                                            geometry
0  POLYGON ((34.62013 50.5945, 34.6197 50.58891, ...

In [57]:
# Make sure both GeoDataFrames use the same CRS
aggregated_file_angriff = aggregated_file_angriff.to_crs(gdf_buffer.crs)

# Get the buffer polygon (assuming only one row in gdf_buffer)
buffer_polygon = gdf_buffer.geometry.iloc[0]

# Check which points are within the buffer
inside_mask = aggregated_file_angriff.within(buffer_polygon)

# Filter points inside the buffer
points_inside = aggregated_file_angriff[inside_mask]
print(points_inside)

Empty GeoDataFrame
Columns: [LATITUDE, LONGITUDE, BRIGHTNESS, SCAN, TRACK, ACQ_DATE, ACQ_TIME, SATELLITE, INSTRUMENT, CONFIDENCE, VERSION, BRIGHT_T31, FRP, DAYNIGHT, geometry]
Index: []

In [58]:
dict_nuclearplants={"Arak":[34.37341, 49.24078],"Buschehr":[28.494664, 50.530946],
                    "Darkovin":[30.4228,48.2248],"Isfahan":[32.5804299,51.8259551],
                    "Natans":[33.4330, 51.4330],"Parchin":[35.52, 51.77], 
                    "Tehran":[35.738333, 51.388056],"Yazd":[31.872017, 54.367890],"Fordo":[34.5303, 50.5945],"Bonab":[37.4067723,46.0037733],"Ramsar":[36.9232944,50.6089903]}
dict_nuclearplants

{'Arak': [34.37341, 49.24078],
 'Buschehr': [28.494664, 50.530946],
 'Darkovin': [30.4228, 48.2248],
 'Isfahan': [32.5804299, 51.8259551],
 'Natans': [33.433, 51.433],
 'Parchin': [35.52, 51.77],
 'Tehran': [35.738333, 51.388056],
 'Yazd': [31.872017, 54.36789],
 'Fordo': [34.5303, 50.5945],
 'Bonab': [37.4067723, 46.0037733],
 'Ramsar': [36.9232944, 50.6089903]}

In [59]:
df_nuclearplants = pd.DataFrame([
    {"name": name, "lat": coords[0], "lon": coords[1]}
    for name, coords in dict_nuclearplants.items()
])

# Create geometry column from lon/lat
df_nuclearplants["geometry"] = df_nuclearplants.apply(lambda row: Point(row["lon"], row["lat"]), axis=1)

# Convert to GeoDataFrame
gdf_nuclearplants = gpd.GeoDataFrame(df_nuclearplants, geometry="geometry", crs="EPSG:4326")
print(gdf_nuclearplants)

        name        lat        lon                   geometry
0       Arak  34.373410  49.240780  POINT (49.24078 34.37341)
1   Buschehr  28.494664  50.530946  POINT (50.53095 28.49466)
2   Darkovin  30.422800  48.224800    POINT (48.2248 30.4228)
3    Isfahan  32.580430  51.825955  POINT (51.82596 32.58043)
4     Natans  33.433000  51.433000      POINT (51.433 33.433)
5    Parchin  35.520000  51.770000        POINT (51.77 35.52)
6     Tehran  35.738333  51.388056  POINT (51.38806 35.73833)
7       Yazd  31.872017  54.367890  POINT (54.36789 31.87202)
8      Fordo  34.530300  50.594500    POINT (50.5945 34.5303)
9      Bonab  37.406772  46.003773  POINT (46.00377 37.40677)
10    Ramsar  36.923294  50.608990  POINT (50.60899 36.92329)

In [60]:
# ...existing code...
# Project to a metric CRS (Web Mercator)
gdf_nuclearplants_metric = gdf_nuclearplants.to_crs(epsg=3857)

# Create a 10 km buffer (10,000 meters)
gdf_nuclearplants_metric['geometry'] = gdf_nuclearplants_metric.buffer(10000)

# Reproject back to WGS84 (lat/lon)
gdf_nuclearplants_metric_buffer = gdf_nuclearplants_metric.to_crs(epsg=4326)

print(gdf_nuclearplants_metric_buffer)

        name        lat        lon  \
0       Arak  34.373410  49.240780
1   Buschehr  28.494664  50.530946
2   Darkovin  30.422800  48.224800
3    Isfahan  32.580430  51.825955
4     Natans  33.433000  51.433000
5    Parchin  35.520000  51.770000
6     Tehran  35.738333  51.388056
7       Yazd  31.872017  54.367890
8      Fordo  34.530300  50.594500
9      Bonab  37.406772  46.003773
10    Ramsar  36.923294  50.608990

                                             geometry
0   POLYGON ((49.33061 34.37341, 49.33018 34.36614...
1   POLYGON ((50.62078 28.49466, 50.62034 28.48693...
2   POLYGON ((48.31463 30.4228, 48.3142 30.41521, ...
3   POLYGON ((51.91579 32.58043, 51.91535 32.57301...
4   POLYGON ((51.52283 33.433, 51.5224 33.42565, 5...
5   POLYGON ((51.85983 35.52, 51.8594 35.51283, 51...
6   POLYGON ((51.47789 35.73833, 51.47745 35.73119...
7   POLYGON ((54.45772 31.87202, 54.45729 31.86454...
8   POLYGON ((50.68433 34.5303, 50.6839 34.52305, ...
9   POLYGON ((46.0936 37.40677, 46.09317 37.39978,...
10  POLYGON ((50.69882 36.92329, 50.69839 36.91625...

In [61]:
for i in range(len(gdf_nuclearplants_metric_buffer)):
    # Make sure both GeoDataFrames use the same CRS
    aggregated_file_angriff = aggregated_file_angriff.to_crs(gdf_buffer.crs)

    # Get the buffer polygon (assuming only one row in gdf_buffer)
    buffer_polygon = gdf_nuclearplants_metric_buffer.geometry.iloc[i]

    # Check which points are within the buffer
    inside_mask = aggregated_file_angriff.within(buffer_polygon)

    # Filter points inside the buffer
    points_inside = aggregated_file_angriff[inside_mask]
    print(len(points_inside), gdf_nuclearplants_metric_buffer.name.iloc[i])

0 Arak
0 Buschehr
61 Darkovin
5 Isfahan
0 Natans
6 Parchin
2 Tehran
8 Yazd
0 Fordo
32 Bonab
0 Ramsar