In [1]:
import pandas as pd

In [38]:
import glob

In [51]:
files=glob.glob("../data/area-1hour-vessel-movements-report/*")
for file in files:
    reducedfilename=(file[43:-34])
    data=pd.read_csv(file)
    data=data.drop_duplicates(subset=["IMO"])
    data["AISTYPE_Class"]=data["AISTYPE"].astype(str).str[:1]
    data["byday"]=data["DATE TIME (UTC)"].astype(str).str[:10]
    data.to_csv("../data/NoDuplicates/"+reducedfilename+".csv")
    data.head(40).to_csv("../data/NoDuplicates/"+reducedfilename+"_head.csv")

In [48]:
datajan2024=pd.read_csv("../data/area-1hour-vessel-movements-report/1-8JAN2024-1hour-vessel-movements-report.csv")
datajan2024=datajan2024.drop_duplicates(subset=["IMO"])
datajan2024["AISTYPE_Class"]=datajan2024["AISTYPE"].astype(str).str[:1]
datajan2024["byday"]=datajan2024["DATE TIME (UTC)"].astype(str).str[:10]
datajan2024

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,...,AISTYPE,A,B,C,D,DRAUGHT,DESTINATION,ETA,AISTYPE_Class,byday
0,2024-01-01 00:02:34,425000004,12.74577,43.30452,334.1,12.1,333,0,9345221,BAGHDAD,...,80,105,24,11,9,8.4,SUZE PORT,01-05 15:00,8,2024-01-01
1,2024-01-01 00:02:51,563137700,12.69388,43.28125,157.0,15.4,156,0,9272981,KOTA HANDAL,...,70,132,27,8,17,5.0,DJJIB,01-01 08:00,7,2024-01-01
2,2024-01-01 00:12:05,566473000,12.75315,43.25763,156.5,13.2,155,0,9713624,EPIC SULA,...,80,101,19,17,4,4.8,KHOR FAKKAN,01-05 18:00,8,2024-01-01
3,2024-01-01 00:51:37,352002809,12.58780,43.35765,121.0,10.2,124,0,9346720,KIRA K,...,80,228,21,22,22,14.6,ARMED GUARDS,01-06 18:00,8,2024-01-01
5,2024-01-01 01:10:29,636021618,12.60002,43.39563,298.4,13.0,298,0,9595931,UNICORN,...,70,161,29,14,18,11.1,ITALY,01-10 12:00,7,2024-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,2024-01-08 21:30:01,538009037,12.72358,43.26169,157.6,11.2,158,0,9863429,MARITIME GLORY,...,80,205,45,25,19,13.2,ARM GUARDS ON BOARD,01-14 06:00,8,2024-01-08
747,2024-01-08 22:52:57,636021009,12.67714,43.33773,333.2,14.5,332,0,9388778,BLUE INTEGRITY,...,80,203,43,17,25,14.7,SUEZ_ARMED GUARD O/B,01-12 06:00,8,2024-01-08
748,2024-01-08 23:06:09,620745000,12.60506,43.40178,300.7,10.2,511,0,7504122,MERINOS LIVESTOCK,...,70,0,0,0,0,4.6,JEDDAH,12-01 10:00,7,2024-01-08
750,2024-01-08 23:48:29,477318500,12.74552,43.25899,154.1,10.7,156,0,9426336,SHELTER ISLAND,...,70,172,27,21,11,13.2,CN TXG,02-08 00:30,7,2024-01-08
751,2024-01-08 23:50:27,636022384,12.64663,43.34785,325.0,17.2,330,0,9249130,BUTTERFLY A,...,89,204,43,21,21,8.0,ARMED GUARD ONBOARD,01-12 18:00,8,2024-01-08

In [64]:
datajan2024.columns

Index(['DATE TIME (UTC)', 'MMSI', 'LATITUDE', 'LONGITUDE', 'COURSE', 'SPEED',
       'HEADING', 'NAVSTAT', 'IMO', 'NAME', 'CALLSIGN', 'AISTYPE', 'A', 'B',
       'C', 'D', 'DRAUGHT', 'DESTINATION', 'ETA', 'AISTYPE_Class', 'byday'],
      dtype='object')

In [75]:
datajan2024.DESTINATION.unique()

array(['SUZE PORT', 'DJJIB', 'KHOR FAKKAN', 'ARMED GUARDS', 'ITALY',
       'PORT SAID', 'MVMLE - ARMED GUARDS', 'AE HAM',
       'ARM GUARDS ON BOARD', 'SA JED', 'EG AIS', 'SG SIN',
       'ARMED GUARD O/B', 'ARMED GUARDS ONBOARD', 'SOHAR',
       'ARM_GURAD_ONBOARD', 'EG SUZ', 'CHENNAI', 'ARMED GUARD ON BOARD',
       'ARM GUARDS ONBOARD', ' SUEZ-EGYPT', 'ARMED GUARD ONBOARD', 'SUEZ',
       'DJIBOUTI', 'ARM GUARD ONBOARD', 'EGSCN', 'YANBU',
       'ARM GUARD ON BOARD', 'ARM GUARDED', 'JAIGARH', 'ARMED SECURITY',
       'AQABA', 'SAJED', nan, 'EGSUZ', 'DJB', 'CNSGH', 'DJ JIB', 'COCHIN',
       'SUEZ CANAL', 'JP OIT', 'IN MUN', 'IN IXY', 'FUJAIRAH UAE',
       'SUEZ, EGYPT', 'SA JDE', 'EGADA', 'LK PTL', 'FOR ORDERS',
       'PIPAVAV IND', 'IQ BSR > EG AIS', 'BERBERA', 'OM SOH',
       'SUEZ FOR ORDERS', 'SUEZ EGYPT', 'DJ_JIB_ARM GUARDS ON',
       'CN OWNR ARM GD OB', 'MALAYSIA', 'JEDDAH', 'TANJUNG BIN', 'OMSLL',
       'EGSUEZ ARMGUARDS ONB', 'SGSIN', 'FUJIRAH', 'MALTA VALLETA',
       'OMMAN SALALAH', 'NEW MANGALORE', 'IT RAN', 'DJ JIB > YE SAL',
       'FR ORDER ARMED GUARD', 'JOAQJ ARMEDGRD ONBRD',
       'JAWAHAR LAL NEHRU', 'YEADN', 'YEHOD', 'INSIK', 'RAS-ISA',
       'PK BQM', 'SEC.GUARD ON BOARD', 'SG SIN PEBGA', 'CN JTG', 'MYPKG',
       'ARMGUARD ONBOARD', 'ADEN-ARMED GUARD ONB', 'EG SUEZ', 'CN SHG',
       'IN HZR', 'LIBYA', 'ARMED GUARD', 'EGPSD-INMUN', 'EG SUZ > IN VAD',
       'PENGERANG MALAYSIA', 'ARMED_GUARDS_ON_BOAR', 'TURKEY,ALL CHINESE',
       'AIN SHUKNA EGYPT', 'DJJIB>SAJED', 'ARMED GUARDS O/B', 'NANSHA',
       'SINGAPORE', 'BIK IRAN', 'CN TJN', 'IT MNF/ARMED GUARD', 'NL RTM',
       'IN VTZ', 'BIK_IRAN', 'ARM ON BOARD', 'GALLE, SRI LANKA',
       'ARMGUARD  ONBOARD', 'CN FAN', 'AEFJR>EGSUZ', 'ADEN',
       'VSL NO CNTCT ISRAEL', 'UAILK', 'EGYPT W/ARM GUARD',
       'ARMED GUAR ON BORD', 'ARMY GUARD ONBOARD', 'SGSIN_CHN VSL&CREW',
       'RUULU>INNML ARM O/B', 'ARMGUADS', 'YE SALIF', 'SUEZ - EGYPT',
       'SIKKA/ARMED GUARD OB', 'YE SAL', 'PLGDN>>>EGPSD', 'TBA',
       'RAS ISA YEMEN', 'AE KLF', 'INMUN', 'KEMBA', 'JPYOK',
       'ARZEW - TS INDONESIA', 'SA YNB GUARDS ONB',
       'SAJUB>>SAJEB (GUARD)', 'JOAQB', 'CNTAO,ALL CHINESE',
       'EGSUZ>THKSI', 'AEFJR ARM GUARD', 'SUEZ CAN', 'UMMQASR',
       'PORT KLANG', 'QA_RLF', 'SHANGHAI CHINA', 'NE ASIA',
       'EGSUZ FOR ORDERS', 'SG SIN W/ ARM GUARD', 'DAMEITTA',
       'SUEZ GUARD ON BOARD', 'EG  SGA', 'ALGERIA-ARMGUARD ONB', 'EGAIS',
       'ARMS GUARD ONBOARD', 'EGYPT SUEZ', 'FUJAIRAH-ARM GUARDS',
       'ARMED GUARD OB', 'INMRM - ITNAP', 'YE HOD',
       'VL NO CONTACT ISRAEL', 'SUEZ(ARMED GUARD OB)', 'INCOK', 'QA HMD',
       'DEENDAYAL', 'IN MAA', 'UST_LUGA RUSSIAN', 'SG PEBG_C', 'GRESIK',
       '    ARM GUARDONBOARD', 'SUEZ CANAL EGYPT', 'KHAWR FAKKAN',
       'DAESAN', 'ARMED GUARDS_AE KLF', 'TALLIN', 'FO ARMS GUARD OB',
       'ES SIDER ARMGARD OB', 'SG PEBGC', 'GRKLX>INVAD',
       'ARMED_GUARD_ON_BOARD', 'JAZAN', 'SINGAPORE/PWBG-A', 'SO BBO',
       'KWMZR>FRLEH', '4ARM GUARDS ONBOARD', 'ARMED GUARD 0NBOARD',
       'YEHOD ARMGUARD ON', 'ARMED GUARDS ON BOD', 'ADABIYA, EGYPT',
       'ARM GUARD NO REL ISR', 'EG_SUZ', 'INDIA ARMGUARD', 'CN HMN',
       'PK KHI', 'IR BKM', 'ARMY GUARD ONBOARD.', 'ARMED GUADS ON BOARD',
       'YANBU S.A.', 'MUGHARRAQ - UAE', 'BERBERA-SOM', 'ARMED GUARDS OB',
       'SA RAB', 'HODEIDAH YEMEN', 'RULED', 'AE FJR',
       'DJIBOUTI(ARM GUARDS)', 'RAS ISA,YEMEN', 'RASTANURA',
       'EG PSD>AE JEA', 'SOUTH CHINA SEA', 'KHORFAKKAN',
       'IN KRI ARM GUARD OB', 'CHINESE SHIP CREW', 'DJBOUTI', 'QA RLF',
       'KN.LAMU', 'OM SLL', 'CN QDG', 'CN  YINGKOU', 'KANDLA',
       'AE FJR > SD PZU +AG', 'KW MIB > EG SUZ', 'JORF LAFAR',
       'AL JAZEERA', 'EG SCN', 'MARSA BASHAYER', 'ARMED GAURDS ONBOARD',
       'SUEZ_ARMED GUARD O/B', 'CN TXG'], dtype=object)

In [85]:
print(datajan2023.DESTINATION.unique())

['SINGAPORE' 'SUEZ CANAL' 'SA JED' 'ARM GUARD ON BOARD' 'INVAD'
 'SG SIN>EG SUZ' 'EGPSD>INSIK' nan 'IN KRI ARMED GUARDS' 'VN VUT'
 'ARMED GUARDS ONBOARD' 'SUEZ' 'SA-DMN' 'JEDDAH' 'IQ UQR' 'JO AQJ'
 'ABU DHABI' 'DJ JIB' 'OMSLL' 'PKBQM' 'ARMED GUARD SALALAH.' 'QA RLF'
 'ARMED GUARDS O BOARD' 'SG SIN EBGB' 'PEBGA' 'XINSHA' 'KING ABDULLAH'
 'SGSIN' 'FOR ORDERS' 'ARM GUARDS ON BOARD' 'SUEZ ARMED GUARD OB'
 'ARMED GUARD- JEDDAH' 'SUZE' 'DJJIB' 'ARM GUARD ONBOARD' 'PK BQM'
 'SD PZU' 'ARM GUARDS ONBOARD' ' EGPSD>INMUM' 'COLOMBO' 'FOR ORDER'
 'ARMED GUARD ON BOARD' 'SUEZ    .' 'EG SUZ' 'EGSUZ' 'SAJED'
 'SGSIN (PWBGA)' 'DJIBOUTI' 'CHITTAGONG' 'PORT SUEZ' 'SUEZ>ARMED GUAR OB'
 'AEJEA' 'CILACAP' 'IN VTZ' 'SUEZ_EG' 'SGSIN=>EGSUZ' 'IN BOM' 'UA JEA'
 'SG SIN PEBGA' 'SG SIN' 'AE FJR>EG AIS' 'ARMED GUARD ONBOARD' 'QAUMS'
 'KE MBA' 'EG PSD > IN PRD' 'ARMGUARDS ONBOARD' 'SGSIN PWBGA' 'YEADE'
 'DAMIETTA' 'YANBU' 'LE HAVRE' 'BE ANR' 'QAMES' 'RU TAM>TZ DAR' 'MAPUTO'
 'ILTHB' 'AEFJR' 'QATAR' 'EGSUE' 'EGSUC >> MYTPP' 'SUEZ, EGYPT' 'INBOM'
 'EG SUEZ' 'IN VAD=>EG SUZ' 'MAILIAO' 'KFK UAE' 'EGSCN' 'QINGDAO'
 'SAJED >> OMSLL' ' EG SCN > MY TPP' 'GR-W/ ARMED GUARD'
 'EGSZC W/ARMED GUARDS' 'AEKLF' 'SAYNB' 'KUWAIT' 'SOKHNA' 'LK CMB'
 'IN MAA' 'SUEZ FOR ORDERS' 'EGSUZ>OMSLV' 'EGSUC' 'EGSUZ ARMED GUARDS'
 'BERBERA' 'GR KLX > IN SIK' 'HAMAD' 'KWMIS>EGSUZ' 'EGSUC>>MYTPP' 'IT CHI'
 'ARM GUARDS ONBOARD.' 'SECURITY TEAM OB' 'SING PWBA' 'ARMS GUARD ONBOARD'
 'ARM GUARDS ON BORD' 'SA KAC ARM/GUARD ONB' 'SUEZ  /ARM GUARD ON'
 'ISKENDERUN' 'SGP PEBGB' 'ARMED GUARDS OB' 'ITMDC' 'CN FAN' 'SOBBO'
 'USHOU' 'ADEN' 'IN SIK' 'ARMS GUARDS ON BOARD' 'SAJED>OM SOH'
 'ARMGUARD ON BOARD' 'IDANR' 'USGC' 'KAKINADA' 'SAKAP' 'RIZHAO'
 'SGSIN ARMED GUARD' 'ARM GUARD ONBD' 'IN IXY' 'PKKHI'
 'PK KHI/ARMGUARD OB' 'MY PKG' 'KEMBA' 'CJK,CH' 'SECURITY ON BOARD'
 'SGSIN>DJJIB' ' DJ JIB' 'SA YNB' 'RED_SEA ..' 'IN COK>EG SUZ'
 'PORT SUDAN' 'SGSIN P S' 'ARMED-GUARD ONBOARD' 'YE ADE' 'CN YTN>EG SCN'
 'ARM GUAD O N BOARD' 'ARM_GUARD_ON_BOARDD' 'EG AIS' 'AEAUH' 'TRIZT'
 'SALALAH' 'FOR_ORDERS' 'CN NSA' 'SIKKA' 'SAKAP>OMSLV' 'SUZ EG'
 'POINTE DES GALETS' 'EGSCN >>SGSIN' 'MYPKG' 'EGDAM>INMUN' 'RUULU=>INVAD'
 'MONGLA' 'JP KND' 'IDBLW>ITVSO' 'GIZAN' 'SDBOT' 'ARM GAURDS ON BOARD'
 'BH MIN' 'TRMER' 'INGOA' 'JOAQJ' 'SUEZ ,EGYPT' 'VNCUA >>> SUEZ'
 'EGPSD>SGSIN PWBGA' 'INPPT' 'SGSIN>EGSZC' 'SGSIN(PEBGB)' 'SAJED>>>CNTAO'
 'IN PAV' 'CHENNAI' 'ARMGUARD ONBOARD' 'SOBOO' 'ARM_GUARD_ONBOARD'
 'FUJAIRAH FOR ORDERS' 'MESSAIED' 'OMSLV<EGSUC' 'TH LCH' 'GB MLF'
 'PORT KLANG' 'ARMED ON BOARD' 'ARMGUARDS ON BOARD' 'EGPSD - SGSIN'
 'PIVDENNYI' 'ARMGUARDS_ONBOARD' 'VISAG' 'SUEZ TRANSIT'
 'SUEZARMGUARD ONBOARD' 'MASSAWA' 'SUEZ,EGYPT' 'USSAV > MYTPP' 'FUJAIRAH'
 'SG-PEBGC' 'TZ DAR' 'SAYNB=>KRONS' 'ID BAH ARM GUARD' 'IN GGV'
 'SZC>SIN AEBA' 'ARMED GUARDS ON BOAR' 'ARM GAURD ON BOARD' ' IN NSA'
 'HUDAIDA' 'AE FJR' 'ARMED GUARD ONBD' 'SAJED>DJJIB' 'EGAIS' 'IZMIT BAY'
 'EGSUZ-SGSIN' 'OMSLL >> SAKAC' 'IQBSR>EGSCN' 'OMSLV' 'JED' 'CNSHA'
 'PK KHI' 'SAJED ARMGUARDONBOAT' 'MUMBAI' 'ESALG>MYPKG' 'IR BKM' 'SA JUB'
 'JEBEL ALI' 'ARMEDGUARDS ON BOARD' 'SZC LIMIT LINE' 'AE JEA' ' JEDDAH'
 'AEFJR>SHUQAIQ' 'EG SCN' 'POHANG S.KOREA' 'HAMAD  QATAR'
 'SINGAPORE FOR ORDERS' 'CNZOS' 'NLRTM' 'EGSOK' 'EGSUZ ARM GUARD'
 'EGSUZ=>MYPKG' 'EG PSD > DJ JIB' 'ARMED GAURD ON BOARD' 'MAPTM>OMSLV'
 'ARMED GUARDS' 'ID TPP' 'SAYNB>INBOM' 'SAJED - REREU' 'MUNDRA' 'IR BND'
 'ARMED GUARD ONBORD' 'FUJ UAE' 'HAZIRA' 'CNYTN>EGSUE' 'ZHUHAI' 'IN HAL'
 'GUARD ON BOARD' 'AE KLF' 'SAJED>AEJEA' 'CIGADING' 'SOHAR OMAN'
 'SALALAH,OMAN' 'KING ABDLAH PORT KSA' 'BS FPO > MY TPP' 'SAKAC' 'CNRZH'
 'TRDYL>SGSIN' 'OMSLV > EGSUC' 'SAJED > QAHMD' 'SUEZ/ARMED GUARDS ON'
 '  SUEZ' 'ARM GUARD' 'SUDAN' 'PIPAVAV/INDIA' 'YE SAL'
 'ARMED GAURDS ONBOARD' 'SG PEBGA' 'SECURITY GUARD ON BO' 'CN MACHONG'
 'PERSIAN GULF' 'SUEZ(GUARD ONBOARD)' 'PORT SIAD' 'PORT SAID'
 'MY PKG  >  EG SUZ' 'AUGUSTA/ITALY' 'SINGAPORE AEBB' 'INDIAN OCEAN'
 'MYTPP>>EGSUC' 'UMM QASR' 'PEBG-B' 'CNFAN' 'CN BIH' 'INSIK > EGSUZ'
 'DJIBOUTI.ARM GUAR OB' 'EG SZC' 'ARMS_GUARD_ON_BOARD']

In [31]:
datajan2023=pd.read_csv("../data/area-1hour-vessel-movements-report/1-8JAN2023-1hour-vessel-movements-report.csv")
datajan2023=datajan2023.drop_duplicates(subset=["IMO"])

datajan2023["AISTYPE_Class"]=datajan2023["AISTYPE"].astype(str).str[:1]

In [32]:
datajan2023.groupby(["AISTYPE_Class"]).count()

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,CALLSIGN,AISTYPE,A,B,C,D,DRAUGHT,DESTINATION,ETA
AISTYPE_Class,,,,,,,,,,,,,,,,,,,
0,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,4,4,4,4,4,4,4,4,4,4,3,4,4,4,4,4,4,3,3
5,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
6,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
7,384,384,384,384,384,384,384,384,384,384,384,384,384,384,384,384,384,383,383
8,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,207
9,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8

In [33]:
datajan2024.groupby(["AISTYPE_Class"]).count()

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,CALLSIGN,AISTYPE,A,B,C,D,DRAUGHT,DESTINATION,ETA
AISTYPE_Class,,,,,,,,,,,,,,,,,,,
0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,2
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7,226,226,226,226,226,226,226,226,226,226,225,226,226,226,226,226,226,225,225
8,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
9,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10

In [34]:
datamar2024=pd.read_csv("../data/area-1hour-vessel-movements-report/24-31MAR2024-1hour-vessel-movements-report.csv")
datamar2024=datamar2024.drop_duplicates(subset=["IMO"])

datamar2024["AISTYPE_Class"]=datamar2024["AISTYPE"].astype(str).str[:1]

In [35]:
datamar2023=pd.read_csv("../data/area-1hour-vessel-movements-report/24-31MAR2023-1hour-vessel-movements-report.csv")
datamar2023=datamar2023.drop_duplicates(subset=["IMO"])

datamar2023["AISTYPE_Class"]=datamar2023["AISTYPE"].astype(str).str[:1]

In [36]:
datamar2023.groupby(["AISTYPE_Class"]).count()

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,CALLSIGN,AISTYPE,A,B,C,D,DRAUGHT,DESTINATION,ETA
AISTYPE_Class,,,,,,,,,,,,,,,,,,,
0,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,6,6
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0
6,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,4
7,371,371,371,371,371,371,371,371,371,371,370,371,371,371,371,371,371,371,371
8,221,221,221,221,221,221,221,221,221,220,221,221,221,221,221,221,221,220,219
9,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11

In [37]:
datamar2024.groupby(["AISTYPE_Class"]).count()

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,CALLSIGN,AISTYPE,A,B,C,D,DRAUGHT,DESTINATION,ETA
AISTYPE_Class,,,,,,,,,,,,,,,,,,,
0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,2
7,162,162,162,162,162,162,162,162,162,162,162,162,162,162,162,162,162,161,162
8,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113
9,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6

In [61]:
datamar2024["bythehour"]=datamar2024["DATE TIME (UTC)"].str[:13]
datamar2023["bythehour"]=datamar2023["DATE TIME (UTC)"].str[:13]

In [60]:
datamar2024.head(40).groupby("bythehour").count().cumsum()

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,CALLSIGN,AISTYPE,A,B,C,D,DRAUGHT,DESTINATION,ETA,AISTYPE_Class
bythehour,,,,,,,,,,,,,,,,,,,,
2024-03-24 00,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
2024-03-24 01,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
2024-03-24 02,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
2024-03-24 04,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
2024-03-24 05,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
2024-03-24 06,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
2024-03-24 08,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
2024-03-24 09,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
2024-03-24 10,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
2024-03-24 12,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
2024-03-24 13,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
2024-03-24 15,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24
2024-03-24 16,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26
2024-03-24 18,28,28,28,28,28,28,28,28,28,28,28,28,28,28,28,28,28,28,28,28
2024-03-24 20,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29
2024-03-24 21,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30
2024-03-24 23,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34
2024-03-25 00,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
2024-03-25 01,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40

In [62]:
datamar2023.head(40).groupby("bythehour").count().cumsum()

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,CALLSIGN,AISTYPE,A,B,C,D,DRAUGHT,DESTINATION,ETA,AISTYPE_Class
bythehour,,,,,,,,,,,,,,,,,,,,
2023-03-24 00,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2023-03-24 01,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
2023-03-24 02,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
2023-03-24 03,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
2023-03-24 04,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
2023-03-24 05,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
2023-03-24 06,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
2023-03-24 07,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24
2023-03-24 08,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27
2023-03-24 09,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29
2023-03-24 10,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
2023-03-24 11,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33
2023-03-24 12,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
2023-03-24 13,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
2023-03-24 14,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40

In [69]:
datamar2023.groupby("DESTINATION").count()

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,CALLSIGN,AISTYPE,A,B,C,D,DRAUGHT,ETA,AISTYPE_Class,bythehour
DESTINATION,,,,,,,,,,,,,,,,,,,,
ARMGUARDS O/B,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
SA YNB > IN SIK,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
YANB-FOR ORDER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"=SA YAN>>AEFJR""",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ABU DHABI,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YE HOD,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
YEADE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
YEHOD,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
"YEONGHEUNG,S.KOREA",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ZHOUSHAN CHINA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [81]:
datamar2024[datamar2024["DESTINATION"].astype(str).str.contains("ARM")]

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,...,AISTYPE,A,B,C,D,DRAUGHT,DESTINATION,ETA,AISTYPE_Class,bythehour
3,2024-03-24 00:35:48,356576000,12.75885,43.25261,154.7,9.7,157,0,9493638,THE FINDER,...,79,192,33,10,22,13.4,ARMS GUARD ONBOARD,03-31 06:00,7,2024-03-24 00
18,2024-03-24 05:43:23,563092500,12.74632,43.26401,158.1,7.6,159,0,9456460,INCE AKDENIZ,...,70,161,29,14,18,12.8,ARMED GUARD ON BOARD,03-18 15:00,7,2024-03-24 05
31,2024-03-24 09:13:46,626418000,12.61953,43.38645,301.0,13.8,301,0,9422445,SCF SURGUT,...,89,230,44,15,33,9.3,ARMED GUARDS ONBOARD,03-28 06:00,8,2024-03-24 09
32,2024-03-24 09:34:31,229609000,12.65125,43.33824,336.3,14.9,340,0,9286592,THALASSINI,...,70,190,39,21,11,6.5,ARMED GUARDS ON BOAR,03-29 04:30,7,2024-03-24 09
47,2024-03-24 15:39:10,312325000,12.69598,43.27358,150.0,11.0,150,0,9231509,TREND,...,80,227,47,21,27,15.0,"CHINESECREW,ARMGUARD",03-30 18:00,8,2024-03-24 15
51,2024-03-24 16:19:08,240221000,12.61161,43.38542,301.0,15.6,300,0,9271353,OLYMPIC FUTURE,...,80,232,42,17,30,7.9,ARMED GUARDS ONBOARD,03-30 12:00,8,2024-03-24 16
55,2024-03-24 18:04:23,352003605,12.71902,43.28182,155.2,10.1,155,0,9290373,BESIKTAS BOSPHORUS,...,80,229,45,40,10,15.7,TURKISH CR/ARMED GRD,03-30 13:00,8,2024-03-24 18
73,2024-03-25 01:28:07,256099000,12.74749,43.25752,155.1,10.6,159,0,9718583,KIRAN CASPIAN,...,70,180,20,8,24,13.4,ARMED GUARD ONBOARD,04-02 18:00,7,2024-03-25 01
83,2024-03-25 02:09:20,636018215,12.74327,43.26395,154.5,10.4,156,0,9835953,FLAMINIA,...,70,202,27,24,8,12.7,ARMED GUARD ONBOARD,03-23 17:45,7,2024-03-25 02
103,2024-03-25 15:22:07,352297000,12.73040,43.27312,159.0,13.5,160,0,9343687,FESCO EKATERINA,...,70,115,27,18,5,7.0,ARMED GUARD ON BOARD,04-01 06:30,7,2024-03-25 15
105,2024-03-25 15:42:10,352003207,12.71911,43.26749,149.9,12.2,148,0,9832559,VALOUR,...,80,208,42,25,19,14.0,RUSSIAN CREW /ARM GU,04-04 14:30,8,2024-03-25 15
114,2024-03-25 19:33:05,538006940,12.60669,43.40009,299.6,15.3,299,0,9296846,CAPTAIN MIKE,...,70,192,37,30,7,7.5,EG SUZ ARMGUARD O/B,03-29 20:00,7,2024-03-25 19
115,2024-03-25 19:33:15,232051710,12.76073,43.25464,157.5,10.7,157,0,9460863,OCEAN BAY,...,70,164,26,20,12,10.6,ARMGUARDS ONBOARD,04-05 22:30,7,2024-03-25 19
123,2024-03-25 22:53:15,304736000,12.74037,43.25837,155.0,12.3,156,0,9293117,SUN,...,80,234,49,31,17,14.8,IN NML W/ARMED GUARD,04-01 06:30,8,2024-03-25 22
157,2024-03-26 05:08:29,620999375,12.60939,43.40335,297.9,12.7,511,0,9237228,RHEA,...,80,203,36,23,19,8.2,ARMED GUARDS ONBOARD,03-31 08:00,8,2024-03-26 05
159,2024-03-26 06:03:07,626285000,12.75703,43.25672,155.0,12.1,157,0,9257022,LACONIA,...,80,213,26,21,21,14.7,ARMED GUARDS,03-27 14:00,8,2024-03-26 06
165,2024-03-26 07:16:27,636023557,12.74021,43.26270,154.6,11.3,155,0,9298375,OLYMPIC FLAME,...,82,131,34,17,7,9.7,ARMED GUARDS ONBOARD,04-01 07:00,8,2024-03-26 07
182,2024-03-26 15:00:10,518998877,12.74508,43.25868,154.0,13.1,156,0,9394935,OCEAN AMZ,...,89,208,42,16,28,14.1,IND/ARM GUARDS ONBOA,03-04 06:00,8,2024-03-26 15
187,2024-03-26 15:24:10,636021970,12.75970,43.25357,165.0,11.6,169,0,9554042,ASL ILEANA,...,70,163,27,21,11,12.8,CHINA CREW ARM GUARD,04-04 06:30,7,2024-03-26 15
195,2024-03-26 16:22:22,538006517,12.60979,43.39993,296.3,13.7,296,0,9489297,OLYMPIC SKY,...,80,202,42,16,26,8.2,ARMED GUARDS ONBOARD,03-30 16:00,8,2024-03-26 16
208,2024-03-26 19:55:12,352002534,12.63997,43.35908,335.3,13.9,335,0,9139921,XIN HE LU 2,...,70,192,62,20,12,9.9,ARM GUARD OB CNCREW,03-30 10:00,7,2024-03-26 19
221,2024-03-26 23:45:52,518998676,12.62081,43.38209,298.3,12.7,299,0,9288899,ROCKY RUNNER,...,80,260,14,23,24,9.5,ARMS GUARDS ONBOARD:,03-31 02:00,8,2024-03-26 23
238,2024-03-27 05:21:31,636022416,12.73391,43.26151,153.2,11.2,153,0,9458779,LC PORTHOS,...,70,197,32,18,20,14.2,ARMED GUARDS ONBOARD,04-12 00:30,7,2024-03-27 05
245,2024-03-27 10:41:40,636019773,12.62407,43.31592,156.1,10.0,152,0,9493511,MAROULIO S,...,70,193,32,9,23,12.7,ARMGUARD ONBOARD,04-09 19:30,7,2024-03-27 10
268,2024-03-27 16:04:51,273389770,12.66260,43.34123,334.6,12.4,335,0,8520496,ORION-1,...,70,71,23,5,7,5.0,MKK RUS ARMED GUARD,04-25 12:00,7,2024-03-27 16
272,2024-03-27 17:49:33,563168200,12.64083,43.35536,316.1,17.4,322,0,9875379,X-PRESS ALTAIR,...,71,181,18,12,23,11.3,JEDDAH/3ARM GAR.ON B,03-29 09:00,7,2024-03-27 17
289,2024-03-27 21:23:54,636018917,12.61460,43.39102,299.4,14.9,299,0,9410648,EUROINTEGRITY,...,80,203,41,23,19,8.3,ARMED GUARD ONBOARD,04-01 00:00,8,2024-03-27 21
293,2024-03-27 22:12:17,371731000,12.74685,43.23586,157.0,10.4,157,0,9313761,ARSOS M,...,89,148,32,20,12,11.2,ARMGUARD ONBOARD,04-09 02:00,8,2024-03-27 22
294,2024-03-27 22:19:21,461000039,12.63929,43.35728,329.3,14.8,330,0,8604058,ALNAEMA,...,30,25,70,14,2,6.5,ARMED GUARD ON BOARD,05-30 24:60,3,2024-03-27 22
296,2024-03-27 23:06:35,626315000,12.74927,43.25508,155.0,10.4,157,0,9321706,MERCURY,...,80,229,46,22,26,16.0,ARM GUARDS ON BOARD,04-02 20:00,8,2024-03-27 23
298,2024-03-27 23:35:41,564220000,12.74303,43.26163,150.0,10.1,153,0,9300221,THOR MERCURY,...,70,172,17,19,13,12.7,ARMED GUARD ONBOARD,04-02 08:30,7,2024-03-27 23
320,2024-03-28 05:21:14,256545000,12.75916,43.25543,156.9,9.6,159,0,9442495,SANTA CRUZ,...,79,199,30,10,22,13.2,ARMGUARD ONBOARD,04-04 14:00,7,2024-03-28 05
336,2024-03-28 13:47:56,636020990,12.73553,43.26031,156.3,14.3,156,0,9337250,ADDISON,...,70,174,48,11,19,11.3,ARMED GUARD ONBOARD,04-02 07:00,7,2024-03-28 13
350,2024-03-28 19:48:35,248195000,12.60923,43.40212,300.4,14.3,300,0,9799616,CYCLADES,...,70,171,28,21,11,12.0,YESAL/ARMEDGUARD OB,03-29 19:00,7,2024-03-28 19
384,2024-03-29 09:20:32,538006239,12.74949,43.25985,154.0,9.5,156,0,9700225,AL BETROLEYA,...,80,146,37,12,20,8.5,ARMED GUARDS ONBOARD,04-03 05:00,8,2024-03-29 09
408,2024-03-29 19:43:46,636016824,12.61182,43.39773,299.0,14.7,300,0,9376309,GEMINI,...,70,165,25,21,11,11.4,ARM GUARDS ONBOARD,04-03 10:00,7,2024-03-29 19
412,2024-03-29 20:47:26,215882000,12.61140,43.39781,299.2,16.1,300,0,9479034,MALTEZA,...,70,162,28,19,13,6.1,ARMED GUARDS ONBOARD,03-22 14:00,7,2024-03-29 20
414,2024-03-29 21:13:02,626368000,12.62771,43.37262,306.9,17.1,313,0,9511521,MOSKOVSKY PROSPECT,...,89,209,41,24,20,9.0,ARMED GUARDS ONBOARD,04-17 23:00,8,2024-03-29 21
416,2024-03-29 21:34:35,636022303,12.62677,43.37307,303.0,17.3,302,0,9242223,SHUN TAI,...,80,207,40,18,24,8.7,ARM O/B CN CW/NO ISR,04-03 12:00,8,2024-03-29 21
425,2024-03-29 23:58:55,248376000,12.71415,43.27444,154.8,8.8,157,0,9805659,GENOA,...,70,174,26,12,20,12.9,ARMED GUARD ONBOARD,04-07 20:00,7,2024-03-29 23
442,2024-03-30 05:09:49,271043241,12.72597,43.26080,157.0,9.1,158,0,9108257,DENAK VOYAGER,...,70,192,32,13,19,13.8,INPRT\ARMED GUARDS,04-10 17:00,7,2024-03-30 05
444,2024-03-30 05:44:45,538009719,12.72085,43.27072,154.7,7.8,153,0,9506540,SAFEEN PRIDE,...,71,0,161,0,25,10.1,DJIBOUTI(ARM GUARDS),03-30 20:30,7,2024-03-30 05
449,2024-03-30 10:25:42,626391000,12.63229,43.36120,312.8,15.6,321,0,9339325,NS LAGUNA,...,89,209,40,6,38,8.0,RUSSIAN CREW /ARM GU,04-03 09:00,8,2024-03-30 10
452,2024-03-30 12:07:32,352003328,12.74338,43.26331,154.4,8.8,148,0,9284245,HARVEST LEGACY,...,70,163,27,21,11,12.0,ARMEDGUARD ONBOARD,04-07 01:00,7,2024-03-30 12
454,2024-03-30 12:55:11,314784000,12.60968,43.41143,299.0,15.5,300,0,9438614,POLAR LADY,...,79,200,25,22,10,7.3,ARM GUARD/RUS CREW,04-03 12:00,7,2024-03-30 12
461,2024-03-30 14:35:59,636021002,12.62319,43.37354,300.1,17.7,304,0,9354167,HAKUNA MATATA,...,79,224,80,27,13,14.0,ARMED GUARD ON BOARD,04-02 20:00,7,2024-03-30 14
475,2024-03-30 22:22:27,636021674,12.62364,43.36291,298.9,15.8,299,0,9597111,LILA CHENNAI,...,70,166,30,16,16,7.2,ARMED GUARDS ONBOARD,04-04 10:00,7,2024-03-30 22
484,2024-03-31 01:58:19,256596000,12.62358,43.37104,299.7,14.2,301,0,9518115,FANEROMENI,...,70,203,26,22,10,8.3,ARMED GUARDS ONBOARD,04-04 06:00,7,2024-03-31 01
500,2024-03-31 05:52:20,636016697,12.74583,43.25693,157.8,10.3,159,0,9497622,NEW VENTURE,...,70,200,29,9,23,14.2,ARMED GUARD ON BOARD,04-13 00:30,7,2024-03-31 05
505,2024-03-31 08:46:41,538010010,12.73860,43.26088,160.0,10.3,161,0,9345805,STAR AQUA,...,70,245,44,20,25,17.9,SGSIN ARMED GUARD OB,04-15 01:00,7,2024-03-31 08
525,2024-03-31 16:20:30,271043022,12.75189,43.26573,159.9,10.9,159,0,9581007,DUZGIT ENDEAVOUR,...,80,127,29,5,17,8.7,TURKISH CRW ARMEDGOB,04-05 17:00,8,2024-03-31 16
530,2024-03-31 17:56:39,538010108,12.62702,43.37475,302.3,12.3,302,0,9635690,HORUS,...,79,192,37,9,23,13.8,ARM GUARD ONBOARD,04-05 09:30,7,2024-03-31 17
545,2024-03-31 22:13:02,371412000,12.69815,43.32297,335.5,15.7,336,0,9529645,SUN 9,...,89,120,26,17,7,9.3,ARM GUARDS ON BOARD,04-05 02:00,8,2024-03-31 22

In [82]:
datamar2023[datamar2023["DESTINATION"].astype(str).str.contains("ARM")]

,DATE TIME (UTC),MMSI,LATITUDE,LONGITUDE,COURSE,SPEED,HEADING,NAVSTAT,IMO,NAME,...,AISTYPE,A,B,C,D,DRAUGHT,DESTINATION,ETA,AISTYPE_Class,bythehour
2,2023-03-24 01:25:32,341681000,12.63365,43.36387,306.0,12.4,313,0,9332810,ODYSSEUS,...,89,207,37,26,16,8.0,ARMGUARD_ONBOARD,03-28 10:00,8,2023-03-24 01
5,2023-03-24 01:53:36,319020000,12.60497,43.41365,298.5,12.9,298,0,1007469,LIGHTNING,...,37,13,39,5,4,3.2,ARMED SECURITY ON,03-28 06:00,3,2023-03-24 01
18,2023-03-24 04:37:57,311025400,12.61764,43.38929,298.0,12.4,297,0,9445708,SOPHIA Z,...,70,162,28,13,19,9.0,ARMEDGUARDS ONBOARD,03-28 10:00,7,2023-03-24 04
23,2023-03-24 05:05:54,636014481,12.75065,43.25825,154.0,11.8,157,0,9489302,CAPE ALEXANDROS,...,70,250,42,18,27,18.0,SGSIN ARMED GUARD,04-07 08:00,7,2023-03-24 05
27,2023-03-24 05:46:28,271040254,12.73717,43.27000,155.0,12.1,157,8,9364825,IDC DIAMOND,...,70,163,27,23,10,12.5,ARMED GUARD ONBOARD,04-04 05:00,7,2023-03-24 05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,2023-03-31 13:49:51,636022644,12.60705,43.40635,298.6,15.3,298,0,9283291,RUBY PHOENIX,...,89,200,44,32,10,9.1,ARMGUARDS ONBOARD,04-04 10:00,8,2023-03-31 13
1103,2023-03-31 13:55:30,241614000,12.75746,43.25186,153.4,12.3,155,0,9787194,MINERVA OLYMPIA,...,80,214,36,28,16,13.3,ARMED GUARDS O.B.,04-13 12:00,8,2023-03-31 13
1110,2023-03-31 14:31:21,405000383,12.61263,43.39604,297.8,14.6,297,0,9928839,MEGHNA PRESTIGE,...,70,170,30,24,12,6.8,ARMED GUARD OB,04-03 12:00,7,2023-03-31 14
1111,2023-03-31 14:44:49,235085287,12.74415,43.27081,156.2,7.3,158,0,9622291,FIDELIS,...,37,41,15,8,4,4.0,ARMED GUARDS ONBOARD,04-06 12:00,3,2023-03-31 14
1118,2023-03-31 15:19:26,240941000,12.75145,43.26343,156.0,12.0,158,0,9391282,KRITI RUBY,...,80,150,33,24,8,11.1,ARMED GUARDS ONBOARD,04-06 15:00,8,2023-03-31 15