In [1]:
import pandas as pd

In [5]:
zensus_data=pd.read_csv("../data/DeStatisData/1000A-3037_de_flat.csv",sep=";", dtype=str)

In [7]:
zensus_data.columns

Index(['statistics_code', 'statistics_label', 'time_code', 'time_label',
       'time', '1_variable_code', '1_variable_label',
       '1_variable_attribute_code', '1_variable_attribute_label',
       '2_variable_code', '2_variable_label', '2_variable_attribute_code',
       '2_variable_attribute_label', '3_variable_code', '3_variable_label',
       '3_variable_attribute_code', '3_variable_attribute_label',
       '4_variable_code', '4_variable_label', '4_variable_attribute_code',
       '4_variable_attribute_label', 'value', 'value_unit',
       'value_variable_code', 'value_variable_label', 'value_q'],
      dtype='object')

In [17]:
zensus_data_reduced=zensus_data[[
       '1_variable_attribute_code', '1_variable_attribute_label',
       '2_variable_attribute_label', '3_variable_attribute_label',
       '4_variable_attribute_label', 'value', 
       ]]
zensus_data_reduced.columns=["ARS","Name","Altersgruppe","Geschlecht","Nationalität","Zahl"]
zensus_data_reduced

,ARS,Name,Altersgruppe,Geschlecht,Nationalität,Zahl
0,091720122122,"Laufen, St",50 bis 59 Jahre,Insgesamt,Deutschland,879
1,130725258082,Prebberede,14 bis 17 Jahre,Weiblich,Deutschland,21
2,010545453101,Oster-Ohrstedt,60 bis 64 Jahre,Insgesamt,Deutschland,34
3,146250200200,"Großröhrsdorf, Stadt",40 bis 49 Jahre,Männlich,Deutschland,562
4,010535343019,Buchhorst,25 bis 29 Jahre,Männlich,Deutschland,3
...,...,...,...,...,...,...
582493,DG,Deutschland,40 bis 49 Jahre,Weiblich,Deutschland,4049165
582494,DG,Deutschland,30 bis 39 Jahre,Insgesamt,Deutschland,8573074
582495,DG,Deutschland,25 bis 29 Jahre,Insgesamt,Deutschland,3651679
582496,DG,Deutschland,14 bis 17 Jahre,Insgesamt,Deutschland,2673637
582497,DG,Deutschland,75 Jahre und älter,Insgesamt,Deutschland,8798933

In [22]:
zensus_data_reduced["AGS"]=zensus_data_reduced["ARS"].str[:-7]+zensus_data_reduced["ARS"].str[-3:]
zensus_data_reduced

/var/folders/jf/2jm804y50jv2nrhclzdyvvdh0000gn/T/ipykernel_36149/3554328173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zensus_data_reduced["AGS"]=zensus_data_reduced["ARS"].str[:-7]+zensus_data_reduced["ARS"].str[-3:]

,ARS,Name,Altersgruppe,Geschlecht,Nationalität,Zahl,AGS
0,091720122122,"Laufen, St",50 bis 59 Jahre,Insgesamt,Deutschland,879,09172122
1,130725258082,Prebberede,14 bis 17 Jahre,Weiblich,Deutschland,21,13072082
2,010545453101,Oster-Ohrstedt,60 bis 64 Jahre,Insgesamt,Deutschland,34,01054101
3,146250200200,"Großröhrsdorf, Stadt",40 bis 49 Jahre,Männlich,Deutschland,562,14625200
4,010535343019,Buchhorst,25 bis 29 Jahre,Männlich,Deutschland,3,01053019
...,...,...,...,...,...,...,...
582493,DG,Deutschland,40 bis 49 Jahre,Weiblich,Deutschland,4049165,DG
582494,DG,Deutschland,30 bis 39 Jahre,Insgesamt,Deutschland,8573074,DG
582495,DG,Deutschland,25 bis 29 Jahre,Insgesamt,Deutschland,3651679,DG
582496,DG,Deutschland,14 bis 17 Jahre,Insgesamt,Deutschland,2673637,DG
582497,DG,Deutschland,75 Jahre und älter,Insgesamt,Deutschland,8798933,DG

In [25]:
stadt_data=pd.read_excel("../data/DeStatisData/AuszugGV3QAktuell.xlsx", dtype=str, sheet_name="Onlineprodukt_Gemeinden30092024")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.