In [1]:
import pandas as pd
import glob

In [2]:
files_mass=glob.glob('../data/massshootingtracker/*.json')

In [3]:
dfs = [pd.read_json(f) for f in files_mass]
all_data_mass = pd.concat(dfs, ignore_index=True)
all_data_mass

,date,killed,wounded,city,state,names,sources
0,2016-01-06 00:00:00+00:00,3,1,Lakeland,FL,"[Andrew Joseph, Jonathan Alcegaire, Jamaal Smi...",[http://www.abcactionnews.com/news/region-polk...
1,2016-01-07 00:00:00+00:00,1,3,Memphis,TN,[Unknown],[http://www.wmcactionnews5.com/story/30914037/...
2,2016-01-08 00:00:00+00:00,1,4,Chicago (North Lawndale),IL,[Unknown],[http://chicago.cbslocal.com/2016/01/08/five-w...
3,2016-01-08 00:00:00+00:00,0,4,Washington,DC,[Unknown],[http://www.nbcwashington.com/news/local/Easte...
4,2016-01-11 00:00:00+00:00,1,4,Wilmington,DE,[Unknown],[http://www.delawareonline.com/story/news/crim...
...,...,...,...,...,...,...,...
6883,2013-12-29 00:00:00+00:00,2,2,Miami-Dade,FL,[Ivan Wong],[http://www.nbcmiami.com/news/2-Killed-2-Injur...
6884,2013-12-30 00:00:00+00:00,4,0,Pleasant Valley,NY,[Abbas Lodhi],[http://www.cbsnews.com/news/cops-ny-pharmacis...
6885,2013-12-31 00:00:00+00:00,0,5,Brooklyn,NY,[Unknown],[http://www.nydailynews.com/new-york/brooklyn/...
6886,2013-12-31 00:00:00+00:00,4,0,Fontana,CA,[Suspect unidentified],[http://ktla.com/2013/12/31/four-people-includ...
6887,2013-12-31 00:00:00+00:00,2,2,Barberton,OH,[Unknown],[http://www.ohio.com/news/break-news/two-teens...

In [4]:
# Dictionary mapping US state abbreviations to full names
us_state_abbrev_to_name = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri',
    'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
    'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio',
    'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont',
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming',
    'DC': 'District of Columbia'
}

def state_abbrev_to_longform(abbrev):
    """Convert a US state abbreviation to its longform name."""
    return us_state_abbrev_to_name.get(abbrev.upper(), abbrev)

# Example usage:
# state_abbrev_to_longform('CA')  # Returns 'California'

In [5]:
all_data_mass['state_long'] = all_data_mass['state'].apply(state_abbrev_to_longform)
all_data_mass

,date,killed,wounded,city,state,names,sources,state_long
0,2016-01-06 00:00:00+00:00,3,1,Lakeland,FL,"[Andrew Joseph, Jonathan Alcegaire, Jamaal Smi...",[http://www.abcactionnews.com/news/region-polk...,Florida
1,2016-01-07 00:00:00+00:00,1,3,Memphis,TN,[Unknown],[http://www.wmcactionnews5.com/story/30914037/...,Tennessee
2,2016-01-08 00:00:00+00:00,1,4,Chicago (North Lawndale),IL,[Unknown],[http://chicago.cbslocal.com/2016/01/08/five-w...,Illinois
3,2016-01-08 00:00:00+00:00,0,4,Washington,DC,[Unknown],[http://www.nbcwashington.com/news/local/Easte...,District of Columbia
4,2016-01-11 00:00:00+00:00,1,4,Wilmington,DE,[Unknown],[http://www.delawareonline.com/story/news/crim...,Delaware
...,...,...,...,...,...,...,...,...
6883,2013-12-29 00:00:00+00:00,2,2,Miami-Dade,FL,[Ivan Wong],[http://www.nbcmiami.com/news/2-Killed-2-Injur...,Florida
6884,2013-12-30 00:00:00+00:00,4,0,Pleasant Valley,NY,[Abbas Lodhi],[http://www.cbsnews.com/news/cops-ny-pharmacis...,New York
6885,2013-12-31 00:00:00+00:00,0,5,Brooklyn,NY,[Unknown],[http://www.nydailynews.com/new-york/brooklyn/...,New York
6886,2013-12-31 00:00:00+00:00,4,0,Fontana,CA,[Suspect unidentified],[http://ktla.com/2013/12/31/four-people-includ...,California
6887,2013-12-31 00:00:00+00:00,2,2,Barberton,OH,[Unknown],[http://www.ohio.com/news/break-news/two-teens...,Ohio

In [6]:
all_data_mass["date_pure"]=all_data_mass["date"].astype(str).str.slice(0,10)
all_data_mass["date_pure"]

0       2016-01-06
1       2016-01-07
2       2016-01-08
3       2016-01-08
4       2016-01-11
           ...
6883    2013-12-29
6884    2013-12-30
6885    2013-12-31
6886    2013-12-31
6887    2013-12-31
Name: date_pure, Length: 6888, dtype: object

In [7]:
all_data_mass.sort_values(by="date_pure", ascending=False, inplace=True)
all_data_mass

,date,killed,wounded,city,state,names,sources,state_long,date_pure
1240,2025-09-10 00:00:00+00:00,1,2,Evergreen,CO,[(Preliminary) JUVENILE VICTIMS (3 high school...,[https://abcnews.go.com/US/shooting-reported-c...,Colorado,2025-09-10
1241,2025-09-09 00:00:00+00:00,0,6,San Francisco,CA,[Gunman unknown],[https://www.sfgate.com/news/bayarea/article/s...,California,2025-09-09
1242,2025-09-09 00:00:00+00:00,1,3,Santa Ana,CA,"[JUVENILE VICTIMS (13-yr-old boy killed, 3 oth...",[https://ktla.com/news/local-news/13-year-old-...,California,2025-09-09
1243,2025-09-07 00:00:00+00:00,0,4,Memphis,TN,"[JUVENILE VICTIMS (4 minors, ages 3, 5, 15, & ...",[https://wreg.com/news/local/shooting-investig...,Tennessee,2025-09-07
1244,2025-09-07 00:00:00+00:00,0,6,Cleveland,OH,[JUVENILE VICTIM (16-yr-old boy among the woun...,[https://www.news5cleveland.com/news/local-new...,Ohio,2025-09-07
...,...,...,...,...,...,...,...,...,...
6553,2013-01-05 00:00:00+00:00,4,0,Aurora,CO,[Sonny Archuleta],[http://www.dailydemocrat.com/ci_22322664/auro...,Colorado,2013-01-05
6551,2013-01-01 00:00:00+00:00,0,4,McKeesport,PA,[Julian Sims],[http://pittsburgh.cbslocal.com/2013/01/01/4-p...,Pennsylvania,2013-01-01
6550,2013-01-01 00:00:00+00:00,1,4,Lorain,OH,"[Desmen Noble, Damian Bell]",[http://www.wkyc.com/news/article/276177/3/Lor...,Ohio,2013-01-01
6549,2013-01-01 00:00:00+00:00,1,3,Hawthorne,CA,[Unknown],[http://losangeles.cbslocal.com/2013/01/01/man...,California,2013-01-01
6552,2013-01-01 00:00:00+00:00,2,3,Sacramento,CA,[Carlito Montoya],[http://sacramento.cbslocal.com/2013/01/01/4-s...,California,2013-01-01

In [8]:
all_data_mass["year"]=pd.to_datetime(all_data_mass["date_pure"]).dt.year
all_data_mass

,date,killed,wounded,city,state,names,sources,state_long,date_pure,year
1240,2025-09-10 00:00:00+00:00,1,2,Evergreen,CO,[(Preliminary) JUVENILE VICTIMS (3 high school...,[https://abcnews.go.com/US/shooting-reported-c...,Colorado,2025-09-10,2025
1241,2025-09-09 00:00:00+00:00,0,6,San Francisco,CA,[Gunman unknown],[https://www.sfgate.com/news/bayarea/article/s...,California,2025-09-09,2025
1242,2025-09-09 00:00:00+00:00,1,3,Santa Ana,CA,"[JUVENILE VICTIMS (13-yr-old boy killed, 3 oth...",[https://ktla.com/news/local-news/13-year-old-...,California,2025-09-09,2025
1243,2025-09-07 00:00:00+00:00,0,4,Memphis,TN,"[JUVENILE VICTIMS (4 minors, ages 3, 5, 15, & ...",[https://wreg.com/news/local/shooting-investig...,Tennessee,2025-09-07,2025
1244,2025-09-07 00:00:00+00:00,0,6,Cleveland,OH,[JUVENILE VICTIM (16-yr-old boy among the woun...,[https://www.news5cleveland.com/news/local-new...,Ohio,2025-09-07,2025
...,...,...,...,...,...,...,...,...,...,...
6553,2013-01-05 00:00:00+00:00,4,0,Aurora,CO,[Sonny Archuleta],[http://www.dailydemocrat.com/ci_22322664/auro...,Colorado,2013-01-05,2013
6551,2013-01-01 00:00:00+00:00,0,4,McKeesport,PA,[Julian Sims],[http://pittsburgh.cbslocal.com/2013/01/01/4-p...,Pennsylvania,2013-01-01,2013
6550,2013-01-01 00:00:00+00:00,1,4,Lorain,OH,"[Desmen Noble, Damian Bell]",[http://www.wkyc.com/news/article/276177/3/Lor...,Ohio,2013-01-01,2013
6549,2013-01-01 00:00:00+00:00,1,3,Hawthorne,CA,[Unknown],[http://losangeles.cbslocal.com/2013/01/01/man...,California,2013-01-01,2013
6552,2013-01-01 00:00:00+00:00,2,3,Sacramento,CA,[Carlito Montoya],[http://sacramento.cbslocal.com/2013/01/01/4-s...,California,2013-01-01,2013

In [9]:
all_data_mass.year.unique()

array([2025, 2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015,
       2014, 2013], dtype=int32)

In [10]:
all_data_mass_grouped=all_data_mass.groupby(["year"])[["killed","wounded"]].sum()

In [11]:
all_data_mass_grouped["victims"]=all_data_mass_grouped["killed"]+all_data_mass_grouped["wounded"]
all_data_mass_grouped

      killed  wounded  victims
year
2013     467     1176     1643
2014     364     1213     1577
2015     469     1387     1856
2016     610     1794     2404
2017     601     1993     2594
2018     539     1556     2095
2019     632     1912     2544
2020     684     2812     3496
2021     941     3182     4123
2022     884     3008     3892
2023     936     2974     3910
2024     697     2371     3068
2025     401     1481     1882

In [12]:
all_data_mass_grouped.to_csv("massshooting_victims_per_year.csv")

In [13]:
files_gun=glob.glob('../data/gunviolencearchive/*.csv')
files_gun

['../data/gunviolencearchive/export-398c17cd-15ff-49f9-aa6f-455f892b20d2.csv',
 '../data/gunviolencearchive/export-cc163df5-14f8-427c-9de5-98356c6c6855.csv',
 '../data/gunviolencearchive/export-3fc5582c-7fdc-452e-b4f4-9d24febfb364.csv',
 '../data/gunviolencearchive/export-1d0e5095-cb0e-4a07-8af2-790bfb7c34ef.csv',
 '../data/gunviolencearchive/export-ea830955-56dc-4491-924a-e46dbcef53ca.csv',
 '../data/gunviolencearchive/export-b69d24a5-deed-4588-a525-f7ca7f2d86a5.csv',
 '../data/gunviolencearchive/export-6197bc70-53da-4805-a372-c56d5ae2034f.csv',
 '../data/gunviolencearchive/export-1f719e0e-fa79-42a2-aab9-94a55e31266b.csv',
 '../data/gunviolencearchive/export-d10d6b30-fa71-43ae-b008-7e8ba189753e.csv',
 '../data/gunviolencearchive/export-75320e29-19ed-4ed4-a224-5996f3bc00dc.csv',
 '../data/gunviolencearchive/export-2b7d1eca-da95-4ee9-9c0f-214b2795e7ba.csv',
 '../data/gunviolencearchive/export-3f244ab4-4425-485b-a1a0-de9dcaccd85f.csv']

In [14]:
dfs = [pd.read_csv(f) for f in files_gun]
all_data_guns = pd.concat(dfs, ignore_index=True)
all_data_guns

,Incident ID,Incident Date,State,City Or County,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,Operations
0,476321,"December 31, 2015",Louisiana,New Orleans,1900 block of Amelia Street,0,5,0,1,1,NaN
1,473882,"December 27, 2015",Tennessee,Jackson,North Parkway,0,4,0,0,0,NaN
2,472268,"December 26, 2015",Pennsylvania,Philadelphia,4210 Macalester St,0,4,0,0,2,NaN
3,471867,"December 25, 2015",Florida,Jacksonville,Franklin and Odessa,0,4,0,0,0,NaN
4,471860,"December 25, 2015",Alabama,Mobile,785 Schillinger Rd S,0,4,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5478,2794194,"January 4, 2024",Iowa,Perry,1200 18th St,2,5,1,0,0,NaN
5479,2792720,"January 1, 2024",Missouri,Springfield,5485 W Sunshine St,0,4,0,0,1,NaN
5480,2791411,"January 1, 2024",California,Los Angeles,2350 Porter St,2,8,0,0,0,NaN
5481,2840907,"January 1, 2024",Illinois,Maywood,1500 block of St Charles Rd,2,2,0,0,1,NaN
5482,2792829,"January 1, 2024",Louisiana,Baton Rouge,4600 block of W Brookstown Dr,1,3,0,0,3,NaN

In [15]:
all_data_guns["date_pure"]=pd.to_datetime(all_data_guns["Incident Date"],format="%B %d, %Y").astype(str)
all_data_guns.sort_values(by="date_pure", ascending=False, inplace=True)
all_data_guns

,Incident ID,Incident Date,State,City Or County,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,Operations,date_pure
2623,3304563,"September 9, 2025",California,San Francisco,1555 Burke St,0,6,0,0,0,NaN,2025-09-09
2624,3304605,"September 8, 2025",California,Santa Ana,400 S Susan St,1,3,0,0,0,NaN,2025-09-08
2625,3303073,"September 7, 2025",Ohio,Cleveland,1051 W 10th St,0,5,0,1,1,NaN,2025-09-07
2626,3302748,"September 7, 2025",Texas,Cleveland,2843 County Rd 5018,2,4,0,0,0,NaN,2025-09-07
2627,3303232,"September 7, 2025",Tennessee,Memphis,4100 block of Rosewind Cir,0,4,0,0,0,NaN,2025-09-07
...,...,...,...,...,...,...,...,...,...,...,...,...
1640,95579,"January 12, 2014",Illinois,Elgin,300 block of North St,0,5,0,0,0,NaN,2014-01-12
1642,95146,"January 11, 2014",Mississippi,Jackson,3430 W. Capitol Street,0,4,0,0,0,NaN,2014-01-11
1643,94514,"January 5, 2014",Pennsylvania,Erie,829 Parade St,1,3,0,0,0,NaN,2014-01-05
1644,92704,"January 3, 2014",New York,Queens,Farmers Boulevard and 133rd Avenue,1,3,0,0,0,NaN,2014-01-03
1645,92194,"January 1, 2014",Virginia,Norfolk,Rockingham St and Berkley Ave Ext,2,2,0,0,0,NaN,2014-01-01

In [16]:
all_data_guns["year"]=pd.to_datetime(all_data_guns["date_pure"]).dt.year
all_data_guns_grouped=all_data_guns.groupby(["year"])[["Victims Killed","Victims Injured"]].sum()
all_data_guns_grouped["Victims"]=all_data_guns_grouped["Victims Killed"]+all_data_guns_grouped["Victims Injured"]
all_data_guns_grouped

      Victims Killed  Victims Injured  Victims
year
2014             249             1079     1328
2015             336             1319     1655
2016             428             1530     1958
2017             417             1784     2201
2018             347             1308     1655
2019             428             1690     2118
2020             495             2524     3019
2021             668             2783     3451
2022             637             2644     3281
2023             723             2700     3423
2024             511             2200     2711
2025             253             1362     1615

In [17]:
all_data_guns_grouped.to_csv("gunviolence_victims_per_year.csv")

In [18]:
matching_data=pd.merge(all_data_mass, all_data_guns, left_on=['date_pure','state_long'], right_on=['date_pure','State'],how="inner")
matching_data

,date,killed,wounded,city,state,names,sources,state_long,date_pure,year_x,...,State,City Or County,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,Operations,year_y
0,2025-09-09 00:00:00+00:00,0,6,San Francisco,CA,[Gunman unknown],[https://www.sfgate.com/news/bayarea/article/s...,California,2025-09-09,2025,...,California,San Francisco,1555 Burke St,0,6,0,0,0,NaN,2025
1,2025-09-09 00:00:00+00:00,1,3,Santa Ana,CA,"[JUVENILE VICTIMS (13-yr-old boy killed, 3 oth...",[https://ktla.com/news/local-news/13-year-old-...,California,2025-09-09,2025,...,California,San Francisco,1555 Burke St,0,6,0,0,0,NaN,2025
2,2025-09-07 00:00:00+00:00,0,4,Memphis,TN,"[JUVENILE VICTIMS (4 minors, ages 3, 5, 15, & ...",[https://wreg.com/news/local/shooting-investig...,Tennessee,2025-09-07,2025,...,Tennessee,Memphis,4100 block of Rosewind Cir,0,4,0,0,0,NaN,2025
3,2025-09-07 00:00:00+00:00,0,6,Cleveland,OH,[JUVENILE VICTIM (16-yr-old boy among the woun...,[https://www.news5cleveland.com/news/local-new...,Ohio,2025-09-07,2025,...,Ohio,Cleveland,1051 W 10th St,0,5,0,1,1,NaN,2025
4,2025-09-07 00:00:00+00:00,2,4,Colony Ridge,TX,"[Victim fatalities: Alexis Jasso (30), Francis...",[https://bluebonnetnews.com/2025/09/07/one-dea...,Texas,2025-09-07,2025,...,Texas,Cleveland,2843 County Rd 5018,2,4,0,0,0,NaN,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5960,2014-01-14 00:00:00+00:00,0,4,Los Angeles,CA,[Unknown],[http://www.nbclosangeles.com/news/local/Multi...,California,2014-01-14,2014,...,California,Los Angeles,400 block of W 86th St,0,4,0,0,0,NaN,2014
5961,2014-01-12 00:00:00+00:00,0,5,Huntsville,AL,[Unknown],[http://whnt.com/2014/01/13/15-year-old-arrest...,Alabama,2014-01-12,2014,...,Alabama,Huntsville,2998 University Dr,0,5,0,0,0,NaN,2014
5962,2014-01-12 00:00:00+00:00,0,5,Elgin,Il,[Unknown],[http://www.dailyherald.com/article/20140112/n...,Illinois,2014-01-12,2014,...,Illinois,Elgin,300 block of North St,0,5,0,0,0,NaN,2014
5963,2014-01-03 00:00:00+00:00,1,3,New York (Queens),NY,[Unknown],[http://www.nytimes.com/2014/01/04/nyregion/gu...,New York,2014-01-03,2014,...,New York,Queens,Farmers Boulevard and 133rd Avenue,1,3,0,0,0,NaN,2014
5964,2014-01-01 00:00:00+00:00,2,2,Norfolk,VA,[Unknown],[http://wtkr.com/2014/01/01/two-men-dead-in-no...,Virginia,2014-01-01,2014,...,Virginia,Norfolk,Rockingham St and Berkley Ave Ext,2,2,0,0,0,NaN,2014

In [19]:
matching_data=matching_data.drop_duplicates(subset=['date_pure','state_long',"killed","wounded","Victims Killed","Victims Injured"])

In [20]:
matching_data["lower_killed"]=matching_data[["killed","Victims Killed"]].min(axis=1)
matching_data["lower_wounded"]=matching_data[["wounded","Victims Injured"]].min(axis=1)
matching_data["lower_victims"]=matching_data["lower_killed"]+matching_data["lower_wounded"]
matching_data

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_81546/794765787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_data["lower_killed"]=matching_data[["killed","Victims Killed"]].min(axis=1)
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_81546/794765787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_data["lower_wounded"]=matching_data[["wounded","Victims Injured"]].min(axis=1)
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_81546/794765787.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_data["lower_victims"]=matching_data["lower_killed"]+matching_data["lower_wounded"]

,date,killed,wounded,city,state,names,sources,state_long,date_pure,year_x,...,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,Operations,year_y,lower_killed,lower_wounded,lower_victims
0,2025-09-09 00:00:00+00:00,0,6,San Francisco,CA,[Gunman unknown],[https://www.sfgate.com/news/bayarea/article/s...,California,2025-09-09,2025,...,0,6,0,0,0,NaN,2025,0,6,6
1,2025-09-09 00:00:00+00:00,1,3,Santa Ana,CA,"[JUVENILE VICTIMS (13-yr-old boy killed, 3 oth...",[https://ktla.com/news/local-news/13-year-old-...,California,2025-09-09,2025,...,0,6,0,0,0,NaN,2025,0,3,3
2,2025-09-07 00:00:00+00:00,0,4,Memphis,TN,"[JUVENILE VICTIMS (4 minors, ages 3, 5, 15, & ...",[https://wreg.com/news/local/shooting-investig...,Tennessee,2025-09-07,2025,...,0,4,0,0,0,NaN,2025,0,4,4
3,2025-09-07 00:00:00+00:00,0,6,Cleveland,OH,[JUVENILE VICTIM (16-yr-old boy among the woun...,[https://www.news5cleveland.com/news/local-new...,Ohio,2025-09-07,2025,...,0,5,0,1,1,NaN,2025,0,5,5
4,2025-09-07 00:00:00+00:00,2,4,Colony Ridge,TX,"[Victim fatalities: Alexis Jasso (30), Francis...",[https://bluebonnetnews.com/2025/09/07/one-dea...,Texas,2025-09-07,2025,...,2,4,0,0,0,NaN,2025,2,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5960,2014-01-14 00:00:00+00:00,0,4,Los Angeles,CA,[Unknown],[http://www.nbclosangeles.com/news/local/Multi...,California,2014-01-14,2014,...,0,4,0,0,0,NaN,2014,0,4,4
5961,2014-01-12 00:00:00+00:00,0,5,Huntsville,AL,[Unknown],[http://whnt.com/2014/01/13/15-year-old-arrest...,Alabama,2014-01-12,2014,...,0,5,0,0,0,NaN,2014,0,5,5
5962,2014-01-12 00:00:00+00:00,0,5,Elgin,Il,[Unknown],[http://www.dailyherald.com/article/20140112/n...,Illinois,2014-01-12,2014,...,0,5,0,0,0,NaN,2014,0,5,5
5963,2014-01-03 00:00:00+00:00,1,3,New York (Queens),NY,[Unknown],[http://www.nytimes.com/2014/01/04/nyregion/gu...,New York,2014-01-03,2014,...,1,3,0,0,0,NaN,2014,1,3,4
5964,2014-01-01 00:00:00+00:00,2,2,Norfolk,VA,[Unknown],[http://wtkr.com/2014/01/01/two-men-dead-in-no...,Virginia,2014-01-01,2014,...,2,2,0,0,0,NaN,2014,2,2,4

In [21]:
matching_data_grouped=matching_data.groupby(["year_y"])[["lower_killed","lower_wounded","lower_victims"]].sum()

In [22]:
political_violence_data=pd.read_csv('../data/political_violence.csv')
political_violence_data["date_pure"]=pd.to_datetime(political_violence_data["Incident Date"],format="%B %d, %Y").astype(str)
political_violence_data

,Incident ID,Incident Date,State,City Or County,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,Operations,date_pure
0,3304748,"September 10, 2025",Utah,Orem,800 W University Pkwy,1,0,0,0,0,NaN,2025-09-10
1,3289442,"August 15, 2025",Iowa,Denison,210 S 17th St,0,0,1,0,0,NaN,2025-08-15
2,3282146,"August 8, 2025",Georgia,Atlanta,1600 Clifton Rd NE,1,0,1,0,0,NaN,2025-08-08
3,3274189,"July 19, 2025",Alabama,Andalusia,S Cotton St,0,0,0,0,0,NaN,2025-07-19
4,3302643,"July 10, 2025",California,Carpinteria,5601 Casitas Pass Rd,0,0,0,1,0,NaN,2025-07-10
...,...,...,...,...,...,...,...,...,...,...,...,...
348,756292,"January 20, 2017",Washington,Seattle,4063 Spokane Lane,0,1,0,0,2,NaN,2017-01-20
349,721717,"December 7, 2016",Oklahoma,Cordell,1302 N Grant St,1,0,0,0,1,NaN,2016-12-07
350,699031,"November 10, 2016",California,Los Angeles,NaN,0,0,0,0,0,NaN,2016-11-10
351,630307,"August 14, 2016",Wisconsin,Milwaukee,N Sherman Blvd and W Burleigh St,0,1,0,0,0,NaN,2016-08-14
352,375022,"July 16, 2015",Tennessee,Chattanooga,4051 Amnicola Hwy,5,2,1,0,0,NaN,2015-07-16

In [23]:
political_violence_data["year"]=pd.to_datetime(political_violence_data["date_pure"]).dt.year
political_violence_data

,Incident ID,Incident Date,State,City Or County,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,Operations,date_pure,year
0,3304748,"September 10, 2025",Utah,Orem,800 W University Pkwy,1,0,0,0,0,NaN,2025-09-10,2025
1,3289442,"August 15, 2025",Iowa,Denison,210 S 17th St,0,0,1,0,0,NaN,2025-08-15,2025
2,3282146,"August 8, 2025",Georgia,Atlanta,1600 Clifton Rd NE,1,0,1,0,0,NaN,2025-08-08,2025
3,3274189,"July 19, 2025",Alabama,Andalusia,S Cotton St,0,0,0,0,0,NaN,2025-07-19,2025
4,3302643,"July 10, 2025",California,Carpinteria,5601 Casitas Pass Rd,0,0,0,1,0,NaN,2025-07-10,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,756292,"January 20, 2017",Washington,Seattle,4063 Spokane Lane,0,1,0,0,2,NaN,2017-01-20,2017
349,721717,"December 7, 2016",Oklahoma,Cordell,1302 N Grant St,1,0,0,0,1,NaN,2016-12-07,2016
350,699031,"November 10, 2016",California,Los Angeles,NaN,0,0,0,0,0,NaN,2016-11-10,2016
351,630307,"August 14, 2016",Wisconsin,Milwaukee,N Sherman Blvd and W Burleigh St,0,1,0,0,0,NaN,2016-08-14,2016
352,375022,"July 16, 2015",Tennessee,Chattanooga,4051 Amnicola Hwy,5,2,1,0,0,NaN,2015-07-16,2015

In [24]:
political_violence_data_victims=political_violence_data.groupby(["year"])[["Victims Killed","Victims Injured"]].sum()
political_violence_data_victims["Victims Total"]=political_violence_data_victims["Victims Killed"]+political_violence_data_victims["Victims Injured"]
political_violence_data_victims

      Victims Killed  Victims Injured  Victims Total
year
2015               5                2              7
2016               1                1              2
2017               1                9             10
2018               0                0              0
2019               0                0              0
2020              17               96            113
2021               3                1              4
2022               5               12             17
2023               1                3              4
2024               3               13             16
2025              10                6             16

In [25]:
political_violence_data_victims.to_csv("political_violence_data_victims_one_source.csv")

In [26]:
political_shootings=pd.merge(matching_data, political_violence_data, left_on=['date_pure','state_long'], right_on=['date_pure','State'])
political_shootings

,date,killed,wounded,city,state,names,sources,state_long,date_pure,year_x,...,State_y,City Or County_y,Address_y,Victims Killed_y,Victims Injured_y,Suspects Killed_y,Suspects Injured_y,Suspects Arrested_y,Operations_y,year
0,2025-06-14 00:00:00+00:00,2,2,Brooklyn Park,MN,"[POLITICAL VIOLENCE, Victim fatalities: MN Spe...",[https://www.bbc.com/news/articles/cgj83q2e562...,Minnesota,2025-06-14,2025,...,Minnesota,Minneapolis (Brooklyn Park),8710 Windsor Terrace N,2,2,0,0,1,NaN,2025
1,2025-06-14 00:00:00+00:00,1,4,Nashville,TN,[DOMESTIC+JUVENILE VICTIMS (man shot his girlf...,[https://www.wbir.com/article/news/crime/4-yea...,Tennessee,2025-06-14,2025,...,Tennessee,Nashville,Jefferson St and 7th Ave N,0,0,0,0,1,NaN,2025
2,2024-07-13 00:00:00+00:00,2,3,Butler,PA,"[Victim fatalities: Corey Comperatore (50), (2...",[https://www.cnn.com/politics/live-news/electi...,Pennsylvania,2024-07-13,2024,...,Pennsylvania,Butler,625 Evans City Rd,1,3,1,0,0,NaN,2024
3,2024-05-25 00:00:00+00:00,0,5,San Fernando,CA,[Suspect: Martin Rodriguez (61)],[https://www.dailynews.com/2024/05/26/man-shoo...,California,2024-05-25,2024,...,California,Davis,350 Mrak Hall Dr,0,0,0,0,0,NaN,2024
4,2024-04-27 00:00:00+00:00,0,4,Daytona Beach,FL,[Suspect: Misael Maldonado (21)],[https://www.clickorlando.com/news/local/2024/...,Florida,2024-04-27,2024,...,Florida,Lakeland,7036 Green Rd,0,2,1,0,0,NaN,2024
5,2023-10-21 00:00:00+00:00,1,3,Borger,TX,[Suspect: Seth Preas (25)],[https://abc7amarillo.com/newsletter-daily/mul...,Texas,2023-10-21,2023,...,Texas,Houston,901 Bagby St,0,0,0,0,1,NaN,2023
6,2023-10-21 00:00:00+00:00,1,3,Borger,TX,[Suspect: Seth Preas (25)],[https://abc7amarillo.com/newsletter-daily/mul...,Texas,2023-10-21,2023,...,Texas,Houston,901 Bagby St,0,0,0,0,1,NaN,2023
7,2023-10-21 00:00:00+00:00,0,4,College Station,TX,[Suspect: Tayshon Franklin-Jones (21)],[https://www.kbtx.com/2023/10/21/four-people-s...,Texas,2023-10-21,2023,...,Texas,Houston,901 Bagby St,0,0,0,0,1,NaN,2023
8,2023-10-21 00:00:00+00:00,0,4,College Station,TX,[Suspect: Tayshon Franklin-Jones (21)],[https://www.kbtx.com/2023/10/21/four-people-s...,Texas,2023-10-21,2023,...,Texas,Houston,901 Bagby St,0,0,0,0,1,NaN,2023
9,2023-02-01 00:00:00+00:00,0,5,Los Angeles,CA,"[JUVENILE VICTIMS (two juveniles, both 15, amo...",[https://www.latimes.com/california/story/2023...,California,2023-02-01,2023,...,California,San Francisco,2655 Balboa St,0,0,0,0,1,NaN,2023
10,2022-09-20 00:00:00+00:00,2,3,Niles,MI,[JUVENILE VICTIM (15-yr-old girl and 18-yr-old...,[https://www.wndu.com/2022/09/21/two-teens-kil...,Michigan,2022-09-20,2022,...,Michigan,Lake Odessa,1062 W Bippley Rd,0,1,0,0,1,NaN,2022
11,2022-05-15 00:00:00+00:00,1,5,Laguna Woods,CA,[Gunman: David W. Chou (hate crime)],[https://www.nbclosangeles.com/news/local/mult...,California,2022-05-15,2022,...,California,Laguna Woods,24301 El Toro Rd,1,5,0,0,1,NaN,2022
12,2022-02-19 00:00:00+00:00,1,5,Portland,OR,[Gunman: Benjamin Jeffrey Smith],[https://www.heraldsun.com/news/nation-world/n...,Oregon,2022-02-19,2022,...,Oregon,Portland,NE 55th Ave and NE Hassalo St,1,5,0,1,1,NaN,2022
13,2021-08-22 00:00:00+00:00,0,5,Portland,OR,[Gunman unknown (victims were shot at a vigil ...,[https://katu.com/news/local/five-wounded-by-g...,Oregon,2021-08-22,2021,...,Oregon,Portland,SW 2nd Ave and SW Yamhill St,0,0,0,0,1,NaN,2021
14,2020-07-25 00:00:00+00:00,2,3,Denver,CO,[Gunman unknown],[https://www.denverpost.com/2020/07/26/five-pe...,Colorado,2020-07-25,2020,...,Colorado,Aurora,I-225,0,2,0,0,1,NaN,2020
15,2020-07-25 00:00:00+00:00,0,4,Dallas,TX,[Gunman unknown],[https://www.nbcdfw.com/news/local/police-four...,Texas,2020-07-25,2020,...,Texas,Weatherford,115 College Ave,0,0,0,0,1,NaN,2020
16,2020-07-25 00:00:00+00:00,0,4,Dallas,TX,[Gunman unknown],[https://www.nbcdfw.com/news/local/police-four...,Texas,2020-07-25,2020,...,Texas,Austin,300 Congress Ave,1,0,0,0,0,NaN,2020
17,2020-06-06 00:00:00+00:00,1,4,Sacramento,CA,"[JUVENILE VICTIM (16-yr-old boy), gunman unknown]",[https://sacramento.cbslocal.com/2020/06/06/4-...,California,2020-06-06,2020,...,California,Ben Lomond,120 Waldeberg Dr,1,2,0,1,1,NaN,2020
18,2020-06-02 00:00:00+00:00,0,4,Chicago,IL,[Gunman unknown],[https://chicago.suntimes.com/crime/2020/6/3/2...,Illinois,2020-06-02,2020,...,Illinois,Rock Island,31st Ave and 11th St,0,0,0,0,3,NaN,2020
19,2020-06-02 00:00:00+00:00,0,5,Racine,WI,"[JUVENILE VICTIMS (4 juveniles, including 13-y...",[https://journaltimes.com/news/local/crime-and...,Wisconsin,2020-06-02,2020,...,Wisconsin,Madison,State St,0,0,0,0,0,NaN,2020
20,2020-06-01 00:00:00+00:00,0,4,St. Louis,MO,[Gunman unknown (victims were all police offic...,[https://www.kmov.com/news/4-st-louis-police-o...,Missouri,2020-06-01,2020,...,Missouri,Saint Louis,1915 Olive St,0,4,0,0,0,NaN,2020
21,2020-05-30 00:00:00+00:00,1,4,Houston,TX,"[JUVENILE VICTIMS (12- and 2-yr-old children),...",[https://www.khou.com/article/news/crime/multi...,Texas,2020-05-30,2020,...,Texas,Austin,I-35 and E 8th St,0,2,0,0,0,NaN,2020
22,2020-05-30 00:00:00+00:00,1,4,Houston,TX,"[JUVENILE VICTIMS (12- and 2-yr-old children),...",[https://www.khou.com/article/news/crime/multi...,Texas,2020-05-30,2020,...,Texas,Austin,715 E 8th St,0,1,0,0,0,NaN,2020
23,2020-05-30 00:00:00+00:00,1,4,Houston,TX,"[JUVENILE VICTIMS (12- and 2-yr-old children),...",[https://www.khou.com/article/news/crime/multi...,Texas,2020-05-30,2020,...,Texas,Lubbock,19th St and University Ave,0,0,0,0,1,NaN,2020
24,2020-05-30 00:00:00+00:00,1,4,Houston,TX,"[JUVENILE VICTIMS (12- and 2-yr-old children),...",[https://www.khou.com/article/news/crime/multi...,Texas,2020-05-30,2020,...,Texas,Dallas,1500 block of Main St,0,1,0,0,0,NaN,2020
25,2020-05-28 00:00:00+00:00,0,7,Louisville,KY,[Gunman unknown (victims were protesting a pol...,[https://www.courier-journal.com/story/news/po...,Kentucky,2020-05-28,2020,...,Kentucky,Louisville,601 W Jefferson St,0,7,0,0,0,NaN,2020
26,2017-08-24 00:00:00+00:00,4,0,Glasgow Village,MO,[Unknown (victims included 10-yr-old boy)],[http://www.stltoday.com/news/local/crime-and-...,Missouri,2017-08-24,2017,...,Missouri,Ozark,NaN,0,0,0,0,1,NaN,2017
27,2017-06-14 00:00:00+00:00,1,4,Alexandria,VA,"[James T. Hodgkinson (killed), wounded victims...",[https://www.washingtonpost.com/local/public-s...,Virginia,2017-06-14,2017,...,Virginia,Alexandria,420 E Monroe Ave,0,5,1,0,0,NaN,2017
28,2015-07-16 00:00:00+00:00,6,2,Chattanooga,TN,[Muhammad Youssef Abdulazeez],[http://www.cbsnews.com/news/report-police-off...,Tennessee,2015-07-16,2015,...,Tennessee,Chattanooga,4051 Amnicola Hwy,5,2,1,0,0,NaN,2015

In [27]:
political_shootings=political_shootings.drop_duplicates(subset=['date_pure', 'state_long'])
political_shootings

,date,killed,wounded,city,state,names,sources,state_long,date_pure,year_x,...,State_y,City Or County_y,Address_y,Victims Killed_y,Victims Injured_y,Suspects Killed_y,Suspects Injured_y,Suspects Arrested_y,Operations_y,year
0,2025-06-14 00:00:00+00:00,2,2,Brooklyn Park,MN,"[POLITICAL VIOLENCE, Victim fatalities: MN Spe...",[https://www.bbc.com/news/articles/cgj83q2e562...,Minnesota,2025-06-14,2025,...,Minnesota,Minneapolis (Brooklyn Park),8710 Windsor Terrace N,2,2,0,0,1,NaN,2025
1,2025-06-14 00:00:00+00:00,1,4,Nashville,TN,[DOMESTIC+JUVENILE VICTIMS (man shot his girlf...,[https://www.wbir.com/article/news/crime/4-yea...,Tennessee,2025-06-14,2025,...,Tennessee,Nashville,Jefferson St and 7th Ave N,0,0,0,0,1,NaN,2025
2,2024-07-13 00:00:00+00:00,2,3,Butler,PA,"[Victim fatalities: Corey Comperatore (50), (2...",[https://www.cnn.com/politics/live-news/electi...,Pennsylvania,2024-07-13,2024,...,Pennsylvania,Butler,625 Evans City Rd,1,3,1,0,0,NaN,2024
3,2024-05-25 00:00:00+00:00,0,5,San Fernando,CA,[Suspect: Martin Rodriguez (61)],[https://www.dailynews.com/2024/05/26/man-shoo...,California,2024-05-25,2024,...,California,Davis,350 Mrak Hall Dr,0,0,0,0,0,NaN,2024
4,2024-04-27 00:00:00+00:00,0,4,Daytona Beach,FL,[Suspect: Misael Maldonado (21)],[https://www.clickorlando.com/news/local/2024/...,Florida,2024-04-27,2024,...,Florida,Lakeland,7036 Green Rd,0,2,1,0,0,NaN,2024
5,2023-10-21 00:00:00+00:00,1,3,Borger,TX,[Suspect: Seth Preas (25)],[https://abc7amarillo.com/newsletter-daily/mul...,Texas,2023-10-21,2023,...,Texas,Houston,901 Bagby St,0,0,0,0,1,NaN,2023
9,2023-02-01 00:00:00+00:00,0,5,Los Angeles,CA,"[JUVENILE VICTIMS (two juveniles, both 15, amo...",[https://www.latimes.com/california/story/2023...,California,2023-02-01,2023,...,California,San Francisco,2655 Balboa St,0,0,0,0,1,NaN,2023
10,2022-09-20 00:00:00+00:00,2,3,Niles,MI,[JUVENILE VICTIM (15-yr-old girl and 18-yr-old...,[https://www.wndu.com/2022/09/21/two-teens-kil...,Michigan,2022-09-20,2022,...,Michigan,Lake Odessa,1062 W Bippley Rd,0,1,0,0,1,NaN,2022
11,2022-05-15 00:00:00+00:00,1,5,Laguna Woods,CA,[Gunman: David W. Chou (hate crime)],[https://www.nbclosangeles.com/news/local/mult...,California,2022-05-15,2022,...,California,Laguna Woods,24301 El Toro Rd,1,5,0,0,1,NaN,2022
12,2022-02-19 00:00:00+00:00,1,5,Portland,OR,[Gunman: Benjamin Jeffrey Smith],[https://www.heraldsun.com/news/nation-world/n...,Oregon,2022-02-19,2022,...,Oregon,Portland,NE 55th Ave and NE Hassalo St,1,5,0,1,1,NaN,2022
13,2021-08-22 00:00:00+00:00,0,5,Portland,OR,[Gunman unknown (victims were shot at a vigil ...,[https://katu.com/news/local/five-wounded-by-g...,Oregon,2021-08-22,2021,...,Oregon,Portland,SW 2nd Ave and SW Yamhill St,0,0,0,0,1,NaN,2021
14,2020-07-25 00:00:00+00:00,2,3,Denver,CO,[Gunman unknown],[https://www.denverpost.com/2020/07/26/five-pe...,Colorado,2020-07-25,2020,...,Colorado,Aurora,I-225,0,2,0,0,1,NaN,2020
15,2020-07-25 00:00:00+00:00,0,4,Dallas,TX,[Gunman unknown],[https://www.nbcdfw.com/news/local/police-four...,Texas,2020-07-25,2020,...,Texas,Weatherford,115 College Ave,0,0,0,0,1,NaN,2020
17,2020-06-06 00:00:00+00:00,1,4,Sacramento,CA,"[JUVENILE VICTIM (16-yr-old boy), gunman unknown]",[https://sacramento.cbslocal.com/2020/06/06/4-...,California,2020-06-06,2020,...,California,Ben Lomond,120 Waldeberg Dr,1,2,0,1,1,NaN,2020
18,2020-06-02 00:00:00+00:00,0,4,Chicago,IL,[Gunman unknown],[https://chicago.suntimes.com/crime/2020/6/3/2...,Illinois,2020-06-02,2020,...,Illinois,Rock Island,31st Ave and 11th St,0,0,0,0,3,NaN,2020
19,2020-06-02 00:00:00+00:00,0,5,Racine,WI,"[JUVENILE VICTIMS (4 juveniles, including 13-y...",[https://journaltimes.com/news/local/crime-and...,Wisconsin,2020-06-02,2020,...,Wisconsin,Madison,State St,0,0,0,0,0,NaN,2020
20,2020-06-01 00:00:00+00:00,0,4,St. Louis,MO,[Gunman unknown (victims were all police offic...,[https://www.kmov.com/news/4-st-louis-police-o...,Missouri,2020-06-01,2020,...,Missouri,Saint Louis,1915 Olive St,0,4,0,0,0,NaN,2020
21,2020-05-30 00:00:00+00:00,1,4,Houston,TX,"[JUVENILE VICTIMS (12- and 2-yr-old children),...",[https://www.khou.com/article/news/crime/multi...,Texas,2020-05-30,2020,...,Texas,Austin,I-35 and E 8th St,0,2,0,0,0,NaN,2020
25,2020-05-28 00:00:00+00:00,0,7,Louisville,KY,[Gunman unknown (victims were protesting a pol...,[https://www.courier-journal.com/story/news/po...,Kentucky,2020-05-28,2020,...,Kentucky,Louisville,601 W Jefferson St,0,7,0,0,0,NaN,2020
26,2017-08-24 00:00:00+00:00,4,0,Glasgow Village,MO,[Unknown (victims included 10-yr-old boy)],[http://www.stltoday.com/news/local/crime-and-...,Missouri,2017-08-24,2017,...,Missouri,Ozark,NaN,0,0,0,0,1,NaN,2017
27,2017-06-14 00:00:00+00:00,1,4,Alexandria,VA,"[James T. Hodgkinson (killed), wounded victims...",[https://www.washingtonpost.com/local/public-s...,Virginia,2017-06-14,2017,...,Virginia,Alexandria,420 E Monroe Ave,0,5,1,0,0,NaN,2017
28,2015-07-16 00:00:00+00:00,6,2,Chattanooga,TN,[Muhammad Youssef Abdulazeez],[http://www.cbsnews.com/news/report-police-off...,Tennessee,2015-07-16,2015,...,Tennessee,Chattanooga,4051 Amnicola Hwy,5,2,1,0,0,NaN,2015

In [28]:
political_shootings.to_csv("list_political_shootings.csv")

In [29]:
political_shootings_grouped=political_shootings.groupby("year")[["lower_killed","lower_wounded","lower_victims"]].sum()
political_shootings_grouped

      lower_killed  lower_wounded  lower_victims
year
2015             5              2              7
2017             4              4              8
2020             4             35             39
2021             0              5              5
2022             4             13             17
2023             0              8              8
2024             1             12             13
2025             3              6              9

In [30]:
for i in range(2015,2025):
    if i not in political_shootings_grouped.index:
        political_shootings_grouped.loc[i] = [0,0, 0]
political_shootings_grouped

      lower_killed  lower_wounded  lower_victims
year
2015             5              2              7
2017             4              4              8
2020             4             35             39
2021             0              5              5
2022             4             13             17
2023             0              8              8
2024             1             12             13
2025             3              6              9
2016             0              0              0
2018             0              0              0
2019             0              0              0

In [31]:
political_shootings_grouped.sort_values(by="year", inplace=True)

In [32]:
political_shootings_grouped

      lower_killed  lower_wounded  lower_victims
year
2015             5              2              7
2016             0              0              0
2017             4              4              8
2018             0              0              0
2019             0              0              0
2020             4             35             39
2021             0              5              5
2022             4             13             17
2023             0              8              8
2024             1             12             13
2025             3              6              9

In [35]:
political_shootings_grouped[["lower_killed","lower_wounded"]].to_csv("two_sources_victims.csv")

In [37]:
political_shootings.to_csv('two_sources_political_shootings.csv', index=False)

In [122]:
all_sources_victims=pd.concat([all_data_mass_grouped["victims"],all_data_guns_grouped["Victims"]],axis=1)
all_sources_victims=all_sources_victims.dropna()
all_sources_victims.columns=["Mass Shooting Tracker","Gun Violence Archive"]
all_sources_victims

      Mass Shooting Tracker  Gun Violence Archive
year
2014                   1577                1328.0
2015                   1856                1655.0
2016                   2404                1958.0
2017                   2594                2201.0
2018                   2095                1655.0
2019                   2544                2118.0
2020                   3496                3019.0
2021                   4123                3451.0
2022                   3892                3281.0
2023                   3910                3423.0
2024                   3068                2711.0
2025                   1882                1615.0

In [123]:
all_sources_victims.to_csv("all_sources_victims.csv")

In [71]:
all_data_guns_grouped

      Victims Killed  Victims Injured  Victims
year
2014             249             1079     1328
2015             336             1319     1655
2016             428             1530     1958
2017             417             1784     2201
2018             347             1308     1655
2019             428             1690     2118
2020             495             2524     3019
2021             668             2783     3451
2022             637             2644     3281
2023             723             2700     3423
2024             511             2200     2711
2025             253             1362     1615

In [72]:
matching_data_grouped

        killed  wounded  victims
year_y
2014       205      885     1090
2015       325     1267     1592
2016       477     1637     2114
2017       439     1817     2256
2018       377     1420     1797
2019       482     1770     2252
2020       561     2747     3308
2021       785     3190     3975
2022       750     2996     3746
2023       824     3018     3842
2024       609     2397     3006
2025       298     1472     1770