In [2]:
import pandas as pd
import io
import requests
import glob
import asyncio
from playwright.async_api import async_playwright
import nest_asyncio
# Allow nested event loops in Jupyter Notebook
nest_asyncio.apply()
from bs4 import BeautifulSoup
import re
import calendar
import locale
import yfinance
# Set the locale to German
import pygsheets

from anthropic import Anthropic

In [3]:
async def tablefinder(url):
    # Launch a browser instance
    async with async_playwright() as p:
        browser = await p.chromium.launch(headless=True)
        context = await browser.new_context()
        page = await context.new_page()

        # Navigate to the website
        await page.goto(url)
        await page.wait_for_timeout(10000)
        # Find all tables on the page
        tables = await page.query_selector_all('table')
        print(f"Found {len(tables)} tables on the page.")

        # Extract the HTML content of each table
        table_data = []
        for i, table in enumerate(tables):
            table_html = await table.inner_html()
            table_data.append(table_html)

        # Close the browser
        await browser.close()
        return table_data

In [4]:
tables=await tablefinder('https://www.tradecomplianceresourcehub.com/2025/05/05/trump-2-0-tariff-tracker/')

Found 2 tables on the page.

In [5]:
soup = BeautifulSoup(tables[1], 'html.parser')

# Select the table
tr = soup.find_all('tr')
outer_array=[]
for i, row in enumerate(tr[2:]):
    cells = row.find_all(['td', 'th'])
    cell_data = [cell.get_text(strip=True) for cell in cells]  # Extract text content
    print(f"Row {i + 1}: {cell_data}")
    outer_array.append(cell_data)
outer_array

Row 1: ['Aluminum', 'Implemented (effective Mar. 12, 2025)', '25%', 'See HTSUS Chapter 99, Notes 19(g) and 19(i)-(k)Effective Apr. 4:includes beer (2203.00.00, HTSUS) and empty aluminum cans (7612.90.10, HTSUS)', 'See related publications belowReciprocal tariff exception: aluminum and derivative products subject to Section 232 tariffs are not subject to the reciprocal tariffs“Stacking” exception:goods that are also subject to (a) the Section 232 tariffs on automobiles or automobile parts or (b) the tariffs on Canadian- and Mexican-origin goods are not subject to the Section 232 tariffs on aluminum and derivative productsAll country exclusions from the existing Section 232 tariffs on aluminum and derivative aluminum articles are revoked.Individual exclusions and General Authorized Exclusions are also being revoked.Increases the tariff rate from 10% to 25%.Expands the list of derivative products subject to the tariffs (effective Mar. 12, 2025).Proclamation 10895(Feb. 10, 2025)']
Row 2: ['Automobiles', 'Implemented (effective Apr. 3, 2025)', '25%', 'See HTSUS Chapter 99, notes 33(a)-(e)', 'Reciprocal tariff exception:automobiles subjectto Section 232 tariffs are not subject to the reciprocal tariffs“Stacking” exception:automobiles subject to Section 232 tariffs are not subject to (a) the tariffs on Canadian- and Mexican-origin goods, (b) any applicable Section 232 tariffs on aluminum and derivative products, or (c) any applicable Section 232 tariffs on steel and derivative productsFor automobiles that qualify for preferential treatment under the USMCA, the tariff will apply to the non-U.S. content.Exec. Order 14289(Apr. 29, 2025)Proclamation10908(Mar. 26, 2025)']
Row 3: ['Automobile parts', 'Implemented (effective May 3, 2025)', '25%', 'See HTSUS Chapter 99, notes 33(g)-(h)', 'Reciprocal tariff exception:automobileparts subject to Section 232 tariffs at the time of import are not subject to the reciprocal tariffs“Stacking” exception:automobile parts subject to Section 232 tariffs are not subject to (a) the tariffs on Canadian- and Mexican-origin goods, (b) any applicable Section 232 tariffs on aluminum or derivative products, or (c) any applicable Section 232 tariffs on steel or derivative productsParts that qualify for preferential treatment under the USMCA will initially be exempt. The Commerce Department will establish a process for applying the tariff exclusively to the value of the non-U.S. content in these parts and then publish notice of that process in theFederal Register.By June 24, 2025, the Commerce Department will establish a process for including additional parts within the scope of this tariff.Exec. Order 14289(Apr. 29, 2025)Proclamation 10908(Mar. 26, 2025)']
Row 4: ['Copper', 'Threatened (Feb. 25, 2025)', '25%', 'TBD', 'Commerce initiated a Section 232 investigation. A report is due to the President by November 22, 2025.Exec. Order 14220(Feb. 25, 2025)']
Row 5: ['Integrated circuits', 'Threatened (Jan. 31, 2025)', 'TBD', 'TBD', 'See related publications belowSee semiconductors, semiconductor equipment, and derivative products belowOn April 1, Commerce initiated a Section 232 investigation to determine the effects on national security of imports of legacy chips, leading-edge chips, & microelectronics.']
Row 6: ['Lumber, timber, and derivative products', 'Threatened (Mar. 3, 2025)', '25%', 'TBD', 'Commerce initiated a Section 232 investigation. A report is due to the President by November 26, 2025.Exec. Order 14223(Mar. 1, 2025)']
Row 7: ['Maritime cargo handling equipment', 'Threatened (Apr. 9, 2025)', '20–100%100%', 'Containers, chassis, and chassis parts (HTSUS 8609.00.00, 8716.390090, 8716.90.30, 8716.90.50)Ship-to-shore gantry cranes (HTSUS 8426.19.00)', 'As part of the USTR’sSection 301 investigation into China’s targeting of the maritime, logistics, and shipbuilding sectors, President Trump directed the USTR to consider tariffs on (a) ship-to-shore cranes manufactured, assembled, or made using Chinese-origin components, or manufactured anywhere in the world by a company owned, controlled, or substantially influenced by a Chinese national; and (b) other cargo handling equipment.The USTR is acceptingcommentson theproposed tariffsuntil May 19. The proposed tariffs cover both products of China, as well as STS cranes manufactured anywhere in the world using Chinese-origin components or by a company owned, controlled, or substantially influenced by a Chinese national.Exec. Order 14269(Apr. 9, 2025)']
Row 8: ['Movies', 'Threatened (May 4, 2025)', '100%', 'All foreign-produced movies', 'Trump authorized Commerce and the USTR to initiate an investigation to implement the tariffs.']
Row 9: ['Oil and gas', 'Threatened to start Feb. 18, 2025 (Jan. 31, 2025)', 'TBD', 'TBD', '']
Row 10: ['Pharmaceuticals, pharmaceutical ingredients, and derivative products', 'Threatened (Feb. 18, 2025)', '25% or higher', 'TBD', 'See related publications belowOn April 1, Commerce initiated a Section 232 investigation to determine the effects on national security of imports of pharmaceuticals, pharmaceutical ingredients, and derivative products.']
Row 11: ['Processed critical minerals and derivative products', 'Threatened (Apr. 15, 2025)', 'TBD', 'TBD', 'See related publications belowOn April 22, Commerce initiated a Section 232 investigation to determine the effects on the national security of imports of processed critical minerals, as well as their derivative products.“Processed critical minerals” arecritical mineralsthat have undergone activities that occur after critical mineral ore is extracted from a mine up through its conversion into a metal, metal powder, or a master alloy.\xa0 “Derivative products” include all goods that incorporate processed critical minerals as inputs, including semi-finished goods (e.g., semiconductor wafers, anodes, cathodes) and final products (e.g., permanent magnets, motors, electric vehicles, batteries, smartphones, microprocessors, radar systems, wind turbines and their components, advanced optical devices).Exec. Order 14272(Apr. 16, 2025)']
Row 12: ['Semiconductors, semiconductor manufacturing equipment, and derivative products', 'Threatened (Feb. 18, 2025)', '25% or higher', 'TBD', 'See related publications belowOn April 1, Commerce initiated a Section 232 investigation to determine the effects on national security of imports of semiconductors; semiconductor manufacturing equipment; and derivative products, including downstream products that contain semiconductors.']
Row 13: ['Steel', 'Implemented (effective Mar. 12, 2025)', '25%', 'See HTSUS Chapter 99, notes 16(j), 16(l)-(m)', 'See related publications belowReciprocal tariff exception:steel andderivative products subject to Section 232 tariffs are not subject to the reciprocal tariffs“Stacking” exception:goods that are also subject to (a) the Section 232 tariffs on automobiles or automobile parts or (b) the tariffs on Canadian- and Mexican-origin goods are not subject to the Section 232 tariffs on steel and derivative productsAll country exclusions from the existing Section 232 tariffs on aluminum and derivative aluminum articles are revoked. Individual exclusions and General Authorized Exclusions are also being revoked.Expands the list of derivative products subject to the tariffs (effective Mar. 12, 2025).Exec. Order 14289(Apr. 29, 2025)Proclamation 10896(Feb. 10, 2025)']
Row 14: ['Trucks and truck parts', 'Threatened (Apr. 22, 2025)', 'TBD', 'TBD', 'See related publications belowOn Aril 22, Commerce initiated a Section 232 investigation to determine the effects on the national security of imports of medium-duty trucks, heavy-duty, trucks, and medium- and heavy-duty truck parts, and their derivative products.']

[['Aluminum',
  'Implemented (effective Mar. 12, 2025)',
  '25%',
  'See HTSUS Chapter 99, Notes 19(g) and 19(i)-(k)Effective Apr. 4:includes beer (2203.00.00, HTSUS) and empty aluminum cans (7612.90.10, HTSUS)',
  'See related publications belowReciprocal tariff exception: aluminum and derivative products subject to Section 232 tariffs are not subject to the reciprocal tariffs“Stacking” exception:goods that are also subject to (a) the Section 232 tariffs on automobiles or automobile parts or (b) the tariffs on Canadian- and Mexican-origin goods are not subject to the Section 232 tariffs on aluminum and derivative productsAll country exclusions from the existing Section 232 tariffs on aluminum and derivative aluminum articles are revoked.Individual exclusions and General Authorized Exclusions are also being revoked.Increases the tariff rate from 10% to 25%.Expands the list of derivative products subject to the tariffs (effective Mar. 12, 2025).Proclamation 10895(Feb. 10, 2025)'],
 ['Automobiles',
  'Implemented (effective Apr. 3, 2025)',
  '25%',
  'See HTSUS Chapter 99, notes 33(a)-(e)',
  'Reciprocal tariff exception:automobiles subjectto Section 232 tariffs are not subject to the reciprocal tariffs“Stacking” exception:automobiles subject to Section 232 tariffs are not subject to (a) the tariffs on Canadian- and Mexican-origin goods, (b) any applicable Section 232 tariffs on aluminum and derivative products, or (c) any applicable Section 232 tariffs on steel and derivative productsFor automobiles that qualify for preferential treatment under the USMCA, the tariff will apply to the non-U.S. content.Exec. Order 14289(Apr. 29, 2025)Proclamation10908(Mar. 26, 2025)'],
 ['Automobile parts',
  'Implemented (effective May 3, 2025)',
  '25%',
  'See HTSUS Chapter 99, notes 33(g)-(h)',
  'Reciprocal tariff exception:automobileparts subject to Section 232 tariffs at the time of import are not subject to the reciprocal tariffs“Stacking” exception:automobile parts subject to Section 232 tariffs are not subject to (a) the tariffs on Canadian- and Mexican-origin goods, (b) any applicable Section 232 tariffs on aluminum or derivative products, or (c) any applicable Section 232 tariffs on steel or derivative productsParts that qualify for preferential treatment under the USMCA will initially be exempt. The Commerce Department will establish a process for applying the tariff exclusively to the value of the non-U.S. content in these parts and then publish notice of that process in theFederal Register.By June 24, 2025, the Commerce Department will establish a process for including additional parts within the scope of this tariff.Exec. Order 14289(Apr. 29, 2025)Proclamation 10908(Mar. 26, 2025)'],
 ['Copper',
  'Threatened (Feb. 25, 2025)',
  '25%',
  'TBD',
  'Commerce initiated a Section 232 investigation. A report is due to the President by November 22, 2025.Exec. Order 14220(Feb. 25, 2025)'],
 ['Integrated circuits',
  'Threatened (Jan. 31, 2025)',
  'TBD',
  'TBD',
  'See related publications belowSee semiconductors, semiconductor equipment, and derivative products belowOn April 1, Commerce initiated a Section 232 investigation to determine the effects on national security of imports of legacy chips, leading-edge chips, & microelectronics.'],
 ['Lumber, timber, and derivative products',
  'Threatened (Mar. 3, 2025)',
  '25%',
  'TBD',
  'Commerce initiated a Section 232 investigation. A report is due to the President by November 26, 2025.Exec. Order 14223(Mar. 1, 2025)'],
 ['Maritime cargo handling equipment',
  'Threatened (Apr. 9, 2025)',
  '20–100%100%',
  'Containers, chassis, and chassis parts (HTSUS 8609.00.00, 8716.390090, 8716.90.30, 8716.90.50)Ship-to-shore gantry cranes (HTSUS 8426.19.00)',
  'As part of the USTR’sSection 301 investigation into China’s targeting of the maritime, logistics, and shipbuilding sectors, President Trump directed the USTR to consider tariffs on (a) ship-to-shore cranes manufactured, assembled, or made using Chinese-origin components, or manufactured anywhere in the world by a company owned, controlled, or substantially influenced by a Chinese national; and (b) other cargo handling equipment.The USTR is acceptingcommentson theproposed tariffsuntil May 19. The proposed tariffs cover both products of China, as well as STS cranes manufactured anywhere in the world using Chinese-origin components or by a company owned, controlled, or substantially influenced by a Chinese national.Exec. Order 14269(Apr. 9, 2025)'],
 ['Movies',
  'Threatened (May 4, 2025)',
  '100%',
  'All foreign-produced movies',
  'Trump authorized Commerce and the USTR to initiate an investigation to implement the tariffs.'],
 ['Oil and gas',
  'Threatened to start Feb. 18, 2025 (Jan. 31, 2025)',
  'TBD',
  'TBD',
  ''],
 ['Pharmaceuticals, pharmaceutical ingredients, and derivative products',
  'Threatened (Feb. 18, 2025)',
  '25% or higher',
  'TBD',
  'See related publications belowOn April 1, Commerce initiated a Section 232 investigation to determine the effects on national security of imports of pharmaceuticals, pharmaceutical ingredients, and derivative products.'],
 ['Processed critical minerals and derivative products',
  'Threatened (Apr. 15, 2025)',
  'TBD',
  'TBD',
  'See related publications belowOn April 22, Commerce initiated a Section 232 investigation to determine the effects on the national security of imports of processed critical minerals, as well as their derivative products.“Processed critical minerals” arecritical mineralsthat have undergone activities that occur after critical mineral ore is extracted from a mine up through its conversion into a metal, metal powder, or a master alloy.\xa0 “Derivative products” include all goods that incorporate processed critical minerals as inputs, including semi-finished goods (e.g., semiconductor wafers, anodes, cathodes) and final products (e.g., permanent magnets, motors, electric vehicles, batteries, smartphones, microprocessors, radar systems, wind turbines and their components, advanced optical devices).Exec. Order 14272(Apr. 16, 2025)'],
 ['Semiconductors, semiconductor manufacturing equipment, and derivative products',
  'Threatened (Feb. 18, 2025)',
  '25% or higher',
  'TBD',
  'See related publications belowOn April 1, Commerce initiated a Section 232 investigation to determine the effects on national security of imports of semiconductors; semiconductor manufacturing equipment; and derivative products, including downstream products that contain semiconductors.'],
 ['Steel',
  'Implemented (effective Mar. 12, 2025)',
  '25%',
  'See HTSUS Chapter 99, notes 16(j), 16(l)-(m)',
  'See related publications belowReciprocal tariff exception:steel andderivative products subject to Section 232 tariffs are not subject to the reciprocal tariffs“Stacking” exception:goods that are also subject to (a) the Section 232 tariffs on automobiles or automobile parts or (b) the tariffs on Canadian- and Mexican-origin goods are not subject to the Section 232 tariffs on steel and derivative productsAll country exclusions from the existing Section 232 tariffs on aluminum and derivative aluminum articles are revoked. Individual exclusions and General Authorized Exclusions are also being revoked.Expands the list of derivative products subject to the tariffs (effective Mar. 12, 2025).Exec. Order 14289(Apr. 29, 2025)Proclamation 10896(Feb. 10, 2025)'],
 ['Trucks and truck parts',
  'Threatened (Apr. 22, 2025)',
  'TBD',
  'TBD',
  'See related publications belowOn Aril 22, Commerce initiated a Section 232 investigation to determine the effects on the national security of imports of medium-duty trucks, heavy-duty, trucks, and medium- and heavy-duty truck parts, and their derivative products.']]

In [6]:
product_based_df=pd.DataFrame(outer_array)
product_based_df

,0,1,2,3,4
0,Aluminum,"Implemented (effective Mar. 12, 2025)",25%,"See HTSUS Chapter 99, Notes 19(g) and 19(i)-(k...",See related publications belowReciprocal tarif...
1,Automobiles,"Implemented (effective Apr. 3, 2025)",25%,"See HTSUS Chapter 99, notes 33(a)-(e)",Reciprocal tariff exception:automobiles subjec...
2,Automobile parts,"Implemented (effective May 3, 2025)",25%,"See HTSUS Chapter 99, notes 33(g)-(h)",Reciprocal tariff exception:automobileparts su...
3,Copper,"Threatened (Feb. 25, 2025)",25%,TBD,Commerce initiated a Section 232 investigation...
4,Integrated circuits,"Threatened (Jan. 31, 2025)",TBD,TBD,See related publications belowSee semiconducto...
5,"Lumber, timber, and derivative products","Threatened (Mar. 3, 2025)",25%,TBD,Commerce initiated a Section 232 investigation...
6,Maritime cargo handling equipment,"Threatened (Apr. 9, 2025)",20–100%100%,"Containers, chassis, and chassis parts (HTSUS ...",As part of the USTR’sSection 301 investigation...
7,Movies,"Threatened (May 4, 2025)",100%,All foreign-produced movies,Trump authorized Commerce and the USTR to init...
8,Oil and gas,"Threatened to start Feb. 18, 2025 (Jan. 31, 2025)",TBD,TBD,
9,"Pharmaceuticals, pharmaceutical ingredients, a...","Threatened (Feb. 18, 2025)",25% or higher,TBD,"See related publications belowOn April 1, Comm..."
10,Processed critical minerals and derivative pro...,"Threatened (Apr. 15, 2025)",TBD,TBD,"See related publications belowOn April 22, Com..."
11,"Semiconductors, semiconductor manufacturing eq...","Threatened (Feb. 18, 2025)",25% or higher,TBD,"See related publications belowOn April 1, Comm..."
12,Steel,"Implemented (effective Mar. 12, 2025)",25%,"See HTSUS Chapter 99, notes 16(j), 16(l)-(m)",See related publications belowReciprocal tarif...
13,Trucks and truck parts,"Threatened (Apr. 22, 2025)",TBD,TBD,"See related publications belowOn Aril 22, Comm..."

In [8]:
claudekeyfile=pd.read_csv("/Users/halukamaier-borst/Documents/anthropoenic.csv")
claude_key=claudekeyfile.APIKey.iloc[0]

In [9]:
client = Anthropic(
    api_key=claude_key
)

In [14]:
def translate_row(testtext):
    """
    Translates the given text from English to German using the Anthropic API.
    """
    # Call the Anthropic API for translation
    message = client.messages.create(
        model="claude-3-7-sonnet-20250219",
        max_tokens=500,
        temperature=0.2,
        system="You are a translator with expertise in English and German. You are translating a technical document that is about tariffs that will be imposed. Your task is to translate the bits of text that I give you from English to German",
        messages=[
            {
                "role": "user",
                "content": [
                    {
                        "type": "text",
                        "text":f"{testtext}--> Deutsch"
                    }
                ]
            }
        ]
    )
    reply=message.content[0].text
    germanrow=reply.split('!')
    return germanrow

In [15]:
german_array=[]
for index, row in product_based_df.iterrows():
    string = '!'.join(row.tolist())
    translated_row = translate_row(string)
    german_array.append(translated_row)
german_array

[['Aluminium',
  'Umgesetzt (wirksam ab 12. März 2025)',
  '25%',
  'Siehe HTSUS Kapitel 99, Anmerkungen 19(g) und 19(i)-(k)Wirksam ab 4. April: umfasst Bier (2203.00.00, HTSUS) und leere Aluminiumdosen (7612.90.10, HTSUS)',
  'Siehe verwandte Veröffentlichungen untenAusnahme bei gegenseitigen Zöllen: Aluminium und Folgeprodukte, die den Zöllen nach Abschnitt 232 unterliegen, unterliegen nicht den gegenseitigen Zöllen"Stacking"-Ausnahme: Waren, die auch (a) den Zöllen nach Abschnitt 232 auf Automobile oder Autoteile oder (b) den Zöllen auf Waren kanadischen und mexikanischen Ursprungs unterliegen, unterliegen nicht den Zöllen nach Abschnitt 232 auf Aluminium und AluminiumfolgeprodukteAlle Länderausschlüsse von den bestehenden Zöllen nach Abschnitt 232 auf Aluminium und Aluminiumfolgeprodukte werden aufgehoben.Individuelle Ausschlüsse und Allgemeine Genehmigte Ausschlüsse werden ebenfalls aufgehoben.Erhöht den Zollsatz von 10% auf 25%.Erweitert die Liste der Folgeprodukte, die den Zöllen unterliegen (wirksam ab 12. März 2025).Proklamation 10895 (10. Februar 2025)'],
 ['Kraftfahrzeuge',
  'Umgesetzt (wirksam ab 3. Apr. 2025)',
  '25%',
  'Siehe HTSUS Kapitel 99, Anmerkungen 33(a)-(e)',
  'Ausnahme bei gegenseitigen Zöllen: Kraftfahrzeuge, die Abschnitt-232-Zöllen unterliegen, unterliegen nicht den gegenseitigen Zöllen"Stacking"-Ausnahme: Kraftfahrzeuge, die Abschnitt-232-Zöllen unterliegen, unterliegen nicht (a) den Zöllen auf Waren kanadischen und mexikanischen Ursprungs, (b) anwendbaren Abschnitt-232-Zöllen auf Aluminium und daraus abgeleitete Produkte oder (c) anwendbaren Abschnitt-232-Zöllen auf Stahl und daraus abgeleitete ProdukteFür Kraftfahrzeuge, die für eine Vorzugsbehandlung im Rahmen des USMCA qualifiziert sind, gilt der Zoll für den nicht-US-amerikanischen Anteil.Durchführungsverordnung 14289 (29. Apr. 2025)Proklamation 10908 (26. März 2025)'],
 ['# Automobilteile',
  'Umgesetzt (wirksam ab 3. Mai 2025)',
  '25%',
  'Siehe HTSUS Kapitel 99, Anmerkungen 33(g)-(h)',
  'Ausnahme bei gegenseitigen Zöllen: Automobilteile, die zum Zeitpunkt der Einfuhr Abschnitt-232-Zöllen unterliegen, sind nicht von den gegenseitigen Zöllen betroffen\n\n"Stacking"-Ausnahme: Automobilteile, die Abschnitt-232-Zöllen unterliegen, sind nicht betroffen von (a) den Zöllen auf Waren kanadischen und mexikanischen Ursprungs, (b) anwendbaren Abschnitt-232-Zöllen auf Aluminium oder daraus abgeleitete Produkte oder (c) anwendbaren Abschnitt-232-Zöllen auf Stahl oder daraus abgeleitete Produkte\n\nTeile, die für eine Vorzugsbehandlung im Rahmen des USMCA qualifiziert sind, werden zunächst ausgenommen. Das Handelsministerium wird ein Verfahren einrichten, um den Zoll ausschließlich auf den Wert des nicht-US-amerikanischen Anteils dieser Teile anzuwenden, und dann eine Mitteilung über dieses Verfahren im Federal Register veröffentlichen.\n\nBis zum 24. Juni 2025 wird das Handelsministerium ein Verfahren einrichten, um zusätzliche Teile in den Geltungsbereich dieses Zolls aufzunehmen.\n\nDurchführungsverordnung 14289 (29. April 2025)\nProklamation 10908 (26. März 2025)'],
 ['Kupfer',
  'Angedroht (25. Feb. 2025)',
  '25%',
  'Noch festzulegen',
  'Das Handelsministerium hat eine Untersuchung nach Abschnitt 232 eingeleitet. Ein Bericht soll dem Präsidenten bis zum 22. November 2025 vorgelegt werden.Präsidialerlass 14220(25. Feb. 2025)'],
 ['Integrierte Schaltkreise',
  'Bedroht (31. Jan. 2025)',
  'Noch festzulegen',
  'Noch festzulegen',
  'Siehe verwandte Veröffentlichungen untenSiehe Halbleiter, Halbleiterausrüstung und abgeleitete Produkte untenAm 1. April leitete das Handelsministerium eine Untersuchung gemäß Abschnitt 232 ein, um die Auswirkungen von Importen von Legacy-Chips, hochmodernen Chips und Mikroelektronik auf die nationale Sicherheit zu ermitteln.'],
 ['Holz, Bauholz und daraus abgeleitete Produkte',
  'Angedroht (3. März 2025)',
  '25%',
  'Noch festzulegen',
  'Das Handelsministerium hat eine Untersuchung nach Abschnitt 232 eingeleitet. Ein Bericht soll dem Präsidenten bis zum 26. November 2025 vorgelegt werden.Durchführungsverordnung 14223 (1. März 2025)'],
 ['# Ausrüstung für die Handhabung von Seefracht',
  'Angedroht (9. Apr. 2025)',
  '20–100%100%',
  'Container, Fahrgestelle und Fahrgestellteile (HTSUS 8609.00.00, 8716.390090, 8716.90.30, 8716.90.50)Schiff-zu-Land-Portalkräne (HTSUS 8426.19.00)',
  'Im Rahmen der Section-301-Untersuchung des USTR bezüglich Chinas Ausrichtung auf die Sektoren Seefahrt, Logistik und Schiffbau hat Präsident Trump den USTR angewiesen, Zölle zu erwägen auf (a) Schiff-zu-Land-Kräne, die mit chinesischen Komponenten hergestellt, montiert oder gefertigt wurden, oder die irgendwo auf der Welt von einem Unternehmen hergestellt wurden, das einem chinesischen Staatsangehörigen gehört, von diesem kontrolliert wird oder unter dessen erheblichem Einfluss steht; und (b) andere Frachtumschlagsausrüstung.Der USTR nimmt bis zum 19. Mai Kommentare zu den vorgeschlagenen Zöllen entgegen. Die vorgeschlagenen Zölle umfassen sowohl Produkte aus China als auch STS-Kräne, die irgendwo auf der Welt mit Komponenten chinesischen Ursprungs oder von einem Unternehmen hergestellt wurden, das einem chinesischen Staatsangehörigen gehört, von diesem kontrolliert wird oder unter dessen erheblichem Einfluss steht.Durchführungsverordnung 14269 (9. Apr. 2025)'],
 ['Filme',
  'Angedroht (4. Mai 2025)',
  '100%',
  'Alle im Ausland produzierten Filme',
  'Trump ermächtigte das Handelsministerium und den US-Handelsbeauftragten, eine Untersuchung zur Umsetzung der Zölle einzuleiten.'],
 ['Öl und Gas',
  'Drohung mit Beginn am 18. Februar 2025 (31. Januar 2025)',
  'Noch festzulegen',
  'Noch festzulegen',
  ''],
 ['Arzneimittel, pharmazeutische Wirkstoffe und abgeleitete Produkte',
  'Bedroht (18. Feb. 2025)',
  '25% oder höher',
  'Noch festzulegen',
  'Siehe verwandte Veröffentlichungen untenAm 1. April leitete das Handelsministerium eine Untersuchung gemäß Abschnitt 232 ein, um die Auswirkungen von Importen von Arzneimitteln, pharmazeutischen Wirkstoffen und abgeleiteten Produkten auf die nationale Sicherheit zu ermitteln.'],
 ['Verarbeitete kritische Mineralien und abgeleitete Produkte',
  'Bedroht (15. Apr. 2025)',
  'Noch festzulegen',
  'Noch festzulegen',
  'Siehe verwandte Veröffentlichungen unten\n\nAm 22. April leitete das Handelsministerium eine Untersuchung gemäß Abschnitt 232 ein, um die Auswirkungen von Importen verarbeiteter kritischer Mineralien sowie deren abgeleiteter Produkte auf die nationale Sicherheit zu ermitteln.\n\n"Verarbeitete kritische Mineralien" sind kritische Mineralien, die Verarbeitungsschritte durchlaufen haben, die nach der Gewinnung des kritischen Mineralerzes aus einer Mine bis hin zur Umwandlung in ein Metall, Metallpulver oder eine Vorlegierung stattfinden. "Abgeleitete Produkte" umfassen alle Waren, die verarbeitete kritische Mineralien als Eingangsmaterialien enthalten, einschließlich Halbfertigprodukte (z.B. Halbleiterwafer, Anoden, Kathoden) und Endprodukte (z.B. Permanentmagnete, Motoren, Elektrofahrzeuge, Batterien, Smartphones, Mikroprozessoren, Radarsysteme, Windturbinen und deren Komponenten, fortschrittliche optische Geräte).\n\nDurchführungsverordnung 14272 (16. Apr. 2025)'],
 ['Halbleiter, Halbleiterfertigungsanlagen und abgeleitete Produkte',
  'Bedroht (18. Feb. 2025)',
  '25% oder höher',
  'Noch festzulegen',
  'Siehe verwandte Veröffentlichungen untenAm 1. April leitete das Handelsministerium eine Untersuchung gemäß Abschnitt 232 ein, um die Auswirkungen auf die nationale Sicherheit durch Importe von Halbleitern, Halbleiterfertigungsanlagen und abgeleiteten Produkten, einschließlich nachgelagerter Produkte, die Halbleiter enthalten, zu ermitteln.'],
 ['Stahl',
  'Umgesetzt (wirksam ab 12. März 2025)',
  '25%',
  'Siehe HTSUS Kapitel 99, Anmerkungen 16(j), 16(l)-(m)',
  'Siehe verwandte Veröffentlichungen untenAusnahme für gegenseitige Zölle:Stahl und Stahlderivate, die den Zöllen nach Abschnitt 232 unterliegen, unterliegen nicht den gegenseitigen Zöllen"Stacking"-Ausnahme:Waren, die auch (a) den Zöllen nach Abschnitt 232 auf Automobile oder Automobilteile oder (b) den Zöllen auf Waren kanadischen und mexikanischen Ursprungs unterliegen, unterliegen nicht den Zöllen nach Abschnitt 232 auf Stahl und StahlderivateAlle Länderausschlüsse von den bestehenden Zöllen nach Abschnitt 232 auf Aluminium und Aluminiumderivate werden aufgehoben. Individuelle Ausschlüsse und Allgemeine Genehmigte Ausschlüsse werden ebenfalls aufgehoben.Erweitert die Liste der Derivatprodukte, die den Zöllen unterliegen (wirksam ab 12. März 2025).Durchführungsverordnung 14289(29. April 2025)Proklamation 10896(10. Februar 2025)'],
 ['Lastwagen und Lastwagenteile',
  'Angedroht (22. Apr. 2025)',
  'Noch festzulegen',
  'Noch festzulegen',
  'Siehe verwandte Veröffentlichungen untenAm 22. April leitete das Handelsministerium eine Untersuchung gemäß Abschnitt 232 ein, um die Auswirkungen auf die nationale Sicherheit durch Importe von mittelschweren Lastwagen, schweren Lastwagen und Teilen für mittel- und schwere Lastwagen sowie deren abgeleiteten Produkten zu ermitteln.']]

In [16]:
product_german_df=pd.DataFrame(german_array)
product_german_df

,0,1,2,3,4
0,Aluminium,Umgesetzt (wirksam ab 12. März 2025),25%,"Siehe HTSUS Kapitel 99, Anmerkungen 19(g) und ...",Siehe verwandte Veröffentlichungen untenAusnah...
1,Kraftfahrzeuge,Umgesetzt (wirksam ab 3. Apr. 2025),25%,"Siehe HTSUS Kapitel 99, Anmerkungen 33(a)-(e)",Ausnahme bei gegenseitigen Zöllen: Kraftfahrze...
2,# Automobilteile,Umgesetzt (wirksam ab 3. Mai 2025),25%,"Siehe HTSUS Kapitel 99, Anmerkungen 33(g)-(h)",Ausnahme bei gegenseitigen Zöllen: Automobilte...
3,Kupfer,Angedroht (25. Feb. 2025),25%,Noch festzulegen,Das Handelsministerium hat eine Untersuchung n...
4,Integrierte Schaltkreise,Bedroht (31. Jan. 2025),Noch festzulegen,Noch festzulegen,Siehe verwandte Veröffentlichungen untenSiehe ...
5,"Holz, Bauholz und daraus abgeleitete Produkte",Angedroht (3. März 2025),25%,Noch festzulegen,Das Handelsministerium hat eine Untersuchung n...
6,# Ausrüstung für die Handhabung von Seefracht,Angedroht (9. Apr. 2025),20–100%100%,"Container, Fahrgestelle und Fahrgestellteile (...",Im Rahmen der Section-301-Untersuchung des UST...
7,Filme,Angedroht (4. Mai 2025),100%,Alle im Ausland produzierten Filme,Trump ermächtigte das Handelsministerium und d...
8,Öl und Gas,Drohung mit Beginn am 18. Februar 2025 (31. Ja...,Noch festzulegen,Noch festzulegen,
9,"Arzneimittel, pharmazeutische Wirkstoffe und a...",Bedroht (18. Feb. 2025),25% oder höher,Noch festzulegen,Siehe verwandte Veröffentlichungen untenAm 1. ...
10,Verarbeitete kritische Mineralien und abgeleit...,Bedroht (15. Apr. 2025),Noch festzulegen,Noch festzulegen,Siehe verwandte Veröffentlichungen unten\n\nAm...
11,"Halbleiter, Halbleiterfertigungsanlagen und ab...",Bedroht (18. Feb. 2025),25% oder höher,Noch festzulegen,Siehe verwandte Veröffentlichungen untenAm 1. ...
12,Stahl,Umgesetzt (wirksam ab 12. März 2025),25%,"Siehe HTSUS Kapitel 99, Anmerkungen 16(j), 16(...",Siehe verwandte Veröffentlichungen untenAusnah...
13,Lastwagen und Lastwagenteile,Angedroht (22. Apr. 2025),Noch festzulegen,Noch festzulegen,Siehe verwandte Veröffentlichungen untenAm 22....

In [73]:
country_rename_dict = {
    'Canada': 'Kanada',
    'Mexico': 'Mexiko',
    'China': 'China',
    'European Union': 'Europäische Union',
    'Vietnam': 'Vietnam',
    'Taiwan': 'Taiwan',
    'Japan': 'Japan',
    'India': 'Indien',
    'South Korea': 'Südkorea',
    'Thailand': 'Thailand',
    'Switzerland': 'Schweiz',
    'Indonesia': 'Indonesien',
    'Malaysia': 'Malaysia',
    'Cambodia': 'Kambodscha',
    'United Kingdom': 'Vereinigtes Königreich',
    'South Africa': 'Südafrika',
    'Brazil': 'Brasilien',
    'Bangladesh': 'Bangladesch',
    'Singapore': 'Singapur',
    'Israel': 'Israel',
    'Philippines': 'Philippinen',
    'Chile': 'Chile',
    'Peru': 'Peru',
    'Pakistan': 'Pakistan',
    'Sri Lanka': 'Sri Lanka',
    'Russia': 'Russland',
    
}

In [74]:
tariffs_tracker_renamed = tariffs_tracker.replace(country_rename_dict).iloc[:-1]
tariffs_tracker_renamed.columns=["Land", "reziproke Zölle", "Datum", "Erklärung"]

In [75]:
tables_at_bbc=await tablefinder("https://flo.uri.sh/visualisation/22576562/embed?auto=1")

Found 1 tables on the page.

In [76]:
soup = BeautifulSoup(tables_at_bbc[0], 'html.parser')

# Select the table
tr = soup.find_all('tr')
outer_array=[]
for i, row in enumerate(tr[1:]):
    cells = row.find_all(['td'])
    index=0
    row_array=[]
    for cell in cells:
        innertext=cell.get_text(strip=True)
        if index==0:
            row_array.append(innertext)
        else:
            justnumbers = re.sub(r'[a-zA-Z]', '', innertext)
            justnumbers = re.sub('%', '', justnumbers)

            justnumbers=justnumbers.strip()
            row_array.append(justnumbers)

        index+=1
    outer_array.append(row_array)

In [77]:
tariffs=pd.DataFrame(outer_array)

In [78]:
tariffs.columns=["Country","Import","Bisher","Neu"]
tariffs

                           Country Import Bisher  Neu
0                   European Union   18.5     20   10
1                            China   13.4     34  145
2                            Japan    4.5     24   10
3                          Vietnam    4.2     46   10
4                      South Korea      4     25   10
5                           Taiwan    3.6     32   10
6                            India    2.7     26   10
7                               UK    2.1     10   10
8                      Switzerland    1.9     31   10
9                         Thailand    1.9     36   10
10                        Malaysia    1.6     24   10
11                          Brazil    1.3     10   10
12                       Singapore    1.3     10   10
13                     Afghanistan     <1     10   10
14                         Albania     <1     10   10
15                         Algeria     <1     30   10
16                         Andorra     <1     10   10
17                          Angola     <1     32   10
18                        Anguilla     <1     10   10
19             Antigua and Barbuda     <1     10   10
20                       Argentina     <1     10   10
21                         Armenia     <1     10   10
22                           Aruba     <1     10   10
23                       Australia     <1     10   10
24                      Azerbaijan     <1     10   10
25                         Bahamas     <1     10   10
26                         Bahrain     <1     10   10
27                      Bangladesh     <1     37   10
28                        Barbados     <1     10   10
29                          Belize     <1     10   10
30                           Benin     <1     10   10
31                         Bermuda     <1     10   10
32                          Bhutan     <1     10   10
33                         Bolivia     <1     10   10
34            Bosnia & Herzegovina     <1     35   10
35                        Botswana     <1     37   10
36  British Indian Ocean Territory     <1     10   10
37          British Virgin Islands     <1     10   10
38                          Brunei     <1     24   10
39                         Burundi     <1     10   10
40                        Cambodia     <1     49   10
41                        Cameroon     <1     11   10
42                      Cape Verde     <1     10   10
43                  Cayman Islands     <1     10   10
44        Central African Republic     <1     10   10
45                            Chad     <1     13   10
46                           Chile     <1     10   10
47                Christmas Island     <1     10   10
48         Cocos (Keeling) Islands     <1     10   10
49                        Colombia     <1     10   10

In [79]:

def load_excel_from_url(url):
    """Loads an Excel file from a URL into a pandas DataFrame.

    Args:
        url: The URL of the Excel file.

    Returns:
        A pandas DataFrame containing the data from the Excel file, or None if
        an error occurs.
    """
    try:
        headers = {
               "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"
           }
        response = requests.get(url, headers=headers, stream=True) # Make the request with headers
        response.raise_for_status()  # Raise an exception for bad status codes (like 403)

        # Read the content into a BytesIO object for pandas
        excel_data = io.BytesIO(response.content)

        return excel_data
    except Exception as e:
        print(f"Error loading Excel file: {e}")
        return None

In [80]:
us_trade="https://www.census.gov/foreign-trade/statistics/country/index.html#:~:text=Download%20Full%20Dataset%20(XLSX%20%2D%200.1%20MB)"

us_stats=load_excel_from_url(us_trade)
us_stats

In [81]:
us_stats

In [82]:
url="https://www.census.gov/foreign-trade/statistics/country/ctyseasonal.xlsx"

In [83]:

# Download the file using requests
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Create a BytesIO object from the response content
    excel_file = io.BytesIO(response.content)
    
    # Read the Excel file into a pandas DataFrame
    df = pd.read_excel(excel_file, engine='openpyxl')  # Specify engine if needed
    print(df)
else:
    print(f"Failed to download file. Status code: {response.status_code}")

     year  cty_code               cty_desc          BJAN          BFEB  \
0    2009        20    All other countries -7.688157e+09 -6.061251e+09
1    2009      3510                 Brazil  5.109941e+08  4.469206e+08
2    2009        17               CAFTA-DR  3.034300e+08  2.818892e+08
3    2009      1220                 Canada -1.790673e+09 -1.893448e+09
4    2009      5700                  China -2.036187e+10 -1.900556e+10
..    ...       ...                    ...           ...           ...
389  2025         9  South/Central America  4.257569e+09  4.799653e+09
390  2025      4419            Switzerland -2.280347e+10 -1.881388e+10
391  2025      5830                 Taiwan -7.527515e+09 -8.699853e+09
392  2025      4120         United Kingdom -5.089092e+08  3.364602e+09
393  2025      5520                Vietnam -1.185779e+10 -1.240867e+10

             BMAR          BAPR          BMAY          BJUN          BJUL  \
0   -6.221323e+09 -7.484819e+09 -5.537787e+09 -6.201629e+09 -8.128920e+09
1    3.447423e+08  5.177740e+08  4.190184e+08  4.636909e+08  4.404457e+08
2    2.177867e+08  6.088876e+07  1.325944e+08  1.921538e+08 -4.636460e+07
3   -1.384375e+09 -1.091626e+09 -8.162940e+08 -1.853868e+09 -2.322835e+09
4   -2.037261e+10 -1.842612e+10 -1.840727e+10 -1.757020e+10 -1.826092e+10
..            ...           ...           ...           ...           ...
389  3.233067e+09           NaN           NaN           NaN           NaN
390 -1.473504e+10           NaN           NaN           NaN           NaN
391 -8.748659e+09           NaN           NaN           NaN           NaN
392  1.172544e+09           NaN           NaN           NaN           NaN
393 -1.412644e+10           NaN           NaN           NaN           NaN

     ...          IJUL          IAUG          ISEP          IOCT  \
0    ...  4.015297e+10  3.968960e+10  4.240630e+10  4.296826e+10
1    ...  1.682204e+09  1.613042e+09  1.690305e+09  1.610670e+09
2    ...  1.673409e+09  1.675474e+09  1.685764e+09  1.791865e+09
3    ...  1.983234e+10  1.945058e+10  1.978832e+10  2.060733e+10
4    ...  2.372623e+10  2.377449e+10  2.462898e+10  2.558478e+10
..   ...           ...           ...           ...           ...
389  ...           NaN           NaN           NaN           NaN
390  ...           NaN           NaN           NaN           NaN
391  ...           NaN           NaN           NaN           NaN
392  ...           NaN           NaN           NaN           NaN
393  ...           NaN           NaN           NaN           NaN

             INOV          IDEC           IQ1           IQ2           IQ3  \
0    4.423691e+10  4.572743e+10  1.147623e+11  1.124524e+11  1.222489e+11
1    1.983716e+09  1.778059e+09  5.073248e+09  4.638363e+09  4.985551e+09
2    1.882657e+09  1.826492e+09  4.032656e+09  4.273833e+09  5.034646e+09
3    2.105888e+10  2.177427e+10  5.323966e+10  5.049706e+10  5.907124e+10
4    2.595788e+10  2.721828e+10  7.435777e+10  7.112548e+10  7.212970e+10
..            ...           ...           ...           ...           ...
389           NaN           NaN  4.208675e+10           NaN           NaN
390           NaN           NaN  6.413551e+10           NaN           NaN
391           NaN           NaN  3.689356e+10           NaN           NaN
392           NaN           NaN  1.978677e+10           NaN           NaN
393           NaN           NaN  4.156706e+10           NaN           NaN

              IQ4
0    1.329326e+11
1    5.372444e+09
2    5.501014e+09
3    6.344048e+10
4    7.876093e+10
..            ...
389           NaN
390           NaN
391           NaN
392           NaN
393           NaN

[394 rows x 51 columns]

In [84]:
df.columns

Index(['year', 'cty_code', 'cty_desc', 'BJAN', 'BFEB', 'BMAR', 'BAPR', 'BMAY',
       'BJUN', 'BJUL', 'BAUG', 'BSEP', 'BOCT', 'BNOV', 'BDEC', 'BQ1', 'BQ2',
       'BQ3', 'BQ4', 'EJAN', 'EFEB', 'EMAR', 'EAPR', 'EMAY', 'EJUN', 'EJUL',
       'EAUG', 'ESEP', 'EOCT', 'ENOV', 'EDEC', 'EQ1', 'EQ2', 'EQ3', 'EQ4',
       'IJAN', 'IFEB', 'IMAR', 'IAPR', 'IMAY', 'IJUN', 'IJUL', 'IAUG', 'ISEP',
       'IOCT', 'INOV', 'IDEC', 'IQ1', 'IQ2', 'IQ3', 'IQ4'],
      dtype='object')

In [85]:
df[df.cty_desc=="China"]

,year,cty_code,cty_desc,BJAN,BFEB,BMAR,BAPR,BMAY,BJUN,BJUL,...,IJUL,IAUG,ISEP,IOCT,INOV,IDEC,IQ1,IQ2,IQ3,IQ4
4,2009,5700,China,-2.036187e+10,-1.900556e+10,-2.037261e+10,-1.842612e+10,-1.840727e+10,-1.757020e+10,-1.826092e+10,...,2.372623e+10,2.377449e+10,2.462898e+10,2.558478e+10,2.595788e+10,2.721828e+10,7.435777e+10,7.112548e+10,7.212970e+10,7.876093e+10
22,2010,5700,China,-2.029652e+10,-2.070019e+10,-2.174464e+10,-2.117937e+10,-2.301374e+10,-2.482953e+10,-2.343214e+10,...,3.112880e+10,3.213780e+10,3.171575e+10,3.155222e+10,3.197177e+10,3.198457e+10,8.426605e+10,9.019568e+10,9.498235e+10,9.550855e+10
40,2011,5700,China,-2.378782e+10,-2.508258e+10,-2.324977e+10,-2.348492e+10,-2.478785e+10,-2.487293e+10,-2.485315e+10,...,3.342016e+10,3.350025e+10,3.316765e+10,3.426471e+10,3.409418e+10,3.432169e+10,9.838606e+10,9.821652e+10,1.000881e+11,1.026806e+11
58,2012,5700,China,-2.545280e+10,-2.470782e+10,-2.812206e+10,-2.638355e+10,-2.488227e+10,-2.607179e+10,-2.649391e+10,...,3.568304e+10,3.459547e+10,3.561117e+10,3.547865e+10,3.662270e+10,3.691888e+10,1.053582e+11,1.053510e+11,1.058897e+11,1.090202e+11
76,2013,5700,China,-2.835521e+10,-2.886388e+10,-2.405719e+10,-2.508820e+10,-2.684325e+10,-2.615814e+10,-2.714464e+10,...,3.646774e+10,3.693936e+10,3.684751e+10,3.702828e+10,3.742276e+10,3.833821e+10,1.102530e+11,1.071331e+11,1.102546e+11,1.127893e+11
96,2014,5700,China,-2.650031e+10,-2.756293e+10,-2.735816e+10,-2.892931e+10,-2.803673e+10,-2.919684e+10,-2.848447e+10,...,3.859166e+10,3.891895e+10,4.017323e+10,4.052143e+10,4.050391e+10,4.010795e+10,1.134893e+11,1.161684e+11,1.176838e+11,1.211333e+11
116,2015,5700,China,-2.991712e+10,-2.692465e+10,-3.983263e+10,-2.889481e+10,-3.020138e+10,-2.975705e+10,-2.947784e+10,...,3.963844e+10,4.164453e+10,4.114561e+10,3.955797e+10,3.929929e+10,3.746784e+10,1.258558e+11,1.185922e+11,1.224286e+11,1.163251e+11
136,2016,5700,China,-2.979297e+10,-3.153861e+10,-2.762581e+10,-2.787307e+10,-2.868884e+10,-2.854071e+10,-2.901581e+10,...,3.886216e+10,3.912173e+10,3.826001e+10,3.910617e+10,3.895725e+10,3.895993e+10,1.157574e+11,1.133953e+11,1.162439e+11,1.170233e+11
157,2017,5700,China,-2.864976e+10,-3.005331e+10,-3.141909e+10,-3.312414e+10,-3.103078e+10,-3.153944e+10,-3.132774e+10,...,4.171225e+10,4.151103e+10,4.129575e+10,4.240641e+10,4.434193e+10,4.511047e+10,1.220411e+11,1.267461e+11,1.245190e+11,1.318588e+11
184,2018,5700,China,-3.516939e+10,-3.502248e+10,-3.348426e+10,-3.332531e+10,-3.322285e+10,-3.309945e+10,-3.388871e+10,...,4.433528e+10,4.384805e+10,4.600810e+10,4.483239e+10,4.291889e+10,4.581347e+10,1.382721e+11,1.324859e+11,1.341914e+11,1.335648e+11
211,2019,5700,China,-3.306362e+10,-3.061860e+10,-2.823665e+10,-2.991378e+10,-2.970940e+10,-2.972676e+10,-2.910568e+10,...,3.831595e+10,3.768683e+10,3.601067e+10,3.476634e+10,3.388197e+10,3.269290e+10,1.192146e+11,1.165414e+11,1.120135e+11,1.013412e+11
238,2020,5700,China,-2.429836e+10,-1.979835e+10,-1.658354e+10,-2.600942e+10,-2.766825e+10,-2.687772e+10,-2.919205e+10,...,3.900646e+10,3.864706e+10,3.678332e+10,3.993499e+10,4.328643e+10,4.073549e+10,8.441116e+10,1.097431e+11,1.144368e+11,1.239569e+11
265,2021,5700,China,-2.635285e+10,-2.884866e+10,-3.497092e+10,-2.915673e+10,-2.634675e+10,-2.619434e+10,-2.581765e+10,...,3.846359e+10,3.996308e+10,4.200119e+10,4.333183e+10,4.502138e+10,4.784052e+10,1.274844e+11,1.201403e+11,1.204279e+11,1.361937e+11
292,2022,5700,China,-3.429312e+10,-3.807339e+10,-4.299179e+10,-3.411253e+10,-3.110316e+10,-3.526947e+10,-3.204481e+10,...,4.539054e+10,4.586245e+10,4.307559e+10,3.980052e+10,3.467506e+10,3.567997e+10,1.539687e+11,1.378065e+11,1.343286e+11,1.101555e+11
319,2023,5700,China,-2.288231e+10,-2.393633e+10,-2.343186e+10,-2.361109e+10,-2.443224e+10,-2.273410e+10,-2.355818e+10,...,3.512860e+10,3.397935e+10,3.555076e+10,3.687357e+10,3.385445e+10,3.378509e+10,1.108330e+11,1.068802e+11,1.046587e+11,1.045131e+11
346,2024,5700,China,-2.342482e+10,-2.200332e+10,-2.477109e+10,-2.229816e+10,-2.416201e+10,-2.257620e+10,-2.748329e+10,...,3.892281e+10,3.745632e+10,3.884507e+10,3.675138e+10,3.626318e+10,3.695358e+10,1.085153e+11,1.052398e+11,1.152242e+11,1.099681e+11
373,2025,5700,China,-2.969108e+10,-2.658561e+10,-2.480421e+10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.142006e+11,NaN,NaN,NaN

In [86]:
base_col=["year","cty_code","cty_desc"]
export_cols=[]
import_cols=[]
for col in df.columns:
    if col[0]=="E":
        export_cols.append(col)
    elif col[0]=="I":
        import_cols.append(col)
base_col

['year', 'cty_code', 'cty_desc']

In [87]:
base_export_cols=base_col+export_cols
base_import_cols=base_col+import_cols
base_import_cols

['year',
 'cty_code',
 'cty_desc',
 'IJAN',
 'IFEB',
 'IMAR',
 'IAPR',
 'IMAY',
 'IJUN',
 'IJUL',
 'IAUG',
 'ISEP',
 'IOCT',
 'INOV',
 'IDEC',
 'IQ1',
 'IQ2',
 'IQ3',
 'IQ4']

In [88]:
export_df=df[base_export_cols]
export_df

,year,cty_code,cty_desc,EJAN,EFEB,EMAR,EAPR,EMAY,EJUN,EJUL,EAUG,ESEP,EOCT,ENOV,EDEC,EQ1,EQ2,EQ3,EQ4
0,2009,20,All other countries,3.092714e+10,3.222777e+10,3.163669e+10,2.979531e+10,3.143728e+10,3.199560e+10,3.202405e+10,3.228728e+10,3.320518e+10,3.501005e+10,3.566379e+10,3.594004e+10,9.479160e+10,9.322820e+10,9.751652e+10,1.066139e+11
1,2009,3510,Brazil,2.310141e+09,2.109861e+09,1.955903e+09,1.938554e+09,2.024336e+09,2.075956e+09,2.122650e+09,2.094565e+09,2.247110e+09,2.364203e+09,2.303859e+09,2.548317e+09,6.375905e+09,6.038846e+09,6.464325e+09,7.216379e+09
2,2009,17,CAFTA-DR,1.594814e+09,1.655722e+09,1.585226e+09,1.413914e+09,1.544395e+09,1.701161e+09,1.627044e+09,1.669154e+09,1.683253e+09,1.745002e+09,1.868941e+09,1.855674e+09,4.835761e+09,4.659470e+09,4.979451e+09,5.469618e+09
3,2009,1220,Canada,1.607276e+10,1.658391e+10,1.551450e+10,1.558492e+10,1.555190e+10,1.559846e+10,1.750951e+10,1.793495e+10,1.800158e+10,1.796037e+10,1.903583e+10,1.930928e+10,4.817117e+10,4.673528e+10,5.344604e+10,5.630547e+10
4,2009,5700,China,4.529859e+09,4.900156e+09,5.187716e+09,5.489906e+09,5.423565e+09,5.808423e+09,5.465313e+09,5.697671e+09,6.215815e+09,6.313081e+09,6.972480e+09,7.492694e+09,1.461773e+10,1.672189e+10,1.737880e+10,2.077826e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,2025,9,South/Central America,1.797870e+10,1.845261e+10,1.794573e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.437704e+10,NaN,NaN,NaN
390,2025,4419,Switzerland,1.753791e+09,2.486928e+09,3.542400e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.783120e+09,NaN,NaN,NaN
391,2025,5830,Taiwan,3.618026e+09,4.033151e+09,4.266353e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.191753e+10,NaN,NaN,NaN
392,2025,4120,United Kingdom,6.208916e+09,9.466578e+09,8.139514e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.381501e+10,NaN,NaN,NaN
393,2025,5520,Vietnam,1.027264e+09,1.061952e+09,1.084939e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.174155e+09,NaN,NaN,NaN

In [89]:
df

,year,cty_code,cty_desc,BJAN,BFEB,BMAR,BAPR,BMAY,BJUN,BJUL,...,IJUL,IAUG,ISEP,IOCT,INOV,IDEC,IQ1,IQ2,IQ3,IQ4
0,2009,20,All other countries,-7.688157e+09,-6.061251e+09,-6.221323e+09,-7.484819e+09,-5.537787e+09,-6.201629e+09,-8.128920e+09,...,4.015297e+10,3.968960e+10,4.240630e+10,4.296826e+10,4.423691e+10,4.572743e+10,1.147623e+11,1.124524e+11,1.222489e+11,1.329326e+11
1,2009,3510,Brazil,5.109941e+08,4.469206e+08,3.447423e+08,5.177740e+08,4.190184e+08,4.636909e+08,4.404457e+08,...,1.682204e+09,1.613042e+09,1.690305e+09,1.610670e+09,1.983716e+09,1.778059e+09,5.073248e+09,4.638363e+09,4.985551e+09,5.372444e+09
2,2009,17,CAFTA-DR,3.034300e+08,2.818892e+08,2.177867e+08,6.088876e+07,1.325944e+08,1.921538e+08,-4.636460e+07,...,1.673409e+09,1.675474e+09,1.685764e+09,1.791865e+09,1.882657e+09,1.826492e+09,4.032656e+09,4.273833e+09,5.034646e+09,5.501014e+09
3,2009,1220,Canada,-1.790673e+09,-1.893448e+09,-1.384375e+09,-1.091626e+09,-8.162940e+08,-1.853868e+09,-2.322835e+09,...,1.983234e+10,1.945058e+10,1.978832e+10,2.060733e+10,2.105888e+10,2.177427e+10,5.323966e+10,5.049706e+10,5.907124e+10,6.344048e+10
4,2009,5700,China,-2.036187e+10,-1.900556e+10,-2.037261e+10,-1.842612e+10,-1.840727e+10,-1.757020e+10,-1.826092e+10,...,2.372623e+10,2.377449e+10,2.462898e+10,2.558478e+10,2.595788e+10,2.721828e+10,7.435777e+10,7.112548e+10,7.212970e+10,7.876093e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,2025,9,South/Central America,4.257569e+09,4.799653e+09,3.233067e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.208675e+10,NaN,NaN,NaN
390,2025,4419,Switzerland,-2.280347e+10,-1.881388e+10,-1.473504e+10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.413551e+10,NaN,NaN,NaN
391,2025,5830,Taiwan,-7.527515e+09,-8.699853e+09,-8.748659e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.689356e+10,NaN,NaN,NaN
392,2025,4120,United Kingdom,-5.089092e+08,3.364602e+09,1.172544e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.978677e+10,NaN,NaN,NaN
393,2025,5520,Vietnam,-1.185779e+10,-1.240867e+10,-1.412644e+10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.156706e+10,NaN,NaN,NaN

In [90]:
def df_for_country(cols,country):    
    df_country=df[df["cty_desc"]==country]
    filtered_entries = [entry for entry in cols if 'Q' not in entry ]
    df_long_country=pd.melt(df_country, id_vars=['year'], value_vars=filtered_entries)
    df_long_country["month"]=df_long_country.variable.str[1:]
    df_long_country["date"]=df_long_country["month"]+"-"+df_long_country["year"].astype(str)
    df_long_country["date"] = pd.to_datetime(df_long_country["date"], format="%b-%Y")
    df_long_country.sort_values(by="date", ascending=True, inplace=True)
    df_long_red=df_long_country[["date","value"]]
    

    return(df_long_red)

In [91]:
china_df_export=df_for_country(export_cols,"China")
china_df_export

          date         value
0   2009-01-01  4.529859e+09
17  2009-02-01  4.900156e+09
34  2009-03-01  5.187716e+09
51  2009-04-01  5.489906e+09
68  2009-05-01  5.423565e+09
..         ...           ...
135 2025-08-01           NaN
152 2025-09-01           NaN
169 2025-10-01           NaN
186 2025-11-01           NaN
203 2025-12-01           NaN

[204 rows x 2 columns]

In [92]:
country="China"

In [93]:
def comp_calc(country):
    locale.setlocale(locale.LC_TIME, 'en_US.UTF-8')  # For Linux/Mac

    df_sorted_import=df_for_country(import_cols,country)
    df_sorted_export=df_for_country(export_cols,country)
    df_sorted_import_export=pd.merge(df_sorted_export,df_sorted_import, on="date", how="outer",suffixes=("_export", "_import"))
    df_sorted_import_export["diff"]=df_sorted_import_export["value_export"]-df_sorted_import_export["value_import"]
    last_years=df_sorted_import_export[df_sorted_import_export["date"]>"2021-01-01"]
    last_years=last_years.dropna().reset_index(drop=True)
    last_years
    comparison_df=last_years[(last_years["date"]>"01-01-2021")&(last_years["date"]<"01-01-2025")]
    under_trump=last_years[(last_years["date"]>="01-01-2025")]
    array=[]
    for index, row in under_trump.iloc[-3:].iterrows():
        print(f"Date: {row['date']}, Export: {row['value_export']}, Import: {row['value_import']}, Import: {row['diff']}")
        filtered_df = comparison_df[(comparison_df['date'].dt.month == row['date'].month) & (comparison_df['date'].dt.day == row['date'].day)]
        locale.setlocale(locale.LC_TIME, 'de_DE.UTF-8')

        month_name = calendar.month_name[row['date'].month]

        inner_array=[month_name]
        for col in filtered_df.columns[1:]:

            value_mean=filtered_df[col].mean()
            relative_perc=row[col]/value_mean
            diff_perc_=(relative_perc-1)*100
            inner_array.append(diff_perc_)

  

        array.append(inner_array)
    comp_df=pd.DataFrame(array,columns=["date","relative_export","relative_import","relative_diff"])
    comp_df=comp_df.T
    comp_df.columns=comp_df.iloc[0]
    comp_df=comp_df.iloc[1:-1]
    return last_years, comp_df

In [94]:
comp_objects=comp_calc("China")
comp_objects[1]

Date: 2025-01-01 00:00:00, Export: 10516375743.994307, Import: 40207460675.73614, Import: -29691084931.74183
Date: 2025-02-01 00:00:00, Export: 11785128152.782928, Import: 38370735571.99087, Import: -26585607419.20794
Date: 2025-03-01 00:00:00, Export: 10818179154.489431, Import: 35622384923.487045, Import: -24804205768.997612

date                Januar   Februar       März
relative_export -19.809923 -6.416632 -14.470708
relative_import   0.566269 -5.973925 -19.387994

In [99]:
comp_objects[0]

         date  value_export  value_import          diff
0  2021-02-01  1.051433e+10  3.936298e+10 -2.884866e+10
1  2021-03-01  1.228646e+10  4.725738e+10 -3.497092e+10
2  2021-04-01  1.278247e+10  4.193920e+10 -2.915673e+10
3  2021-05-01  1.269632e+10  3.904306e+10 -2.634675e+10
4  2021-06-01  1.296373e+10  3.915807e+10 -2.619434e+10
5  2021-07-01  1.264594e+10  3.846359e+10 -2.581765e+10
6  2021-08-01  1.166424e+10  3.996308e+10 -2.829884e+10
7  2021-09-01  1.164970e+10  4.200119e+10 -3.035149e+10
8  2021-10-01  1.394129e+10  4.333183e+10 -2.939054e+10
9  2021-11-01  1.339007e+10  4.502138e+10 -3.163131e+10
10 2021-12-01  1.239372e+10  4.784052e+10 -3.544679e+10
11 2022-01-01  1.246103e+10  4.675414e+10 -3.429312e+10
12 2022-02-01  1.310916e+10  5.118255e+10 -3.807339e+10
13 2022-03-01  1.304018e+10  5.603197e+10 -4.299179e+10
14 2022-04-01  1.207310e+10  4.618563e+10 -3.411253e+10
15 2022-05-01  1.269101e+10  4.379417e+10 -3.110316e+10
16 2022-06-01  1.255718e+10  4.782665e+10 -3.526947e+10
17 2022-07-01  1.334573e+10  4.539054e+10 -3.204481e+10
18 2022-08-01  1.347949e+10  4.586245e+10 -3.238296e+10
19 2022-09-01  1.252635e+10  4.307559e+10 -3.054924e+10
20 2022-10-01  1.292719e+10  3.980052e+10 -2.687333e+10
21 2022-11-01  1.319200e+10  3.467506e+10 -2.148306e+10
22 2022-12-01  1.272303e+10  3.567997e+10 -2.295694e+10
23 2023-01-01  1.404756e+10  3.692987e+10 -2.288231e+10
24 2023-02-01  1.329192e+10  3.722825e+10 -2.393633e+10
25 2023-03-01  1.324305e+10  3.667491e+10 -2.343186e+10
26 2023-04-01  1.385036e+10  3.746145e+10 -2.361109e+10
27 2023-05-01  1.115487e+10  3.558711e+10 -2.443224e+10
28 2023-06-01  1.109750e+10  3.383160e+10 -2.273410e+10
29 2023-07-01  1.157042e+10  3.512860e+10 -2.355818e+10
30 2023-08-01  1.130359e+10  3.397935e+10 -2.267576e+10
31 2023-09-01  1.239296e+10  3.555076e+10 -2.315779e+10
32 2023-10-01  1.293741e+10  3.687357e+10 -2.393616e+10
33 2023-11-01  1.161421e+10  3.385445e+10 -2.224024e+10
34 2023-12-01  1.127391e+10  3.378509e+10 -2.251118e+10
35 2024-01-01  1.283435e+10  3.625917e+10 -2.342482e+10
36 2024-02-01  1.345734e+10  3.546066e+10 -2.200332e+10
37 2024-03-01  1.202434e+10  3.679543e+10 -2.477109e+10
38 2024-04-01  1.216920e+10  3.446736e+10 -2.229816e+10
39 2024-05-01  1.162035e+10  3.578235e+10 -2.416201e+10
40 2024-06-01  1.241386e+10  3.499006e+10 -2.257620e+10
41 2024-07-01  1.143952e+10  3.892281e+10 -2.748329e+10
42 2024-08-01  1.255487e+10  3.745632e+10 -2.490145e+10
43 2024-09-01  1.171022e+10  3.884507e+10 -2.713486e+10
44 2024-10-01  1.100433e+10  3.675138e+10 -2.574705e+10
45 2024-11-01  1.066332e+10  3.626318e+10 -2.559986e+10
46 2024-12-01  1.165406e+10  3.695358e+10 -2.529953e+10
47 2025-01-01  1.051638e+10  4.020746e+10 -2.969108e+10
48 2025-02-01  1.178513e+10  3.837074e+10 -2.658561e+10
49 2025-03-01  1.081818e+10  3.562238e+10 -2.480421e+10

In [102]:
#comp_df_long=pd.melt(comp_objects[1], id_vars=['date'], value_vars=["relative_export","relative_import"])
#comp_df_long["start"]=0
#comp_df_long

In [96]:
#comp_df_long[["date","start","value","variable"]].to_csv("longform.csv",index=False)

NameError: name 'comp_df_long' is not defined

In [353]:
comp_objects=comp_calc("Germany")
comp_objects[1]

Date: 2025-01-01 00:00:00, Export: 6516479823.65365, Import: 14161634467.67601, Import: -7645154644.02236
Date: 2025-02-01 00:00:00, Export: 6259626950.905817, Import: 14338296110.721859, Import: -8078669159.816042

date                Januar    Februar
relative_export  -2.277303   7.167691
relative_import  11.726762  16.744229

In [355]:
comp_objects[0]

         date  value_export  value_import          diff
0  2021-02-01  5.270868e+09  1.063668e+10 -5.365808e+09
1  2021-03-01  5.081165e+09  1.043641e+10 -5.355243e+09
2  2021-04-01  5.489055e+09  1.071546e+10 -5.226407e+09
3  2021-05-01  5.403539e+09  1.115457e+10 -5.751030e+09
4  2021-06-01  5.870624e+09  1.189320e+10 -6.022579e+09
5  2021-07-01  5.445644e+09  1.106794e+10 -5.622294e+09
6  2021-08-01  5.638345e+09  1.192524e+10 -6.286894e+09
7  2021-09-01  5.308366e+09  1.113220e+10 -5.823834e+09
8  2021-10-01  5.690471e+09  1.124328e+10 -5.552810e+09
9  2021-11-01  5.598455e+09  1.199799e+10 -6.399530e+09
10 2021-12-01  5.713479e+09  1.084734e+10 -5.133861e+09
11 2022-01-01  5.888801e+09  1.097904e+10 -5.090235e+09
12 2022-02-01  5.629614e+09  1.094074e+10 -5.311126e+09
13 2022-03-01  5.798838e+09  1.175496e+10 -5.956126e+09
14 2022-04-01  6.148214e+09  1.142278e+10 -5.274564e+09
15 2022-05-01  6.033962e+09  1.215173e+10 -6.117769e+09
16 2022-06-01  6.056612e+09  1.174660e+10 -5.689990e+09
17 2022-07-01  6.365186e+09  1.169213e+10 -5.326946e+09
18 2022-08-01  6.368556e+09  1.157127e+10 -5.202712e+09
19 2022-09-01  5.835247e+09  1.297589e+10 -7.140640e+09
20 2022-10-01  6.300463e+09  1.401536e+10 -7.714898e+09
21 2022-11-01  6.214510e+09  1.357322e+10 -7.358714e+09
22 2022-12-01  6.231305e+09  1.378871e+10 -7.557402e+09
23 2023-01-01  7.148097e+09  1.411831e+10 -6.970211e+09
24 2023-02-01  6.331923e+09  1.410415e+10 -7.772230e+09
25 2023-03-01  6.589693e+09  1.280126e+10 -6.211570e+09
26 2023-04-01  5.836215e+09  1.346250e+10 -7.626288e+09
27 2023-05-01  6.202241e+09  1.307849e+10 -6.876248e+09
28 2023-06-01  6.317351e+09  1.310942e+10 -6.792068e+09
29 2023-07-01  6.446609e+09  1.350764e+10 -7.061032e+09
30 2023-08-01  6.596455e+09  1.329728e+10 -6.700822e+09
31 2023-09-01  6.531459e+09  1.290925e+10 -6.377793e+09
32 2023-10-01  5.746040e+09  1.311978e+10 -7.373738e+09
33 2023-11-01  6.662031e+09  1.238231e+10 -5.720274e+09
34 2023-12-01  6.289647e+09  1.338168e+10 -7.092032e+09
35 2024-01-01  6.968116e+09  1.292837e+10 -5.960257e+09
36 2024-02-01  6.131454e+09  1.344564e+10 -7.314189e+09
37 2024-03-01  5.773953e+09  1.347282e+10 -7.698864e+09
38 2024-04-01  6.298426e+09  1.405477e+10 -7.756342e+09
39 2024-05-01  6.243646e+09  1.353558e+10 -7.291936e+09
40 2024-06-01  6.392596e+09  1.383760e+10 -7.444999e+09
41 2024-07-01  6.289009e+09  1.400298e+10 -7.713970e+09
42 2024-08-01  6.550472e+09  1.317489e+10 -6.624420e+09
43 2024-09-01  6.538292e+09  1.354118e+10 -7.002892e+09
44 2024-10-01  6.384540e+09  1.185502e+10 -5.470481e+09
45 2024-11-01  6.421874e+09  1.338729e+10 -6.965418e+09
46 2024-12-01  5.620525e+09  1.320040e+10 -7.579878e+09
47 2025-01-01  6.516480e+09  1.416163e+10 -7.645155e+09
48 2025-02-01  6.259627e+09  1.433830e+10 -8.078669e+09

In [354]:
comp_objects[1].to_csv("germany_relative.csv",index=False)

In [370]:
df=pd.DataFrame()

In [103]:

shanghaicomposite = yfinance.download (tickers = "000001.SS", start = "2025-01-17", 
                              interval = "1d")
shanghaicomposite

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open     Volume
Ticker        000001.SS    000001.SS    000001.SS    000001.SS  000001.SS
Date
2025-01-17  3241.821045  3256.507080  3219.772949  3226.761963     383600
2025-01-20  3244.377930  3268.262939  3238.121094  3256.148926     403300
2025-01-21  3242.623047  3258.610107  3229.069092  3256.833008     384600
2025-01-22  3213.624023  3235.500977  3203.379883  3235.492920     364800
2025-01-23  3230.164062  3273.520020  3229.572021  3237.599121     458200
...                 ...          ...          ...          ...        ...
2025-04-25  3295.060059  3305.261963  3288.754883  3300.392090     411000
2025-04-28  3288.415039  3296.931885  3279.876953  3292.055908     410700
2025-04-29  3286.655029  3294.981934  3277.626953  3281.445068     389000
2025-04-30  3279.031006  3292.199951  3277.550049  3284.081055     435800
2025-05-06  3316.113525  3316.447510  3286.988525  3295.250488  192321444

[68 rows x 5 columns]

In [104]:

dax40 = yfinance.download (tickers = "^GDAXI", start = "2025-01-17", 
                              interval = "1d")
dax40

[*********************100%***********************]  1 of 1 completed

Price              Close          High           Low          Open    Volume
Ticker            ^GDAXI        ^GDAXI        ^GDAXI        ^GDAXI    ^GDAXI
Date
2025-01-17  20903.390625  20924.500000  20716.380859  20732.039062  76253100
2025-01-20  20990.310547  21054.599609  20880.570312  20900.679688  49988700
2025-01-21  21042.000000  21045.669922  20922.800781  20925.750000  49305500
2025-01-22  21254.269531  21330.869141  21162.310547  21169.609375  63282300
2025-01-23  21411.529297  21423.019531  21254.080078  21277.580078  56353200
...                  ...           ...           ...           ...       ...
2025-04-29  22425.830078  22455.679688  22319.279297  22377.169922  75547100
2025-04-30  22496.980469  22607.320312  22235.740234  22520.490234  99189800
2025-05-02  23086.650391  23086.650391  22764.509766  22818.179688  84456300
2025-05-05  23344.539062  23364.240234  23064.259766  23064.259766  48831900
2025-05-06  23249.650391  23389.859375  22861.400391  23387.349609         0

[75 rows x 5 columns]

In [105]:
sandp500 = yfinance.download (tickers = "^GSPC", start = "2025-01-17", 
                              interval = "1d")
sandp500

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
2025-01-17  5996.660156  6014.959961  5978.439941  5995.399902  4366830000
2025-01-21  6049.240234  6051.509766  6006.879883  6014.120117  4702920000
2025-01-22  6086.370117  6100.810059  6076.129883  6081.390137  4323040000
2025-01-23  6118.709961  6118.729980  6074.669922  6076.319824  4432250000
2025-01-24  6101.240234  6128.180176  6088.740234  6121.430176  4214250000
...                 ...          ...          ...          ...         ...
2025-04-30  5569.060059  5581.839844  5433.240234  5499.439941  5449490000
2025-05-01  5604.140137  5658.910156  5597.350098  5625.140137  4935270000
2025-05-02  5686.669922  5700.700195  5642.279785  5645.879883  4854380000
2025-05-05  5650.379883  5683.379883  5634.479980  5655.319824  4358260000
2025-05-06  5606.910156  5649.580078  5586.040039  5605.870117  2767164000

[75 rows x 5 columns]

In [106]:
def reduce_index(df,indexname):
    index_red=pd.DataFrame()
    df["Date"]=df.index
    index_red["Date"]=df["Date"]

    index_red[indexname]=df[df.columns[0]]

    index_red=index_red.reset_index(drop=True)
    return index_red

In [107]:
sandp500=reduce_index(sandp500,"S&P500")
dax40=reduce_index(dax40,"DAX40")
shanghaicomposite=reduce_index(shanghaicomposite,"SHANGHAI")

In [108]:
sandp500_dax40=pd.merge(sandp500, dax40, on="Date", how="outer")
sandp500_dax40=sandp500_dax40.fillna(method="ffill")
sandp500_dax40

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_62925/2970213323.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  sandp500_dax40=sandp500_dax40.fillna(method="ffill")

         Date       S&P500         DAX40
0  2025-01-17  5996.660156  20903.390625
1  2025-01-20  5996.660156  20990.310547
2  2025-01-21  6049.240234  21042.000000
3  2025-01-22  6086.370117  21254.269531
4  2025-01-23  6118.709961  21411.529297
..        ...          ...           ...
72 2025-04-30  5569.060059  22496.980469
73 2025-05-01  5604.140137  22496.980469
74 2025-05-02  5686.669922  23086.650391
75 2025-05-05  5650.379883  23344.539062
76 2025-05-06  5606.910156  23249.650391

[77 rows x 3 columns]

In [109]:
sandp500_dax40_shanghai=pd.merge(sandp500_dax40, shanghaicomposite, on="Date", how="outer")
sandp500_dax40_shanghai=sandp500_dax40_shanghai.fillna(method="ffill")
sandp500_dax40_shanghai

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_62925/2611133901.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  sandp500_dax40_shanghai=sandp500_dax40_shanghai.fillna(method="ffill")

         Date       S&P500         DAX40     SHANGHAI
0  2025-01-17  5996.660156  20903.390625  3241.821045
1  2025-01-20  5996.660156  20990.310547  3244.377930
2  2025-01-21  6049.240234  21042.000000  3242.623047
3  2025-01-22  6086.370117  21254.269531  3213.624023
4  2025-01-23  6118.709961  21411.529297  3230.164062
..        ...          ...           ...          ...
73 2025-04-30  5569.060059  22496.980469  3279.031006
74 2025-05-01  5604.140137  22496.980469  3279.031006
75 2025-05-02  5686.669922  23086.650391  3279.031006
76 2025-05-05  5650.379883  23344.539062  3279.031006
77 2025-05-06  5606.910156  23249.650391  3316.113525

[78 rows x 4 columns]

In [110]:
since_inauguration=sandp500_dax40_shanghai[sandp500_dax40_shanghai["Date"]>="2025-01-20"]
since_inauguration

         Date       S&P500         DAX40     SHANGHAI
1  2025-01-20  5996.660156  20990.310547  3244.377930
2  2025-01-21  6049.240234  21042.000000  3242.623047
3  2025-01-22  6086.370117  21254.269531  3213.624023
4  2025-01-23  6118.709961  21411.529297  3230.164062
5  2025-01-24  6101.240234  21394.929688  3252.625977
..        ...          ...           ...          ...
73 2025-04-30  5569.060059  22496.980469  3279.031006
74 2025-05-01  5604.140137  22496.980469  3279.031006
75 2025-05-02  5686.669922  23086.650391  3279.031006
76 2025-05-05  5650.379883  23344.539062  3279.031006
77 2025-05-06  5606.910156  23249.650391  3316.113525

[77 rows x 4 columns]

In [111]:
index_name=since_inauguration.columns[1]
index_name

'S&P500'

In [112]:
def converter_perc(index_name):
    df_perc=pd.DataFrame()
    df_perc["Date"]=since_inauguration["Date"]
    col_important=since_inauguration[index_name]
    base_value=col_important.iloc[0]
    df_perc[index_name]=(col_important-base_value)*100/base_value
    return(df_perc)

In [113]:

for col in since_inauguration.columns[1:]:
    df_perc=converter_perc(col)
    since_inauguration=pd.merge(since_inauguration,df_perc,on="Date",how="outer",suffixes=["_abs","_perc"])
since_inauguration

,Date,S&P500_abs,DAX40_abs,SHANGHAI_abs,S&P500_perc,DAX40_perc,SHANGHAI_perc
0,2025-01-20,5996.660156,20990.310547,3244.377930,0.000000,0.000000,0.000000
1,2025-01-21,6049.240234,21042.000000,3242.623047,0.876823,0.246254,-0.054090
2,2025-01-22,6086.370117,21254.269531,3213.624023,1.495999,1.257528,-0.947914
3,2025-01-23,6118.709961,21411.529297,3230.164062,2.035296,2.006729,-0.438108
4,2025-01-24,6101.240234,21394.929688,3252.625977,1.743972,1.927647,0.254226
...,...,...,...,...,...,...,...
72,2025-04-30,5569.060059,22496.980469,3279.031006,-7.130637,7.177931,1.068096
73,2025-05-01,5604.140137,22496.980469,3279.031006,-6.545644,7.177931,1.068096
74,2025-05-02,5686.669922,23086.650391,3279.031006,-5.169381,9.987179,1.068096
75,2025-05-05,5650.379883,23344.539062,3279.031006,-5.774552,11.215787,1.068096
76,2025-05-06,5606.910156,23249.650391,3316.113525,-6.499451,10.763728,2.211074

In [114]:
since_inauguration.to_csv("since_inauguration.csv",index=False)

In [115]:
#authorization
gc = pygsheets.authorize(service_file='/Users/halukamaier-borst/Documents/trumptracker-459020-a1e8634a9252.json')

gc

In [116]:
#Open the google spreadsheet
sh = gc.open('Trumptracker')

#Define which sheet to open in the file
wks = sh[0]

#Get the data from the Sheet into python as DF
read = wks.get_as_df()
read

Empty DataFrame
Columns: [one, column]
Index: []

In [117]:



#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open('Trumptracker')

#select the first sheet 
wks = sh[0]

wks.set_dataframe(since_inauguration,(0,0))

In [489]:

# URL of the webpage
url = "https://www.tradecomplianceresourcehub.com/"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find the first table on the page
    table = soup.find('table')  # You can use more specific selectors if needed

    # Extract rows from the table
    rows = table.find_all('tr')

    # Extract data from each row
    table_data = []
    for row in rows:
        cells = row.find_all(['td', 'th'])  # Get all cells (both <td> and <th>)
        cell_data = [cell.get_text(strip=True) for cell in cells]  # Extract text
        table_data.append(cell_data)

    # Print the extracted table data
    for row in table_data:
        print(row)
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Failed to retrieve the page. Status code: 403