In [1]:
import pandas as pd
import urllib.request, json , time, os, difflib, itertools

import glob
import yfinance as yf
import os
from multiprocessing.dummy import Pool

In [2]:
try:
    import httplib
except:
    import http.client as httplib

def check_internet():
    conn = httplib.HTTPConnection("www.google.com", timeout=5)
    try:
        conn.request("HEAD", "/")
        conn.close()
        # print("True")
        return True
    except:
        conn.close()
        # print("False")
        return False

In [3]:
def get_historic_price(query_url,json_path,csv_path):
    
    while not check_internet():
        print("Could not connect, trying again in 5 seconds...")
        time.sleep(5)
    
    stock_id=query_url.split("&period")[0].split("symbol=")[1]
    
    if os.path.exists(csv_path+stock_id+'.csv') and os.stat(csv_path+stock_id+'.csv').st_size != 0:
        print("<<<  Historical data of "+stock_id+" already exists, Updating data...")

    try:
        with urllib.request.urlopen(query_url) as url:
            parsed = json.loads(url.read().decode())
    except:
        print("|||  Historical data of "+stock_id+" doesn't exist")
        return
    
    else:
        if os.path.exists(json_path+stock_id+'.json'):
            os.remove(json_path+stock_id+'.json')
        with open(json_path+stock_id+'.json', 'w') as outfile:
            json.dump(parsed, outfile, indent=4)

        try:
            Date=[]
            for i in parsed['chart']['result'][0]['timestamp']:
                Date.append(datetime.utcfromtimestamp(int(i)).strftime('%d-%m-%Y'))

            Low=parsed['chart']['result'][0]['indicators']['quote'][0]['low']
            Open=parsed['chart']['result'][0]['indicators']['quote'][0]['open']
            Volume=parsed['chart']['result'][0]['indicators']['quote'][0]['volume']
            High=parsed['chart']['result'][0]['indicators']['quote'][0]['high']
            Close=parsed['chart']['result'][0]['indicators']['quote'][0]['close']
            Adjusted_Close=parsed['chart']['result'][0]['indicators']['adjclose'][0]['adjclose']

            df=pd.DataFrame(list(zip(Date,Low,Open,Volume,High,Close,Adjusted_Close)),columns =['Date','Low','Open','Volume','High','Close','Adjusted Close'])

            if os.path.exists(csv_path+stock_id+'.csv'):
                os.remove(csv_path+stock_id+'.csv')
            df.to_csv(csv_path+stock_id+'.csv', sep=',', index=None)
            print(">>>  Historical data of "+stock_id+" saved")
            return
        except:
            print(">>>  Historical data of "+stock_id+" exists but has no trading data")

In [4]:
data_dax = yf.download("^GDAXI", start="1990-01-01")
data_dax

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price              Close          High           Low          Open    Volume
Ticker            ^GDAXI        ^GDAXI        ^GDAXI        ^GDAXI    ^GDAXI
Date
1990-01-02   1788.890015   1788.890015   1788.890015   1788.890015         0
1990-01-03   1867.290039   1867.290039   1867.290039   1867.290039         0
1990-01-04   1830.920044   1830.920044   1830.920044   1830.920044         0
1990-01-05   1812.900024   1812.900024   1812.900024   1812.900024         0
1990-01-08   1841.469971   1841.469971   1841.469971   1841.469971         0
...                  ...           ...           ...           ...       ...
2025-09-23  23611.330078  23723.199219  23564.970703  23604.359375  48153500
2025-09-24  23666.810547  23736.599609  23499.980469  23601.500000  54163200
2025-09-25  23534.830078  23629.369141  23383.839844  23620.400391  55308500
2025-09-26  23739.470703  23756.039062  23579.250000  23601.189453  45110800
2025-09-29  23767.539062  23835.609375  23737.880859  23835.609375         0

[9044 rows x 5 columns]

In [5]:
data_dax=data_dax.reset_index()
data_dax

Price,Date,Close,High,Low,Open,Volume
Ticker,,^GDAXI,^GDAXI,^GDAXI,^GDAXI,^GDAXI
0,1990-01-02,1788.890015,1788.890015,1788.890015,1788.890015,0
1,1990-01-03,1867.290039,1867.290039,1867.290039,1867.290039,0
2,1990-01-04,1830.920044,1830.920044,1830.920044,1830.920044,0
3,1990-01-05,1812.900024,1812.900024,1812.900024,1812.900024,0
4,1990-01-08,1841.469971,1841.469971,1841.469971,1841.469971,0
...,...,...,...,...,...,...
9039,2025-09-23,23611.330078,23723.199219,23564.970703,23604.359375,48153500
9040,2025-09-24,23666.810547,23736.599609,23499.980469,23601.500000,54163200
9041,2025-09-25,23534.830078,23629.369141,23383.839844,23620.400391,55308500
9042,2025-09-26,23739.470703,23756.039062,23579.250000,23601.189453,45110800
9043,2025-09-29,23767.539062,23835.609375,23737.880859,23835.609375,0

In [6]:
dax_close=data_dax["Close"].iloc[-1].values[0]

In [7]:
files=glob.glob('../data/*.xlsx')
files

['../data/~$Dax_MDax_Zusammensetzung_historisch.xlsx',
 '../data/Dax_Zusammensetzung_historisch_2.xlsx',
 '../data/Dax_MDax_Zusammensetzung_historisch_cleaned.xlsx',
 '../data/Dax_MDax_Zusammensetzung_historisch.xlsx']

In [8]:
base_data=pd.read_excel("../data/Dax_MDax_Zusammensetzung_historisch_cleaned.xlsx",skiprows=1)
base_data

,Status,Issuer,Date,Spalte1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16374,Unnamed: 16375,Unnamed: 16376,Unnamed: 16377,Unnamed: 16378,Unnamed: 16379,Unnamed: 16380,Unnamed: 16381,Unnamed: 16382,Unnamed: 16383
0,Leaver,Covestro,2024-12-27,NaN,NaN,Showing data from 17-Sep-1993 to 10-Sep-2025 (...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1,Joiner,Rheinmetall,2023-03-20,NaN,NaN,Status,Issuer,Code,Date,NaN,...,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
2,Joiner,Commerzbank,2023-02-27,NaN,NaN,Joiner,IONOS Group,IOSn.DE,2025-06-23 00:00:00,NaN,...,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
3,Leaver,Fresenius Med Cr,2023-03-20,NaN,NaN,2023-03-20 00:00:00,Leaver,Fresenius Med Cr,2023-03-20 00:00:00,Leaver,...,Leaver,Fresenius Med Cr,2023-03-20,Leaver,Fresenius Med Cr,2023-03-20,Leaver,Fresenius Med Cr,2023-03-20,Leaver
4,Leaver,Linde,2023-02-27,NaN,NaN,Leaver,Jenoptik,JENGn.DE,2025-06-23 00:00:00,NaN,...,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,NaN,NaN,NaT,NaN,NaN,Joiner,Varta,VARGk.F^K12 (expired),1993-09-17 00:00:00,NaN,...,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
613,NaN,NaN,NaT,NaN,NaN,Joiner,Villeroy & Boch,VIBG_p.F,1993-09-17 00:00:00,NaN,...,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
614,NaN,NaN,NaT,NaN,NaN,Joiner,Moksel,MKSG.F^H11 (expired),1993-09-17 00:00:00,NaN,...,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
615,NaN,NaN,NaT,NaN,NaN,Joiner,Wella,WADG_p.F^K07 (expired),1993-09-17 00:00:00,NaN,...,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
616,NaN,NaN,NaT,NaN,NaN,Joiner,Weru GmbH,WERG.F^L06 (expired),1993-09-17 00:00:00,NaN,...,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN

In [9]:
dax_cases=base_data[base_data.columns[:3]].dropna()
dax_cases

     Status                               Issuer       Date
0    Leaver                             Covestro 2024-12-27
1    Joiner                          Rheinmetall 2023-03-20
2    Joiner                          Commerzbank 2023-02-27
3    Leaver                     Fresenius Med Cr 2023-03-20
4    Leaver                                Linde 2023-02-27
..      ...                                  ...        ...
120  Joiner  Bayerische Hypo- und Wechselbank AG 1988-01-01
121  Joiner            Bayerische Vereinsbank AG 1988-01-01
122  Joiner                                 VIAG 1988-01-01
123  Joiner                           Mannesmann 1988-01-01
124  Joiner                           Volkswagen 1988-01-01

[125 rows x 3 columns]

In [10]:
dax_cases_joiner=dax_cases[dax_cases[dax_cases.columns[0]]=="Joiner"]
dax_cases_joiner

     Status                               Issuer       Date
1    Joiner                          Rheinmetall 2023-03-20
2    Joiner                          Commerzbank 2023-02-27
5    Joiner                              Porsche 2022-12-19
8    Joiner                           Beiersdorf 2022-06-20
11   Joiner                     Daimler Trk Hldg 2022-03-21
..      ...                                  ...        ...
120  Joiner  Bayerische Hypo- und Wechselbank AG 1988-01-01
121  Joiner            Bayerische Vereinsbank AG 1988-01-01
122  Joiner                                 VIAG 1988-01-01
123  Joiner                           Mannesmann 1988-01-01
124  Joiner                           Volkswagen 1988-01-01

[83 rows x 3 columns]

In [11]:
dax_cases_leavers=dax_cases[dax_cases[dax_cases.columns[0]]=="Leaver"]
dax_cases_leavers

    Status                            Issuer       Date
0   Leaver                          Covestro 2024-12-27
3   Leaver                  Fresenius Med Cr 2023-03-20
4   Leaver                             Linde 2023-02-27
6   Leaver                           Puma DE 2022-12-19
7   Leaver                        Hellofresh 2022-09-19
9   Leaver                     Delivery Hero 2022-06-20
10  Leaver                        Beiersdorf 2022-03-21
14  Leaver                     Deutsche Wohn 2021-10-29
25  Leaver                        Beiersdorf 2021-03-22
28  Leaver                          Wirecard 2020-08-24
30  Leaver                         Lufthansa 2020-06-22
32  Leaver                      Thyssenkrupp 2019-09-23
33  Leaver                       Commerzbank 2018-09-24
36  Leaver                   Prosieben Media 2018-03-19
37  Leaver                               K&S 2016-03-21
39  Leaver                           Lanxess 2015-09-21
41  Leaver                      MetroOldData 2012-09-24
44  Leaver                               Man 2012-09-24
46  Leaver                      Salzgitter A 2010-06-21
47  Leaver                    Hannover Rueck 2009-09-21
51  Leaver                  Infineon Technol 2009-03-23
52  Leaver                          Postbank 2009-03-23
54  Leaver                       Continental 2008-12-22
55  Leaver                    Hypo Real Hldg 2008-12-22
58  Leaver                               TUI 2008-09-22
59  Leaver                            Altana 2007-06-18
61  Leaver                          Schering 2006-09-18
64  Leaver                  Hypo-Vereinsbank 2005-12-19
66  Leaver                             MLP S 2003-09-22
68  Leaver                      EpcosOldData 2002-12-23
70  Leaver                  Evonik Operation 2002-09-23
72  Leaver                       Dresdner Bk 2001-07-20
74  Leaver                   Karstadt-Quelle 2001-03-19
77  Leaver                              VIAG 2000-06-19
79  Leaver                        Mannesmann 2000-02-14
81  Leaver                           Hoechst 1999-09-20
83  Leaver  Bayerische Vereinsbank AGOldData 1998-06-22
85  Leaver                         GEA Group 1996-11-19
86  Leaver                       Continental 1996-09-23
89  Leaver                        Kaufhof WH 1996-07-22
90  Leaver                    Babcock Borsig 1995-09-15
92  Leaver                        Diebold DE 1990-09-03

In [12]:
len(dax_cases_leavers)

42

In [13]:
double_df=pd.merge(dax_cases_joiner,dax_cases_leavers,how="inner",on=["Issuer","Date"])
double_df

Empty DataFrame
Columns: [Status_x, Issuer, Date, Status_y]
Index: []

In [14]:
dax_cases_leavers_cleaned=dax_cases_leavers.drop_duplicates().reset_index(drop=True)
dax_cases_leavers_cleaned

    Status                            Issuer       Date
0   Leaver                          Covestro 2024-12-27
1   Leaver                  Fresenius Med Cr 2023-03-20
2   Leaver                             Linde 2023-02-27
3   Leaver                           Puma DE 2022-12-19
4   Leaver                        Hellofresh 2022-09-19
5   Leaver                     Delivery Hero 2022-06-20
6   Leaver                        Beiersdorf 2022-03-21
7   Leaver                     Deutsche Wohn 2021-10-29
8   Leaver                        Beiersdorf 2021-03-22
9   Leaver                          Wirecard 2020-08-24
10  Leaver                         Lufthansa 2020-06-22
11  Leaver                      Thyssenkrupp 2019-09-23
12  Leaver                       Commerzbank 2018-09-24
13  Leaver                   Prosieben Media 2018-03-19
14  Leaver                               K&S 2016-03-21
15  Leaver                           Lanxess 2015-09-21
16  Leaver                      MetroOldData 2012-09-24
17  Leaver                               Man 2012-09-24
18  Leaver                      Salzgitter A 2010-06-21
19  Leaver                    Hannover Rueck 2009-09-21
20  Leaver                  Infineon Technol 2009-03-23
21  Leaver                          Postbank 2009-03-23
22  Leaver                       Continental 2008-12-22
23  Leaver                    Hypo Real Hldg 2008-12-22
24  Leaver                               TUI 2008-09-22
25  Leaver                            Altana 2007-06-18
26  Leaver                          Schering 2006-09-18
27  Leaver                  Hypo-Vereinsbank 2005-12-19
28  Leaver                             MLP S 2003-09-22
29  Leaver                      EpcosOldData 2002-12-23
30  Leaver                  Evonik Operation 2002-09-23
31  Leaver                       Dresdner Bk 2001-07-20
32  Leaver                   Karstadt-Quelle 2001-03-19
33  Leaver                              VIAG 2000-06-19
34  Leaver                        Mannesmann 2000-02-14
35  Leaver                           Hoechst 1999-09-20
36  Leaver  Bayerische Vereinsbank AGOldData 1998-06-22
37  Leaver                         GEA Group 1996-11-19
38  Leaver                       Continental 1996-09-23
39  Leaver                        Kaufhof WH 1996-07-22
40  Leaver                    Babcock Borsig 1995-09-15
41  Leaver                        Diebold DE 1990-09-03

In [15]:
for index, row in double_df.iterrows():
    print(row["Issuer"],row["Date"])
    dax_cases_leavers_cleaned=dax_cases_leavers_cleaned[~((dax_cases_leavers_cleaned["Issuer"]==row["Issuer"]) & (dax_cases_leavers_cleaned["Date"]==row["Date"]))]
dax_cases_leavers_cleaned=dax_cases_leavers_cleaned.reset_index(drop=True)
dax_cases_leavers_cleaned

    Status                            Issuer       Date
0   Leaver                          Covestro 2024-12-27
1   Leaver                  Fresenius Med Cr 2023-03-20
2   Leaver                             Linde 2023-02-27
3   Leaver                           Puma DE 2022-12-19
4   Leaver                        Hellofresh 2022-09-19
5   Leaver                     Delivery Hero 2022-06-20
6   Leaver                        Beiersdorf 2022-03-21
7   Leaver                     Deutsche Wohn 2021-10-29
8   Leaver                        Beiersdorf 2021-03-22
9   Leaver                          Wirecard 2020-08-24
10  Leaver                         Lufthansa 2020-06-22
11  Leaver                      Thyssenkrupp 2019-09-23
12  Leaver                       Commerzbank 2018-09-24
13  Leaver                   Prosieben Media 2018-03-19
14  Leaver                               K&S 2016-03-21
15  Leaver                           Lanxess 2015-09-21
16  Leaver                      MetroOldData 2012-09-24
17  Leaver                               Man 2012-09-24
18  Leaver                      Salzgitter A 2010-06-21
19  Leaver                    Hannover Rueck 2009-09-21
20  Leaver                  Infineon Technol 2009-03-23
21  Leaver                          Postbank 2009-03-23
22  Leaver                       Continental 2008-12-22
23  Leaver                    Hypo Real Hldg 2008-12-22
24  Leaver                               TUI 2008-09-22
25  Leaver                            Altana 2007-06-18
26  Leaver                          Schering 2006-09-18
27  Leaver                  Hypo-Vereinsbank 2005-12-19
28  Leaver                             MLP S 2003-09-22
29  Leaver                      EpcosOldData 2002-12-23
30  Leaver                  Evonik Operation 2002-09-23
31  Leaver                       Dresdner Bk 2001-07-20
32  Leaver                   Karstadt-Quelle 2001-03-19
33  Leaver                              VIAG 2000-06-19
34  Leaver                        Mannesmann 2000-02-14
35  Leaver                           Hoechst 1999-09-20
36  Leaver  Bayerische Vereinsbank AGOldData 1998-06-22
37  Leaver                         GEA Group 1996-11-19
38  Leaver                       Continental 1996-09-23
39  Leaver                        Kaufhof WH 1996-07-22
40  Leaver                    Babcock Borsig 1995-09-15
41  Leaver                        Diebold DE 1990-09-03

In [16]:
dax_cases_leavers=dax_cases_leavers_cleaned
dax_cases_leavers["Left"]=dax_cases_leavers["Date"]+pd.to_timedelta(0,unit='D')

dax_cases_leavers["SinceLeft_30"]=dax_cases_leavers["Date"]+pd.to_timedelta(30,unit='D')
dax_cases_leavers["SinceLeft_180"]=dax_cases_leavers["Date"]+pd.to_timedelta(180,unit='D')

dax_cases_leavers["SinceLeft_365"]=dax_cases_leavers["Date"]+pd.to_timedelta(365,unit='D')
dax_cases_leavers

,Status,Issuer,Date,Left,SinceLeft_30,SinceLeft_180,SinceLeft_365
0,Leaver,Covestro,2024-12-27,2024-12-27,2025-01-26,2025-06-25,2025-12-27
1,Leaver,Fresenius Med Cr,2023-03-20,2023-03-20,2023-04-19,2023-09-16,2024-03-19
2,Leaver,Linde,2023-02-27,2023-02-27,2023-03-29,2023-08-26,2024-02-27
3,Leaver,Puma DE,2022-12-19,2022-12-19,2023-01-18,2023-06-17,2023-12-19
4,Leaver,Hellofresh,2022-09-19,2022-09-19,2022-10-19,2023-03-18,2023-09-19
5,Leaver,Delivery Hero,2022-06-20,2022-06-20,2022-07-20,2022-12-17,2023-06-20
6,Leaver,Beiersdorf,2022-03-21,2022-03-21,2022-04-20,2022-09-17,2023-03-21
7,Leaver,Deutsche Wohn,2021-10-29,2021-10-29,2021-11-28,2022-04-27,2022-10-29
8,Leaver,Beiersdorf,2021-03-22,2021-03-22,2021-04-21,2021-09-18,2022-03-22
9,Leaver,Wirecard,2020-08-24,2020-08-24,2020-09-23,2021-02-20,2021-08-24
10,Leaver,Lufthansa,2020-06-22,2020-06-22,2020-07-22,2020-12-19,2021-06-22
11,Leaver,Thyssenkrupp,2019-09-23,2019-09-23,2019-10-23,2020-03-21,2020-09-22
12,Leaver,Commerzbank,2018-09-24,2018-09-24,2018-10-24,2019-03-23,2019-09-24
13,Leaver,Prosieben Media,2018-03-19,2018-03-19,2018-04-18,2018-09-15,2019-03-19
14,Leaver,K&S,2016-03-21,2016-03-21,2016-04-20,2016-09-17,2017-03-21
15,Leaver,Lanxess,2015-09-21,2015-09-21,2015-10-21,2016-03-19,2016-09-20
16,Leaver,MetroOldData,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24
17,Leaver,Man,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24
18,Leaver,Salzgitter A,2010-06-21,2010-06-21,2010-07-21,2010-12-18,2011-06-21
19,Leaver,Hannover Rueck,2009-09-21,2009-09-21,2009-10-21,2010-03-20,2010-09-21
20,Leaver,Infineon Technol,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23
21,Leaver,Postbank,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23
22,Leaver,Continental,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22
23,Leaver,Hypo Real Hldg,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22
24,Leaver,TUI,2008-09-22,2008-09-22,2008-10-22,2009-03-21,2009-09-22
25,Leaver,Altana,2007-06-18,2007-06-18,2007-07-18,2007-12-15,2008-06-17
26,Leaver,Schering,2006-09-18,2006-09-18,2006-10-18,2007-03-17,2007-09-18
27,Leaver,Hypo-Vereinsbank,2005-12-19,2005-12-19,2006-01-18,2006-06-17,2006-12-19
28,Leaver,MLP S,2003-09-22,2003-09-22,2003-10-22,2004-03-20,2004-09-21
29,Leaver,EpcosOldData,2002-12-23,2002-12-23,2003-01-22,2003-06-21,2003-12-23
30,Leaver,Evonik Operation,2002-09-23,2002-09-23,2002-10-23,2003-03-22,2003-09-23
31,Leaver,Dresdner Bk,2001-07-20,2001-07-20,2001-08-19,2002-01-16,2002-07-20
32,Leaver,Karstadt-Quelle,2001-03-19,2001-03-19,2001-04-18,2001-09-15,2002-03-19
33,Leaver,VIAG,2000-06-19,2000-06-19,2000-07-19,2000-12-16,2001-06-19
34,Leaver,Mannesmann,2000-02-14,2000-02-14,2000-03-15,2000-08-12,2001-02-13
35,Leaver,Hoechst,1999-09-20,1999-09-20,1999-10-20,2000-03-18,2000-09-19
36,Leaver,Bayerische Vereinsbank AGOldData,1998-06-22,1998-06-22,1998-07-22,1998-12-19,1999-06-22
37,Leaver,GEA Group,1996-11-19,1996-11-19,1996-12-19,1997-05-18,1997-11-19
38,Leaver,Continental,1996-09-23,1996-09-23,1996-10-23,1997-03-22,1997-09-23
39,Leaver,Kaufhof WH,1996-07-22,1996-07-22,1996-08-21,1997-01-18,1997-07-22
40,Leaver,Babcock Borsig,1995-09-15,1995-09-15,1995-10-15,1996-03-13,1996-09-14
41,Leaver,Diebold DE,1990-09-03,1990-09-03,1990-10-03,1991-03-02,1991-09-03

In [17]:
leavers_list=dax_cases_leavers.Issuer.tolist()
leavers_list

['Covestro',
 'Fresenius Med Cr',
 'Linde',
 'Puma DE',
 'Hellofresh',
 'Delivery Hero',
 'Beiersdorf',
 'Deutsche Wohn',
 'Beiersdorf',
 'Wirecard',
 'Lufthansa',
 'Thyssenkrupp',
 'Commerzbank',
 'Prosieben Media',
 'K&S',
 'Lanxess',
 'MetroOldData',
 'Man',
 'Salzgitter A',
 'Hannover Rueck',
 'Infineon Technol',
 'Postbank',
 'Continental',
 'Hypo Real Hldg',
 'TUI',
 'Altana',
 'Schering',
 'Hypo-Vereinsbank',
 'MLP S',
 'EpcosOldData',
 'Evonik Operation',
 'Dresdner Bk',
 'Karstadt-Quelle',
 'VIAG',
 'Mannesmann',
 'Hoechst',
 'Bayerische Vereinsbank AGOldData',
 'GEA Group',
 'Continental',
 'Kaufhof WH',
 'Babcock Borsig',
 'Diebold DE']

In [18]:
yahoo_xetra = {
    "Covestro": "1COV.DE",
    "Fresenius Med Cr": "FME.DE",
    "Linde": "LIN.DE",
    "Puma DE": "PUM.DE",
    "Hellofresh": "HFG.DE",
    "Delivery Hero": "DHER.DE",
    "Beiersdorf": "BEI.DE",
    "Siemens Energ": "ENR.DE",
    "Daimler Trk Hldg": "DTG.DE",
    "Deutsche Wohn": "DWNI.DE",
    "Vitesco Tech Grp": "VTSC.DE",
    "Wirecard": "WDI.HM",
    "Lufthansa": "LHA.DE",
    "Thyssenkrupp": "TKA.DE",
    "Bayerische Vereinsbank AGOldData":None,
    "EpcosOldData":None,
    "MetroOldData":None,
    "Linde DE": "LIN.DE",
    "Commerzbank": "CBK.DE",
    "Prosieben Media": "PSAN.DE",
    "Deutsche Boerse": "DB1.DE",
    "Uniper": "UN0.DE",
    "K&S": "SDF.DE",
    "Lanxess": "LXS.DE",
    "Osram Licht": "OSAGF",
    "Ceconomy": "CEC.DE",
    "Man": "MAN.DE",
    "Fresenius": "FRE.DE",
    "Salzgitter A": "SZG.DE",
    "Volkswagen": "VOW3.DE",
    "Bayer": "BAYN.DE",
    "Hannover Rueck": "HNR1.DE",
    "Infineon Technol": "IFX.DE",
    "Postbank": None,
    "Continental": "CON.DE",
    "Continent": "CON.DE",

    "Hypo Real Hldg": None,
    "TUI": "TUI1.DE",
    "Altana": "ALT.DE",
    "Bayer Pharma": "BAYN.DE",
    "UniCredt Bnk": None,
    "MLP S": "MLP.DE",
    "TDK Electronics": "TTDKY",
    "Evonik Operation": "EVK.DE",
    "Dresdner Bk": None,
    "Sap": "SAP.DE",
    "Arcandor": "ARO.DU",
    "VIAG": None,
    "Vodafone": None,
    "Mannesmann":None,  
    "Hoechst": None,
    "Mercedes Benz Gr": "MBG.DE",
    "Daimler-Benz AG": "MBG.DE",
    "GEA Group": "G1A.DE",
    "Kaufhof WH": None,
    "Babcock Borsig": None,
    "Diebold DE": None
}

In [19]:
dax_cases_leavers["Yahoo Symbol"]=dax_cases_leavers.Issuer.map(yahoo_xetra)
dax_cases_leavers

,Status,Issuer,Date,Left,SinceLeft_30,SinceLeft_180,SinceLeft_365,Yahoo Symbol
0,Leaver,Covestro,2024-12-27,2024-12-27,2025-01-26,2025-06-25,2025-12-27,1COV.DE
1,Leaver,Fresenius Med Cr,2023-03-20,2023-03-20,2023-04-19,2023-09-16,2024-03-19,FME.DE
2,Leaver,Linde,2023-02-27,2023-02-27,2023-03-29,2023-08-26,2024-02-27,LIN.DE
3,Leaver,Puma DE,2022-12-19,2022-12-19,2023-01-18,2023-06-17,2023-12-19,PUM.DE
4,Leaver,Hellofresh,2022-09-19,2022-09-19,2022-10-19,2023-03-18,2023-09-19,HFG.DE
5,Leaver,Delivery Hero,2022-06-20,2022-06-20,2022-07-20,2022-12-17,2023-06-20,DHER.DE
6,Leaver,Beiersdorf,2022-03-21,2022-03-21,2022-04-20,2022-09-17,2023-03-21,BEI.DE
7,Leaver,Deutsche Wohn,2021-10-29,2021-10-29,2021-11-28,2022-04-27,2022-10-29,DWNI.DE
8,Leaver,Beiersdorf,2021-03-22,2021-03-22,2021-04-21,2021-09-18,2022-03-22,BEI.DE
9,Leaver,Wirecard,2020-08-24,2020-08-24,2020-09-23,2021-02-20,2021-08-24,WDI.HM
10,Leaver,Lufthansa,2020-06-22,2020-06-22,2020-07-22,2020-12-19,2021-06-22,LHA.DE
11,Leaver,Thyssenkrupp,2019-09-23,2019-09-23,2019-10-23,2020-03-21,2020-09-22,TKA.DE
12,Leaver,Commerzbank,2018-09-24,2018-09-24,2018-10-24,2019-03-23,2019-09-24,CBK.DE
13,Leaver,Prosieben Media,2018-03-19,2018-03-19,2018-04-18,2018-09-15,2019-03-19,PSAN.DE
14,Leaver,K&S,2016-03-21,2016-03-21,2016-04-20,2016-09-17,2017-03-21,SDF.DE
15,Leaver,Lanxess,2015-09-21,2015-09-21,2015-10-21,2016-03-19,2016-09-20,LXS.DE
16,Leaver,MetroOldData,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24,None
17,Leaver,Man,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24,MAN.DE
18,Leaver,Salzgitter A,2010-06-21,2010-06-21,2010-07-21,2010-12-18,2011-06-21,SZG.DE
19,Leaver,Hannover Rueck,2009-09-21,2009-09-21,2009-10-21,2010-03-20,2010-09-21,HNR1.DE
20,Leaver,Infineon Technol,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23,IFX.DE
21,Leaver,Postbank,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23,None
22,Leaver,Continental,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22,CON.DE
23,Leaver,Hypo Real Hldg,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22,None
24,Leaver,TUI,2008-09-22,2008-09-22,2008-10-22,2009-03-21,2009-09-22,TUI1.DE
25,Leaver,Altana,2007-06-18,2007-06-18,2007-07-18,2007-12-15,2008-06-17,ALT.DE
26,Leaver,Schering,2006-09-18,2006-09-18,2006-10-18,2007-03-17,2007-09-18,NaN
27,Leaver,Hypo-Vereinsbank,2005-12-19,2005-12-19,2006-01-18,2006-06-17,2006-12-19,NaN
28,Leaver,MLP S,2003-09-22,2003-09-22,2003-10-22,2004-03-20,2004-09-21,MLP.DE
29,Leaver,EpcosOldData,2002-12-23,2002-12-23,2003-01-22,2003-06-21,2003-12-23,None
30,Leaver,Evonik Operation,2002-09-23,2002-09-23,2002-10-23,2003-03-22,2003-09-23,EVK.DE
31,Leaver,Dresdner Bk,2001-07-20,2001-07-20,2001-08-19,2002-01-16,2002-07-20,None
32,Leaver,Karstadt-Quelle,2001-03-19,2001-03-19,2001-04-18,2001-09-15,2002-03-19,NaN
33,Leaver,VIAG,2000-06-19,2000-06-19,2000-07-19,2000-12-16,2001-06-19,None
34,Leaver,Mannesmann,2000-02-14,2000-02-14,2000-03-15,2000-08-12,2001-02-13,None
35,Leaver,Hoechst,1999-09-20,1999-09-20,1999-10-20,2000-03-18,2000-09-19,None
36,Leaver,Bayerische Vereinsbank AGOldData,1998-06-22,1998-06-22,1998-07-22,1998-12-19,1999-06-22,None
37,Leaver,GEA Group,1996-11-19,1996-11-19,1996-12-19,1997-05-18,1997-11-19,G1A.DE
38,Leaver,Continental,1996-09-23,1996-09-23,1996-10-23,1997-03-22,1997-09-23,CON.DE
39,Leaver,Kaufhof WH,1996-07-22,1996-07-22,1996-08-21,1997-01-18,1997-07-22,None
40,Leaver,Babcock Borsig,1995-09-15,1995-09-15,1995-10-15,1996-03-13,1996-09-14,None
41,Leaver,Diebold DE,1990-09-03,1990-09-03,1990-10-03,1991-03-02,1991-09-03,None

In [20]:
print(len(dax_cases_leavers[~dax_cases_leavers["Yahoo Symbol"].isna()]))
dax_cases_retrievable=dax_cases_leavers[~dax_cases_leavers["Yahoo Symbol"].isna()]
dax_cases_retrievable

27

,Status,Issuer,Date,Left,SinceLeft_30,SinceLeft_180,SinceLeft_365,Yahoo Symbol
0,Leaver,Covestro,2024-12-27,2024-12-27,2025-01-26,2025-06-25,2025-12-27,1COV.DE
1,Leaver,Fresenius Med Cr,2023-03-20,2023-03-20,2023-04-19,2023-09-16,2024-03-19,FME.DE
2,Leaver,Linde,2023-02-27,2023-02-27,2023-03-29,2023-08-26,2024-02-27,LIN.DE
3,Leaver,Puma DE,2022-12-19,2022-12-19,2023-01-18,2023-06-17,2023-12-19,PUM.DE
4,Leaver,Hellofresh,2022-09-19,2022-09-19,2022-10-19,2023-03-18,2023-09-19,HFG.DE
5,Leaver,Delivery Hero,2022-06-20,2022-06-20,2022-07-20,2022-12-17,2023-06-20,DHER.DE
6,Leaver,Beiersdorf,2022-03-21,2022-03-21,2022-04-20,2022-09-17,2023-03-21,BEI.DE
7,Leaver,Deutsche Wohn,2021-10-29,2021-10-29,2021-11-28,2022-04-27,2022-10-29,DWNI.DE
8,Leaver,Beiersdorf,2021-03-22,2021-03-22,2021-04-21,2021-09-18,2022-03-22,BEI.DE
9,Leaver,Wirecard,2020-08-24,2020-08-24,2020-09-23,2021-02-20,2021-08-24,WDI.HM
10,Leaver,Lufthansa,2020-06-22,2020-06-22,2020-07-22,2020-12-19,2021-06-22,LHA.DE
11,Leaver,Thyssenkrupp,2019-09-23,2019-09-23,2019-10-23,2020-03-21,2020-09-22,TKA.DE
12,Leaver,Commerzbank,2018-09-24,2018-09-24,2018-10-24,2019-03-23,2019-09-24,CBK.DE
13,Leaver,Prosieben Media,2018-03-19,2018-03-19,2018-04-18,2018-09-15,2019-03-19,PSAN.DE
14,Leaver,K&S,2016-03-21,2016-03-21,2016-04-20,2016-09-17,2017-03-21,SDF.DE
15,Leaver,Lanxess,2015-09-21,2015-09-21,2015-10-21,2016-03-19,2016-09-20,LXS.DE
17,Leaver,Man,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24,MAN.DE
18,Leaver,Salzgitter A,2010-06-21,2010-06-21,2010-07-21,2010-12-18,2011-06-21,SZG.DE
19,Leaver,Hannover Rueck,2009-09-21,2009-09-21,2009-10-21,2010-03-20,2010-09-21,HNR1.DE
20,Leaver,Infineon Technol,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23,IFX.DE
22,Leaver,Continental,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22,CON.DE
24,Leaver,TUI,2008-09-22,2008-09-22,2008-10-22,2009-03-21,2009-09-22,TUI1.DE
25,Leaver,Altana,2007-06-18,2007-06-18,2007-07-18,2007-12-15,2008-06-17,ALT.DE
28,Leaver,MLP S,2003-09-22,2003-09-22,2003-10-22,2004-03-20,2004-09-21,MLP.DE
30,Leaver,Evonik Operation,2002-09-23,2002-09-23,2002-10-23,2003-03-22,2003-09-23,EVK.DE
37,Leaver,GEA Group,1996-11-19,1996-11-19,1996-12-19,1997-05-18,1997-11-19,G1A.DE
38,Leaver,Continental,1996-09-23,1996-09-23,1996-10-23,1997-03-22,1997-09-23,CON.DE

In [49]:
dax_cases_non_retrievable=dax_cases_leavers[dax_cases_leavers["Yahoo Symbol"].isna()]
dax_cases_non_retrievable

,Status,Issuer,Date,Left,SinceLeft_30,SinceLeft_180,SinceLeft_365,Yahoo Symbol
16,Leaver,MetroOldData,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24,None
21,Leaver,Postbank,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23,None
23,Leaver,Hypo Real Hldg,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22,None
26,Leaver,Schering,2006-09-18,2006-09-18,2006-10-18,2007-03-17,2007-09-18,NaN
27,Leaver,Hypo-Vereinsbank,2005-12-19,2005-12-19,2006-01-18,2006-06-17,2006-12-19,NaN
29,Leaver,EpcosOldData,2002-12-23,2002-12-23,2003-01-22,2003-06-21,2003-12-23,None
31,Leaver,Dresdner Bk,2001-07-20,2001-07-20,2001-08-19,2002-01-16,2002-07-20,None
32,Leaver,Karstadt-Quelle,2001-03-19,2001-03-19,2001-04-18,2001-09-15,2002-03-19,NaN
33,Leaver,VIAG,2000-06-19,2000-06-19,2000-07-19,2000-12-16,2001-06-19,None
34,Leaver,Mannesmann,2000-02-14,2000-02-14,2000-03-15,2000-08-12,2001-02-13,None
35,Leaver,Hoechst,1999-09-20,1999-09-20,1999-10-20,2000-03-18,2000-09-19,None
36,Leaver,Bayerische Vereinsbank AGOldData,1998-06-22,1998-06-22,1998-07-22,1998-12-19,1999-06-22,None
39,Leaver,Kaufhof WH,1996-07-22,1996-07-22,1996-08-21,1997-01-18,1997-07-22,None
40,Leaver,Babcock Borsig,1995-09-15,1995-09-15,1995-10-15,1996-03-13,1996-09-14,None
41,Leaver,Diebold DE,1990-09-03,1990-09-03,1990-10-03,1991-03-02,1991-09-03,None

In [50]:
dictionary={}
for i in range(len(dax_cases_retrievable)):
    issuer=dax_cases_retrievable["Issuer"].iloc[i]
    print(issuer)
    ticker=dax_cases_retrievable["Yahoo Symbol"].iloc[i]
    date=dax_cases_retrievable["Date"].iloc[i]
    month_year=pd.to_datetime(date).strftime('%Y-%m')
    print(date)
    keyname=issuer+"_"+month_year
    print(keyname)
    if ticker is None:
        continue
    else:
        try:
            data = yf.download(ticker, start=date)
            print(data.head())
            data=data.reset_index()
        except:
            print("no data for ",issuer)
        try:
            close_now=data["Close"].iloc[-1].values[0]

            dictionary[keyname]={"Ticker":ticker,"Close now":close_now,"Issuer":issuer}
            for col in dax_cases_retrievable.columns[2:-1]:
                print(col)
                alt_date=dax_cases_retrievable[col].iloc[i]
                print(alt_date)
                value_alt=data[data["Date"]>=alt_date]["Close"].values[0][0]
                value_dax=data_dax[data_dax["Date"]>=alt_date]["Close"].values[0][0]
                print(value_alt)
                dictionary[keyname][col+"_date"]=alt_date
                dictionary[keyname][col]=value_alt
                dictionary[keyname][col+"_%"]=(close_now/value_alt-1)*100
                dictionary[keyname][col+"_dax"]=value_dax
                dictionary[keyname][col+"_dax%"]=(dax_close/value_dax-1)*100

        except:
            print(f"No trading data for {issuer} with ticker {ticker} since leaving date {date}")
            continue
dictionary

[*********************100%***********************]  1 of 1 completed

Covestro
2024-12-27 00:00:00
Covestro_2024-12
Price           Close       High        Low       Open  Volume
Ticker        1COV.DE    1COV.DE    1COV.DE    1COV.DE 1COV.DE
Date
2024-12-27  56.279999  58.060001  55.959999  57.900002  471114
2024-12-30  56.279999  56.279999  56.279999  56.279999       0
2025-01-02  55.860001  56.520000  55.720001  56.020000  210548
2025-01-03  55.720001  55.880001  55.500000  55.520000  135129
2025-01-06  56.040001  56.459999  55.419998  55.419998  162161
Date
2024-12-27 00:00:00
56.279998779296875
Left
2024-12-27 00:00:00
56.279998779296875
SinceLeft_30
2025-01-26 00:00:00
56.18000030517578
SinceLeft_180
2025-06-25 00:00:00
60.5
SinceLeft_365
2025-12-27 00:00:00
No trading data for Covestro with ticker 1COV.DE since leaving date 2024-12-27 00:00:00
Fresenius Med Cr
2023-03-20 00:00:00
Fresenius Med Cr_2023-03

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker         FME.DE     FME.DE     FME.DE     FME.DE  FME.DE
Date
2023-03-20  33.508217  34.272490  32.955733  33.922581  980523
2023-03-21  34.180408  34.336948  33.535842  33.609508  530860
2023-03-22  34.714478  35.009136  34.272490  34.281696  394482
2023-03-23  34.963093  35.018339  34.281693  34.511895  503982
2023-03-24  34.134365  34.824971  33.554255  34.824971  490514
Date
2023-03-20 00:00:00
33.508216857910156
Left
2023-03-20 00:00:00
33.508216857910156
SinceLeft_30
2023-04-19 00:00:00
37.56898498535156
SinceLeft_180
2023-09-16 00:00:00
39.814720153808594
SinceLeft_365
2024-03-19 00:00:00
33.966285705566406
Linde
2023-02-27 00:00:00
Linde_2023-02

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open   Volume
Ticker          LIN.DE      LIN.DE      LIN.DE      LIN.DE   LIN.DE
Date
2023-02-27  314.395142  317.425103  311.605654  314.539420  1091309
2023-02-28  314.395142  314.395142  314.395142  314.395142        0
2023-03-01  314.395142  314.395142  314.395142  314.395142        0
2023-03-02  319.252655  321.272639  316.847920  319.396933     9344
2023-03-03  325.216431  326.466881  316.463188  316.944135    15640
Date
2023-02-27 00:00:00
314.3951416015625
Left
2023-02-27 00:00:00
314.3951416015625
SinceLeft_30
2023-03-29 00:00:00
311.28857421875
SinceLeft_180
2023-08-26 00:00:00
342.04901123046875
SinceLeft_365
2024-02-27 00:00:00
397.8797302246094
Puma DE
2022-12-19 00:00:00
Puma DE_2022-12

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker         PUM.DE     PUM.DE     PUM.DE     PUM.DE  PUM.DE
Date
2022-12-19  48.570686  49.624116  48.025162  49.398383  373561
2022-12-20  47.780609  48.457816  47.460818  47.949911  453879
2022-12-21  52.295311  52.502236  49.661735  49.699358  789377
2022-12-22  51.730976  52.615104  51.354749  52.295313  543480
2022-12-23  51.580486  52.408183  51.091393  51.674541  241517
Date
2022-12-19 00:00:00
48.57068634033203
Left
2022-12-19 00:00:00
48.57068634033203
SinceLeft_30
2023-01-18 00:00:00
59.16143035888672
SinceLeft_180
2023-06-17 00:00:00
47.2962646484375
SinceLeft_365
2023-12-19 00:00:00
51.64468002319336
Hellofresh
2022-09-19 00:00:00
Hellofresh_2022-09
Price           Close   High        Low       Open   Volume
Ticker         HFG.DE HFG.DE     HFG.DE     HFG.DE   HFG.DE
Date
2022-09-19  24.680000  25.98  24.680000  25.450001   856921
2022-09-20  24.730000  25.57  24.209999  24.920000  1369258
2022-09-21  23.980000  24.42  23.490000  24.360001  1105981
2022-09-22  22.190001  23.27  21.930000  23.200001  1714713
2022-09-23  22.000000  22.83  21.680000  22.299999  1463016
Date
2022-09-19 00:00:00

[*********************100%***********************]  1 of 1 completed

24.68000030517578
Left
2022-09-19 00:00:00
24.68000030517578
SinceLeft_30
2022-10-19 00:00:00
21.579999923706055
SinceLeft_180
2023-03-18 00:00:00
16.174999237060547
SinceLeft_365
2023-09-19 00:00:00
33.040000915527344
Delivery Hero
2022-06-20 00:00:00
Delivery Hero_2022-06
Price           Close       High        Low       Open   Volume
Ticker        DHER.DE    DHER.DE    DHER.DE    DHER.DE  DHER.DE
Date
2022-06-20  36.480000  36.939999  34.209999  35.080002  1542487
2022-06-21  34.000000  37.650002  33.150002  36.730000  1595931
2022-06-22  35.220001  35.980000  32.320000  33.119999  1398573
2022-06-23  38.139999  38.139999  34.209999  34.830002  1179022
2022-06-24  39.590000  39.590000  35.849998  37.830002  1739047
Date
2022-06-20 00:00:00
36.47999954223633
Left
2022-06-20 00:00:00
36.47999954223633
SinceLeft_30
2022-07-20 00:00:00
41.61000061035156
SinceLeft_180
2022-12-17 00:00:00
42.650001525878906
SinceLeft_365
2023-06-20 00:00:00
34.44499969482422
Beiersdorf
2022-03-21 00:00:00
Beiersdorf_2022-03

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker         BEI.DE     BEI.DE     BEI.DE     BEI.DE  BEI.DE
Date
2022-03-21  85.481972  88.376705  85.481972  88.065862  526402
2022-03-22  89.192673  90.727465  85.151710  85.151710  774738
2022-03-23  89.814362  91.795990  89.114962  89.114962  644595
2022-03-24  89.522942  91.213151  89.484085  90.086340  382384
2022-03-25  90.572037  90.882880  89.173246  89.600651  357214
Date
2022-03-21 00:00:00
85.48197174072266
Left
2022-03-21 00:00:00
85.48197174072266
SinceLeft_30
2022-04-20 00:00:00
93.32310485839844
SinceLeft_180
2022-09-17 00:00:00
99.62554931640625
SinceLeft_365
2023-03-21 00:00:00
112.88611602783203
Deutsche Wohn
2021-10-29 00:00:00
Deutsche Wohn_2021-10

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker        DWNI.DE    DWNI.DE    DWNI.DE    DWNI.DE  DWNI.DE
Date
2021-10-29  43.961575  45.678746  43.852390  45.559636  2488971
2021-11-01  43.147655  44.576976  43.038471  43.534763  1131250
2021-11-02  44.170013  44.289123  43.058320  43.078172   855572
2021-11-03  45.291637  46.026148  43.961574  44.031054   929490
2021-11-04  45.658894  46.552221  45.410747  45.658894   847914
Date
2021-10-29 00:00:00
43.96157455444336
Left
2021-10-29 00:00:00
43.96157455444336
SinceLeft_30
2021-11-28 00:00:00
40.64634323120117
SinceLeft_180
2022-04-27 00:00:00
27.46481704711914
SinceLeft_365
2022-10-29 00:00:00
20.300800323486328
Beiersdorf
2021-03-22 00:00:00
Beiersdorf_2021-03

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker         BEI.DE     BEI.DE     BEI.DE     BEI.DE  BEI.DE
Date
2021-03-22  85.127747  85.455461  83.816902  84.819313  357151
2021-03-23  86.053055  86.669922  84.665100  84.800047  387614
2021-03-24  85.995232  86.477160  85.494022  85.860292  379559
2021-03-25  86.939804  87.267519  85.551857  85.860290  335078
2021-03-26  85.648239  87.132578  85.089201  87.132578  310506
Date
2021-03-22 00:00:00
85.12774658203125
Left
2021-03-22 00:00:00
85.12774658203125
SinceLeft_30
2021-04-21 00:00:00
88.9983901977539
SinceLeft_180
2021-09-18 00:00:00
99.7127914428711
SinceLeft_365
2022-03-22 00:00:00
89.19266510009766
Wirecard
2020-08-24 00:00:00
Wirecard_2020-08

[*********************100%***********************]  1 of 1 completed

Price        Close    High     Low   Open Volume
Ticker      WDI.HM  WDI.HM  WDI.HM WDI.HM WDI.HM
Date
2020-08-24  1.2168  1.2800  1.2168  1.273   4903
2020-08-25  1.1400  1.2200  1.1400  1.220   3855
2020-08-26  1.0560  1.1100  1.0362  1.110   6879
2020-08-27  1.0352  1.0504  1.0152  1.050   7443
2020-08-28  0.8810  0.9900  0.8500  0.990   9635
Date
2020-08-24 00:00:00
1.2167999744415283
Left
2020-08-24 00:00:00
1.2167999744415283
SinceLeft_30
2020-09-23 00:00:00
0.8282999992370605
SinceLeft_180
2021-02-20 00:00:00
0.41019999980926514
SinceLeft_365
2021-08-24 00:00:00
0.2867000102996826
Lufthansa
2020-06-22 00:00:00
Lufthansa_2020-06

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open    Volume
Ticker        LHA.DE    LHA.DE    LHA.DE    LHA.DE    LHA.DE
Date
2020-06-22  6.407498  6.519408  6.037935  6.298191  14169296
2020-06-23  6.116012  6.532422  6.116012  6.441332  11425083
2020-06-24  5.828429  6.165460  5.781583  6.083479  11705687
2020-06-25  6.240934  7.026907  6.196691  6.935817  27436244
2020-06-26  5.851852  6.490780  5.844044  6.433524  14890272
Date
2020-06-22 00:00:00
6.407497882843018
Left
2020-06-22 00:00:00
6.407497882843018
SinceLeft_30
2020-07-22 00:00:00
5.58899450302124
SinceLeft_180
2020-12-19 00:00:00
6.032729148864746
SinceLeft_365
2021-06-22 00:00:00
6.581869125366211
Thyssenkrupp
2019-09-23 00:00:00
Thyssenkrupp_2019-09

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker         TKA.DE     TKA.DE     TKA.DE     TKA.DE   TKA.DE
Date
2019-09-23  11.500793  11.713428  11.306647  11.685693  3584278
2019-09-24  11.533151  11.745785  11.454568  11.510038  2563246
2019-09-25  11.560884  11.570130  11.223442  11.523904  3961942
2019-09-26  11.634845  11.967665  11.593242  11.648713  5152190
2019-09-27  11.898327  12.120207  11.694936  11.764275  3597581
Date
2019-09-23 00:00:00
11.500792503356934
Left
2019-09-23 00:00:00
11.500792503356934
SinceLeft_30
2019-10-23 00:00:00
12.453028678894043
SinceLeft_180
2020-03-21 00:00:00
3.6055538654327393
SinceLeft_365
2020-09-22 00:00:00
4.491225719451904
Commerzbank
2018-09-24 00:00:00
Commerzbank_2018-09

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open    Volume
Ticker        CBK.DE    CBK.DE    CBK.DE    CBK.DE    CBK.DE
Date
2018-09-24  8.808078  8.915959  8.706708  8.862948   9277077
2018-09-25  8.892710  8.981060  8.844349  8.851789   6979763
2018-09-26  8.834118  8.919678  8.796918  8.905729   5261355
2018-09-27  8.767159  8.819239  8.463977  8.760649   8298548
2018-09-28  8.346796  8.645327  8.145914  8.629517  14074387
Date
2018-09-24 00:00:00
8.808077812194824
Left
2018-09-24 00:00:00
8.808077812194824
SinceLeft_30
2018-10-24 00:00:00
7.462360858917236
SinceLeft_180
2019-03-23 00:00:00
6.357514381408691
SinceLeft_365
2019-09-24 00:00:00
4.8788065910339355
Prosieben Media
2018-03-19 00:00:00
Prosieben Media_2018-03

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker        PSAN.DE    PSAN.DE    PSAN.DE    PSAN.DE PSAN.DE
Date
2018-03-19  16.354136  16.822735  16.354136  16.775874    5878
2018-03-20  16.447857  16.729018  16.354138  16.400998   15923
2018-03-21  16.400993  16.588434  16.166693  16.400993   20202
2018-03-22  16.307276  16.729016  16.119837  16.541576   12229
2018-03-23  16.260412  16.260412  16.166692  16.213551    7677
Date
2018-03-19 00:00:00
16.354135513305664
Left
2018-03-19 00:00:00
16.354135513305664
SinceLeft_30
2018-04-18 00:00:00
14.995195388793945
SinceLeft_180
2018-09-15 00:00:00
15.441526412963867
SinceLeft_365
2019-03-19 00:00:00
16.676851272583008
K&S
2016-03-21 00:00:00
K&S_2016-03

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker         SDF.DE     SDF.DE     SDF.DE     SDF.DE   SDF.DE
Date
2016-03-21  17.227318  17.398992  17.051650  17.191386  1216761
2016-03-22  17.211344  17.235297  16.848033  17.047654  1442060
2016-03-23  16.864008  17.279219  16.744234  17.179408   951895
2016-03-24  16.576551  16.907922  16.372937  16.816096   930885
2016-03-29  16.093470  16.760204  15.969704  16.724272  1570096
Date
2016-03-21 00:00:00
17.227317810058594
Left
2016-03-21 00:00:00
17.227317810058594
SinceLeft_30
2016-04-20 00:00:00
17.41097068786621
SinceLeft_180
2016-09-17 00:00:00
14.889361381530762
SinceLeft_365
2017-03-21 00:00:00
18.225688934326172
Lanxess
2015-09-21 00:00:00
Lanxess_2015-09

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker         LXS.DE     LXS.DE     LXS.DE     LXS.DE   LXS.DE
Date
2015-09-21  39.114288  39.485628  37.739910  37.893567   927847
2015-09-22  38.905144  40.975247  38.341734  39.092945  2542356
2015-09-23  37.825275  40.040497  37.803933  39.097214  1157841
2015-09-24  35.887493  38.200887  35.682615  38.200887  1401629
2015-09-25  36.036880  36.839311  35.853345  36.570412   692406
Date
2015-09-21 00:00:00
39.114288330078125
Left
2015-09-21 00:00:00
39.114288330078125
SinceLeft_30
2015-10-21 00:00:00
39.48135757446289
SinceLeft_180
2016-03-19 00:00:00
35.861873626708984
SinceLeft_365
2016-09-20 00:00:00
41.20811462402344
Man
2012-09-24 00:00:00
Man_2012-09

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['MAN.DE']: YFTzMissingError('possibly delisted; no timezone found')

Empty DataFrame
Columns: [(Adj Close, MAN.DE), (Close, MAN.DE), (High, MAN.DE), (Low, MAN.DE), (Open, MAN.DE), (Volume, MAN.DE)]
Index: []
No trading data for Man with ticker MAN.DE since leaving date 2012-09-24 00:00:00
Salzgitter A
2010-06-21 00:00:00
Salzgitter A_2010-06

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker         SZG.DE     SZG.DE     SZG.DE     SZG.DE  SZG.DE
Date
2010-06-21  44.929310  45.595114  44.676469  45.460267  612218
2010-06-22  44.153938  44.861885  43.639834  44.836602  468313
2010-06-23  43.993809  44.828172  43.294289  44.069660  559084
2010-06-24  43.361717  44.507917  43.066738  44.507917  418767
2010-06-25  42.476784  43.471280  42.164948  43.319577  358534
Date
2010-06-21 00:00:00
44.9293098449707
Left
2010-06-21 00:00:00
44.9293098449707
SinceLeft_30
2010-07-21 00:00:00
41.72669219970703
SinceLeft_180
2010-12-18 00:00:00
48.75558853149414
SinceLeft_365
2011-06-21 00:00:00
42.98445129394531
Hannover Rueck
2009-09-21 00:00:00
Hannover Rueck_2009-09

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker        HNR1.DE    HNR1.DE    HNR1.DE    HNR1.DE HNR1.DE
Date
2009-09-21  18.099602  18.239518  17.657465  18.228325  791560
2009-09-22  17.747011  18.149971  17.646272  17.903718  394587
2009-09-23  17.366438  17.640674  17.243311  17.579111  684875
2009-09-24  17.321665  17.584707  17.237714  17.428001  239472
2009-09-25  17.243311  17.517547  17.209731  17.209731  378955
Date
2009-09-21 00:00:00
18.09960174560547
Left
2009-09-21 00:00:00
18.09960174560547
SinceLeft_30
2009-10-21 00:00:00
18.916711807250977
SinceLeft_180
2010-03-20 00:00:00
20.114398956298828
SinceLeft_365
2010-09-21 00:00:00
21.134248733520508
Infineon Technol
2009-03-23 00:00:00
Infineon Technol_2009-03

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open    Volume
Ticker        IFX.DE    IFX.DE    IFX.DE    IFX.DE    IFX.DE
Date
2009-03-23  0.585200  0.588880  0.511590  0.522631  30289061
2009-03-24  0.680893  0.706657  0.607283  0.618325  42848825
2009-03-25  0.669852  0.684574  0.633046  0.662491  23687837
2009-03-26  0.673532  0.684574  0.644088  0.669852  15988350
2009-03-27  0.599922  0.680893  0.581520  0.680893  20211903
Date
2009-03-23 00:00:00
0.5851997137069702
Left
2009-03-23 00:00:00
0.5851997137069702
SinceLeft_30
2009-04-22 00:00:00
1.302898645401001
SinceLeft_180
2009-09-19 00:00:00
2.968130350112915
SinceLeft_365
2010-03-23 00:00:00
3.8622851371765137
Continental
2008-12-22 00:00:00
Continental_2008-12

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker         CON.DE     CON.DE     CON.DE     CON.DE   CON.DE
Date
2008-12-22  19.400499  26.061277  18.000465  25.546112  2035066
2008-12-23  18.073193  19.618688  17.370145  19.273224   790735
2008-12-29  17.758034  18.467143  17.576211  18.376230   478386
2008-12-30  17.503479  18.048947  17.364081  17.848942   404339
2009-01-02  18.455023  20.085369  16.673160  17.739853   482388
Date
2008-12-22 00:00:00
19.40049934387207
Left
2008-12-22 00:00:00
19.40049934387207
SinceLeft_30
2009-01-21 00:00:00
10.9275541305542
SinceLeft_180
2009-06-20 00:00:00
11.818487167358398
SinceLeft_365
2009-12-22 00:00:00
23.043014526367188
TUI
2008-09-22 00:00:00
TUI_2008-09

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker        TUI1.DE    TUI1.DE    TUI1.DE    TUI1.DE  TUI1.DE
Date
2008-09-22  27.164831  28.255703  27.164831  27.614012  2090544
2008-09-23  25.774502  27.635400  25.442963  26.843983  1729635
2008-09-24  25.646170  25.977709  25.047260  25.496444  1008320
2008-09-25  25.539221  26.266467  25.357408  25.667557   791117
2008-09-26  25.346712  25.731725  24.491128  25.282544  1302866
Date
2008-09-22 00:00:00
27.164831161499023
Left
2008-09-22 00:00:00
27.164831161499023
SinceLeft_30
2008-10-22 00:00:00
18.13840675354004
SinceLeft_180
2009-03-21 00:00:00
8.855306625366211
SinceLeft_365
2009-09-22 00:00:00
15.06899642944336
Altana
2007-06-18 00:00:00
Altana_2007-06

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['ALT.DE']: YFPricesMissingError('possibly delisted; no price data found  (1d 2007-06-18 00:00:00 -> 2025-09-29)')

Empty DataFrame
Columns: [(Adj Close, ALT.DE), (Close, ALT.DE), (High, ALT.DE), (Low, ALT.DE), (Open, ALT.DE), (Volume, ALT.DE)]
Index: []
No trading data for Altana with ticker ALT.DE since leaving date 2007-06-18 00:00:00
MLP S
2003-09-22 00:00:00
MLP S_2003-09

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open   Volume
Ticker        MLP.DE    MLP.DE    MLP.DE    MLP.DE   MLP.DE
Date
2003-09-22  6.585332  7.008166  6.530908  6.865826   797042
2003-09-23  6.463923  6.623010  6.371821  6.585331   590659
2003-09-24  6.317398  6.606265  6.221109  6.455552   550516
2003-09-25  5.961547  6.300652  5.823393  6.225295  1028594
2003-09-26  5.865259  5.923870  5.722919  5.923870   483660
Date
2003-09-22 00:00:00
6.585331916809082
Left
2003-09-22 00:00:00
6.585331916809082
SinceLeft_30
2003-10-22 00:00:00
6.275531768798828
SinceLeft_180
2004-03-20 00:00:00
5.9071221351623535
SinceLeft_365
2004-09-21 00:00:00
5.719705104827881
Evonik Operation
2002-09-23 00:00:00
Evonik Operation_2002-09

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker         EVK.DE     EVK.DE     EVK.DE     EVK.DE  EVK.DE
Date
2013-07-08  14.164886  14.288887  13.821723  14.043770  194347
2013-07-09  14.418655  14.562842  14.167771  14.332144  273147
2013-07-10  14.493629  14.562839  14.245629  14.562839  172927
2013-07-11  14.995399  15.182841  14.554188  14.643583  152442
2013-07-12  15.081911  15.260702  14.914655  15.139586  143871
Date
2002-09-23 00:00:00
14.164886474609375
Left
2002-09-23 00:00:00
14.164886474609375
SinceLeft_30
2002-10-23 00:00:00
14.164886474609375
SinceLeft_180
2003-03-22 00:00:00
14.164886474609375
SinceLeft_365
2003-09-23 00:00:00
14.164886474609375
GEA Group
1996-11-19 00:00:00
GEA Group_1996-11

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker         G1A.DE     G1A.DE     G1A.DE     G1A.DE  G1A.DE
Date
2000-01-03  12.243127  12.474588  11.999483  12.121304  171431
2000-01-04  11.889842  12.230944  11.755837  12.060392  335095
2000-01-05  11.999485  12.176127  11.822842  11.822842  485247
2000-01-06  11.914207  12.060394  11.877661  12.060394  292804
2000-01-07  13.034971  13.034971  11.999484  12.029939  881688
Date
1996-11-19 00:00:00
12.24312686920166
Left
1996-11-19 00:00:00
12.24312686920166
SinceLeft_30
1996-12-19 00:00:00
12.24312686920166
SinceLeft_180
1997-05-18 00:00:00
12.24312686920166
SinceLeft_365
1997-11-19 00:00:00
12.24312686920166
Continental
1996-09-23 00:00:00
Continental_1996-09

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open  Volume
Ticker        CON.DE    CON.DE    CON.DE    CON.DE  CON.DE
Date
1996-12-16  3.653553  3.677209  3.650935  3.664057  117953
1996-12-17  3.650937  3.650937  3.611536  3.631234   81642
1996-12-18  3.644385  3.677209  3.637809  3.677209   63602
1996-12-19  3.657512  3.657512  3.624682  3.650936  151605
1996-12-20  3.664057  3.723161  3.664057  3.703463  155421
Date
1996-09-23 00:00:00
3.653552532196045
Left
1996-09-23 00:00:00
3.653552532196045
SinceLeft_30
1996-10-23 00:00:00
3.653552532196045
SinceLeft_180
1997-03-22 00:00:00
4.74753475189209
SinceLeft_365
1997-09-23 00:00:00
6.073968410491943

{'Covestro_2024-12': {'Ticker': '1COV.DE',
  'Close now': np.float64(58.34000015258789),
  'Issuer': 'Covestro',
  'Date_date': Timestamp('2024-12-27 00:00:00'),
  'Date': np.float64(56.279998779296875),
  'Date_%': np.float64(3.660272597676051),
  'Date_dax': np.float64(19984.3203125),
  'Date_dax%': np.float64(18.930935307485196),
  'Left_date': Timestamp('2024-12-27 00:00:00'),
  'Left': np.float64(56.279998779296875),
  'Left_%': np.float64(3.660272597676051),
  'Left_dax': np.float64(19984.3203125),
  'Left_dax%': np.float64(18.930935307485196),
  'SinceLeft_30_date': Timestamp('2025-01-26 00:00:00'),
  'SinceLeft_30': np.float64(56.18000030517578),
  'SinceLeft_30_%': np.float64(3.844784328370876),
  'SinceLeft_30_dax': np.float64(21282.1796875),
  'SinceLeft_30_dax%': np.float64(11.678124193546612),
  'SinceLeft_180_date': Timestamp('2025-06-25 00:00:00'),
  'SinceLeft_180': np.float64(60.5),
  'SinceLeft_180_%': np.float64(-3.570247681672911),
  'SinceLeft_180_dax': np.float64(23498.330078125),
  'SinceLeft_180_dax%': np.float64(1.145651556855154)},
 'Fresenius Med Cr_2023-03': {'Ticker': 'FME.DE',
  'Close now': np.float64(43.52000045776367),
  'Issuer': 'Fresenius Med Cr',
  'Date_date': Timestamp('2023-03-20 00:00:00'),
  'Date': np.float64(33.508216857910156),
  'Date_%': np.float64(29.87859259210348),
  'Date_dax': np.float64(14933.3798828125),
  'Date_dax%': np.float64(59.15713153359965),
  'Left_date': Timestamp('2023-03-20 00:00:00'),
  'Left': np.float64(33.508216857910156),
  'Left_%': np.float64(29.87859259210348),
  'Left_dax': np.float64(14933.3798828125),
  'Left_dax%': np.float64(59.15713153359965),
  'SinceLeft_30_date': Timestamp('2023-04-19 00:00:00'),
  'SinceLeft_30': np.float64(37.56898498535156),
  'SinceLeft_30_%': np.float64(15.84023490315869),
  'SinceLeft_30_dax': np.float64(15895.2001953125),
  'SinceLeft_30_dax%': np.float64(49.52651599511817),
  'SinceLeft_180_date': Timestamp('2023-09-16 00:00:00'),
  'SinceLeft_180': np.float64(39.814720153808594),
  'SinceLeft_180_%': np.float64(9.306307540631153),
  'SinceLeft_180_dax': np.float64(15727.1201171875),
  'SinceLeft_180_dax%': np.float64(51.1245471860132),
  'SinceLeft_365_date': Timestamp('2024-03-19 00:00:00'),
  'SinceLeft_365': np.float64(33.966285705566406),
  'SinceLeft_365_%': np.float64(28.127051733041263),
  'SinceLeft_365_dax': np.float64(17987.490234375),
  'SinceLeft_365_dax%': np.float64(32.133714891914366)},
 'Linde_2023-02': {'Ticker': 'LIN.DE',
  'Close now': np.float64(404.79998779296875),
  'Issuer': 'Linde',
  'Date_date': Timestamp('2023-02-27 00:00:00'),
  'Date': np.float64(314.3951416015625),
  'Date_%': np.float64(28.755166422379897),
  'Date_dax': np.float64(15381.4296875),
  'Date_dax%': np.float64(54.52100061813581),
  'Left_date': Timestamp('2023-02-27 00:00:00'),
  'Left': np.float64(314.3951416015625),
  'Left_%': np.float64(28.755166422379897),
  'Left_dax': np.float64(15381.4296875),
  'Left_dax%': np.float64(54.52100061813581),
  'SinceLeft_30_date': Timestamp('2023-03-29 00:00:00'),
  'SinceLeft_30': np.float64(311.28857421875),
  'SinceLeft_30_%': np.float64(30.040104687075985),
  'SinceLeft_30_dax': np.float64(15328.7802734375),
  'SinceLeft_30_dax%': np.float64(55.051730395572406),
  'SinceLeft_180_date': Timestamp('2023-08-26 00:00:00'),
  'SinceLeft_180': np.float64(342.04901123046875),
  'SinceLeft_180_%': np.float64(18.345609693991815),
  'SinceLeft_180_dax': np.float64(15792.6103515625),
  'SinceLeft_180_dax%': np.float64(50.4978501552688),
  'SinceLeft_365_date': Timestamp('2024-02-27 00:00:00'),
  'SinceLeft_365': np.float64(397.8797302246094),
  'SinceLeft_365_%': np.float64(1.7392837691059926),
  'SinceLeft_365_dax': np.float64(17556.490234375),
  'SinceLeft_365_dax%': np.float64(35.377508517983735)},
 'Puma DE_2022-12': {'Ticker': 'PUM.DE',
  'Close now': np.float64(20.670000076293945),
  'Issuer': 'Puma DE',
  'Date_date': Timestamp('2022-12-19 00:00:00'),
  'Date': np.float64(48.57068634033203),
  'Date_%': np.float64(-57.44346717388255),
  'Date_dax': np.float64(13942.8701171875),
  'Date_dax%': np.float64(70.46374858790045),
  'Left_date': Timestamp('2022-12-19 00:00:00'),
  'Left': np.float64(48.57068634033203),
  'Left_%': np.float64(-57.44346717388255),
  'Left_dax': np.float64(13942.8701171875),
  'Left_dax%': np.float64(70.46374858790045),
  'SinceLeft_30_date': Timestamp('2023-01-18 00:00:00'),
  'SinceLeft_30': np.float64(59.16143035888672),
  'SinceLeft_30_%': np.float64(-65.06169652947027),
  'SinceLeft_30_dax': np.float64(15181.7998046875),
  'SinceLeft_30_dax%': np.float64(56.552842009954475),
  'SinceLeft_180_date': Timestamp('2023-06-17 00:00:00'),
  'SinceLeft_180': np.float64(47.2962646484375),
  'SinceLeft_180_%': np.float64(-56.29675994512855),
  'SinceLeft_180_dax': np.float64(16201.2001953125),
  'SinceLeft_180_dax%': np.float64(46.70233548114955),
  'SinceLeft_365_date': Timestamp('2023-12-19 00:00:00'),
  'SinceLeft_365': np.float64(51.64468002319336),
  'SinceLeft_365_%': np.float64(-59.97651632847536),
  'SinceLeft_365_dax': np.float64(16744.41015625),
  'SinceLeft_365_dax%': np.float64(41.94312514274237)},
 'Hellofresh_2022-09': {'Ticker': 'HFG.DE',
  'Close now': np.float64(7.447999954223633),
  'Issuer': 'Hellofresh',
  'Date_date': Timestamp('2022-09-19 00:00:00'),
  'Date': np.float64(24.68000030517578),
  'Date_%': np.float64(-69.82171854891885),
  'Date_dax': np.float64(12803.240234375),
  'Date_dax%': np.float64(85.63690618478996),
  'Left_date': Timestamp('2022-09-19 00:00:00'),
  'Left': np.float64(24.68000030517578),
  'Left_%': np.float64(-69.82171854891885),
  'Left_dax': np.float64(12803.240234375),
  'Left_dax%': np.float64(85.63690618478996),
  'SinceLeft_30_date': Timestamp('2022-10-19 00:00:00'),
  'SinceLeft_30': np.float64(21.579999923706055),
  'SinceLeft_30_%': np.float64(-65.48656172124515),
  'SinceLeft_30_dax': np.float64(12741.41015625),
  'SinceLeft_30_dax%': np.float64(86.53774402546324),
  'SinceLeft_180_date': Timestamp('2023-03-18 00:00:00'),
  'SinceLeft_180': np.float64(16.174999237060547),
  'SinceLeft_180_%': np.float64(-53.95363025947726),
  'SinceLeft_180_dax': np.float64(14933.3798828125),
  'SinceLeft_180_dax%': np.float64(59.15713153359965),
  'SinceLeft_365_date': Timestamp('2023-09-19 00:00:00'),
  'SinceLeft_365': np.float64(33.040000915527344),
  'SinceLeft_365_%': np.float64(-77.45762788183399),
  'SinceLeft_365_dax': np.float64(15664.48046875),
  'SinceLeft_365_dax%': np.float64(51.728869080051986)},
 'Delivery Hero_2022-06': {'Ticker': 'DHER.DE',
  'Close now': np.float64(24.760000228881836),
  'Issuer': 'Delivery Hero',
  'Date_date': Timestamp('2022-06-20 00:00:00'),
  'Date': np.float64(36.47999954223633),
  'Date_%': np.float64(-32.12719150334732),
  'Date_dax': np.float64(13265.599609375),
  'Date_dax%': np.float64(79.16671513063851),
  'Left_date': Timestamp('2022-06-20 00:00:00'),
  'Left': np.float64(36.47999954223633),
  'Left_%': np.float64(-32.12719150334732),
  'Left_dax': np.float64(13265.599609375),
  'Left_dax%': np.float64(79.16671513063851),
  'SinceLeft_30_date': Timestamp('2022-07-20 00:00:00'),
  'SinceLeft_30': np.float64(41.61000061035156),
  'SinceLeft_30_%': np.float64(-40.49507362246434),
  'SinceLeft_30_dax': np.float64(13281.98046875),
  'SinceLeft_30_dax%': np.float64(78.94574621925206),
  'SinceLeft_180_date': Timestamp('2022-12-17 00:00:00'),
  'SinceLeft_180': np.float64(42.650001525878906),
  'SinceLeft_180_%': np.float64(-41.9460742249725),
  'SinceLeft_180_dax': np.float64(13942.8701171875),
  'SinceLeft_180_dax%': np.float64(70.46374858790045),
  'SinceLeft_365_date': Timestamp('2023-06-20 00:00:00'),
  'SinceLeft_365': np.float64(34.44499969482422),
  'SinceLeft_365_%': np.float64(-28.117287129480427),
  'SinceLeft_365_dax': np.float64(16111.3203125),
  'SinceLeft_365_dax%': np.float64(47.52074070589924)},
 'Beiersdorf_2022-03': {'Ticker': 'BEI.DE',
  'Close now': np.float64(87.81999969482422),
  'Issuer': 'Beiersdorf',
  'Date_date': Timestamp('2022-03-21 00:00:00'),
  'Date': np.float64(85.48197174072266),
  'Date_%': np.float64(2.735112335959089),
  'Date_dax': np.float64(14326.9697265625),
  'Date_dax%': np.float64(65.89369221904956),
  'Left_date': Timestamp('2022-03-21 00:00:00'),
  'Left': np.float64(85.48197174072266),
  'Left_%': np.float64(2.735112335959089),
  'Left_dax': np.float64(14326.9697265625),
  'Left_dax%': np.float64(65.89369221904956),
  'SinceLeft_30_date': Timestamp('2022-04-20 00:00:00'),
  'SinceLeft_30': np.float64(93.32310485839844),
  'SinceLeft_30_%': np.float64(-5.896830342201131),
  'SinceLeft_30_dax': np.float64(14362.0302734375),
  'SinceLeft_30_dax%': np.float64(65.48871301613907),
  'SinceLeft_180_date': Timestamp('2022-09-17 00:00:00'),
  'SinceLeft_180': np.float64(99.62554931640625),
  'SinceLeft_180_%': np.float64(-11.849921734522272),
  'SinceLeft_180_dax': np.float64(12803.240234375),
  'SinceLeft_180_dax%': np.float64(85.63690618478996),
  'SinceLeft_365_date': Timestamp('2023-03-21 00:00:00'),
  'SinceLeft_365': np.float64(112.88611602783203),
  'SinceLeft_365_%': np.float64(-22.204782319579298),
  'SinceLeft_365_dax': np.float64(15195.33984375),
  'SinceLeft_365_dax%': np.float64(56.41334321506362)},
 'Deutsche Wohn_2021-10': {'Ticker': 'DWNI.DE',
  'Close now': np.float64(21.049999237060547),
  'Issuer': 'Deutsche Wohn',
  'Date_date': Timestamp('2021-10-29 00:00:00'),
  'Date': np.float64(43.96157455444336),
  'Date_%': np.float64(-52.117276393293),
  'Date_dax': np.float64(15688.76953125),
  'Date_dax%': np.float64(51.49396525430588),
  'Left_date': Timestamp('2021-10-29 00:00:00'),
  'Left': np.float64(43.96157455444336),
  'Left_%': np.float64(-52.117276393293),
  'Left_dax': np.float64(15688.76953125),
  'Left_dax%': np.float64(51.49396525430588),
  'SinceLeft_30_date': Timestamp('2021-11-28 00:00:00'),
  'SinceLeft_30': np.float64(40.64634323120117),
  'SinceLeft_30_%': np.float64(-48.21182531150298),
  'SinceLeft_30_dax': np.float64(15280.8603515625),
  'SinceLeft_30_dax%': np.float64(55.537963934535405),
  'SinceLeft_180_date': Timestamp('2022-04-27 00:00:00'),
  'SinceLeft_180': np.float64(27.46481704711914),
  'SinceLeft_180_%': np.float64(-23.356492049640142),
  'SinceLeft_180_dax': np.float64(13793.9404296875),
  'SinceLeft_180_dax%': np.float64(72.30420258555843),
  'SinceLeft_365_date': Timestamp('2022-10-29 00:00:00'),
  'SinceLeft_365': np.float64(20.300800323486328),
  'SinceLeft_365_%': np.float64(3.6904895454168862),
  'SinceLeft_365_dax': np.float64(13253.740234375),
  'SinceLeft_365_dax%': np.float64(79.32703253724812)},
 'Beiersdorf_2021-03': {'Ticker': 'BEI.DE',
  'Close now': np.float64(87.81999969482422),
  'Issuer': 'Beiersdorf',
  'Date_date': Timestamp('2021-03-22 00:00:00'),
  'Date': np.float64(85.12774658203125),
  'Date_%': np.float64(3.1626035233983885),
  'Date_dax': np.float64(14657.2099609375),
  'Date_dax%': np.float64(62.155956869296205),
  'Left_date': Timestamp('2021-03-22 00:00:00'),
  'Left': np.float64(85.12774658203125),
  'Left_%': np.float64(3.1626035233983885),
  'Left_dax': np.float64(14657.2099609375),
  'Left_dax%': np.float64(62.155956869296205),
  'SinceLeft_30_date': Timestamp('2021-04-21 00:00:00'),
  'SinceLeft_30': np.float64(88.9983901977539),
  'SinceLeft_30_%': np.float64(-1.3240582220771735),
  'SinceLeft_30_dax': np.float64(15195.9697265625),
  'SinceLeft_30_dax%': np.float64(56.4068597804221),
  'SinceLeft_180_date': Timestamp('2021-09-18 00:00:00'),
  'SinceLeft_180': np.float64(99.7127914428711),
  'SinceLeft_180_%': np.float64(-11.92704724835696),
  'SinceLeft_180_dax': np.float64(15132.0595703125),
  'SinceLeft_180_dax%': np.float64(57.067443146532405),
  'SinceLeft_365_date': Timestamp('2022-03-22 00:00:00'),
  'SinceLeft_365': np.float64(89.19266510009766),
  'SinceLeft_365_%': np.float64(-1.5389891127627453),
  'SinceLeft_365_dax': np.float64(14473.2001953125),
  'SinceLeft_365_dax%': np.float64(64.21757967666129)},
 'Wirecard_2020-08': {'Ticker': 'WDI.HM',
  'Close now': np.float64(0.01860000006854534),
  'Issuer': 'Wirecard',
  'Date_date': Timestamp('2020-08-24 00:00:00'),
  'Date': np.float64(1.2167999744415283),
  'Date_%': np.float64(-98.47140035673635),
  'Date_dax': np.float64(13066.5400390625),
  'Date_dax%': np.float64(81.8961943364257),
  'Left_date': Timestamp('2020-08-24 00:00:00'),
  'Left': np.float64(1.2167999744415283),
  'Left_%': np.float64(-98.47140035673635),
  'Left_dax': np.float64(13066.5400390625),
  'Left_dax%': np.float64(81.8961943364257),
  'SinceLeft_30_date': Timestamp('2020-09-23 00:00:00'),
  'SinceLeft_30': np.float64(0.8282999992370605),
  'SinceLeft_30_%': np.float64(-97.75443678791771),
  'SinceLeft_30_dax': np.float64(12642.9697265625),
  'SinceLeft_30_dax%': np.float64(87.99016035421737),
  'SinceLeft_180_date': Timestamp('2021-02-20 00:00:00'),
  'SinceLeft_180': np.float64(0.41019999980926514),
  'SinceLeft_180_%': np.float64(-95.46562650482838),
  'SinceLeft_180_dax': np.float64(13950.0400390625),
  'SinceLeft_180_dax%': np.float64(70.37613509313825),
  'SinceLeft_365_date': Timestamp('2021-08-24 00:00:00'),
  'SinceLeft_365': np.float64(0.2867000102996826),
  'SinceLeft_365_%': np.float64(-93.51238249028904),
  'SinceLeft_365_dax': np.float64(15905.849609375),
  'SinceLeft_365_dax%': np.float64(49.42640378349405)},
 'Lufthansa_2020-06': {'Ticker': 'LHA.DE',
  'Close now': np.float64(7.866000175476074),
  'Issuer': 'Lufthansa',
  'Date_date': Timestamp('2020-06-22 00:00:00'),
  'Date': np.float64(6.407497882843018),
  'Date_%': np.float64(22.76243112835672),
  'Date_dax': np.float64(12262.9697265625),
  'Date_dax%': np.float64(93.81552423649673),
  'Left_date': Timestamp('2020-06-22 00:00:00'),
  'Left': np.float64(6.407497882843018),
  'Left_%': np.float64(22.76243112835672),
  'Left_dax': np.float64(12262.9697265625),
  'Left_dax%': np.float64(93.81552423649673),
  'SinceLeft_30_date': Timestamp('2020-07-22 00:00:00'),
  'SinceLeft_30': np.float64(5.58899450302124),
  'SinceLeft_30_%': np.float64(40.740882304034365),
  'SinceLeft_30_dax': np.float64(13104.25),
  'SinceLeft_30_dax%': np.float64(81.37275359139211),
  'SinceLeft_180_date': Timestamp('2020-12-19 00:00:00'),
  'SinceLeft_180': np.float64(6.032729148864746),
  'SinceLeft_180_%': np.float64(30.38875078547687),
  'SinceLeft_180_dax': np.float64(13246.2998046875),
  'SinceLeft_180_dax%': np.float64(79.42776030246064),
  'SinceLeft_365_date': Timestamp('2021-06-22 00:00:00'),
  'SinceLeft_365': np.float64(6.581869125366211),
  'SinceLeft_365_%': np.float64(19.51012737644513),
  'SinceLeft_365_dax': np.float64(15636.330078125),
  'SinceLeft_365_dax%': np.float64(52.002029528338255)},
 'Thyssenkrupp_2019-09': {'Ticker': 'TKA.DE',
  'Close now': np.float64(11.755000114440918),
  'Issuer': 'Thyssenkrupp',
  'Date_date': Timestamp('2019-09-23 00:00:00'),
  'Date': np.float64(11.500792503356934),
  'Date_%': np.float64(2.2103486434503106),
  'Date_dax': np.float64(12342.330078125),
  'Date_dax%': np.float64(92.56930346259769),
  'Left_date': Timestamp('2019-09-23 00:00:00'),
  'Left': np.float64(11.500792503356934),
  'Left_%': np.float64(2.2103486434503106),
  'Left_dax': np.float64(12342.330078125),
  'Left_dax%': np.float64(92.56930346259769),
  'SinceLeft_30_date': Timestamp('2019-10-23 00:00:00'),
  'SinceLeft_30': np.float64(12.453028678894043),
  'SinceLeft_30_%': np.float64(-5.605291551573921),
  'SinceLeft_30_dax': np.float64(12798.1904296875),
  'SinceLeft_30_dax%': np.float64(85.71015326797529),
  'SinceLeft_180_date': Timestamp('2020-03-21 00:00:00'),
  'SinceLeft_180': np.float64(3.6055538654327393),
  'SinceLeft_180_%': np.float64(226.02480931262085),
  'SinceLeft_180_dax': np.float64(8741.150390625),
  'SinceLeft_180_dax%': np.float64(171.9040172102633),
  'SinceLeft_365_date': Timestamp('2020-09-22 00:00:00'),
  'SinceLeft_365': np.float64(4.491225719451904),
  'SinceLeft_365_%': np.float64(161.7325614147815),
  'SinceLeft_365_dax': np.float64(12594.3896484375),
  'SinceLeft_365_dax%': np.float64(88.71529090295118)},
 'Commerzbank_2018-09': {'Ticker': 'CBK.DE',
  'Close now': np.float64(32.060001373291016),
  'Issuer': 'Commerzbank',
  'Date_date': Timestamp('2018-09-24 00:00:00'),
  'Date': np.float64(8.808077812194824),
  'Date_%': np.float64(263.9840843470274),
  'Date_dax': np.float64(12350.8203125),
  'Date_dax%': np.float64(92.43692695006973),
  'Left_date': Timestamp('2018-09-24 00:00:00'),
  'Left': np.float64(8.808077812194824),
  'Left_%': np.float64(263.9840843470274),
  'Left_dax': np.float64(12350.8203125),
  'Left_dax%': np.float64(92.43692695006973),
  'SinceLeft_30_date': Timestamp('2018-10-24 00:00:00'),
  'SinceLeft_30': np.float64(7.462360858917236),
  'SinceLeft_30_%': np.float64(329.62276924708806),
  'SinceLeft_30_dax': np.float64(11191.6298828125),
  'SinceLeft_30_dax%': np.float64(112.36888023790796),
  'SinceLeft_180_date': Timestamp('2019-03-23 00:00:00'),
  'SinceLeft_180': np.float64(6.357514381408691),
  'SinceLeft_180_%': np.float64(404.28515690100875),
  'SinceLeft_180_dax': np.float64(11346.650390625),
  'SinceLeft_180_dax%': np.float64(109.46744849156164),
  'SinceLeft_365_date': Timestamp('2019-09-24 00:00:00'),
  'SinceLeft_365': np.float64(4.8788065910339355),
  'SinceLeft_365_%': np.float64(557.1279425630344),
  'SinceLeft_365_dax': np.float64(12307.150390625),
  'SinceLeft_365_dax%': np.float64(93.11975809286427)},
 'Prosieben Media_2018-03': {'Ticker': 'PSAN.DE',
  'Close now': np.float64(27.399999618530273),
  'Issuer': 'Prosieben Media',
  'Date_date': Timestamp('2018-03-19 00:00:00'),
  'Date': np.float64(16.354135513305664),
  'Date_%': np.float64(67.54171809471516),
  'Date_dax': np.float64(12217.01953125),
  'Date_dax%': np.float64(94.54449591166525),
  'Left_date': Timestamp('2018-03-19 00:00:00'),
  'Left': np.float64(16.354135513305664),
  'Left_%': np.float64(67.54171809471516),
  'Left_dax': np.float64(12217.01953125),
  'Left_dax%': np.float64(94.54449591166525),
  'SinceLeft_30_date': Timestamp('2018-04-18 00:00:00'),
  'SinceLeft_30': np.float64(14.995195388793945),
  'SinceLeft_30_%': np.float64(82.72519235732372),
  'SinceLeft_30_dax': np.float64(12590.830078125),
  'SinceLeft_30_dax%': np.float64(88.7686428537634),
  'SinceLeft_180_date': Timestamp('2018-09-15 00:00:00'),
  'SinceLeft_180': np.float64(15.441526412963867),
  'SinceLeft_180_%': np.float64(77.4435951845196),
  'SinceLeft_180_dax': np.float64(12096.41015625),
  'SinceLeft_180_dax%': np.float64(96.4842358641397),
  'SinceLeft_365_date': Timestamp('2019-03-19 00:00:00'),
  'SinceLeft_365': np.float64(16.676851272583008),
  'SinceLeft_365_%': np.float64(64.29959811164284),
  'SinceLeft_365_dax': np.float64(11788.41015625),
  'SinceLeft_365_dax%': np.float64(101.61784962918756)},
 'K&S_2016-03': {'Ticker': 'SDF.DE',
  'Close now': np.float64(11.630000114440918),
  'Issuer': 'K&S',
  'Date_date': Timestamp('2016-03-21 00:00:00'),
  'Date': np.float64(17.227317810058594),
  'Date_%': np.float64(-32.49094117454282),
  'Date_dax': np.float64(9948.6396484375),
  'Date_dax%': np.float64(138.90240175934858),
  'Left_date': Timestamp('2016-03-21 00:00:00'),
  'Left': np.float64(17.227317810058594),
  'Left_%': np.float64(-32.49094117454282),
  'Left_dax': np.float64(9948.6396484375),
  'Left_dax%': np.float64(138.90240175934858),
  'SinceLeft_30_date': Timestamp('2016-04-20 00:00:00'),
  'SinceLeft_30': np.float64(17.41097068786621),
  'SinceLeft_30_%': np.float64(-33.20303432280246),
  'SinceLeft_30_dax': np.float64(10421.2900390625),
  'SinceLeft_30_dax%': np.float64(128.0671488214153),
  'SinceLeft_180_date': Timestamp('2016-09-17 00:00:00'),
  'SinceLeft_180': np.float64(14.889361381530762),
  'SinceLeft_180_%': np.float64(-21.89053770387264),
  'SinceLeft_180_dax': np.float64(10373.8701171875),
  'SinceLeft_180_dax%': np.float64(129.10966489855872),
  'SinceLeft_365_date': Timestamp('2017-03-21 00:00:00'),

In [51]:
dictionary

{'Covestro_2024-12': {'Ticker': '1COV.DE',
  'Close now': np.float64(58.34000015258789),
  'Issuer': 'Covestro',
  'Date_date': Timestamp('2024-12-27 00:00:00'),
  'Date': np.float64(56.279998779296875),
  'Date_%': np.float64(3.660272597676051),
  'Date_dax': np.float64(19984.3203125),
  'Date_dax%': np.float64(18.930935307485196),
  'Left_date': Timestamp('2024-12-27 00:00:00'),
  'Left': np.float64(56.279998779296875),
  'Left_%': np.float64(3.660272597676051),
  'Left_dax': np.float64(19984.3203125),
  'Left_dax%': np.float64(18.930935307485196),
  'SinceLeft_30_date': Timestamp('2025-01-26 00:00:00'),
  'SinceLeft_30': np.float64(56.18000030517578),
  'SinceLeft_30_%': np.float64(3.844784328370876),
  'SinceLeft_30_dax': np.float64(21282.1796875),
  'SinceLeft_30_dax%': np.float64(11.678124193546612),
  'SinceLeft_180_date': Timestamp('2025-06-25 00:00:00'),
  'SinceLeft_180': np.float64(60.5),
  'SinceLeft_180_%': np.float64(-3.570247681672911),
  'SinceLeft_180_dax': np.float64(23498.330078125),
  'SinceLeft_180_dax%': np.float64(1.145651556855154)},
 'Fresenius Med Cr_2023-03': {'Ticker': 'FME.DE',
  'Close now': np.float64(43.52000045776367),
  'Issuer': 'Fresenius Med Cr',
  'Date_date': Timestamp('2023-03-20 00:00:00'),
  'Date': np.float64(33.508216857910156),
  'Date_%': np.float64(29.87859259210348),
  'Date_dax': np.float64(14933.3798828125),
  'Date_dax%': np.float64(59.15713153359965),
  'Left_date': Timestamp('2023-03-20 00:00:00'),
  'Left': np.float64(33.508216857910156),
  'Left_%': np.float64(29.87859259210348),
  'Left_dax': np.float64(14933.3798828125),
  'Left_dax%': np.float64(59.15713153359965),
  'SinceLeft_30_date': Timestamp('2023-04-19 00:00:00'),
  'SinceLeft_30': np.float64(37.56898498535156),
  'SinceLeft_30_%': np.float64(15.84023490315869),
  'SinceLeft_30_dax': np.float64(15895.2001953125),
  'SinceLeft_30_dax%': np.float64(49.52651599511817),
  'SinceLeft_180_date': Timestamp('2023-09-16 00:00:00'),
  'SinceLeft_180': np.float64(39.814720153808594),
  'SinceLeft_180_%': np.float64(9.306307540631153),
  'SinceLeft_180_dax': np.float64(15727.1201171875),
  'SinceLeft_180_dax%': np.float64(51.1245471860132),
  'SinceLeft_365_date': Timestamp('2024-03-19 00:00:00'),
  'SinceLeft_365': np.float64(33.966285705566406),
  'SinceLeft_365_%': np.float64(28.127051733041263),
  'SinceLeft_365_dax': np.float64(17987.490234375),
  'SinceLeft_365_dax%': np.float64(32.133714891914366)},
 'Linde_2023-02': {'Ticker': 'LIN.DE',
  'Close now': np.float64(404.79998779296875),
  'Issuer': 'Linde',
  'Date_date': Timestamp('2023-02-27 00:00:00'),
  'Date': np.float64(314.3951416015625),
  'Date_%': np.float64(28.755166422379897),
  'Date_dax': np.float64(15381.4296875),
  'Date_dax%': np.float64(54.52100061813581),
  'Left_date': Timestamp('2023-02-27 00:00:00'),
  'Left': np.float64(314.3951416015625),
  'Left_%': np.float64(28.755166422379897),
  'Left_dax': np.float64(15381.4296875),
  'Left_dax%': np.float64(54.52100061813581),
  'SinceLeft_30_date': Timestamp('2023-03-29 00:00:00'),
  'SinceLeft_30': np.float64(311.28857421875),
  'SinceLeft_30_%': np.float64(30.040104687075985),
  'SinceLeft_30_dax': np.float64(15328.7802734375),
  'SinceLeft_30_dax%': np.float64(55.051730395572406),
  'SinceLeft_180_date': Timestamp('2023-08-26 00:00:00'),
  'SinceLeft_180': np.float64(342.04901123046875),
  'SinceLeft_180_%': np.float64(18.345609693991815),
  'SinceLeft_180_dax': np.float64(15792.6103515625),
  'SinceLeft_180_dax%': np.float64(50.4978501552688),
  'SinceLeft_365_date': Timestamp('2024-02-27 00:00:00'),
  'SinceLeft_365': np.float64(397.8797302246094),
  'SinceLeft_365_%': np.float64(1.7392837691059926),
  'SinceLeft_365_dax': np.float64(17556.490234375),
  'SinceLeft_365_dax%': np.float64(35.377508517983735)},
 'Puma DE_2022-12': {'Ticker': 'PUM.DE',
  'Close now': np.float64(20.670000076293945),
  'Issuer': 'Puma DE',
  'Date_date': Timestamp('2022-12-19 00:00:00'),
  'Date': np.float64(48.57068634033203),
  'Date_%': np.float64(-57.44346717388255),
  'Date_dax': np.float64(13942.8701171875),
  'Date_dax%': np.float64(70.46374858790045),
  'Left_date': Timestamp('2022-12-19 00:00:00'),
  'Left': np.float64(48.57068634033203),
  'Left_%': np.float64(-57.44346717388255),
  'Left_dax': np.float64(13942.8701171875),
  'Left_dax%': np.float64(70.46374858790045),
  'SinceLeft_30_date': Timestamp('2023-01-18 00:00:00'),
  'SinceLeft_30': np.float64(59.16143035888672),
  'SinceLeft_30_%': np.float64(-65.06169652947027),
  'SinceLeft_30_dax': np.float64(15181.7998046875),
  'SinceLeft_30_dax%': np.float64(56.552842009954475),
  'SinceLeft_180_date': Timestamp('2023-06-17 00:00:00'),
  'SinceLeft_180': np.float64(47.2962646484375),
  'SinceLeft_180_%': np.float64(-56.29675994512855),
  'SinceLeft_180_dax': np.float64(16201.2001953125),
  'SinceLeft_180_dax%': np.float64(46.70233548114955),
  'SinceLeft_365_date': Timestamp('2023-12-19 00:00:00'),
  'SinceLeft_365': np.float64(51.64468002319336),
  'SinceLeft_365_%': np.float64(-59.97651632847536),
  'SinceLeft_365_dax': np.float64(16744.41015625),
  'SinceLeft_365_dax%': np.float64(41.94312514274237)},
 'Hellofresh_2022-09': {'Ticker': 'HFG.DE',
  'Close now': np.float64(7.447999954223633),
  'Issuer': 'Hellofresh',
  'Date_date': Timestamp('2022-09-19 00:00:00'),
  'Date': np.float64(24.68000030517578),
  'Date_%': np.float64(-69.82171854891885),
  'Date_dax': np.float64(12803.240234375),
  'Date_dax%': np.float64(85.63690618478996),
  'Left_date': Timestamp('2022-09-19 00:00:00'),
  'Left': np.float64(24.68000030517578),
  'Left_%': np.float64(-69.82171854891885),
  'Left_dax': np.float64(12803.240234375),
  'Left_dax%': np.float64(85.63690618478996),
  'SinceLeft_30_date': Timestamp('2022-10-19 00:00:00'),
  'SinceLeft_30': np.float64(21.579999923706055),
  'SinceLeft_30_%': np.float64(-65.48656172124515),
  'SinceLeft_30_dax': np.float64(12741.41015625),
  'SinceLeft_30_dax%': np.float64(86.53774402546324),
  'SinceLeft_180_date': Timestamp('2023-03-18 00:00:00'),
  'SinceLeft_180': np.float64(16.174999237060547),
  'SinceLeft_180_%': np.float64(-53.95363025947726),
  'SinceLeft_180_dax': np.float64(14933.3798828125),
  'SinceLeft_180_dax%': np.float64(59.15713153359965),
  'SinceLeft_365_date': Timestamp('2023-09-19 00:00:00'),
  'SinceLeft_365': np.float64(33.040000915527344),
  'SinceLeft_365_%': np.float64(-77.45762788183399),
  'SinceLeft_365_dax': np.float64(15664.48046875),
  'SinceLeft_365_dax%': np.float64(51.728869080051986)},
 'Delivery Hero_2022-06': {'Ticker': 'DHER.DE',
  'Close now': np.float64(24.760000228881836),
  'Issuer': 'Delivery Hero',
  'Date_date': Timestamp('2022-06-20 00:00:00'),
  'Date': np.float64(36.47999954223633),
  'Date_%': np.float64(-32.12719150334732),
  'Date_dax': np.float64(13265.599609375),
  'Date_dax%': np.float64(79.16671513063851),
  'Left_date': Timestamp('2022-06-20 00:00:00'),
  'Left': np.float64(36.47999954223633),
  'Left_%': np.float64(-32.12719150334732),
  'Left_dax': np.float64(13265.599609375),
  'Left_dax%': np.float64(79.16671513063851),
  'SinceLeft_30_date': Timestamp('2022-07-20 00:00:00'),
  'SinceLeft_30': np.float64(41.61000061035156),
  'SinceLeft_30_%': np.float64(-40.49507362246434),
  'SinceLeft_30_dax': np.float64(13281.98046875),
  'SinceLeft_30_dax%': np.float64(78.94574621925206),
  'SinceLeft_180_date': Timestamp('2022-12-17 00:00:00'),
  'SinceLeft_180': np.float64(42.650001525878906),
  'SinceLeft_180_%': np.float64(-41.9460742249725),
  'SinceLeft_180_dax': np.float64(13942.8701171875),
  'SinceLeft_180_dax%': np.float64(70.46374858790045),
  'SinceLeft_365_date': Timestamp('2023-06-20 00:00:00'),
  'SinceLeft_365': np.float64(34.44499969482422),
  'SinceLeft_365_%': np.float64(-28.117287129480427),
  'SinceLeft_365_dax': np.float64(16111.3203125),
  'SinceLeft_365_dax%': np.float64(47.52074070589924)},
 'Beiersdorf_2022-03': {'Ticker': 'BEI.DE',
  'Close now': np.float64(87.81999969482422),
  'Issuer': 'Beiersdorf',
  'Date_date': Timestamp('2022-03-21 00:00:00'),
  'Date': np.float64(85.48197174072266),
  'Date_%': np.float64(2.735112335959089),
  'Date_dax': np.float64(14326.9697265625),
  'Date_dax%': np.float64(65.89369221904956),
  'Left_date': Timestamp('2022-03-21 00:00:00'),
  'Left': np.float64(85.48197174072266),
  'Left_%': np.float64(2.735112335959089),
  'Left_dax': np.float64(14326.9697265625),
  'Left_dax%': np.float64(65.89369221904956),
  'SinceLeft_30_date': Timestamp('2022-04-20 00:00:00'),
  'SinceLeft_30': np.float64(93.32310485839844),
  'SinceLeft_30_%': np.float64(-5.896830342201131),
  'SinceLeft_30_dax': np.float64(14362.0302734375),
  'SinceLeft_30_dax%': np.float64(65.48871301613907),
  'SinceLeft_180_date': Timestamp('2022-09-17 00:00:00'),
  'SinceLeft_180': np.float64(99.62554931640625),
  'SinceLeft_180_%': np.float64(-11.849921734522272),
  'SinceLeft_180_dax': np.float64(12803.240234375),
  'SinceLeft_180_dax%': np.float64(85.63690618478996),
  'SinceLeft_365_date': Timestamp('2023-03-21 00:00:00'),
  'SinceLeft_365': np.float64(112.88611602783203),
  'SinceLeft_365_%': np.float64(-22.204782319579298),
  'SinceLeft_365_dax': np.float64(15195.33984375),
  'SinceLeft_365_dax%': np.float64(56.41334321506362)},
 'Deutsche Wohn_2021-10': {'Ticker': 'DWNI.DE',
  'Close now': np.float64(21.049999237060547),
  'Issuer': 'Deutsche Wohn',
  'Date_date': Timestamp('2021-10-29 00:00:00'),
  'Date': np.float64(43.96157455444336),
  'Date_%': np.float64(-52.117276393293),
  'Date_dax': np.float64(15688.76953125),
  'Date_dax%': np.float64(51.49396525430588),
  'Left_date': Timestamp('2021-10-29 00:00:00'),
  'Left': np.float64(43.96157455444336),
  'Left_%': np.float64(-52.117276393293),
  'Left_dax': np.float64(15688.76953125),
  'Left_dax%': np.float64(51.49396525430588),
  'SinceLeft_30_date': Timestamp('2021-11-28 00:00:00'),
  'SinceLeft_30': np.float64(40.64634323120117),
  'SinceLeft_30_%': np.float64(-48.21182531150298),
  'SinceLeft_30_dax': np.float64(15280.8603515625),
  'SinceLeft_30_dax%': np.float64(55.537963934535405),
  'SinceLeft_180_date': Timestamp('2022-04-27 00:00:00'),
  'SinceLeft_180': np.float64(27.46481704711914),
  'SinceLeft_180_%': np.float64(-23.356492049640142),
  'SinceLeft_180_dax': np.float64(13793.9404296875),
  'SinceLeft_180_dax%': np.float64(72.30420258555843),
  'SinceLeft_365_date': Timestamp('2022-10-29 00:00:00'),
  'SinceLeft_365': np.float64(20.300800323486328),
  'SinceLeft_365_%': np.float64(3.6904895454168862),
  'SinceLeft_365_dax': np.float64(13253.740234375),
  'SinceLeft_365_dax%': np.float64(79.32703253724812)},
 'Beiersdorf_2021-03': {'Ticker': 'BEI.DE',
  'Close now': np.float64(87.81999969482422),
  'Issuer': 'Beiersdorf',
  'Date_date': Timestamp('2021-03-22 00:00:00'),
  'Date': np.float64(85.12774658203125),
  'Date_%': np.float64(3.1626035233983885),
  'Date_dax': np.float64(14657.2099609375),
  'Date_dax%': np.float64(62.155956869296205),
  'Left_date': Timestamp('2021-03-22 00:00:00'),
  'Left': np.float64(85.12774658203125),
  'Left_%': np.float64(3.1626035233983885),
  'Left_dax': np.float64(14657.2099609375),
  'Left_dax%': np.float64(62.155956869296205),
  'SinceLeft_30_date': Timestamp('2021-04-21 00:00:00'),
  'SinceLeft_30': np.float64(88.9983901977539),
  'SinceLeft_30_%': np.float64(-1.3240582220771735),
  'SinceLeft_30_dax': np.float64(15195.9697265625),
  'SinceLeft_30_dax%': np.float64(56.4068597804221),
  'SinceLeft_180_date': Timestamp('2021-09-18 00:00:00'),
  'SinceLeft_180': np.float64(99.7127914428711),
  'SinceLeft_180_%': np.float64(-11.92704724835696),
  'SinceLeft_180_dax': np.float64(15132.0595703125),
  'SinceLeft_180_dax%': np.float64(57.067443146532405),
  'SinceLeft_365_date': Timestamp('2022-03-22 00:00:00'),
  'SinceLeft_365': np.float64(89.19266510009766),
  'SinceLeft_365_%': np.float64(-1.5389891127627453),
  'SinceLeft_365_dax': np.float64(14473.2001953125),
  'SinceLeft_365_dax%': np.float64(64.21757967666129)},
 'Wirecard_2020-08': {'Ticker': 'WDI.HM',
  'Close now': np.float64(0.01860000006854534),
  'Issuer': 'Wirecard',
  'Date_date': Timestamp('2020-08-24 00:00:00'),
  'Date': np.float64(1.2167999744415283),
  'Date_%': np.float64(-98.47140035673635),
  'Date_dax': np.float64(13066.5400390625),
  'Date_dax%': np.float64(81.8961943364257),
  'Left_date': Timestamp('2020-08-24 00:00:00'),
  'Left': np.float64(1.2167999744415283),
  'Left_%': np.float64(-98.47140035673635),
  'Left_dax': np.float64(13066.5400390625),
  'Left_dax%': np.float64(81.8961943364257),
  'SinceLeft_30_date': Timestamp('2020-09-23 00:00:00'),
  'SinceLeft_30': np.float64(0.8282999992370605),
  'SinceLeft_30_%': np.float64(-97.75443678791771),
  'SinceLeft_30_dax': np.float64(12642.9697265625),
  'SinceLeft_30_dax%': np.float64(87.99016035421737),
  'SinceLeft_180_date': Timestamp('2021-02-20 00:00:00'),
  'SinceLeft_180': np.float64(0.41019999980926514),
  'SinceLeft_180_%': np.float64(-95.46562650482838),
  'SinceLeft_180_dax': np.float64(13950.0400390625),
  'SinceLeft_180_dax%': np.float64(70.37613509313825),
  'SinceLeft_365_date': Timestamp('2021-08-24 00:00:00'),
  'SinceLeft_365': np.float64(0.2867000102996826),
  'SinceLeft_365_%': np.float64(-93.51238249028904),
  'SinceLeft_365_dax': np.float64(15905.849609375),
  'SinceLeft_365_dax%': np.float64(49.42640378349405)},
 'Lufthansa_2020-06': {'Ticker': 'LHA.DE',
  'Close now': np.float64(7.866000175476074),
  'Issuer': 'Lufthansa',
  'Date_date': Timestamp('2020-06-22 00:00:00'),
  'Date': np.float64(6.407497882843018),
  'Date_%': np.float64(22.76243112835672),
  'Date_dax': np.float64(12262.9697265625),
  'Date_dax%': np.float64(93.81552423649673),
  'Left_date': Timestamp('2020-06-22 00:00:00'),
  'Left': np.float64(6.407497882843018),
  'Left_%': np.float64(22.76243112835672),
  'Left_dax': np.float64(12262.9697265625),
  'Left_dax%': np.float64(93.81552423649673),
  'SinceLeft_30_date': Timestamp('2020-07-22 00:00:00'),
  'SinceLeft_30': np.float64(5.58899450302124),
  'SinceLeft_30_%': np.float64(40.740882304034365),
  'SinceLeft_30_dax': np.float64(13104.25),
  'SinceLeft_30_dax%': np.float64(81.37275359139211),
  'SinceLeft_180_date': Timestamp('2020-12-19 00:00:00'),
  'SinceLeft_180': np.float64(6.032729148864746),
  'SinceLeft_180_%': np.float64(30.38875078547687),
  'SinceLeft_180_dax': np.float64(13246.2998046875),
  'SinceLeft_180_dax%': np.float64(79.42776030246064),
  'SinceLeft_365_date': Timestamp('2021-06-22 00:00:00'),
  'SinceLeft_365': np.float64(6.581869125366211),
  'SinceLeft_365_%': np.float64(19.51012737644513),
  'SinceLeft_365_dax': np.float64(15636.330078125),
  'SinceLeft_365_dax%': np.float64(52.002029528338255)},
 'Thyssenkrupp_2019-09': {'Ticker': 'TKA.DE',
  'Close now': np.float64(11.755000114440918),
  'Issuer': 'Thyssenkrupp',
  'Date_date': Timestamp('2019-09-23 00:00:00'),
  'Date': np.float64(11.500792503356934),
  'Date_%': np.float64(2.2103486434503106),
  'Date_dax': np.float64(12342.330078125),
  'Date_dax%': np.float64(92.56930346259769),
  'Left_date': Timestamp('2019-09-23 00:00:00'),
  'Left': np.float64(11.500792503356934),
  'Left_%': np.float64(2.2103486434503106),
  'Left_dax': np.float64(12342.330078125),
  'Left_dax%': np.float64(92.56930346259769),
  'SinceLeft_30_date': Timestamp('2019-10-23 00:00:00'),
  'SinceLeft_30': np.float64(12.453028678894043),
  'SinceLeft_30_%': np.float64(-5.605291551573921),
  'SinceLeft_30_dax': np.float64(12798.1904296875),
  'SinceLeft_30_dax%': np.float64(85.71015326797529),
  'SinceLeft_180_date': Timestamp('2020-03-21 00:00:00'),
  'SinceLeft_180': np.float64(3.6055538654327393),
  'SinceLeft_180_%': np.float64(226.02480931262085),
  'SinceLeft_180_dax': np.float64(8741.150390625),
  'SinceLeft_180_dax%': np.float64(171.9040172102633),
  'SinceLeft_365_date': Timestamp('2020-09-22 00:00:00'),
  'SinceLeft_365': np.float64(4.491225719451904),
  'SinceLeft_365_%': np.float64(161.7325614147815),
  'SinceLeft_365_dax': np.float64(12594.3896484375),
  'SinceLeft_365_dax%': np.float64(88.71529090295118)},
 'Commerzbank_2018-09': {'Ticker': 'CBK.DE',
  'Close now': np.float64(32.060001373291016),
  'Issuer': 'Commerzbank',
  'Date_date': Timestamp('2018-09-24 00:00:00'),
  'Date': np.float64(8.808077812194824),
  'Date_%': np.float64(263.9840843470274),
  'Date_dax': np.float64(12350.8203125),
  'Date_dax%': np.float64(92.43692695006973),
  'Left_date': Timestamp('2018-09-24 00:00:00'),
  'Left': np.float64(8.808077812194824),
  'Left_%': np.float64(263.9840843470274),
  'Left_dax': np.float64(12350.8203125),
  'Left_dax%': np.float64(92.43692695006973),
  'SinceLeft_30_date': Timestamp('2018-10-24 00:00:00'),
  'SinceLeft_30': np.float64(7.462360858917236),
  'SinceLeft_30_%': np.float64(329.62276924708806),
  'SinceLeft_30_dax': np.float64(11191.6298828125),
  'SinceLeft_30_dax%': np.float64(112.36888023790796),
  'SinceLeft_180_date': Timestamp('2019-03-23 00:00:00'),
  'SinceLeft_180': np.float64(6.357514381408691),
  'SinceLeft_180_%': np.float64(404.28515690100875),
  'SinceLeft_180_dax': np.float64(11346.650390625),
  'SinceLeft_180_dax%': np.float64(109.46744849156164),
  'SinceLeft_365_date': Timestamp('2019-09-24 00:00:00'),
  'SinceLeft_365': np.float64(4.8788065910339355),
  'SinceLeft_365_%': np.float64(557.1279425630344),
  'SinceLeft_365_dax': np.float64(12307.150390625),
  'SinceLeft_365_dax%': np.float64(93.11975809286427)},
 'Prosieben Media_2018-03': {'Ticker': 'PSAN.DE',
  'Close now': np.float64(27.399999618530273),
  'Issuer': 'Prosieben Media',
  'Date_date': Timestamp('2018-03-19 00:00:00'),
  'Date': np.float64(16.354135513305664),
  'Date_%': np.float64(67.54171809471516),
  'Date_dax': np.float64(12217.01953125),
  'Date_dax%': np.float64(94.54449591166525),
  'Left_date': Timestamp('2018-03-19 00:00:00'),
  'Left': np.float64(16.354135513305664),
  'Left_%': np.float64(67.54171809471516),
  'Left_dax': np.float64(12217.01953125),
  'Left_dax%': np.float64(94.54449591166525),
  'SinceLeft_30_date': Timestamp('2018-04-18 00:00:00'),
  'SinceLeft_30': np.float64(14.995195388793945),
  'SinceLeft_30_%': np.float64(82.72519235732372),
  'SinceLeft_30_dax': np.float64(12590.830078125),
  'SinceLeft_30_dax%': np.float64(88.7686428537634),
  'SinceLeft_180_date': Timestamp('2018-09-15 00:00:00'),
  'SinceLeft_180': np.float64(15.441526412963867),
  'SinceLeft_180_%': np.float64(77.4435951845196),
  'SinceLeft_180_dax': np.float64(12096.41015625),
  'SinceLeft_180_dax%': np.float64(96.4842358641397),
  'SinceLeft_365_date': Timestamp('2019-03-19 00:00:00'),
  'SinceLeft_365': np.float64(16.676851272583008),
  'SinceLeft_365_%': np.float64(64.29959811164284),
  'SinceLeft_365_dax': np.float64(11788.41015625),
  'SinceLeft_365_dax%': np.float64(101.61784962918756)},
 'K&S_2016-03': {'Ticker': 'SDF.DE',
  'Close now': np.float64(11.630000114440918),
  'Issuer': 'K&S',
  'Date_date': Timestamp('2016-03-21 00:00:00'),
  'Date': np.float64(17.227317810058594),
  'Date_%': np.float64(-32.49094117454282),
  'Date_dax': np.float64(9948.6396484375),
  'Date_dax%': np.float64(138.90240175934858),
  'Left_date': Timestamp('2016-03-21 00:00:00'),
  'Left': np.float64(17.227317810058594),
  'Left_%': np.float64(-32.49094117454282),
  'Left_dax': np.float64(9948.6396484375),
  'Left_dax%': np.float64(138.90240175934858),
  'SinceLeft_30_date': Timestamp('2016-04-20 00:00:00'),
  'SinceLeft_30': np.float64(17.41097068786621),
  'SinceLeft_30_%': np.float64(-33.20303432280246),
  'SinceLeft_30_dax': np.float64(10421.2900390625),
  'SinceLeft_30_dax%': np.float64(128.0671488214153),
  'SinceLeft_180_date': Timestamp('2016-09-17 00:00:00'),
  'SinceLeft_180': np.float64(14.889361381530762),
  'SinceLeft_180_%': np.float64(-21.89053770387264),
  'SinceLeft_180_dax': np.float64(10373.8701171875),
  'SinceLeft_180_dax%': np.float64(129.10966489855872),
  'SinceLeft_365_date': Timestamp('2017-03-21 00:00:00'),

In [52]:
df_leavers_courses=pd.DataFrame.from_dict(dictionary,orient="index").reset_index().rename(columns={"index":"Key"})
df_leavers_courses

,Key,Ticker,Close now,Issuer,Date_date,Date,Date_%,Date_dax,Date_dax%,Left_date,...,SinceLeft_180_date,SinceLeft_180,SinceLeft_180_%,SinceLeft_180_dax,SinceLeft_180_dax%,SinceLeft_365_date,SinceLeft_365,SinceLeft_365_%,SinceLeft_365_dax,SinceLeft_365_dax%
0,Covestro_2024-12,1COV.DE,58.340000,Covestro,2024-12-27,56.279999,3.660273,19984.320312,18.930935,2024-12-27,...,2025-06-25,60.500000,-3.570248,23498.330078,1.145652,NaT,NaN,NaN,NaN,NaN
1,Fresenius Med Cr_2023-03,FME.DE,43.520000,Fresenius Med Cr,2023-03-20,33.508217,29.878593,14933.379883,59.157132,2023-03-20,...,2023-09-16,39.814720,9.306308,15727.120117,51.124547,2024-03-19,33.966286,28.127052,17987.490234,32.133715
2,Linde_2023-02,LIN.DE,404.799988,Linde,2023-02-27,314.395142,28.755166,15381.429688,54.521001,2023-02-27,...,2023-08-26,342.049011,18.345610,15792.610352,50.497850,2024-02-27,397.879730,1.739284,17556.490234,35.377509
3,Puma DE_2022-12,PUM.DE,20.670000,Puma DE,2022-12-19,48.570686,-57.443467,13942.870117,70.463749,2022-12-19,...,2023-06-17,47.296265,-56.296760,16201.200195,46.702335,2023-12-19,51.644680,-59.976516,16744.410156,41.943125
4,Hellofresh_2022-09,HFG.DE,7.448000,Hellofresh,2022-09-19,24.680000,-69.821719,12803.240234,85.636906,2022-09-19,...,2023-03-18,16.174999,-53.953630,14933.379883,59.157132,2023-09-19,33.040001,-77.457628,15664.480469,51.728869
5,Delivery Hero_2022-06,DHER.DE,24.760000,Delivery Hero,2022-06-20,36.480000,-32.127192,13265.599609,79.166715,2022-06-20,...,2022-12-17,42.650002,-41.946074,13942.870117,70.463749,2023-06-20,34.445000,-28.117287,16111.320312,47.520741
6,Beiersdorf_2022-03,BEI.DE,87.820000,Beiersdorf,2022-03-21,85.481972,2.735112,14326.969727,65.893692,2022-03-21,...,2022-09-17,99.625549,-11.849922,12803.240234,85.636906,2023-03-21,112.886116,-22.204782,15195.339844,56.413343
7,Deutsche Wohn_2021-10,DWNI.DE,21.049999,Deutsche Wohn,2021-10-29,43.961575,-52.117276,15688.769531,51.493965,2021-10-29,...,2022-04-27,27.464817,-23.356492,13793.940430,72.304203,2022-10-29,20.300800,3.690490,13253.740234,79.327033
8,Beiersdorf_2021-03,BEI.DE,87.820000,Beiersdorf,2021-03-22,85.127747,3.162604,14657.209961,62.155957,2021-03-22,...,2021-09-18,99.712791,-11.927047,15132.059570,57.067443,2022-03-22,89.192665,-1.538989,14473.200195,64.217580
9,Wirecard_2020-08,WDI.HM,0.018600,Wirecard,2020-08-24,1.216800,-98.471400,13066.540039,81.896194,2020-08-24,...,2021-02-20,0.410200,-95.465627,13950.040039,70.376135,2021-08-24,0.286700,-93.512382,15905.849609,49.426404
10,Lufthansa_2020-06,LHA.DE,7.866000,Lufthansa,2020-06-22,6.407498,22.762431,12262.969727,93.815524,2020-06-22,...,2020-12-19,6.032729,30.388751,13246.299805,79.427760,2021-06-22,6.581869,19.510127,15636.330078,52.002030
11,Thyssenkrupp_2019-09,TKA.DE,11.755000,Thyssenkrupp,2019-09-23,11.500793,2.210349,12342.330078,92.569303,2019-09-23,...,2020-03-21,3.605554,226.024809,8741.150391,171.904017,2020-09-22,4.491226,161.732561,12594.389648,88.715291
12,Commerzbank_2018-09,CBK.DE,32.060001,Commerzbank,2018-09-24,8.808078,263.984084,12350.820312,92.436927,2018-09-24,...,2019-03-23,6.357514,404.285157,11346.650391,109.467448,2019-09-24,4.878807,557.127943,12307.150391,93.119758
13,Prosieben Media_2018-03,PSAN.DE,27.400000,Prosieben Media,2018-03-19,16.354136,67.541718,12217.019531,94.544496,2018-03-19,...,2018-09-15,15.441526,77.443595,12096.410156,96.484236,2019-03-19,16.676851,64.299598,11788.410156,101.617850
14,K&S_2016-03,SDF.DE,11.630000,K&S,2016-03-21,17.227318,-32.490941,9948.639648,138.902402,2016-03-21,...,2016-09-17,14.889361,-21.890538,10373.870117,129.109665,2017-03-21,18.225689,-36.188968,11962.129883,98.689860
15,Lanxess_2015-09,LXS.DE,21.680000,Lanxess,2015-09-21,39.114288,-44.572684,9948.509766,138.905521,2015-09-21,...,2016-03-19,35.861874,-39.545824,9948.639648,138.902402,2016-09-20,41.208115,-47.389002,10393.860352,128.669024
16,Salzgitter A_2010-06,SZG.DE,25.200001,Salzgitter A,2010-06-21,44.929310,-43.911890,6292.970215,277.683959,2010-06-21,...,2010-12-18,48.755589,-48.313616,7018.600098,238.636462,2011-06-21,42.984451,-41.374148,7285.509766,226.230282
17,Hannover Rueck_2009-09,HNR1.DE,255.000000,Hannover Rueck,2009-09-21,18.099602,1308.870778,5668.649902,319.280419,2009-09-21,...,2010-03-20,20.114399,1167.748544,5987.500000,296.952636,2010-09-21,21.134249,1106.572342,6275.979980,278.706419
18,Infineon Technol_2009-03,IFX.DE,33.105000,Infineon Technol,2009-03-23,0.585200,5557.043017,4176.370117,469.095612,2009-03-23,...,2009-09-19,2.968130,1015.348574,5668.649902,319.280419,2010-03-23,3.862285,757.135047,6017.270020,294.988740
19,Continental_2008-12,CON.DE,56.599998,Continental,2008-12-22,19.400499,191.745060,4639.020020,412.339653,2008-12-22,...,2009-06-20,11.818487,378.910690,4693.399902,406.403451,2009-12-22,23.043015,145.627578,5945.689941,299.744004
20,TUI_2008-09,TUI1.DE,7.950000,TUI,2008-09-22,27.164831,-70.734220,6107.750000,289.137392,2008-09-22,...,2009-03-21,8.855307,-10.223325,4176.370117,469.095612,2009-09-22,15.068996,-47.242672,5709.379883,316.289327
21,MLP S_2003-09,MLP.DE,7.290000,MLP S,2003-09-22,6.585332,10.700570,3456.270020,587.664417,2003-09-22,...,2004-03-20,5.907122,23.410348,3729.229980,537.331009,2004-09-21,5.719705,27.454123,3991.020020,495.525428
22,Evonik Operation_2002-09,EVK.DE,14.690000,Evonik Operation,2002-09-23,14.164886,3.707147,2914.250000,715.562806,2002-09-23,...,2003-03-22,14.164886,3.707147,2548.370117,832.656481,2003-09-23,14.164886,3.707147,3411.020020,596.786853
23,GEA Group_1996-11,G1A.DE,62.500000,GEA Group,1996-11-19,12.243127,410.490504,2781.540039,754.474095,1996-11-19,...,1997-05-18,12.243127,410.490504,3516.199951,575.943899,1997-11-19,12.243127,410.490504,3876.899902,513.055267
24,Continental_1996-09,CON.DE,56.599998,Continental,1996-09-23,3.653553,1449.177081,2624.179932,805.713011,1996-09-23,...,1997-03-22,4.747535,1092.197665,3302.570068,619.667973,1997-09-23,6.073968,831.845453,4091.770020,480.862046

In [53]:
len(df_leavers_courses)

25

In [54]:
start_cols=["Issuer","Date_date"]

In [55]:
perc_cols=df_leavers_courses.columns[df_leavers_courses.columns.str.contains("%")].tolist()
perc_cols

['Date_%',
 'Date_dax%',
 'Left_%',
 'Left_dax%',
 'SinceLeft_30_%',
 'SinceLeft_30_dax%',
 'SinceLeft_180_%',
 'SinceLeft_180_dax%',
 'SinceLeft_365_%',
 'SinceLeft_365_dax%']

In [56]:
filtered_cols=start_cols+perc_cols
filtered_cols

['Issuer',
 'Date_date',
 'Date_%',
 'Date_dax%',
 'Left_%',
 'Left_dax%',
 'SinceLeft_30_%',
 'SinceLeft_30_dax%',
 'SinceLeft_180_%',
 'SinceLeft_180_dax%',
 'SinceLeft_365_%',
 'SinceLeft_365_dax%']

In [57]:
df_leavers_courses_red=df_leavers_courses[filtered_cols]
print(len(df_leavers_courses_red))
df_leavers_courses_red

25

,Issuer,Date_date,Date_%,Date_dax%,Left_%,Left_dax%,SinceLeft_30_%,SinceLeft_30_dax%,SinceLeft_180_%,SinceLeft_180_dax%,SinceLeft_365_%,SinceLeft_365_dax%
0,Covestro,2024-12-27,3.660273,18.930935,3.660273,18.930935,3.844784,11.678124,-3.570248,1.145652,NaN,NaN
1,Fresenius Med Cr,2023-03-20,29.878593,59.157132,29.878593,59.157132,15.840235,49.526516,9.306308,51.124547,28.127052,32.133715
2,Linde,2023-02-27,28.755166,54.521001,28.755166,54.521001,30.040105,55.051730,18.345610,50.497850,1.739284,35.377509
3,Puma DE,2022-12-19,-57.443467,70.463749,-57.443467,70.463749,-65.061697,56.552842,-56.296760,46.702335,-59.976516,41.943125
4,Hellofresh,2022-09-19,-69.821719,85.636906,-69.821719,85.636906,-65.486562,86.537744,-53.953630,59.157132,-77.457628,51.728869
5,Delivery Hero,2022-06-20,-32.127192,79.166715,-32.127192,79.166715,-40.495074,78.945746,-41.946074,70.463749,-28.117287,47.520741
6,Beiersdorf,2022-03-21,2.735112,65.893692,2.735112,65.893692,-5.896830,65.488713,-11.849922,85.636906,-22.204782,56.413343
7,Deutsche Wohn,2021-10-29,-52.117276,51.493965,-52.117276,51.493965,-48.211825,55.537964,-23.356492,72.304203,3.690490,79.327033
8,Beiersdorf,2021-03-22,3.162604,62.155957,3.162604,62.155957,-1.324058,56.406860,-11.927047,57.067443,-1.538989,64.217580
9,Wirecard,2020-08-24,-98.471400,81.896194,-98.471400,81.896194,-97.754437,87.990160,-95.465627,70.376135,-93.512382,49.426404
10,Lufthansa,2020-06-22,22.762431,93.815524,22.762431,93.815524,40.740882,81.372754,30.388751,79.427760,19.510127,52.002030
11,Thyssenkrupp,2019-09-23,2.210349,92.569303,2.210349,92.569303,-5.605292,85.710153,226.024809,171.904017,161.732561,88.715291
12,Commerzbank,2018-09-24,263.984084,92.436927,263.984084,92.436927,329.622769,112.368880,404.285157,109.467448,557.127943,93.119758
13,Prosieben Media,2018-03-19,67.541718,94.544496,67.541718,94.544496,82.725192,88.768643,77.443595,96.484236,64.299598,101.617850
14,K&S,2016-03-21,-32.490941,138.902402,-32.490941,138.902402,-33.203034,128.067149,-21.890538,129.109665,-36.188968,98.689860
15,Lanxess,2015-09-21,-44.572684,138.905521,-44.572684,138.905521,-45.088007,132.147957,-39.545824,138.902402,-47.389002,128.669024
16,Salzgitter A,2010-06-21,-43.911890,277.683959,-43.911890,277.683959,-39.607001,296.761800,-48.313616,238.636462,-41.374148,226.230282
17,Hannover Rueck,2009-09-21,1308.870778,319.280419,1308.870778,319.280419,1248.014404,307.432568,1167.748544,296.952636,1106.572342,278.706419
18,Infineon Technol,2009-03-23,5557.043017,469.095612,5557.043017,469.095612,2440.872973,417.313164,1015.348574,319.280419,757.135047,294.988740
19,Continental,2008-12-22,191.745060,412.339653,191.745060,412.339653,417.956697,457.772892,378.910690,406.403451,145.627578,299.744004
20,TUI,2008-09-22,-70.734220,289.137392,-70.734220,289.137392,-56.170352,419.955721,-10.223325,469.095612,-47.242672,316.289327
21,MLP S,2003-09-22,10.700570,587.664417,10.700570,587.664417,16.165454,580.901232,23.410348,537.331009,27.454123,495.525428
22,Evonik Operation,2002-09-23,3.707147,715.562806,3.707147,715.562806,3.707147,688.199975,3.707147,832.656481,3.707147,596.786853
23,GEA Group,1996-11-19,410.490504,754.474095,410.490504,754.474095,410.490504,741.379425,410.490504,575.943899,410.490504,513.055267
24,Continental,1996-09-23,1449.177081,805.713011,1449.177081,805.713011,1449.177081,787.215974,1092.197665,619.667973,831.845453,480.862046

In [58]:
df_leavers_courses_red[df_leavers_courses_red["Left_%"]>df_leavers_courses_red["Left_dax%"]]

,Issuer,Date_date,Date_%,Date_dax%,Left_%,Left_dax%,SinceLeft_30_%,SinceLeft_30_dax%,SinceLeft_180_%,SinceLeft_180_dax%,SinceLeft_365_%,SinceLeft_365_dax%
12,Commerzbank,2018-09-24,263.984084,92.436927,263.984084,92.436927,329.622769,112.368880,404.285157,109.467448,557.127943,93.119758
17,Hannover Rueck,2009-09-21,1308.870778,319.280419,1308.870778,319.280419,1248.014404,307.432568,1167.748544,296.952636,1106.572342,278.706419
18,Infineon Technol,2009-03-23,5557.043017,469.095612,5557.043017,469.095612,2440.872973,417.313164,1015.348574,319.280419,757.135047,294.988740
24,Continental,1996-09-23,1449.177081,805.713011,1449.177081,805.713011,1449.177081,787.215974,1092.197665,619.667973,831.845453,480.862046

In [59]:
overperfomer=df_leavers_courses_red[df_leavers_courses_red["Left_%"]>df_leavers_courses_red["Left_dax%"]]
overperfomer_red=overperfomer[["Issuer","Date_date","Left_%","Left_dax%"]]
overperfomer_red

              Issuer  Date_date       Left_%   Left_dax%
12       Commerzbank 2018-09-24   263.984084   92.436927
17    Hannover Rueck 2009-09-21  1308.870778  319.280419
18  Infineon Technol 2009-03-23  5557.043017  469.095612
24       Continental 1996-09-23  1449.177081  805.713011

In [60]:
overperfomer_red["Days_since_left"]=(pd.to_datetime("2025-09-25")-pd.to_datetime(overperfomer_red["Date_date"])).dt.days
overperfomer_red

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_8116/4145584198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overperfomer_red["Days_since_left"]=(pd.to_datetime("2025-09-25")-pd.to_datetime(overperfomer_red["Date_date"])).dt.days

              Issuer  Date_date       Left_%   Left_dax%  Days_since_left
12       Commerzbank 2018-09-24   263.984084   92.436927             2558
17    Hannover Rueck 2009-09-21  1308.870778  319.280419             5848
18  Infineon Technol 2009-03-23  5557.043017  469.095612             6030
24       Continental 1996-09-23  1449.177081  805.713011            10594

In [61]:
overperfomer_red["years_since_left"]=overperfomer_red["Days_since_left"]/365
overperfomer_red

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_8116/1703169292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overperfomer_red["years_since_left"]=overperfomer_red["Days_since_left"]/365

,Issuer,Date_date,Left_%,Left_dax%,Days_since_left,years_since_left
12,Commerzbank,2018-09-24,263.984084,92.436927,2558,7.008219
17,Hannover Rueck,2009-09-21,1308.870778,319.280419,5848,16.021918
18,Infineon Technol,2009-03-23,5557.043017,469.095612,6030,16.520548
24,Continental,1996-09-23,1449.177081,805.713011,10594,29.024658

In [62]:
overperfomer_red["yearly_interest"]=100*((overperfomer_red["Left_%"]+100)/100)**(1/overperfomer_red["years_since_left"])-100
overperfomer_red["yearly_interest_dax"]=100*((overperfomer_red["Left_dax%"]+100)/100)**(1/overperfomer_red["years_since_left"])-100

overperfomer_red

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_8116/4272790986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overperfomer_red["yearly_interest"]=100*((overperfomer_red["Left_%"]+100)/100)**(1/overperfomer_red["years_since_left"])-100
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_8116/4272790986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overperfomer_red["yearly_interest_dax"]=100*((overperfomer_red["Left_dax%"]+100)/100)**(1/overperfomer_red["years_since_left"])-100

,Issuer,Date_date,Left_%,Left_dax%,Days_since_left,years_since_left,yearly_interest,yearly_interest_dax
12,Commerzbank,2018-09-24,263.984084,92.436927,2558,7.008219,20.243227,9.790560
17,Hannover Rueck,2009-09-21,1308.870778,319.280419,5848,16.021918,17.952247,9.358693
18,Infineon Technol,2009-03-23,5557.043017,469.095612,6030,16.520548,27.668993,11.099442
24,Continental,1996-09-23,1449.177081,805.713011,10594,29.024658,9.901370,7.887627

In [63]:
overperfomer_red.to_csv("overperformers_dax_leavers.csv")

In [64]:
len(df_leavers_courses_red[df_leavers_courses_red["Left_%"]>df_leavers_courses_red["Left_dax%"]])

4

In [65]:
df_leavers_courses_red[df_leavers_courses_red["SinceLeft_30_%"]>df_leavers_courses_red["SinceLeft_30_dax%"]]

,Issuer,Date_date,Date_%,Date_dax%,Left_%,Left_dax%,SinceLeft_30_%,SinceLeft_30_dax%,SinceLeft_180_%,SinceLeft_180_dax%,SinceLeft_365_%,SinceLeft_365_dax%
12,Commerzbank,2018-09-24,263.984084,92.436927,263.984084,92.436927,329.622769,112.368880,404.285157,109.467448,557.127943,93.119758
17,Hannover Rueck,2009-09-21,1308.870778,319.280419,1308.870778,319.280419,1248.014404,307.432568,1167.748544,296.952636,1106.572342,278.706419
18,Infineon Technol,2009-03-23,5557.043017,469.095612,5557.043017,469.095612,2440.872973,417.313164,1015.348574,319.280419,757.135047,294.988740
24,Continental,1996-09-23,1449.177081,805.713011,1449.177081,805.713011,1449.177081,787.215974,1092.197665,619.667973,831.845453,480.862046

In [66]:
len(df_leavers_courses_red[df_leavers_courses_red["SinceLeft_30_%"]>df_leavers_courses_red["SinceLeft_30_dax%"]])

4

In [67]:
df_leavers_courses_red[df_leavers_courses_red["SinceLeft_180_%"]>df_leavers_courses_red["SinceLeft_180_dax%"]]

,Issuer,Date_date,Date_%,Date_dax%,Left_%,Left_dax%,SinceLeft_30_%,SinceLeft_30_dax%,SinceLeft_180_%,SinceLeft_180_dax%,SinceLeft_365_%,SinceLeft_365_dax%
11,Thyssenkrupp,2019-09-23,2.210349,92.569303,2.210349,92.569303,-5.605292,85.710153,226.024809,171.904017,161.732561,88.715291
12,Commerzbank,2018-09-24,263.984084,92.436927,263.984084,92.436927,329.622769,112.368880,404.285157,109.467448,557.127943,93.119758
17,Hannover Rueck,2009-09-21,1308.870778,319.280419,1308.870778,319.280419,1248.014404,307.432568,1167.748544,296.952636,1106.572342,278.706419
18,Infineon Technol,2009-03-23,5557.043017,469.095612,5557.043017,469.095612,2440.872973,417.313164,1015.348574,319.280419,757.135047,294.988740
24,Continental,1996-09-23,1449.177081,805.713011,1449.177081,805.713011,1449.177081,787.215974,1092.197665,619.667973,831.845453,480.862046

In [68]:
len(df_leavers_courses_red[df_leavers_courses_red["SinceLeft_180_%"]>df_leavers_courses_red["SinceLeft_180_dax%"]])

5

In [69]:
df_leavers_courses_red[df_leavers_courses_red["SinceLeft_365_%"]>df_leavers_courses_red["SinceLeft_365_dax%"]]

,Issuer,Date_date,Date_%,Date_dax%,Left_%,Left_dax%,SinceLeft_30_%,SinceLeft_30_dax%,SinceLeft_180_%,SinceLeft_180_dax%,SinceLeft_365_%,SinceLeft_365_dax%
11,Thyssenkrupp,2019-09-23,2.210349,92.569303,2.210349,92.569303,-5.605292,85.710153,226.024809,171.904017,161.732561,88.715291
12,Commerzbank,2018-09-24,263.984084,92.436927,263.984084,92.436927,329.622769,112.368880,404.285157,109.467448,557.127943,93.119758
17,Hannover Rueck,2009-09-21,1308.870778,319.280419,1308.870778,319.280419,1248.014404,307.432568,1167.748544,296.952636,1106.572342,278.706419
18,Infineon Technol,2009-03-23,5557.043017,469.095612,5557.043017,469.095612,2440.872973,417.313164,1015.348574,319.280419,757.135047,294.988740
24,Continental,1996-09-23,1449.177081,805.713011,1449.177081,805.713011,1449.177081,787.215974,1092.197665,619.667973,831.845453,480.862046

In [70]:
len(df_leavers_courses_red[df_leavers_courses_red["SinceLeft_365_%"]>df_leavers_courses_red["SinceLeft_365_dax%"]])

5

In [71]:
dax_cases_leavers

,Status,Issuer,Date,Left,SinceLeft_30,SinceLeft_180,SinceLeft_365,Yahoo Symbol
0,Leaver,Covestro,2024-12-27,2024-12-27,2025-01-26,2025-06-25,2025-12-27,1COV.DE
1,Leaver,Fresenius Med Cr,2023-03-20,2023-03-20,2023-04-19,2023-09-16,2024-03-19,FME.DE
2,Leaver,Linde,2023-02-27,2023-02-27,2023-03-29,2023-08-26,2024-02-27,LIN.DE
3,Leaver,Puma DE,2022-12-19,2022-12-19,2023-01-18,2023-06-17,2023-12-19,PUM.DE
4,Leaver,Hellofresh,2022-09-19,2022-09-19,2022-10-19,2023-03-18,2023-09-19,HFG.DE
5,Leaver,Delivery Hero,2022-06-20,2022-06-20,2022-07-20,2022-12-17,2023-06-20,DHER.DE
6,Leaver,Beiersdorf,2022-03-21,2022-03-21,2022-04-20,2022-09-17,2023-03-21,BEI.DE
7,Leaver,Deutsche Wohn,2021-10-29,2021-10-29,2021-11-28,2022-04-27,2022-10-29,DWNI.DE
8,Leaver,Beiersdorf,2021-03-22,2021-03-22,2021-04-21,2021-09-18,2022-03-22,BEI.DE
9,Leaver,Wirecard,2020-08-24,2020-08-24,2020-09-23,2021-02-20,2021-08-24,WDI.HM
10,Leaver,Lufthansa,2020-06-22,2020-06-22,2020-07-22,2020-12-19,2021-06-22,LHA.DE
11,Leaver,Thyssenkrupp,2019-09-23,2019-09-23,2019-10-23,2020-03-21,2020-09-22,TKA.DE
12,Leaver,Commerzbank,2018-09-24,2018-09-24,2018-10-24,2019-03-23,2019-09-24,CBK.DE
13,Leaver,Prosieben Media,2018-03-19,2018-03-19,2018-04-18,2018-09-15,2019-03-19,PSAN.DE
14,Leaver,K&S,2016-03-21,2016-03-21,2016-04-20,2016-09-17,2017-03-21,SDF.DE
15,Leaver,Lanxess,2015-09-21,2015-09-21,2015-10-21,2016-03-19,2016-09-20,LXS.DE
16,Leaver,MetroOldData,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24,None
17,Leaver,Man,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24,MAN.DE
18,Leaver,Salzgitter A,2010-06-21,2010-06-21,2010-07-21,2010-12-18,2011-06-21,SZG.DE
19,Leaver,Hannover Rueck,2009-09-21,2009-09-21,2009-10-21,2010-03-20,2010-09-21,HNR1.DE
20,Leaver,Infineon Technol,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23,IFX.DE
21,Leaver,Postbank,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23,None
22,Leaver,Continental,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22,CON.DE
23,Leaver,Hypo Real Hldg,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22,None
24,Leaver,TUI,2008-09-22,2008-09-22,2008-10-22,2009-03-21,2009-09-22,TUI1.DE
25,Leaver,Altana,2007-06-18,2007-06-18,2007-07-18,2007-12-15,2008-06-17,ALT.DE
26,Leaver,Schering,2006-09-18,2006-09-18,2006-10-18,2007-03-17,2007-09-18,NaN
27,Leaver,Hypo-Vereinsbank,2005-12-19,2005-12-19,2006-01-18,2006-06-17,2006-12-19,NaN
28,Leaver,MLP S,2003-09-22,2003-09-22,2003-10-22,2004-03-20,2004-09-21,MLP.DE
29,Leaver,EpcosOldData,2002-12-23,2002-12-23,2003-01-22,2003-06-21,2003-12-23,None
30,Leaver,Evonik Operation,2002-09-23,2002-09-23,2002-10-23,2003-03-22,2003-09-23,EVK.DE
31,Leaver,Dresdner Bk,2001-07-20,2001-07-20,2001-08-19,2002-01-16,2002-07-20,None
32,Leaver,Karstadt-Quelle,2001-03-19,2001-03-19,2001-04-18,2001-09-15,2002-03-19,NaN
33,Leaver,VIAG,2000-06-19,2000-06-19,2000-07-19,2000-12-16,2001-06-19,None
34,Leaver,Mannesmann,2000-02-14,2000-02-14,2000-03-15,2000-08-12,2001-02-13,None
35,Leaver,Hoechst,1999-09-20,1999-09-20,1999-10-20,2000-03-18,2000-09-19,None
36,Leaver,Bayerische Vereinsbank AGOldData,1998-06-22,1998-06-22,1998-07-22,1998-12-19,1999-06-22,None
37,Leaver,GEA Group,1996-11-19,1996-11-19,1996-12-19,1997-05-18,1997-11-19,G1A.DE
38,Leaver,Continental,1996-09-23,1996-09-23,1996-10-23,1997-03-22,1997-09-23,CON.DE
39,Leaver,Kaufhof WH,1996-07-22,1996-07-22,1996-08-21,1997-01-18,1997-07-22,None
40,Leaver,Babcock Borsig,1995-09-15,1995-09-15,1995-10-15,1996-03-13,1996-09-14,None
41,Leaver,Diebold DE,1990-09-03,1990-09-03,1990-10-03,1991-03-02,1991-09-03,None

In [72]:
merge_retrieved_and_not=pd.merge(df_leavers_courses,dax_cases_retrievable,left_on="Issuer",right_on="Issuer",how="outer",indicator=True)

In [78]:
print(len(dax_cases_non_retrievable))
dax_cases_non_retrievable

15

,Status,Issuer,Date,Left,SinceLeft_30,SinceLeft_180,SinceLeft_365,Yahoo Symbol
16,Leaver,MetroOldData,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24,None
21,Leaver,Postbank,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23,None
23,Leaver,Hypo Real Hldg,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22,None
26,Leaver,Schering,2006-09-18,2006-09-18,2006-10-18,2007-03-17,2007-09-18,NaN
27,Leaver,Hypo-Vereinsbank,2005-12-19,2005-12-19,2006-01-18,2006-06-17,2006-12-19,NaN
29,Leaver,EpcosOldData,2002-12-23,2002-12-23,2003-01-22,2003-06-21,2003-12-23,None
31,Leaver,Dresdner Bk,2001-07-20,2001-07-20,2001-08-19,2002-01-16,2002-07-20,None
32,Leaver,Karstadt-Quelle,2001-03-19,2001-03-19,2001-04-18,2001-09-15,2002-03-19,NaN
33,Leaver,VIAG,2000-06-19,2000-06-19,2000-07-19,2000-12-16,2001-06-19,None
34,Leaver,Mannesmann,2000-02-14,2000-02-14,2000-03-15,2000-08-12,2001-02-13,None
35,Leaver,Hoechst,1999-09-20,1999-09-20,1999-10-20,2000-03-18,2000-09-19,None
36,Leaver,Bayerische Vereinsbank AGOldData,1998-06-22,1998-06-22,1998-07-22,1998-12-19,1999-06-22,None
39,Leaver,Kaufhof WH,1996-07-22,1996-07-22,1996-08-21,1997-01-18,1997-07-22,None
40,Leaver,Babcock Borsig,1995-09-15,1995-09-15,1995-10-15,1996-03-13,1996-09-14,None
41,Leaver,Diebold DE,1990-09-03,1990-09-03,1990-10-03,1991-03-02,1991-09-03,None

In [79]:
dax_cases_non_retrievable[["Issuer","Date"]]

                              Issuer       Date
16                      MetroOldData 2012-09-24
21                          Postbank 2009-03-23
23                    Hypo Real Hldg 2008-12-22
26                          Schering 2006-09-18
27                  Hypo-Vereinsbank 2005-12-19
29                      EpcosOldData 2002-12-23
31                       Dresdner Bk 2001-07-20
32                   Karstadt-Quelle 2001-03-19
33                              VIAG 2000-06-19
34                        Mannesmann 2000-02-14
35                           Hoechst 1999-09-20
36  Bayerische Vereinsbank AGOldData 1998-06-22
39                        Kaufhof WH 1996-07-22
40                    Babcock Borsig 1995-09-15
41                        Diebold DE 1990-09-03

In [89]:
non_found=merge_retrieved_and_not[merge_retrieved_and_not["_merge"]!="both"]
non_found

,Key,Ticker,Close now,Issuer,Date_date,Date_x,Date_%,Date_dax,Date_dax%,Left_date,...,SinceLeft_365_dax,SinceLeft_365_dax%,Status,Date_y,Left_y,SinceLeft_30_y,SinceLeft_180_y,SinceLeft_365_y,Yahoo Symbol,_merge
0,NaN,NaN,NaN,Altana,NaT,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,Leaver,2007-06-18,2007-06-18,2007-07-18,2007-12-15,2008-06-17,ALT.DE,right_only
24,NaN,NaN,NaN,Man,NaT,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,Leaver,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24,MAN.DE,right_only

In [90]:
non_found.rename(columns={"Date_y":"Date"},inplace=True)

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_8116/3081664464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_found.rename(columns={"Date_y":"Date"},inplace=True)

In [92]:
non_found_summary=pd.concat([non_found[["Issuer","Date"]],dax_cases_non_retrievable[["Issuer","Date"]]],ignore_index=True)
non_found_summary.sort_values(by="Issuer",inplace=True)
non_found_summary

                              Issuer       Date
0                             Altana 2007-06-18
15                    Babcock Borsig 1995-09-15
13  Bayerische Vereinsbank AGOldData 1998-06-22
16                        Diebold DE 1990-09-03
8                        Dresdner Bk 2001-07-20
7                       EpcosOldData 2002-12-23
12                           Hoechst 1999-09-20
4                     Hypo Real Hldg 2008-12-22
6                   Hypo-Vereinsbank 2005-12-19
9                    Karstadt-Quelle 2001-03-19
14                        Kaufhof WH 1996-07-22
1                                Man 2012-09-24
11                        Mannesmann 2000-02-14
2                       MetroOldData 2012-09-24
3                           Postbank 2009-03-23
5                           Schering 2006-09-18
10                              VIAG 2000-06-19

In [93]:
dax_cases_retrievable

,Status,Issuer,Date,Left,SinceLeft_30,SinceLeft_180,SinceLeft_365,Yahoo Symbol
0,Leaver,Covestro,2024-12-27,2024-12-27,2025-01-26,2025-06-25,2025-12-27,1COV.DE
1,Leaver,Fresenius Med Cr,2023-03-20,2023-03-20,2023-04-19,2023-09-16,2024-03-19,FME.DE
2,Leaver,Linde,2023-02-27,2023-02-27,2023-03-29,2023-08-26,2024-02-27,LIN.DE
3,Leaver,Puma DE,2022-12-19,2022-12-19,2023-01-18,2023-06-17,2023-12-19,PUM.DE
4,Leaver,Hellofresh,2022-09-19,2022-09-19,2022-10-19,2023-03-18,2023-09-19,HFG.DE
5,Leaver,Delivery Hero,2022-06-20,2022-06-20,2022-07-20,2022-12-17,2023-06-20,DHER.DE
6,Leaver,Beiersdorf,2022-03-21,2022-03-21,2022-04-20,2022-09-17,2023-03-21,BEI.DE
7,Leaver,Deutsche Wohn,2021-10-29,2021-10-29,2021-11-28,2022-04-27,2022-10-29,DWNI.DE
8,Leaver,Beiersdorf,2021-03-22,2021-03-22,2021-04-21,2021-09-18,2022-03-22,BEI.DE
9,Leaver,Wirecard,2020-08-24,2020-08-24,2020-09-23,2021-02-20,2021-08-24,WDI.HM
10,Leaver,Lufthansa,2020-06-22,2020-06-22,2020-07-22,2020-12-19,2021-06-22,LHA.DE
11,Leaver,Thyssenkrupp,2019-09-23,2019-09-23,2019-10-23,2020-03-21,2020-09-22,TKA.DE
12,Leaver,Commerzbank,2018-09-24,2018-09-24,2018-10-24,2019-03-23,2019-09-24,CBK.DE
13,Leaver,Prosieben Media,2018-03-19,2018-03-19,2018-04-18,2018-09-15,2019-03-19,PSAN.DE
14,Leaver,K&S,2016-03-21,2016-03-21,2016-04-20,2016-09-17,2017-03-21,SDF.DE
15,Leaver,Lanxess,2015-09-21,2015-09-21,2015-10-21,2016-03-19,2016-09-20,LXS.DE
17,Leaver,Man,2012-09-24,2012-09-24,2012-10-24,2013-03-23,2013-09-24,MAN.DE
18,Leaver,Salzgitter A,2010-06-21,2010-06-21,2010-07-21,2010-12-18,2011-06-21,SZG.DE
19,Leaver,Hannover Rueck,2009-09-21,2009-09-21,2009-10-21,2010-03-20,2010-09-21,HNR1.DE
20,Leaver,Infineon Technol,2009-03-23,2009-03-23,2009-04-22,2009-09-19,2010-03-23,IFX.DE
22,Leaver,Continental,2008-12-22,2008-12-22,2009-01-21,2009-06-20,2009-12-22,CON.DE
24,Leaver,TUI,2008-09-22,2008-09-22,2008-10-22,2009-03-21,2009-09-22,TUI1.DE
25,Leaver,Altana,2007-06-18,2007-06-18,2007-07-18,2007-12-15,2008-06-17,ALT.DE
28,Leaver,MLP S,2003-09-22,2003-09-22,2003-10-22,2004-03-20,2004-09-21,MLP.DE
30,Leaver,Evonik Operation,2002-09-23,2002-09-23,2002-10-23,2003-03-22,2003-09-23,EVK.DE
37,Leaver,GEA Group,1996-11-19,1996-11-19,1996-12-19,1997-05-18,1997-11-19,G1A.DE
38,Leaver,Continental,1996-09-23,1996-09-23,1996-10-23,1997-03-22,1997-09-23,CON.DE

In [94]:
non_found_summary.to_csv("leavers_not_retrieved.csv",sep=";",index=False)

In [181]:
still_to_retrieve=pd.read_csv("leavers_not_retrieved_hand.csv",sep="\t")

In [182]:
still_to_retrieve

,Issuer,Ticker,Date of leaving,Close at leaving,Close now,Change (%),DAX Change (%),Status,Date,Yahoo Symbol,_merge
0,Altana,NaN,Aufgelöst,NaN,NaN,NaN,NaN,Leaver,2007-06-18,ALT.DE,right_only
1,Arcandor,NaN,Pennystock,NaN,NaN,NaN,NaN,Leaver,2001-03-19,NaN,right_only
2,Babcock Borsig,NaN,Aufgelöst,NaN,NaN,NaN,NaN,Leaver,1995-09-15,NaN,right_only
3,Daimler-Benz AG,MBG.DE,NaN,NaN,NaN,NaN,NaN,Leaver,1998-10-26,NaN,right_only
4,Diebold DE,NaN,Aufgekauft,NaN,NaN,NaN,NaN,Leaver,1990-09-03,DBN.DE,right_only
5,Dresdner Bk,NaN,Aufgekauft,NaN,NaN,NaN,NaN,Leaver,2001-07-20,NaN,right_only
6,Hoechst,NaN,Aufgelöst,NaN,NaN,NaN,NaN,Leaver,1999-09-20,NaN,right_only
7,Hypo Real Hldg,NaN,Verstaatlicht,NaN,NaN,NaN,NaN,Leaver,2008-12-22,NaN,right_only
8,Kaufhof WH,NaN,Aufgelöst,NaN,NaN,NaN,NaN,Leaver,1996-07-22,NaN,right_only
9,Man,NaN,Aufgelöst,NaN,NaN,NaN,NaN,Leaver,2012-09-24,MAN.DE,right_only
10,Osram Licht,NaN,Aufgelöst,NaN,NaN,NaN,NaN,Leaver,2013-07-09,OSR.DE,right_only
11,Postbank,NaN,Übernommen,NaN,NaN,NaN,NaN,Leaver,2009-03-23,NaN,right_only
12,TDK Electronics,TTDKY,NaN,NaN,NaN,NaN,NaN,Leaver,2002-12-23,NaN,right_only
13,UniCredt Bnk,NaN,Aufgekauft,NaN,NaN,NaN,NaN,Leaver,2005-12-19,NaN,right_only
14,Uniper,NaN,Verstaatlicht,NaN,NaN,NaN,NaN,Leaver,2016-09-13,UN01.DE,right_only
15,VIAG,NaN,Aufgelöst,NaN,NaN,NaN,NaN,Leaver,2000-06-19,NaN,right_only
16,Vitesco Tech Grp,NaN,Aufgelöst,NaN,NaN,NaN,NaN,Leaver,2021-09-17,VTSC.DE,right_only
17,Vodafone,VOD,NaN,NaN,NaN,NaN,NaN,Leaver,2000-02-14,VOD.DE,right_only
18,Wirecard,NaN,Pennystock,NaN,NaN,NaN,NaN,Leaver,2020-08-24,NaN,right_only

In [129]:
dax_absteiger_data=merge_retrieved_and_not[merge_retrieved_and_not["_merge"]=="both"]

In [130]:
#df_leavers_courses.drop_duplicates().to_csv("leavers_30_days.csv",index=False)

In [131]:
df_leavers_courses

,Key,Ticker,Close now,Issuer,Date_date,Date,Date_%,Date_dax,Date_dax%,Left_date,...,SinceLeft_180_date,SinceLeft_180,SinceLeft_180_%,SinceLeft_180_dax,SinceLeft_180_dax%,SinceLeft_365_date,SinceLeft_365,SinceLeft_365_%,SinceLeft_365_dax,SinceLeft_365_dax%
0,Covestro_2024-12,1COV.DE,58.380001,Covestro,2024-12-27,56.279999,3.731347,19984.320312,18.912972,2024-12-27,...,2025-06-25,60.500000,-3.504130,23498.330078,1.130375,NaT,NaN,NaN,NaN,NaN
1,Fresenius Med Cr_2023-03,FME.DE,43.549999,Fresenius Med Cr,2023-03-20,33.508217,29.968119,14933.379883,59.133092,2023-03-20,...,2023-09-16,39.814720,9.381653,15727.120117,51.101721,2024-03-19,33.966286,28.215371,17987.490234,32.113757
2,Linde_2023-02,LIN.DE,404.799988,Linde,2023-02-27,314.395142,28.755166,15381.429688,54.497662,2023-02-27,...,2023-08-26,342.049011,18.345610,15792.610352,50.475119,2024-02-27,397.879639,1.739307,17556.490234,35.357061
3,Puma DE_2022-12,PUM.DE,20.680000,Puma DE,2022-12-19,48.570686,-57.422878,13942.870117,70.438002,2022-12-19,...,2023-06-17,47.296265,-56.275616,16201.200195,46.680178,2023-12-19,51.644680,-59.957153,16744.410156,41.921686
4,Hellofresh_2022-09,HFG.DE,7.444000,Hellofresh,2022-09-19,24.680000,-69.837927,12803.240234,85.608868,2022-09-19,...,2023-03-18,16.174999,-53.978361,14933.379883,59.133092,2023-09-19,33.040001,-77.469735,15664.480469,51.705952
5,Delivery Hero_2022-06,DHER.DE,24.850000,Delivery Hero,2022-06-20,36.480000,-31.880481,13265.599609,79.139654,2022-06-20,...,2022-12-17,42.650002,-41.735054,13942.870117,70.438002,2023-06-20,34.445000,-27.856001,16111.320312,47.498459
6,Beiersdorf_2022-03,BEI.DE,88.160004,Beiersdorf,2022-03-21,85.481964,3.132871,14326.969727,65.868636,2022-03-21,...,2022-09-17,99.625549,-11.508640,12803.240234,85.608868,2023-03-21,112.886108,-21.903585,15195.339844,56.389719
7,Deutsche Wohn_2021-10,DWNI.DE,21.100000,Deutsche Wohn,2021-10-29,43.961575,-52.003538,15688.769531,51.471084,2021-10-29,...,2022-04-27,27.464815,-23.174431,13793.940430,72.278178,2022-10-29,20.300800,3.936791,13253.740234,79.299947
8,Beiersdorf_2021-03,BEI.DE,88.160004,Beiersdorf,2021-03-22,85.127762,3.561989,14657.209961,62.131465,2021-03-22,...,2021-09-18,99.712784,-11.586057,15132.059570,57.043720,2022-03-22,89.192673,-1.157796,14473.200195,64.192776
9,Wirecard_2020-08,WDI.HM,0.018600,Wirecard,2020-08-24,1.216800,-98.471400,13066.540039,81.868721,2020-08-24,...,2021-02-20,0.410200,-95.465627,13950.040039,70.350402,2021-08-24,0.286700,-93.512382,15905.849609,49.403834
10,Lufthansa_2020-06,LHA.DE,7.866000,Lufthansa,2020-06-22,6.407498,22.762431,12262.969727,93.786250,2020-06-22,...,2020-12-19,6.032729,30.388751,13246.299805,79.400660,2021-06-22,6.581869,19.510127,15636.330078,51.979071
11,Thyssenkrupp_2019-09,TKA.DE,11.775000,Thyssenkrupp,2019-09-23,11.500792,2.384254,12342.330078,92.540218,2019-09-23,...,2020-03-21,3.605554,226.579495,8741.150391,171.862949,2020-09-22,4.491226,162.177863,12594.389648,88.686787
12,Commerzbank_2018-09,CBK.DE,31.940001,Commerzbank,2018-09-24,8.808078,262.621689,12350.820312,92.407861,2018-09-24,...,2019-03-23,6.357514,402.397614,11346.650391,109.435811,2019-09-24,4.878806,554.668371,12307.150391,93.090589
13,Prosieben Media_2018-03,PSAN.DE,27.400000,Prosieben Media,2018-03-19,16.354134,67.541738,12217.019531,94.515112,2018-03-19,...,2018-09-15,15.441528,77.443573,12096.410156,96.454559,2019-03-19,16.676851,64.299598,11788.410156,101.587397
14,K&S_2016-03,SDF.DE,11.650000,K&S,2016-03-21,17.227318,-32.374849,9948.639648,138.866318,2016-03-21,...,2016-09-17,14.889362,-21.756222,10373.870117,129.075060,2017-03-21,18.225687,-36.079229,11962.129883,98.659849
15,Lanxess_2015-09,LXS.DE,21.780001,Lanxess,2015-09-21,39.114292,-44.317027,9948.509766,138.869437,2015-09-21,...,2016-03-19,35.861881,-39.266988,9948.639648,138.866318,2016-09-20,41.208111,-47.146326,10393.860352,128.634486
16,MetroOldData_2012-09,NaN,21.780001,MetroOldData,2012-09-24,39.114292,-44.317027,7413.160156,220.564357,2012-09-24,...,2013-03-23,39.114292,-44.317027,7870.899902,201.921629,2013-09-24,39.114292,-44.317027,8664.599609,174.264828
17,Salzgitter A_2010-06,SZG.DE,25.379999,Salzgitter A,2010-06-21,44.929306,-43.511259,6292.970215,277.626914,2010-06-21,...,2010-12-18,48.755592,-47.944435,7018.600098,238.585315,2011-06-21,42.984444,-40.955385,7285.509766,226.181008
18,Hannover Rueck_2009-09,HNR1.DE,254.899994,Hannover Rueck,2009-09-21,18.099602,1308.318246,5668.649902,319.217091,2009-09-21,...,2010-03-20,20.114399,1167.251358,5987.500000,296.892680,2010-09-21,21.134253,1106.098930,6275.979980,278.649220
19,Infineon Technol_2009-03,IFX.DE,33.185001,Infineon Technol,2009-03-23,0.585200,5570.713299,4176.370117,469.009656,2009-03-23,...,2009-09-19,2.968130,1018.043935,5668.649902,319.217091,2010-03-23,3.862285,759.206514,6017.270020,294.929081
20,Continental_2008-12,NaN,33.185001,Continental,2008-12-22,0.585200,5570.713299,4639.020020,412.262269,2008-12-22,...,2009-06-20,1.612061,1958.544681,4693.399902,406.326964,2009-12-22,3.182793,942.637706,5945.689941,299.683627
21,TUI_2008-09,TUI1.DE,7.932000,TUI,2008-09-22,27.164831,-70.800481,6107.750000,289.078617,2008-09-22,...,2009-03-21,8.855307,-10.426589,4176.370117,469.009656,2009-09-22,15.068995,-47.362114,5709.379883,316.226450
22,MLP S_2003-09,MLP.DE,7.270000,MLP S,2003-09-22,6.585333,10.396849,3456.270020,587.560552,2003-09-22,...,2004-03-20,5.907122,23.071784,3729.229980,537.234747,2004-09-21,5.719706,27.104433,3991.020020,495.435480
23,EpcosOldData_2002-12,NaN,7.270000,EpcosOldData,2002-12-23,6.585333,10.396849,3000.840088,691.909883,2002-12-23,...,2003-06-21,6.585333,10.396849,3186.389893,645.795399,2003-12-23,6.535095,11.245510,3903.340088,508.810626
24,Evonik Operation_2002-09,EVK.DE,14.740000,Evonik Operation,2002-09-23,14.164884,4.060154,2914.250000,715.439623,2002-09-23,...,2003-03-22,14.164884,4.060154,2548.370117,832.515613,2003-09-23,14.164884,4.060154,3411.020020,596.681611
25,Karstadt-Quelle_2001-03,NaN,14.740000,Karstadt-Quelle,2001-03-19,14.164884,4.060154,5657.290039,320.058881,2001-03-19,...,2001-09-15,14.164884,4.060154,4234.549805,461.191870,2002-03-19,14.164884,4.060154,5462.549805,335.034006
26,Mannesmann_2000-02,NaN,14.740000,Mannesmann,2000-02-14,14.164884,4.060154,7644.799805,210.851165,2000-02-14,...,2000-08-12,14.164884,4.060154,7331.669922,224.127374,2001-02-13,14.164884,4.060154,6557.930176,262.369659
27,Bayerische Vereinsbank AG_1998-06,NaN,14.740000,Bayerische Vereinsbank AG,1998-06-22,14.164884,4.060154,5648.109863,320.741625,1998-06-22,...,1998-12-19,14.164884,4.060154,4826.700195,392.343594,1999-06-22,14.164884,4.060154,5468.669922,334.547149
28,GEA Group_1996-11,G1A.DE,62.549999,GEA Group,1996-11-19,12.243130,410.898770,2781.540039,754.345035,1996-11-19,...,1997-05-18,12.243130,410.898770,3516.199951,575.841805,1997-11-19,12.243130,410.898770,3876.899902,512.962672
29,Continental_1996-09,NaN,62.549999,Continental,1996-09-23,12.243130,410.898770,2624.179932,805.576212,1996-09-23,...,1997-03-22,12.243130,410.898770,3302.570068,619.559274,1997-09-23,12.243130,410.898770,4091.770020,480.774313

In [132]:
#df_leavers_courses.drop_duplicates().to_csv("leavers_180_days.csv",index=False)

In [133]:
df_leavers_courses.drop_duplicates().to_csv("leavers_365_days.csv",index=False)

In [134]:
df_leavers_courses

,Key,Ticker,Close now,Issuer,Date_date,Date,Date_%,Date_dax,Date_dax%,Left_date,...,SinceLeft_180_date,SinceLeft_180,SinceLeft_180_%,SinceLeft_180_dax,SinceLeft_180_dax%,SinceLeft_365_date,SinceLeft_365,SinceLeft_365_%,SinceLeft_365_dax,SinceLeft_365_dax%
0,Covestro_2024-12,1COV.DE,58.380001,Covestro,2024-12-27,56.279999,3.731347,19984.320312,18.912972,2024-12-27,...,2025-06-25,60.500000,-3.504130,23498.330078,1.130375,NaT,NaN,NaN,NaN,NaN
1,Fresenius Med Cr_2023-03,FME.DE,43.549999,Fresenius Med Cr,2023-03-20,33.508217,29.968119,14933.379883,59.133092,2023-03-20,...,2023-09-16,39.814720,9.381653,15727.120117,51.101721,2024-03-19,33.966286,28.215371,17987.490234,32.113757
2,Linde_2023-02,LIN.DE,404.799988,Linde,2023-02-27,314.395142,28.755166,15381.429688,54.497662,2023-02-27,...,2023-08-26,342.049011,18.345610,15792.610352,50.475119,2024-02-27,397.879639,1.739307,17556.490234,35.357061
3,Puma DE_2022-12,PUM.DE,20.680000,Puma DE,2022-12-19,48.570686,-57.422878,13942.870117,70.438002,2022-12-19,...,2023-06-17,47.296265,-56.275616,16201.200195,46.680178,2023-12-19,51.644680,-59.957153,16744.410156,41.921686
4,Hellofresh_2022-09,HFG.DE,7.444000,Hellofresh,2022-09-19,24.680000,-69.837927,12803.240234,85.608868,2022-09-19,...,2023-03-18,16.174999,-53.978361,14933.379883,59.133092,2023-09-19,33.040001,-77.469735,15664.480469,51.705952
5,Delivery Hero_2022-06,DHER.DE,24.850000,Delivery Hero,2022-06-20,36.480000,-31.880481,13265.599609,79.139654,2022-06-20,...,2022-12-17,42.650002,-41.735054,13942.870117,70.438002,2023-06-20,34.445000,-27.856001,16111.320312,47.498459
6,Beiersdorf_2022-03,BEI.DE,88.160004,Beiersdorf,2022-03-21,85.481964,3.132871,14326.969727,65.868636,2022-03-21,...,2022-09-17,99.625549,-11.508640,12803.240234,85.608868,2023-03-21,112.886108,-21.903585,15195.339844,56.389719
7,Deutsche Wohn_2021-10,DWNI.DE,21.100000,Deutsche Wohn,2021-10-29,43.961575,-52.003538,15688.769531,51.471084,2021-10-29,...,2022-04-27,27.464815,-23.174431,13793.940430,72.278178,2022-10-29,20.300800,3.936791,13253.740234,79.299947
8,Beiersdorf_2021-03,BEI.DE,88.160004,Beiersdorf,2021-03-22,85.127762,3.561989,14657.209961,62.131465,2021-03-22,...,2021-09-18,99.712784,-11.586057,15132.059570,57.043720,2022-03-22,89.192673,-1.157796,14473.200195,64.192776
9,Wirecard_2020-08,WDI.HM,0.018600,Wirecard,2020-08-24,1.216800,-98.471400,13066.540039,81.868721,2020-08-24,...,2021-02-20,0.410200,-95.465627,13950.040039,70.350402,2021-08-24,0.286700,-93.512382,15905.849609,49.403834
10,Lufthansa_2020-06,LHA.DE,7.866000,Lufthansa,2020-06-22,6.407498,22.762431,12262.969727,93.786250,2020-06-22,...,2020-12-19,6.032729,30.388751,13246.299805,79.400660,2021-06-22,6.581869,19.510127,15636.330078,51.979071
11,Thyssenkrupp_2019-09,TKA.DE,11.775000,Thyssenkrupp,2019-09-23,11.500792,2.384254,12342.330078,92.540218,2019-09-23,...,2020-03-21,3.605554,226.579495,8741.150391,171.862949,2020-09-22,4.491226,162.177863,12594.389648,88.686787
12,Commerzbank_2018-09,CBK.DE,31.940001,Commerzbank,2018-09-24,8.808078,262.621689,12350.820312,92.407861,2018-09-24,...,2019-03-23,6.357514,402.397614,11346.650391,109.435811,2019-09-24,4.878806,554.668371,12307.150391,93.090589
13,Prosieben Media_2018-03,PSAN.DE,27.400000,Prosieben Media,2018-03-19,16.354134,67.541738,12217.019531,94.515112,2018-03-19,...,2018-09-15,15.441528,77.443573,12096.410156,96.454559,2019-03-19,16.676851,64.299598,11788.410156,101.587397
14,K&S_2016-03,SDF.DE,11.650000,K&S,2016-03-21,17.227318,-32.374849,9948.639648,138.866318,2016-03-21,...,2016-09-17,14.889362,-21.756222,10373.870117,129.075060,2017-03-21,18.225687,-36.079229,11962.129883,98.659849
15,Lanxess_2015-09,LXS.DE,21.780001,Lanxess,2015-09-21,39.114292,-44.317027,9948.509766,138.869437,2015-09-21,...,2016-03-19,35.861881,-39.266988,9948.639648,138.866318,2016-09-20,41.208111,-47.146326,10393.860352,128.634486
16,MetroOldData_2012-09,NaN,21.780001,MetroOldData,2012-09-24,39.114292,-44.317027,7413.160156,220.564357,2012-09-24,...,2013-03-23,39.114292,-44.317027,7870.899902,201.921629,2013-09-24,39.114292,-44.317027,8664.599609,174.264828
17,Salzgitter A_2010-06,SZG.DE,25.379999,Salzgitter A,2010-06-21,44.929306,-43.511259,6292.970215,277.626914,2010-06-21,...,2010-12-18,48.755592,-47.944435,7018.600098,238.585315,2011-06-21,42.984444,-40.955385,7285.509766,226.181008
18,Hannover Rueck_2009-09,HNR1.DE,254.899994,Hannover Rueck,2009-09-21,18.099602,1308.318246,5668.649902,319.217091,2009-09-21,...,2010-03-20,20.114399,1167.251358,5987.500000,296.892680,2010-09-21,21.134253,1106.098930,6275.979980,278.649220
19,Infineon Technol_2009-03,IFX.DE,33.185001,Infineon Technol,2009-03-23,0.585200,5570.713299,4176.370117,469.009656,2009-03-23,...,2009-09-19,2.968130,1018.043935,5668.649902,319.217091,2010-03-23,3.862285,759.206514,6017.270020,294.929081
20,Continental_2008-12,NaN,33.185001,Continental,2008-12-22,0.585200,5570.713299,4639.020020,412.262269,2008-12-22,...,2009-06-20,1.612061,1958.544681,4693.399902,406.326964,2009-12-22,3.182793,942.637706,5945.689941,299.683627
21,TUI_2008-09,TUI1.DE,7.932000,TUI,2008-09-22,27.164831,-70.800481,6107.750000,289.078617,2008-09-22,...,2009-03-21,8.855307,-10.426589,4176.370117,469.009656,2009-09-22,15.068995,-47.362114,5709.379883,316.226450
22,MLP S_2003-09,MLP.DE,7.270000,MLP S,2003-09-22,6.585333,10.396849,3456.270020,587.560552,2003-09-22,...,2004-03-20,5.907122,23.071784,3729.229980,537.234747,2004-09-21,5.719706,27.104433,3991.020020,495.435480
23,EpcosOldData_2002-12,NaN,7.270000,EpcosOldData,2002-12-23,6.585333,10.396849,3000.840088,691.909883,2002-12-23,...,2003-06-21,6.585333,10.396849,3186.389893,645.795399,2003-12-23,6.535095,11.245510,3903.340088,508.810626
24,Evonik Operation_2002-09,EVK.DE,14.740000,Evonik Operation,2002-09-23,14.164884,4.060154,2914.250000,715.439623,2002-09-23,...,2003-03-22,14.164884,4.060154,2548.370117,832.515613,2003-09-23,14.164884,4.060154,3411.020020,596.681611
25,Karstadt-Quelle_2001-03,NaN,14.740000,Karstadt-Quelle,2001-03-19,14.164884,4.060154,5657.290039,320.058881,2001-03-19,...,2001-09-15,14.164884,4.060154,4234.549805,461.191870,2002-03-19,14.164884,4.060154,5462.549805,335.034006
26,Mannesmann_2000-02,NaN,14.740000,Mannesmann,2000-02-14,14.164884,4.060154,7644.799805,210.851165,2000-02-14,...,2000-08-12,14.164884,4.060154,7331.669922,224.127374,2001-02-13,14.164884,4.060154,6557.930176,262.369659
27,Bayerische Vereinsbank AG_1998-06,NaN,14.740000,Bayerische Vereinsbank AG,1998-06-22,14.164884,4.060154,5648.109863,320.741625,1998-06-22,...,1998-12-19,14.164884,4.060154,4826.700195,392.343594,1999-06-22,14.164884,4.060154,5468.669922,334.547149
28,GEA Group_1996-11,G1A.DE,62.549999,GEA Group,1996-11-19,12.243130,410.898770,2781.540039,754.345035,1996-11-19,...,1997-05-18,12.243130,410.898770,3516.199951,575.841805,1997-11-19,12.243130,410.898770,3876.899902,512.962672
29,Continental_1996-09,NaN,62.549999,Continental,1996-09-23,12.243130,410.898770,2624.179932,805.576212,1996-09-23,...,1997-03-22,12.243130,410.898770,3302.570068,619.559274,1997-09-23,12.243130,410.898770,4091.770020,480.774313

In [135]:
df_leavers_courses.head(30)

,Key,Ticker,Close now,Issuer,Date_date,Date,Date_%,Date_dax,Date_dax%,Left_date,...,SinceLeft_180_date,SinceLeft_180,SinceLeft_180_%,SinceLeft_180_dax,SinceLeft_180_dax%,SinceLeft_365_date,SinceLeft_365,SinceLeft_365_%,SinceLeft_365_dax,SinceLeft_365_dax%
0,Covestro_2024-12,1COV.DE,58.380001,Covestro,2024-12-27,56.279999,3.731347,19984.320312,18.912972,2024-12-27,...,2025-06-25,60.500000,-3.504130,23498.330078,1.130375,NaT,NaN,NaN,NaN,NaN
1,Fresenius Med Cr_2023-03,FME.DE,43.549999,Fresenius Med Cr,2023-03-20,33.508217,29.968119,14933.379883,59.133092,2023-03-20,...,2023-09-16,39.814720,9.381653,15727.120117,51.101721,2024-03-19,33.966286,28.215371,17987.490234,32.113757
2,Linde_2023-02,LIN.DE,404.799988,Linde,2023-02-27,314.395142,28.755166,15381.429688,54.497662,2023-02-27,...,2023-08-26,342.049011,18.345610,15792.610352,50.475119,2024-02-27,397.879639,1.739307,17556.490234,35.357061
3,Puma DE_2022-12,PUM.DE,20.680000,Puma DE,2022-12-19,48.570686,-57.422878,13942.870117,70.438002,2022-12-19,...,2023-06-17,47.296265,-56.275616,16201.200195,46.680178,2023-12-19,51.644680,-59.957153,16744.410156,41.921686
4,Hellofresh_2022-09,HFG.DE,7.444000,Hellofresh,2022-09-19,24.680000,-69.837927,12803.240234,85.608868,2022-09-19,...,2023-03-18,16.174999,-53.978361,14933.379883,59.133092,2023-09-19,33.040001,-77.469735,15664.480469,51.705952
5,Delivery Hero_2022-06,DHER.DE,24.850000,Delivery Hero,2022-06-20,36.480000,-31.880481,13265.599609,79.139654,2022-06-20,...,2022-12-17,42.650002,-41.735054,13942.870117,70.438002,2023-06-20,34.445000,-27.856001,16111.320312,47.498459
6,Beiersdorf_2022-03,BEI.DE,88.160004,Beiersdorf,2022-03-21,85.481964,3.132871,14326.969727,65.868636,2022-03-21,...,2022-09-17,99.625549,-11.508640,12803.240234,85.608868,2023-03-21,112.886108,-21.903585,15195.339844,56.389719
7,Deutsche Wohn_2021-10,DWNI.DE,21.100000,Deutsche Wohn,2021-10-29,43.961575,-52.003538,15688.769531,51.471084,2021-10-29,...,2022-04-27,27.464815,-23.174431,13793.940430,72.278178,2022-10-29,20.300800,3.936791,13253.740234,79.299947
8,Beiersdorf_2021-03,BEI.DE,88.160004,Beiersdorf,2021-03-22,85.127762,3.561989,14657.209961,62.131465,2021-03-22,...,2021-09-18,99.712784,-11.586057,15132.059570,57.043720,2022-03-22,89.192673,-1.157796,14473.200195,64.192776
9,Wirecard_2020-08,WDI.HM,0.018600,Wirecard,2020-08-24,1.216800,-98.471400,13066.540039,81.868721,2020-08-24,...,2021-02-20,0.410200,-95.465627,13950.040039,70.350402,2021-08-24,0.286700,-93.512382,15905.849609,49.403834
10,Lufthansa_2020-06,LHA.DE,7.866000,Lufthansa,2020-06-22,6.407498,22.762431,12262.969727,93.786250,2020-06-22,...,2020-12-19,6.032729,30.388751,13246.299805,79.400660,2021-06-22,6.581869,19.510127,15636.330078,51.979071
11,Thyssenkrupp_2019-09,TKA.DE,11.775000,Thyssenkrupp,2019-09-23,11.500792,2.384254,12342.330078,92.540218,2019-09-23,...,2020-03-21,3.605554,226.579495,8741.150391,171.862949,2020-09-22,4.491226,162.177863,12594.389648,88.686787
12,Commerzbank_2018-09,CBK.DE,31.940001,Commerzbank,2018-09-24,8.808078,262.621689,12350.820312,92.407861,2018-09-24,...,2019-03-23,6.357514,402.397614,11346.650391,109.435811,2019-09-24,4.878806,554.668371,12307.150391,93.090589
13,Prosieben Media_2018-03,PSAN.DE,27.400000,Prosieben Media,2018-03-19,16.354134,67.541738,12217.019531,94.515112,2018-03-19,...,2018-09-15,15.441528,77.443573,12096.410156,96.454559,2019-03-19,16.676851,64.299598,11788.410156,101.587397
14,K&S_2016-03,SDF.DE,11.650000,K&S,2016-03-21,17.227318,-32.374849,9948.639648,138.866318,2016-03-21,...,2016-09-17,14.889362,-21.756222,10373.870117,129.075060,2017-03-21,18.225687,-36.079229,11962.129883,98.659849
15,Lanxess_2015-09,LXS.DE,21.780001,Lanxess,2015-09-21,39.114292,-44.317027,9948.509766,138.869437,2015-09-21,...,2016-03-19,35.861881,-39.266988,9948.639648,138.866318,2016-09-20,41.208111,-47.146326,10393.860352,128.634486
16,MetroOldData_2012-09,NaN,21.780001,MetroOldData,2012-09-24,39.114292,-44.317027,7413.160156,220.564357,2012-09-24,...,2013-03-23,39.114292,-44.317027,7870.899902,201.921629,2013-09-24,39.114292,-44.317027,8664.599609,174.264828
17,Salzgitter A_2010-06,SZG.DE,25.379999,Salzgitter A,2010-06-21,44.929306,-43.511259,6292.970215,277.626914,2010-06-21,...,2010-12-18,48.755592,-47.944435,7018.600098,238.585315,2011-06-21,42.984444,-40.955385,7285.509766,226.181008
18,Hannover Rueck_2009-09,HNR1.DE,254.899994,Hannover Rueck,2009-09-21,18.099602,1308.318246,5668.649902,319.217091,2009-09-21,...,2010-03-20,20.114399,1167.251358,5987.500000,296.892680,2010-09-21,21.134253,1106.098930,6275.979980,278.649220
19,Infineon Technol_2009-03,IFX.DE,33.185001,Infineon Technol,2009-03-23,0.585200,5570.713299,4176.370117,469.009656,2009-03-23,...,2009-09-19,2.968130,1018.043935,5668.649902,319.217091,2010-03-23,3.862285,759.206514,6017.270020,294.929081
20,Continental_2008-12,NaN,33.185001,Continental,2008-12-22,0.585200,5570.713299,4639.020020,412.262269,2008-12-22,...,2009-06-20,1.612061,1958.544681,4693.399902,406.326964,2009-12-22,3.182793,942.637706,5945.689941,299.683627
21,TUI_2008-09,TUI1.DE,7.932000,TUI,2008-09-22,27.164831,-70.800481,6107.750000,289.078617,2008-09-22,...,2009-03-21,8.855307,-10.426589,4176.370117,469.009656,2009-09-22,15.068995,-47.362114,5709.379883,316.226450
22,MLP S_2003-09,MLP.DE,7.270000,MLP S,2003-09-22,6.585333,10.396849,3456.270020,587.560552,2003-09-22,...,2004-03-20,5.907122,23.071784,3729.229980,537.234747,2004-09-21,5.719706,27.104433,3991.020020,495.435480
23,EpcosOldData_2002-12,NaN,7.270000,EpcosOldData,2002-12-23,6.585333,10.396849,3000.840088,691.909883,2002-12-23,...,2003-06-21,6.585333,10.396849,3186.389893,645.795399,2003-12-23,6.535095,11.245510,3903.340088,508.810626
24,Evonik Operation_2002-09,EVK.DE,14.740000,Evonik Operation,2002-09-23,14.164884,4.060154,2914.250000,715.439623,2002-09-23,...,2003-03-22,14.164884,4.060154,2548.370117,832.515613,2003-09-23,14.164884,4.060154,3411.020020,596.681611
25,Karstadt-Quelle_2001-03,NaN,14.740000,Karstadt-Quelle,2001-03-19,14.164884,4.060154,5657.290039,320.058881,2001-03-19,...,2001-09-15,14.164884,4.060154,4234.549805,461.191870,2002-03-19,14.164884,4.060154,5462.549805,335.034006
26,Mannesmann_2000-02,NaN,14.740000,Mannesmann,2000-02-14,14.164884,4.060154,7644.799805,210.851165,2000-02-14,...,2000-08-12,14.164884,4.060154,7331.669922,224.127374,2001-02-13,14.164884,4.060154,6557.930176,262.369659
27,Bayerische Vereinsbank AG_1998-06,NaN,14.740000,Bayerische Vereinsbank AG,1998-06-22,14.164884,4.060154,5648.109863,320.741625,1998-06-22,...,1998-12-19,14.164884,4.060154,4826.700195,392.343594,1999-06-22,14.164884,4.060154,5468.669922,334.547149
28,GEA Group_1996-11,G1A.DE,62.549999,GEA Group,1996-11-19,12.243130,410.898770,2781.540039,754.345035,1996-11-19,...,1997-05-18,12.243130,410.898770,3516.199951,575.841805,1997-11-19,12.243130,410.898770,3876.899902,512.962672
29,Continental_1996-09,NaN,62.549999,Continental,1996-09-23,12.243130,410.898770,2624.179932,805.576212,1996-09-23,...,1997-03-22,12.243130,410.898770,3302.570068,619.559274,1997-09-23,12.243130,410.898770,4091.770020,480.774313

In [136]:
df_leavers_head=df_leavers_courses.head(25)

In [95]:
data_thyssen = yf.download("TKA.DE", start="1990-01-01")
data_thyssen

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker         TKA.DE     TKA.DE     TKA.DE     TKA.DE   TKA.DE
Date
1999-03-26  10.460896  10.821615  10.200703  10.821615   617391
1999-03-29  10.644213  10.792049  10.171137  10.525943   776308
1999-03-30  10.608731  10.851183  10.389933  10.851183   604737
1999-03-31  10.898489  10.898489  10.537768  10.644210  1163251
1999-04-01  10.768394  10.928057  10.644212  10.732913   650035
...               ...        ...        ...        ...      ...
2025-09-23  11.560000  11.945000  11.560000  11.890000  1888287
2025-09-24  11.635000  11.685000  11.410000  11.565000  1723689
2025-09-25  11.400000  11.610000  11.310000  11.610000  1555297
2025-09-26  11.805000  11.865000  11.475000  11.500000  2899756
2025-09-29  11.805000  11.890000  11.620000  11.890000   314027

[6782 rows x 5 columns]

In [97]:
data_thyssen=data_thyssen.reset_index()
data_thyssen

Price        Date      Close       High        Low       Open   Volume
Ticker                TKA.DE     TKA.DE     TKA.DE     TKA.DE   TKA.DE
0      1999-03-26  10.460896  10.821615  10.200703  10.821615   617391
1      1999-03-29  10.644213  10.792049  10.171137  10.525943   776308
2      1999-03-30  10.608731  10.851183  10.389933  10.851183   604737
3      1999-03-31  10.898489  10.898489  10.537768  10.644210  1163251
4      1999-04-01  10.768394  10.928057  10.644212  10.732913   650035
...           ...        ...        ...        ...        ...      ...
6777   2025-09-23  11.560000  11.945000  11.560000  11.890000  1888287
6778   2025-09-24  11.635000  11.685000  11.410000  11.565000  1723689
6779   2025-09-25  11.400000  11.610000  11.310000  11.610000  1555297
6780   2025-09-26  11.805000  11.865000  11.475000  11.500000  2899756
6781   2025-09-29  11.805000  11.890000  11.620000  11.890000   314027

[6782 rows x 6 columns]

In [101]:
data_thyssen[data_thyssen["Date"]>"2019-09-01"][["Date","Close"]].to_csv("thyssenkrupp_post_dax.csv",index=False)