In [243]:
import pandas as pd
import math

In [80]:
data=pd.read_csv("long_careers_filtered_4.csv")
reign_20_years=data[data["YEAR"]<2005]
reign_20_years=reign_20_years.sort_values(by="YEAR",ascending=False)
reign_20_years=reign_20_years[["person_title","country_title","YEAR",]].reset_index(drop=True)
reign_20_years

                             person_title                 country_title  YEAR
0                       Roosevelt Skerrit                      Dominica  2004
1                         Hsien Loong Lee                      Singapur  2004
2                    Recep Tayyip Erdogan                        Türkei  2003
3                      Shavkat Mirziyoyev                    Uzbekistan  2003
4                            Ilham Aliyev                 Azerbaidschan  2003
5                         Ralph Gonsalves  Saint Vincent und Grenadinen  2001
6                         Bashar al-Assad                        Syrien  2000
7                             Paul Kagame                        Ruanda  2000
8            Vladimir Vladimirovich Putin                      Russland  1999
9                     Ismail Omar Guelleh                      Djibouti  1999
10                   Denis Sassou Nguesso                         Kongo  1997
11                   Alexander Lukashenko                       Belarus  1994
12                         Emomali Rahmon                 Tadschikistan  1992
13                         Isaias Afwerki                       Eritrea  1991
14                 Yoweri Kaguta Museveni                        Uganda  1986
15  Ayatollah Seyyed Ali Hoseyni Khamenei                          Iran  1981
16          Teodoro Obiang Nguema Mbasogo             Äquatorial Guinea  1979
17                              Paul Biya                       Kamerun  1975

In [81]:
reign_20_years["duration"]=2024-reign_20_years["YEAR"]
reign_20_years["endyear"]="2024-01-01"

reign_20_years

,person_title,country_title,YEAR,duration,endyear
0,Roosevelt Skerrit,Dominica,2004,20,2024-01-01
1,Hsien Loong Lee,Singapur,2004,20,2024-01-01
2,Recep Tayyip Erdogan,Türkei,2003,21,2024-01-01
3,Shavkat Mirziyoyev,Uzbekistan,2003,21,2024-01-01
4,Ilham Aliyev,Azerbaidschan,2003,21,2024-01-01
5,Ralph Gonsalves,Saint Vincent und Grenadinen,2001,23,2024-01-01
6,Bashar al-Assad,Syrien,2000,24,2024-01-01
7,Paul Kagame,Ruanda,2000,24,2024-01-01
8,Vladimir Vladimirovich Putin,Russland,1999,25,2024-01-01
9,Ismail Omar Guelleh,Djibouti,1999,25,2024-01-01
10,Denis Sassou Nguesso,Kongo,1997,27,2024-01-01
11,Alexander Lukashenko,Belarus,1994,30,2024-01-01
12,Emomali Rahmon,Tadschikistan,1992,32,2024-01-01
13,Isaias Afwerki,Eritrea,1991,33,2024-01-01
14,Yoweri Kaguta Museveni,Uganda,1986,38,2024-01-01
15,Ayatollah Seyyed Ali Hoseyni Khamenei,Iran,1981,43,2024-01-01
16,Teodoro Obiang Nguema Mbasogo,Äquatorial Guinea,1979,45,2024-01-01
17,Paul Biya,Kamerun,1975,49,2024-01-01

In [82]:
reign_20_years["linestr"]=reign_20_years["YEAR"].astype(str)+"-01-01,0,2024-01-01,"+reign_20_years["duration"].astype(str)+" @opacity:0.5 @color:#66bfa2"
reign_20_years

,person_title,country_title,YEAR,duration,endyear,linestr
0,Roosevelt Skerrit,Dominica,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color..."
1,Hsien Loong Lee,Singapur,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color..."
2,Recep Tayyip Erdogan,Türkei,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color..."
3,Shavkat Mirziyoyev,Uzbekistan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color..."
4,Ilham Aliyev,Azerbaidschan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color..."
5,Ralph Gonsalves,Saint Vincent und Grenadinen,2001,23,2024-01-01,"2001-01-01,0,2024-01-01,23 @opacity:0.5 @color..."
6,Bashar al-Assad,Syrien,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color..."
7,Paul Kagame,Ruanda,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color..."
8,Vladimir Vladimirovich Putin,Russland,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color..."
9,Ismail Omar Guelleh,Djibouti,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color..."
10,Denis Sassou Nguesso,Kongo,1997,27,2024-01-01,"1997-01-01,0,2024-01-01,27 @opacity:0.5 @color..."
11,Alexander Lukashenko,Belarus,1994,30,2024-01-01,"1994-01-01,0,2024-01-01,30 @opacity:0.5 @color..."
12,Emomali Rahmon,Tadschikistan,1992,32,2024-01-01,"1992-01-01,0,2024-01-01,32 @opacity:0.5 @color..."
13,Isaias Afwerki,Eritrea,1991,33,2024-01-01,"1991-01-01,0,2024-01-01,33 @opacity:0.5 @color..."
14,Yoweri Kaguta Museveni,Uganda,1986,38,2024-01-01,"1986-01-01,0,2024-01-01,38 @opacity:0.5 @color..."
15,Ayatollah Seyyed Ali Hoseyni Khamenei,Iran,1981,43,2024-01-01,"1981-01-01,0,2024-01-01,43 @opacity:0.5 @color..."
16,Teodoro Obiang Nguema Mbasogo,Äquatorial Guinea,1979,45,2024-01-01,"1979-01-01,0,2024-01-01,45 @opacity:0.5 @color..."
17,Paul Biya,Kamerun,1975,49,2024-01-01,"1975-01-01,0,2024-01-01,49 @opacity:0.5 @color..."

In [83]:
reign_20_years.to_csv("country_leaders1.csv",index=False)

In [84]:
reign_20_years.linestr.values

array(['2004-01-01,0,2024-01-01,20 @opacity:0.5 @color:#66bfa2',
       '2004-01-01,0,2024-01-01,20 @opacity:0.5 @color:#66bfa2',
       '2003-01-01,0,2024-01-01,21 @opacity:0.5 @color:#66bfa2',
       '2003-01-01,0,2024-01-01,21 @opacity:0.5 @color:#66bfa2',
       '2003-01-01,0,2024-01-01,21 @opacity:0.5 @color:#66bfa2',
       '2001-01-01,0,2024-01-01,23 @opacity:0.5 @color:#66bfa2',
       '2000-01-01,0,2024-01-01,24 @opacity:0.5 @color:#66bfa2',
       '2000-01-01,0,2024-01-01,24 @opacity:0.5 @color:#66bfa2',
       '1999-01-01,0,2024-01-01,25 @opacity:0.5 @color:#66bfa2',
       '1999-01-01,0,2024-01-01,25 @opacity:0.5 @color:#66bfa2',
       '1997-01-01,0,2024-01-01,27 @opacity:0.5 @color:#66bfa2',
       '1994-01-01,0,2024-01-01,30 @opacity:0.5 @color:#66bfa2',
       '1992-01-01,0,2024-01-01,32 @opacity:0.5 @color:#66bfa2',
       '1991-01-01,0,2024-01-01,33 @opacity:0.5 @color:#66bfa2',
       '1986-01-01,0,2024-01-01,38 @opacity:0.5 @color:#66bfa2',
       '1981-01-01,0,2024-01-01,43 @opacity:0.5 @color:#66bfa2',
       '1979-01-01,0,2024-01-01,45 @opacity:0.5 @color:#66bfa2',
       '1975-01-01,0,2024-01-01,49 @opacity:0.5 @color:#66bfa2'],
      dtype=object)

In [85]:
1990-11-28,0,1997-05-02,6.43 @opacity:0.5@color:#c4c4c4

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2019074479.py, line 1)

In [86]:
reign_20_years

,person_title,country_title,YEAR,duration,endyear,linestr
0,Roosevelt Skerrit,Dominica,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color..."
1,Hsien Loong Lee,Singapur,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color..."
2,Recep Tayyip Erdogan,Türkei,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color..."
3,Shavkat Mirziyoyev,Uzbekistan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color..."
4,Ilham Aliyev,Azerbaidschan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color..."
5,Ralph Gonsalves,Saint Vincent und Grenadinen,2001,23,2024-01-01,"2001-01-01,0,2024-01-01,23 @opacity:0.5 @color..."
6,Bashar al-Assad,Syrien,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color..."
7,Paul Kagame,Ruanda,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color..."
8,Vladimir Vladimirovich Putin,Russland,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color..."
9,Ismail Omar Guelleh,Djibouti,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color..."
10,Denis Sassou Nguesso,Kongo,1997,27,2024-01-01,"1997-01-01,0,2024-01-01,27 @opacity:0.5 @color..."
11,Alexander Lukashenko,Belarus,1994,30,2024-01-01,"1994-01-01,0,2024-01-01,30 @opacity:0.5 @color..."
12,Emomali Rahmon,Tadschikistan,1992,32,2024-01-01,"1992-01-01,0,2024-01-01,32 @opacity:0.5 @color..."
13,Isaias Afwerki,Eritrea,1991,33,2024-01-01,"1991-01-01,0,2024-01-01,33 @opacity:0.5 @color..."
14,Yoweri Kaguta Museveni,Uganda,1986,38,2024-01-01,"1986-01-01,0,2024-01-01,38 @opacity:0.5 @color..."
15,Ayatollah Seyyed Ali Hoseyni Khamenei,Iran,1981,43,2024-01-01,"1981-01-01,0,2024-01-01,43 @opacity:0.5 @color..."
16,Teodoro Obiang Nguema Mbasogo,Äquatorial Guinea,1979,45,2024-01-01,"1979-01-01,0,2024-01-01,45 @opacity:0.5 @color..."
17,Paul Biya,Kamerun,1975,49,2024-01-01,"1975-01-01,0,2024-01-01,49 @opacity:0.5 @color..."

In [87]:
reign_20_years.country_title

0                         Dominica
1                         Singapur
2                           Türkei
3                       Uzbekistan
4                    Azerbaidschan
5     Saint Vincent und Grenadinen
6                           Syrien
7                           Ruanda
8                         Russland
9                         Djibouti
10                           Kongo
11                         Belarus
12                   Tadschikistan
13                         Eritrea
14                          Uganda
15                            Iran
16               Äquatorial Guinea
17                         Kamerun
Name: country_title, dtype: object

In [102]:
reign_20_years.country_title.tolist()

['Dominica',
 'Singapur',
 'Türkei',
 'Uzbekistan',
 'Azerbaidschan',
 'Saint Vincent und Grenadinen',
 'Syrien',
 'Ruanda',
 'Russland',
 'Djibouti',
 'Kongo',
 'Belarus',
 'Tadschikistan',
 'Eritrea',
 'Uganda',
 'Iran',
 'Äquatorial Guinea',
 'Kamerun']

In [137]:
country_map = {
    'Dominica': 'Dominica',
    'Singapur': 'Singapore',
    'Türkei': 'Turkiye',
    'Uzbekistan': 'Usbekistan',
    'Azerbaidschan': 'Azerbaijan',
    'Saint Vincent und Grenadinen': 'St. Vincent and the Grenadines',
    'Syrien': 'Syrian Arab Republic',
    'Ruanda': 'Rwanda',
    'Russland': 'Russian Federation',
    'Djibouti': 'Djibouti',
    'Kongo': 'Congo, Rep.',
    'Belarus': 'Belarus',
    'Tadschikistan': 'Tajikistan',
    'Eritrea': 'Eritrea',
    'Uganda': 'Uganda',
    'Iran': 'Iran, Islamic Rep.',
    'Äquatorial Guinea': 'Equatorial Guinea',
    'Kamerun': 'Cameroon'
}

reverse_country_map = {v: k for k, v in country_map.items()}
reverse_country_map

{'Dominica': 'Dominica',
 'Singapore': 'Singapur',
 'Turkiye': 'Türkei',
 'Usbekistan': 'Uzbekistan',
 'Azerbaijan': 'Azerbaidschan',
 'St. Vincent and the Grenadines': 'Saint Vincent und Grenadinen',
 'Syrian Arab Republic': 'Syrien',
 'Rwanda': 'Ruanda',
 'Russian Federation': 'Russland',
 'Djibouti': 'Djibouti',
 'Congo, Rep.': 'Kongo',
 'Belarus': 'Belarus',
 'Tajikistan': 'Tadschikistan',
 'Eritrea': 'Eritrea',
 'Uganda': 'Uganda',
 'Iran, Islamic Rep.': 'Iran',
 'Equatorial Guinea': 'Äquatorial Guinea',
 'Cameroon': 'Kamerun'}

In [138]:
worldbank=pd.read_csv("../data/a5f7d039-d9dc-4ed1-8e77-8ecff8f27793_Data.csv")
gdp_per_cap=worldbank[worldbank["Series Name"]=="GDP per capita (current US$)"]
gdp_per_cap

,Series Name,Series Code,Country Name,Country Code,1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
10416,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,194.66903621844,205.674096714917,232.778698777445,255.045622164367,284.755531712597,291.649791044155,...,638.733184780223,626.512930450573,566.881132665072,523.053012101752,526.140801271383,492.090632280226,497.741429257502,512.055098228687,355.777826392648,..
10417,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,..,..,..,..,..,..,...,4413.06338346821,4578.63320812155,3952.80357364813,4124.05538986272,4531.03220675893,5287.66080067575,5396.2142432843,5343.0377039956,6377.20309553753,6810.11404104233
10418,GDP per capita (current US$),NY.GDP.PCAP.CD,Algeria,DZA,989.393162933367,1074.40524480058,1223.991985438,1495.20910297049,1829.89715570571,2259.7243664761,...,5519.77757552373,5516.22944039649,4197.41998491398,3967.20064743809,4134.93608656171,4171.79038755546,4021.9832660524,3354.15316371593,3700.31469728198,4342.63796796522
10419,GDP per capita (current US$),NY.GDP.PCAP.CD,American Samoa,ASM,..,..,..,..,..,..,...,12038.8715916596,12313.9973571825,13101.5418159165,13300.8246114811,12372.8847825647,13195.9358995539,13672.576657298,15609.7772196843,16653.7137781725,19673.3901023197
10420,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,AND,7963.55181640127,7758.71683045235,8206.98236540657,9456.01587659326,12054.0316429831,12534.8284742917,...,44747.7611562684,45680.5469412164,38885.5485894753,39931.2362644858,40632.2089824607,42904.8115883352,41328.6123929102,37207.2388711909,42072.3194231234,41992.7727779758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10628,GDP per capita (current US$),NY.GDP.PCAP.CD,Virgin Islands (U.S.),VIR,..,..,..,..,..,..,...,34597.9766940328,33045.3643795999,34007.3529411765,35324.9748874586,35365.0693039774,36663.2087550584,38633.5298915336,39411.0452535516,41976.0083120809,..
10629,GDP per capita (current US$),NY.GDP.PCAP.CD,West Bank and Gaza,PSE,..,..,..,..,..,..,...,3315.29753909282,3352.11259506043,3272.15432360708,3527.61382413178,3620.36048715937,3562.33094270256,3656.85827137011,3233.56863835858,3678.63565662194,3789.32796575153
10630,GDP per capita (current US$),NY.GDP.PCAP.CD,"Yemen, Rep.",YEM,..,..,..,..,..,..,...,1497.74794102378,1557.60140563399,1488.41626714602,1069.81699688479,893.716492936242,701.714868380787,693.816503470151,578.512010185469,543.637537849839,650.272218352095
10631,GDP per capita (current US$),NY.GDP.PCAP.CD,Zambia,ZMB,495.522712135125,539.955336822168,480.468198553957,521.179308663671,604.101546221886,678.77490042551,...,1840.32055335789,1724.57621968232,1307.90964916032,1249.92314348406,1495.75213841021,1475.19988338535,1268.12094056241,956.831728987032,1134.71345424991,1456.90157015445
10632,GDP per capita (current US$),NY.GDP.PCAP.CD,Zimbabwe,ZWE,716.949515038585,686.721730071638,676.329202156378,664.432526041901,777.883008783424,947.367135484826,...,1408.36781031236,1407.03429109916,1410.32917348908,1421.78779140568,1192.10701198862,2269.17701232332,1421.86859613585,1372.69667436829,1773.92041090285,1676.82148896726

In [139]:
gdp_per_cap["GermanName"]=gdp_per_cap["Country Name"].replace(reverse_country_map)
gdp_per_cap

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_18231/780939788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp_per_cap["GermanName"]=gdp_per_cap["Country Name"].replace(reverse_country_map)

,Series Name,Series Code,Country Name,Country Code,1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],GermanName
10416,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,194.66903621844,205.674096714917,232.778698777445,255.045622164367,284.755531712597,291.649791044155,...,626.512930450573,566.881132665072,523.053012101752,526.140801271383,492.090632280226,497.741429257502,512.055098228687,355.777826392648,..,Afghanistan
10417,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,..,..,..,..,..,..,...,4578.63320812155,3952.80357364813,4124.05538986272,4531.03220675893,5287.66080067575,5396.2142432843,5343.0377039956,6377.20309553753,6810.11404104233,Albania
10418,GDP per capita (current US$),NY.GDP.PCAP.CD,Algeria,DZA,989.393162933367,1074.40524480058,1223.991985438,1495.20910297049,1829.89715570571,2259.7243664761,...,5516.22944039649,4197.41998491398,3967.20064743809,4134.93608656171,4171.79038755546,4021.9832660524,3354.15316371593,3700.31469728198,4342.63796796522,Algeria
10419,GDP per capita (current US$),NY.GDP.PCAP.CD,American Samoa,ASM,..,..,..,..,..,..,...,12313.9973571825,13101.5418159165,13300.8246114811,12372.8847825647,13195.9358995539,13672.576657298,15609.7772196843,16653.7137781725,19673.3901023197,American Samoa
10420,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,AND,7963.55181640127,7758.71683045235,8206.98236540657,9456.01587659326,12054.0316429831,12534.8284742917,...,45680.5469412164,38885.5485894753,39931.2362644858,40632.2089824607,42904.8115883352,41328.6123929102,37207.2388711909,42072.3194231234,41992.7727779758,Andorra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10628,GDP per capita (current US$),NY.GDP.PCAP.CD,Virgin Islands (U.S.),VIR,..,..,..,..,..,..,...,33045.3643795999,34007.3529411765,35324.9748874586,35365.0693039774,36663.2087550584,38633.5298915336,39411.0452535516,41976.0083120809,..,Virgin Islands (U.S.)
10629,GDP per capita (current US$),NY.GDP.PCAP.CD,West Bank and Gaza,PSE,..,..,..,..,..,..,...,3352.11259506043,3272.15432360708,3527.61382413178,3620.36048715937,3562.33094270256,3656.85827137011,3233.56863835858,3678.63565662194,3789.32796575153,West Bank and Gaza
10630,GDP per capita (current US$),NY.GDP.PCAP.CD,"Yemen, Rep.",YEM,..,..,..,..,..,..,...,1557.60140563399,1488.41626714602,1069.81699688479,893.716492936242,701.714868380787,693.816503470151,578.512010185469,543.637537849839,650.272218352095,"Yemen, Rep."
10631,GDP per capita (current US$),NY.GDP.PCAP.CD,Zambia,ZMB,495.522712135125,539.955336822168,480.468198553957,521.179308663671,604.101546221886,678.77490042551,...,1724.57621968232,1307.90964916032,1249.92314348406,1495.75213841021,1475.19988338535,1268.12094056241,956.831728987032,1134.71345424991,1456.90157015445,Zambia
10632,GDP per capita (current US$),NY.GDP.PCAP.CD,Zimbabwe,ZWE,716.949515038585,686.721730071638,676.329202156378,664.432526041901,777.883008783424,947.367135484826,...,1407.03429109916,1410.32917348908,1421.78779140568,1192.10701198862,2269.17701232332,1421.86859613585,1372.69667436829,1773.92041090285,1676.82148896726,Zimbabwe

In [140]:
gdp_per_cap['Country Name'].tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'North Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Eswatini',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Viet Nam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [141]:
gdp_per_cap.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '1975 [YR1975]', '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]',
       '1979 [YR1979]', '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]',
       '1983 [YR1983]', '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]',
       '1987 [YR1987]', '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]',
       '1991 [YR1991]', '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]',
       '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]',
       'GermanName'],
      dtype='object')

In [180]:
reign_20_years=reign_20_years.sort_values("duration",ascending=False)

In [246]:
gpd_concat=pd.DataFrame()
gpd_concat_rel=pd.DataFrame()
for index, row in reign_20_years.iterrows():
    countryname=row["country_title"]
    year=(row["YEAR"])
    country_gdp=gdp_per_cap[gdp_per_cap["GermanName"]==countryname]
    #country_gdp.columns.astype(str).contains(year)
    match_cols = [col for col in country_gdp.columns if str(year) in col]
    fittingno=country_gdp.columns.get_loc(match_cols[0])
    country_year_start=country_gdp.iloc[:,fittingno:]
    country_year_start["year"]=year
    gpd_concat=pd.concat([gpd_concat,country_year_start])
    while math.isnan(pd.to_numeric(country_gdp.iloc[0,fittingno],errors="coerce")):
        fittingno=fittingno+1
    Series=pd.to_numeric(country_gdp.iloc[0,fittingno:-1],errors="coerce")/pd.to_numeric(country_gdp.iloc[0,fittingno],errors="coerce")
    country_gpd_rel=pd.DataFrame({countryname:Series})
    gpd_concat_rel=pd.concat([gpd_concat_rel,country_gpd_rel],axis=1)

In [254]:
perc_100_gdp=gpd_concat_rel*100-100
perc_100_gdp

,Kamerun,Äquatorial Guinea,Iran,Uganda,Eritrea,Tadschikistan,Belarus,Kongo,Djibouti,Russland,Ruanda,Syrien,Saint Vincent und Grenadinen,Azerbaidschan,Uzbekistan,Türkei,Singapur,Dominica
1975 [YR1975],0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976 [YR1976],-1.241347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1977 [YR1977],12.730956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978 [YR1978],50.662650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979 [YR1979],85.912066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980 [YR1980],102.839892,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981 [YR1981],93.871257,-30.996947,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982 [YR1982],89.210064,-21.741025,19.355335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983 [YR1983],92.499677,-26.377242,43.036987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984 [YR1984],99.104682,-21.587473,43.237975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985 [YR1985],125.658689,-8.418382,53.533164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986 [YR1986],203.580183,7.289434,72.168431,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987 [YR1987],223.829566,25.545935,6.788956,54.928545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988 [YR1988],194.449382,29.945526,-4.893563,55.820089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989 [YR1989],157.129339,9.805030,-9.534286,22.316046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990 [YR1990],178.942290,34.347410,-9.902380,-3.384571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991 [YR1991],160.292555,28.054324,NaN,-27.842811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992 [YR1992],157.705987,49.891665,NaN,-40.008031,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993 [YR1993],235.537595,45.883222,-57.036806,-34.683516,-4.917098,-14.680809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994 [YR1994],79.394397,4.139925,-51.764780,-21.729165,4.820465,-22.311566,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995 [YR1995],112.925588,41.121108,-36.124497,9.864072,7.893722,-38.329060,-6.261858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996 [YR1996],111.584615,122.596030,-21.275741,12.287881,23.347283,-48.772900,-0.651253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997 [YR1997],100.384562,307.477522,-26.567342,13.123138,20.629599,-55.370344,-4.471282,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998 [YR1998],104.358232,228.371036,-30.013867,15.332422,29.243614,-36.474582,3.367320,-17.844367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999 [YR1999],103.729472,428.965556,-28.882795,1.717312,17.721471,-47.991068,-17.198102,-3.379437,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000 [YR2000],81.285673,751.861434,-32.659024,1.776930,18.867427,-59.359394,-12.704829,27.487439,-0.314152,33.126773,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
2001 [YR2001],83.051756,1033.218037,-23.358495,-6.898234,23.057561,-50.040244,-14.887221,6.380571,0.345185,57.831386,-6.258543,4.964808,0.000000,NaN,NaN,NaN,NaN,NaN
2002 [YR2002],102.026992,1236.511270,-23.055243,-4.523466,15.283968,-44.700341,1.186847,12.746484,0.519970,78.659904,-7.948213,6.762891,5.737781,NaN,NaN,NaN,NaN,NaN
2003 [YR2003],152.839552,1655.271032,-8.997637,-1.041161,32.066639,-30.945085,24.452183,26.636806,3.511435,123.566180,-2.170502,9.951525,10.694765,0.000000,0.000000,0.000000,NaN,NaN
2004 [YR2004],189.984498,2877.563836,10.828883,15.452102,61.622134,-9.563898,62.673766,62.696430,9.217732,208.272970,5.962613,26.289850,20.099086,18.255336,17.342514,28.205799,0.000000,0.000000
2005 [YR2005],192.412413,5201.126437,29.952368,30.503801,56.195738,-1.136113,113.817414,124.112773,14.450138,300.032032,27.414668,46.132321,27.300497,78.610454,37.943296,56.637364,8.523727,-0.946312
2006 [YR2006],204.998635,6114.504261,50.475129,36.885093,69.334993,18.805560,163.211230,162.023786,21.820945,420.019707,40.385114,60.157984,42.031270,179.843614,65.065637,70.121174,22.313659,6.018003
2007 [YR2007],239.443779,7585.382672,94.851329,58.572665,81.367214,53.291838,223.897975,174.778384,31.511287,583.914334,67.556681,75.963250,58.359482,335.822393,109.498948,106.412179,42.830961,14.417913
2008 [YR2008],282.167023,10973.074499,126.503898,86.833894,84.898116,108.755008,336.118393,252.603259,51.855264,774.335616,107.582419,105.509441,63.339412,530.815311,173.043933,130.478802,44.916170,24.401771
2009 [YR2009],274.360913,7932.288426,125.643806,215.768167,142.433780,97.518446,266.100091,182.704886,56.232030,543.455035,121.478704,108.184053,59.935681,460.194755,206.087975,91.571413,40.997872,32.777682
2010 [YR2010],258.295916,8214.973306,160.120048,225.561015,103.338084,119.309335,312.760653,266.727589,64.762437,702.174147,132.901757,128.753179,62.097272,561.263192,339.567622,125.785661,71.097313,34.130150
2011 [YR2011],287.841885,10309.070103,230.319949,230.439357,159.235986,148.225238,346.479589,322.712788,77.497881,975.407627,155.178732,-39.875130,61.494556,713.610847,417.468079,140.198327,95.201756,36.111508
2012 [YR2012],271.218587,10363.186132,235.451824,214.497683,NaN,184.213722,375.586856,364.648913,90.344599,1058.803375,176.820413,-61.338294,66.115417,748.243545,472.086088,148.966014,101.200356,31.748656
2013 [YR2013],303.690964,9742.956436,152.955417,223.595262,NaN,207.606038,447.053603,360.414449,182.095923,1100.415977,176.147619,-79.891349,75.047494,791.186091,510.457410,167.349536,106.343309,35.218499
2014 [YR2014],322.482005,9274.550704,131.885933,254.287415,NaN,224.228640,470.528515,348.551033,200.468889,959.220004,184.107546,-78.323226,77.335904,792.939519,563.119596,158.571901,108.507083,40.100882
2015 [YR2015],262.402754,5360.739956,101.010738,241.130697,NaN,187.473215,308.136237,203.920353,223.307833,599.828749,187.672695,-82.648251,81.667937,522.445380,594.784071,134.867780,101.555511,44.245230
2016 [YR2016],269.235668,4382.459723,121.402307,197.513098,NaN,137.415646,244.711147,160.864483,241.615087,554.130935,185.705773,-86.556829,88.998016,339.144258,582.347994,133.168458,106.083358,53.563955
2017 [YR2017],283.164675,4591.702144,131.928117,202.444725,NaN,150.146072,295.719613,175.744829,256.375342,705.581365,196.555135,-82.550692,96.667439,369.303266,383.569907,127.334049,121.547088,38.344895
2018 [YR2018],312.732696,4763.958617,55.089592,213.083290,NaN,152.012975,335.015638,236.089903,269.808536,748.190374,201.414186,-77.500905,106.580467,436.362352,304.729507,103.385729,142.090439,46.283637
2019 [YR2019],298.395773,3981.972642,31.971736,224.884841,NaN,163.376192,367.690458,210.554517,285.939008,766.894334,215.979226,-77.244960,113.480086,443.826419,352.901489,95.874308,139.315761,59.886238
2020 [YR2020],298.510379,3358.051806,10.612462,234.302060,NaN,152.505725,347.519596,148.952797,292.070869,666.063215,203.307315,-89.131804,104.284707,378.663139,343.845916,83.616505,121.942242,30.788656
2021 [YR2021],328.318833,4031.450716,64.491788,248.743617,NaN,171.573108,412.282651,214.457072,310.966668,841.723311,221.886661,-91.488562,105.605485,511.982659,402.909996,107.092113,181.475891,43.201600
2022 [YR2022],304.817234,3906.593977,88.067697,280.690381,NaN,212.307214,439.542362,227.918255,320.837926,1047.520076,278.748233,NaN,124.426125,778.368111,468.939566,126.886716,199.939833,55.957169

In [255]:
gpd_concat.to_csv("gpd.csv",index=False)

In [258]:
perc_100_gdp.index=perc_100_gdp.index.astype(str).str[:4]
perc_100_gdp

,Kamerun,Äquatorial Guinea,Iran,Uganda,Eritrea,Tadschikistan,Belarus,Kongo,Djibouti,Russland,Ruanda,Syrien,Saint Vincent und Grenadinen,Azerbaidschan,Uzbekistan,Türkei,Singapur,Dominica
1975,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,-1.241347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1977,12.730956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978,50.662650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,85.912066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980,102.839892,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,93.871257,-30.996947,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,89.210064,-21.741025,19.355335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,92.499677,-26.377242,43.036987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,99.104682,-21.587473,43.237975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,125.658689,-8.418382,53.533164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,203.580183,7.289434,72.168431,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,223.829566,25.545935,6.788956,54.928545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,194.449382,29.945526,-4.893563,55.820089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,157.129339,9.805030,-9.534286,22.316046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,178.942290,34.347410,-9.902380,-3.384571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,160.292555,28.054324,NaN,-27.842811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,157.705987,49.891665,NaN,-40.008031,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,235.537595,45.883222,-57.036806,-34.683516,-4.917098,-14.680809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,79.394397,4.139925,-51.764780,-21.729165,4.820465,-22.311566,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,112.925588,41.121108,-36.124497,9.864072,7.893722,-38.329060,-6.261858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,111.584615,122.596030,-21.275741,12.287881,23.347283,-48.772900,-0.651253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,100.384562,307.477522,-26.567342,13.123138,20.629599,-55.370344,-4.471282,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,104.358232,228.371036,-30.013867,15.332422,29.243614,-36.474582,3.367320,-17.844367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,103.729472,428.965556,-28.882795,1.717312,17.721471,-47.991068,-17.198102,-3.379437,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,81.285673,751.861434,-32.659024,1.776930,18.867427,-59.359394,-12.704829,27.487439,-0.314152,33.126773,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
2001,83.051756,1033.218037,-23.358495,-6.898234,23.057561,-50.040244,-14.887221,6.380571,0.345185,57.831386,-6.258543,4.964808,0.000000,NaN,NaN,NaN,NaN,NaN
2002,102.026992,1236.511270,-23.055243,-4.523466,15.283968,-44.700341,1.186847,12.746484,0.519970,78.659904,-7.948213,6.762891,5.737781,NaN,NaN,NaN,NaN,NaN
2003,152.839552,1655.271032,-8.997637,-1.041161,32.066639,-30.945085,24.452183,26.636806,3.511435,123.566180,-2.170502,9.951525,10.694765,0.000000,0.000000,0.000000,NaN,NaN
2004,189.984498,2877.563836,10.828883,15.452102,61.622134,-9.563898,62.673766,62.696430,9.217732,208.272970,5.962613,26.289850,20.099086,18.255336,17.342514,28.205799,0.000000,0.000000
2005,192.412413,5201.126437,29.952368,30.503801,56.195738,-1.136113,113.817414,124.112773,14.450138,300.032032,27.414668,46.132321,27.300497,78.610454,37.943296,56.637364,8.523727,-0.946312
2006,204.998635,6114.504261,50.475129,36.885093,69.334993,18.805560,163.211230,162.023786,21.820945,420.019707,40.385114,60.157984,42.031270,179.843614,65.065637,70.121174,22.313659,6.018003
2007,239.443779,7585.382672,94.851329,58.572665,81.367214,53.291838,223.897975,174.778384,31.511287,583.914334,67.556681,75.963250,58.359482,335.822393,109.498948,106.412179,42.830961,14.417913
2008,282.167023,10973.074499,126.503898,86.833894,84.898116,108.755008,336.118393,252.603259,51.855264,774.335616,107.582419,105.509441,63.339412,530.815311,173.043933,130.478802,44.916170,24.401771
2009,274.360913,7932.288426,125.643806,215.768167,142.433780,97.518446,266.100091,182.704886,56.232030,543.455035,121.478704,108.184053,59.935681,460.194755,206.087975,91.571413,40.997872,32.777682
2010,258.295916,8214.973306,160.120048,225.561015,103.338084,119.309335,312.760653,266.727589,64.762437,702.174147,132.901757,128.753179,62.097272,561.263192,339.567622,125.785661,71.097313,34.130150
2011,287.841885,10309.070103,230.319949,230.439357,159.235986,148.225238,346.479589,322.712788,77.497881,975.407627,155.178732,-39.875130,61.494556,713.610847,417.468079,140.198327,95.201756,36.111508
2012,271.218587,10363.186132,235.451824,214.497683,NaN,184.213722,375.586856,364.648913,90.344599,1058.803375,176.820413,-61.338294,66.115417,748.243545,472.086088,148.966014,101.200356,31.748656
2013,303.690964,9742.956436,152.955417,223.595262,NaN,207.606038,447.053603,360.414449,182.095923,1100.415977,176.147619,-79.891349,75.047494,791.186091,510.457410,167.349536,106.343309,35.218499
2014,322.482005,9274.550704,131.885933,254.287415,NaN,224.228640,470.528515,348.551033,200.468889,959.220004,184.107546,-78.323226,77.335904,792.939519,563.119596,158.571901,108.507083,40.100882
2015,262.402754,5360.739956,101.010738,241.130697,NaN,187.473215,308.136237,203.920353,223.307833,599.828749,187.672695,-82.648251,81.667937,522.445380,594.784071,134.867780,101.555511,44.245230
2016,269.235668,4382.459723,121.402307,197.513098,NaN,137.415646,244.711147,160.864483,241.615087,554.130935,185.705773,-86.556829,88.998016,339.144258,582.347994,133.168458,106.083358,53.563955
2017,283.164675,4591.702144,131.928117,202.444725,NaN,150.146072,295.719613,175.744829,256.375342,705.581365,196.555135,-82.550692,96.667439,369.303266,383.569907,127.334049,121.547088,38.344895
2018,312.732696,4763.958617,55.089592,213.083290,NaN,152.012975,335.015638,236.089903,269.808536,748.190374,201.414186,-77.500905,106.580467,436.362352,304.729507,103.385729,142.090439,46.283637
2019,298.395773,3981.972642,31.971736,224.884841,NaN,163.376192,367.690458,210.554517,285.939008,766.894334,215.979226,-77.244960,113.480086,443.826419,352.901489,95.874308,139.315761,59.886238
2020,298.510379,3358.051806,10.612462,234.302060,NaN,152.505725,347.519596,148.952797,292.070869,666.063215,203.307315,-89.131804,104.284707,378.663139,343.845916,83.616505,121.942242,30.788656
2021,328.318833,4031.450716,64.491788,248.743617,NaN,171.573108,412.282651,214.457072,310.966668,841.723311,221.886661,-91.488562,105.605485,511.982659,402.909996,107.092113,181.475891,43.201600
2022,304.817234,3906.593977,88.067697,280.690381,NaN,212.307214,439.542362,227.918255,320.837926,1047.520076,278.748233,NaN,124.426125,778.368111,468.939566,126.886716,199.939833,55.957169

In [259]:
perc_100_gdp.to_csv("perc_100.csv")

In [194]:
country_year_start_rel=pd.DataFrame()
    country_year_start_rel[country_gdp.iloc[0,-1]]=pd.to_numeric(country_gdp.iloc[0,fittingno:-1],errors="coerce")/pd.to_numeric(country_gdp.iloc[0,fittingno],errors="coerce")

2004 [YR2004]    1.000000
2005 [YR2005]    0.990537
2006 [YR2006]    1.060180
2007 [YR2007]    1.144179
2008 [YR2008]    1.244018
2009 [YR2009]    1.327777
2010 [YR2010]    1.341302
2011 [YR2011]    1.361115
2012 [YR2012]    1.317487
2013 [YR2013]    1.352185
2014 [YR2014]    1.401009
2015 [YR2015]    1.442452
2016 [YR2016]    1.535640
2017 [YR2017]    1.383449
2018 [YR2018]    1.462836
2019 [YR2019]    1.598862
2020 [YR2020]    1.307887
2021 [YR2021]    1.432016
2022 [YR2022]    1.559572
Name: 10471, dtype: float64

In [191]:
country_gdp.iloc[:,fittingno:-1]/country_gdp.iloc[0,fittingno]

TypeError: unsupported operand type(s) for /: 'str' and 'str'

,1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],1981 [YR1981],1982 [YR1982],1983 [YR1983],1984 [YR1984],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],GermanName
10450,386.220943210158,381.426601988858,435.390562704053,581.890707054199,718.031333833452,783.410145350826,748.771398305264,730.768895169711,743.474068758273,768.983982488127,...,1631.7139850845,1399.67533591995,1426.06548113211,1479.86222187116,1594.06011023775,1538.68791249516,1539.13054519245,1654.25703730592,1563.48894034459,Kamerun

In [143]:
freedom_data=pd.read_csv("../data/countryratings.csv", sep=";")
freedom_data

,Survey Edition,Jan.-Feb. 1973,Unnamed: 2,Unnamed: 3,Jan.-Feb. 1974,Unnamed: 5,Unnamed: 6,Jan.-Feb. 1975,Unnamed: 8,Unnamed: 9,...,Unnamed: 144,2022,Unnamed: 146,Unnamed: 147,2023,Unnamed: 149,Unnamed: 150,2024,Unnamed: 152,Unnamed: 153
0,Year(s) Under Review,1972,NaN,NaN,1973,NaN,NaN,1974,NaN,NaN,...,NaN,2021,NaN,NaN,2022,NaN,NaN,2023,NaN,NaN
1,NaN,PR,CL,Status,PR,CL,Status,PR,CL,Status,...,Status,PR,CL,Status,PR,CL,Status,PR,CL,Status
2,Afghanistan,4,5,PF,7,6,NF,7,6,NF,...,NF,7,6,NF,7,7,NF,7,7,NF
3,Albania,7,7,NF,7,7,NF,7,7,NF,...,PF,3,3,PF,3,3,PF,3,3,PF
4,Algeria,6,6,NF,6,6,NF,6,6,NF,...,NF,6,5,NF,6,5,NF,6,5,NF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
yearlist=[i for i in range (1975,2023,1)]

In [276]:
columnlist=freedom_data.columns.tolist()
columnlist

['Survey Edition',
 'Jan.-Feb. 1973',
 'Unnamed: 2',
 'Unnamed: 3',
 'Jan.-Feb. 1974',
 'Unnamed: 5',
 'Unnamed: 6',
 'Jan.-Feb. 1975',
 'Unnamed: 8',
 'Unnamed: 9',
 'Jan.-Feb. 1976',
 'Unnamed: 11',
 'Unnamed: 12',
 'Jan.-Feb. 1977',
 'Unnamed: 14',
 'Unnamed: 15',
 '1978',
 'Unnamed: 17',
 'Unnamed: 18',
 '1979',
 'Unnamed: 20',
 'Unnamed: 21',
 '1980',
 'Unnamed: 23',
 'Unnamed: 24',
 '1981',
 'Unnamed: 26',
 'Unnamed: 27',
 '1982',
 'Unnamed: 29',
 'Unnamed: 30',
 '1983-84',
 'Unnamed: 32',
 'Unnamed: 33',
 '1984-85',
 'Unnamed: 35',
 'Unnamed: 36',
 '1985-86',
 'Unnamed: 38',
 'Unnamed: 39',
 '1986-87',
 'Unnamed: 41',
 'Unnamed: 42',
 '1987-88',
 'Unnamed: 44',
 'Unnamed: 45',
 '1988-89',
 'Unnamed: 47',
 'Unnamed: 48',
 '1989-90',
 'Unnamed: 50',
 'Unnamed: 51',
 '1990-91',
 'Unnamed: 53',
 'Unnamed: 54',
 '1991-92',
 'Unnamed: 56',
 'Unnamed: 57',
 '1992-93',
 'Unnamed: 59',
 'Unnamed: 60',
 '1993-94',
 'Unnamed: 62',
 'Unnamed: 63',
 '1994-95',
 'Unnamed: 65',
 'Unnamed: 66',
 '1995-96',
 'Unnamed: 68',
 'Unnamed: 69',
 '1996-97',
 'Unnamed: 71',
 'Unnamed: 72',
 '1997-98',
 'Unnamed: 74',
 'Unnamed: 75',
 '1998-99',
 'Unnamed: 77',
 'Unnamed: 78',
 '1999-2000',
 'Unnamed: 80',
 'Unnamed: 81',
 '2000-01',
 'Unnamed: 83',
 'Unnamed: 84',
 '2001-02',
 'Unnamed: 86',
 'Unnamed: 87',
 '2003',
 'Unnamed: 89',
 'Unnamed: 90',
 '2004',
 'Unnamed: 92',
 'Unnamed: 93',
 '2005',
 'Unnamed: 95',
 'Unnamed: 96',
 '2006',
 'Unnamed: 98',
 'Unnamed: 99',
 '2007',
 'Unnamed: 101',
 'Unnamed: 102',
 '2008',
 'Unnamed: 104',
 'Unnamed: 105',
 '2009',
 'Unnamed: 107',
 'Unnamed: 108',
 '2010',
 'Unnamed: 110',
 'Unnamed: 111',
 '2011',
 'Unnamed: 113',
 'Unnamed: 114',
 '2012',
 'Unnamed: 116',
 'Unnamed: 117',
 '2013',
 'Unnamed: 119',
 'Unnamed: 120',
 '2014',
 'Unnamed: 122',
 'Unnamed: 123',
 '2015',
 'Unnamed: 125',
 'Unnamed: 126',
 '2016',
 'Unnamed: 128',
 'Unnamed: 129',
 '2017',
 'Unnamed: 131',
 'Unnamed: 132',
 '2018',
 'Unnamed: 134',
 'Unnamed: 135',
 '2019',
 'Unnamed: 137',
 'Unnamed: 138',
 '2020',
 'Unnamed: 140',
 'Unnamed: 141',
 '2021',
 'Unnamed: 143',
 'Unnamed: 144',
 '2022',
 'Unnamed: 146',
 'Unnamed: 147',
 '2023',
 'Unnamed: 149',
 'Unnamed: 150',
 '2024',
 'Unnamed: 152',
 'Unnamed: 153']

In [281]:
columnlist2=["Survey Edition"]
for year in yearlist:
    matching = [s for s in columnlist if str(year) in s]
    columnlist2.extend(matching)

In [284]:
freedom_country=freedom_data[columnlist2]
freedom_country=freedom_country.dropna(subset=["Survey Edition"])
freedom_country

,Survey Edition,Jan.-Feb. 1975,Jan.-Feb. 1976,Jan.-Feb. 1977,1978,1979,1980,1981,1982,1983-84,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Year(s) Under Review,1974,1975,1976,1977,1978,1979,1980,Jan.1981-Aug. 1982,Aug.1982-Nov.1983,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2,Afghanistan,7,7,7,6,7,7,7,7,7,...,6,6,6,6,6,5,5,5,5,7
3,Albania,7,7,7,7,7,7,7,7,7,...,3,3,3,3,3,3,3,3,3,3
4,Algeria,6,7,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
5,Andorra,4,4,4,-,-,-,-,-,-,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,"Yemen, N.",5,6,6,6,6,6,6,6,6,...,-,-,-,-,-,-,-,-,-,-
203,"Yemen, S.",7,7,7,7,6,6,6,6,6,...,-,-,-,-,-,-,-,-,-,-
204,Yugoslavia,6,6,6,6,6,6,6,6,6,...,-,-,-,-,-,-,-,-,-,-
205,Zambia,5,5,5,5,5,5,5,5,5,...,3,3,3,3,4,4,4,4,4,4
206,Zimbabwe,6,6,6,6,5,4,3,3,4,...,6,5,5,5,5,6,5,5,6,6

In [289]:
freedom_country["Survey Edition"].tolist()

['Year(s) Under Review',
 'Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Czechoslovakia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Germany, E. ',
 'Germany, W. ',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia and Montenegro',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Gambia',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'USSR',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Vietnam, N.',
 'Vietnam, S.',
 'Yemen',
 'Yemen, N.',
 'Yemen, S.',
 'Yugoslavia',
 'Zambia',
 'Zimbabwe']

In [285]:
reign_20_years

,person_title,country_title,YEAR,duration,endyear,linestr
17,Paul Biya,Kamerun,1975,49,2024-01-01,"1975-01-01,0,2024-01-01,49 @opacity:0.5 @color..."
16,Teodoro Obiang Nguema Mbasogo,Äquatorial Guinea,1979,45,2024-01-01,"1979-01-01,0,2024-01-01,45 @opacity:0.5 @color..."
15,Ayatollah Seyyed Ali Hoseyni Khamenei,Iran,1981,43,2024-01-01,"1981-01-01,0,2024-01-01,43 @opacity:0.5 @color..."
14,Yoweri Kaguta Museveni,Uganda,1986,38,2024-01-01,"1986-01-01,0,2024-01-01,38 @opacity:0.5 @color..."
13,Isaias Afwerki,Eritrea,1991,33,2024-01-01,"1991-01-01,0,2024-01-01,33 @opacity:0.5 @color..."
12,Emomali Rahmon,Tadschikistan,1992,32,2024-01-01,"1992-01-01,0,2024-01-01,32 @opacity:0.5 @color..."
11,Alexander Lukashenko,Belarus,1994,30,2024-01-01,"1994-01-01,0,2024-01-01,30 @opacity:0.5 @color..."
10,Denis Sassou Nguesso,Kongo,1997,27,2024-01-01,"1997-01-01,0,2024-01-01,27 @opacity:0.5 @color..."
9,Ismail Omar Guelleh,Djibouti,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color..."
8,Vladimir Vladimirovich Putin,Russland,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color..."
7,Paul Kagame,Ruanda,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color..."
6,Bashar al-Assad,Syrien,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color..."
5,Ralph Gonsalves,Saint Vincent und Grenadinen,2001,23,2024-01-01,"2001-01-01,0,2024-01-01,23 @opacity:0.5 @color..."
4,Ilham Aliyev,Azerbaidschan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color..."
3,Shavkat Mirziyoyev,Uzbekistan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color..."
2,Recep Tayyip Erdogan,Türkei,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color..."
1,Hsien Loong Lee,Singapur,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color..."
0,Roosevelt Skerrit,Dominica,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color..."

In [302]:
country_map = {
    'Dominica': 'Dominica',
    'Singapur': 'Singapore',
    'Türkei': 'Turkey',
    'Uzbekistan': 'Uzbekistan',
    'Azerbaidschan': 'Azerbaijan',
    'Saint Vincent und Grenadinen': 'St. Vincent and the Grenadines',
    'Syrien': 'Syria',
    'Ruanda': 'Rwanda',
    'Russland': 'Russia',
    'Djibouti': 'Djibouti',
    'Kongo': 'Congo (Brazzaville)',
    'Belarus': 'Belarus',
    'Tadschikistan': 'Tajikistan',
    'Eritrea': 'Eritrea',
    'Uganda': 'Uganda',
    'Iran': 'Iran',
    'Äquatorial Guinea': 'Equatorial Guinea',
    'Kamerun': 'Cameroon'
}

reverse_country_map = {v: k for k, v in country_map.items()}
reign_20_years["EnglishName"]=reign_20_years["country_title"].replace(country_map)
reign_20_years

,person_title,country_title,YEAR,duration,endyear,linestr,EnglishName
17,Paul Biya,Kamerun,1975,49,2024-01-01,"1975-01-01,0,2024-01-01,49 @opacity:0.5 @color...",Cameroon
16,Teodoro Obiang Nguema Mbasogo,Äquatorial Guinea,1979,45,2024-01-01,"1979-01-01,0,2024-01-01,45 @opacity:0.5 @color...",Equatorial Guinea
15,Ayatollah Seyyed Ali Hoseyni Khamenei,Iran,1981,43,2024-01-01,"1981-01-01,0,2024-01-01,43 @opacity:0.5 @color...",Iran
14,Yoweri Kaguta Museveni,Uganda,1986,38,2024-01-01,"1986-01-01,0,2024-01-01,38 @opacity:0.5 @color...",Uganda
13,Isaias Afwerki,Eritrea,1991,33,2024-01-01,"1991-01-01,0,2024-01-01,33 @opacity:0.5 @color...",Eritrea
12,Emomali Rahmon,Tadschikistan,1992,32,2024-01-01,"1992-01-01,0,2024-01-01,32 @opacity:0.5 @color...",Tajikistan
11,Alexander Lukashenko,Belarus,1994,30,2024-01-01,"1994-01-01,0,2024-01-01,30 @opacity:0.5 @color...",Belarus
10,Denis Sassou Nguesso,Kongo,1997,27,2024-01-01,"1997-01-01,0,2024-01-01,27 @opacity:0.5 @color...",Congo (Brazzaville)
9,Ismail Omar Guelleh,Djibouti,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color...",Djibouti
8,Vladimir Vladimirovich Putin,Russland,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color...",Russia
7,Paul Kagame,Ruanda,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color...",Rwanda
6,Bashar al-Assad,Syrien,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color...",Syria
5,Ralph Gonsalves,Saint Vincent und Grenadinen,2001,23,2024-01-01,"2001-01-01,0,2024-01-01,23 @opacity:0.5 @color...",St. Vincent and the Grenadines
4,Ilham Aliyev,Azerbaidschan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color...",Azerbaijan
3,Shavkat Mirziyoyev,Uzbekistan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color...",Uzbekistan
2,Recep Tayyip Erdogan,Türkei,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color...",Turkey
1,Hsien Loong Lee,Singapur,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color...",Singapore
0,Roosevelt Skerrit,Dominica,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color...",Dominica

In [304]:
freedom_merge=pd.merge(freedom_country, reign_20_years, left_on="Survey Edition",right_on="EnglishName",how="right")

In [308]:
freedom_merge.to_csv("freedom_merge.csv",index=False)

In [310]:
freedom_merge_2=pd.read_csv("freedom_merge_2.csv")
for index, row in freedom_merge_2.iterrows()
    year=row["YEAR"]

,Survey Edition,1975,1976,1977,1978,1979,1980,1981,1982,1983,...,2020,2021,2022,person_title,country_title,YEAR,duration,endyear,linestr,EnglishName
0,Cameroon,6,6,7,6,6,6,6,6,6,...,6,6,6,Paul Biya,Kamerun,1975,49,2024-01-01,"1975-01-01,0,2024-01-01,49 @opacity:0.5 @color...",Cameroon
1,Equatorial Guinea,6,6,6,7,7,7,7,7,7,...,7,7,7,Teodoro Obiang Nguema Mbasogo,Äquatorial Guinea,1979,45,2024-01-01,"1979-01-01,0,2024-01-01,45 @opacity:0.5 @color...",Equatorial Guinea
2,Iran,5,6,6,6,5,5,5,6,6,...,6,6,7,Ayatollah Seyyed Ali Hoseyni Khamenei,Iran,1981,43,2024-01-01,"1981-01-01,0,2024-01-01,43 @opacity:0.5 @color...",Iran
3,Uganda,7,7,7,7,7,6,4,5,4,...,6,6,6,Yoweri Kaguta Museveni,Uganda,1986,38,2024-01-01,"1986-01-01,0,2024-01-01,38 @opacity:0.5 @color...",Uganda
4,Eritrea,-,-,-,-,-,-,-,-,-,...,7,7,7,Isaias Afwerki,Eritrea,1991,33,2024-01-01,"1991-01-01,0,2024-01-01,33 @opacity:0.5 @color...",Eritrea
5,Tajikistan,-,-,-,-,-,-,-,-,-,...,7,7,7,Emomali Rahmon,Tadschikistan,1992,32,2024-01-01,"1992-01-01,0,2024-01-01,32 @opacity:0.5 @color...",Tajikistan
6,Belarus,-,-,-,-,-,-,-,-,-,...,7,7,7,Alexander Lukashenko,Belarus,1994,30,2024-01-01,"1994-01-01,0,2024-01-01,30 @opacity:0.5 @color...",Belarus
7,Congo (Brazzaville),5,5,5,7,7,7,7,7,7,...,7,7,7,Denis Sassou Nguesso,Kongo,1997,27,2024-01-01,"1997-01-01,0,2024-01-01,27 @opacity:0.5 @color...",Congo (Brazzaville)
8,Djibouti,-,-,-,3,3,3,3,5,5,...,7,7,7,Ismail Omar Guelleh,Djibouti,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color...",Djibouti
9,Russia,-,-,-,-,-,-,-,-,-,...,7,7,7,Vladimir Vladimirovich Putin,Russland,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color...",Russia
10,Rwanda,7,7,7,7,6,6,6,6,6,...,6,6,6,Paul Kagame,Ruanda,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color...",Rwanda
11,Syria,6,6,6,5,5,5,5,5,6,...,7,7,7,Bashar al-Assad,Syrien,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color...",Syria
12,St. Vincent and the Grenadines,-,-,-,-,-,2,2,2,2,...,1,1,1,Ralph Gonsalves,Saint Vincent und Grenadinen,2001,23,2024-01-01,"2001-01-01,0,2024-01-01,23 @opacity:0.5 @color...",St. Vincent and the Grenadines
13,Azerbaijan,-,-,-,-,-,-,-,-,-,...,7,7,7,Ilham Aliyev,Azerbaidschan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color...",Azerbaijan
14,Uzbekistan,-,-,-,-,-,-,-,-,-,...,7,7,7,Shavkat Mirziyoyev,Uzbekistan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color...",Uzbekistan
15,Turkey,2,2,2,2,2,2,5,5,4,...,5,5,5,Recep Tayyip Erdogan,Türkei,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color...",Turkey
16,Singapore,5,5,5,5,5,5,5,4,4,...,4,4,4,Hsien Loong Lee,Singapur,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color...",Singapore
17,Dominica,-,-,-,-,2,2,2,2,2,...,1,1,1,Roosevelt Skerrit,Dominica,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color...",Dominica

In [315]:
freedom_merge_2.iloc[:,17:]

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2020,2021,2022,person_title,country_title,YEAR,duration,endyear,linestr,EnglishName
0,6,6,6,6,7,7,7,7,7,7,...,6,6,6,Paul Biya,Kamerun,1975,49,2024-01-01,"1975-01-01,0,2024-01-01,49 @opacity:0.5 @color...",Cameroon
1,7,7,7,7,7,7,7,7,7,7,...,7,7,7,Teodoro Obiang Nguema Mbasogo,Äquatorial Guinea,1979,45,2024-01-01,"1979-01-01,0,2024-01-01,45 @opacity:0.5 @color...",Equatorial Guinea
2,6,6,6,6,6,6,6,6,6,6,...,6,6,7,Ayatollah Seyyed Ali Hoseyni Khamenei,Iran,1981,43,2024-01-01,"1981-01-01,0,2024-01-01,43 @opacity:0.5 @color...",Iran
3,6,6,6,5,5,4,4,4,5,5,...,6,6,6,Yoweri Kaguta Museveni,Uganda,1986,38,2024-01-01,"1986-01-01,0,2024-01-01,38 @opacity:0.5 @color...",Uganda
4,-,-,6,6,6,6,6,6,7,7,...,7,7,7,Isaias Afwerki,Eritrea,1991,33,2024-01-01,"1991-01-01,0,2024-01-01,33 @opacity:0.5 @color...",Eritrea
5,5,6,7,7,7,7,6,6,6,6,...,7,7,7,Emomali Rahmon,Tadschikistan,1992,32,2024-01-01,"1992-01-01,0,2024-01-01,32 @opacity:0.5 @color...",Tajikistan
6,4,4,5,4,5,6,6,6,6,6,...,7,7,7,Alexander Lukashenko,Belarus,1994,30,2024-01-01,"1994-01-01,0,2024-01-01,30 @opacity:0.5 @color...",Belarus
7,6,3,3,4,4,4,7,7,6,6,...,7,7,7,Denis Sassou Nguesso,Kongo,1997,27,2024-01-01,"1997-01-01,0,2024-01-01,27 @opacity:0.5 @color...",Congo (Brazzaville)
8,6,6,6,6,5,5,5,5,4,4,...,7,7,7,Ismail Omar Guelleh,Djibouti,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color...",Djibouti
9,3,3,3,3,3,3,3,4,4,4,...,7,7,7,Vladimir Vladimirovich Putin,Russland,1999,25,2024-01-01,"1999-01-01,0,2024-01-01,25 @opacity:0.5 @color...",Russia
10,6,6,6,7,7,7,7,7,7,7,...,6,6,6,Paul Kagame,Ruanda,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color...",Rwanda
11,7,7,7,7,7,7,7,7,7,7,...,7,7,7,Bashar al-Assad,Syrien,2000,24,2024-01-01,"2000-01-01,0,2024-01-01,24 @opacity:0.5 @color...",Syria
12,1,1,1,2,2,2,2,2,2,2,...,1,1,1,Ralph Gonsalves,Saint Vincent und Grenadinen,2001,23,2024-01-01,"2001-01-01,0,2024-01-01,23 @opacity:0.5 @color...",St. Vincent and the Grenadines
13,5,5,6,6,6,6,6,6,6,6,...,7,7,7,Ilham Aliyev,Azerbaidschan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color...",Azerbaijan
14,6,6,7,7,7,7,7,7,7,7,...,7,7,7,Shavkat Mirziyoyev,Uzbekistan,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color...",Uzbekistan
15,2,2,4,5,5,4,4,4,4,4,...,5,5,5,Recep Tayyip Erdogan,Türkei,2003,21,2024-01-01,"2003-01-01,0,2024-01-01,21 @opacity:0.5 @color...",Turkey
16,4,4,5,5,5,4,5,5,5,5,...,4,4,4,Hsien Loong Lee,Singapur,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color...",Singapore
17,2,2,2,2,1,1,1,1,1,1,...,1,1,1,Roosevelt Skerrit,Dominica,2004,20,2024-01-01,"2004-01-01,0,2024-01-01,20 @opacity:0.5 @color...",Dominica