In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("../data/person_data.csv", sep=";")
data

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_14098/2167694586.py:1: DtypeWarning: Columns (69,70,79,80,90) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("../data/person_data.csv", sep=";")

,person_nid,person_title,person_round,person_house,country_nid,country_title,person_firstname,person_lastname,person_firstname_local,person_lastname_local,...,person_office_position_3,person_office_minposarea_3,person_office_service_began_3,prsn_office_srvc_bgn_cabi_3,person_office_terms_3,person_office_pm_participate_3,person_office_howmanydays_3,prsn_office_hwmnydys_miss_3,prsn_office_cnsttncy_nid_3,prsn_office_cnsttncy_title_3
0,3874,Mehmet Fatih Atay,1,NaN,608,Turkey,Mehmet Fatih,Atay,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
1,4172,Hasan Macit,1,NaN,608,Turkey,Hasan,Macit,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
2,3875,Ali Uzunirmak,1,NaN,608,Turkey,Ali,Uzunirmak,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
3,4173,Mustafa Cumur,1,NaN,608,Turkey,Mustafa,Cumur,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
4,3876,Recep Taner,1,NaN,608,Turkey,Recep,Taner,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44108,135404,Firmin Ayessa,1,NaN,134845,Congo,Firmin,Ayessa,NaN,NaN,...,NaN,NaN,1984-01-01,NaN,1,NaN,NaN,NaN,0,NaN
44109,135407,Francois Ibovi,1,NaN,134845,Congo,Francois,Ibovi,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
44110,135410,Serge Blaise Zoniaba,1,NaN,134845,Congo,Serge Blaise,Zoniaba,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
44111,135413,Jean-Jacques Bouya,1,NaN,134845,Congo,Jean-Jacques,Bouya,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
44112,279411,Tshering TOBGAY,NaN,Lower House,250660,Bhutan,Tshering,TOBGAY,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN

In [7]:
data[data["person_lastname"]=="Afwerki"]

Empty DataFrame
Columns: [person_nid, person_title, person_round, person_house, country_nid, country_title, person_firstname, person_lastname, person_firstname_local, person_lastname_local, person_bday, person_gender, person_born_abroad, person_birthplace, person_birthcountry, person_marital_stat, person_numchild, person_occupation_1, person_occupation_2, person_occupation_3, person_family_clan_link, person_family_clan_name, person_family_clan_nam_rel, person_lang_native_nid, person_lang_native_title, person_lang_native_rel, person_lang_native_other, person_lang_spoken_nid, person_lang_spoken_title, person_lang_spoken_other, person_lang_english, person_lang_french, person_lang_arabic, person_lang_spanish, person_lang_chinese, person_lang_german, person_lang_russian, person_lang_portuguese, person_lang_other, person_lang_all_count, person_unv_name_1, person_unv_name_2, person_unv_name_3, person_ug_major_all, person_ug_major_1, person_ug_major_2, person_ug_major_3, person_education, person_college_country, person_abroad, person_eduwest, person_course_of_study, person_notes, person_aff_party_nid, person_aff_party, person_party_aff_nonpartisan, person_party_aff_power, person_party_aff_position, prsn_prty_aff_position_local, prsn_prty_aff_coalition_differ, person_party_aff_pol_exp, person_office_type_1, person_office_position_1, person_office_minposarea_1, person_office_minposarea_lo, person_office_service_began_1, prsn_office_srvc_bgn_cabi_1, person_office_terms_1, person_office_pm_participate_1, person_office_howmanydays_1, prsn_office_hwmnydys_miss_1, prsn_office_cnsttncy_nid_1, prsn_office_cnsttncy_title_1, person_office_type_2, person_office_position_2, person_office_minposarea_2, person_office_service_began_2, prsn_office_srvc_bgn_cabi_2, person_office_terms_2, person_office_pm_participate_2, person_office_howmanydays_2, prsn_office_hwmnydys_miss_2, prsn_office_cnsttncy_nid__2, prsn_office_cnsttncy_title_2, person_office_type_3, person_office_position_3, person_office_minposarea_3, person_office_service_began_3, prsn_office_srvc_bgn_cabi_3, person_office_terms_3, person_office_pm_participate_3, person_office_howmanydays_3, prsn_office_hwmnydys_miss_3, prsn_office_cnsttncy_nid_3, prsn_office_cnsttncy_title_3]
Index: []

[0 rows x 95 columns]

In [3]:
data.columns

Index(['person_nid', 'person_title', 'person_round', 'person_house',
       'country_nid', 'country_title', 'person_firstname', 'person_lastname',
       'person_firstname_local', 'person_lastname_local', 'person_bday',
       'person_gender', 'person_born_abroad', 'person_birthplace',
       'person_birthcountry', 'person_marital_stat', 'person_numchild',
       'person_occupation_1', 'person_occupation_2', 'person_occupation_3',
       'person_family_clan_link', 'person_family_clan_name',
       'person_family_clan_nam_rel', 'person_lang_native_nid',
       'person_lang_native_title', 'person_lang_native_rel',
       'person_lang_native_other', 'person_lang_spoken_nid',
       'person_lang_spoken_title', 'person_lang_spoken_other',
       'person_lang_english', 'person_lang_french', 'person_lang_arabic',
       'person_lang_spanish', 'person_lang_chinese', 'person_lang_german',
       'person_lang_russian', 'person_lang_portuguese', 'person_lang_other',
       'person_lang_all_count', 'person_unv_name_1', 'person_unv_name_2',
       'person_unv_name_3', 'person_ug_major_all', 'person_ug_major_1',
       'person_ug_major_2', 'person_ug_major_3', 'person_education',
       'person_college_country', 'person_abroad', 'person_eduwest',
       'person_course_of_study', 'person_notes', 'person_aff_party_nid',
       'person_aff_party', 'person_party_aff_nonpartisan',
       'person_party_aff_power', 'person_party_aff_position',
       'prsn_prty_aff_position_local', 'prsn_prty_aff_coalition_differ',
       'person_party_aff_pol_exp', 'person_office_type_1',
       'person_office_position_1', 'person_office_minposarea_1',
       'person_office_minposarea_lo', 'person_office_service_began_1',
       'prsn_office_srvc_bgn_cabi_1', 'person_office_terms_1',
       'person_office_pm_participate_1', 'person_office_howmanydays_1',
       'prsn_office_hwmnydys_miss_1', 'prsn_office_cnsttncy_nid_1',
       'prsn_office_cnsttncy_title_1', 'person_office_type_2',
       'person_office_position_2', 'person_office_minposarea_2',
       'person_office_service_began_2', 'prsn_office_srvc_bgn_cabi_2',
       'person_office_terms_2', 'person_office_pm_participate_2',
       'person_office_howmanydays_2', 'prsn_office_hwmnydys_miss_2',
       'prsn_office_cnsttncy_nid__2', 'prsn_office_cnsttncy_title_2',
       'person_office_type_3', 'person_office_position_3',
       'person_office_minposarea_3', 'person_office_service_began_3',
       'prsn_office_srvc_bgn_cabi_3', 'person_office_terms_3',
       'person_office_pm_participate_3', 'person_office_howmanydays_3',
       'prsn_office_hwmnydys_miss_3', 'prsn_office_cnsttncy_nid_3',
       'prsn_office_cnsttncy_title_3'],
      dtype='object')

In [4]:
data["person_office_howmanydays_1"]=data["person_office_howmanydays_1"].str.replace("-","")

data["person_office_howmanydays_1"]=pd.to_numeric(data["person_office_howmanydays_1"], errors='coerce')

data.sort_values(by="person_office_howmanydays_1",ascending=False)

,person_nid,person_title,person_round,person_house,country_nid,country_title,person_firstname,person_lastname,person_firstname_local,person_lastname_local,...,person_office_position_3,person_office_minposarea_3,person_office_service_began_3,prsn_office_srvc_bgn_cabi_3,person_office_terms_3,person_office_pm_participate_3,person_office_howmanydays_3,prsn_office_hwmnydys_miss_3,prsn_office_cnsttncy_nid_3,prsn_office_cnsttncy_title_3
44041,304713,Marie Jeanne Kouloumbou,NaN,Upper House,134845,Congo,Marie Jeanne,Kouloumbou,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
43949,303012,François Ndouna,NaN,Upper House,134845,Congo,François,Ndouna,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
44056,304721,Josue Rodrigue Ngouonimba,NaN,Upper House,134845,Congo,Josue Rodrigue,Ngouonimba,NaN,NaN,...,NaN,NaN,NaN,2017.0,2,NaN,NaN,NaN,0,NaN
22507,109864,Jozef Buček,"1,2",NaN,25071,Slovakia,Jozef,Buček,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
22461,111941,Ľubomír Petrák,"1,2",NaN,25071,Slovakia,Ľubomír,Petrák,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44108,135404,Firmin Ayessa,1,NaN,134845,Congo,Firmin,Ayessa,NaN,NaN,...,NaN,NaN,1984-01-01,NaN,1,NaN,NaN,NaN,0,NaN
44109,135407,Francois Ibovi,1,NaN,134845,Congo,Francois,Ibovi,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
44110,135410,Serge Blaise Zoniaba,1,NaN,134845,Congo,Serge Blaise,Zoniaba,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
44111,135413,Jean-Jacques Bouya,1,NaN,134845,Congo,Jean-Jacques,Bouya,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
44112,279411,Tshering TOBGAY,NaN,Lower House,250660,Bhutan,Tshering,TOBGAY,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN

In [5]:
executives=data[(data.person_office_type_1=="Executive")|(data.person_office_type_2=="Executive")|(data.person_office_type_3=="Executive")]
executive_staff=data[(data.person_office_type_1=="Executive staff")|(data.person_office_type_2=="Executive staff")|(data.person_office_type_3=="Executive staff")]
cabinet=data[(data.person_office_type_1=="Cabinet, Minister")|(data.person_office_type_2=="Cabinet, Minister")|(data.person_office_type_3=="Cabinet, Minister")]
cabinet

,person_nid,person_title,person_round,person_house,country_nid,country_title,person_firstname,person_lastname,person_firstname_local,person_lastname_local,...,person_office_position_3,person_office_minposarea_3,person_office_service_began_3,prsn_office_srvc_bgn_cabi_3,person_office_terms_3,person_office_pm_participate_3,person_office_howmanydays_3,prsn_office_hwmnydys_miss_3,prsn_office_cnsttncy_nid_3,prsn_office_cnsttncy_title_3
34,4193,Faruk Nafiz Ozak,1,NaN,608,Turkey,Faruk Nafiz,Ozak,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
38,4195,Taner Yildiz,"1,2",NaN,608,Turkey,Taner,Yildiz,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
103,3966,Faruk Celik,"1,2",NaN,608,Turkey,Faruk,Celik,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
106,4230,Nihat Ergün,1,NaN,608,Turkey,Nihat,Ergün,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
110,4232,Hayati Yazici,"1,2",NaN,608,Turkey,Hayati,Yazici,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44056,304721,Josue Rodrigue Ngouonimba,NaN,Upper House,134845,Congo,Josue Rodrigue,Ngouonimba,NaN,NaN,...,NaN,NaN,NaN,2017.0,2,NaN,NaN,NaN,0,NaN
44108,135404,Firmin Ayessa,1,NaN,134845,Congo,Firmin,Ayessa,NaN,NaN,...,NaN,NaN,1984-01-01,NaN,1,NaN,NaN,NaN,0,NaN
44109,135407,Francois Ibovi,1,NaN,134845,Congo,Francois,Ibovi,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
44110,135410,Serge Blaise Zoniaba,1,NaN,134845,Congo,Serge Blaise,Zoniaba,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN
44111,135413,Jean-Jacques Bouya,1,NaN,134845,Congo,Jean-Jacques,Bouya,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN

In [6]:
executives.columns

Index(['person_nid', 'person_title', 'person_round', 'person_house',
       'country_nid', 'country_title', 'person_firstname', 'person_lastname',
       'person_firstname_local', 'person_lastname_local', 'person_bday',
       'person_gender', 'person_born_abroad', 'person_birthplace',
       'person_birthcountry', 'person_marital_stat', 'person_numchild',
       'person_occupation_1', 'person_occupation_2', 'person_occupation_3',
       'person_family_clan_link', 'person_family_clan_name',
       'person_family_clan_nam_rel', 'person_lang_native_nid',
       'person_lang_native_title', 'person_lang_native_rel',
       'person_lang_native_other', 'person_lang_spoken_nid',
       'person_lang_spoken_title', 'person_lang_spoken_other',
       'person_lang_english', 'person_lang_french', 'person_lang_arabic',
       'person_lang_spanish', 'person_lang_chinese', 'person_lang_german',
       'person_lang_russian', 'person_lang_portuguese', 'person_lang_other',
       'person_lang_all_count', 'person_unv_name_1', 'person_unv_name_2',
       'person_unv_name_3', 'person_ug_major_all', 'person_ug_major_1',
       'person_ug_major_2', 'person_ug_major_3', 'person_education',
       'person_college_country', 'person_abroad', 'person_eduwest',
       'person_course_of_study', 'person_notes', 'person_aff_party_nid',
       'person_aff_party', 'person_party_aff_nonpartisan',
       'person_party_aff_power', 'person_party_aff_position',
       'prsn_prty_aff_position_local', 'prsn_prty_aff_coalition_differ',
       'person_party_aff_pol_exp', 'person_office_type_1',
       'person_office_position_1', 'person_office_minposarea_1',
       'person_office_minposarea_lo', 'person_office_service_began_1',
       'prsn_office_srvc_bgn_cabi_1', 'person_office_terms_1',
       'person_office_pm_participate_1', 'person_office_howmanydays_1',
       'prsn_office_hwmnydys_miss_1', 'prsn_office_cnsttncy_nid_1',
       'prsn_office_cnsttncy_title_1', 'person_office_type_2',
       'person_office_position_2', 'person_office_minposarea_2',
       'person_office_service_began_2', 'prsn_office_srvc_bgn_cabi_2',
       'person_office_terms_2', 'person_office_pm_participate_2',
       'person_office_howmanydays_2', 'prsn_office_hwmnydys_miss_2',
       'prsn_office_cnsttncy_nid__2', 'prsn_office_cnsttncy_title_2',
       'person_office_type_3', 'person_office_position_3',
       'person_office_minposarea_3', 'person_office_service_began_3',
       'prsn_office_srvc_bgn_cabi_3', 'person_office_terms_3',
       'person_office_pm_participate_3', 'person_office_howmanydays_3',
       'prsn_office_hwmnydys_miss_3', 'prsn_office_cnsttncy_nid_3',
       'prsn_office_cnsttncy_title_3'],
      dtype='object')

In [7]:
executives[executives.person_title=="Angela Merkel"].person_office_terms_1

25057    3
Name: person_office_terms_1, dtype: int64

In [8]:
executives[executives.person_title=="Angela Merkel"].person_office_type_1

25057    Executive
Name: person_office_type_1, dtype: object

In [9]:
executives[executives.person_title=="Angela Merkel"].person_office_position_1

25057    Chancellor
Name: person_office_position_1, dtype: object

In [10]:
import numpy as np

In [11]:
executives["terms"]=0
executives

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_4752/3964943584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  executives["terms"]=0

,person_nid,person_title,person_round,person_house,country_nid,country_title,person_firstname,person_lastname,person_firstname_local,person_lastname_local,...,person_office_minposarea_3,person_office_service_began_3,prsn_office_srvc_bgn_cabi_3,person_office_terms_3,person_office_pm_participate_3,person_office_howmanydays_3,prsn_office_hwmnydys_miss_3,prsn_office_cnsttncy_nid_3,prsn_office_cnsttncy_title_3,terms
181,4006,Binali Yildirim,"1,2",NaN,608,Turkey,Binali,Yildirim,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0
261,22751,Abdullah Gul,1,NaN,608,Turkey,Abdullah,Gul,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0
264,22755,Recep Tayyip Erdogan,"1,2",NaN,608,Turkey,Recep Tayyip,Erdogan,NaN,NaN,...,NaN,2001-01-01,NaN,4,NaN,NaN,NaN,0,NaN,0
537,651,Rupiah Bwezani Banda,1,NaN,629,Zambia,Rupiah Bwezani,Banda,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0
616,144422,Vera Tembo,1,NaN,629,Zambia,Vera,Tembo,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43655,137606,Rajkeswur (Kailash) Purryag,1,NaN,134516,Mauritius,Rajkeswur (Kailash),Purryag,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0
43656,137609,Navinchandra Ramgoolam,1,NaN,134516,Mauritius,Navinchandra,Ramgoolam,NaN,NaN,...,NaN,2010-01-01,NaN,2,NaN,NaN,NaN,0,NaN,0
43689,136573,Laura Chinchilla Miranda,1,NaN,134537,Costa Rica,Laura,Chinchilla Miranda,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0
43812,134752,Ali Ben Bongo Ondimba,"1,2",NaN,134543,Gabon,Ali Ben,Bongo Ondimba,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0
44107,135400,Denis Sassou Nguesso,"1,2",NaN,134845,Congo,Denis,Sassou Nguesso,NaN,NaN,...,NaN,1997-01-01,NaN,2,NaN,NaN,NaN,0,NaN,0

In [12]:
executives["terms"]=np.where(executives.person_office_type_1=="Executive",executives["person_office_terms_1"],executives["terms"])
executives["terms"]=np.where(executives.person_office_type_2=="Executive",executives["person_office_terms_2"],executives["terms"])
executives["terms"]=np.where(executives.person_office_type_3=="Executive",executives["person_office_terms_3"],executives["terms"])
executives["terms"]

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_4752/3567020557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  executives["terms"]=np.where(executives.person_office_type_1=="Executive",executives["person_office_terms_1"],executives["terms"])
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_4752/3567020557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  executives["terms"]=np.where(executives.person_office_type_2=="Executive",executives["person_office_terms_2"],executives["terms"])
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_4752/3567020557.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  executives["terms"]=np.where(executives.person_office_type_3=="Executive",executives["person_office_terms_3"],executives["terms"])

181      4
261      0
264      4
537      0
616      1
        ..
43655    0
43656    2
43689    0
43812    0
44107    2
Name: terms, Length: 490, dtype: int64

In [13]:
executives["startReign"]="2024-03-13"
executives["startReign"]=np.where(executives.person_office_type_1=="Executive",executives["person_office_service_began_1"],executives["startReign"])
executives["startReign"]=np.where(executives.person_office_type_2=="Executive",executives["person_office_service_began_2"],executives["startReign"])
executives["startReign"]=np.where(executives.person_office_type_3=="Executive",executives["person_office_service_began_3"],executives["startReign"])
executives["startReign"]

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_4752/2886283537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  executives["startReign"]="2024-03-13"
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_4752/2886283537.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  executives["startReign"]=np.where(executives.person_office_type_1=="Executive",executives["person_office_service_began_1"],executives["startReign"])
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_4752/2886283537.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  executives["startReign"]=np.where(executives.person_office_type_2=="Executive",executives["person_office_service_began_2"],executives["startReign"])
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_4752/2886283537.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  executives["startReign"]=np.where(executives.person_office_type_3=="Executive",executives["person_office_service_began_3"],executives["startReign"])

181      2017-01-01
261      2007-01-01
264      2014-01-01
537      2008-01-01
616      1991-01-01
            ...
43655    2012-01-01
43656    2010-01-01
43689    2010-01-01
43812    2009-01-01
44107    1997-01-01
Name: startReign, Length: 490, dtype: object

In [15]:
executives_by_terms=executives.sort_values(by=["terms"],ascending=False).head(200)

executives_by_terms.to_csv("executives_by_terms.csv", index=False)
executives_by_terms=executives_by_terms[executives_by_terms["terms"]>1]
executives_by_terms

,person_nid,person_title,person_round,person_house,country_nid,country_title,person_firstname,person_lastname,person_firstname_local,person_lastname_local,...,person_office_service_began_3,prsn_office_srvc_bgn_cabi_3,person_office_terms_3,person_office_pm_participate_3,person_office_howmanydays_3,prsn_office_hwmnydys_miss_3,prsn_office_cnsttncy_nid_3,prsn_office_cnsttncy_title_3,terms,startReign
26216,43552,Mwai Kibaki,1,NaN,29323,Kenya,Mwai,Kibaki,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,42,2002-01-01
33789,69105,Nicolas Sarkozy,1,NaN,69010,France,Nicolas,Sarkozy,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,10,2007-01-01
37358,79309,Raimundo Pereira,1,NaN,78014,Guinea-Bissau,Raimundo,Pereira,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,10,2011-01-01
19009,24373,Dalia Grybauskaite,"1,2",NaN,22424,Lithuania,Dalia,Grybauskaite,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,5,2009-01-01
21664,24260,Benjamin Netanyahu,"1,2",NaN,24175,Israel,Benjamin,Netanyahu,NaN,NaN,...,2009-01-01,NaN,5,NaN,NaN,NaN,0,NaN,5,2009-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6010,5683,Mark Rutte,"1,2",NaN,5588,Netherlands,Mark,Rutte,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,2,2010-01-01
11398,6792,Vladimir Voronin,"1,2",NaN,6356,"Moldova, Republic of",Vladimir,Voronin,NaN,NaN,...,2001-01-01,NaN,0,NaN,NaN,NaN,0,NaN,2,2001-01-01
4345,8095,Nebojsa Radmanovic,"1,2",Upper House,3879,Bosnia and Herzegovina,Nebojsa,Radmanovic,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,2,NaN
4372,5960,Zeljko Komsic,"1,2",Lower House,3879,Bosnia and Herzegovina,Zeljko,Komsic,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,0,NaN,2,NaN
9554,5945,Vladimir Vladimirovich Putin,"1,2",NaN,5758,Russian Federation,Vladimir Vladimirovich,Putin,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,2,2012-01-01

In [16]:
executives_by_reign=executives.sort_values(by="startReign",ascending=False)
executives_by_reign=executives[executives["startReign"]<"2014-01-01"]

executives_by_reign.sort_values(by="startReign",ascending=False)

,person_nid,person_title,person_round,person_house,country_nid,country_title,person_firstname,person_lastname,person_firstname_local,person_lastname_local,...,person_office_service_began_3,prsn_office_srvc_bgn_cabi_3,person_office_terms_3,person_office_pm_participate_3,person_office_howmanydays_3,prsn_office_hwmnydys_miss_3,prsn_office_cnsttncy_nid_3,prsn_office_cnsttncy_title_3,terms,startReign
26147,77115,Peter Anyang&#039; Nyon&#039;go,1,Lower House,29323,Kenya,Peter Anyang',Nyon'go,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,2013-01-01
26135,77100,Ali Hassan Joho,1,Lower House,29323,Kenya,Ali,Hassan Joho,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,2013-01-01
26019,269914,Paul Kimani Wamatangi,NaN,Lower House,29323,Kenya,Paul Kimani,Wamatangi,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,2013-01-01
26021,268623,Evans Odhiambo Kidero,NaN,Lower House,29323,Kenya,Evans Odhiambo,Kidero,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,2013-01-01
26027,269917,John Lonyangapuo,NaN,Lower House,29323,Kenya,John,Lonyangapuo,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,2013-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27450,36087,Paul Biya,"1,2",NaN,34948,Cameroon,Paul,Biya,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,4,1982-01-01
38535,91640,Teodoro Obiang Nguema Mbasogo,"1,2",NaN,82774,Equatorial Guinea,Teodoro,Obiang Nguema Mbasogo,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,1979-01-01
39537,107608,Khalifa bin Salman Al Khalifa,1,NaN,92726,Bahrain,Khalifa bin Salman,Al Khalifa,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,1971-01-01
38548,91623,Qaboos bin Said Al Said,"1,2",NaN,86924,Oman,Qaboos bin Said,Al Said,NaN,NaN,...,1972-01-01,1997.0,0,NaN,NaN,NaN,0,NaN,0,1970-01-01
38710,89705,Mu&#039;ammar al-Qadhafī,1,NaN,87785,Libya (Libyan Arab Jamahiriya),Mu'ammar,al-Qadhafī,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,1969-01-01

In [17]:
executives_long_career=pd.concat([executives_by_terms,executives_by_reign])
executives_long_career

,person_nid,person_title,person_round,person_house,country_nid,country_title,person_firstname,person_lastname,person_firstname_local,person_lastname_local,...,person_office_service_began_3,prsn_office_srvc_bgn_cabi_3,person_office_terms_3,person_office_pm_participate_3,person_office_howmanydays_3,prsn_office_hwmnydys_miss_3,prsn_office_cnsttncy_nid_3,prsn_office_cnsttncy_title_3,terms,startReign
26216,43552,Mwai Kibaki,1,NaN,29323,Kenya,Mwai,Kibaki,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,42,2002-01-01
33789,69105,Nicolas Sarkozy,1,NaN,69010,France,Nicolas,Sarkozy,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,10,2007-01-01
37358,79309,Raimundo Pereira,1,NaN,78014,Guinea-Bissau,Raimundo,Pereira,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,10,2011-01-01
19009,24373,Dalia Grybauskaite,"1,2",NaN,22424,Lithuania,Dalia,Grybauskaite,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,5,2009-01-01
21664,24260,Benjamin Netanyahu,"1,2",NaN,24175,Israel,Benjamin,Netanyahu,NaN,NaN,...,2009-01-01,NaN,5,NaN,NaN,NaN,0,NaN,5,2009-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43655,137606,Rajkeswur (Kailash) Purryag,1,NaN,134516,Mauritius,Rajkeswur (Kailash),Purryag,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,2012-01-01
43656,137609,Navinchandra Ramgoolam,1,NaN,134516,Mauritius,Navinchandra,Ramgoolam,NaN,NaN,...,2010-01-01,NaN,2,NaN,NaN,NaN,0,NaN,2,2010-01-01
43689,136573,Laura Chinchilla Miranda,1,NaN,134537,Costa Rica,Laura,Chinchilla Miranda,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,2010-01-01
43812,134752,Ali Ben Bongo Ondimba,"1,2",NaN,134543,Gabon,Ali Ben,Bongo Ondimba,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,0,NaN,0,2009-01-01
44107,135400,Denis Sassou Nguesso,"1,2",NaN,134845,Congo,Denis,Sassou Nguesso,NaN,NaN,...,1997-01-01,NaN,2,NaN,NaN,NaN,0,NaN,2,1997-01-01

In [19]:
executives_long_career_without_dup=executives_long_career.drop_duplicates(subset="person_nid")

In [20]:
executives[executives["person_title"].str.contains("Assad")].to_csv("assad.csv")

In [22]:
executives_long_career_without_dup.to_csv("long_careers.csv",index=False)